<div id="communicator-list" class="mod-content communicatorlist">
    {{? it.type=='nearByAmenity'}}
        {{? it.name && it.results}}
            <div class="listhdng">Top {{= it.results.length }} {{=it.name}} Near by</div>
        {{?}}
        <ul class="neighboring-itemlist fornearby">
            {{~it.results :value:index}}
                <li data-index="{{=index}}"  data-type="{{=index}}" data-value="{{=value.id}}" data-name="{{=value.name}}" data-target="nearByAmenity" data-track-label="{{=value.name + '_' + (parseInt(index)+1)}}">
                    <span class="icon-wrap">
                        <i class="icon-restaurant"></i>
                    </span>
                    <span class="desc" title="{{=value.name}}">{{=value.name}}</span>
                    <span class="dist">{{=value.geoDistance}}</span>
                </li>
            {{~}}
        </ul>
    {{?? it.type=='customDirection'}}
        <ul class="neighboring-itemlist forcommute">
            {{~it.results :value:index}}
                <li class="{{= index == it.selectedIndex ? 'active' : '' }}"  data-index="{{=index}}" data-type="{{=index}}" data-value="{{=value.placeId}}" data-name="{{=value.description}}" data-target="customDirection" {{? value.source}} data-source="{{=value.source}}"{{?}} data-track-label="{{=value.description + '_' + (parseInt(index)+1)}}">
                    <span class="icon-wrap">
                        <i class="icon-restaurant"></i>
                    </span>
                    <span class="desc" title="{{=value.description}}">{{=value.description}}</span>
                    <span class="dist">{{=value.distance}}</span>
                </li>
            {{~}}
        </ul>
    {{?}}
</div>
