{{? it.show }}
<div class="mod-content">
    <div class="commute-tagName selected" data-type="commute">
        <span class="arrow">Find distance and directions from here</span>
    </div>

    	<div class="fc-wrap inputbox">
    		<i class="icon-search srchbtn2" data-type="search-button"><span class="path1"></span><span class="path2"></span></i>
    		<!-- <label>Get Directions From</label> -->
    		<input class="fc" id="customDirectionModule_searchText" type="text" placeholder="Get Directions From" data-type="searchText" />
    	</div>
    <div id="customDirectionModule_suggestions" data-type="suggestion_dropdown"></div>
</div>
{{?}}
