<ul class="suggestions-list">
{{~it.suggestions :value:index}}
    <li data-type={{=value.osm_id}} data-osm-type="{{=value.osm_type}}" data-track-label="{{=value.display_name + '_' + (parseInt(index)+1)}}" data-target="suggestion">
    	{{=value.display_name}}
    </li>
{{~}}
</ul>