{{##def.icons:
    {{? value.name =='restaurant'}}
        <span class="icon-rastaurants">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
        </span>
    {{?? value.name =='school'}}
        <span class="icon-school">
            <span class="path1"></span><span class="path2"></span>
        </span>
    {{?? value.name =='shopping_mall'}}
        <span class="icon-malls">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
        </span>
    {{?? value.name =='cinema'}}
        <span class="icon-cinema">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
        </span>
    {{?? value.name =='nightlife'}}
        <span class="icon-night-club">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
        </span>
    {{?? value.name =='pharmacies'}}
        <span class="icon-hospitals">
            <span class="path1"></span><span class="path2"></span>
        </span>
    {{?? value.name =='atm'}}
        <span class="icon-atm">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
        </span>
    {{?}}
#}}


<div class="mod-content">
    <button data-type="toggleHeatMap">Explore locality</button>
    {{? it.showHeatMapOptions }}
        <div class="hmoptions">
            {{~ it.heatMapTypes :value:index }}
            
                <span id="{{=value.id}}" data-type="{{=value.name}}" title="{{=value.label}}" class="heatmap-option" disabled="true">
                    {{#def.icons}}
                    <!--i class="icon-{{=value.icon || ''}}"></i></span-->
                </span>
            {{~}}
        </div>
        <span class="clse" data-type="closeHeatMap"><i class="icon-close"></i></span>
        <!--{{? it.showCityLevelOptions }}
            <button id="heatMap_livability" data-type="livability" disabled="true">Livability</button>
            <button id="heatMap_ppsqft" data-type="ppsqft" disabled="true">Price/sq.ft</button>
            <button id="heatMap_projects" data-type="projects" disabled="true">No. Projects</button>
        {{?}}-->
    {{?}}
</div>
