<div class="mod-content body_map">
	<div id="{{=it.mapModuleId}}" style="width:100%; height:100%; position:absolute;z-index:0">
	</div>
	<div id="{{=it.mapModuleId}}-mandatory-submodules">
		<div data-module="mapMarkersEvents"></div>
		<div class="zoom-wrap" data-module="zoomMapModule"></div>
		<div id="mapSvgTooltipPlaceholder" class="svg-info-bubble legend-tooltip" style="display:none"></div>
	</div>
</div>
