{{? it.showSvgLegends || it.disableMasterPlanButton}}
{{##def.masterPlanIcon:
    {{? value.id =='landusage_legend'}}
        <span class="icon-plot"></span>
    {{?? value.id =='train_legend'}}
        <span class="icon-train"></span>
    {{?? value.id =='roads_legend'}}
        <span class="icon-jogging-track">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span>
        </span>
    {{?? value.id =='drains_electric_legend'}}
        <span class="icon-area"></span>
    {{?}}
#}}
<div id="svgLegends">
    <div  class="svg-legend" style="display:none;">
       <div class="svg-header" data-type="legend-header">Legend<i class="icon-chevron-up"></i></div>
            {{~ it.legendsArray :value:parentIndex}}
            <div id="{{=value.id}}" class="svg-sub-item svg-sub-item-{{=parentIndex}}" style="display:none;" >
                <ul>
                    {{~ value.subLegends :subLegend:index }}
                    <li ><span class="label {{=subLegend.cls || ''}}"></span><span>{{=subLegend.name}}</span></li>
                    {{~}}
                </ul>
            </div>
            {{~}}
        </div>
    </div>

    {{? it.disableMasterPlanButton && !it.tabular }}
    <button  tooltip="Currently available for Noida, Bangalore and Pune" tooltip-placement="right">
         Master Plan
    </button>
    {{?? !it.tabular}}
    <button id="svgbtn" data-type="toggleSVgLegend" >
         Master Plan
     </button>
    {{?}}
    <div class="svgoptions {{= !it.toggleSvgLegendOpened && it.tabular ? 'hide' : ''}}">
        {{? !it.tabular }}
            {{~ it.legendsArray :value:index}}
                <span title="{{=value.label}}" class="optionitem {{=value.visible ? '' : 'hide'}} options-{{=index}}" data-type="optionClicked" data-index="{{=index}}">
                    {{#def.masterPlanIcon}}
                </span>
            {{~}}
        {{??}}
            {{~it.legendsArray : value:index}}
                <span class="optionitem {{=value.visible ? '' : 'hide'}} options-{{=index}}" data-type="optionClicked" data-index="{{=index}}"><span class="arrow">{{=value.label}}</span></span>
            {{~}}
        {{?}}
    </div>
    <div class="clse" data-type="closeMasterPlan"><i class="icon-close"></i></div>
</div>
{{?}}
