<div class="mod-content nearbyamenity-tabs">
    {{~it.amenities :value:index}}
        <span class="tabitem" data-type={{=value.name}} {{? value.count==0 }} disabled="true"{{?}}>
            <span class="arrow">{{=value.displayName}} <!--<span class="count">({{=value.count}})</span>--></span>
        </span>
    {{~}}
</div>
