<div class="common-top-line">
	<span class="total-count">{{=it.propertyCount}} MATCHING PROPERTIES</span>
	<span class="see-all" data-type="showMatchingProperties">See All <i class="icon-chevron-right"></i></span>
</div>

<div class="mp-wrap">
	<div class = "similarPropWrap">
		<div class="slider-wrap clearfix" data-module="slider"  data-window="similarProperties-slider" id="">
			<div class="sudowrap" id="similarProperties-slider">
				<ul data-type="list-container">
				{{~it.properties :value:index}}
					<li data-type="list-element">
						<a href="{{=value.resaleURL}}" class="link-list">
							<figure class="img-wrap"><img class="zoomin-img" data-src="{{=value.mainImageURL}}" alt="{{=value.altText}}" title="{{=value.title}}" itemprop="image" src="{{=value.mainImageURL}}"></figure>
							<div class="simidtls clearfix">
								<div class="price-wrap">
									<sup class="rupee">₹</sup><span class="val">{{=value.price}}</span> <span class="unit">{{=value.unit}}</span>
								</div>
								<div class="main-name" itemprop="item">
									<span class="type">
										{{? value.bhk != 0}}
				                                {{=value.bhk}}
				                                <span>{{?value.rk}} RK {{??}} BHK {{?}}</span>
		                                {{?}}
			                            {{? value.penthouse }} Penthouse {{?? value.studio }} Studio apartment {{??}} {{=value.propertyType}} {{?}}
			                            
			                            {{?value.projectName}} {{=value.projectName}} {{?}}
		                            </span>
									<!-- <span class="size">925 sq ft</span> -->
								</div>
								<div class="main-name" itemprop="item"></div>
								<div class="othr-info">
									<span class="loc"> {{=value.localityName}}, </span>
									<span class="loc">{{=value.cityName}}</span>
								</div>
							</div>
						</a>
					</li>
					{{~}}
				</ul>
			</div>
			<div class="btn-prev hide1024nbelow js-prev disable" data-type="back-btn"><i class="icon-chevron-left"></i></div>
	        <div class="btn-next hide1024nbelow js-next disable" data-type="next-btn"><i class="icon-chevron-right"></i></div>
		</div>
	</div>
</div>