.hl-screen-container {
    &.bank-screen {
        margin-bottom:0px;
        .bankLogo {
            max-width: 100px;
        }
        table {
            margin: 0 auto;
            width: 100%;
            text-align: center;
            overflow: hidden;
            thead {
                display: none;
            }
            tbody {
                tr:nth-child(even) {
                    background-color: #fbfbfb;
                }
                tr {
                    height: 75px;
                    &:hover {
                        background-color: rgba(238, 238, 238, .5);
                    }
                    .rupee-icon {
                        font-size: 15px;
                    }
                    td {
                        padding: 10px;
                        //width: 25%;
                        vertical-align: middle;
                        font-size: 14px;
                        .txt {
                            display: inline-block;
                        }
                    }
                }
            }
            tfoot {
                display: none;
            }
        }
        .bank-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-bank.png');
            height: 158px;
        }
        .screen-content {}
    }
    .bank-list-wrap {
        margin: 30px auto;
        max-width: 90%;
        .bank-list {
            margin-bottom: 30px;
        }
        .bank-spec {
            margin-bottom: 10px;
        }
        .bank-image {
            display: inline-block;
            background-color: #eee;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            vertical-align: middle;
            img {}
        }
        .bank-name {
            display: inline-block;
            margin-left: 15px;
            width: calc(100% - 118px);
            vertical-align: middle;
            font-size: 16px;
        }
        .bank-check {
            display: inline-block;
            label {
                margin-left: 0px;
                height: 100%;
                width: 100%;
                .txt {
                    display: inline-block;
                }
            }
        }
        .view-all-banks {
            margin: 30px 0px;
            .bank-check {
                float: right;
            }
        }
        .select-bank-title {
            display: inline-block;
            position: relative;
            font-size: 18px;
            color: #222;
            vertical-align: middle;
            >span {
                position: absolute;
                bottom: -10px;
                font-size: 12px;
                color: #666;
            }
        }
    }
    @media screen and (min-width: 800px) {
        .bank-list-wrap {
            max-width: 92%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.bank-screen {
            .bank-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-bank.png');
                height: 270px;
                background-size: 67%;
                background-position-y: 75%;
            }
        }
    }
}
