.hl-screen-container {
    &.emiel-screen {
        .emiel-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-pocket.png');
            height: 158px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.emiel-screen {
            .emiel-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-pocket.png');
            }
        }
    }
}
