.hl-screen-container {
    &.emicalc-screen {
        .emicalc-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-notes.png');
            height: 158px;
        }
        .screen-content{
        	margin-top: 40px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.emicalc-screen {
            .emicalc-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-notes.png');
            }
        }
    }
}
