.hl-screen-container {
    &.income-screen {
        .income-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-notes.png');
            height: 200px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.income-screen {
            .income-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-notes.png');
            }
        }
    }
}
