.hl-screen-container {
    &.landing-screen {
        .landing-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-dash.png');
            height: 158px;
        }
        .sec-list {
            width: 90%;
            margin: 0 auto;
            height: 500px
        }
        .hl-section {
            margin-bottom: 20px;
        }
        .sec-title {
            margin-bottom: 5px;
            font-size: 14px;
        }
        .sec-options {
            border-top: solid 1px #d8d8d8;
            .sec-option {
                position: relative;
                padding: 6px 6px 6px 0px;
                margin: 5px 0px;
                .option-txt {
                    display: inline-block;
                    width: 90%;
                    font-size: 18px;
                    color: #444;
                }
                .hl-arrow-wrap {}
            }
        }
        .screen-action {
            .hl-steps {
                display: none;
            }
        }
    }
}
