.hl-screen-container {
    &.login-screen {
        .login-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-login.png');
            height: 175px;
        }
        .social-login-btn {
            margin: 10px auto;
            border-radius: 35px;
            height: 45px;
            width: 218px;
            cursor: pointer;
            &.linkedin {
                background-color: #14a3dd;
            }
            &.fb {
                background-color: #3b5999;
            }
            &.gplus {
                background-color: #dd4b39;
            }
            .social-icon {
                position: relative;
                display: inline-block;
                margin: 1px;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                background-color: #fff;
                width: 45px;
                height: 96%;
                font-size: 26px;
                vertical-align: middle;
                [class^="icon-"],
                [class*=" icon-"] {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .social-name {
                display: inline-block;
                width: calc(100% - 55px);
                text-align: center;
                vertical-align: middle;
                font-size: 16px;
                color: #fff;
            }
            .social-txt {}
        }
        .continue {
            text-align: center;
            margin-top: 30px;
            .link-txt {
                padding: 5px;
                color: #e81c28;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.login-screen {
            .login-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-login.png');
                height: 230px;
            }
        }
    }
}
