.hl-screen-container {
    &.otp-screen {
        .otp-img {
            background-image: url(/images/homeloanDash/mobile/hl-otp.png);
            height: 130px;
            background-size: contain;
        }
        .otp-wrap {
            padding: 0px;
            background: none;
            border: none;
            .otp-image {
                margin: 0px;
            }
            .contact {
                margin: 0px;
            }
            .verification-wrap {
                border: none;
                padding: 0px;
                .verification-code-value {
                    margin: 10px auto;
                    &:after {
                    }
                    input{
                
                    }
                }
                i.icon-tick {
                    margin: 0px;
                }
            }
        }
    }
}
@media screen and (min-width: 769px) {
    .hl-screen-container {
        &.otp-screen {
            .otp-img {
                height: 150px;
                background-image: url(/images/homeloanDash/desktop/hl-otp.png);
            }
        }
    }
}
