.hl-screen-container {
    &.price-screen {
        .price-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-property.png');
            height: 110px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.price-screen {
            .price-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-property.png');
                height: 270px;
                background-size: 67%;
                background-position-y: 100%;
            }
        }
    }
}
