.hl-screen-container {
    &.project-screen {
        .project-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-pocket.png');
            height: 110px;
        }
        .fc-wrap.selectbox.open .select-dropdown {
            max-height: 100px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.project-screen {
            .project-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-pocket.png');
                background-size: 67%;
                background-position-y: 100%;
                height: 270px;
            }
        }
    }
}
