.hl-screen-container {
    &.summary-screen {
        .country-dd {
            // margin-top: 25px !important;
            width: 30%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            float: left;
        }
        .cityOverhead {
            margin-top: 30px;
        }
        .form-row {
            >.fc-wrap {
                &.mobile-wrap {
                    margin-bottom: 0px;
                }
            }
        }
        .fc-wrap {
            width: 100%;
            .fc {
                border-bottom: 1px solid #cccccc;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-bottom: 4px;
                label{
                    font-size: 12px;
                    top: -2px;
                    text-transform: capitalize;
                }
                i {
                    font-size: 9px;
                    right: 2px;
                    top: 19px;
                }
            }
            .select-dropdown {
                max-height: 185px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }

        .country-code-contact {
            width: 56%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            float: right;
            .countryCode {
                padding-left: 5px;
                padding-right: 5px;
                position: absolute; 
                left: -2px;
                bottom: 3px;
                width: 38px;
                color: #666;
                font-size: 1em;
            }
            label {
                left: 35px;
                top: 5px;
            }
            .error-msg{
                bottom: -20px;
            }
            .input-box {
                margin-top: 10px;
                &.active {
                    label {
                        left: 0;
                        top: -10px;
                    }
                }
            }
        }
        .date-input {}
        .typeAhead-hl {
            max-width: 100%;
        }
        .input-box {
            margin-top: 10px;
            
            input {
                z-index: 1;
            }
        }
    }
}
