.hl-screen-container {
    &.thankyou-screen {
        .thankyou-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-dash.png');
            height: 158px;
        }
        .screen-content {
            text-align: center;
        }
        .thank-wrap {
            margin-top: 20px;
            padding-top: 50px;
            .thank-text {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: -65px;
                    left: 50%;
                    height: 30px;
                    width: 12px;
                    border-bottom: solid 1px;
                    border-right: solid 1px;
                    border-color: #7ed31e;
                    transform: translateX(-50%) rotate(45deg);
                }
            }
        }
        .hl-btn {
            margin: 30px auto 10px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.thankyou-screen {
            .thankyou-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-dash.png');
            }
        }
    }
}
