.hl-screen-container {
    &.tracking-screen {
        .tracking-img {
            background-image: url($imgPath+'/homeloanDash/mobile/hl-dash.png');
            height: 158px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .hl-screen-container {
        &.tracking-screen {
            .tracking-img {
                background-image: url($imgPath+'/homeloanDash/desktop/hl-dash.png');
            }
        }
    }
}
