<div class="fc-wrap">
	{{~it.options :option:index}}
		{{? !option.listingType || it.pageListingType && it.pageListingType == option.listingType}}
			 <label for="{{=it.name}}{{=index}}-{{=it.moduleId}}" class="checkboxlbl js-{{=option.value}}">
			{{?it.selectedValue && (it.selectedValue.indexOf(option.value) > -1 || it.selectedValue.indexOf(option.alternateValue) > -1)}}
				<input id="{{=it.name}}{{=index}}-{{=it.moduleId}}" checked data-type="multiple-select-option" type="checkbox" data-value="{{=option.value}}" data-name="{{=it.name}}" name="{{=it.name}}" value="{{=option.value}}" data-label="{{=option.label || ''}}">
			{{??}}
	            <input id="{{=it.name}}{{=index}}-{{=it.moduleId}}" data-type="multiple-select-option" type="checkbox" data-value="{{=option.value}}" data-name="{{=it.name}}" name="{{=it.name}}" value="{{=option.value}}" data-label="{{=option.label || ''}}">
			{{?}}
			<span class="txt">{{=option.label || ''}}</span>
			</label>
		{{?}}
	{{~}}
</div>
