<div class="fc-wrap">
    {{~it.options :option:index}}
    <label for="{{=it.name}}{{=index}}-{{=it.moduleId}}" class="multiselectlbl">
        <input id="{{=it.name}}{{=index}}-{{=it.moduleId}}" type="checkbox" data-type="multiple-select-option" data-value="{{=option.value}}" data-name="{{=it.name}}" name="{{=it.name}}" value="{{=option.value}}" {{? it.mCards }} data-mcards="true"{{?}} {{?it.selectedValue && it.selectedValue.indexOf(option.value)> -1}}checked{{?}}> 

        {{? !it.mCards}}
        <span class="boxoption">
            <span class="val">
                {{=option.label}} {{=option.text || ''}}
            </span>
            <span class="optional-txt"></span>
            <span class="checked">
                <i class="icon-tick"></i>
            </span>
        </span>
        {{??}}
        <span class="filter-btn" data-type="filter-btn">
            <span class="val">{{=option.label}} 
                {{? !option.hideOptional}}<span class="optional-txt">{{=option.text || ''}}</span>{{?}}
            </span>
            <span class="bot-text">{{=option.text || ''}}</span>
            <span class="btn-image rhs-{{=option.value}}"></span>
        </span>
        {{?}}
    </label>
    {{~}} {{?it.applyrequired}}
    <div class="cbtn cbtn-p" data-name="{{=it.name}}" data-type="apply-filters">Apply</div>
    {{?}}
</div>
