<div class="leadenquiry-container step1 home-loan-lead clearfix" data-type="step1">
    <div class="lead-heading clearfix">
        <div data-type="closePopup" class="close-popup"> <i class="icon-close"></i> </div>
    </div>
    <div class="le-content">
        <div class="second-pane">
            <div class="le-title">{{=it.displayData.formTitle || ''}}</div>
            <div class="form-row">
                    <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
                    <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd js-countries">
                        <script type="text/x-config">
                            {
                                "templateFromPromise": true,
                                "defaultValue": "{{=it.postData.countryId || ''}}"
                            }
                        </script>
                    </div>
                    <div class="fc-wrap inputbox country-code-contact clearfix">
                        <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD">--</span>
                        <div data-module="InputBox" >
                            <script type="text/x-config">
                                {
                                    "label": "Mobile",
                                    "inputName":"client-phone-num",
                                    "value": "{{=it.postData.phone || ''}}",
                                    "textIndent":"42px",
                                    "type":"number",
                                    "maxlength":14,
                                    "required": true
                                }
                            </script>
                            <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                            <div class="error-msg" data-message="PHONE"></div>
                        </div>
                    </div>
                <div class="fc-wrap inputbox full-width clearfix">
                    <div data-module="InputBox" >
                        <script type="text/x-config">
                            {
                                "label": "name",
                                "inputName":"client-phone-name",
                                "value": "{{=it.postData.name || ''}}",
                                "type":"text",
                                "maxlength":50
                             }
                        </script>
                        <div class="js-input-placeholder" data-type="NAME_FIELD"></div>
                        <div class="error-msg" data-message="NAME"></div>
                    </div>
                </div>
                <div class="fc-wrap inputbox full-width clearfix">
                    <div data-module="InputBox" >
                        <script type="text/x-config">
                            {
                                "label": "email",
                                "inputName":"client-phone-email",
                                "value": "{{=it.postData.email || ''}}",
                                "type":"text",
                                "maxlength":50
                            }
                        </script>
                        <div class="js-input-placeholder" data-type="VALID_EMAIL"></div>
                        <div class="error-msg" data-message="EMAIL"></div>
                    </div>
                </div>
            </div>
            {{?it.displayData.showOptInBox}}
            <div class="note-txt">
                * We respect your privacy
            </div>
            <div class="chkbox-wrap">
                <label for="othr-sllr-check" class="checkboxlbl">
                    <input id="othr-sllr-check" data-type="BUYER_OPT_IN" type="checkbox" value="other-seller-check" {{? it.displayData.optInCheckedStatus}} checked="" {{?}} />
                    <span class="txt">
                        Allow matching sellers to reach out
                    </span>
                </label>
                <span class="tooltip-wrap">
                    <a class="infoo" title="">?</a>
                    <span class="mp-tooltip top">
                        Makaan as a platform is focused on ensuring buyers are able to connect with the right sellers assisting them on their way to their dream home.<br><br>By selection this option, we will connect you with the right sellers basis your requirements using our real time tracking engine
                    </span>
                </span>
            </div>
            {{?}}
            
        </div>
    </div>
    <div class="btn-wrap">
        <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone,VALID_EMAIL,VALID_NAME" data-navigation-step="MAIN"><span data-normal>Submit</span><span data-processing class="hide">Processing...</span></a>
        <span class="show-error" data-message="GLOBAL"></span>
    </div>
</div>
