<div class="leadenquiry-container home-loan-lead step2 clearfix" data-type="step2">
    <div class="lead-heading clearfix">
        <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
        <div data-type="closePopup" class="close-popup">
            <i class="icon-close"></i>
        </div>
    </div>

    <div class="le-content">
        <div class="otp-pane">
            <div class="otp-image clearfix">
                <img class="img-otp" alt="icon for OTP" src="/images/lead-otp.png" />
                <div class="txt"><span class="uppercase">OTP</span> has been sent to <span data-type="number_from_first_form">{{=it.postData.phone||''}}<span></div>
            </div>
            <div class="verification-wrap">
                <div class="verfication-code" data-type="OTP_FIELD">
                    <div class="fc-wrap verification-code-value clearfix">
                        <input maxlength="4" type="tel" name="otp-lead"/>
                        <div class="error-msg otp-error" data-message="OTP"></div>
                    </div>
                </div>
                <div class="clearfix hide"><i class="icon-tick"></i> </div>
            </div>
            <div class="resetbtn-wrap">
                <a class="txtlink" data-type="OTP_ONCALL">Receive OTP on call</a>
                <a class="txtlink resendtxt" data-type="OTP_RESEND">Resend?</a>
            </div>
        </div>
        <div class="btn-wrap">
            <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="otp" data-navigation-step="OTP"><span data-normal>Verify</span><span data-processing class="hide">Processing...</span></a>
            <span class="show-error" data-message="GLOBAL"></span>
        </div>
    </div>
</div>
