<div class="step-1" data-type="step1"  >
    {{? it.displayData.listingPresent }}
        <div class="title">
            Connect with top sellers
            <span class="highlight">In just a click</span>
            <div class="loc">{{=it.displayData.displayAreaLabel}}</div>
        </div>
        <div class="row-wrap clearfix">
            <div class="seller-col">
                <div class="seller-list" data-type="seller-list">
                </div>
            </div>
            <div class="form-col">
                <div class="form-row" data-type="first-form">
                    <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
                    <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd js-countries">
                        <script type="text/x-config">
                        {"templateFromPromise": true, "defaultValue":{{=it.postData.countryId}}, "error":"" }
                        </script>
                    </div>
                    <div class="fc-wrap inputbox country-code-contact withouticon clearfix">
                        <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD">--</span>
                        <div data-module="InputBox" >
                            <script type="text/x-config">
                            {"label": "Mobile", "inputName":"client-phone-num","value":"{{=it.postData.phone ||''}}","textIndent":"42px","type":"number","maxlength":14}
                            </script>
                            <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                            <div class="error-msg" data-message="PHONE"></div>
                        </div>
                    </div>
                    {{?it.displayData.showOptInBox}}
                    <div class="chkbox-wrap">
                        <label for="othr-sllr-check" class="checkboxlbl">
                            <input id="othr-sllr-check" data-type="BUYER_OPT_IN" type="checkbox" data-value="other-seller-check" value="other-seller-check" {{? it.displayData.optInCheckedStatus}} checked="" {{?}} />
                            <span class="txt">
                                Allow matching sellers to reach out 
                            </span>
                        </label>
                        <span class="tooltip-wrap">
                            <a class="infoo" title="">?</a>
                            <span class="mp-tooltip top">
                                Makaan as a platform is focused on ensuring buyers are able to connect with the right sellers assisting them on their way to their dream home.<br><br>By selection this option, we will connect you with the right sellers basis your requirements using our real time tracking engine
                            </span>
                        </span>
                    </div>
                    {{?}}
                </div>
            </div>
        </div>
        <div class="btn-wrap">
            <!-- <a class="txtlink" data-type="MAIN_VIEW_PHONE">view phone no.</a> -->
            <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone" data-navigation-step="MAIN"><span data-normal>Contact top sellers</span><span data-processing class="hide">Processing...</span></a>
            <span class="show-error" data-message="GLOBAL"></span>
        </div>
    {{??}}
        <div class="hdng">Looking for something specific</div>
        <div class="slogan">Get in touch with us</div>
        <div class="row-wrap clearfix">
            <div class="seller-col">
                <div class="img-wrap ta-c">
                    <img alt="" data-src="/images/pyr-house.png" />
                </div>
            </div>
            <div class="form-col">
                <div class="form-row" data-type="first-form">
                    <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
                    <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd js-countries">
                        <script type="text/x-config">
                        {"templateFromPromise": true, "defaultValue":{{=it.postData.countryId}}, "error":"" }
                        </script>
                    </div>
                    <div class="fc-wrap inputbox country-code-contact withouticon clearfix">
                        <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD">--</span>
                        <div data-module="InputBox" >
                            <script type="text/x-config">
                            {"label": "Mobile", "inputName":"client-phone-num","value":"{{=it.postData.phone ||''}}","textIndent":"42px","type":"number","maxlength":14}
                            </script>
                            <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                            <div class="error-msg" data-message="PHONE"></div>
                        </div>
                    </div>
                </div>
                {{?it.displayData.showOptInBox}}
                <div class="chkbox-wrap">
                    <label for="othr-sllr-check" class="checkboxlbl">
                        <input id="othr-sllr-check" data-type="BUYER_OPT_IN" type="checkbox" data-value="other-seller-check" value="other-seller-check" {{? it.displayData.optInCheckedStatus}} checked="" {{?}} />
                        <span class="txt">
                            Allow matching sellers to reach out 
                        </span>
                    </label>
                    <span class="tooltip-wrap">
                        <a class="infoo" title="">?</a>
                        <span class="mp-tooltip top">
                            Makaan as a platform is focused on ensuring buyers are able to connect with the right sellers assisting them on their way to their dream home.<br><br>By selection this option, we will connect you with the right sellers basis your requirements using our real time tracking engine
                        </span>
                    </span>
                </div>
                {{?}}
            </div>
        </div>
        <div class="btn-wrap" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone" data-navigation-step="MAIN">
            <a class="cbtn cbtn-p">Contact top sellers</a>
        </div>
    {{?}}
</div>
