<div class="step-2" data-type="step2">
    <div class="title">
        Connect with top sellers
        <span class="highlight">In just a click</span>
        <div class="loc">{{=it.displayData.displayAreaLabel}}</div>
    </div>
    <div class="otp-topseller-pane js-second-step-pyr-otp" data-type="second_form">
        <div data-type="BACK" class="backbutton">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
        <div class="otp-pane-row clearfix">
            <div class="userdtls-col">
                <div data-module="InputBox"  class="fc-wrap">
                    <script type="text/x-config">
                    {"label": "Name", "inputName":"client-name","value":"{{=it.postData.name || '' }}", "maxlength":50}
                    </script>
                    <div class="js-input-placeholder" data-type="NAME_FIELD"></div>
                    <div class="error-msg" data-message="NAME"></div>
                </div>
                <div data-module="InputBox"  class="fc-wrap">
                    <script type="text/x-config">
                    {"label": "Email", "inputName":"client-email","value":"{{=it.postData.email || '' }}", "maxlength":50}
                    </script>
                    <div class="js-input-placeholder" data-type="EMAIL_FIELD"></div>
                    <div class="error-msg" data-message="EMAIL"></div>
                </div>
            </div>
            <div class="otp-pane-col">
                <div class="verification-wrap">
                    <div class="verfication-code" data-type="OTP_FIELD">
                        <div class="otp-sent-statement"><span class="uppercase">OTP</span> has been sent to <span data-type="number_from_first_form">{{=it.postData.phone ||''}}<span></div>
                        <div class="otp-request">Enter <span class="uppercase">OTP</span></div>
                        <div class="fc-wrap otp-code-value clearfix">
                            <input maxlength="4" type="tel" name="OTP"/>
                            <div class="error-msg otp-error" data-message="OTP"></div>
                        </div>
                    </div>
                </div>
                <div class="resetbtn-wrap">
                    <a class="txtlink" data-type="OTP_ONCALL">Receive OTP on call</a>
                    <a class="txtlink resendtxt" data-type="OTP_RESEND">Resend</a>
                </div>
            </div>
        </div>
        <div class="btn-wrap">
            <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="otp,name,email" data-navigation-step="OTP"><span data-normal>Submit</span><span data-processing class="hide">Processing...</span></a>
            <span class="show-error" data-message="GLOBAL"></span>
        </div>
    </div>
</div>
