{{~it :value:index}}
    {{?value.active}}
    <div class="sellerbox active" data-type="seller-card" data-userId={{=value.userId}} data-phoneNo={{=value.contact}}>
    {{??}}
    <div class="sellerbox" data-type="seller-card" data-type="seller-card" data-userId={{=value.userId}} data-phoneNo={{=value.contact}}>
    {{?}}
        <div class="sibox-wrap">
            {{?value.image}}
            <div class="seller-img-box dummy-agent-bground" style="background-image:url({{=value.image}}); background-color: {{=value.backgroudColor}}"></div>
            {{??}}
            <div class="seller-img-box" style="background-color: {{=value.avatarDetails.backgroundColor}}">
                <span class="initial" style="color:{{=value.avatarDetails.textColor}};">{{=value.avatarDetails.text}}</span>
            </div>
            {{?}}
        </div>
        <div class="seller-dtl">
            <div class="leagalname">
                {{=value.name}}
                <span class="seller-type">{{?value.type && value.type.toLowerCase()=="broker"}}agent{{??}}{{=value.type}}{{?}}</span>
                <div class="rating" if="value.properties" data-module="sellerRating"  data-sellerRating="{{=value.rating}}"></div>
            </div>
            <div class="match-count">{{=value.properties}} Matching properties</div>
        </div>
    </div>
{{~}}
