<div class="step-3" data-type="step3">
    {{? it.displayData.listingPresent }}
        <div class="thank-pane">
            <div class="le-title">Thank you <span class="username" data-type="username"></span></div>
        </div>
        <div class="second-pane">
            <div class="journey-img-wrap"><span class="bgimg"></span></div>
            <div class="le-title">You will shortly receive a call from top sellers</div>
            <div class="thank-txt">
                <a href="/" class="link">Makaan.com</a> connects you with top sellers in the preferred locality
            </div>
        </div>
    {{??}}
        <div class="thank-pane">
            <div class="le-title">Thank you <span class="username" data-type="username"></span></div>
        </div>
        <div class="second-pane">
            <div class="journey-img-wrap"><span class="bgimg"></span></div>
            <div class="le-title">Our experts will call you shortly</div>
            <div class="thank-txt">
                Our real estate expert will connect you with the top sellers in your desired locality to help you find your dream home
            </div>
        </div>
    {{?}}

    {{? it.isBuyLead}}
        <div class="btn-wrap">
            <a class="cbtn cbtn-p" data-type="homeloan_apply"><span data-normal>Apply homeloan</span></a>
        </div>
        <!-- <div class="btn-wrap">
            <a class="cbtn cbtn-p" data-type="CONTINUE_SEARCH"><span data-normal>Continue Search</span></a>
        </div> -->
    {{?}}
</div>