{{##def.icons:
{{? it.iconName =='school'}}
    <i class="icon-school">
        <span class="path1"></span><span class="path2"></span>
    </i>
{{?? it.iconName =='restaurant'}}
    <i class="icon-rastaurants">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
    </i>
{{?? it.iconName =='hospital'}}
    <i class="icon-hospitals">
        <span class="path1"></span><span class="path2"></span>
    </i>
{{?? it.iconName =='atm'}}
    <i class="icon-atm">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
    </i>
{{?? it.iconName =='shopping_mall'}}
    <i class="icon-malls">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
    </i>
{{?? it.iconName =='cinema'}}
    <i class="icon-cinema">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
    </i>
{{?? it.iconName =='night_life'}}
    <i class="icon-night-club">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
    </i>
{{?}}
#}}

<div id="{{=it.id}}" class="amenity_marker" data-target="nearByAmenity" data-id="{{=it.id}}" data-index="{{=it.index}}">
    {{#def.icons}}
    <!--i class="icon-{{=it.iconName}}" data-amenitytype="{{=it.amenityType}}"></i-->
    <div class="on-hov">
        <span class="name" title="{{=it.name}}">{{=it.name}}</span>
        <div class="waiting">
            <span class="dstnc_wrap">
                <i class="icon-jogging-track"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i> <i class="icon-gps ispinner"></i>
            </span>
            <span class="time_car_wrap">
                <i class="icon-bus"></i> <i class="icon-gps ispinner"></i>
            </span>
        </div>
    </div>
</div>