<div id="{{=it.id}}" class="commute_landmark_marker st-h">
    <i class="icon-mapmarker"></i>
    <div class="on-hov">
        <span class="name" title="{{=it.name}}">{{=it.name}}</span>
        <div class="waiting">
            <span class="dstnc_wrap" data-selector="commuteDistance">
                <i class="icon-jogging-track"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i> <i class="icon-gps ispinner"></i>
            </span>
            <span class="time_car_wrap" data-selector="commuteDuration">
                <i class="icon-bus"></i> <i class="icon-gps ispinner"></i>
            </span>
        </div>
    </div>
</div>
