<div id="{{=it.id}}" class="listing_marker {{=it.classes}}">
    <div class="val-wrap">
        <i class="icon-rupee currency"></i> {{=it.priceValue}} {{=it.priceValueUnit}}
        <i class="icon-makaanfill"></i>
    </div>
    <div class="list-info-wrap">
        <div class="img-col">
        <img alt="" src="{{=it.imageUrl}}" />
        </div>
        <div class="desc-col">
            <div class="list-price">
                <i class="icon-rupee currency"></i> {{=it.priceValue}} {{=it.priceValueUnit}}
            </div>
            <div class="list-bhk">{{=it.bhkInfo}} {{=it.propertyType}}</div>
            <div class="list-size">{{=it.sizeInfo}}</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
