<div class="nearloc_marker nearloc_marker_js" id="nearbyloc_marker_{{=it.localityId}}">
    <i class="icon-mapmarker"></i>

    <div class="on-hov {{? !it.listingCountRent && !it.listingCountBuy}}nodata{{?}}">
        <span class="name" title="{{=it.label}}">{{=it.label}}</span>
        <div class="waiting">
            <div class="link-wrap">
                {{? it.listingCountBuy}}
                <a class="link" title="buy listing" href="{{=it.buyUrl}}" data-type="serp-link">{{=it.listingCountBuy}} listings to buy </a>
                {{?}}
            </div>
            <div class="link-wrap">
                {{? it.listingCountRent}}
                <a class="link" title="rent listing" href="{{=it.rentUrl}}" data-type="serp-link">{{=it.listingCountRent}} listings for rent</a>
                {{?}}
            </div>
        </div>
    </div>
</div>
