    <div class="pc-container">
        <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
        <div id="ask-question-country" data-module="singleSelectDropdown" data-type="countries">
            <script type="text/x-config">
                    {"templateFromPromise": true, "defaultValue": 1 }
                </script>
        </div>

        <div class="fc-wrap inputbox country-code-contact clearfix">
            <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD">--</span>

            <div data-module="InputBox" id="ask-cust-phone">
                <script type="text/x-config">
                        {"label": "Mobile", "inputName":"ask-cust-phone","value":"","textIndent":"42px","type":"number","maxlength":14}
                    </script>
                <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                <div class="error-msg" data-message="PHONE"></div>
            </div>
        </div>
    </div>

    <div class="btn-wrap">
        <a class="cbtn" data-type="submit_question">
            <span data-normal>Submit your question</span>
            <span data-processing class="hide">Processing...</span>
        </a>
        <span class="show-error"></span>
    </div>