<div class="">
    <p class="succsess-error-msg js-succsess-error-msg"></p>
    <div class="login-input-box">
        <label>New Password</label>
        <input label="newPassword" type="password" name="newpassword" id="newpassword" value="" />
        <p class="js-errorMessage">Please set new password</p>
    </div>
    <div class="login-input-box">
        <label>Confirm Password</label>
        <input label="confirmPassword" type="password" name="confirmpassword" id="confirmpassword" value="" />
        <p class="js-errorMessage">Confirm Password</p>
    </div>
    <div data-type="reset-submit" class="login-btn-style">Reset password</div>
</div>
