{{? it.isConfiguration}}
<div class='icon {{=it.className}}'></div>
<div class='lbl'>{{=it.text}}</div>
{{??}}
<span class='explore-3d'>
    <span class='loader-img {{=it.className}}'></span>
    <span class='loaded-state-prompt'>{{=it.text}}</span>
</span>
{{?}}
