{{? it.backButton }}
<span data-type="change-phone-back" class="back-btn">
    <i class="icon-back-arrow">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
    </i>
</span>
{{?}}
<div class="login-makaan-logo hidden-lg hidden-md">
    <a href="#"><img src="/images/login-makaan-logo.png" height="31" alt="makaan logo"></a>
</div>
<div class="upper-content-box">
    <p id="user-data" class="main-text">
        <span class="{{=it.jsdummyimg}}">
            <i class="icon-sprite profile-icon"></i>
        </span>
        <img src="{{=it.profileImg}}" class="profile-img {{=it.jsprofileimg}}"/>
        {{=it.name}}
        <span id="email">{{=it.email}}</span>
    </p>
</div>
<div class="mian-field-box">
    <div class="login-input-box">
        <label>Mobile</label>
        <input class="js-number" id="contact-number" type="text" data-type="number" />
        <p>Enter valid mobile number</p>
    </div>
    <p class="success-error-msg  hide"></p>
    <div data-type="send-otp" class="login-btn-style max-width150">Send OTP</div>
</div>
