<span data-type="backOTP" class="back-btn">
    <i class="icon-back-arrow">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
    </i>
</span>
<div class="login-makaan-logo hidden-lg hidden-md">
    <a href="#"><img src="/images/login-makaan-logo.png" height="31" alt="makaan logo"></a>
</div>
<div class="upper-content-box">
    <p id="user-details-text" class="main-text">
        <span class="{{=it.jsdummyimg}}">
            <i class="icon-sprite profile-icon"></i>
        </span>
        <img src="{{=it.profileImg}}" class="profile-img {{=it.jsprofileimg}}"/>
        {{=it.name}}
        <span id="email-text">{{=it.email}}</span>
        <span id="contact-number">{{=it.phone}}</span>
    </p>
</div>
<div class="mian-field-box otp">
    <p class="main-text">OTP Verification</p>
    <ul class="otp-code">
        <li><input class="js-number" type="text" maxlength="1" data-type="validateOTP" title="Validate OTP" /></li>
        <li><input class="js-number" type="text" maxlength="1" data-type="validateOTP" title="Validate OTP" /></li>
        <li><input class="js-number" type="text" maxlength="1" data-type="validateOTP" title="Validate OTP" /></li>
        <li><input class="js-number" type="text" maxlength="1" data-type="validateOTP" title="Validate OTP" /></li>
    </ul>
    <p class="success-error-msg hide">Wrong OTP</p>
    <div class="otp-success hide">Thanks for validating.</div>
    <p data-type="validate-otp" class="main-text"><i class="icon icon-check fs22"></i></p>
    <div class="get-otp-box">
        <span data-type="resend-otp-on-call" class="r-otp call-otp-view">Receive OTP on call</span>
        <span class="call-otp-view">|</span>
        <span data-type="resend-otp" class="r-otp">Resend ?</span>
    </div>
</div>
