@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.center-middle {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) !important;
    -o-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
}

.proptiger-chat-wrapper .title {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
}

.hide-status {
  display: none;
}

.proptiger-chat-wrapper {
  font-family: 'Alegreya Sans';
  width: 320px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  bottom: 0px;
  right: 20px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.proptiger-chat-wrapper .inner {
  overflow: scroll;
  height: 280px;
  padding-top: 64px;
  background: #f2f2f2;
}
.proptiger-chat-wrapper .inner::-webkit-scrollbar {
  width: 0;
}
.proptiger-chat-wrapper .inner .content {
  padding: 10.66667px;
  position: relative;
  margin-bottom: 32px;
}

.proptiger-chat-wrapper .nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
}
.proptiger-chat-wrapper .nav .default-nav {
  height: 64px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 110;
  background-color: #F7941E;
  border-bottom: 3px solid #f78007;
  color: #ffffff;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
  -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.proptiger-chat-wrapper .nav .default-nav .main-nav {
  position: absolute;
  left: 0;
  width: 100%;
  height: 64px;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.proptiger-chat-wrapper .nav .default-nav .main-nav.back{
  background-color: #F7941E;  
  -webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
}

.proptiger-chat-wrapper .nav .default-nav.flipped {
    -webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
}

.proptiger-chat-wrapper .nav .default-nav.flipped .front{
   display: none!important;
}

.proptiger-chat-wrapper .nav .default-nav #microphone-wave{
    height: 32px;
    width: 208px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: -33px;
    font-size: 19px;
    text-align: center;
    padding-top: 3px;
    left: 13px;
}

.proptiger-chat-wrapper .nav .default-nav .main-nav .toggle:hover {
  cursor: pointer;
}
.proptiger-chat-wrapper .nav .default-nav .main-nav .options {
    height: 32px;
    width: 32px;
    background-size: contain;
    margin: 16px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    top: 8px;
    display: none;
}

.proptiger-chat-wrapper .nav .default-nav .main-nav .options:hover {
  cursor: pointer;
}
.proptiger-chat-wrapper .nav .default-nav .main-nav .main-nav-item {
  float: left;
  height: 64px;
  margin-right: 50px;
  position: relative;
  line-height: 64px;
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
}
.proptiger-chat-wrapper .nav .default-nav .main-nav .main-nav-item .main-nav-item-link {
  display: block;
  position: relative;
  height: 64px;
  width: 100%;
  text-align: center;
  line-height: 64px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
  margin-left: 16px;
}

.proptiger-chat-wrapper .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #ffffff;
  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
}
.proptiger-chat-wrapper .bottom .input {
  height: 64px;
  background: #ffffff;
  border: none;
  width: calc(100% - 64px);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5%;
  resize: none;
  overflow: scroll;
  padding-top: 24px;
  font-weight: 300;
  font-size: 13px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  font-family: 'Alegreya Sans';
}
.proptiger-chat-wrapper .bottom .input:focus {
  outline: none;
}
.proptiger-chat-wrapper .bottom .input::-webkit-scrollbar {
  width: 0;
}
.proptiger-chat-wrapper .bottom .send {
  position: absolute;
  height: 42.66667px;
  width: 42.66667px;
  border-radius: 50%;
  border: 0;
  background: #F7941E;
  color: #ffffff;
  bottom: 10.66667px;
  right: 10.66667px;
}
.proptiger-chat-wrapper .bottom .send:before {
  content: '';
  background: url(../img/send.png) no-repeat center center;
  background-size: 25.6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.proptiger-chat-wrapper .bottom .send:focus {
  outline: none;
}
.proptiger-chat-wrapper .bottom .send:hover {
  cursor: pointer;
}

.proptiger-chat-wrapper .message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10.66667px 0;
  padding: 10.66667px 0;
}
.proptiger-chat-wrapper .message-wrapper .circle-wrapper {
  height: 42.66667px;
  width: 42.66667px;
  border-radius: 50%;
}
.proptiger-chat-wrapper .message-wrapper .text-wrapper {
  padding: 10.66667px;
  min-height: 42.66667px;
  width: 60%;
  margin: 0 10.66667px;
  box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  border-radius: 2px;
  font-weight: 300;
  position: relative;
  opacity: 0;
  overflow-wrap: break-word;
}
.proptiger-chat-wrapper .message-wrapper .text-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.proptiger-chat-wrapper .message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
  background: #F7941E;
  float: left;
  color: #ffffff;
}
.proptiger-chat-wrapper .message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent #F7941E transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}
.proptiger-chat-wrapper .message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
  background: #FFC783;
  float: right;
  color: #333333;
}
.proptiger-chat-wrapper .message-wrapper.me .text-wrapper {
  background: #ffffff;
}
.proptiger-chat-wrapper .message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

.pos-rlt {
    position: relative;
}

.w-full {
    width: 100%;
}

.cursor-ptr {
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.proptiger-chat-wrapper #lastChat {
  display: none;
  position: relative;
  height: 64px;
  width: 100%;
  text-align: center;
  line-height: 64px;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-left: 16px;
  max-width: 230px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.proptiger-chat-wrapper #lastChat a {
  color: #fff;
}

.proptiger-chat-wrapper .center-middle {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.proptiger-chat-wrapper .connect-error {
    text-align: center;
    padding: 15px 0;
    background-color: #FFC8C8;
    color: #F73636;
    z-index: 10;
    display: none;
    font-size: 14px;
}

.proptiger-chat-wrapper .connect-success {
    text-align: center;
    padding: 15px 0;
    background-color: #B2FBA2;
    color: #108C27;
    z-index: 10;
    display: none;
    font-size: 14px;
}

.pos-abt {
  position: absolute;
}

.top-left {
  top: 34px;
  left: 12px;
}

.w {
  width: 14px;
  height: 14px;
}

.top-left-md {
    top: 30px;
    left: 5px;
}

.w-md {
  width: 22px;
  height: 22px;
}

@media (max-width: 560px) {
  .proptiger-chat-wrapper {
    width: 100%;
    right: 0px;
  }
  .proptiger-chat-wrapper .inner {
    height: 80%;
    height: 80vh;
  }
}

.proptiger-chat-wrapper .me .text-wrapper a {
  color: black;
}

.proptiger-chat-wrapper .them .text-wrapper a {
  color: white;
}

.proptiger-chat-wrapper .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.proptiger-chat-wrapper .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.proptiger-chat-wrapper .bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.proptiger-chat-wrapper .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.proptiger-chat-wrapper .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.proptiger-chat-wrapper .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.proptiger-chat-wrapper .fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, select:focus {
    //border: 1px solid #F7941E;
    outline: 0;
}

.text-center {
    text-align: center;
}

.i-b {
    display: inline-block;
}