/**
 * Overriding Base.css
 */
.proptiger-chat-wrapper .nav .default-nav .main-nav .options.up {
    background-image: url(../img/arrow-up.svg);
}
.proptiger-chat-wrapper .nav .default-nav .main-nav .options.down {
    background-image: url(../img/arrow-down.svg);
    display: block;
}

.proptiger-chat-wrapper .nav .default-nav .rounded-button {
	width: 45px;
	height: 45px;
	position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    background-color: #EA8710;
}

.proptiger-chat-wrapper .nav .default-nav .rounded-button.call-button {
	right: 68px;
    top: 10px;
}

.proptiger-chat-wrapper .nav .default-nav .rounded-button.cut-button {
	right: 20px;
    top: 10px;
}

.proptiger-chat-wrapper .nav .default-nav .call {
	width: 20px;
    height: 20px;
    background-image: url(../img/call.svg);
    background-size: contain;
    position: relative;
    top: 11px;
    left: 13px;
}

.proptiger-chat-wrapper .nav .default-nav .cut {
	width: 20px;
    height: 20px;
    background-image: url(../img/cut.svg);
    background-size: contain;
    position: relative;
    top: 12px;
    left: 13px;
}

.proptiger-chat-wrapper .nav.up .down {
    display: none!important;
}

.proptiger-chat-wrapper .nav.up~.bottom{
	display: none!important;
}

.proptiger-chat-wrapper .nav.up .default-nav.flipped .send {
	display: none!important;
}

.proptiger-chat-wrapper .nav.up .up {
    display: block!important;
}

.proptiger-chat-wrapper .nav.up+.inner{
    height: 0px;
}

.proptiger-chat-wrapper .nav.up #lastChat {
  display: block;
}

.proptiger-chat-wrapper .nav.up #defaultChat {
  display: none;
}

.rotate-cut-btn {
	 -moz-transform:rotate(137deg);
    -webkit-transform:rotate(137deg);
    -o-transform:rotate(137deg);
    -ms-transform:rotate(137deg);
    position: relative;
    right: 1px;
}


.loader-calling {
    position: relative;
    top: -32px;
    left: 23px;
}

/* ooo, css circles*/
.circle {
    display: inline-block;
    position: relative;
    /* key up the animations! */
    -webkit-animation: dotloader 2.5s infinite;
    -moz-animation: dotloader 2.5s infinite;
    -ms-animation: dotloader 2.5s infinite;
    -o-animation: dotloader 2.5s infinite;
    animation: dotloader 2.5s infinite;
}

.circle + .circle {
    margin-left: -19px;
    /* staggered effect cause by delay property */
    -webkit-animation: dotloader 2.5s 0.2s infinite;
    -moz-animation: dotloader 2.5s 0.2s infinite;
    -ms-animation: dotloader 2.5s 0.2s infinite;
    -o-animation: dotloader 2.5s 0.2s infinite;
    animation: dotloader 2.5s 0.2s infinite;
}

.circle + .circle + .circle {
    margin-left: -19px;
    -webkit-animation: dotloader 2.5s 0.4s infinite;
    -moz-animation: dotloader 2.5s 0.4s infinite;
    -ms-animation: dotloader 2.5s 0.4s infinite;
    -o-animation: dotloader 2.5s 0.4s infinite;
    animation: dotloader 2.5s 0.4s infinite;
}

.circle + .circle + .circle + .circle {
    margin-left: -19px;
    -webkit-animation: dotloader 2.5s 0.6s infinite;
    -moz-animation: dotloader 2.5s 0.6s infinite;
    -ms-animation: dotloader 2.5s 0.6s infinite;
    -o-animation: dotloader 2.5s 0.6s infinite;
    animation: dotloader 2.5s 0.6s infinite;
}

@keyframes dotloader {
    0%,20% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(255, 255, 255, 0);
    }

    30%,70% {
        width: 4px;
        height: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(255, 255, 255, 1);
    }

    80%,100% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}

@-moz-keyframes dotloader {
    0%,20% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(255, 255, 255, 0);
    }

    30%,70% {
        width: 4px;
        height: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(255, 255, 255, 1);
    }

    80%,100% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}

@-webkit-keyframes dotloader {
    0%,20% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(255, 255, 255, 0);
    }

    30%,70% {
        width: 4px;
        height: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(255, 255, 255, 1);
    }

    80%,100% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}

@-ms-keyframes dotloader {
    0%,20% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(255, 255, 255, 0);
    }

    30%,70% {
        width: 4px;
        height: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(255, 255, 255, 1);
    }

    80%,100% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}

@-o-keyframes dotloader {
    0%,20% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(255, 255, 255, 0);
    }

    30%,70% {
        width: 4px;
        height: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(255, 255, 255, 1);
    }

    80%,100% {
        width: 2px;
        height: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}

.start-call #mainFront, .connecting #mainFront, .agent-calling #mainFront {
	display: none;
}

.start-call #startCallStatus {
	display: block!important;
}

.connecting #connectingStatus {
	display: block!important;
}

.agent-calling #agentCalling {
	display: block!important;
}

.proptiger-chat-wrapper .nav .default-nav .rounded-button.answer-button {
	right: 77px;
    top: 10px;
    background-color: #077B07!important;
}

.proptiger-chat-wrapper .nav .default-nav .rounded-button.decline-button {
	right: 17px;
    top: 10px;
    background-color: #FF0000!important;
}

/*
    Filter styles
*/

#agent-card-filter #agent-image {
    width: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

#agent-card-filter .left-puller {
   float: left;
}

#agent-card-filter #agent-name {
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 54px;
}

#agent-card-filter #agent-number {
    padding-left: 54px;
}

#agent-card-filter #agent-email {
    padding-left: 56px;
    font-size: 11px;
    padding-top: 5px;
}

#agent-login-filter .signup-text {
    text-align: center;
    font-size: 18px;
}

#agent-login-filter .social-button{
    width: 38px;
    height: 38px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    background-color: #EA8710;
    display: inline-block;
    margin-top: 16px;
    margin-left: 2px;
    position: relative;
}

#agent-login-filter .social-button .icon-8 {
    position: absolute;
    width: 19px;
    left: 10px;
    top: 9px;
}

#agent-login-filter #do-not-text {
    font-size: 13px;
}

/**
 Taking User Input
**/

.take-user-input .roomsOfHouse {
    box-sizing: border-box;
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    overflow-x: visible;
    overflow-y: visible;
    color: #F7941E;
}

.take-user-input .inputField {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    margin-top: 4px;
    color: #F7941E;
}

.take-user-input .submitForm {
    width: 60px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #ffffff;
    font-size: 14px;
    padding: 5px 0px;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

.take-user-input .submitForm:hover {
    background: #ffffff;
    color: #F7941E;
}

.inputField::-webkit-input-placeholder {
    color:    #F7941E;
}
.inputField:-moz-placeholder {
    color:    #F7941E;
}
.inputField::-moz-placeholder {
    color:    #F7941E;
}
.inputField:-ms-input-placeholder {
    color:    #F7941E;
}

/**
 Locality filter
**/

.locality-filter .left-text {
    width: 73px;
    height: 48px;;
}

.locality-filter .right-text {
    width: 94px;
    padding-top: 3px;
}

.locality-filter .right-text .locality-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 17px;
    max-height: 32px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.locality-filter .view-button {
    width: 175px;
    text-align: center;
    background: #E8922B;
    border: 1px solid #ffffff;
    font-size: 14px;
    padding: 2px 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 3px;
}

.locality-filter .view-button:hover {
    background: #ffffff;
    color: #F7941E;
}

.locality-filter .left-text img {
    width: inherit;
    height: inherit;
}

/**
 Project Filter
**/

.project-filter {
    height: 119px;
}

.project-filter .default-image{
    width: 100%;
    height: 100%;
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
}

.project-filter .black-overlay{
   background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    min-height: 119px;
    top: 0;
    left: 0;
    font-family: 'Poiret One';
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
}

.project-filter .black-overlay .project-price {
    padding-top: 24px;
    padding-left: 8px;
}

.project-filter .black-overlay .price {
    font-size: 26px;
}

.project-filter .black-overlay .project-locality {
    margin-top: 5px;
    padding-left: 8px;
}

.project-filter .black-overlay .project-area {
    margin-top: 5px;
    padding-left: 8px;
    font-size: 12px;
}

.fa-rupee {
    width: 14px;
    height: 14px;
    background-image: url('../img/rupee.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: -5px;
}
