<div class="feedback-container step1 clearfix">
    <div class="ff-heading clearfix">
        <div class="txt-wrap">
            <h3>Seller Feedback</h3>
        </div>
        <div data-type="DISCARD" class="close-popup">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="question">
        Did you talk any of these sellers?
        <div class="opt-txt">(CHOOSE ANY ONE OPTION)</div>
    </div>
    <div class="main-pane">
        <ul class="seller-list" data-type="SELLER_LIST">
            {{~it.result :item: index}}
            <li>
                <label>
                    <div class="seller-wrap">
                        <div class="sllrimg">
                            {{? item.logo }}
                                <div class="seller-logo" style="background-image: url('{{=item.logo}}')"></div>
                            {{?? item.companyAvatar }}
                                    <span class="initial"  style="background-color: {{=item.companyAvatar.backgroundColor}};color:{{=item.companyAvatar.textColor}};">{{=item.companyAvatar.text}}</span>
                            {{?}}
                        </div>
                        <div class="seller-details">
                            <div class="seller-name">{{=item.companyName}}</div>
                            <div class="connect-time">{{=item.lastConnectedAt}}</div>
                        </div>
                    </div>
                    <input class="radioinput" type="radio" name="seller" data-type="select-seller" data-listing-id="{{=item.listingId}}" data-company-id="{{=item.companyId}}" data-seller-id="{{=item.sellerId}}" data-company-name="{{=item.companyName}}" data-rating-text="{{=item.ratingScreenText}}" data-buyer-id="{{=item.userId}}" >
                    <span class="radiobtn-wrap"><span class="radiobtn"></span></span>
                </label>
            </li>
            {{~}}
        </ul>
    </div>
    <span class="show-error" data-message="GLOBAL"></span>
    <!-- <div class="btn-wrap ">
        <a class="cbtn disabled" data-type="SELLER_SELECTED_NO" data-modal="sellerSelection" data-mainbtn>No</a>
        <a class="cbtn cbtn-p disabled" data-type="SELLER_SELECTED_SUBMIT" data-mainbtn><span data-normal>Proceed</span><span data-processing class="hide">Processing...</span></a>
    </div> -->
</div>
