<div class="feedback-container step2 clearfix">
    <div class="ff-heading clearfix">
        <div class="txt-wrap">
            <h3>Seller Feedback</h3>
            {{?it.postData.ratingText}}
            <div class="txt">{{=it.postData.ratingText}}</div>
            {{??}}
            <div class="txt">You connected with {{=it.result.companyName}} just now</div>
            {{?}}
        </div>
    </div>
    {{?it.result.listingId}}
    <div class="listing-wrap">
        <div class="img-wrap" style="background-image:url({{=it.result.image}});"></div>
        <div class="prop-dtls">
            <div class="pname">{{=it.result.listingTitle}}</div>
            <div class="lname">{{=it.result.listingSubtitle}}</div>
            <div class="price currency"> {{=it.result.price}}</div>
        </div>
    </div>
    {{??}}
    <div class="listing-wrap">
        {{? it.result.logo }}
            <div class="img-wrap" style="background-image:url({{=it.result.logo}});"></div>
        {{?? it.result.companyAvatar }}
            <div class="img-wrap" style="background-image:url({{=it.result.companyAvatar.backgroundColor}});">
                <span class="initial"  style="color:{{=it.result.companyAvatar.textColor}}">{{=it.result.companyAvatar.text}}</span>
            </div>
        {{?}}
        <div class="prop-dtls">
            <div class="pname">{{=it.result.companyName}}</div>
            {{? it.result.sellerType }}
            <div class="lname" data-sellerType>{{=it.result.sellerType}}</div>
            {{?}}
        </div>
    </div>
    {{?}}
    <div class="sperator-line"></div>
    <div class="question">How would you rate your experience with {{=it.result.companyName}}?</div>
    <div class="rating-wrap clickable" data-type="MAIN_RATING">
        <fieldset class="rating clickable">
            <input type="radio" id="star5_0" class="r5-input" name="rating"  value="5"/>
            <label class = "full r5" for="star5_0" title="5 stars"></label>
            
            <input type="radio" id="star4_0" class="r4-input" name="rating"  value="4"/>
            <label class = "full r4" for="star4_0" title="4 stars"></label>

            <input type="radio" id="star3_0" class="r3-input" name="rating"  value="3"/>
            <label class = "full r3" for="star3_0" title="3 stars"></label>

            <input type="radio" id="star2_0" class="r2-input" name="rating"  value="2"/>
            <label class = "full r2" for="star2_0" title="2 stars"></label>

            <input type="radio" id="star1_0" class="r1-input" name="rating" value="1"/>
            <label class = "full r1" for="star1_0" title="1 star"></label>
            <div class="result-txt"></div>
        </fieldset>
    </div>
    <span class="show-error" data-message="GLOBAL"></span>
    <div class="btn-wrap ta-r">
        <!-- <a class="cbtn disabled">No</a> -->
        <a class="cbtn cbtn-p disabled" data-type="RATING_SUBMIT" data-mainbtn><span data-normal>Proceed</span><span data-processing class="hide">Processing...</span></a>
    </div>
</div>
