<div class="feedback-container step3 clearfix">
    <div class="ff-heading clearfix"> 
        <div class="txt-wrap">
            <h3>Seller Feedback</h3>
        </div>
        <div data-type="DISCARD" class="close-popup">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="rating-wrap toshow">
        <fieldset class="rating view-only">
            <div class="result-txt 
                        {{?it.result.rating == 1}} worst
                        {{??it.result.rating == 2}} poor
                        {{??it.result.rating == 3}} average
                        {{??it.result.rating == 4}} good
                        {{??}} excellent {{?}}">
            </div>
            <label class = "full" ></label>            
            <label class = "full"></label>
            <label class = "full"></label>
            <label class = "full"></label>
            <label class = "full"></label>
        </fieldset>
    </div>
    <div class="sperator-line"></div>
    <div class="reason-pane">
        <fieldset class="reason-list" data-type="REASON_REASON">
            <div class="question">
                {{? it.result.rating < 4}}
                    Tell us what went wrong?
                {{??}}
                    Tell us what you liked about {{=it.result.companyName}} ?
                {{?}}
                <div class="opt-txt">(CHOOSE multiple OPTIONS)</div>
            </div>
            {{~it.masterReasons[it.reasonListName] :option:index}}
                <input type="checkbox" id="reason_{{=option.id}}" name="reason" value="{{=option.id}}" data-id={{=option.id}} data-parent-id={{=option.parentId}} data-label="{{=option.label}}" />
                <label class="reason" for="reason_{{=option.id}}" title="">{{=option.label}}</label>
            {{~}}
            <div class="other-reasons hide" data-otherReasons>
                <div class="question">Tell us what went wrong?</div>
                <textarea></textarea>
            </div>
        </fieldset>
    </div>
    <span class="show-error" data-message="GLOBAL"></span>
    <div class="btn-wrap ta-r">
        <div class="selected-reasons hide" data-reason-count>Selected <strong></strong> <span>{{?it.result.rating < 4}} Issues {{??}} Compliments {{?}}</span></div>
        <a class="btnmain cbtn cbtn-p disabled" data-type="REASON_SUBMIT" data-mainbtn>
            <span data-normal>Submit</span>
            <span data-processing class="hide">Processing...</span>
        </a>
    </div>
</div>
