<div class="second-pane">
    <ul class="similar-prop-list">
        {{~it :value:index}}
        <li class="clearfix">
            <div class="img-wrap">
                <img class="" alt="" src="{{=value.imageUrl}}" />
            </div>
            <div class="propdtls">
                <div class="prop-type">{{=value.unitName}} Apartment</div>
                <div class="address-wrap">{{=value.localityName}}</div>
                <div class="price-wrap">
                    <i class="icon-rupee currency"></i>
                    <span class="val">{{=value.price && value.price.val}}</span>
                    <span class="unit">{{=value.price && value.price.unit}}</span>
                </div>
                <div class="select-wrap">
                    <label for="select_{{=value.listingId}}" class="checkboxlbl">
                        <input id="select_{{=value.listingId}}" type="checkbox" data-collection="{{=value.processed}}" name="" data-type="SIMILAR_CHECKBOX" checked>
                        <span class="txt">&nbsp;</span>
                    </label>
                </div>
            </div>
        </li>
        {{~}}
    </ul>
</div>

