<div class="feedback-container step4 clearfix">
    <div class="ff-heading clearfix">
        <div class="txt-wrap">
            <h3>Seller Feedback</h3>
            <div class="txt">Based on your requirement, we found these similar properties</div>
        </div>
        <div class="close-popup" data-type="DISCARD">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="select-all">
        <span data-selectunselect-text class="txt">Unselect All</span>
        <label for="morePropCheckbox" class="checkboxlbl">
        <input id="morePropCheckbox" data-select-all type="checkbox" name="moreProp" value="yes" data-type="SIMILAR_SELECT_ALL" checked><span class="txt">&nbsp;</span>
    </label>
    </div>
    <div data-similar-listing-container class="similar-listing">
        <div class="loaderr">
            <i class="icon-reset rispinner">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
            </i>
        </div>
    </div>
    <span class="show-error" data-message="GLOBAL"></span>
    <div class="btn-wrap">
        <a class="cbtn disabled" data-type="SIMILAR_LISTING_NO" data-mainbtn>No</a>
        <a class="cbtn cbtn-p disabled" data-type="SIMILAR_LISTING_SUBMIT" data-mainbtn><span data-normal>share my number</span><span data-processing class="hide">Processing...</span></a>
    </div>
</div>
