<div class="feedback-container  clearfix">
    <div class="ff-heading clearfix">
        <div class="txt-wrap">
            <h3>Seller Feedback</h3>
        </div>
        <div data-type="CLOSE_LEAD" class="close-popup">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="other-agent">
        {{? it.postData && it.postData.rating <= 3 }}
            <div class="text">these sellers can help you better</div>
        {{??}}
            <div class="text">These sellers will also be helpful</div>
        {{?}}
        <ul class="other-agent-list">
            {{~it.sellers :value:index}}
            <li class="other-agent-item">
                {{? value.companyImage}}
                    <img class="agent-logo-img" src="{{=value.companyImage}}" />
                {{?? value.companyAvatar}}
                    <div class="agent-logo-img" style="background-color: {{=value.companyAvatar.backgroundColor}}">
                        <span class="initial"  style="color:{{=value.companyAvatar.textColor}};">{{=value.companyAvatar.text}}</span>
                    </div>
                {{?}}
            <div class="agent-name-container" data-similar-sellers>
                <div class="agent-name text-ellipse">{{=value.companyName}}</div>
                <!-- The rating block will come here -->
                <div class="rating" data-module="sellerRating"  data-sellerRating="{{=value.sellerRating}}"></div>
                <label for="select_{{=index}}" class="checkboxlbl">
                    <input id="select_{{=index}}" type="checkbox" data-companyId="{{=value.companyId || ''}}"  data-collection="{{=value.processed}}" name="" data-type="SIMILAR_SELLERS_CHECKBOX" checked>
                    <span class="txt"></span>
                </label>
            </div>
            </li>
            {{~}}
        </ul>
    </div>
    <div class="btn-wrap">
        <a class="btnmain cbtn cbtn-p" data-type="SIMILAR_SELLERS_SUBMIT"><span data-normal>Share my number</span><span data-processing class="hide">Processing...</span></a>
        <span class="show-error" data-message="GLOBAL"></span>
    </div>
</div>
