<div class="feedback-container step-skip clearfix">
    <div class="ff-heading clearfix">
        {{? it.stackLength>1}}
        <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
        {{?}}
        <!-- <div data-type="SKIP_FEEDBACK_CLOSE_LEAD" class="close-popup">
            <i class="icon-close"></i>
        </div> -->
    </div>
    <div class="second-pane">
        <div class="ff-title">Are you sure?</div>
        <div class="ff-text">This will cancel all pending feedback requests for the sellers you recently talked to</div>
    </div>
    <div class="btn-wrap">
        <a class="txtlink" data-type="SKIP_FEEDBACK_YES"><span data-normal>Yes</span></a>
        <a class="btnmain cbtn cbtn-p" data-type="SKIP_FEEDBACK_NO"><span data-normal>No</span></a>
        <span class="show-error" data-message="GLOBAL"></span>
    </div>
</div>
