<div class="leadenquiry-container step-thanks clearfix">
    <div class="lead-heading clearfix">
        {{? it.stackLength>1}}
        <!-- <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div> -->
        {{?}}
        <div data-type="DISCARD" class="close-popup">
            <i class="icon-close"></i>
        </div>
    </div>

    <div class="le-content">
        <div class="thank-pane">
            <div class="le-title">Thank you <span class="username hide"></span></div>
            <div class="">For providing your valuable feedback</div>
        </div>
        {{? it.isBuyLead === true}}
            <div class="second-pane">
                <div class="ttl">Also looking for a <b>Home Loan!</b></div>
                <div class="journey-img-wrap homeloan"></div>
                <div>Apply for Home Loan with ROI as low as 8.35%</b></div>
            </div>
        {{??}}
            <div class="second-pane">
                <div class="journey-img-wrap"></div>
            </div>
        {{?}}
        {{? it.isBuyLead === true}}
            <div class="btn-wrap">
                <a class="txtbtn" data-type="CLOSE_FEEDBACK"><span data-normal>Continue Search</span></a>
                <a class="cbtn cbtn-p" data-type="feedback_homeloan_apply"><span data-normal>Apply homeloan</span></a>
            </div>
        {{??}}
            <div class="btn-wrap">
                <a class="cbtn cbtn-p" data-type="CLOSE_FEEDBACK"><span data-normal>Continue Search</span></a>
            </div>
        {{?}}
    </div>
</div>