<div class="login-makaan-logo hidden-md hidden-lg">
    <img src="/images/login-makaan-logo.png">
</div>
<div class="upper-content-box">
    <p class="main-text">
        <span><i class="icon-sprite p-info-icon"></i></span>
        Hey! Let me in!
    </p>
</div>
<div class="mian-field-box">
    <div class="login-input-box">
        <label>Email</label>
        <input type="email" id="email"/>
        <p class="error">Error Message here</p>
    </div>
    <div data-type="forgot-submit" class="login-btn-style">Get password</div>
</div>
