<div class="login-popup">
    <span data-type="close-login" class="close-login"></span>
    <div class="login-register-box">
        <div class="row no-margin">
            <div class="col-lg-12 no-padding">
                <div class="col-md-5 no-padding hidden-xs hidden-sm">
                    <div class="login-img-box">
                        <div class="login-makaan-logo">
                            <img src="/images/login-makaan-logo.png">
                        </div>
                        <div class="signup-pic"><img src="images/desktop-signup-image.jpg"></div>
                        <div class="information-list">
                            <ul>
                                <li>Personalised recommendations</li>
                                <li>Rewards on purchase</li>
                                <li>Seamless experience</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 no-padding">
                    <div class="main-box js-main-box">
                        <div data-module="forgotPassword" data-loadOn="event" id="forgot-password" class="login-content-box">
                            <script type="text/x-config">
                                {
                                    "screenShowClass": "p-center"
                                }
                            </script>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
