<div data-module="login">
    <div>
        <h3 class="title">Logout</h3>
        <img class="js-profile-image"/>
        <div class="login-details-box">
            <label class="js-username"> Username or Password is wrong. </label>
        </div>
        <div class="dialogButtons">
            <button data-type="logout-btn" type="button" class="btn btn-default wd45percent marginR10 marginB10 action two">Logout</button>
        </div>
    </div>
</div>