<div id="main-login" class="login-content-box">
    <div class="login-makaan-logo hidden-md hidden-lg">
        <img src="/images/login-makaan-logo.png">
    </div>
    <div class="upper-content-box">
        <p class="main-text">
            <span><i class="icon-sprite p-info-icon"></i></span>
            Personal Information
        </p>
    </div>
    <div class="mian-field-box">
        <div class="login-input-box">
            <label>Username</label>
            <input type="text" id="username"/>
            <p class="error">Error Message here</p>
        </div>
        <div class="login-input-box">
            <label>Password</label>
            <input type="password" id="password"/>
            <p class="error">Error Message here</p>
        </div>
        <div class="links">
            <div class="rememberme">
                <div class="checkBox">
                    <input name="rememberme" type="checkbox" id="rem">
                    <label for="rem"><span></span> Remember me</label>
                </div>
            </div>
            <a data-type="forgot-password" class="forget-password">Forgot Password?</a>
        </div>
        <div data-type="login-btn" class="login-btn-style">Login</div>
    </div>
</div>
