<div id="social-connect" class="login-content-box p-center">
    <span class="back-btn">
        <i class="icon-sprite backarrow-icon"></i>
    </span>
    <div class="login-makaan-logo hidden-md hidden-lg">
        <img src="/images/login-makaan-logo.png">
    </div>
    <div class="upper-content-box">
        <p class="main-text">
            <span><i class="icon-sprite connect-icon"></i></span>
            Connect With
        </p>
    </div>
    <div class="mian-field-box">
        <ul class="social-icon-list">
            <li data-type="fb-login">
                <i class="icon-sprite fb-icon"></i>
            </li>
            <li data-type="gplus-login">
                <i class="icon-sprite gplus-icon"></i>
            </li>
            <li>
                <i class="icon-sprite tweet-icon"></i>
            </li>
            <li>
                <i class="icon-sprite in-icon"></i>
            </li>
        </ul>
        <span data-type="basic-login" class="link-text">I don't have social account</span>
    </div>
</div>
