<div class="push-notification out-of-view {{= it && it.isHomePage ? 'home' : ''}}">
<div class="logo heart"></div>
    <div class="notif-text">Stay on top of your journey 
    Get notified of new properties &amp; more.</div>
    <div class="button-wrap btn-wrap-notification ">
        <span class="link-text" data-type="discard">No</span>
        <button type="button" class="cbtn cbtn-p" data-type="subscribe">Yes</button>
    </div>
</div>
