<div class="errorpage alliance-errorPage">
    <div class="errorpage-wrap">
        <img alt="server down" src="/images/500.png" />
        <!--<div class="hdng">such a kill joy!</div>-->
        <div class="desc">
            <p>The page you were looking for is chilling at server's home.</p>
            <p><a class="cbtn cbtn-p linkbtn" href="/">Refresh</a></p>
        </div>
    </div>
</div>
