{{ var totalAlliances = it.response.length; }}
<div class="d-status-bar">
    <div class="status-bar clearfix">
        <div class="col-xs-1 back no-padding" data-type="back-anchor" data-url-param="serviceId">
            <i class="icon-chevron-left"></i>
        </div>
        <div class="col-xs-10 no-padding category-name">Select a service<!-- {{=it.response[0].serviceName}} --></div>
        <div class="col-xs-1 no-padding back-ctgry">
            <a href="/services/all">
                <i><span class="icon-repost"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></i>
            </a>
        </div>
    </div>
</div>
<div class="alliance-wrap clearfix">
    <p class="sprt-txt">Found {{=totalAlliances + (totalAlliances>1 ? ' partners' : ' partner')}}, select to continue further</p>
    <ul class="cards-list js-alliance-list">
        {{ it.response.forEach(function(alliance){ }}
            <li data-type="alliance-card">
                <div class="alliance-card-wrap">
                    <div class="head-wrap clearfix">
                        <div class="alliance-icon"><img src="{{=alliance.allianceIcon || ''}}" /></div>
                        <div class="alliance-name">{{=alliance.allianceName}}</div>
                    </div>
                    <div class="desc">
                        {{=alliance.allianceDescription || ''}}
                    </div>
                    <div class="offer-btn">
                        <span>{{=alliance.bestOffer}}</span>
                    </div>
                    <div class="tick-wrap">
                        <input type="checkbox" name="alliances" data-category-id="{{=alliance.categoryId}}" data-service-id="{{=alliance.serviceId}}" data-alliance-id="{{=alliance.allianceId}}" data-alliance-name="{{=alliance.allianceName}}" data-service-name="{{=alliance.serviceName}}" data-category-name="{{=alliance.categoryName}}" data-coupon-id="{{=alliance.couponId}}" {{=alliance.checked ? 'checked' : ''}} />
                        <i class="icon-tick icon"></i>
                    </div>
                </div>
            </li>
        {{ }); }}
    </ul>
    <div class="d-proceed-wrap"  data-type="select-alliance">
        <div class="cbtn cbtn-p {{=!it.selectedAlliancesCount ? 'disabled' : ''}} js-continue-btn">
           Continue
        </div>
    </div>

    <div class="fixed-bot" data-type="select-alliance">
        <div class="select-btn-wrap {{=!it.selectedAlliancesCount ? 'disabled' : ''}} js-continue-btn">
            Continue
        </div>
    </div>

</div>
