<div class="breadcrumb couponpage">
    <a data-type="bread-services" href="/services/all" data-category-id="{{= it && it.categoryId}}">Services</a>
    >>
    <a data-type="bread-providers" data-alliance-id="{{=it.serviceId}}" data-category-id="{{= it && it.categoryId}}" href="/services/all?serviceId={{=it.serviceId}}" data-service-name="{{= it.serviceName || ''}}">{{=it.serviceName || ''}}</a>
    >>
    <a data-type="bread-service-provider" data-category-id="{{= it && it.categoryId}}" data-service-name="{{= it.serviceName || ''}}">{{=it && it.allianceName || ''}}</a>
</div>

<div class="coupon-wrap">
    <h2 class="heading">Congratulations {{=it.firstName || ''}}!</h2>

    {{ if(it && it.couponType === 'CodeType'){ }}
        <p class="sprt-txt">Here's your coupon code:</p>
        <div class="couponcode">
            <span class="code js-copy-code"> {{= it && it.couponCode}} </span>
            <span class="copy" data-type="copy-coupon" data-coupon-code="{{= it && it.couponCode}}" data-provider-name="{{= it && it.allianceName}}" data-service-name="{{= it && it.serviceName}}" data-category-id="{{= it && it.categoryId}}">copy</span>
        </div>
        <div class="alliancename-sprt">You can use this coupon on <a data-type="provider-site" data-category-id="{{= it && it.categoryId}}" data-service-name="{{= it.serviceName || ''}}" href="{{=it && it.allianceUrl}}" rel="nofollow" target="_blank">{{=it && it.allianceName}}</a> to get {{=it && it.offer}} on {{=it.serviceName || ''}}</div>
    {{ }else if(it && it.couponType === 'ContactType'){ }}
        <div class="mobilenumber">
            <p class="sprt-txt">call <a href="{{=it && it.allianceUrl}}" rel="nofollow" target="_blank">{{=it && it.allianceName}}</a> on the below number</p>
            <i class="icon-call"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i> {{= it && it.couponCode}}
            <p class="sprt-txt">{{=it && it.offer}}</p>
        </div>
    {{ } }}

    <div class="subscribe-box">
        <p class="gry-txt js-submitted">Get the {{=it && it.couponType === 'ContactType' ? 'partner details' : 'code'}} in your mailbox </p>
        <div class="js-input-placeholder js-submitted email-box">
            <div class="input-box js-input-box fc-wrap {{=it && it.emailId ? 'active' : ''}}">
                <!-- palce holder text -->
                <label>Email</label>
                <!-- input field -->
                <input class="js-email" type="text" data-type="input-box" name="client-email" maxlength="50" value="{{=it && it.hasVerifiedEmail && it.emailId || ''}}">
            </div>
        </div>
        <div class="new-deals hidden">
            <input type="checkbox"/> <span class="tick-box"><i class="icon-tick"></i></span> We dd new deals every week. be the first one to know
        </div>
        <div class="hidden js-user-email js-patch-success"></div>
        <div class="hidden clearfix thankyu-txt js-patch-success">
            <!-- <p> thank you for sharing your email</p> -->
            <p>We have sent the {{=it && it.couponType === 'ContactType' ? 'partner details' : 'code'}} to your email</p>
        </div>
        <button class="cbtn cbtn-s js-submitted" data-type="subscribe" data-coupon-code="{{= it && it.couponCode}}" data-provider-name="{{= it && it.allianceName}}" data-service-name="{{= it && it.serviceName}}" data-category-id="{{= it && it.categoryId}}">Submit</button>
    </div>
    <div class="bot-wrap clearfix">
        <p>Make your journey more joyful with our handpicked services</p>
        <a href="/services/all" data-type="explore-more" data-category-id="{{= it && it.categoryId}}" data-service-name="{{= it.serviceName || ''}}" class="explore">Explore other services</a>
        <div class="text-center"><img src="/images/makaan-logo.png" title="makaan" alt="makaan" /></div>
    </div>
</div>
