{{ if(it.isMobile){ }}
    <div class="d-status-bar">
        <div class="status-bar clearfix">
            <div class="col-xs-1 back no-padding" data-type="back-anchor" data-url-param="form">
                <i class="icon-chevron-left"></i>
            </div>
            <div class="col-xs-10 no-padding category-name"> Your details </div>
            <div class="col-xs-1 no-padding back-ctgry">
                <a href="/services/all">
                    <i><span class="icon-repost"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></i>
                </a>
            </div>
        </div>
    </div>
{{ } }}
<div class="detailforms1-wrap js-detailform clearfix">
    {{ if(it.isMobile){ }}
        {{ var serviceLength = it.summary && it.summary.serviceLength; }}
        <div class="ylw-txt">
            you selected
        </div>
        <div>{{= serviceLength || ''}} {{= serviceLength > 1 ? 'services' : 'service' }} in {{= it.summary && it.summary.categoryName || ''}}</div>
        <div class="view-summary themecolor" data-type="view-summary">View summary</div>
    {{ } }}
    <h2 class="ylw-txt heading">
        Please fill in your details
    </h2>
    <form role="form" id="detailsform">
        <div class="row">
            <div class="col-sm-12">
                <div class="js-input-placeholder">
                    <div class="input-box js-input-box fc-wrap">
                        <!-- palce holder text -->
                        <label>Name</label>
                        <!-- input field -->
                        <input class="js-username" type="text" data-type="input-box" name="client-name" value="" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="js-input-placeholder">
                    <div class="input-box js-input-box fc-wrap">
                        <!-- palce holder text -->
                        <label>Email</label>
                        <!-- input field -->
                        <input class="js-email" type="text" data-type="input-box" name="client-email" value="" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="js-input-placeholder">
                    <div class="input-box js-input-box fc-wrap country-code-contact">
                        <!-- palce holder text -->
                        <span class="country-code">+91</span>
                        <label>Mobile</label>
                        <!-- input field -->
                        <input class="js-mobileNumber" type="text" data-type="input-box" name="client-phone-num" value="" maxlength="14" />
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix submit" data-type="confirm-user-info">
                <button class="cbtn cbtn-p"> Find joy </button>
            </div>
        </div>
    </form>
</div>
