{{ var summary = it.summary, services = summary.services; }}
<div class="d-status-bar">
    <div class="status-bar clearfix">
        <div class="col-xs-1 back no-padding" data-type="back-anchor" {{= it.isMobile ? 'data-url-param="summary"' : 'data-url-param="form"'}}>
            <i class="icon-chevron-left"></i>
        </div>
        <div class="col-xs-10 no-padding category-name"> Your details </div>
        <div class="col-xs-1 no-padding back-ctgry">
            <a href="/services/all">
                <i><span class="icon-repost"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></i>
            </a>
        </div>
    </div>
</div>
<div class="detailforms2-wrap js-detailform clearfix">
    <h2 class="heading">Booking summary</h2>
    <div class="detailcategory-wrap">
        <div class="ylw-txt">category</div>
        <ul class="selected-category">
            <li>{{=summary.categoryName}}</li>
        </ul>
    </div>
    <div class="detailcategory-wrap">
        <div class="ylw-txt">services</div>
        <ul class="selected-service">
            {{ for (var key in services) {
                if (services.hasOwnProperty(key)) { var service = services[key]; }}
                <li data-type="anchor" data-query="serviceId={{=service.serviceId}}">
                    <div>{{=service.serviceName || ''}}</div>
                    <div class="alliance-count">partners:
                        {{ for(var i=0, len=service.alliances.length; i<len; i++){ 
                            if(i===0){ }}
                                <span>{{=service.alliances[i] || ''}}</span>
                            {{ } else { }} ,
                                <span>{{=service.alliances[i] || ''}}</span>
                            {{ } }}
                        {{ } }}
                    </div>
                    <i class="icon-edit"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                </li>
                {{ } }}
            {{ } }}
        </ul>
    </div>
</div>
