{{ var userInfo = it.userInfo; }}
<div class="d-status-bar">
    <div class="status-bar clearfix">
        <div class="col-xs-1 back no-padding" data-type="back-anchor" data-url-param="otp">
            <i class="icon-chevron-left"></i>
        </div>
        <div class="col-xs-10 no-padding category-name"> Confirm your number </div>
        <div class="col-xs-1 no-padding back-ctgry">
            <a href="/services/all">
                <i><span class="icon-repost"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></i>
            </a>
        </div>
    </div>
</div>
<div class="detailforms3-wrap clearfix">
    <div class="otp-icon">
        <span class="icon-otp icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
    </div>
    <div class="number-detail lghter-txt">
        <span> Thanks <span>{{=userInfo.userName || ''}}</span>, your mobile number is </span>
        <div class="darker-txt">{{=userInfo.userContactNumber || ''}}</div>
    </div>
    <div class="otp-detail">
        <p class="lghter-txt">
            Enter otp sent to your mobile
        </p>
        <div class="verification-code-value js-input-placeholder">
            <input maxlength="4" type="text" data-type="otp" name="otp">
        </div>
    </div>
    <div class="resend-otp-wrap">
        <div class="icon hidden js-otp-verified"><i class="icon-tick-round"></i></div>
        <div class="resend-otp" data-type="resend-otp">Resend OTP</div>
    </div>
</div>
