<div class="errorpage">
    <div class="sorry-popup {{= it.cities ? 'hidden' : ''}} text-center">
        <div class="text-center">
            <span class="exclamation">!</span>
        </div>
        <div class="sorry-txt clearfix">
            <p>
                <b>Sorry!</b>
            </p>
        </div>
        <div class="clearfix provider-txt">
            <p class="text-center">
                We dont have provide this service for your city
            </p>
        </div>
        <div class="clearfix">
            <div class="cbtn cbtn-p"><a href="/services/all">Explore other services</a></div>
        </div>
    </div>
    <div class="city-popup {{= !it.cities  ? 'hidden' : ''}}">
        <h2 class="heading text-center"> Select a city </h2>
        <ul class="citylist">
            {{ if(it && it.cities){it.cities.forEach(function(city){ }}
            	<li> <input type="radio" id="{{=city.value}}" name="cityName" class="js-city-selected" data-city-id="{{=city.value}}" /> <label for ="{{=city.value}}" > {{=city.label || ''}} </label> <span class="circle"></span> </li>
            {{ }); } }}
        </ul>
        <div class="text-center">
            <div class="error-msg" ><span class="js-select-city-error"></span></div>
            <div class="submit cbtn cbtn-p" data-type="select-city">Confirm</div>
        </div>
    </div>
</div>
