{{ var totalAlliances = it.response.length; }}
<div class="d-status-bar">
    <div class="status-bar clearfix">
        <div class="col-xs-1 back no-padding" data-type="back-anchor" data-url-param="categoryId">
            <i class="icon-chevron-left"></i>
        </div>
        <div class="col-xs-10 no-padding category-name">Select a service<!-- {{=it.response[0].serviceName}} --></div>
        <div class="col-xs-1 no-padding back-ctgry">
            <a href="/services/all">
                <i><span class="icon-repost"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span></i>
            </a>
        </div>
    </div>
</div>
<div class="service-wrap">
    <p class="sprt-txt">
        {{ if(totalAlliances === 1){ }}
            select service to continue
        {{ }else if(totalAlliances > 1){ }}
            {{=totalAlliances}} services available, select one to continue
        {{ } }}
    </p>
    <ul class="cards-list">
        {{ it.response.forEach(function(service){ }}
            {{ if(service.selectedService){ }}
                <li>
                    <div class="card-wrap selected-card-wrap">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <div class="selected-upper-wrap">
                                        <h2 class="service-heading">{{=service.serviceName}}</h2>
                                        <div class="img-wrap">
                                            {{= it.getServiceIcon(service.serviceId) || ''}}
                                        </div>
                                        <div class="inner-content">
                                            <div class="sml-txt">selected partners:</div>
                                            <ul class="selected-partner-list">
                                                {{ if(service.selectedAlliances.length>2){ }}
                                                    <li>{{=service.selectedAlliances[0].allianceName}}</li>
                                                    <li>{{=service.selectedAlliances[0].allianceName}}</li>
                                                    <li>{{=(service.selectedAlliances.length - 2) + 'more alliances selected'}}</li>
                                                {{ } else{ }}
                                                    {{ service.selectedAlliances.forEach(function(alliance){ }}
                                                        <li>{{=alliance.allianceName}}</li>
                                                    {{ }); }}
                                                {{ } }}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="lower-wrap">
                                        <span data-type="anchor" data-query="serviceId={{=service.serviceId}}" class="editnow">Edit now</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{ } else { }}
                <li>
                    <div class="card-wrap">
                        <div class="flip-container js-flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <div class="upper-wrap">
                                        <span class="flip-icon" data-type="flip-icon" data-track-label="{{=service.serviceName}}">i</span>
                                        <h2 class="service-heading">{{=service.serviceName}}</h2>
                                        <div class="img-wrap">
                                            {{= it.getServiceIcon(service.serviceId) || ''}}
                                        </div>
                                        <div class="inner-content">
                                            <span>{{=service.serviceBestOffer || ''}}</span>
                                        </div>
                                    </div>
                                    <div class="lower-wrap">
                                        <span data-type="anchor" data-query="serviceId={{=service.serviceId}}" class="booknow">Book now</span>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="upper-wrap">
                                        <span class="flip-icon icon-backflip" data-type="flip-icon-back"><i class="icon-chevron-left"></i></span>
                                        <h2 class="service-heading">{{=service.serviceName}}</h2>
                                        <div class="details-wrap">
                                            {{=service.serviceDescription || ''}}
                                        </div>
                                    </div>
                                    <div class="lower-wrap">
                                        <span data-type="anchor" data-query="serviceId={{=service.serviceId}}" class="booknow">Book now</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{ } }}
        {{ }); }}
    </ul>
    <div class="fixed-bot clearfix">
        <div class="selected-info-fixed">
            {{ if(it.selectedServiceCount === 0){ }}
                you haven't selected any service yet. please select at least one to continue.
            {{ } else if(it.selectedServiceCount >= 1){ }}
                you have selected {{= it.selectedServiceCount + ((it.selectedServiceCount > 1) ? ' services' : ' service')}}. you're just a few steps away from finding joy.
            {{ } }}
            {{= (it.selectedServiceCount && (it.response.length > 1)) ? 'select more or proceed further.' : ''}}
        </div>
        <div class="select-btn-wrap {{=it.selectedServiceCount ? '' : 'disabled js-disable'}}" data-type="open-lead">
            Proceed
        </div>
        <div class="cbtn cbtn-p d-btn pull-right {{=it.selectedServiceCount ? '' : 'disabled js-disable'}}" data-type="open-lead">Proceed</div>
    </div>
</div>
