<div class="thankyou-wrap">
    <div class="circle-tick text-center">
        <i class="icon-tick-round"></i>
    </div>
    <div class="text-center">
        <div class="txt">
            <p>Thanks {{=it.userInfo.userName || ''}}</p>
            <p>We have received your booking details</p>
        </div>
    </div>
    <div class="coupon-wrap">
        <p class="text-center">Below are your coupon codes for the selected services</p>
        <ul>
            {{ it.response.forEach(function(coupon){ }}
                <li>
                    <div class="couponcodes">
                        <div class="img-wrap">
                            <img src="{{=coupon.logo || ''}}"  alt="icon" />
                        </div>
                        <div class="content-wrap">
                            <b>{{= coupon.offer || ''}}</b>
                            <div> validity : {{= coupon.expiry || ''}}</div>
                        </div>
                        <div class="code-wrap">Code: {{=coupon.couponCode || ''}}</div>
                    </div>
                </li>
            {{ }); }}
        </ul>
    </div>
    <p class="text-center clearfix">You can use them while booking this service on the service providers' website.</p>
    <div class="text-center explore">
        <a href="/services/all" title="explore more">Explore more services</a>
        <a href="/my-journey/dashboard">
            <button class="cbtn cbtn-p clearfix">
                Go to my journey
            </button>
        </a>
    </div>
</div>
