{{? it.templateData && it.templateData.requirements.length > 0}}
<div class="loan-track-container  {{= it.latest ? 'app-latest' : ''}}">
	{{~it.templateData.requirements :requirement:requirementIndex}}
	<ul class="app-list">
        {{? !(it.latest)}}
        <div class="app-proj clearfix">
            <span class="proj-name">
                {{=requirement.projectName}}
                <span class="proj-add">{{=requirement.projectAddress}}</span>
            </span>
            <span class="proj-price currency"> <span class="price">87</span><span class="unit">L</span></span>    
        </div>
        {{??}}
        {{?}}

        {{~requirement.banks :bank:bankIndex}}
        <li class="app-details clearfix">
        {{? !(it.latest)}}
            <div class="app-id">
            {{=bank.appReferenceId}}
                <span class="app-bank">{{=bank.bankId}}</span>
                <div class="app-drop"></div>
            </div>
        {{??}}
        <div class="app-proj clearfix">
            <span class="proj-name">
                {{=requirement.projectName}}
                <span class="proj-add">{{=requirement.projectAddress}}</span>
            </span>
            <div class="bank-dd">
                <div class="bank-logo">
                    <img src="">
                </div>
                <div class="app-no-wrap">
                    <span class="app-label">Application no</span>
                    <span class="app-no">{{=requirement.requirementId}}</span>
                </div>
            </div>
        </div>
        {{?}}
            <div class="app-prog">
                <ul class="clearfix">
                {{~bank.statusArr :statusVal:statusIndex}}
                    <li class="dot-wrap {{=statusVal || '' }}">
                        <div class="app-dot">
                            <div class="dot-text">{{=bank.text}}</div>
                        </div>
                        <div class="app-line">
                            <div class="app-line-prog"></div>
                        </div>
                    </li>
                {{~}}
                </ul>
            </div>
            {{? (it.latest)}}
            <div class="view-all-app-wrap">
                you have {{=it.totalTracking}} more application(s)
                <br clear="hidden-xs">
                <div class="view-all-app" data-type="viewTracking">View all</div>
            </div>
            
            {{?}}
        </li>
        {{ if(it.latest)break;}}
        {{~}}
        {{ if(it.latest)break;}}
        <div class="app-date">{{=requirement.creationDate}}</div>
    </ul>
    {{~}}
</div>
{{?? !(it.latest)}}
No Applications submitted
{{?}}
