<div class="max1140 card-container clearfix">

    <h2 class="title">Matching Homes with <span class="title-highlight">Special Features</span></h2>

    <div class="slider-wrap clearfix"  data-module="slider"  data-window="f-listing-slider">
        <script type="text/x-config">
        {
            "widthDivisionFactor":{{=it.widthDivisionFactor||1}},
            "_transitionDuration": "{{=it.transitionDuration || '0.5s'}}"
        }
        </script>
        <div class="sudowrap" id="f-listing-slider">
            <ul class="card-list clearfix" data-type="list-container">
                {{~it.data :value:index}}
                    <li class="card-item js-listing-phrase" data-type="list-element" data-listing-id='{{=value.listingId}}' data-overview-url={{=value.url}} itemscope itemtype="http://schema.org/{{?value.propertyType}}{{=it.schemaMap[value.propertyType.toLowerCase()]}}{{??}}Apartment{{?}}">
                        <div data-img-section class="img-wrap" data-background-image="{{=value.mainImageURL}}">
                            <div class="price-tag" itemscope itemtype="http://schema.org/Offer">
                                <meta itemprop="price" content="{{=value.fullPrice || value.price}}">
                                <meta itemprop="priceCurrency" content="INR">
                                <span>₹{{=value.priceValue.val}} </span>
                                <span class="unit">&nbsp;{{=value.priceValue.unit}}</span>
                            </div>
                        </div>
                        <div class="content-box">
                            <div data-infoWrap>
                                    <div class="title-line-wrap" itemprop="name">
                                        <strong>
                                            {{? !value.isPlot}}
                                            <span>
                                                <span class="val" itemprop="numberOfRooms">{{=value.bedrooms}}</span>&nbsp;
                                                {{? value.rk}}
                                                    RK&nbsp;
                                                {{??}}
                                                    BHK&nbsp;
                                                {{?}}
                                            </span>
                                            {{?}}
                                            {{? value.penthouse}}
                                                Penthouse
                                            {{?? value.studio}}
                                                Studio apartment
                                            {{??}}
                                            {{= value.propertyType}}
                                            {{?}}
                                        </strong>
                                        <span class="val">| <span itemprop="floorSize">{{= value.size}} {{= value.measure}}</span>
                                        </span>
                                    </div>
                                    <div class="project-location-wrap">
                                        {{?value.project.actual}}
                                        <span class="project-info">{{= value.project.fullName}} | </span>
                                        {{?}}
                                        {{? value.localityName || value.suburbName}}
                                        <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                            <meta itemprop="latitude" content="{{=value.latitude}}">
                                            <meta itemprop="longitude" content="{{=value.longitude}}">
                                            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <span itemprop="addressLocality">{{?value.localityName}} {{=value.localityName}}{{?? value.suburbName }}{{=value.suburbName}}{{?}}</span>,&nbsp;
                                                {{? value.cityName}}
                                                <span itemprop="addressRegion">{{=value.cityName}}</span> 
                                                {{?}}  
                                            </span>
                                        </span>
                                        {{?}}
                                    </div>
                            </div>
                            <div class="desc-holder">
                                <div class="desc-hdng">
                                    <span>special features</span>
                                </div>
                                <ul data-phrases-list>
                                    {{~value.descriptionPhrases :phraseValue:phraseIndex}}
                                        <li>
                                            <span class="disc"></span>
                                            <p class="text" title="{{=phraseValue}}" itemprop="amenityFeature">{{=phraseValue}}</p>
                                        </li>
                                    {{~}}
                                </ul>
                                <div class="detailed-desc fadeOut" data-detailed-desc >{{=value.fullDescription}}</div>
                            </div>
                        </div>
                        <div class="bottom-line">
                            <div>
                                <span class="read-more-btn" data-type='more-btn' data-less=true>
                                    + See More
                                </span>
                            </div>
                            
                            <div class="connect-now">
                                <a class="cbtn cbtn-p" data-call-now data-type="openLeadForm" data-seller-type="{{=value.sellerTransactionStatus.type}}">
                                    Connect
                                </a>
                            </div>
                        </div>

                    </li>
                {{~}}
            </ul>
        </div>
        <div class="btn-prev hide1024nbelow js-prev disable" data-type="back-btn"><i class="icon-chevron-left"></i></div>
        <div class="btn-next hide1024nbelow js-next disable" data-type="next-btn"><i class="icon-chevron-right"></i></div>
</div>