{{ for(var i=it.startIndex; i < it.imageData[it.category].length; i++) { }}
<li class="inner-li" data-thumb="{{=it.imageData[it.category][i].thumb}}" data-sub-html="{{=it.imageData[it.category][i].subHtml}}" data-download-url="{{=it.imageData[it.category][i].src}}"
    data-alt="{{=it.imageData[it.category][i].alt}}" data-title="{{=it.imageData[it.category][i].category}}" data-index={{=it.imageData[it.category][i].index}} data-type="list-item" data-inner-index="{{=i}}">
    <div class="thumb-container">
        <div class="thumb">
            <a class="img-placeholder" href="javascript:void(0);" title="{{=it.imageData[it.category][i].category}}">
                <span class="img-wrap" data-background-image="{{=it.imageData[it.category][i].thumb}}"></span>
            </a>
        </div>
    </div>
</li>
{{ } }}