<div class="category">
    <ul class="outer-ul">
        {{ for(let categoryName in it.parsedGalleryData) { }}
            <li class="outer-li">
                <div class="category-header">
                    <span>{{=categoryName}} ({{=it.parsedGalleryData[categoryName][0].count}})</span>
                </div>
                
                <ul class="inner-ul">
                    {{ for(var index = 0; index < it.minimumImageInCategoryCount && index < it.parsedGalleryData[categoryName].length; index++) { }}
                    {{ let value = it.parsedGalleryData[categoryName][index]; }}
                        {{? value.vsrc}}
                        {{??}}
                        <li class="inner-li" data-thumb="{{=value.thumb}}" data-sub-html="{{=value.subHtml}}" data-download-url="{{=value.src}}" data-alt="{{=value.alt}}" data-title="{{=value.category}}" data-index={{=value.index}} data-type="list-item" data-inner-index="{{=index}}">
                            <div class="thumb-container">
                                <div class="thumb">
                                    <a class="img-placeholder" href="javascript:void(0);" title="{{=value.category}}">
                                        <span class="img-wrap" data-background-image="{{=value.thumb}}"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {{?}}
                    {{ } }}
                </ul>
                {{? it.parsedGalleryData[categoryName][0].count > it.minimumImageInCategoryCount }}
                <span class="show-all" data-type="see-all" data-open='false' data-category="{{=categoryName}}">Show All</span>
                {{?}}
            </li>
        {{ } }}
    </ul>
</div>