<section class="image_gallery_container-grid">
    <div class="gallery-header">
        <div class="header-txt">
            <span class="project-name">{{=it.leadBoxData.projectTitle}}</span>
            <span class="seperator">|</span>
            <span class="price">₹ {{=it.leadBoxData.price}}</span>
        </div>
        <span class="closebtn" data-type="close"><i class="icon-close"></i></span>
    </div>
    <div class="lead-box clearfix">
        {{var extraData;}}
        {{?it.leadBoxData.extraData}}
        {{extraData = it.leadBoxData.extraData;}}
        {{??}}
        {{extraData = it.leadBoxData;}}
        {{?}}
        <div>
            {{? it.pageType == 'property' }}
                 <div class="btn-wrap ">
                    <a class="cbtn cbtn-p gallery js-leadForm" data-type="connect-now" {{?it.isMobile}} data-call-now data-step="CALL_NOW"  {{?}}  data-cityId="{{=it.leadBoxData.leadFormData.city.id}}"  data-listingId="{{=it.leadBoxData.leadFormData.listingId}}" data-listingcategory="{{=it.leadBoxData.leadFormData.listingCategory}}" data-companyId="{{=it.leadBoxData.leadFormData.sellerDetails.sellerId}}" data-companyName="{{=it.leadBoxData.leadFormData.sellerDetails.name}}" data-companyPhone="{{=it.leadBoxData.leadFormData.sellerDetails.phone}}" data-companyRating="{{=it.leadBoxData.leadFormData.sellerDetails.rating}}" data-companyType="{{=it.leadBoxData.leadFormData.sellerDetails.type}}" data-companyUserId="{{=it.leadBoxData.leadFormData.sellerDetails.userId}}" data-companyImage="{{=it.leadBoxData.leadFormData.sellerDetails.image}}" data-companyAssist="{{=it.leadBoxData.leadFormData.sellerDetails.assist}}" data-ismakaanselectseller="{{=it.leadBoxData.leadFormData.sellerDetails.isMakaanSelectSeller||false}}"data-source="GALLERY" >Connect Now</a>
                </div>
            {{?}}
            
            {{? it.pageType == 'project' }}
                <div class="btn-wrap gallery ">
                    <a class="cbtn cbtn-p gallery js-leadForm" data-type="connect-now" data-source="GALLERY" >Connect Now</a>
                </div>
            {{?}}

            {{? it.pageType == 'serp' }}
                <div class="btn-wrap ">
                    <a  class="cbtn cbtn-p gallery js-leadForm" data-type="openLeadForm" data-rank="{{=it.leadBoxData.leadFormData.rank}}" {{?it.isMobile}}  data-step="CALL_NOW" data-call-now  {{?}} data-listingid="{{=it.leadBoxData.leadFormData.listingId}}" data-projectid="{{=it.leadBoxData.leadFormData.projectId}}" data-cityid="{{=it.leadBoxData.leadFormData.cityId}}" data-localityid="{{=it.leadBoxData.leadFormData.localityId}}" data-sellerid="{{=it.leadBoxData.leadFormData.companyId}}" data-sellername="{{=it.leadBoxData.leadFormData.companyName}}" data-sellerphone="{{=it.leadBoxData.leadFormData.companyPhone}}" data-sellerimage="{{=it.leadBoxData.leadFormData.companyImage || ''}}" data-sellerrating="{{=it.leadBoxData.leadFormData.companyRating}}" data-selleruserid="{{=it.leadBoxData.leadFormData.companyUserId}}" data-sellerassist="{{=it.leadBoxData.leadFormData.companyAssist}}" data-listingcategory="{{=it.leadBoxData.leadFormData.listingCategory}}" data-projectname="{{=it.leadBoxData.leadFormData.projectName}}" data-projectoverviewurl="{{=it.leadBoxData.leadFormData.projectOverviewUrl}}" data-sellertype="{{=it.leadBoxData.leadFormData.companyType}}" data-propertytype="{{=it.leadBoxData.leadFormData.propertyTypeLabel}}" data-builderid="{{=it.leadBoxData.leadFormData.builderId}}" data-bhk="{{=it.leadBoxData.leadFormData.bedrooms}}" data-budget="{{=it.leadBoxData.leadFormData.budget}}" data-projectstatus="{{=it.leadBoxData.leadFormData.projectStatus}}" data-propertytypeid="{{=it.leadBoxData.leadFormData.unitTypeId}}" data-source="GALLERY" data-ismakaanselectseller="{{=it.leadBoxData.leadFormData.isMakaanSelectSeller||false}}">Connect Now</a>
                </div>
            {{?}}

            {{? it.pageType == 'projectSerp' }}
                 <div class="btn-wrap">
                    <a class="cbtn cbtn-p gallery js-leadForm" data-type="lead-popup" {{?it.isMobile}} data-step="CALL_NOW" data-call-now  {{?}} data-source="GALLERY">Connect Now</a>
                </div>
            {{?}}
        </div>
    </div>
    <div class="gallery-image-container"></div>
    <div class="bottom-shadow"></div>
</section>