<div data-type="overlay-sec" class="thoverlay hidden"></div>
<div class="fc-wrap selectbox js-selectboxWrapper {{?it.selectedValue && it.selectedValue.length > 0}}active{{?}}" data-type="single-select-dropdown">
    <div class="fc" data-type="single-select-dropdown-head">
        {{? !it.moduleConfig.hideLabel}}
        <label>{{=it.label || ''}}</label>
        {{?}}
        {{##def.selectedOption:
            {{~it.options :option:index}}
                {{?it.selectedValue && (it.selectedValue.indexOf(option.value) >= 0 || it.selectedValue.indexOf(option.alternateValue) > -1)}}
                    {{=option.label}}
                {{?}}
            {{~}}
        #}}
        <span class="txt" data-target="single-select-dropdown-placeholder" title="{{#def.selectedOption}}">
            {{#def.selectedOption}}
        </span>
        <i class="icon-chevron-down arrowdown"></i>
    </div>
    <div class="select-dropdown">
        <ul class="js-ulList">
        	{{~it.options :option:index}}

            <li class="{{?it.selectedValue && (it.selectedValue.indexOf(option.value) >= 0 || it.selectedValue.indexOf(option.alternateValue) > -1)}}active{{?}}" data-type="single-select-dropdown-option" data-value="{{=option.value}}" data-name="{{=it.name}}" data-params={{=encodeURI(JSON.stringify(option))}}>
                {{=option.label}}
            </li>
            {{~}}
        </ul>
    </div>
    <div class="error-msg">{{=it.error || ''}}</div>
</div>
