<div class="ei-wrap">
	<span class="ei-close" data-type="close">
		<i class="icon-close"></i>
	</span>
	<div class="ei-content-wrap">
		<div class="img-wrap"></div>
		<div class="ei-heading">Could not find the right property?</div>
		<div class="ei-txt">Our property experts can help you out!</div>
	</div>
	<div class="ei-input-wrap">
		<div data-module="InputBox">
			<script type="text/x-config">
				{ 
					"label": "Enter Phone Number",
					"inputName":"phone",
					"value": "", 
					"type":"number", 
					"maxlength":10,
					"className": "phone-number" 
				}
			</script>
			<div class="js-input-placeholder" data-selector=PHONE_NUMBER></div>
			<div class="error-msg" id="js-err-phone"></div>
		</div>
	</div>
	<div class="ei-action-wrap">
		<div class="txt">Don't worry! Your number is safe with us.</div>
		<div class="cbtn cbtn-p" data-type="submit-number">Submit</div>
		<div class="no-thanks" data-type="no-thanks">No Thanks</div>
	</div>
</div>