<div class="ei-wrap thanks-wrap">
	<span class="ei-close" data-type="close">
		<i class="icon-close"></i>
	</span>
	<div class="ei-content-wrap">
		<div class="img-wrap"></div>
		<div class="ei-heading">Thank you for sharing your details!</div>
		<div class="ei-txt">We will get back to you in the next 24 hours</div>
	</div>
</div>