<div data-type="overlay-sec" class="thoverlay hidden"></div>
<div class="fc-wrap multiselectbox {{?it.selectedValue && it.selectedValue.length}}active{{?}}" data-type="multi-select-dropdown">
    <div class="fc" data-type="multi-select-dropdown-head">
        <label>{{=it.label}}</label>
        <span class="txt" data-target="multi-select-dropdown-placeholder">
            {{var loop=true;}}
            {{~it.options :option:index}}
                {{?it.selectedValue && it.selectedValue.indexOf(option.value) >= 0 && loop}}
                    {{=option.label}}
                    {{loop=false;}}
                {{?}}
            {{~}}
            {{?it.selectedValue && it.selectedValue.length > 1}}
                +{{=it.selectedValue.length-1}}
            {{?}}
            &nbsp;
        </span>
        <i class="icon-chevron-down arrowdown"></i>
    </div>
    <div class="select-dropdown multiselect">
        <ul>
            {{~it.options :option:index}}
            <li>
                <label for="{{=it.name}}{{=index}}" class="checkboxlbl">
                    <input data-type="multi-select-dropdown-option" id="{{=it.name}}{{=index}}" type="checkbox" data-value="{{=option.value}}" data-name="{{=it.name}}" data-label="{{=option.label}}" name="{{=it.name}}" value="{{=option.value}}" data-onchange="{{=it.onchange}}" {{?it.selectedValue && it.selectedValue.indexOf(option.value) >= 0}}checked{{?}}>
                    <span class="txt">{{=option.label}}</span>
                </label>
            </li>
            {{~}}
        </ul>
    </div>
    <div class="error-msg">{{=it.error || ''}}</div>
</div>
