@import "variables";

.errorpage {
    background-color: #fff;
    min-height: 500px;
    padding: 30px 15px 50px;
}

.errorpage-wrap {
    width: 320px;
    margin: 0 auto;
    text-align: center;

    img {
        width: 100%;
        margin: 0;
    }

    .hdng {
        font-size: 21px;
    }

    .desc {
        font-size: 16px;
    }

    .link {
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
    }

}

@media (max-width: 767px) {
    .errorpage {
        min-height: 300px;
        padding: 5px 10px 30px;
    }
    .errorpage-wrap { 
        width: 280px;
    }
}