@font-face {
    font-family: 'icomoon-alliances';
    src:    url('/fonts/icomoon-alliances.eot');
    src:    url('/fonts/icomoon-alliances.eot#iefix') format('embedded-opentype'),
        url('/fonts/icomoon-alliances.ttf') format('truetype'),
        url('/fonts/icomoon-alliances.woff') format('woff'),
        url('/fonts/icomoon-alliances.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="iconalliance-"], [class*=" iconalliance-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon-alliances';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconalliance-appliance-installation .path1:before {
    content: "\e900";
    color: rgb(255, 255, 255);
}
.iconalliance-appliance-installation .path2:before {
    content: "\e901";
    margin-left: -0.6298828125em;
    color: rgb(136, 25, 27);
}
.iconalliance-appliance-installation .path3:before {
    content: "\e902";
    margin-left: -0.6298828125em;
    color: rgb(136, 25, 27);
}
.iconalliance-appliance-installation .path4:before {
    content: "\e903";
    margin-left: -0.6298828125em;
    color: rgb(253, 188, 75);
}
.iconalliance-appliance-installation .path5:before {
    content: "\e904";
    margin-left: -0.6298828125em;
    color: rgb(140, 34, 35);
}
.iconalliance-appliance-installation .path6:before {
    content: "\e905";
    margin-left: -0.6298828125em;
    color: rgb(136, 25, 27);
}
.iconalliance-bathroom-cleaning .path1:before {
    content: "\e906";
    color: rgb(255, 255, 255);
}
.iconalliance-bathroom-cleaning .path2:before {
    content: "\e907";
    margin-left: -0.52734375em;
    color: rgb(150, 42, 48);
}
.iconalliance-bathroom-cleaning .path3:before {
    content: "\e908";
    margin-left: -0.52734375em;
    color: rgb(255, 189, 74);
}
.iconalliance-bathroom-cleaning .path4:before {
    content: "\e909";
    margin-left: -0.52734375em;
    color: rgb(150, 42, 48);
}
.iconalliance-bathroom-cleaning .path5:before {
    content: "\e90a";
    margin-left: -0.52734375em;
    color: rgb(255, 255, 255);
}
.iconalliance-bathroom-cleaning .path6:before {
    content: "\e90b";
    margin-left: -0.52734375em;
    color: rgb(151, 35, 41);
}
.iconalliance-buy-furniture-online .path1:before {
    content: "\e90c";
    color: rgb(137, 28, 29);
}
.iconalliance-buy-furniture-online .path2:before {
    content: "\e90d";
    margin-left: -1.5078125em;
    color: rgb(137, 28, 29);
}
.iconalliance-buy-furniture-online .path3:before {
    content: "\e90e";
    margin-left: -1.5078125em;
    color: rgb(136, 25, 27);
}
.iconalliance-buy-furniture-online .path4:before {
    content: "\e90f";
    margin-left: -1.5078125em;
    color: rgb(137, 28, 29);
}
.iconalliance-buy-furniture-online .path5:before {
    content: "\e910";
    margin-left: -1.5078125em;
    color: rgb(147, 48, 49);
}
.iconalliance-buy-furniture-online .path6:before {
    content: "\e911";
    margin-left: -1.5078125em;
    color: rgb(140, 34, 35);
}
.iconalliance-buy-furniture-online .path7:before {
    content: "\e912";
    margin-left: -1.5078125em;
    color: rgb(255, 189, 74);
}
.iconalliance-buy-furniture-online .path8:before {
    content: "\e913";
    margin-left: -1.5078125em;
    color: rgb(137, 28, 29);
}
.iconalliance-documentation-and-registry .path1:before {
    content: "\e914";
    color: rgb(172, 41, 47);
}
.iconalliance-documentation-and-registry .path2:before {
    content: "\e915";
    margin-left: -0.986328125em;
    color: rgb(156, 47, 52);
}
.iconalliance-documentation-and-registry .path3:before {
    content: "\e916";
    margin-left: -0.986328125em;
    color: rgb(157, 49, 55);
}
.iconalliance-documentation-and-registry .path4:before {
    content: "\e917";
    margin-left: -0.986328125em;
    color: rgb(157, 49, 55);
}
.iconalliance-documentation-and-registry .path5:before {
    content: "\e918";
    margin-left: -0.986328125em;
    color: rgb(255, 189, 74);
}
.iconalliance-documentation-and-registry .path6:before {
    content: "\e919";
    margin-left: -0.986328125em;
    color: rgb(172, 41, 48);
}
.iconalliance-documentation-and-registry .path7:before {
    content: "\e91a";
    margin-left: -0.986328125em;
    color: rgb(168, 42, 48);
}
.iconalliance-documentation-and-registry .path8:before {
    content: "\e91b";
    margin-left: -0.986328125em;
    color: rgb(168, 42, 48);
}
.iconalliance-electrician .path1:before {
    content: "\e91c";
    color: rgb(255, 189, 74);
}
.iconalliance-electrician .path2:before {
    content: "\e91d";
    margin-left: -1.1337890625em;
    color: rgb(136, 26, 28);
}
.iconalliance-electrician .path3:before {
    content: "\e91e";
    margin-left: -1.1337890625em;
    color: rgb(144, 40, 42);
}
.iconalliance-electrician .path4:before {
    content: "\e91f";
    margin-left: -1.1337890625em;
    color: rgb(144, 40, 42);
}
.iconalliance-electrician .path5:before {
    content: "\e920";
    margin-left: -1.1337890625em;
    color: rgb(144, 40, 42);
}
.iconalliance-electrician .path6:before {
    content: "\e921";
    margin-left: -1.1337890625em;
    color: rgb(164, 80, 82);
}
.iconalliance-furniture-interior .path1:before {
    content: "\e922";
    color: rgb(255, 255, 255);
}
.iconalliance-furniture-interior .path2:before {
    content: "\e923";
    margin-left: -0.6337890625em;
    color: rgb(136, 25, 27);
}
.iconalliance-furniture-interior .path3:before {
    content: "\e924";
    margin-left: -0.6337890625em;
    color: rgb(136, 25, 27);
}
.iconalliance-furniture-rental .path1:before {
    content: "\e925";
    color: rgb(253, 188, 75);
}
.iconalliance-furniture-rental .path2:before {
    content: "\e926";
    margin-left: -0.810546875em;
    color: rgb(142, 36, 38);
}
.iconalliance-furniture-rental .path3:before {
    content: "\e927";
    margin-left: -0.810546875em;
    color: rgb(142, 36, 38);
}
.iconalliance-furniture-rental .path4:before {
    content: "\e928";
    margin-left: -0.810546875em;
    color: rgb(142, 36, 38);
}
.iconalliance-furniture-rental .path5:before {
    content: "\e929";
    margin-left: -0.810546875em;
    color: rgb(142, 36, 38);
}
.iconalliance-home-chef .path1:before {
    content: "\e92a";
    color: rgb(136, 26, 28);
}
.iconalliance-home-chef .path2:before {
    content: "\e92b";
    margin-left: -1.6669921875em;
    color: rgb(255, 189, 74);
}
.iconalliance-home-chef .path3:before {
    content: "\e92c";
    margin-left: -1.6669921875em;
    color: rgb(144, 40, 42);
}
.iconalliance-home-cleaning .path1:before {
    content: "\e92d";
    color: rgb(136, 26, 28);
}
.iconalliance-home-cleaning .path2:before {
    content: "\e92e";
    margin-left: -0.97265625em;
    color: rgb(149, 50, 52);
}
.iconalliance-home-cleaning .path3:before {
    content: "\e92f";
    margin-left: -0.97265625em;
    color: rgb(160, 52, 53);
}
.iconalliance-home-cleaning .path4:before {
    content: "\e930";
    margin-left: -0.97265625em;
    color: rgb(160, 52, 53);
}
.iconalliance-home-cleaning .path5:before {
    content: "\e931";
    margin-left: -0.97265625em;
    color: rgb(160, 52, 53);
}
.iconalliance-home-cleaning .path6:before {
    content: "\e932";
    margin-left: -0.97265625em;
    color: rgb(160, 52, 53);
}
.iconalliance-home-cleaning .path7:before {
    content: "\e933";
    margin-left: -0.97265625em;
    color: rgb(160, 52, 53);
}
.iconalliance-home-cleaning .path8:before {
    content: "\e934";
    margin-left: -0.97265625em;
    color: rgb(149, 50, 52);
}
.iconalliance-home-cleaning .path9:before {
    content: "\e935";
    margin-left: -0.97265625em;
    color: rgb(255, 189, 74);
}
.iconalliance-home-hamburger .path1:before {
    content: "\e936";
    color: rgb(136, 25, 27);
}
.iconalliance-home-hamburger .path2:before {
    content: "\e937";
    margin-left: -0.9619140625em;
    color: rgb(146, 45, 47);
}
.iconalliance-home-hamburger .path3:before {
    content: "\e938";
    margin-left: -0.9619140625em;
    color: rgb(253, 188, 75);
}
.iconalliance-home-hamburger .path4:before {
    content: "\e939";
    margin-left: -0.9619140625em;
    color: rgb(253, 188, 75);
}
.iconalliance-home-hamburger .path5:before {
    content: "\e93a";
    margin-left: -0.9619140625em;
    color: rgb(146, 45, 47);
}
.iconalliance-home-hamburger .path6:before {
    content: "\e93b";
    margin-left: -0.9619140625em;
    color: rgb(146, 45, 47);
}
.iconalliance-home-inspection .path1:before {
    content: "\e93c";
    color: rgb(255, 255, 255);
}
.iconalliance-home-inspection .path2:before {
    content: "\e93d";
    margin-left: -0.6337890625em;
    color: rgb(136, 25, 27);
}
.iconalliance-home-inspection .path3:before {
    content: "\e93e";
    margin-left: -0.6337890625em;
    color: rgb(136, 24, 26);
}
.iconalliance-home-inspection .path4:before {
    content: "\e93f";
    margin-left: -0.6337890625em;
    color: rgb(253, 188, 75);
}
.iconalliance-home-inspection .path5:before {
    content: "\e940";
    margin-left: -0.6337890625em;
    color: rgb(136, 25, 27);
}
.iconalliance-home-inspection .path6:before {
    content: "\e941";
    margin-left: -0.6337890625em;
    color: rgb(136, 25, 27);
}
.iconalliance-home-insurance .path1:before {
    content: "\e942";
    color: rgb(151, 35, 41);
}
.iconalliance-home-insurance .path2:before {
    content: "\e943";
    margin-left: -0.392578125em;
    color: rgb(255, 255, 255);
}
.iconalliance-home-insurance .path3:before {
    content: "\e944";
    margin-left: -0.392578125em;
    color: rgb(151, 35, 41);
}
.iconalliance-home-insurance .path4:before {
    content: "\e945";
    margin-left: -0.392578125em;
    color: rgb(255, 189, 74);
}
.iconalliance-home-insurance .path5:before {
    content: "\e946";
    margin-left: -0.392578125em;
    color: rgb(156, 47, 52);
}
.iconalliance-house-warming .path1:before {
    content: "\e947";
    color: rgb(255, 255, 255);
}
.iconalliance-house-warming .path2:before {
    content: "\e948";
    margin-left: -0.625em;
    color: rgb(136, 25, 27);
}
.iconalliance-house-warming .path3:before {
    content: "\e949";
    margin-left: -0.625em;
    color: rgb(136, 25, 27);
}
.iconalliance-house-warming .path4:before {
    content: "\e94a";
    margin-left: -0.625em;
    color: rgb(253, 188, 75);
}
.iconalliance-house-warming .path5:before {
    content: "\e94b";
    margin-left: -0.625em;
    color: rgb(136, 25, 27);
}
.iconalliance-interior-design .path1:before {
    content: "\e94c";
    color: rgb(255, 255, 255);
}
.iconalliance-interior-design .path2:before {
    content: "\e94d";
    margin-left: -0.8984375em;
    color: rgb(136, 25, 27);
}
.iconalliance-interior-design .path3:before {
    content: "\e94e";
    margin-left: -0.8984375em;
    color: rgb(255, 189, 74);
}
.iconalliance-interior-design .path4:before {
    content: "\e94f";
    margin-left: -0.8984375em;
    color: rgb(136, 25, 27);
}
.iconalliance-interior-design .path5:before {
    content: "\e950";
    margin-left: -0.8984375em;
    color: rgb(136, 25, 27);
}
.iconalliance-interior-design .path6:before {
    content: "\e951";
    margin-left: -0.8984375em;
    color: rgb(255, 255, 255);
}
.iconalliance-interior-design .path7:before {
    content: "\e952";
    margin-left: -0.8984375em;
    color: rgb(136, 25, 27);
}
.iconalliance-interior-design .path8:before {
    content: "\e953";
    margin-left: -0.8984375em;
    color: rgb(255, 189, 74);
}
.iconalliance-interior-design .path9:before {
    content: "\e954";
    margin-left: -0.8984375em;
    color: rgb(136, 25, 27);
}
.iconalliance-interior-design .path10:before {
    content: "\e955";
    margin-left: -0.8984375em;
    color: rgb(136, 25, 27);
}
.iconalliance-kitchen-cleaning .path1:before {
    content: "\e956";
    color: rgb(151, 35, 41);
}
.iconalliance-kitchen-cleaning .path2:before {
    content: "\e957";
    margin-left: -0.853515625em;
    color: rgb(151, 35, 41);
}
.iconalliance-kitchen-cleaning .path3:before {
    content: "\e958";
    margin-left: -0.853515625em;
    color: rgb(150, 42, 48);
}
.iconalliance-kitchen-cleaning .path4:before {
    content: "\e959";
    margin-left: -0.853515625em;
    color: rgb(255, 189, 74);
}
.iconalliance-kitchen-cleaning .path5:before {
    content: "\e95a";
    margin-left: -0.853515625em;
    color: rgb(255, 189, 74);
}
.iconalliance-kitchen-cleaning .path6:before {
    content: "\e95b";
    margin-left: -0.853515625em;
    color: rgb(255, 189, 74);
}
.iconalliance-kitchen-cleaning .path7:before {
    content: "\e95c";
    margin-left: -0.853515625em;
    color: rgb(157, 49, 55);
}
.iconalliance-kitchen-cleaning .path8:before {
    content: "\e95d";
    margin-left: -0.853515625em;
    color: rgb(157, 49, 55);
}
.iconalliance-kitchen-cleaning .path9:before {
    content: "\e95e";
    margin-left: -0.853515625em;
    color: rgb(157, 49, 55);
}
.iconalliance-kitchen-cleaning .path10:before {
    content: "\e95f";
    margin-left: -0.853515625em;
    color: rgb(150, 42, 48);
}
.iconalliance-kitchen-cleaning .path11:before {
    content: "\e960";
    margin-left: -0.853515625em;
    color: rgb(255, 189, 74);
}
.iconalliance-kitchen-cleaning .path12:before {
    content: "\e961";
    margin-left: -0.853515625em;
    color: rgb(150, 42, 48);
}
.iconalliance-legal-advice .path1:before {
    content: "\e962";
    color: rgb(255, 255, 255);
}
.iconalliance-legal-advice .path2:before {
    content: "\e963";
    margin-left: -1.0625em;
    color: rgb(157, 49, 55);
}
.iconalliance-legal-advice .path3:before {
    content: "\e964";
    margin-left: -1.0625em;
    color: rgb(255, 189, 74);
}
.iconalliance-legal-advice .path4:before {
    content: "\e965";
    margin-left: -1.0625em;
    color: rgb(157, 49, 55);
}
.iconalliance-modular-kitchen .path1:before {
    content: "\e966";
    color: rgb(142, 36, 38);
}
.iconalliance-modular-kitchen .path2:before {
    content: "\e967";
    margin-left: -1.4482421875em;
    color: rgb(136, 25, 27);
}
.iconalliance-modular-kitchen .path3:before {
    content: "\e968";
    margin-left: -1.4482421875em;
    color: rgb(136, 25, 27);
}
.iconalliance-modular-kitchen .path4:before {
    content: "\e969";
    margin-left: -1.4482421875em;
    color: rgb(136, 25, 27);
}
.iconalliance-modular-kitchen .path5:before {
    content: "\e96a";
    margin-left: -1.4482421875em;
    color: rgb(136, 25, 27);
}
.iconalliance-modular-kitchen .path6:before {
    content: "\e96b";
    margin-left: -1.4482421875em;
    color: rgb(255, 189, 74);
}
.iconalliance-movers-packers .path1:before {
    content: "\e96c";
    color: rgb(255, 255, 255);
}
.iconalliance-movers-packers .path2:before {
    content: "\e96d";
    margin-left: -0.724609375em;
    color: rgb(136, 25, 27);
}
.iconalliance-movers-packers .path3:before {
    content: "\e96e";
    margin-left: -0.724609375em;
    color: rgb(136, 25, 27);
}
.iconalliance-movers-packers .path4:before {
    content: "\e96f";
    margin-left: -0.724609375em;
    color: rgb(253, 188, 75);
}
.iconalliance-movers-packers .path5:before {
    content: "\e970";
    margin-left: -0.724609375em;
    color: rgb(253, 188, 75);
}
.iconalliance-movers-packers .path6:before {
    content: "\e971";
    margin-left: -0.724609375em;
    color: rgb(136, 25, 27);
}
.iconalliance-movers-packers .path7:before {
    content: "\e972";
    margin-left: -0.724609375em;
    color: rgb(136, 25, 27);
}
.iconalliance-movers-packers .path8:before {
    content: "\e973";
    margin-left: -0.724609375em;
    color: rgb(136, 25, 27);
}
.iconalliance-movers-packers .path9:before {
    content: "\e974";
    margin-left: -0.724609375em;
    color: rgb(136, 25, 27);
}
.iconalliance-paperwork-insurance .path1:before {
    content: "\e975";
    color: rgb(255, 255, 255);
}
.iconalliance-paperwork-insurance .path2:before {
    content: "\e976";
    margin-left: -0.6337890625em;
    color: rgb(136, 25, 27);
}
.iconalliance-paperwork-insurance .path3:before {
    content: "\e977";
    margin-left: -0.6337890625em;
    color: rgb(143, 38, 40);
}
.iconalliance-paperwork-insurance .path4:before {
    content: "\e978";
    margin-left: -0.6337890625em;
    color: rgb(136, 25, 27);
}
.iconalliance-paperwork-insurance .path5:before {
    content: "\e979";
    margin-left: -0.6337890625em;
    color: rgb(252, 188, 76);
}
.iconalliance-paperwork-insurance .path6:before {
    content: "\e97a";
    margin-left: -0.6337890625em;
    color: rgb(136, 25, 27);
}
.iconalliance-party-planners .path1:before {
    content: "\e97b";
    color: rgb(144, 40, 42);
}
.iconalliance-party-planners .path2:before {
    content: "\e97c";
    margin-left: -0.7275390625em;
    color: rgb(255, 189, 74);
}
.iconalliance-party-planners .path3:before {
    content: "\e97d";
    margin-left: -0.7275390625em;
    color: rgb(136, 26, 28);
}
.iconalliance-party-planners .path4:before {
    content: "\e97e";
    margin-left: -0.7275390625em;
    color: rgb(255, 189, 74);
}
.iconalliance-pest-control .path1:before {
    content: "\e97f";
    color: rgb(253, 188, 75);
}
.iconalliance-pest-control .path2:before {
    content: "\e980";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path3:before {
    content: "\e981";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path4:before {
    content: "\e982";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path5:before {
    content: "\e983";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path6:before {
    content: "\e984";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path7:before {
    content: "\e985";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path8:before {
    content: "\e986";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path9:before {
    content: "\e987";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path10:before {
    content: "\e988";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path11:before {
    content: "\e989";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path12:before {
    content: "\e98a";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path13:before {
    content: "\e98b";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path14:before {
    content: "\e98c";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path15:before {
    content: "\e98d";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path16:before {
    content: "\e98e";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-pest-control .path17:before {
    content: "\e98f";
    margin-left: -0.439453125em;
    color: rgb(136, 25, 27);
}
.iconalliance-rent-agreement .path1:before {
    content: "\e990";
    color: rgb(151, 35, 41);
}
.iconalliance-rent-agreement .path2:before {
    content: "\e991";
    margin-left: -0.720703125em;
    color: rgb(151, 35, 41);
}
.iconalliance-rent-agreement .path3:before {
    content: "\e992";
    margin-left: -0.720703125em;
    color: rgb(151, 35, 41);
}
.iconalliance-rent-agreement .path4:before {
    content: "\e993";
    margin-left: -0.720703125em;
    color: rgb(151, 35, 41);
}
.iconalliance-rent-agreement .path5:before {
    content: "\e994";
    margin-left: -0.720703125em;
    color: rgb(151, 35, 41);
}
.iconalliance-rent-agreement .path6:before {
    content: "\e995";
    margin-left: -0.720703125em;
    color: rgb(151, 35, 41);
}
.iconalliance-rent-agreement .path7:before {
    content: "\e996";
    margin-left: -0.720703125em;
    color: rgb(255, 189, 74);
}
.iconalliance-rent-agreement .path8:before {
    content: "\e997";
    margin-left: -0.720703125em;
    color: rgb(151, 35, 41);
}
.iconalliance-rent-agreement .path9:before {
    content: "\e998";
    margin-left: -0.720703125em;
    color: rgb(151, 35, 41);
}
.iconalliance-rent-agreement .path10:before {
    content: "\e999";
    margin-left: -0.720703125em;
    color: rgb(151, 35, 41);
}
.iconalliance-repair-maintainance .path1:before {
    content: "\e99a";
    color: rgb(255, 255, 255);
}
.iconalliance-repair-maintainance .path2:before {
    content: "\e99b";
    margin-left: -0.650390625em;
    color: rgb(136, 25, 27);
}
.iconalliance-repair-maintainance .path3:before {
    content: "\e99c";
    margin-left: -0.650390625em;
    color: rgb(252, 188, 76);
}
.iconalliance-repair-maintainance .path4:before {
    content: "\e99d";
    margin-left: -0.650390625em;
    color: rgb(136, 25, 27);
}
.iconalliance-sofa-cleaning .path1:before {
    content: "\e99e";
    color: rgb(255, 189, 74);
}
.iconalliance-sofa-cleaning .path2:before {
    content: "\e99f";
    margin-left: -0.97265625em;
    color: rgb(255, 189, 74);
}
.iconalliance-sofa-cleaning .path3:before {
    content: "\e9a0";
    margin-left: -0.97265625em;
    color: rgb(136, 26, 28);
}
.iconalliance-sofa-cleaning .path4:before {
    content: "\e9a1";
    margin-left: -0.97265625em;
    color: rgb(255, 255, 255);
}
.iconalliance-sofa-cleaning .path5:before {
    content: "\e9a2";
    margin-left: -0.97265625em;
    color: rgb(144, 40, 42);
}
.iconalliance-sofa-cleaning .path6:before {
    content: "\e9a3";
    margin-left: -0.97265625em;
    color: rgb(140, 33, 35);
}
.iconalliance-sofa-cleaning .path7:before {
    content: "\e9a4";
    margin-left: -0.97265625em;
    color: rgb(140, 33, 35);
}
.iconalliance-taxi-service .path1:before {
    content: "\e9a5";
    color: rgb(255, 255, 255);
}
.iconalliance-taxi-service .path2:before {
    content: "\e9a6";
    margin-left: -0.626953125em;
    color: rgb(136, 25, 27);
}
.iconalliance-taxi-service .path3:before {
    content: "\e9a7";
    margin-left: -0.626953125em;
    color: rgb(255, 138, 145);
}
.iconalliance-taxi-service .path4:before {
    content: "\e9a8";
    margin-left: -0.626953125em;
    color: rgb(255, 189, 74);
}
.iconalliance-taxi-service .path5:before {
    content: "\e9a9";
    margin-left: -0.626953125em;
    color: rgb(255, 255, 255);
}
.iconalliance-taxi-service .path6:before {
    content: "\e9aa";
    margin-left: -0.626953125em;
    color: rgb(177, 43, 50);
}
.iconalliance-taxi-service .path7:before {
    content: "\e9ab";
    margin-left: -0.626953125em;
    color: rgb(177, 43, 50);
}
.iconalliance-taxi-service .path8:before {
    content: "\e9ac";
    margin-left: -0.626953125em;
    color: rgb(177, 43, 50);
}

