[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\f232";
}
.icon-mail:before {
  content: "\e002";
}
.icon-link:before {
  content: "\e005";
}
.icon-share:before {
  content: "\e081";
}
.icon-arrow-down:before {
  content: "\e9fd";
}
.icon-arrow-left:before {
  content: "\e9fe";
}
.icon-arrow-right:before {
  content: "\e9ff";
}
.icon-arrow-up:before {
  content: "\ea00";
}
.icon-children .path1:before {
  content: "\ebd1";
  color: rgb(91, 92, 92);
}
.icon-children .path2:before {
  content: "\ebd3";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-children .path3:before {
  content: "\ebd7";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-children .path4:before {
  content: "\ebd8";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-children .path5:before {
  content: "\ebd9";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-children .path6:before {
  content: "\ebda";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-children .path7:before {
  content: "\ebdb";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-children .path8:before {
  content: "\ebdc";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-children .path9:before {
  content: "\ebdd";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-children .path10:before {
  content: "\ebde";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-children .path11:before {
  content: "\ebdf";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-children .path12:before {
  content: "\ebe0";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-children .path13:before {
  content: "\ebe1";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path1:before {
  content: "\ec0d";
  color: rgb(231, 53, 52);
}
.icon-project .path2:before {
  content: "\ec0e";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path3:before {
  content: "\ec0f";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path4:before {
  content: "\ec10";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path5:before {
  content: "\ec11";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path6:before {
  content: "\ec12";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path7:before {
  content: "\ec13";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path8:before {
  content: "\ec14";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path9:before {
  content: "\ec15";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path10:before {
  content: "\ec16";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path11:before {
  content: "\ec17";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-project .path12:before {
  content: "\ec18";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-villa .path1:before {
  content: "\ec2e";
  color: rgb(91, 92, 92);
}
.icon-villa .path2:before {
  content: "\ec2f";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-villa .path3:before {
  content: "\ec30";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-villa .path4:before {
  content: "\ec31";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-villa .path5:before {
  content: "\ec32";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-villa .path6:before {
  content: "\ec33";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-villa .path7:before {
  content: "\ec34";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-villa .path8:before {
  content: "\ec35";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-villa .path9:before {
  content: "\ec36";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-villa .path10:before {
  content: "\ec37";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-villa .path11:before {
  content: "\ec38";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-villa .path12:before {
  content: "\ec39";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-apartment .path1:before {
  content: "\e98e";
  color: rgb(91, 92, 92);
}
.icon-apartment .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-apartment .path3:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-apartment .path4:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-apartment .path5:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path6:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path7:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path8:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path9:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path10:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path11:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path12:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path13:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path14:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-apartment .path15:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-stores .path1:before {
  content: "\ea69";
  color: rgb(92, 92, 92);
}
.icon-stores .path2:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-stores .path3:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-stores .path4:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-stores .path5:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-stores .path6:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-stores .path7:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-stores .path8:before {
  content: "\ea70";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-stores .path9:before {
  content: "\ea71";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-stores .path10:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-stores .path11:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-stores .path12:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-stores .path13:before {
  content: "\ea75";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-stores .path14:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-city .path1:before {
  content: "\ebe2";
  color: rgb(91, 92, 92);
}
.icon-city .path2:before {
  content: "\ebe3";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-city .path3:before {
  content: "\ebe4";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-city .path4:before {
  content: "\ebe5";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-city .path5:before {
  content: "\ebe6";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-city .path6:before {
  content: "\ebe7";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-city .path7:before {
  content: "\ebe8";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-city .path8:before {
  content: "\ebe9";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-city .path9:before {
  content: "\ebea";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-city .path10:before {
  content: "\ebeb";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-city .path11:before {
  content: "\ebec";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-city .path12:before {
  content: "\ebed";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-city .path13:before {
  content: "\ebee";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-multi-purpose-room .path1:before {
  content: "\eb16";
  color: rgb(92, 92, 92);
}
.icon-multi-purpose-room .path2:before {
  content: "\eb17";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-multi-purpose-room .path3:before {
  content: "\eb18";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-multi-purpose-room .path4:before {
  content: "\eb19";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-multi-purpose-room .path5:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-multi-purpose-room .path6:before {
  content: "\eb1b";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-multi-purpose-room .path7:before {
  content: "\eb1c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-multi-purpose-room .path8:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-multi-purpose-room .path9:before {
  content: "\eb1e";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-multi-purpose-room .path10:before {
  content: "\eb1f";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-multi-purpose-room .path11:before {
  content: "\eb20";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-malls .path1:before {
  content: "\eaaa";
  color: rgb(91, 91, 91);
}
.icon-malls .path2:before {
  content: "\eaab";
  margin-left: -1em;
  color: rgb(91, 91, 91);
}
.icon-malls .path3:before {
  content: "\eaac";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-malls .path4:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-malls .path5:before {
  content: "\eaae";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-malls .path6:before {
  content: "\eaaf";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-malls .path7:before {
  content: "\eab0";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-malls .path8:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-malls .path9:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-malls .path10:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-servant-room .path1:before {
  content: "\eb38";
  color: rgb(92, 92, 92);
}
.icon-servant-room .path2:before {
  content: "\eb39";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-servant-room .path3:before {
  content: "\eb3a";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-servant-room .path4:before {
  content: "\eb3b";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-servant-room .path5:before {
  content: "\eb3c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-servant-room .path6:before {
  content: "\eb3d";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-servant-room .path7:before {
  content: "\eb3e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-store-room .path1:before {
  content: "\eb8a";
  color: rgb(92, 92, 92);
}
.icon-store-room .path2:before {
  content: "\eb8b";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-store-room .path3:before {
  content: "\eb8c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-store-room .path4:before {
  content: "\eb8d";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-store-room .path5:before {
  content: "\eb8e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-store-room .path6:before {
  content: "\eb8f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-store-room .path7:before {
  content: "\eb90";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-store-room .path8:before {
  content: "\eb91";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-landmark .path1:before {
  content: "\ebef";
  color: rgb(91, 92, 92);
}
.icon-landmark .path2:before {
  content: "\ebf0";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-locality .path1:before {
  content: "\ebf1";
  color: rgb(91, 92, 92);
}
.icon-locality .path2:before {
  content: "\ebf2";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-locality .path3:before {
  content: "\ebf3";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-locality .path4:before {
  content: "\ebf4";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-maintenance:before {
  content: "\ebf5";
}
.icon-logo .path1:before {
  content: "\ebf6";
  color: rgb(250, 165, 26);
}
.icon-logo .path2:before {
  content: "\ebf7";
  margin-left: -1em;
  color: rgb(229, 37, 137);
}
.icon-logo .path3:before {
  content: "\ebf8";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-parking-covered .path1:before {
  content: "\ebf9";
  color: rgb(92, 93, 93);
}
.icon-parking-covered .path2:before {
  content: "\ebfa";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-covered .path3:before {
  content: "\ebfb";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-covered .path4:before {
  content: "\ebfc";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-covered .path5:before {
  content: "\ebfd";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-covered .path6:before {
  content: "\ebfe";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-covered .path7:before {
  content: "\ebff";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking-covered .path8:before {
  content: "\ec00";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking-covered .path9:before {
  content: "\ec01";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking-covered .path10:before {
  content: "\ec02";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking-covered .path11:before {
  content: "\ec03";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking-semi-covered .path1:before {
  content: "\ec04";
  color: rgb(92, 93, 93);
}
.icon-parking-semi-covered .path2:before {
  content: "\ec05";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-semi-covered .path3:before {
  content: "\ec06";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-semi-covered .path4:before {
  content: "\ec07";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-semi-covered .path5:before {
  content: "\ec08";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-semi-covered .path6:before {
  content: "\ec09";
  margin-left: -1em;
  color: rgb(92, 93, 93);
}
.icon-parking-semi-covered .path7:before {
  content: "\ec0a";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking-semi-covered .path8:before {
  content: "\ec0b";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking-semi-covered .path9:before {
  content: "\ec0c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking .path1:before {
  content: "\eb82";
  color: rgb(92, 92, 92);
}
.icon-parking .path2:before {
  content: "\eb83";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-parking .path3:before {
  content: "\eb84";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-parking .path4:before {
  content: "\eb85";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-parking .path5:before {
  content: "\eb86";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-parking .path6:before {
  content: "\eb87";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-parking .path7:before {
  content: "\eb88";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-parking .path8:before {
  content: "\eb89";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-spa .path1:before {
  content: "\ec20";
  color: rgb(91, 92, 92);
}
.icon-spa .path2:before {
  content: "\ec21";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-spa .path3:before {
  content: "\ec22";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-spa .path4:before {
  content: "\ec23";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path5:before {
  content: "\ec24";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-spa .path6:before {
  content: "\ec25";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path7:before {
  content: "\ec26";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path8:before {
  content: "\ec27";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path9:before {
  content: "\ec28";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path10:before {
  content: "\ec29";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path11:before {
  content: "\ec2a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path12:before {
  content: "\ec2b";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path13:before {
  content: "\ec2c";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-spa .path14:before {
  content: "\ec2d";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-plot:before {
  content: "\e933";
}
.icon-plc .path1:before {
  content: "\e934";
  color: rgb(91, 92, 92);
}
.icon-plc .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-plc .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-plc .path4:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-plc .path5:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-plc .path6:before {
  content: "\ebb4";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-plc .path7:before {
  content: "\ec3b";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-plc .path8:before {
  content: "\ec3c";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-plc .path9:before {
  content: "\ec3d";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-idc:before {
  content: "\e947";
}
.icon-search .path1:before {
  content: "\e948";
  color: rgb(231, 53, 52);
}
.icon-search .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path1:before {
  content: "\e96a";
  color: rgb(91, 92, 92);
}
.icon-study-room .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path5:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path6:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path7:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path8:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path9:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path10:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-study-room .path11:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-study-room .path12:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-study-room .path13:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-study-room .path14:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-school .path1:before {
  content: "\e9a6";
  color: rgb(91, 92, 92);
}
.icon-school .path2:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-question-round:before {
  content: "\e9f4";
}
.icon-gps:before {
  content: "\e9f5";
}
.icon-history .path1:before {
  content: "\e9f6";
  color: rgb(91, 92, 92);
}
.icon-history .path2:before {
  content: "\ec3a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-rupee:before {
  content: "\e9fc";
}
.icon-rupee2 .path1:before {
  content: "\e9f7";
  color: rgb(91, 92, 92);
}
.icon-rupee2 .path2:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-rupee2 .path3:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-rupee2 .path4:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-coffee-fill:before {
  content: "\e9fb";
}
.icon-direction:before {
  content: "\e904";
}
.icon-mapmarker:before {
  content: "\e937";
}
.icon-tick-round:before {
  content: "\e911";
}
.icon-tick:before {
  content: "\e9ca";
}
.icon-unlike:before {
  content: "\eb9b";
}
.icon-unlike-fill:before {
  content: "\eba8";
}
.icon-like:before {
  content: "\eb9c";
}
.icon-like-fill:before {
  content: "\eba9";
}
.icon-error:before {
  content: "\eb96";
}
.icon-info-round:before {
  content: "\ebb7";
}
.icon-down-round:before {
  content: "\ebb5";
}
.icon-up-round:before {
  content: "\ebb6";
}
.icon-plane:before {
  content: "\e96c";
}
.icon-bus:before {
  content: "\eae8";
}
.icon-train:before {
  content: "\e9cc";
}
.icon-play:before {
  content: "\e9ec";
}
.icon-pause:before {
  content: "\e9eb";
}
.icon-volume .path1:before {
  content: "\ea28";
  color: rgb(91, 92, 92);
}
.icon-volume .path2:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-volume .path3:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-volume .path4:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-star:before {
  content: "\ebbd";
}
.icon-starhalf:before {
  content: "\ebcf";
}
.icon-starfill:before {
  content: "\ebd2";
}
.icon-makaan:before {
  content: "\ebd0";
}
.icon-makaanfill:before {
  content: "\ebd4";
}
.icon-call .path1:before {
  content: "\ebcb";
  color: rgb(231, 54, 53);
}
.icon-call .path2:before {
  content: "\ebcc";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-call .path3:before {
  content: "\ebcd";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-call .path4:before {
  content: "\ebce";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-money .path1:before {
  content: "\e95c";
  color: rgb(242, 133, 68);
}
.icon-money .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(242, 133, 68);
}
.icon-money .path4:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path5:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path6:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path7:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path8:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path9:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path10:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path11:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path12:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path13:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-money .path14:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-cheers .path1:before {
  content: "\e9a7";
  color: rgb(229, 216, 90);
}
.icon-cheers .path2:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-cheers .path3:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-cheers .path4:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-cheers .path5:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-cheers .path6:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-cheers .path7:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(228, 173, 64);
}
.icon-cheers .path8:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-otp .path1:before {
  content: "\e938";
  color: rgb(115, 201, 201);
}
.icon-otp .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(50, 78, 86);
}
.icon-otp .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(50, 78, 86);
}
.icon-otp .path4:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(50, 78, 86);
}
.icon-otp .path5:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(216, 217, 216);
}
.icon-otp .path6:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(50, 78, 86);
}
.icon-otp .path7:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(50, 78, 86);
}
.icon-otp .path8:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(232, 131, 168);
}
.icon-otp .path9:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(50, 78, 86);
}
.icon-otp .path10:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(83, 84, 84);
}
.icon-otp .path11:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(83, 84, 84);
}
.icon-house .path1:before {
  content: "\ea38";
  color: rgb(49, 78, 85);
}
.icon-house .path2:before {
  content: "\ea39";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-house .path3:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path4:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(242, 133, 68);
}
.icon-house .path5:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path6:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-house .path7:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path8:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-house .path9:before {
  content: "\ea40";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path10:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-house .path11:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path12:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path13:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(197, 153, 129);
}
.icon-house .path14:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path15:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path16:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-house .path17:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path18:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-house .path19:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path20:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-house .path21:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-house .path22:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-house .path23:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-bed2 .path1:before {
  content: "\ea2c";
  color: rgb(115, 201, 201);
}
.icon-bed2 .path2:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-bed2 .path3:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-bed2 .path4:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-bed2 .path5:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-bed2 .path6:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-bed2 .path7:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(233, 231, 209);
}
.icon-bed2 .path8:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-bed2 .path9:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(234, 134, 165);
}
.icon-bed2 .path10:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-bed2 .path11:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(234, 134, 165);
}
.icon-bed2 .path12:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-location .path1:before {
  content: "\ea24";
  color: rgb(94, 203, 102);
}
.icon-location .path2:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-location .path3:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-location .path4:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-icecream .path1:before {
  content: "\e954";
  color: rgb(233, 231, 209);
}
.icon-icecream .path2:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-icecream .path3:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(115, 201, 201);
}
.icon-icecream .path4:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-icecream .path5:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-icecream .path6:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-icecream .path7:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-icecream .path8:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path1:before {
  content: "\e980";
  color: rgb(228, 173, 64);
}
.icon-priest .path2:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path3:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(233, 231, 209);
}
.icon-priest .path4:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path5:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(233, 231, 209);
}
.icon-priest .path6:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path7:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(233, 231, 209);
}
.icon-priest .path8:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path9:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path10:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path11:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path12:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-priest .path13:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(219, 207, 86);
}
.icon-priest .path14:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path1:before {
  content: "\e9b9";
  color: rgb(233, 231, 209);
}
.icon-information .path2:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path3:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-information .path4:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path5:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-information .path6:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path7:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(129, 164, 227);
}
.icon-information .path8:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path9:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-information .path10:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path11:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path12:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path13:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path14:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path15:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path16:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-information .path17:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-connect .path1:before {
  content: "\e9e0";
  color: rgb(49, 78, 85);
}
.icon-connect .path2:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(242, 133, 68);
}
.icon-connect .path3:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-facebook .path1:before {
  content: "\ea07";
  color: rgb(129, 164, 227);
}
.icon-facebook .path2:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-linkedin .path1:before {
  content: "\e9e9";
  color: rgb(129, 164, 227);
}
.icon-linkedin .path2:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-google-plus .path1:before {
  content: "\e9ed";
  color: rgb(230, 95, 88);
}
.icon-google-plus .path2:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-google-plus .path3:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-google-plus .path4:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-twitter .path1:before {
  content: "\e9f1";
  color: rgb(115, 201, 201);
}
.icon-twitter .path2:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(49, 78, 85);
}
.icon-intercom .path1:before {
  content: "\e905";
  color: rgb(91, 92, 92);
}
.icon-intercom .path2:before {
  content: "\ec3e";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-intercom .path3:before {
  content: "\ec3f";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-intercom .path4:before {
  content: "\ec40";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path5:before {
  content: "\ec41";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-intercom .path6:before {
  content: "\ec42";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path7:before {
  content: "\ec43";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path8:before {
  content: "\ec44";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path9:before {
  content: "\ec45";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path10:before {
  content: "\ec46";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path11:before {
  content: "\ec47";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path12:before {
  content: "\ec48";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path13:before {
  content: "\ec49";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-intercom .path14:before {
  content: "\ec4a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-prayer .path1:before {
  content: "\e912";
  color: rgb(92, 92, 92);
}
.icon-prayer .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-prayer .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-weather .path1:before {
  content: "\e916";
  color: rgb(231, 53, 52);
}
.icon-weather .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path3:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path4:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path5:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path6:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path7:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path8:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path9:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path10:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path11:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path12:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path13:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path14:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-weather .path15:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-weather .path16:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-weather .path17:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-weather .path18:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-weather .path19:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-weather .path20:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-equalizer .path1:before {
  content: "\e92a";
  color: rgb(91, 92, 92);
}
.icon-equalizer .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-equalizer .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-equalizer .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-equalizer .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-equalizer .path6:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-equalizer .path7:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-cinema .path1:before {
  content: "\e943";
  color: rgb(91, 92, 92);
}
.icon-cinema .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-cinema .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-other .path1:before {
  content: "\e94a";
  color: rgb(91, 92, 92);
}
.icon-other .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-other .path3:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-other .path4:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-lift .path1:before {
  content: "\e94e";
  color: rgb(231, 54, 53);
}
.icon-lift .path2:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-lift .path3:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-lift .path4:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-lift .path5:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-lift .path6:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-club-card .path1:before {
  content: "\e96d";
  color: rgb(92, 92, 92);
}
.icon-club-card .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-club-card .path3:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-club-card .path4:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-club-card .path5:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-club-card .path6:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-club-card .path7:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-garden .path1:before {
  content: "\e99d";
  color: rgb(231, 54, 53);
}
.icon-garden .path2:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-garden .path3:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-garden .path4:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-garden .path5:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-garden .path6:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-garden .path7:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-garden .path8:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-garden .path9:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-wardrobe .path1:before {
  content: "\e9af";
  color: rgb(91, 92, 92);
}
.icon-wardrobe .path2:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-wardrobe .path3:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-wardrobe .path4:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-wardrobe .path5:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-wardrobe .path6:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-wardrobe .path7:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-wardrobe .path8:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-wardrobe .path9:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-wardrobe .path10:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-overflow:before {
  content: "\e9cb";
}
.icon-golf .path1:before {
  content: "\e9cd";
  color: rgb(91, 92, 92);
}
.icon-golf .path2:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-golf .path3:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-golf .path4:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-golf .path5:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-golf .path6:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-golf .path7:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-golf .path8:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-golf .path9:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-golf .path10:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-cctv .path1:before {
  content: "\e9d7";
  color: rgb(91, 92, 92);
}
.icon-cctv .path2:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-cctv .path3:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-cctv .path4:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-cctv .path5:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-cctv .path6:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-cctv .path7:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-vaastu .path1:before {
  content: "\e9de";
  color: rgb(91, 92, 92);
}
.icon-vaastu .path2:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-repost .path1:before {
  content: "\e9e3";
  color: rgb(91, 92, 92);
}
.icon-repost .path2:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-repost .path3:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-repost .path4:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-repost .path5:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-repost .path6:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-site-visit .path1:before {
  content: "\ea0a";
  color: rgb(255, 255, 255);
}
.icon-site-visit .path2:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(136, 25, 27);
}
.icon-site-visit .path3:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-site-visit .path4:before {
  content: "\e900";
  margin-left: -1em;
  color: rgb(251, 203, 204);
}
.icon-site-visit .path5:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-saved-search .path1:before {
  content: "\ea0d";
  color: rgb(255, 255, 255);
}
.icon-saved-search .path2:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(136, 25, 27);
}
.icon-saved-search .path3:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-saved-search .path4:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(253, 188, 75);
}
.icon-saved-search .path5:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(136, 25, 27);
}
.icon-registration .path1:before {
  content: "\ea10";
  color: rgb(255, 255, 255);
}
.icon-registration .path2:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(136, 25, 27);
}
.icon-registration .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(251, 204, 205);
}
.icon-registration .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(136, 26, 28);
}
.icon-shortlist .path1:before {
  content: "\ea12";
  color: rgb(255, 255, 255);
}
.icon-shortlist .path2:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(136, 25, 27);
}
.icon-shortlist .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-master-plan .path1:before {
  content: "\ea14";
  color: rgb(91, 92, 92);
}
.icon-master-plan .path2:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-master-plan .path3:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-master-plan .path4:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-master-plan .path5:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-master-plan .path6:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-master-plan .path7:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-master-plan .path8:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-home-loan .path1:before {
  content: "\ea1c";
  color: rgb(255, 255, 255);
}
.icon-home-loan .path2:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(136, 25, 27);
}
.icon-home-loan .path3:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-home-loan .path4:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-home-loan .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-unit-booking .path1:before {
  content: "\ea20";
  color: rgb(250, 203, 205);
}
.icon-unit-booking .path2:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(136, 25, 27);
}
.icon-unit-booking .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-unit-booking .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(251, 204, 205);
}
.icon-unit-booking .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-unit-booking .path6:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-unit-booking .path7:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-possession .path1:before {
  content: "\ea22";
  color: rgb(255, 255, 255);
}
.icon-possession .path2:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(136, 25, 27);
}
.icon-possession .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-possession .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-possession .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(136, 24, 26);
}
.icon-possession .path6:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(252, 188, 76);
}
.icon-possession .path7:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(136, 26, 28);
}
.icon-edit .path1:before {
  content: "\ea4f";
  color: rgb(91, 92, 92);
}
.icon-edit .path2:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-edit .path3:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-edit .path4:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-sort .path1:before {
  content: "\ea53";
  color: rgb(92, 92, 92);
}
.icon-sort .path2:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-sort .path3:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-sort .path4:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-recent-view2 .path1:before {
  content: "\ea57";
  color: rgb(92, 92, 92);
}
.icon-recent-view2 .path2:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-recent-view2 .path3:before {
  content: "\ea59";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-ac .path1:before {
  content: "\ea5a";
  color: rgb(92, 92, 92);
}
.icon-ac .path2:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-ac .path3:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-ac .path4:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-ac .path5:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-ac .path6:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-ac .path7:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-ac .path8:before {
  content: "\ea61";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-ac .path9:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.icon-ac .path10:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(237, 28, 36);
}
.icon-recent-view:before {
  content: "\ea64";
}
.icon-club-house .path1:before {
  content: "\ea65";
  color: rgb(231, 54, 53);
}
.icon-club-house .path2:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-club-house .path3:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-club-house .path4:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-jogging-track .path1:before {
  content: "\ea77";
  color: rgb(92, 92, 92);
}
.icon-jogging-track .path2:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-jogging-track .path3:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-jogging-track .path4:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-jogging-track .path5:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-jogging-track .path6:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-racket .path1:before {
  content: "\ea7d";
  color: rgb(92, 92, 92);
}
.icon-racket .path2:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-racket .path3:before {
  content: "\ea7f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-racket .path4:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-racket .path5:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-racket .path6:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-racket .path7:before {
  content: "\ea83";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-racket .path8:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-racket .path9:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-racket .path10:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-racket .path11:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-power .path1:before {
  content: "\ea88";
  color: rgb(92, 92, 92);
}
.icon-power .path2:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-power .path3:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-gym .path1:before {
  content: "\ea8b";
  color: rgb(231, 54, 53);
}
.icon-gym .path2:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-gym .path3:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-gym .path4:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-gym .path5:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-gym .path6:before {
  content: "\ea90";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-gym .path7:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-gym .path8:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-swimming-pool .path1:before {
  content: "\ea93";
  color: rgb(92, 92, 92);
}
.icon-swimming-pool .path2:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-swimming-pool .path3:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-swimming-pool .path4:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-swimming-pool .path5:before {
  content: "\ea97";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-swimming-pool .path6:before {
  content: "\ea98";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-swimming-pool .path7:before {
  content: "\ea99";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-back-arrow .path1:before {
  content: "\ea9a";
  color: rgb(92, 92, 93);
}
.icon-back-arrow .path2:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(230, 55, 53);
}
.icon-back-arrow .path3:before {
  content: "\ea9c";
  margin-left: -1em;
  color: rgb(230, 55, 53);
}
.icon-sofa .path1:before {
  content: "\ea9d";
  color: rgb(231, 54, 53);
}
.icon-sofa .path2:before {
  content: "\ea9e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-sofa .path3:before {
  content: "\ea9f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-sofa .path4:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-sofa .path5:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-sofa .path6:before {
  content: "\eaa2";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-sofa .path7:before {
  content: "\eaa3";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-sofa .path8:before {
  content: "\eaa4";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-night-club .path1:before {
  content: "\eaa5";
  color: rgb(92, 92, 92);
}
.icon-night-club .path2:before {
  content: "\eaa6";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-night-club .path3:before {
  content: "\eaa7";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-night-club .path4:before {
  content: "\eaa8";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-night-club .path5:before {
  content: "\eaa9";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-hospitals .path1:before {
  content: "\eab4";
  color: rgb(92, 92, 92);
}
.icon-hospitals .path2:before {
  content: "\eab5";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-rastaurants .path1:before {
  content: "\eab6";
  color: rgb(92, 92, 92);
}
.icon-rastaurants .path2:before {
  content: "\eab7";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-rastaurants .path3:before {
  content: "\eab8";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-rastaurants .path4:before {
  content: "\eab9";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-rastaurants .path5:before {
  content: "\eaba";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-atm .path1:before {
  content: "\eabb";
  color: rgb(92, 92, 92);
}
.icon-atm .path2:before {
  content: "\eabc";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-atm .path3:before {
  content: "\eabd";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-atm .path4:before {
  content: "\eabe";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-atm .path5:before {
  content: "\eabf";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-microwave .path1:before {
  content: "\eac0";
  color: rgb(92, 92, 92);
}
.icon-microwave .path2:before {
  content: "\eac1";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path3:before {
  content: "\eac2";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path4:before {
  content: "\eac3";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path5:before {
  content: "\eac4";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path6:before {
  content: "\eac5";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path7:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path8:before {
  content: "\eac7";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path9:before {
  content: "\eac8";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path10:before {
  content: "\eac9";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path11:before {
  content: "\eaca";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-microwave .path12:before {
  content: "\eacb";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-microwave .path13:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-microwave .path14:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-microwave .path15:before {
  content: "\eace";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path16:before {
  content: "\eacf";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-microwave .path17:before {
  content: "\ead0";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-washing-machine .path1:before {
  content: "\ead1";
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path2:before {
  content: "\ead2";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path3:before {
  content: "\ead3";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-washing-machine .path4:before {
  content: "\ead4";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-washing-machine .path5:before {
  content: "\ead5";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-washing-machine .path6:before {
  content: "\ead6";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path7:before {
  content: "\ead7";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path8:before {
  content: "\ead8";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path9:before {
  content: "\ead9";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path10:before {
  content: "\eada";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path11:before {
  content: "\eadb";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path12:before {
  content: "\eadc";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path13:before {
  content: "\eadd";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path14:before {
  content: "\eade";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path15:before {
  content: "\eadf";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path16:before {
  content: "\eae0";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-washing-machine .path17:before {
  content: "\eae1";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-wifi .path1:before {
  content: "\eae2";
  color: rgb(92, 92, 92);
}
.icon-wifi .path2:before {
  content: "\eae3";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-wifi .path3:before {
  content: "\eae4";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-wifi .path4:before {
  content: "\eae5";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-wifi .path5:before {
  content: "\eae6";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-wifi .path6:before {
  content: "\eae7";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-fridge .path1:before {
  content: "\eae9";
  color: rgb(231, 54, 53);
}
.icon-fridge .path2:before {
  content: "\eaea";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-fridge .path3:before {
  content: "\eaeb";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-fridge .path4:before {
  content: "\eaec";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-fridge .path5:before {
  content: "\eaed";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-fridge .path6:before {
  content: "\eaee";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-dining-table .path1:before {
  content: "\eaef";
  color: rgb(92, 92, 92);
}
.icon-dining-table .path2:before {
  content: "\eaf0";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-dining-table .path3:before {
  content: "\eaf1";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-dining-table .path4:before {
  content: "\eaf2";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-dining-table .path5:before {
  content: "\eaf3";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-dining-table .path6:before {
  content: "\eaf4";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-dining-table .path7:before {
  content: "\eaf5";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-dining-table .path8:before {
  content: "\eaf6";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-dining-table .path9:before {
  content: "\eaf7";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-dining-table .path10:before {
  content: "\eaf8";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-dining-table .path11:before {
  content: "\eaf9";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-dining-table .path12:before {
  content: "\eafa";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-TV .path1:before {
  content: "\eafb";
  color: rgb(92, 92, 92);
}
.icon-TV .path2:before {
  content: "\eafc";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-TV .path3:before {
  content: "\eafd";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-TV .path4:before {
  content: "\eafe";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-TV .path5:before {
  content: "\eaff";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-TV .path6:before {
  content: "\eb00";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path1:before {
  content: "\eb01";
  color: rgb(92, 92, 92);
}
.icon-football .path2:before {
  content: "\eb02";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path3:before {
  content: "\eb03";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path4:before {
  content: "\eb04";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path5:before {
  content: "\eb05";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path6:before {
  content: "\eb06";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path7:before {
  content: "\eb07";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path8:before {
  content: "\eb08";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path9:before {
  content: "\eb09";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path10:before {
  content: "\eb0a";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path11:before {
  content: "\eb0b";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-football .path12:before {
  content: "\eb0c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bed .path1:before {
  content: "\eb0d";
  color: rgb(92, 92, 92);
}
.icon-bed .path2:before {
  content: "\eb0e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bed .path3:before {
  content: "\eb0f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bed .path4:before {
  content: "\eb10";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-bed .path5:before {
  content: "\eb11";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-bed .path6:before {
  content: "\eb12";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bed .path7:before {
  content: "\eb13";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bed .path8:before {
  content: "\eb14";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-bed .path9:before {
  content: "\eb15";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-security .path1:before {
  content: "\eb21";
  color: rgb(92, 92, 92);
}
.icon-security .path2:before {
  content: "\eb22";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-security .path3:before {
  content: "\eb23";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-security .path4:before {
  content: "\eb24";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-security .path5:before {
  content: "\eb25";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-security .path6:before {
  content: "\eb26";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-security .path7:before {
  content: "\eb27";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-security .path8:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bag .path1:before {
  content: "\eb29";
  color: rgb(231, 54, 53);
}
.icon-bag .path2:before {
  content: "\eb2a";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bag .path3:before {
  content: "\eb2b";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bag .path4:before {
  content: "\eb2c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bag .path5:before {
  content: "\eb2d";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-coffee .path1:before {
  content: "\eb2e";
  color: rgb(231, 54, 53);
}
.icon-coffee .path2:before {
  content: "\eb2f";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-coffee .path3:before {
  content: "\eb30";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-close-circle .path1:before {
  content: "\eb31";
  color: rgb(92, 92, 92);
}
.icon-close-circle .path2:before {
  content: "\eb32";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-close-circle .path3:before {
  content: "\eb33";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-add:before {
  content: "\eb34";
}
.icon-crop:before {
  content: "\eb35";
}
.icon-retry .path1:before {
  content: "\eb36";
  color: rgb(92, 92, 92);
}
.icon-retry .path2:before {
  content: "\eb37";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-content-tick .path1:before {
  content: "\eb3f";
  color: rgb(231, 54, 53);
}
.icon-content-tick .path2:before {
  content: "\eb40";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-content-tick .path3:before {
  content: "\eb41";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-content-tick .path4:before {
  content: "\eb42";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-content-tick .path5:before {
  content: "\eb43";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-content-tick .path6:before {
  content: "\eb44";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-content-tick .path7:before {
  content: "\eb45";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-content-tick .path8:before {
  content: "\eb46";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-content-tick .path9:before {
  content: "\eb47";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-content-tick .path10:before {
  content: "\eb48";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-content-tick .path11:before {
  content: "\eb49";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-pet .path1:before {
  content: "\eb4a";
  color: rgb(92, 92, 92);
}
.icon-pet .path2:before {
  content: "\eb4b";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-pet .path3:before {
  content: "\eb4c";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-pet .path4:before {
  content: "\eb4d";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-pet .path5:before {
  content: "\eb4e";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-pet .path6:before {
  content: "\eb4f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-pet .path7:before {
  content: "\eb50";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-builder .path1:before {
  content: "\ea01";
  color: rgb(231, 53, 52);
}
.icon-builder .path2:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-builder .path3:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-builder .path4:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-builder .path5:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-builder .path6:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-builder .path7:before {
  content: "\ebaa";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-builder .path8:before {
  content: "\ebbe";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-bachelor .path1:before {
  content: "\eb51";
  color: rgb(92, 92, 92);
}
.icon-bachelor .path2:before {
  content: "\eb52";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-bachelor .path3:before {
  content: "\eb53";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-seller .path1:before {
  content: "\ec19";
  color: rgb(231, 53, 52);
}
.icon-seller .path2:before {
  content: "\ec1a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-seller .path3:before {
  content: "\ec1b";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-seller .path4:before {
  content: "\ec1c";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-seller .path5:before {
  content: "\ec1d";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-seller .path6:before {
  content: "\ec1e";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-seller .path7:before {
  content: "\ec1f";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-family .path1:before {
  content: "\eb54";
  color: rgb(92, 92, 92);
}
.icon-family .path2:before {
  content: "\eb55";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-family .path3:before {
  content: "\eb56";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-family .path4:before {
  content: "\eb57";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-family .path5:before {
  content: "\eb58";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-family .path6:before {
  content: "\eb59";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-house-add .path1:before {
  content: "\eb5a";
  color: rgb(92, 92, 92);
}
.icon-house-add .path2:before {
  content: "\eb5b";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-house-add .path3:before {
  content: "\eb5c";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-house-add .path4:before {
  content: "\eb5d";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-house-add .path5:before {
  content: "\eb5e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-house-add .path6:before {
  content: "\eb5f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-form .path1:before {
  content: "\eb60";
  color: rgb(92, 92, 92);
}
.icon-form .path2:before {
  content: "\eb61";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-form .path3:before {
  content: "\eb62";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-form .path4:before {
  content: "\eb63";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-form .path5:before {
  content: "\eb64";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-form .path6:before {
  content: "\eb65";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-form .path7:before {
  content: "\eb66";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-form .path8:before {
  content: "\eb67";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-form .path9:before {
  content: "\eb68";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-form .path10:before {
  content: "\eb69";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-whatsapp2 .path1:before {
  content: "\eb6a";
  color: rgb(92, 92, 92);
}
.icon-whatsapp2 .path2:before {
  content: "\eb6b";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-add-images .path1:before {
  content: "\eb6c";
  color: rgb(231, 54, 53);
}
.icon-add-images .path2:before {
  content: "\eb6d";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-add-images .path3:before {
  content: "\eb6e";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-add-images .path4:before {
  content: "\eb6f";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-add-images .path5:before {
  content: "\eb70";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-calendar .path1:before {
  content: "\eb71";
  color: rgb(92, 92, 92);
}
.icon-calendar .path2:before {
  content: "\eb72";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-calendar .path3:before {
  content: "\eb73";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-calendar .path4:before {
  content: "\eb74";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-calendar .path5:before {
  content: "\eb75";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-calendar .path6:before {
  content: "\eb76";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-calendar .path7:before {
  content: "\eb77";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-calendar .path8:before {
  content: "\eb78";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-calendar .path9:before {
  content: "\eb79";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-calendar .path10:before {
  content: "\eb7a";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-calendar .path11:before {
  content: "\eb7b";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-alarm .path1:before {
  content: "\eb7c";
  color: rgb(92, 92, 92);
}
.icon-alarm .path2:before {
  content: "\eb7d";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-alarm .path3:before {
  content: "\eb7e";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-alarm .path4:before {
  content: "\eb7f";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-alarm .path5:before {
  content: "\eb80";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-alarm .path6:before {
  content: "\eb81";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-fire .path1:before {
  content: "\eb92";
  color: rgb(231, 53, 52);
}
.icon-fire .path2:before {
  content: "\eb93";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-fire .path3:before {
  content: "\eb94";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-fire .path4:before {
  content: "\eb95";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-chat .path1:before {
  content: "\eb97";
  color: rgb(91, 92, 92);
}
.icon-chat .path2:before {
  content: "\eb98";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-chat .path3:before {
  content: "\eb99";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-chat .path4:before {
  content: "\eb9a";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-delete .path1:before {
  content: "\eb9d";
  color: rgb(91, 92, 92);
}
.icon-delete .path2:before {
  content: "\eb9e";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-delete .path3:before {
  content: "\eb9f";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-delete .path4:before {
  content: "\eba0";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-delete .path5:before {
  content: "\eba1";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-delete .path6:before {
  content: "\eba2";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-treatment .path1:before {
  content: "\eba3";
  color: rgb(91, 92, 92);
}
.icon-treatment .path2:before {
  content: "\eba4";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-treatment .path3:before {
  content: "\eba5";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-treatment .path4:before {
  content: "\eba6";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-treatment .path5:before {
  content: "\eba7";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-area:before {
  content: "\ebab";
}
.icon-chevron-right:before {
  content: "\ebac";
}
.icon-chevron-left:before {
  content: "\ebad";
}
.icon-chevron-down:before {
  content: "\ebae";
}
.icon-chevron-up:before {
  content: "\ebaf";
}
.icon-reset .path1:before {
  content: "\ebb0";
  color: rgb(92, 92, 92);
}
.icon-reset .path2:before {
  content: "\ebb1";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-reset .path3:before {
  content: "\ebb2";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-reset .path4:before {
  content: "\ebb3";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-quick-view .path1:before {
  content: "\ebb8";
  color: rgb(91, 91, 91);
}
.icon-quick-view .path2:before {
  content: "\ebb9";
  margin-left: -1em;
  color: rgb(91, 91, 91);
}
.icon-quick-view .path3:before {
  content: "\ebba";
  margin-left: -1em;
  color: rgb(231, 52, 52);
}
.icon-quick-view .path4:before {
  content: "\ebbb";
  margin-left: -1em;
  color: rgb(231, 52, 52);
}
.icon-quick-view .path5:before {
  content: "\ebbc";
  margin-left: -1em;
  color: rgb(231, 52, 52);
}
.icon-list .path1:before {
  content: "\ebbf";
  color: rgb(92, 92, 92);
}
.icon-list .path2:before {
  content: "\ebc0";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-list .path3:before {
  content: "\ebc1";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-list .path4:before {
  content: "\ebc2";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-list .path5:before {
  content: "\ebc3";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-list .path6:before {
  content: "\ebc4";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-list .path7:before {
  content: "\ebc5";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-filter:before {
  content: "\ebc6";
}
.icon-close:before {
  content: "\ebc7";
}
.icon-map .path1:before {
  content: "\ebc8";
  color: rgb(92, 92, 92);
}
.icon-map .path2:before {
  content: "\ebc9";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-map .path3:before {
  content: "\ebca";
  margin-left: -1em;
  color: rgb(231, 54, 53);
}
.icon-notification .path1:before {
  content: "\ebd5";
  color: rgb(231, 52, 52);
}
.icon-notification .path2:before {
  content: "\ebd6";
  margin-left: -1em;
  color: rgb(91, 91, 91);
}