
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e005";
}
.icon-share:before {
  content: "\e081";
}
.icon-logo .path1:before {
  content: "\ebf6";
  color: rgb(250, 165, 26);
}
.icon-logo .path2:before {
  content: "\ebf7";
  margin-left: -1em;
  color: rgb(229, 37, 137);
}
.icon-logo .path3:before {
  content: "\ebf8";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-search .path1:before {
  content: "\e948";
  color: rgb(231, 53, 52);
}
.icon-search .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-down-round:before {
  content: "\ebb5";
}
.icon-makaan:before {
  content: "\ebd0";
}
.icon-makaanfill:before {
  content: "\ebd4";
  color: #e71c28;
}
.icon-equalizer .path1:before {
  content: "\e92a";
  color: rgb(91, 92, 92);
}
.icon-equalizer .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-equalizer .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-equalizer .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(91, 92, 92);
}
.icon-equalizer .path5:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-equalizer .path6:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-equalizer .path7:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(231, 53, 52);
}
.icon-sort .path1:before {
  content: "\ea53";
  color: rgb(92, 92, 92);
}
.icon-sort .path2:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-sort .path3:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-sort .path4:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-crop:before {
  content: "\eb35";
}
.icon-chevron-down:before {
  content: "\ebae";
}
.icon-reset .path1:before {
  content: "\ebb0";
  color: rgb(92, 92, 92);
}
.icon-reset .path2:before {
  content: "\ebb1";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-reset .path3:before {
  content: "\ebb2";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-reset .path4:before {
  content: "\ebb3";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-close:before {
  content: "\ebc7";
}
.icon-map .path1:before {
  content: "\ebc8";
  color: rgb(92, 92, 92);
}
.icon-map .path2:before {
  content: "\ebc9";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
.icon-map .path3:before {
  content: "\ebca";
  margin-left: -1em;
  color: rgb(92, 92, 92);
}
