/*
Desc: Variable Scss Document
Author: Nimit Mangal
Date: 11 October 2015
*/

$roboto: Roboto, -apple-system, BlinkMacSystemFont,
      Helvetica Neue, Segoe UI, sans-serif;

/*** Body ***/
$body-bg-color: #f7f7f7 !default;
$body-color: #444;
$body-font-size: 14px;
$body-width: 100%;
$font-style: normal;

$link-color: #e81c28;
$dark-link-color: #e4101d;
$dark-link-color2: #8f0f16;
$icon-color: #fba511;
$white: #ffffff;
$sec-bodybg-color: #fafafa;
$theme-color-two: #e79200;

$link-color2: #fba510;

$pink-color: #e62489;
$green-color: #21a657;
$heading-color: #292929;
$light-text: #9b9b9b;
$light-gray: #eee;
$theme-color-two: #fba511;
$theme-color: #e71c28;
$title-text: #444;
$bg-color1: #becdd4;
$bg-color2: #ffc72b;

/// Header Height
$hdrheight: 50px;

$hdrheightMobile: 45px;

/// Serp sidebar
$sidebarwidth: 420px;

/// filterbar height
$filterbarheight: 45px;

/// top heading wrap height
$tophdngwrap: 55px;
$tophdngwrapSpon: 71px;

/*** text colors ***/
$dark-color: #1c1c1c;
$notdark-color: #555;
$light-color: #666;
$lighter-color: #999999;
$green : #51a113;
$box-shadow:rgba(0,0,0,0.3);

$light-bg: #eeeeee;
$offerBtn: #ffbe4a;

/*** text colors ***/
$title-color: #444;
$sub-title-color: #777;
$semi-dark-color: #444;
$theme-color: #E71C28;
$black-color: #000;
$blue-shade-grey: #6c7476;

/*** mcards***/
$card-height:475px;
$card-width:370px;
$transition-curve:cubic-bezier(0, 0, 0, 0.86);
$border-color: #eee;
/*** font sizes ***/
$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 18px;

$p1: 16px;
$p2: 14px;
$p3: 13px;

/* homeloan*/
$light-border:rgba(204, 204, 204, .5);

/***  Path for fonts files ***/
$fontPath : "/fonts";
$imgPath : "/images";
