@import "variables";
@import "mixins/ellipsis";

/* Add an Event module pop up css */
.ad-n-event-popup-box {
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    background-color: #fff;
    position: relative;
    .popup-head {
        padding: 20px 15px;
        position: relative;
        text-align: center;
        border-bottom: 1px solid #ebebeb;
        .backBtn {
            position: absolute;
            left: 15px;
            top: 10px;
            color: $link-color;
            font-size: 30px;
            cursor: pointer;
        }
        .clse-btn {
            position: absolute;
            right: 15px;
            top: 22px;
            font-size: 12px;
            cursor: pointer;
        }
    }
    .congratulation-txt{
        margin: 5% auto;
        i.icon-icecream{
            font-size: 50px;
        }
        .heading{
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid #eeeeee;
        }
        p{
            margin-bottom: 25px;
        }
    }
    .popup-content {
        padding: 30px;
        .content-head {
            font-size: 16px;
            text-align: center;
            font-weight: bold;
        }
    }
    .experience-txt{
        font-size: 16px;
        color: #454545;
        bottom: 8px;
        display: block;
    }
    .popup-footer {
        padding: 15px;
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 2000;
        background-color: #ffffff;
        .btnn {
            margin: 0 3px;
        }
    }
    .btnn.disable, .btnn-s.disable, .btnn-p.disable{
            cursor: not-allowed;
            color: #d4d4d4;
            border: 1px solid #d4d4d4;
            background: transparent;
        &:hover{
            cursor: not-allowed;
            color: #d4d4d4;
            border: 1px solid #d4d4d4;    
        }
    }
}

.ad-n-event-popup-box.error-msg-dashboard{
    .popup-content{
        .content-head{
            margin-top: 36%;
            margin-bottom: 38%;
        }
    }
    .button-wrap{
        display: block;
        text-align: center;
        .btnn-p{
            margin: 0 auto;
            display: inherit;
        }
    }
}

.addEventWrap{
    .avatar {
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        padding-top: 6px;
    }

    .confirm-close-popwrap{
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        .content-popup{
            padding: 10px 0;
            text-align: center;
            font-size: 16px;
            min-width: 300px;
        }
        .cancel-options{
            display: inline-block;
            margin-top: 20px;
            button{
                margin-right: 15px;
            }
        }
    }
}

/* select property popup css */
.select-prop-wrap {
    .propCardWrap {
        margin: auto;
        margin-top: 20px;
        height: 300px;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        input[type="radio"] {
            opacity: 0;
            width: 80%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 8%;
            right: 0;
            bottom: 0;
            z-index: 999;
        } 
        input[type="radio"]:checked + .propCard{
            label:before {
                background-color: $link-color;
            }
            label:after {
                transform: scale(1);
                color: #fff;
            }
        }
        .propCard {
            margin: auto;
            margin-bottom: 10px;
            $cardradius: 20px;
            position: relative;
            height: 210px;
            width: 330px;
            border-radius: $cardradius;
            background-color: #999;
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);

            .imgwrap {
                position: relative;
                height: 100%;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 60%, rgba(0,0,0,0.85) 100%); /* W3C */
                    z-index: 1;
                    border-radius: $cardradius;
                }
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: $cardradius;
                z-index: 0;
            }

            .propInfo {
                position: absolute;
                bottom: 10px;
                left: 0;
                width: calc(100% - 50px);
                padding-left: 10px;
                color: #fff;
                //text-shadow: 0 1px 1px #444;
                z-index: 2;

                .price {
                    i.icon-rupee {
                        font-size: 18px;
                    }
                    .val {
                        font-size: 24px;
                        text-transform: initial;
                        text-shadow: 0 1px 1px #444;
                        span {
                            font-size: 30px;
                        }
                    }
                    .unit {
                        font-size: 14px;
                        padding-left: 3px;
                        text-transform: initial;
                    }

                    a {
                        &:hover {
                            text-decoration: none;
                            border-bottom: 1px solid #fff;
                        }
                    }
                }

                .typeWrap, .locWrap {
                    padding-top: 5px;
                    font-size: 15px;
                    @include putellipsis;
                    padding-left: 17px;

                    .projName {
                        padding-right: 3px;
                    }
                }

                .typeWrap {
                    font-weight: bold;
                }
            }
            input {
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 999;
            }
            label {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                cursor: pointer;
                &:before {
                    margin-left: -40px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid $link-color;
                    display: block;
                    content: '';
                }
                &:after {
                    color: $link-color;
                    font-size: 18px;
                    content: '\e9ca';
                    font-family: icomoon;
                    position: absolute;
                    top: 3px;
                    left: -34px;
                    transition: all .3s ease;
                    transform: scale(0);
                    backface-visibility: hidden;
                    transform: scale(0);
                }
            }
            input:checked + label {
                &:before {
                    background-color: $link-color;
                }
                &:after {
                    transform: scale(1);
                    color: #fff;
                }
            }
        }
    }
    .add-prop {
        margin-top: 20px;
        span {
            cursor: pointer;
            color: $link-color;
            font-size: 20px;
        }
    }
}


/* ratings css */
.ad-n-event-popup-box{
    .rating {
        margin: auto;
        width: 160px;
        height: 60px;
        position: relative;
        input {
            display: none;
        }
        label {
            color: #999;
            &:before {
                margin: 5px;
                content: '\ebd0';
                float: right;
                cursor: pointer;
                font-size: 20px;
            }
            span {
                margin-left: -10%;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 120%;
                display: none;
            }
        }
        > input:checked ~ label, //show star when clicked
        &:not(:checked) > label:hover, // hover current star
        &:not(:checked) > label:hover ~ label {
            &:before {
                content: '\ebd4';
                color: $link-color;
            }
        } // hover previous stars in list
        input:checked + label {
            span {
                display: block;
            }
        }

        > input:checked + label:hover, // hover current star when changing rating 
        > input:checked ~ label:hover,
        > label:hover ~ input:checked ~ label, // lighten current selection 
        > input:checked ~ label:hover ~ label {
            &:before {
                content: '\ebd4';
                color: $link-color;
            }
        }
    }
}
/* select agent popup css */
.agent-list {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -10px;
    padding-right: 10px;
    padding-bottom: 30px;
    li {
        padding-top: 20px; 
        padding-right: 20px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            float: left;
            background-color: #9e9e9e;
        }
        .txt {
            padding-top: 5px;
            margin-left: 80px;
            font-size: 16px;
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            span {
                display: block;
                font-size: 13px;
            }
        }
        input {
            display: none;
        }
        label {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
            &:after {
                position: absolute;
                right: 0;
                top: 28px;
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid #9e9e9e;
            }
            &:hover {
                &:after {
                    border-color: $link-color;
                }
            }
        }
        input:checked + label {
            &:after {
                border-color: $link-color;
                background-color: $link-color;
            }
        }
    }
}

.rating-wrap {
    margin: 6px 0; 
}

/* review agent popup css */
.review-agent {
    .agent-dtl {
        margin-bottom: 5px;
        text-align: center;
        .img {
            margin: auto;
            margin-bottom: 10px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #9e9e9e;
            overflow: hidden;
        }
        .txt {
            font-size: 16px;
            span {
                display: block;
                font-size: 13px;
            }
        }
    }
    .review-opts {
        input {
            display: none;
        }
        label {
            padding: 5px 0;
            display: block;
            position: relative;
            cursor: pointer;
            font-weight: normal;
            i {
                position: absolute;
                right: 0;
                top: 5px;
                font-size: 20px;
                opacity: .5;
            }
            // &:hover {
            //     i {
            //         color: $link-color;
            //     }
            // }
        }
        input:checked + label {
            i {
                color: $link-color;
                opacity: 1;
            }
        }
    }
    .fc-wrap {
        display: block;
        .fc {
            width: 100%;
        }
    }
}

/* add property popus css */
.add-prop-wrap {
    .fc-wrap {
        margin-top: 20px;
        display: block;
        .fc {
            width: 100%;
        }
    }
}

/* documents popus css */
.documents-list {
    margin-left: 20px;
    margin-top: 20px;
    list-style: decimal;
    li {
        padding: 10px 5px;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        .clck-icons {
            padding: 10px 0;
            position: absolute;
            right: 0;
            top: 10px;
            color: $link-color;
            display: block;
            cursor: pointer;
        }
        .fileType {
            display: block;
            font-size: 13px;
            color: #999;
        }
        .remove {
            color: $body-color;
            top: 12px;
            font-size: 12px;
        }
        .uploading {
            position: absolute;
            right: 0;
            top: 10px;
            font-size: 12px;
        }
        &.uploaded {
            .upload {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .addEventWrap{
        height: 100%;
        max-height: auto;
    }
    .ad-n-event-popup-box {
        width: 100%;
        height: 100%;
        .popup-content, .popup-footer, .popup-head {
            padding: 10px;
            background-color: #ffffff;
        }
        .popup-head {
            .clse-btn {
                top: 12px;
            }
            .backBtn {
                top: 6px;
            }
        }
        .rating-wrap{
            .rating{
                margin-right: 4%;
                label{
                    &:before{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .select-prop-wrap {
        .propCardWrap {
            .propCard {
                width: 85%;
                height: 185px;
                margin-left: 35px; 
                label{
                    margin-left: 0;
                    &:before{
                        width: 20px;
                        height: 20px;
                        margin-left: -32px;
                    }
                    &:after{
                        width: 12px;
                        height: 12px;
                        margin-left: -32px;
                        top: 1px;
                        left: 3px;
                        font-size: 13px;
                    }
                }
                .propInfo{
                    width: calc(100% - 10px);
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .ad-n-event-popup-box{
        border-radius: 20px;
        .button-wrap{
            .btnn-s{
                margin-bottom: 20px;
            }
        }
        .agent-list{
            padding-bottom: 50px;
        }
        .congratulation-txt{
            margin: 45px 0 auto;
        }
    }
    .addEventWrap{
        border-radius: 20px;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px){
    .addEventWrap,
    .ad-n-event-popup-box{
        height: 100%;
    }
}




