@import "variables";
@import "mixins/ellipsis";
@import "components/pagination";
@import "components/tables";



@import "brokercard";

.clear {
    clear: both;
}

.seo-page {
    padding: 25px 0 50px;

    .no-data{
        min-height: 600px;
        padding: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}

.toph {
    padding: 10px;
    color: $dark-color;
    font-size: 18px;
}

.breadcrumb-wrap {
    padding: 10px;
}

.all-broker-list {
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 180px;
    grid-auto-flow: row;
    margin-top: 20px;
}

.tblistwrap{
    padding: 15px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}


/* custom dropdown */
.top-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 60px;

    .top-seo-data {
        vertical-align: middle;
    }

    .btn-wrap {
        display: inline-flex;
        align-items: center;

        .cbtn {
            height: 30px;
            padding: 0 10px;
            margin-right: 5px;
            font-size: 12px;
            line-height: 30px;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        min-height: 55px;
        margin-top: 10px;

        .dropdown-button {
            min-width: 160px;
            background-color: transparent;
            padding: 16px;
            padding-right: 0;
            font-size: 14px;
            text-align: right;
            cursor: pointer;
            overflow:hidden;

            .dropdown-text {
                color: #444;
            }

            .icon-chevron-down {
                color: $link-color;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            width:100%;
            min-width: 160px;
            background-color: #fff;
            border: 1px solid #dcdcdc;
            z-index: 1;
            right:0px;

            .dropdown-item {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;

                &:hover{
                    cursor: pointer;
                    color: red;
                }
            }
        }

        &:hover{
            .dropdown-content {
                display: block;
            }
        }
    }
}

/* end */


@media screen and (max-width: 640px) {

    .seo-page {
        padding: 10px 0 50px;
    }

    .toph {
        padding: 10px 10px 2px 10px;
        font-size: 14px;
    }

    .top-wrapper {

        .top-seo-data {
            width: 100%;
        }

        .btn-wrap {
            display: none;
        }
        
        .dropdown {
            display: none;
        }
    }
}

//// for laptop screens
@media screen and (min-width: 768px) {
    .all-broker-list {
        grid-auto-rows: 380px;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
}