@import "variables";
@import "mixins/ellipsis";
@import "components/pagination";
@import "components/tables";


.clear {
    clear: both;
}

.seo-page {
    padding: 0 0px;
}

.toph {
    padding: 10px;
    font-size: 21px;
    line-height: 28px;
}


// selector tab
.view-select{
    float: right;
    margin: 15px 30px 15px 0px;
    li{
        padding: 5px 10px;
    }
}

// city list
.builder-list {
    margin: 20px 0;
}

// city card
.b-card {
    padding: 10px;
    margin: 0 0 20px 0;
    display: inline-block;
    width: 100%;
    min-height: 300px;
    outline: none;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    cursor: pointer;

    &:hover {
        box-shadow: 0px 1px 6px #acacac;
    }

    .row {
        margin: 0px;
    }

    a {
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
    }

    .txt-wrap {
        h2 {
            color: $link-color;
        }
    }

    .img-wrap {
        height: 100px;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }
    }

    .img-htumb {
        display: table;
        height: 100%;

        .tcol {
            display: table-cell;
            text-align: center;
            vertical-align: top;
        }

        img {
            width: 100%;
            height: auto;

            &.na {
                border-radius: 25px;
            }
        }

    }

    .name {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.345;
    }
    .b-dtls {
        margin: 0px;
        padding: 10px 0 0 0;

        [class*="col-"] {
            padding: 0 5px 5px;
            font-size: 13px;

            .lbl {
                display: block;
                float: left;
                width: 60%;
                color: #9c9c9c;
                text-align: left;
            }

            .val {
                display: block;
                float: left;
                width: 38%;
                color: #333;
                text-align: right;

                a {
                    display: block;
                }
            }
        }
    }
}

//builder-data
#builderGridView {
    min-height: 600px;
}

.tblistwrap {
    padding: 15px;
    .mainhdng {
        padding-bottom: 10px;
    }
    .no-data {
        padding: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}
.top-builder-list {
    padding-bottom: 30px;

    > li {
        display: inline-block;
        margin: 0 10px 10px 0;

        &:last-child {
            margin-right: 0;
        }
    }

    .sb-card {
        width: 205px;
        padding: 5px;
        background-color: #fff;
        border: solid 1px #ececec;
        border-radius: 5px;

        .img-wrap {
            float: left;
            width: 80px;
            height: 50px;
            overflow: hidden;
        }

        .img-htumb {
            display: table-row;
            min-height: 100%;

            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }

        }

        .txt-wrap {
            float: right;
            width: calc(100% - 80px);
            padding-left: 10px;

            a {
                text-decoration: none;
                cursor: pointer;
                color: $link-color;
            }

            .sb-name {
                @include putellipsis;
                font-size: 15px;
                font-weight: bold;
                line-height: 1.2;
            }
        }

        .sb-dtls {
            padding: 10px 0 0;

            .lbl {
                display: block;
                float: left;
                width: 60%;
                color: #9c9c9c;
                font-size: 12px;
                text-transform: uppercase;
                text-align: left;
            }

            .val {
                display: block;
                float: right;
                width: 38%;
                color: #333;
                font-size: 13px;
                text-align: right;

                a {
                    display: block;
                }
            }
        }
    }
}

.minifoot {
    padding: 0 0 50px;
}

@media (max-width: 768px) {
    .b-card {
        min-height: inherit;

        .img-htumb {
            height: 100%;
        }
        .name {
            height: auto;
        }
        .b-dtls {
            [class*="col-"] {
                .lbl {
                    display: inline-block;
                    width: 60%;
                }
                .val {
                    display: inline-block;
                    width: 38%;
                    color: #333;
                    text-align: right;
                }
            }
        }
    }
    .tblistwrap {
        .mscroll{
            overflow:scroll;
        }
    }
}

//// for laptop screens
@media (min-width: 769px) {
    .b-card {
        .img-wrap {
            padding: 0;
        }
    }
}

//// for mobile
@media (max-width: 400px) {
    .top-builder-list {
        li{
            width: 100%;
        }
        .sb-card{
            width: 100%;
        }
    }
    .view-select{
        .triangle{
            display: none;
        }
        .grid{
            &::after{
                content: '∷';
                font-size: 30px;
            };
        }
        .list{
            &::after{
                content: '≡';
                font-size: 30px;
            };
        }
    }
}
