@import "variables";
@import "mixins/ellipsis";
@import "vendor/cssgram/cssgram";
@import "components/pagination";

.clear {
    clear: both;
}

.seo-page {
    padding: 25px 0 50px;
    .tab-wrap .scatabs {
        width: 250px;
        >ul >li{
            height: 40px;
            &.selected {
                height: 60px;
            }
        }
    }
}

// budget list
ul.budget-list >li{
    display: inline-block;
    width: 33%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
        color: $link-color;
    }
}

// city list
.city-list {
    margin: 20px 0;

    > li {
        display: block;
        float: left;
        width: 30%;
        margin: 0 25px 25px 0;
    }
}

// city card
.citycard {
    position: relative;
    width: 100%;
    height: 155px;
    background: #fff;
    border: solid 1px #ececec;
    border-radius: 25px;

    .city-link {
        color: $link-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }

    .img-wrap {
        height: 100%;
        width: 100%;
        @include reyes();
        transition: all 0.3s ease-in;

        &::before, &::after {
            border-radius: 25px;
            transition: all 0.3s ease-in;
        }

        &:hover {
            -webkit-filter: none!important;
            -moz-filter: none!important;
            filter: none!important;

            &::before, &::after {
                visibility: hidden !important;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    .city-name {
        position: absolute;
        right: 0;
        bottom: 25px;
        display: block;
        padding: 3px 10px;
        background-color: #333;
        color: #fff;
        font-size: 15px;
        @include putellipsis;
        max-width: 98%
    }
}

@media (max-width: 1024px) {
    .city-list {

        > li {
            width: 45%;
            margin: 0 2% 25px 2.5%;
        }
    }
}

@media (max-width: 530px) {
    ul.budget-list >li {
        width: 90%;
        margin: 0 10px;
    }
    .city-list {
        > li {
            width: calc(100% - 20px);
            margin: 0 10px 15px;
        }
    }
}

//// for laptop screens
@media (min-width: 1025px) {
}
