@import "variables";
@import "404";
// @import "components/services";
// @import "components/serviceformdetails";
@import "components/allianceCoupons";
@import "alliancesFontIcons";


.terms-condition-pup {
    position: relative;
    border-radius: 8px;
    padding: 20px;
    background: #ffffff;
    min-width: 320px;
    min-height: 300px;
    max-width: 600px;
    .close {
        position: absolute;
        right: 20px;
        top: 15px;
        cursor: pointer;
    }
    .heading {
        margin-bottom: 20px;
    }
}

.error-msg {
    font-size: 12px;
    color: #e81c28;
}

.alliances-main-wrap {
    min-height: 650px;
    background-color: #f2f2f2;
    .breadcrumb {
        a {
            font-size: 13px;
            color: $lighter-color;
            margin-right: 8px;
            margin-left: 8px;
        }
        &.couponpage {
            margin-top: 20px;
            margin-left: 10px;
        }
    }
    .btnv2,
    .btnv2-p {
        &:focus {
            outline: none;
        }
    }
    .btnv2-p.disabled,
    .btnv2.disabled {
        background-color: #cdcdcd;
        border-left-color: #eeeeee;
    }
    .select-btn-wrap.disabled {
        color: #999;
        background-color: #cdcdcd;
        border-top: 3px solid #eeeeee;
        cursor: not-allowed;
        pointer-events: none;
    }
    .errorpage {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
        background-color: rgba(68, 68, 68, .7);
    }

    .lght-clr {
        color: $light-color;
    }

    .sorry-popup,
    .city-popup {
        padding: 60px 120px;
        background-color: #fbfbfb;
        border-radius: 10px;
        max-width: 650px;
        position: relative;
        top: 18%;
        left: calc(50% - 325px);
        font-size: 16px;
        .provider-txt {
            p {
                margin: 40px auto;
            }
        }
        .exclamation {
            border-radius: 100%;
            padding: 6px 15px;
            border: 1px solid #963232;
            color: #963232;
            width: 40px;
            height: 40px;
            font-size: 19px;
        }
        .btnv2,
        .btnv2-p {
            a {
                color: #ffffff;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .city-popup {
        padding: 20px;
        .heading {
            font-size: 20px;
        }
        ul.citylist {
            padding: 0;
            margin: 42px auto;
            overflow-y: auto;
            max-width: 510px;
            height: 250px;
            li {
                position: relative;
                display: inline-block;
                width: 135px;
                padding: 5px 0 8px 15px;
                margin-right: 20px;
                cursor: pointer;
                input[type="radio"] {
                    opacity: 0;
                    margin-right: -10px;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    height: 100%;
                }
                label {
                    font-weight: normal;
                    width: 100%;
                    padding: 0 10px 0 15px;
                    position: relative;
                    z-index: 99;
                }
                span.circle {
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    border: 1px solid $link-color;
                    position: absolute;
                    left: 10px;
                    top: 9px;
                }
                &.active {
                    color: $link-color;
                    background: $link-color;
                }
                input[type=radio]:checked+label {
                    color: $link-color;
                }
                input[type=radio]:checked~span.circle {
                    background: $link-color;
                }
            }
        }
    }

    .alliance-errorPage.errorpage {
        background: #ffffff;
        text-align: center;
    }

    .switchtab-wrap {
        background-color: #ffffff;
    }

    .switch-tabs {
        background-color: #f1f1f1;
        ul {
            li {
                display: inline-block;
                padding: 10px 20px;
                width: 49%;
                font-size: 16px;
                position: relative;
                text-align: center;
                a,
                span {
                    font-size: 16px;
                    color: $dark-color;
                    display: inline-block;
                }
                &.active {
                    color: $link-color;
                    a,
                    span {
                        color: $link-color;
                    }
                    &:after {
                        position: absolute;
                        bottom: 0;
                        left: 25px;
                        height: 2px;
                        content: "";
                        background-color: $link-color;
                        width: 80%;
                    }
                }
            }
        }
    }

    .status-bar {
        background-color: #ffffff;
        .back,
        .back-ctgry {
            i {
                padding: 13px 10px;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
            }
        }
        .category-name {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            padding: 10px 0;
            padding-left: 10px;
        }
        .back-ctgry {
            i {
                padding: 7px 0 0;
                font-size: 25px;
            }
        }
    }

    .category-wrap {
        background-color: #f2f2f2;
        padding-top: 15px;
        .d-cityselect-wrap {
            position: relative;
            border-bottom: 1px solid #e1e1e1;
            padding: 16px 0;
            margin-bottom: 35px;
            padding-left: 10px;
            .city-select {
                position: absolute;
                right: 0;
            }
            h2.heading {
                display: inline-block;
                font-size: 18px;
                vertical-align: middle;
            }
            .lght-clr {
                vertical-align: -3px;
                font-size: 16px;
                display: inline-block;
            }
        }
        .city-select {
            width: 100%;
            position: relative;
            .error-msg {
                position: absolute;
                bottom: 0px;
                left: 0;
            }
            .fc-wrap.selectbox {
                width: 100%;
                position: relative;
                text-align: left;
                .fc {
                    padding: 13px 11px 4px;
                    text-align: left;
                    border-bottom: 0;
                }
                label,
                .txt {
                    left: 12px;
                }
                label {
                    top: 12px;
                }
                .select-dropdown {
                    top: 39px;
                    ul {
                        max-height: 320px;
                        li {
                            padding: 12px 10px;
                        }
                    }
                }
            }
            .fc-wrap {
                i.arrowdown {
                    right: 12px;
                }
                &:focus,
                &.focus,
                &:active,
                &.active {
                    label {
                        top: 0;
                    }
                }
            }
        }
        .sub-txt {
            color: $light-color;
            margin-left: 12px;
            margin-top: 0;
            margin-bottom: 5px;
        }
    }

    .slide-category-wrap {
        margin-bottom: 30px;
        h2.category-heading {
            font-family: $roboto;
            font-size: 16px;
            text-transform: capitalize;
        }
    }

    .newservice-card-wrap,
    .newalliance-card-wrap {
        width: 320px;
        height: 312px;
        display: inline-block;
        vertical-align: top;
        box-shadow: 0 0 3px -1px rgba(68, 68, 68, 0.5);
        overflow: hidden;
        background-color: #ffffff;
        position: relative;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        &:hover {
            box-shadow: 0 0 6px -1px rgba(68, 68, 68, 0.5);
        }
        .blurit {
            filter: blur(4px);
            -webkit-filter: blur(4px);
        }
        .blurredbg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(250, 250, 250, .6);
            z-index: 999;
            .view-all {
                position: absolute;
                bottom: 23px;
                width: 100%;
                text-align: center;
                color: $link-color;
                font-size: 18px;
            }
            .round {
                background-color: #fefefe;
                border-radius: 100%;
                width: 120px;
                height: 120px;
                position: absolute;
                left: calc(50% - 60px);
                top: calc(50% - 60px);
                color: #e3248b;
                font-size: 20px;
                z-index: 9;
                text-align: center;
                padding: 22px 0;
                box-shadow: 0 0 6px -2px rgba(68, 68, 68, 0.4);
                .big-txt,
                .sml-txt {
                    font-size: 36px;
                    line-height: 1;
                    font-weight: normal;
                    display: block;
                }
                .sml-txt {
                    font-size: 24px;
                }
            }
        }
        .view-offer {
            text-align: center;
            color: $link-color;
            padding: 19px 0;
            font-size: 18px;
            cursor: pointer;
        }
        .newservice-wrap {
            padding: 36px 0 24px 25px;
            border-bottom: 1px solid #eeeeee;
            height: 120px;
            .img-wrap {
                display: inline-block;
                vertical-align: top;
                font-size: 30px;
                max-width: 55px;
                i {
                    font-size: 45px;
                }
            }
            .servicecontent-wrap {
                display: inline-block;
                vertical-align: top;
                text-align: left;
                margin-left: 20px;
                padding-left: 10px;
                max-width: 220px;
                h2.heading {
                    font-size: 18px;
                    text-transform: capitalize;
                }
                .sprt-txt {
                    line-height: 1;
                    margin-top: 10px;
                    text-transform: capitalize;
                }
            }
        }
        .new-alliance-wrap {
            background-color: #fcfcfc;
            padding: 15px 10px;
            border-bottom: 1px solid #eeeeee;
            height: 125px;
            overflow: hidden;
            h3.heading {
                font-size: 15px;
                text-align: center;
                padding: 2px 0 16px;
                .df-fnt {
                    font-family: $roboto;
                }
            }
            .prsntalliancelist {
                text-align: center;
                ul {
                    li {
                        max-width: 100px;
                        text-align: center;
                        display: inline-block;
                        vertical-align: top;
                        padding: 0 10px;
                        margin-right: 0;
                        .alliance-logo-wrap {
                            max-width: 90px;
                            text-align: center;
                            height: 40px;
                        }
                        .roundcircle {
                            border-radius: 100%;
                            width: 40px;
                            height: 40px;
                            padding: 8px 0;
                            border: 1px solid #868686;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .d-status-bar.inner-alliance-status {
        .status-bar {
            max-width: 1024px;
            .back-ctgry {
                i {
                    padding: 15px;
                }
            }
        }
        .category-name {
            padding: 14px 0;
            i {
                font-size: 20px;
                margin-right: 10px;
                vertical-align: -2px;
            }
        }
    }

    .newalliance-card-wrap {
        .alliance-logo-wrap {
            width: 48px;
            display: inline-block;
            vertical-align: top;
            border-radius: 3px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .newservice-wrap {
            border-bottom: 0;
        }
        .new-alliance-wrap {
            border-top: 1px dashed #e7dbdf;
            border-bottom: 1px dashed #e7dbdf;
            position: relative;
            h3.heading {
                padding: 2px 0 12px;
            }
            .offer-box {
                font-size: 34px;
                .red {
                    color: $link-color;
                }
                .blck {
                    display: inline-block;
                    color: $dark-color;
                    font-size: 22px;
                }
                .valid-till {
                    font-size: 16px;
                    color: $body-color;
                }
            }
            .tnc {
                position: absolute;
                right: 10px;
                bottom: 0;
                font-size: 12px;
                &:hover {
                    color: $link-color;
                }
            }
        }
    }

    .slide-category-wrap {
        ul.category-slide-wrap {
            padding: 10px;
            max-height: 330px;
            overflow: hidden;
            transition: all 500ms ease-in-out;
            &.expand {
                max-height: none;
                overflow: inherit;
                transition: max-height 500ms ease-in-out;
            }
            li {
                display: inline-block;
                max-width: 320px;
                margin-right: 25px;
                margin-bottom: 30px;
            }
        }
    }

    .d-alliance-wrap.category-wrap {
        position: relative;
        .inner-alliance-list {
            ul.category-slide-wrap {
                text-align: center;
                >li {
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 30px;
                    margin-right: 38px;
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .sorry-popup {
        max-width: 100%;
        width: 100%;
    }
    .terms-condition-pup {
        min-width: 290px;
        margin: 20px 10px;
    }
    .alliances-main-wrap {
        .breadcrumb {
            display: none;
        }
        .d-status-bar.inner-alliance-status {
            .category-name {
                text-align: center;
            }
        }
        .category-wrap {
            .m-category-wrap {
                padding: 0 0 0 5px;
            }
            .d-cityselect-wrap {
                padding: 16px 0 0;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 30px;
                .lght-clr {
                    font-size: 15px;
                }
                h2.heading {
                    display: block;
                }
                .city-select {
                    bottom: -16px;
                    width: 155px;
                }
            }
        }
        .slide-category-wrap {
            h2.category-heading {
                margin-bottom: 5px;
                padding-left: 12px;
            }
            ul.category-slide-wrap {
                padding-left: 8px;
                white-space: nowrap;
                overflow-x: auto;
                li {
                    white-space: normal;
                    margin-right: 15px;
                    width: 100%;
                    max-width: 305px;
                }
            }
        }
        .newservice-card-wrap {
            width: 295px;
            height: 295px;
            margin: 0 auto;
            .newservice-wrap {
                padding: 28px 0 8px 20px;
                height: 108px;
                .img-wrap {
                    vertical-align: middle;
                    max-width: 45px;
                    i.iconalliance-buy-furniture-online,
                    i.iconalliance-home-chef {
                        font-size: 39px;
                    }
                }
                .servicecontent-wrap {
                    padding-left: 0;
                    max-width: 210px;
                    padding-right: 5px;
                }
            }
        }
        .errorpage {
            top: 45px;
            padding: 0;
            .sorry-popup,
            .city-popup {
                top: auto;
                left: auto;
                width: 100%;
                max-width: 100%;
                position: relative;
                border-radius: 0;
                height: 100%;
                min-height: 100%;
            }
            .city-popup {
                ul.citylist {
                    padding: 16px;
                    max-height: calc(100% - 115px);
                    overflow: auto;
                    margin: 8px auto;
                    height: auto;
                }
            }
        }
    }

    .d-alliance-wrap.category-wrap {
        padding-top: 0;
        .city-select {
            display: none;
        }
        .d-cityselect-wrap {
            padding: 16px 0 9px;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 20px;
        }
        .inner-alliance-list {
            ul.category-slide-wrap {
                >li {
                    width: 100%;
                }
            }
        }
        .newalliance-card-wrap {
            width: 100%;
            max-width: 300px;
            height: 255px;
            .newservice-wrap {
                padding: 20px 0 24px 18px;
                height: 100px;
                .alliance-logo-wrap {
                    width: 45px;
                }
                .servicecontent-wrap {
                    padding-left: 0px;
                    padding-right: 7px;
                    margin-left: 15px;
                }
            }
            .new-alliance-wrap {
                height: 100px;
                padding-top: 5px;
                h3.heading {
                    padding: 2px 0 5px;
                }
                .offer-box {
                    font-size: 21px;
                    .valid-till {
                        font-size: 14px;
                        line-height: .8;
                    }
                }
            }
            .view-offer {
                padding: 15px 0;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .alliances-main-wrap {
        background-color: #f2f2f2;
        min-height: 760px;
        .d-heading {
            text-align: center;
            font-size: 22px;
        }
        .switch-tabs {
            max-width: 375px;
            margin: 0 auto;
            background-color: transparent;
            ul {
                li {
                    &:after {
                        left: 48px;
                        width: 50%;
                    }
                }
            }
        }
        .d-status-bar {
            background-color: #ffffff;
            .status-bar {
                max-width: 720px;
                margin: 0 auto;
                .back,
                .back-ctgry {
                    i {
                        padding: 20px;
                        font-size: 20px;
                    }
                }
                .category-name {
                    padding: 21px 0;
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
        .category-wrap {
            max-width: 1060px;
            margin: 0 auto;
            background-color: #f2f2f2;
            .d-heading {
                margin-top: 10px;
            }
            .d-category {
                margin: 0 auto;
                .category-heading {
                    margin-bottom: 15px;
                    padding-left: 10px;
                }
                >ul {
                    li {
                        display: inline-block;
                        vertical-align: top;
                        margin-bottom: 25px;
                    }
                }
            }
            .d-sub-txt {
                display: inline-block;
                vertical-align: middle;
            }
            .city-select {
                display: inline-block;
                vertical-align: middle;
                max-width: 200px;
                margin-left: 0px;
            }
        }
    }
}


@media screen and (min-width: 1285px) {
    .alliances-main-wrap {
        min-height: 900px;
    }
}
