@import "variables";
@import "alliances";

.allianceLandingWrap{
    background-color: #ffffff;
    .pink{
        color: #e7248a;
    }
    .red{
        color: $link-color;
    }
    .yellow{
        color: #fba510;
    }
    .black{
        color: $dark-color;
    }
    .face-wrap{
        max-width: 768px;
        margin: 100px auto 80px;
        text-align: center;
        h1{
            font-size: 30px;
        }
        .sub-heading{
            font-size: 16px;
            color: #7d7d7d;
            margin: 10px 0;
        }
        ul.category-list{
            margin: 60px auto 0;
            display: inline-block;
            max-width: 600px;
            width: 100%;
            li{
                text-align: center;
                cursor: pointer;
                display: inline-block;
                max-width: 145px;
                vertical-align: top;
                padding: 5px 10px;
                margin-bottom: 35px;
                position: relative;
                a{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    &:hover{
                        text-decoration: none;
                        outline: none;
                    }
                }
                .img-wrap{
                    i{
                        font-size: 50px;
                    }
                }
                .category-name{
                    color: #6b6b6b;
                    line-height: 1;
                    margin-top: 8px;
                }
                &:hover{
                    .category-name{
                        font-size: $link-color;
                    }   
                }
            }
        }
    }
    .howit-works, .partners, .everywhere{
        background-color: #e7248a;
        padding: 115px 0;
        text-align: center;
        color: #ffffff;
        position: relative;
        margin-bottom: 20px;
        h2.heading{
            font-size: 35px;
        }
        .sprt-txt{
            font-size: 18px;
        }
        &:before, &:after{
            position: absolute;
            top: 0;
            left: 48%;
            content: "";
            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
            border-top: 20px solid #ffffff;
        }
        &:after{
            content: "";
            top: auto;
            bottom: -20px;
            border-top: 20px solid #e7248a;
        }
    }

    .partners{
        background-color: #fba510;
        &:after{
            border-top-color: #fba510;
        }
    }

    .journey-timelinewrap{
        text-align: center;
        margin-top: 50px;
        ul.journey-timeline{
            max-width: 750px;
            width: 100%;
            margin: 35px auto;
            >li{
                position: relative;
                border-left: 1px dashed #fba510;
                height: 250px;
                max-width: 50%;
                width: 50%;
                left: 50%;
                margin-top: 1px;
                padding-top: 45px;
            }
            .step-content{
                position: relative;
                .stepiconcontent-wrap{
                    position: absolute;
                    left: -155px;
                    top: 0;
                    width: 155px;
                    padding: 5px;
                    text-align: right;
                    .circle-dot{
                        width: 8px;
                        height: 8px;
                        background-color: #e7248a;
                        border-radius: 100%;
                        overflow: hidden;
                        position: absolute;
                        top: 14px;
                    }
                    .content, .img-wrap{
                        display: inline-block;
                        vertical-align: middle;
                        text-align: left;
                    }
                    .img-wrap{
                        width: 40px;
                        margin-left: 5px;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .grey, .step-name{
                        line-height: 1;
                    }
                    .grey{
                        color: $light-color;
                    }
                    .step-name{
                        color: $link-color;
                        font-size: 18px;
                    }
                }
                ul.list-wrap{
                    text-align: left;
                    font-size: 14px;
                    >li{
                        padding: 10px 20px;
                        border-bottom: 1px solid rgba(251, 165, 16, .2);
                    }
                }
                &.right{
                    left: auto;
                    right: 100%;  
                    .stepiconcontent-wrap{
                        left: auto;
                        right: -155px;
                        text-align: left;
                        .circle-dot{
                            left: -4px;
                        }
                    }
                }
            }
        }
    }

    .partnerlist-wrap{
        margin-top: 50px;
        .partnericon-list{
            margin: 0 auto;
            max-width: 768px;
            ul{
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                overflow-x: auto;
                li{
                    position: relative;
                    display: inline-block;
                    margin-right: 20px;
                    padding: 12px 10px;
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        transition: all 300ms ease-in-out;
                        background-color: transparent;
                    }
                    &.active{
                        &:after{
                            background-color: #fba510;
                        }
                    }
                }
            }
        }
    }

    .partnerlist-content{
        ul.contentlist-wrap{
            max-width: 768px;
            margin: 35px auto 50px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            >li{
                border-radius: 5px;
                border: 1px dashed #fba510;
                overflow: hidden;
                display: inline-block;
                vertical-align: top;
                width: 100%;
                transition: all 300ms ease-in-out;
                transform: translateX(0);
                position: relative;
                .location{
                    margin-top: 20px;
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                    width: 60%;
                    padding: 0 10px;
                }
                .content{
                    width: 61%;
                    display: inline-block;
                    vertical-align: top;
                    padding: 20px 15px;
                    white-space: normal;
                }
                .service-offered{
                    width: 39%;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    background-color: #fba510;
                    min-height: 185px;
                    height: 100%;
                    padding: 20px;
                    color: #ffffff;
                    white-space: normal;
                    ul.service-list{
                        text-align: left;
                        max-width: 160px;
                        margin: 0 auto;
                        color: #ffffff;
                        margin-top: 15px;
                        white-space: normal;
                    }
                }
            }
        }
    }

    .everywhere{
        background-color: #f3f3f3;
        color: $dark-color;
        margin-bottom: 0;
        &:after{
            display: none;
        }
        ul.citylist{
            max-width: 768px;
            width: 100%;
            margin: 35px auto;
            li{
                display: inline-block;
                vertical-align: top;
                max-width: 130px;
                width: 100%;
                text-align: center;
                margin-bottom: 25px;
                a{
                    color: $dark-color;
                    font-size: 16px;
                    &:hover{
                        text-decoration: none;
                        color: $link-color;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 767px){

    .allianceLandingWrap{
        .face-wrap{
            margin: 50px auto;
            h1{
                text-align: center;
                span{
                    display: block;
                }
            }
            ul.category-list{
                margin: 40px auto 0;
                text-align: left;
                li{
                    text-align: left;
                    max-width: 100%;
                    padding: 5px 25px;
                    margin-bottom: 0px;
                    .img-wrap{
                        display: inline-block;
                        vertical-align: middle;
                        i{
                            font-size: 30px;
                        }
                    }
                    .category-name{
                        display: inline-block;
                        padding-left: 15px;
                        margin-top: 0;
                        font-size: 16px;
                    }
                    &:hover{
                        .category-name{
                            font-size: $link-color;
                        }   
                    }
                }
            }
        }
        .howit-works, .partners{
            &:before, &:after{
                left: 45%;
            }
        }
        .journey-timelinewrap{
            ul.journey-timeline{
                >li{
                    height: 320px;
                }
            }
        }
        .partnerlist-content{
            padding: 0 20px;
            ul.contentlist-wrap{
               >li{
                    .location{
                        width: 100%;
                        position: relative;
                        left: 0;
                    }
                    .content, .service-offered{
                        width: 100%;
                        display: block;
                    }
               } 
            }
        }
    }

}