@import "variables";
@import "mixins/ellipsis";
@import "components/pagination";

.links-col {
    margin: 15px 0;

    h2 {
        padding: 10px 0;
    }

    a {
        display: inline-block;
        margin: 8px 0;
        color: #666;
        text-decoration: underline;
        cursor: pointer;
    }
}

.pagination {
    margin-bottom: 50px; /* overwriting default pagination style for this page */
}