@import "variables";
@import "mixins/ellipsis";
@import "vendor/cssgram/cssgram";
@import "components/pagination";
@import "components/tables";



.clear {
    clear: both;
}

.seo-page {

    //tabs for locality and landmark list
    .tab-wrap {
        .scatabs {
            width: 250px;

            ul {
                height: 60px;
                margin-top: 30px;
            }

            li {
                height: 40px;
                line-height: 26px;

                &.selected {
                    height: 58px;

                    &:before {
                        border-top-color:#f7f7f7;
                    }
                }
            }
        }
    }
}

//landmark table
.landmark-table {
    .l-type {
        text-transform: capitalize;
    }
}
ul.budget-list {
    >li{
        display: inline-block;
        width: 33%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
            color: $link-color;
            font-size: 16px;
        }
    }
}

// locality list
.locality-list {
    margin: 20px 0;

    > li {
        display: block;
        float: left;
        width: 30%;
        margin: 0 25px 25px 0;
    }

    h1,h2,h3 {
        margin: 10px 0;
    }
}

// locality card
.localitycard {
    position: relative;
    width: 100%;
    height: 155px;
    background: #fff;
    border: solid 1px #ececec;

    .locality-link {
        color: $link-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }

    .img-wrap {
        height: 100%;
        width: 100%;
        @include reyes();
        transition: all 0.3s ease-in;

        &::before, &::after {
            transition: all 0.3s ease-in;
        }

        &:hover {
            -webkit-filter: none!important;
            -moz-filter: none!important;
            filter: none!important;

            &::before, &::after {
                visibility: hidden !important;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
    }

    .locality-name {
        position: absolute;
        left: 0;
        top: 15px;
        display: block;
        padding: 3px 10px;
        background-color: #333;
        color: #fff;
        font-size: 15px;
        @include putellipsis;
        max-width: 98%
    }
}




@media (max-width: 1024px) {
    .locality-list {

        > li {
            width: 45%;
            margin: 0 2% 25px 2.5%;
        }

        h1,h2,h3 {
            margin: 10px 2.5%;
        }
    }
}

@media (max-width: 530px) {
    .locality-list {

        > li {
            width: calc(100% - 20px);
            margin: 0 10px 15px;
        }

        h1,h2,h3 {
            margin: 10px;
        }
    }
    ul.budget-list >li {
        width: 90%;
        margin-left: 10px;
    }
}

//// for laptop screens
@media (min-width: 1025px) {
}
