@import "variables";
@import "mixins/ellipsis";


// overwriting the bg color for top agents page
[data-controller='agentPage'] {
    background-color: #fff;
}


// broker card css starts
.broker-card {
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    .type-indicator {
        height: 4px;
        background-color: white;
    }

    $siw: 42px;

    .seller-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        .simg-box {
            width: $siw;
            height: $siw;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: center;
            font-size: 24px;
            line-height:37px;

            img{
              width:100%;
              height:100%;
              object-fit: cover;
            }
        }

        .sllr-info {
            width: calc(100% - #{$siw});
            padding: 0 0 0 10px;
        }

        .sllrname {
            @include putellipsis;
            color: $dark-color;
            font-size: 16px;
            text-transform: capitalize;
        }

        .sllrname a{
          color: black;
        }

        .sllr-type-wrap {
            padding: 8px 0 0 0;
            color: $lighter-color;
            font-size: 13px;
            text-transform: uppercase;
        }

        .sllr-type {
            padding-left: 0px;
        }

        .dmbadge {
            .dm-img {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 16px;
                margin-right: 3px;
                background-size: contain;
                background-image: url(/images/dealmaker-badge.png);
            }
        }

        .dmbadge ~ .sllr-type {
            padding-left: 5px;

            &:before {
                content: '•';
                padding-right: 4px;

            }
        }
    }

    .seller-rrwrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 15px 20px;

        .rating {
            margin-right: 10px;
        }

        .rating-review {
            margin-right: 10px;
            color: $light-color;
            font-size: 13px;
        }
    }

    .seller-prop-count-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        border-top: solid 1px #ececec;

        .txt {
            color: $lighter-color;
            font-size: 13px;
            cursor: pointer;

            .val {
                color: $dark-color;
                font-size: 15px;
            }
        }
    }

    .seller-locality-wrap {
        display: none;
    }

    &.dm {
        .type-indicator {
            background-image: linear-gradient(#f1f1f1, #cbcbcb);

            &:before {
                background-image: url(/images/homepage/new/cityexperts-pattern.png);
                filter: grayscale(1);
            }
        }
    }

    &.edm {
        .type-indicator {
            background-image: linear-gradient(#ffd357, #ffd357);

            &:before {
                background-image: url(/images/homepage/new/cityexperts-pattern.png);
            }
        }
        .dmbadge {
            color: #f5a623;

            .dm-img {
                background-image: url(/images/dealmaker-expert-badge.png);
            }
        }
    }

    &:hover {
        transform: translate(0, -4px);
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
    }
}

.broker-table {
    .details-wrap {
        padding: 0px 0 20px;
        max-width: 400px;
        margin: auto;

        .val {

            .seoh3 {
                font-family: $roboto;
                font-size: 14px;
                @include putellipsis;
            }
        }

        .val-list {
            > li {
                display: inline-block;
                padding: 0 5px 0 0;
                @include putellipsis;
                max-width: 49%;
            }
        }

        .exco {
            .val-list {
                max-height: 17px;
                overflow: hidden;

                &.active {
                    height: auto;
                    max-height: inherit;
                }
            }
        }

        .morelink {
            display: inline-block;
            padding-top: 2px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;

            .more {
                display: inline-block;
            }

            .less {
                display: none;
            }

            &.active {

                .more {
                    display: none;
                }

                .less {
                    display: inline-block;
                }

            }
        }
    }
}
// broker card css ends

@media screen and (max-width: 767px) {
    .broker-card {
        // rating width height overwrites for mobile
        .seller-rrwrap {
            .rating {
                .rating-badge {
                    width: 22px;
                    height: 22px;
                    line-height: 22px;
                    font-size: 11px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    /*** This code is for desktop broker-cards ***/
    .broker-card {
        // to show 2 cards
        // width: calc(50% - 30px);

        position: relative;
        z-index: 0;

        .type-indicator {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 60px;

            &:before {
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        $siw: 66px;

        .seller-details {
            display: block;
            padding: 25px 20px 5px;

            .simg-box {
                display: block;
                width: $siw;
                height: $siw;
                line-height:57px;
                margin: 0 auto;
                border: solid 2px #fff;
            }

            .sllr-info {
                width: 100%;
                text-align: center;
            }

            .sllrname {
                padding: 15px 0 0;
                font-size: 18px;
                font-weight: 500;
            }

            .sllr-type-wrap {
                font-size: 14px;
                letter-spacing: 1px;
            }

            .dmbadge {
                font-weight: 500;
            }
        }

        .seller-rrwrap {
            display: block;
            padding: 10px 10px 25px;
            text-align: center;
            min-height: 100px;
            .rating {
                display: block;
                padding-bottom: 15px;

                .rating-badge {
                    margin: 0 auto;
                }
            }

            .rating-review {
                display: inline-block;
            }
        }

        .seller-prop-count-wrap {
            padding: 20px;
        }

        .seller-locality-wrap {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-top: solid 1px #ececec;
            transition: all 0.3s ease-in-out;

            .linktxt {
                color: $link-color;
            }

            .btn-wrap {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-top: 12px;
                background-color: #fff;
                transform: translateY(100%);
                transition: all 0.5s ease-in-out;
            }
        }

        .deals-in-list {
            display: inline-block;
            @include putellipsis;
            width: calc(100% - 75px);

            .txt {
                display: inline;
                margin-right: 3px;
                text-transform: capitalize;
            }
        }

        &:hover {
            .seller-locality-wrap {

                .btn-wrap {
                    transform: translateY(0);
                }
            }
        }
    }
}
