@import "variables";
@import "404";
@import "addAnEvent";
@import "components/propcard-mobile";
@import "components/d-buyerdashboard";
@import "components/services";
@import "alliancesFontIcons";
@import "components/date-time-picker";
@import "components/leadenquiry";

$supportColor: #989898;
.sub-tab {
    text-align: center;
    margin-top: 25px;
    position: relative;
    ul {
        border-bottom: 1px solid #cdcdcd;
        position: relative;
        margin-bottom: 20px;
        li {
            display: inline-block;
            position: relative;
            margin-right: 2px;
            cursor: pointer;
            max-width: 100px;
            .content {
                .num {
                    display: inline-block;
                    width: 100%;
                    color: #cdcdcd;
                    font-size: 35px;
                    line-height: 1;
                }
                .triangle {
                    margin-bottom: 8px;
                    position: relative;
                    display: inline-block;
                    color: #454545;
                }
            }
        }
        li.selected {
            color: #e71c28;
            .content {
                &:before {
                    position: absolute;
                    bottom: -4px;
                    left: 45%;
                    content: "";
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid #fbfbfb;
                    z-index: 99;
                }
                &:after {
                    position: absolute;
                    bottom: -5px;
                    left: 45%;
                    content: "";
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid #e71c28;
                    z-index: 98;
                }
                .num {
                    color: #454545;
                }
                .triangle {
                    color: $link-color;
                    &:after {
                        position: absolute;
                        bottom: -9px;
                        left: 0;
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: $link-color;
                    }
                }
            }
        }
    }
}

.switch-tabs,
.switch-tabs-services {
    ul {
        li {
            display: inline-block;
            padding: 10px 20px;
            width: 49%;
            font-size: 16px;
            position: relative;
            text-align: center;
            a,
            span {
                font-size: 16px;
                color: $dark-color;
                display: inline-block;
            }
            &.active {
                color: $link-color;
                a,
                span {
                    color: $link-color;
                }
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 25px;
                    height: 2px;
                    content: "";
                    background-color: $link-color;
                    width: 80%;
                }
            }
        }
    }
}

.switch-tabs-services {
    max-width: 375px;
    width: 100%;
    margin: 0 auto 40px;
    >ul {
        >li {
            text-align: center;
            border-bottom: 0;
            &.active {
                border-bottom: 0;
            }
            >span {
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.dashboard-main-wrap {
    min-height: 600px;
    background-color: #fbfbfb;
    .icon {
        display: inline-block;
        width: .8em;
        height: .8em;
        fill: currentColor;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    /* =======================================================================================
    Example showing how to change the color/size of the icons:
    .icon-name {
        font-size: 32px; // works because "width" & "height" were set using em units
        color: red; // works for single-colored icons, because "fill" was set to "currentColor"
    }
    ======================================================================================== */
    .fill-color1 {
        fill: #354f56;
    }
    .fill-color2 {
        fill: #334f56;
    }
    .fill-color3 {
        fill: #344f56;
    }
    .fill-color4 {
        fill: #e3ad3e;
    }
    .fill-color5 {
        fill: #69bf67;
    }
    .fill-color6 {
        fill: #f08543;
    }
    .fill-color7 {
        fill: #f18543;
    }
    .fill-color8 {
        fill: #73c8c8;
    }
    .fill-color9 {
        fill: #e6b964;
    }
    .fill-color10 {
        fill: #e3e1cd;
    }
    .fill-color11 {
        fill: #e6e4cf;
    }
    .fill-color12 {
        fill: #fff;
    }
}


.serppropcard {
    ul {
        li {
            margin-bottom: 20px;
            .propCard {
                position: relative;
                height: 250px;
                width: 100%;
                max-width: 300px;
                background-color: #999;
                box-shadow: 0px 2px 9px -3px rgba(0, 0, 0, 0.5);
                overflow: hidden;
                .clse {
                    position: absolute;
                    top: 10px;
                    right: 14px;
                    z-index: 999;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;
                    i {
                        font-weight: bold;
                        color: #ffffff;
                        text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
                    }
                    &:hover {
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
                .imgwrap {
                    position: relative;
                    height: 100%;
                    max-height: 210px;
                    z-index: 99;
                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        content: '';
                        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.35) 60%, rgba(0, 0, 0, 0.85) 100%);
                        /* W3C */
                        z-index: 1;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                }
                .site-visit {
                    text-align: center;
                    background: #f7f7f7;
                    font-size: 20px;
                    width: 100%;
                    position: relative;
                    top: -20px;
                    padding: 20px 0;
                    z-index: 100;
                }
                .maBadgeWrap {
                    position: absolute;
                    top: 10px;
                    left: -6px;
                    z-index: 2;
                    &:before {
                        content: ' ';
                        position: absolute;
                        width: 0;
                        height: 0;
                        left: 0px;
                        top: 100%;
                        border-width: 3px 3px;
                        border-style: solid;
                        border-color: #666 #666 transparent transparent;
                    }
                    &:after {
                        position: absolute;
                        right: -10px;
                        top: 0;
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 0 10px 10px;
                        border-color: transparent transparent transparent #fff;
                    }
                }
                .propInfo {
                    position: absolute;
                    bottom: 28px;
                    left: 0;
                    width: calc(100% - 50px);
                    padding-left: 10px;
                    color: #fff;
                    //text-shadow: 0 1px 1px #444;
                    z-index: 2;
                    .price {
                        i.icon-rupee {
                            font-size: 18px;
                        }
                        .val {
                            font-size: 24px;
                            text-transform: initial;
                            text-shadow: 0 1px 1px #444;
                        }
                        .unit {
                            font-size: 14px;
                            padding-left: 3px;
                            text-transform: initial;
                        }
                        a {
                            &:hover {
                                text-decoration: none;
                                border-bottom: 1px solid #fff;
                            }
                        }
                    }
                    .typeWrap,
                    .locWrap {
                        padding-top: 5px;
                        font-size: 14px;
                        @include putellipsis;
                        a {
                            color: inherit;
                            &:hover {
                                text-decoration: none;
                                color: $link-color;
                            }
                        }
                        .projName {
                            padding-right: 3px;
                        }
                    }
                    .typeWrap {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.heading {
    text-align: center;
    text-transform: capitalize;
    h2 {
        font-size: 19px;
    }
}

.sub-heading,
.bot-heading {
    text-align: center;
    font-size: 14px;
    color: #696969;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bot-heading {
    font-weight: bold;
    margin-bottom: 20px;
    span {
        font-size: 16px;
        padding-bottom: 3px;
        border-bottom: 2px solid $link-color;
    }
    .img-wrap {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-bottom: none;
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (min-width: 320px) {
    .sitevisitcard {
        background: url("/images/img-dumy-2.jpg") center no-repeat;
        background-size: cover;
        position: relative;
        height: 315px;
        .error-msg-enquiry {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99999;
            background: rgba(0, 0, 0, .8);
            color: #ffffff;
            padding: 29% 16px;
            font-size: 22px;
            text-align: center;
        }
        .direction {
            a {
                color: $link-color;
            }
            i {
                color: #454545;
            }
        }
        .propInfo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #ffffff;
            .close {
                right: 10px;
                top: 10px;
                position: absolute;
            }
            .project-address {
                position: absolute;
                top: 36px;
                width: 100%;
                text-align: center;
                .type {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    width: 90%;
                }
                .type,
                .locWrap {
                    font-size: 19px;
                    line-height: 1;
                }
                .img-details {
                    width: 100%;
                }
                .seller-img {
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin: 20px auto 5px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .avatar {
                    text-align: center;
                    font-size: 35px;
                    text-transform: uppercase;
                    padding-top: 6px;
                }
            }
            .other-details {
                background-color: #ffffff;
                width: 100%;
                color: #454545;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 99;
                .data-time-wrap {
                    border-bottom: 1px solid #f5f5f5;
                    padding: 15px 0;
                }
                .date,
                .time {
                    width: 49%;
                    display: inline-block;
                    text-align: center;
                }
                .direction-call-wrap {
                    .direction,
                    .call {
                        display: inline-block;
                        width: 49%;
                        text-align: center;
                        padding: 15px 0;
                    }
                    .direction {
                        border-right: 1px solid #f5f5f5;
                    }
                }
            }
        }
    }
    .buyerdashboard-wrap {
        position: relative;
        section.dashboard-cover {
            height: 200px;
            position: relative;
            width: 100%;
            overflow: hidden;
            .background-blur {
                // -webkit-filter: blur(5px);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                // background: url("/images/img-dumy-2.jpg") center no-repeat;
                background-color: #f7f7f7;
                background-size: cover;
                opacity: .8;
                z-index: 1;
                overflow: hidden;
            }
            .user-details {
                position: relative;
                z-index: 9;
                width: 100%;
                padding: 50px 5px 5px 4%;
            }
            .userimg {
                width: 80px;
                height: 80px;
                background: url("/images/avatar.png") center center no-repeat;
                background-size: cover;
                overflow: hidden;
                border-radius: 100%;
                display: inline-block;
                vertical-align: middle;
                max-width: 150px;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .user-name {
                text-align: left;
                display: inline-block;
                max-width: 230px;
                width: 65%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: middle;
                color: #454545;
                margin-left: 16px;
                font-size: 20px;
                line-height: 1.3;
                .heading {
                    h2 {
                        font-size: 18px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #454545;
                    }
                }
                .sub-heading {
                    text-align: left;
                    margin-top: 2px;
                    margin-bottom: 2px;
                }
                .btnn {
                    margin-top: 5px;
                    display: block;
                    max-width: 100px;
                    color: #ffffff;
                }
            }
        }
        section.buyer-journey {
            background-color: #ffffff;
            padding: 30px 12px;
            .journey-wrap {
                border-left: 2px solid #d4d4d4;
                padding-left: 20px;
                .effective {
                    color: $supportColor;
                    margin-bottom: 25px;
                    position: relative;
                    .icon-makaanfill,
                    .icon-makaan {
                        color: $link-color;
                        position: absolute;
                        left: -29px;
                        top: -2px;
                        font-size: 16px;
                    }
                }
                ul.journey-calender {
                    position: relative;
                    width: 100%;
                    li {
                        margin-bottom: 35px;
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        .arrow {
                            position: absolute;
                            right: 0;
                            top: 8px;
                            font-size: 20px;
                            color: $link-color;
                        }
                        .dashed {
                            position: absolute;
                            right: -4%;
                            top: 0px;
                            height: 100%;
                            width: 3px;
                            background-color: $link-color;
                            z-index: 999;
                        }
                        &:last-child {
                            margin-bottom: 0;
                            .icon-wrap {
                                height: 40px;
                            }
                        }
                        b {
                            color: #555555;
                            display: inline-block;
                            width: 100%;
                            font-size: 17px;
                        }
                        .support-text {
                            color: $supportColor;
                            font-size: 15px;
                        }
                        .icon-wrap {
                            position: absolute;
                            font-size: 24px;
                            left: -32px;
                            top: 8px;
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .buyer-db-wrap {
        padding: 15px;
        background-color: #fff;
        .btn-wrap {
            padding: 30px 0;
        }
        /* article screen css */
        .propCard {
            margin: auto;
            margin-bottom: 20px;
            position: relative;
            min-height: 300px;
            max-width: 325px;
            cursor: pointer;
            overflow: hidden;
            box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.5);
            background-color: #fff;
            .imgwrap {
                position: relative;
                height: 210px;
                display: inline-block;
                width: 100%;
                text-align: center;
                width: 100%;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, .2);
                }
                .clse {
                    cursor: pointer;
                    color: #fff;
                    position: absolute;
                    top: 5px;
                    right: 20px;
                    z-index: 1;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    display: block;
                    text-shadow: 1px 1px 4px #000;
                }
            }
            .city {
                color: #fff;
                font-size: 30px;
                font-weight: bold;
                position: absolute;
                top: 40%;
                left: 0;
                z-index: 1;
                width: 100%;
                text-align: center;
            }
            img {
                width: 100%;
                height: 100%;
                z-index: 0;
            }
            .bot-wrap {
                padding: 15px 20px;
            }
            .article-txt-info {
                font-size: 16px;
                line-height: 1.1;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #454545;
                position: relative;
                min-height: 36px;
            }
            .no-found-wrap {
                padding: 100px 0;
                text-align: center;
            }
            .prop-info-wrap {
                width: calc(100% - 100px);
                span {
                    display: block;
                    font-size: 16px;
                }
                .link {
                    position: absolute;
                    right: 1px;
                    top: 0;
                    color: $link-color;
                    font-size: 18px;
                }
            }
        }
        
        /* css for tabs in mobile */
        .tab {
            margin-bottom: 20px;
            width: 100%;
            ul {
                display: inline-block;
                margin: 0 auto;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #dcdcdc;
                padding-bottom: 2px;
                li {
                    border: 0;
                    font-size: 40px;
                    padding: 0;
                    display: inline-block;
                    max-width: 120px;
                    width: auto;
                    .num {
                        font-size: 36px;
                    }
                    .triangle {
                        padding-top: 0px;
                        margin-top: -5px;
                        font-size: 16px;
                        display: block;
                        padding-bottom: 1px;
                    }
                    &.selected {
                        .num {
                            color: $body-color;
                        }
                    }
                }
            }
        }
    }
    .buyer-db-wrap {
        &.articles {
            .propCard {
                min-height: 275px;
                .imgwrap {
                    height: 200px;
                }
            }
            .bot-wrap {
                text-align: center;
            }
        }
    }
    section.shortlist {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        background-color: #fbfbfb;
        width: 100%;
        display: inline-block;
        padding-bottom: 40px;
        .bot-wrap {
            .article-txt-info.login-msg {
                margin-top: 20%;
                span.login-txt {
                    width: 300px;
                    text-align: center;
                    display: block;
                    margin-bottom: 20%;
                }
                .login-button {
                    margin: 0 auto;
                    width: 40%;
                    display: block;
                    margin-top: 10px;
                }
            }
        }
        .serppropcard {
            ul {
                li {
                    border-radius: 20px;
                    overflow: hidden;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                    height: 251px;
                    max-width: 320px;
                    border: 1px solid #cdcdcd;
                    position: relative;
                    .sitevisitcard {
                        max-width: 320px;
                        height: 265px;
                        width: 100%;
                        box-shadow: 1px 0px 7px 1px rgba(135, 135, 135, 0.7);
                        margin: 0 auto;
                        position: relative;
                        .other-details {
                            bottom: 15px;
                        }
                    }
                    .propCard {
                        margin: 0 auto;
                        max-width: 320px;
                    }
                    .other-details {
                        background-color: #ffffff;
                        width: 100%;
                        padding: 10px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        text-align: center;
                        z-index: 99;
                        &:hover{
                            font-weight: bold;
                            text-decoration: none;
                            cursor: pointer;
                        }
                        .btnn {
                            background-color: transparent;
                            color: $link-color;
                            border: none;
                            &:hover {
                                background-color: transparent;
                                font-weight: bold;
                            }
                        }
                        .btnn-p {
                            color: $link-color;
                        }
                    }
                }
            }
        }
    }
    section.sitevisit {
        background-color: #fbfbfb;
        display: inline-block;
        width: 100%;
        padding: 0 15px;
        .visitecard-wrap {
            ul {
                li {
                    position: relative;
                    width: 100%;
                    max-width: 300px;
                    background-color: #999;
                    box-shadow: 0px 0px 10px -3px rgba(132, 132, 132, 0.7);
                    overflow: hidden;
                    margin: 0 auto 20px;
                    .sitevisitcard {
                        height: 300px;
                    }
                    .other-details {
                        background-color: #ffffff;
                        width: 100%;
                        color: #454545;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        i {
                            display: inline-block;
                            margin-right: 5px;
                            font-size: 16px;
                            vertical-align: middle;
                        }
                        .rating {
                            position: relative;
                            margin: 0 auto;
                            display: inline-block;
                        }
                        .data-time-wrap {
                            border-bottom: 1px solid #eeeeee;
                            padding: 15px 0;
                        }
                        .date,
                        .time {
                            width: 49%;
                            display: inline-block;
                            text-align: center;
                        }
                        .direction-call-wrap {
                            .direction,
                            .call {
                                display: inline-block;
                                width: 49%;
                                text-align: center;
                                padding: 15px 0;
                            }
                            .direction {
                                border-right: 1px solid #eeeeee;
                            }
                            .direction.disabled,
                            .call.disabled {
                                color: #eeeeee;
                                cursor: not-allowed;
                                i {
                                    color: #eeeeee;
                                    span {
                                        color: #eeeeee;
                                        &:before {
                                            color: #eeeeee;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    section.shortlist {
        .serppropcard {
            .card-wrap {
                .service-heading {
                    width: 100%;
                    font-size: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.2;
                    text-transform: capitalize;
                }
                .flip-container {
                    .upper-wrap,
                    .selected-upper-wrap {
                        .img-wrap {
                            max-width: 95px;
                            height: 95px;
                            margin: 32px auto 0;
                            text-align: center;
                            i {
                                font-size: 80px;
                            }
                        }
                    }
                    .flipper {
                        min-height: 250px;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .propCard,
    .visitecard-wrap,
    .buyer-db-wrap {
        .card-wrap {
            .service-heading {
                width: 100%;
                font-size: 16px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.2;
                text-transform: capitalize;
            }
            .flip-container,
            .flipper {
                min-height: 300px;
                box-shadow: none;
            }
            .upper-wrap,
            .selected-upper-wrap {
                .img-wrap {
                    height: 130px;
                    max-width: 135px;
                    text-align: center;
                }
            }
        }
    }
}
