@import "variables";
@import "mixins/ellipsis";
@import "components/deal-maker-banner";
@import "components/homepage-top-sellers";


.link {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
}

#sellers{
    background: #fafafa;
}

#city-overview {
    > section {
        padding: 40px 0;
    }
    section.breadcrumb-sec{
        padding: 40px 20px 0;
    }
    .suburb-wrap {
        padding: 0 10px;

        ul.level1 {
            overflow: hidden;
            white-space: nowrap;
            transition: transform 300ms ease-in-out;

            > li {
                display: inline-block;
                width: 225px;
                margin-right: 15px;
                vertical-align: top;
                white-space: nowrap;

                .suburb-name {
                    @include putellipsis;
                    max-width: 96%;
                    margin-bottom: 15px;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.3;

                    a {
                        color: #454545;
                        cursor: pointer;

                        &:hover {
                            color: $link-color;
                            text-decoration: none;
                        }
                    }
                }

                ul.level2 {
                    > li {
                        display: block;
                        @include putellipsis;
                        width: 100%;
                        margin-bottom: 10px;

                        a {
                            font-size: 14px;
                            color: #444444;
                            transition: 500ms ease-in-out;

                            &:hover {
                                color: $link-color;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    section.city-cover{
        min-height: 430px;
        height: 430px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;

        .blackTransparentBack{
            height: 430px;
            width: 100%;
            background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
            position: absolute;
            top: 0;
            left: 0;
        }

        .cover-info {
            margin-top: 130px;
            text-shadow: 2px 1px 3px rgba(0, 0, 0, .8);

            .basic-info {
                h1{
                    font-size: $h1;
                }
                .sub-text{
                    font-size: 21px;
                    line-height: 1;
                    margin-top: 8px;
                }
            }
        }

        .shareitem {
            position: absolute;
            right: 5px;
            top: 5px;
            width: 36px;
            height: 36px;
            padding: 5px 0 0 5px;
            background-color: #fff;
            border: solid 1px #fff;
            border-radius: 50%;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            cursor: pointer;
            z-index: 1;
        }
    }
    section.city-info{
        padding: 0;
        padding-bottom: 15px;
    }
   section.city-overview{
        background: #ffffff;
        .overview-desc{
            p{
                margin-top: 0;
            }
        }
   }
   ///// PROJECTS / SPOTLIGHT / BUILDERS SECTION WRAPPER CSS STARTS //////
   .psb-wrap {
       padding: 0px;
       background-color: #fff;
   }
   ///// MAKAAN IQ BLOG SECTION CSS STARTS //////
   .makaaniq-wrap {
       padding: 30px 0;
       background-color: #fafafa;

       @import "components/blog-makaaniq";
   }
   ///// MAKAAN IQ BLOG SECTION CSS ENDS //////

   section.scrollspy{
    padding: 0;
   }


   section.neighborhood-wrap{
        .neighbourhood-places{
            .d-commute{
                position: relative;
            }
        }
   }

   section.city-property-range{
        background-color: #f7f7f7;
        padding-bottom: 0px;
        .view-property{
            background-color: #ffffff;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .area-details{
            .graph-placeholder{
                min-height: 400px;
                position: relative;
            }
            .graph-baseline{
                position: absolute;
                bottom: 33px;
                left: 0;
                padding: 0 4%;
                width: 100%;
                line-height: 0px;
                span{
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    background-color: #000000;
                    height: 3px;
                }
            }
            .xylbl {
                position: absolute;
                bottom: 10px;
                left: 0;
                padding: 0 4%;
                width: 100%;

                .xlblmin {

                }

                .xlblmax {
                    position: absolute;
                    left: auto;
                    right: 4%;
                }
            }
        }
        .fc-wrap{
            margin-right: 30px;
        }
        .range-select-options {
            div[data-module="singleSelectDropdown"]{
                width: 30%;
                display: inline-block;
                margin-right: 20px;
            }
            div[data-module="multiSelectDropdown"]{
                width: 30%;
                display: inline-block;
                margin-right: 20px;
                .fc-wrap.multiselectbox {
                    .fc{
                        i.arrowdown{
                            color: $link-color;
                        }
                    }
                }
            }

            .fc-wrap.selectbox .fc, ul li {
                text-align: left;

                label.checkboxlbl .txt {
                    line-height: 17px;
                }
            }
        }
   }
    section.lifestyle{
        padding-bottom: 25px;
        background-color: #f7f7f7;
        .sub-tab{
            ul{
                li{
                    padding: 0 20px;
                }
            }
        }
        #lifestyle_window{
            margin-top: 25px;
        }
    }
    section.city-market-analysis{
        background-color: #ffffff;
        .graph-placeholder{
            .sub-tab{
                width: 171%;
            }
        }
        .graph-details{
            margin-left: 5%;
            .heading{
                h2{
                    margin-top: 30px;
                    margin-bottom: 30px;
                    text-transform: capitalize;
                }
            }
            ul.level1{
                list-style: none;
                li{
                    border-bottom: 1px solid #ebebeb;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    font-size: 15px;
                    list-style: none;
                    &:before{
                        content: "";
                    }
                    .small-font{
                        font-size: 12px;
                        padding-top: 4px;
                    }
                }
                .green{
                    color:$green;
                }
                .red{
                    color:$link-color;
                }
            }
        }
    }

    section.neighborhood-wrap {
        .map-area {
            margin-top: 50px;
            position: relative;
        }
        .svglegends-wrap {
            top: 0;
        }
    }

    section.topProjects{
        background-color: #ffffff;
    }

    .top-locality-tab {
        width: 25%;
        margin: 0 auto 30px;
    }

    @media screen and (max-width: 766px){
        .suburb-wrap{
            padding: 0 10px;
            ul.level1{
                >li{
                    width: 280px;
                    max-width: 170px;
                }
            }
        }
        section.city-info{
            .area-details{
                ul{
                    li{
                        .median{
                            .infoicon-wrap{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        section.city-property-range{
            padding-left: 10px;
            padding-right: 10px;
            .range-select-options{
                div[data-module="singleSelectDropdown"]{
                    width: 100%;
                    display: inline-block;
                    margin-right: 0;
                    .fc-wrap{
                        width: 100%;
                        margin-right: 0;
                        .arrowdown{
                            color: $link-color;
                        }
                    }
                }

                div[data-module="multiSelectDropdown"]{
                    width: 100%;
                    display: inline-block;
                    margin-right: 0px;
                    .fc-wrap{
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
        }

       section.city-market-analysis{
            .graph-placeholder{
                .sub-tab{
                    width: 92%;
                    margin-top: 0;
                }
            }
            .graph-details{
                margin-left: 0%;
                padding: 0;
                ul.level1{
                    list-style: none;
                    &:before{
                        content: "";
                    }
                    li{
                        border-bottom: 1px solid #ebebeb;
                        padding-bottom: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-bottom: 10px;
                        font-size: 15px;
                        .small-font{
                            font-size: 12px;
                        }
                    }
                    .green{
                        color:$green;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 767px){
        section.city-cover{
            min-height: 512px;
            height: 512px;
            .blackTransparentBack{
                height: 512px;
            }
            .cover-info{
                margin-top: 175px;
            }
        }
    }


    @media screen and (min-width: 1400px){
        section.city-cover{
            height: 650px;
            height: 650px;
            .blackTransparentBack{
                height: 650px;
            }
            .cover-info {
                margin-top: 250px;
                .basic-info{
                    .heading{
                        h2{
                            font-size: 65px;
                        }
                    }
                }
            }
        }
    }
}
/**** projects wrap starts ****/
.projects-wrap {
    padding: 30px 0;
}

.pc-list-wrap {
    text-align: center;
    overflow-y: hidden;
    overflow-x: auto;
}

.pc-list {
    display: block;
    width: calc((260 + 30) * 3px);
    padding: 5px 0;
    margin: 0 auto;
    perspective: 1000;

    .pc-card {
        position: relative;
        display: inline-block;
        width: 260px;
        height: 265px;
        margin-right: 30px;
        vertical-align: top;
        text-align: center;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
        cursor: pointer;
        transition: all 0.65s ease-in-out;
        transform-style: preserve-3d;

        .front-card, .back-card {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        &.bgc1 {
            .front-card, .top-area {
                background-color: #ffefc8;
            }
        }
        &.bgc2 {
            .front-card, .top-area {
                background-color: #ffcfcf;
            }
        }
        &.bgc3 {
            .front-card, .top-area {
                background-color: #ffe5f4;
            }
        }

        &:first-child {
            margin-left: 10px;
        }
        &:last-child {
            margin-right: 10px;
        }

        &.active {
            //box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.4);
            transform: rotateY(180deg);
        }
    }

    .front-card {
        padding: 10px;
        z-index: 2;
        transform: rotateY(0deg);

        .img-wrap {
            height: 140px;
            margin: 0 auto;
            padding: 20px;

            img {
                height: 96px;
            }
        }

        .count {
            color: #2c2c2c;
            font-size: 32px;
        }
        .pc-type {
            color: #444;
            font-family: $roboto;
            font-size: 18px;
        }
    }

    .back-card {
        transform: rotateY(180deg);
        text-align: left;
        background-color: #fefefe;

        /* top area heading starts */
        .top-area {
            width: 100%;
            height: 50px;
            padding: 10px;
        }
        .img-col {
            display: inline-block;
            width: 30px;
            vertical-align: middle;

            img {
                width: 100%;
            }
        }
        .txt-col {
            display: inline-block;
            width: calc(100% - 30px);
            padding-left: 8px;
            vertical-align: middle;
            font-size: 15px;
            line-height: 1;

            .count {
                color: #2c2c2c;
                font-weight: bold;
                padding-right: 5px;
            }
            .pc-type {
                color: #444;
                @include putellipsis;
                max-width: 99%;
            }
        }
        /* top area heading ends */

        /* bottom area heading starts */
        .btm-area {
            padding: 20px;
        }

        .proj-list {

            > li {
                position: relative;
                padding: 0px 0 10px 10px;
                text-align: left;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 7px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $link-color;
                }

                a {
                    display: inline-block;
                    @include putellipsis;
                    font-size: 15px;
                    line-height: 1.2;
                    color: $link-color;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        .more {
            padding: 15px 0 0 0;
            text-align: center;
        }

        .more-link {
            font-size: 17px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
        }
        /* bottom area heading ends */
    }
}
/**** projects wrap ends ****/

/**** top builders wrap starts ****/
.builders-wrap {
    padding: 30px 0;
}
.tb-list-wrap {
    .sudowrap {
        padding-left: 2px;
        max-height: 330px;
    }
}
.tb-list {
    display: block;
    padding: 5px;
    margin: 0 auto;

    .group-slide {
        display: block;
        float: left;
        width: 950px;
        margin-right: 10px;
    }
}

/*** top builder card default ***/
.tb-card {
    display: block;
    float: left;
    width: calc(50% - 40px);
    max-width: 420px;
    margin-right: 40px;
    margin-bottom: 40px;

    .tb-img-col {
        display: block;
        float: left;
        width: 160px;
        height: 110px;
        margin: 0px 0 0 0;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
        .img {
            position: relative;
            width: 100%;
            height: 110px;
            background-size: contain !important;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
        }
    }

    .tb-info-col {
        display: block;
        float: right;
        width: calc(100% - 160px);
        height: 120px;
        padding: 0px 10px 10px 30px;
        //border-bottom: dashed 1px #ececec;

        .minht {
            //min-height: 52px;
        }

        .tb-name {
            padding-bottom: 5px;
            font-family: $roboto;
            font-size: 21px;
            @include putellipsis;
        }
        .experience {
            padding-bottom: 5px;
            font-size: 14px;
        }
        .count-desc {
            font-size: 16px;
            @include putellipsis;
            .val {
                font-size: 18px;
            }
        }
    }
}

/*** for mobile useragent devices starts ***/
.tb-list-wrap-mob {
    //margin-bottom: 30px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-left: 10px;
}

.tb-list-mob {
    display: block;
    width: calc(((280px + 10px) * 28) + 10px);
    padding: 5px 0 20px;
    margin: 0 auto;

    .tb-card {
        width: 220px;
        height: 270px;
        padding: 10px;
        //border: solid 1px #ececec;
        margin-right: 10px;
        margin-bottom: 0;

        .tb-img-col {
            float: none;
            margin: 10px auto;
        }
        .tb-info-col {
            float: none;
            padding: 10px;
            width: 100%;
            border: none;
            text-align: center;
        }
    }
}
/*** for mobile useragent devices ends ***/
/**** top builders wrap starts ****/
@media screen and (max-width: 768px) {
    .pc-list-wrap {
        .pc-list {
            .pc-card {
                width: 220px;
                transform: rotateY(180deg);

                .img-wrap {
                    height: 120px;

                    img {
                        height: 90px;
                    }
                }

                &:hover {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}
