@import "variables";
@import "mixins/ellipsis";

.pagetitle {
    font-size: 2em;
    color: #acacac;
    display: inline;
}
.download-mobile-app {
    margin: 0;
    padding: 7%;
    
    .upper-panel {
      width:100%;
      min-height: 100px;
      display: inline-block;
      
      .lt-upper {
        display: flex;
        float:left;
        .heading-div {
          display:flex;
          flex-direction:column;
          justify-content:space-around;
          padding-left:15px;
        }
      }
      .rt-upper {
        display: block;
        float: right;
        margin-top: 15px;
      }
    }
    
    .expand-div {
      position: relative;
    }
    
    .active {
      max-height: inherit !important;
      height: auto;
    }
      
    .app-desc {
      max-height: 156px;
      overflow: hidden;
    }
      
    .morelink {
      position: absolute;
      right: 1%;
      display: inline-block;
      padding-top: 2px;
      color: #e81c28;
      text-decoration: none;
      cursor: pointer;
      .more {
        display: inline-block;
      }
      .less {
        display: none;
      }
    }
    
    .morelink {
      &.active {
        .more {
          display: none;
        }
        .less {
          display: inline-block;
        }
      }
    }
    
    .app-screenshot {
      height:340px;
      overflow:scroll;
      white-space:nowrap;
      margin-top: 50px;
      span {
        padding:5px;
      }
    }
    
    .other-app-box {
      position: relative;
      min-height: 35px;
      text-align: right;
    }
    
    .other-app {
      margin-top: 25px;
      white-space: nowrap;
    }
    
    .scatabs {
        width: 260px;
        margin: 0 auto;

        ul {
            height: 75px;

            li {
                height: 35px;
                font-size: 17px;
                line-height: 1;

                &.selected {
                    height: 55px;

                    &:before {
                        border-top-color: #f1f1f1;
                    }
                }
            }
        }
    }

    .download-link {
        margin: 0;
        padding: 0 0 5px;

        .android-link, .ios-link {
            height: 50px;
            width: 175px;
            max-width: 49%;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;

            img {
                width: 99%;
            }
        }
    }

    .title {
        font-size: 20px;
        line-height: 1.2;
    }

    .common-text{
        width: 100%;
        min-height: 75px;
    }

    .coming-soon {
        cursor: default;
    }

    .parent-pnl {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .buyer-app-panel, .seller-app-panel {
        padding: 30px 20px 40px;
        min-height: 450px;
    }

    .buyer-app-panel {
        .lft-pnl {
            display: block;
            float: left;
            width: 400px;
            padding-left: 20px;

            img {
                width: 100%;
            }
        }

        .right-pnl {
            display: block;
            float: right;
            width: calc(100% - 400px);
            padding: 0 30px 0 50px;
        }
    }

    .seller-app-panel {
        overflow: hidden;

        .lft-pnl {
            position: relative;
            display: block;
            float: left;
            width: 400px;
            height: 350px;
            background-image: url(/images/homepage/talk-m.png);
            transition: all .5s ease-in-out;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center top;
            text-align: center;
            padding-top: 26px;
            padding-right: 20px;

            &:before {
                content: '';
                width: 200px;
                z-index:-1;
                height: 200px;
                position: absolute;
                right: 50px;
                top: -28px;
                background: url(/images/sellerHomePage/logo-outline.png) no-repeat;
                background-size: contain;
            }

            .phone-img {
                height: 265px;
                margin-left: 20px;
            }
        }

        .right-pnl {
            display: block;
            float: right;
            width: calc(100% - 400px);
            padding: 0 30px 0 50px;
        }
    }
}

@media screen and (max-width:767px) {
    .download-mobile-app {
        .download-link {
            .android-link {
                margin-right: 0;
            }
        }
        .buyer-app-panel, .seller-app-panel {
            padding: 10px 15px;

            .lft-pnl {
                float: none;
                width: 200px;
                margin: 0 auto 10px;
                text-align: center;
            }

            .right-pnl {
                width: 100%;
                float: none;
                padding: 0;
                text-align: center;
            }
        }

        .seller-app-panel {
            padding: 30px 15px;

            .lft-pnl {
                padding-top: 27px;
                padding-right: 18px;
            }
        }
    }
} 

@media screen and (min-width:768px) {
    .download-mobile-app {
        .title {
            font-size: 24px;
        }
        .common-text {
            font-size: 16px;
        }
    }
}















