@import "variables";
@import "mixins/ellipsis";

.even-mrgn {
	margin-top: 40px;
	margin-bottom: 80px;
}
header.header .rhs-links .rhs-linklist>li.home-loan{
    display: none;
}
.hl-dashboard {

    background-color: #fff;

    h2 {
        font-size: 32px;
        font-weight: 500;
        color: $heading-color;
        margin-bottom: 28px;
    }

    ////// TOP BANNER SECTION //////
    .hl-banner {
        height: 437px;
        width: 100%;
        padding-top: 86px;
        background: #fff url(/images/homeloanDash/desktop/hl-d-banner-image.jpg) no-repeat right top;

        .main-txt {
            margin-bottom: 30px;
            max-width: 366px;
            font-size: 42px;
            color: $title-color;
            line-height: normal;

            span {
            	font-weight: 500;
            	font-size: 50px;
            	color: $heading-color;
            }
        }

        .sub-text{
        	font-size: 18px;
        	line-height: 1.4;
            max-width: 370px;
            margin-bottom: 30px;
        }

        .cta-wrap {
            .cbtn {
                width: 135px;
                font-size: 16px;
                text-align: center;
            }
            .txtbtn {
                margin-left: 32px;
                font-size: 16px;
                img {
                    width: 26px;
                    height: 36px;
                    float: left;
                    margin-right: 8px;
                    margin-top: -8px;
                }
            }
        }
    }

    ///// We are known for SECTION ////
    .known-for {

    	.kf-list-wrap {
            padding-top: 30px;
            text-align: center;

            .txtbtn {
                padding-top: 30px;
                font-size: 16px;
            }
        }

        ul {
            display: flex;

            li {
                text-align: center;
                flex: 1;
                position: relative;

                img {
                    margin-bottom: 20px;
                    height: 65px;
                    width: auto;
                }

                label {
                    display: block;
                    margin-bottom: 0;
                    font-size: 36px;
                    line-height: 1;
                    font-weight: 500;
                    color: $heading-color;
                }

                span {
                    display: block;
                    font-size: 18px;
                    color: $light-color;
                }

                &:nth-child(1) {
                    img {
                        height: 60px;
                    }
                }

                &:nth-child(1),
                &:nth-child(2) {
                    &:after {
                        content: '';
                        width: 1px;
                        height: 76px;
                        border: solid 1px #d3d3d3;
                        position: absolute;
                        top: 50%;
                        margin-top: -38px;
                        right: 0;
                    }
                }
            }
        }
    }

    ////// Affiliated Banks SECTION /////
    .homeloan-bank-logo {
        .banks {
            display: flex;
            flex-flow: wrap;

            .bank-img-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                flex: 0 170px;
                width: 170px;
                border: solid 1px #f7f7f7;
                text-align: center;
                vertical-align: middle;
                margin: 0 10px 20px 10px;

                img{
                    max-width: 110px;
                }
            }
        }
    }

    ///// Why should you apply with us? SECTION /////
    .apply-with-us {

        .awu-reason-list-wrap {
            padding-top: 20px;
        }

        ul {
            display: flex;

            li {
                width: 25%;
                padding-right: 50px;

                img {
                    margin-bottom: 26px;
                    height: 71px;
                    width: auto;
                }

                label {
                    display: block;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: normal;
                    color: $heading-color;
                }

                span {
                    display: block;
                    font-size: 16px;
                    color: $heading-color;
                    line-height: 22px;
                }

                &.coming {
                    width: 28%;

                    label {
                        position: relative;

                        &:after {
                            position: absolute;
                            top: -22px;
                            right: 18px;
                            content: '';
                            width: 78px;
                            height: 20px;
                            background-image: url(/images/homeloanDash/desktop/coming-soon.png);
                        }
                    }
                }
            }
        }
    }

    //// HOMELOAN CALCULATOR OVERWRITES ////
    .homeloan-calcs {

        /* homeloan module overight */
        .home-loan-wrap {
            padding: 0px;

            .compare-banks{
                display: none;
            }

            .emicalculator-wrap {
                width: 100%;
                float: none;
                border: none;

                .bar-slider{
                    background: #f7f7f7;
                }
            }

            .emical-mod {

                .lbl{
                    font-size: 20px;
                    padding-bottom: 18px;
                }

                .loan-amount{
                    .slider-input{
                        input{
                            padding-left: 50px;
                        }
                        span{
                            left: 0;
                            right: auto;
                        }
                    }                    
                }

                .slider-input{
                    input{
                        font-size: 20px;
                        height: 48px;
                        line-height: 48px;
                        width: 90%;
                        padding-left: 24px;
                        padding-right: 50px;
                    }

                    span{
                        font-size: 20px;
                        line-height: 48px;
                        right: 10%;
                        padding: 0 15px;
                    }
                }
            }

            .loan-graph{
                padding: 40px 0px 0 310px
            }

        }

        .fc-wrap {
            &.full-width {
                display: block;
                width: 100%;
            }
        }

        .emi-calc {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0px 35px 0px 5px;
        }
        .emi-calc-wrap {
            display: inline-block;
            width: 60%;
        }
        .emicalc-action {
            position: relative;
            float: right;
            width: 30%;
            border-left: solid 1px #f5f5f5;
            padding-left: 40px;
            .eli-la {
                margin-top: 80px;
                clear: both;
                text-align: center;
                font-size: 16px;
                .loan-amt {
                    color: #444;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            .emi-error {
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 65px;
                background-color: rgba(255, 255, 255, .9);
                height: 100%;
                width: 100%;
                font-size: 25px;
                text-align: center;
                opacity: 0;
                visibility: hidden;
                transition: all 150ms ease-in-out;
                z-index: 1;
                &.show-emi-error {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    /*makaaniQ blog section*/
    .blog-section {
        display: flex;
        flex-flow: wrap;

        .blog-list {
            margin: 0;
        }

        .miq-homelaon-news {
            width: calc(100% - 420px);
            flex: 0 0 calc(100% - 420px);
        }

        .miq-recent-news {
            width: 420px;
            flex: 0 0 420px;
            padding-left: 40px;
        }

        .blog-img-wrap {
            height: 208px;
        }

        .hdng {
            font-size: 18px;
        }

        .blog-card {
            width: 350px;
            margin-right: 20px;
            min-height: 345px;

            &:nth-child(even){
                margin-right: 0;
            }

            &.vertical-card{
                display: flex;
                width: 100%;
                height: auto;
                min-height: auto;
                margin: 0 0 20px 0;

                .blog-img-wrap {
                    width: 92px;
                    height: 92px;
                    flex: 0 0 92px;
                    margin-bottom: 0;
                }

                .desc-col {
                    padding-left: 20px;
                }

                .hdng {
                    font-size: 16px;
                }

            }
        }
    }
}
