﻿@import "variables";
@import "mixins/ellipsis";

.even-mrgn{
    margin-top: 24px;
    margin-bottom: 4px;
}

.hl-dashboard {

    background-color: #fff;

    h2 {
        margin-bottom: 30px;
        color: $heading-color;
        font-size: 21px;
        font-weight: 500;
        text-align: center;
    }

    ////// TOP BANNER SECTION //////
    .hl-banner {
        height: 410px;
        width: 100%;
        padding-top: 30px;
        padding-left: 15px;
        background: #fff url(/images/homeloanDash/mobile/hl-mobile-banner-image.jpg) no-repeat center top;
        background-size: cover;

        .main-txt {
            margin-bottom: 22px;
            max-width: 220px;
            font-size: 24px;
            color: $title-color;
            line-height: normal;

            span {
                font-weight: 500;
                font-size: 30px;
                color: $heading-color;
            }
        }

        .sub-text{
            display: none;
        }

        .cta-wrap {
            width: 220px;

            .cbtn {
                width: 135px;
                font-size: 16px;
                text-align: center;
            }

            .txtbtn {
                margin-top: 20px;

                img {
                    width: 13px;
                    height: 18px;
                    float: left;
                    margin-left: -10px;
                    margin-right: 5px;
                }
            }
        }

    }

    ///// We are known for SECTION ////
    .known-for {
        padding: 15px;
        background: #fff;
        border-bottom: solid 5px #f2f2f2;

        .kf-list-wrap{
            text-align: center;

            .txtbtn{
                padding-top: 30px;
                font-size: 14px;
            }
        }

        ul{
            display: flex;

            li{
                text-align: center;
                flex: 1;

                img{
                    margin-bottom: 12px;
                    height: 30px;
                    width: auto;
                }

                label{
                    display: block;
                    font-size: 18px;
                    color: $heading-color;
                    font-weight: normal;
                    line-height: normal;
                }

                span{
                    display: inline-block;
                    width: 84px;
                    color: $light-color;
                    font-size: 14px;
                    line-height: 1.25;
                }

                &:last-child{
                    padding-right: 10px;
                    
                    span{
                        width: 92px;
                    }
                }
            }
        }
    }

    .homeloan-bank-outerDiv {
        border-bottom: solid 5px #f2f2f2;
    }

    ////// Affiliated Banks SECTION /////
    .homeloan-bank-logo {
        margin-left: 8px;
        margin-right: 8px;
        width: calc(100% - 16px);

        .banks {
            display: flex;
            flex-flow: nowrap;
            overflow: auto;
            padding-bottom: 20px;

            .bank-img-wrap {
                display: flex;
                min-width: 130px;
                max-width: 200px;
                flex-basis: auto; /* default value */
                flex-grow: 1;
                align-items: center;
                justify-content: center;
                height: 75px;
                border: solid 1px #f7f7f7;
                text-align: center;
                vertical-align: middle;
                margin: 0 4px 8px 4px;
                background: #fff;
                border-radius: 3px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.3);

                img{
                    max-width: 90px;
                }
            }
        }
    }

    ///// Why should you apply with us? SECTION /////
    .apply-with-us {
        padding: 15px 0;
        background: #fff;
        border-bottom: solid 5px #f2f2f2;

        h2{
            padding: 0 15px;
        }

        .awu-reason-list-wrap{
            text-align: center;
            overflow: auto;
            padding-left: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        ul {
            display: flex;
            flex-flow: row nowrap;
            padding-right: 10px;

            li {
                padding: 16px;
                margin-right: 13px;
                flex: 0 0 267px;
                background: #fff;
                width: 267px;
                height: 202px;
                border-radius: 2px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

                img {
                    margin-bottom: 22px;
                    height: 47px;
                    width: auto;
                }

                label {
                    display: block;
                    font-size: 18px;
                    color: $heading-color;
                    line-height: normal;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                span {
                    display: block;
                    font-size: 14px;
                    color: $heading-color;
                    line-height: 19px;
                }

                &.coming label {
                    position: relative;

                    &:after {
                        position: absolute;
                        top: -20px;
                        right: 0;
                        content: '';
                        width: 78px;
                        height: 20px;
                        background-image: url(/images/homeloanDash/desktop/coming-soon.png);
                    }
                }
            }
        }
    }

    //// HOMELOAN CALCULATOR OVERWRITES ////
    .homeloan-calcs {
        padding: 15px;
        background: #fff;
        border-bottom: solid 5px #f2f2f2;
        
        .home-loan-wrap {
            padding: 0px;

            .compare-banks{
                display: none;
            }

            .btn-wrap-loan{
                display: none !important;
            }
        }

        .emi-calc {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0px 35px 0px 5px;
        }
        .emi-calc-wrap {
            display: inline-block;
            width: 60%;
        }
        .emicalc-action {
            position: relative;
            float: right;
            width: 30%;
            border-left: solid 1px #f5f5f5;
            padding-left: 40px;
            .eli-la {
                margin-top: 80px;
                clear: both;
                text-align: center;
                font-size: 16px;
                .loan-amt {
                    color: #444;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            .emi-error {
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 65px;
                background-color: rgba(255, 255, 255, .9);
                height: 100%;
                width: 100%;
                font-size: 25px;
                text-align: center;
                opacity: 0;
                visibility: hidden;
                transition: all 150ms ease-in-out;
                z-index: 1;
                &.show-emi-error {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }  
}

/*makaaniQ blog section*/
.blog-section {
    display: flex;
    flex-flow: wrap;
    padding: 15px;
    background: #fff;
    border-bottom: solid 5px #f2f2f2;

    .blog-list{
        display: flex;
        overflow: auto;

        .blog-card{
            min-height: 345px;
            flex: 0 0 260px;
        }
    }

    .miq-homelaon-news{
        width: 100%;
    }

    .miq-recent-news{
        display: none;
    }

}