@import "variables";
@import "mixins/ellipsis";
@import "components/homepage-common";
@import "components/homepageSearch";
@import "components/popular-localities";
@import "components/fav-recent-cards";
@import "components/tabs";

// overwriting the body
body {
    background-color: #fff;
}


/** overwriting the header for homepage case **/
header.header {
    border-color: transparent;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.05);

    .makaan-logo, .rhs-links .rhs-linklist > li {
        border-color: transparent;
    }

    .buy-rent {
        display: none;
    }

    .search-col {
        display: none;
        transition: none;
    }

    .rhs-links {

        .rhs-linklist {

            > li {
                a {
                    text-transform: capitalize;
                }

                &.download-s-app {
                    display: inline-block;
                    text-align: right;
                }
            }
        }
    }
}


.max400 {
    width: 100%;
    max-width: 400px;
}

.fadeInUp {
    visibility: visible;
    display: inline-block;
    animation-duration: 1s;
    animation-delay: 150ms;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

// second section - section just below the top fold
.second-section {
    .h-section {
        padding: 5px 0 70px;
        border-bottom: solid 1px #ececec;

        &.locality-container {
            padding-top: 30px;
        }
    }
}

// featured projects section starts (pp-banner.scss) OVERWRITES starts
.buyer-homepage {
    .pp-card-super-parent {
        border-top: solid 1px #f0f0f0;
    }
    .pp-card-wrap {
        max-width: 960px;
        padding: 0;
    }
}
// featured projects section starts (pp-banner.scss) OVERWRITES ends


// download app section starts
.download-app-section {
    background-image: linear-gradient(to left, #ffa2b2, #ff7999);
    color: #fff;

    &.h-section {
        padding: 50px 0 35px;
    }

    .title {
        color: #fff;
    }

    .img-wrap {
        position: relative;
    }

    .phone-in-hand {
        position: absolute;
        top: -112px;
        width: 313px;
        height: 516px;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;

        &.onloadimage {
            background-image: url(/images/homepage/new/phone-app.png);
        }
    }

    .features-wrap {
        padding: 30px 0;
        .feature {
            display: inline-block;
            margin-right: 30px;
        }

        .img-icon {
            width: 56px;
            height: 56px;
            background-repeat: no-repeat;
            background-size: contain;

            &.alert.onloadimage {
                background-image: url(/images/homepage/new/notification.png);
            }
            &.connect.onloadimage {
                background-image: url(/images/homepage/new/instant-connect.png);
            }
            &.fav.onloadimage {
                background-image: url(/images/homepage/new/fav.png);
            }
        }

        .txt {
            font-size: 15px;
        }
    }

    .contact {
        width: 100%;
        max-width: 400px;
    }

    $inputheight: 50px;

    .contact-country-wrap {
        position: relative;
        height: $inputheight;
        background-color: #fff;
        box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
        padding: 0px 10px;

        .country-code {
            display: inline-block;
            width: 40px;
            height: $inputheight;
            line-height: $inputheight;
            color: $dark-color;
            font-size: 18px;
        }

        .send-sms-input {
            display: inline-block;
            width: calc(100% - 40px - 110px); // width of sendbtn and country code is subtracted
            height: $inputheight;
            background-color: transparent;
            border: none;
            outline: none;
            color: $light-color;
            font-size: 18px;
        }

        .sendbtn {
            display: inline-block;
            width: 110px; // width is kept more coz after submitting btn txt changes
            height: $inputheight;
            line-height: $inputheight;
            background-color: transparent;
            border: none;
            text-align: right;
            color: $link-color;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .error-msg {
        position: absolute;
        font-size: 11px;
    }

    .link-wrap {
        margin-top: 30px;

        .dmabtn {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: 95px;
            padding: 3px 6px;
            margin-right: 10px;
            border: solid 1px #ffb7c3;
            border-radius: 3px;
            color: #fff;
            font-size: 12px;
            font-weight: normal;
            transition: all 0.3s ease-in-out;

            .dmaicon {
                display: inline-block;
                width: 19px;
                height: 19px;
                background-size: contain;
                background-repeat: no-repeat;

                &.gicon.onloadimage {
                    background-image: url(/images/homepage/new/playstore.png);
                }

                &.aicon.onloadimage {
                    background-image: url(/images/homepage/new/appstore.png);
                }
            }

            &:hover {
                transform: translateY(-4px);
                text-decoration: none;
            }
        }
    }
}
// download app section ends


// blog section makaaniq starts
.blog-section {

    .blogsliderwrap {
        &.slider-wrap {
            width: 100%;
            max-width: 960px;
        }
    }

    $blog-card-width: 300px;

    .blog-card {
        margin-right: 30px;
        width: $blog-card-width;

        .hdng{
            font-size: 18px;
        }
    }
}
// blog section makaaniq ends
