@import "variables";
@import "components/homepageSearch";
@import "components/round-carousel";
@import "mixins/ellipsis";
@import "components/top-sellers";
@import "components/homepage-top-sellers";

/** overwriting the header for homepage case **/
header.header {
    position: absolute;
    top: 20px;
    padding: 0 20px;
    background-color: transparent;
    border-color: transparent;
    color: #fff;

    .makaan-logo, .rhs-links .rhs-linklist > li {
        border-color: transparent;
    }

    .buy-rent {
        display: none;
    }
    .search-col {
        visibility: hidden;
        z-index: -1;
        width: 31%;
    }

    .rhs-links {
        width: 53%;

        .rhs-linklist {
            max-width: 100%;

            > li {
                a {
                    color: #fff;
                    text-transform: capitalize;
                }

                .app-img {
                    background-position: -208px -7px;
                }

                .list-icon {
                    width: 37px;
                    background-position: -4px -6px;
                }

                .user-img .avatar {
                    width: 35px;
                    background-position: -73px -6px;
                    background-size: 300px 44px;
                }

                &.download-s-app {
                    display: inline-block;
                    text-align: right;
                }
            }
        }
    }

    .hamburger-wrap {
        .hamburger-icon {
            > li, > li:nth-child(2) {
                background-color: #fff;
            }
        }
    }
}

.buyer-homepage {
    margin-top: -$hdrheight;

    .md-overlay{
        margin-top: -$hdrheight;
    }
}

// .homepage-wrap *{
//     transition: all .3s linear;
//     -webkit-transition: all .3s linear;
//     -moz-transition: all .3s linear;
//     -ms-transition: all .3s linear;
//     transform-style: flat;
//     -webkit-backface-visibility: hidden;
//    // -webkit-overflow-scrolling: touch;
//     // -webkit-perspective: 3000;
// }


.animatetransform {
    transition: transform 500ms linear, margin 500ms linear, width 500ms linear;
    -webkit-transition: transform 500ms linear, margin 500ms linear, width 500ms linear;
    -moz-transition: transform 500ms linear, margin 500ms linear, width 500ms linear;
    -ms-transition: transform 500ms linear, margin 500ms linear, width 500ms linear;
}


.animationFrame {
    transform-style: flat;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    //-webkit-overflow-scrolling: touch;
    -webkit-perspective: -1;
}

.poster-image {
    vertical-align: baseline;
    display: inline-block;
    width: 100%;

    img {
        width: 100%;
    }
}

.herovideo {
    width: 100%;
}


.homepage-wrap {
    background-color: #ffffff;

    .initial {
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
    }

    .badge {
        background-color: #ffffff;
        padding: 5px 18px 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        color: #ffffff;

        .pseudo {
            width: 0;
            height: 0;
            border-top: 17px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #aeaeae;
            position: absolute;
            right: -13px;
            top: -2px;
            border-radius: 6px;

            &:after {
                content: "";
                width: 0;
                height: 0;
                border-top: 17px solid transparent;
                border-bottom: 17px solid transparent;
                border-left: 17px solid #ffffff;
                position: absolute;
                right: 2px;
                top: -17px;
                border-radius: 8px;
            }
        }
    }

    .homeface {
        position: relative;
        z-index: 3;
        min-height: 400px;
    }

    .homeface-wrap {
        position: absolute;
        top: 0;
        height: 764px;
        width: 100%;
        padding: 20px 40px;
        background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0, transparent 15%);
        @extend .animatetransform;
        // @extend .animationFrame;
    }

    .download-makaan-app-bnr-section {

        .download-makaan-app-bnr-wrap {
            padding-top: 10px;
            max-width: 405px;
            margin: 0 auto;

            .download-makaan-app-bnr-text {
                display: inline-block;
                width: 50%;
                padding-left: 13px;
                font-size: 14px;
            }

            .download-makaan-app-bnr-logo {
                display: inline-block;
                width: 50%;
                position: relative;

                img {
                    height: 80px;
                }

                a.btnv2 {
                    margin-left: -40px;
                    padding-left: 10px;
                    position: absolute;
                    top: 23px;
                    right: 15px;
                    font-size: 14px;
                }
            }
        }
    }

    .video-section {
        position: relative;
        padding-top: 80px;

        .video-wrap {
            position: relative;
            padding: 20px 50px;
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            //padding-top: 30px;
            height: 0;
            overflow: hidden;

            #brand-video {
                cursor: pointer;
            }

            .staticimg {
                position: relative;
                z-index: 0;

                img {
                    width: 100%;
                }
            }

            #player {
                position: absolute;
                top: 0;
                width: 100%;
                height: auto;
                z-index: 0;
            }
        }
    }

    .highscoring {
        position: relative;
        margin-top: 100px;
        padding-bottom: 200px;
        min-height: 195px;
        background-color: #f0f0f0;
        &.onloadimage{
            background-image: url(/images/homepage/bgvector.png);
            background-repeat: repeat-x;
            background-position: center bottom;
        }
        @extend .animatetransform;
        @extend .animationFrame;

        .topimgsec {
            min-height: 350px;
            background-color: #f0f0f0;
            &.onloadimage{
                background-image: url(/images/homepage/bgtop.png);
                background-repeat: no-repeat;
                background-position: left top;
            }
        }

        .highscoring-wrap {
            position: relative;
            width: 800px;
            margin: 0px auto;
            padding: 150px 0 80px 200px;

            .mkiter {
                position: absolute;
                top: 138%;
                left: 10%;
                width: 27px;
                height: 45px;
                &.onloadimage{
                    background: url("/images/homepage/makaan-line-right.png") 0 0 no-repeat;
                    background-size: contain;
                }
            }

            .desc {
                position: relative;
                top: 370px;
                width: 100%;
                font-size: 20px;

                .hdng {
                    font-size: 45px;
                    line-height: 1.25;
                    text-transform: capitalize;
                }

                p {
                    width: 80%;
                    line-height: 1.25;
                }

                .redit {
                    color: $link-color;
                }
            }
        }
    }

    .sec-blog-makaaniq {
        position: relative;
        margin-top: 0px;
        margin-bottom: 200px;

        .blog-logo-wrap {
            text-align: center;

            img {
                width: 180px;
                height: auto;
            }
        }
        h2.blog-slogan {
            margin: 0;
            padding: 0 10px 15px;
            font-size: 21px;
            text-align: center;
            text-transform: capitalize;

            strong {
                color: $link-color;
                font-weight: normal;
            }
        }
        .blog-feed-wrap {
            padding: 20px 0 0 0;
        }
        .more-wrap {
            padding: 10px;
            text-align: right;

            .morelink {
                text-decoration: none;
                color: $link-color;
                cursor: pointer;
                text-transform: capitalize;
            }
        }
        h2.group-hdng {
            margin: 0;
            padding: 15px 10px;
            color: #6c6c6c;
            font-family: $roboto;
            font-size: 16px;
            line-height: 1;
            text-transform: capitalize;
        }
        .top-articles-wrap {

            .blogsliderwrap {
                padding: 0 10px;
            }

            .slider-window {
                overflow-y: hidden;
                overflow-x: auto;
                padding: 0 0px 20px;
                height: 350px;
            }
        }
        .recent-articles-wrap {
            padding-top: 30px;
        }
        .top-list {
            padding: 0;

            > li {
                display: block;
                float: left;
                width: 260px;
                height: 350px;
                margin-right: 10px;
                overflow: hidden;
            }

            .img-col {
                height: 150px;

                .img-link {
                    position: relative; /// while zooming border corners don't square
                    display: block;
                    overflow: hidden;
                    text-decoration: none;
                    cursor: pointer;
                    z-index: 2; /// while zooming border corners don't square
                }

                .blog-img {
                    position: relative;
                    display: block;
                    width: 100%;
                    min-height: 150px;
                    max-height: 150px;
                    z-index: 0;
                }
            }

            .desc-col {
                display: table;
                height: calc(100% - 150px);
                padding: 15px 15px 0;
                color: #fff;

                &.bg-orange, &.bg1 {
                    background-color: rgba(249, 163, 16, 1);
                }
                &.bg-pink, &.bg2 {
                    background-color: rgba(229, 35, 136, 1);
                }
                &.bg-red, &.bg3 {
                    background-color: rgba(230, 27, 39, 1);
                }
                &.bg-darkred, &.bg4 {
                    background-color: rgba(165, 33, 51, 1);
                }

                .article-type {
                    position: absolute;
                    top: 0px;
                    left: 12px;
                }

                .blog-content {
                    display: table-cell;
                    vertical-align: top;
                    padding: 36px 0 0 12px;
                    position: relative;
                }

                .article-hdng {
                    padding-bottom: 5px;
                    font-family: $roboto;
                    font-size: 20px;
                    line-height: 1.2;
                }

                .txt {
                    font-size: 13px;
                    max-height: 92px;
                    overflow: hidden;
                }
                a {
                    text-decoration: none;
                    color: inherit;
                }
                a:hover {
                    text-decoration: none;
                    color: #fff;
                }
            }

            > li:hover {
                cursor: pointer;
            }
        }
        .recent-list {
            margin: 0 10px;

            > li {
                position: relative;
                border-bottom: solid 1px #dcdcdc;
                padding: 18px 0;

                &:first-child {
                    border-top: solid 1px #dcdcdc;
                }
            }

            $imgwidth: 105px;

            .img-col {
                float: right;
                width: $imgwidth;
                height: 70px;

                .img-link {
                    position: relative; /// while zooming border corners don't square
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    text-decoration: none;
                    cursor: pointer;
                    z-index: 2; /// while zooming border corners don't square
                }

                .blog-img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s ease-in-out;
                }
            }

            .desc-col {
                float: left;
                width: calc(100% - #{$imgwidth});

                .blog-content {
                    padding: 30px 0 0;
                }

                .article-hdng {
                    padding-bottom: 5px;
                    //color: $dark-color;
                    font-family: $roboto;
                    font-size: 15px;
                    line-height: 1.2;
                }

                .author-name {
                    color: $light-color;
                    font-size: 13px;
                }

                .extras {
                    position: absolute;
                    bottom: 10px;
                    .postdate {
                        display: inline-block;
                        color: $light-color;
                        font-size: 13px;
                        text-transform: capitalize;
                    }

                    .read-time {
                        display: inline-block;
                        color: $light-color;
                        font-size: 13px;
                    }
                }
                a {
                    text-decoration: none;
                    color: inherit;
                }
                a:hover {
                    text-decoration: none;
                    color: #e81c28;
                }
            }

            > li:hover {
                cursor: pointer;

                .article-hdng {
                    color: $link-color;
                }
            }
        }
    }

    .buyer-story {
        position: relative;
        margin-top: 50px;
        padding-top: 200px;
        @extend .animatetransform;
        @extend .animationFrame;

        .story-wrap {
            position: relative;
            height: 630px;

            .m-text {
                display: none;
            }

            .big-makaan-ring {
                position: absolute;
                top: 42%;
                left: 15%;
                width: 75%;
                height: 750px;
                background: url("/images/homepage/logo-line.png") 0 0 no-repeat;
                background-size: contain;
                z-index: 99;
            }

            .heartpop {
                position: absolute;
                top: 135%;
                left: 50%;
                width: 113px;
                height: 212px;
                background: url("/images/homepage/a3.gif") 0 0 no-repeat;
                background-size: contain;
                z-index: 98;
            }

            .man-with-camera {
                position: absolute;
                top: 138%;
                left: 4%;
                width: 230px;
                height: 450px;
                &.onloadimage{
                    background: url("/images/homepage/search-img.png") 0 0 no-repeat;
                    background-size: contain;
                }
                border-radius: 25px;
                z-index: 99;

                .imglbl {
                    position: absolute;
                    bottom: -8%;
                    left: 4%;
                    color: #3c3c3c;
                    font-size: 24px;
                }
            }

            .site-visit {
                position: absolute;
                top: 80%;
                right: 15%;
                width: 310px;
                height: 260px;
                &.onloadimage{
                    background: url("/images/homepage/site-visit.png") 0 0 no-repeat;
                    background-size: contain;
                }
                border-radius: 25px;
                z-index: 99;

                .imglbl {
                    position: absolute;
                    bottom: -14%;
                    left: 10px;
                    color: #3c3c3c;
                    font-size: 24px;
                }
            }

            .happy-home {
                position: absolute;
                top: 124%;
                right: 5%;
                width: 371px;
                height: 374px;
                &.onloadimage{
                    background: url("/images/homepage/happy-home.png") 0 0 no-repeat;
                    background-size: contain;
                }
                border-radius: 25px;
                z-index: 99;

                .imglbl {
                    position: absolute;
                    bottom: -20%;
                    left: 130px;
                    color: #3c3c3c;
                    font-size: 24px;
                }
            }

            .pink-back {
                position: absolute;
                top: 36%;
                left: 7%;
                width: 230px;
                height: 192px;
                background: #e7248a;
                border-radius: 25px;
                z-index: 89;
            }

            .yellow-back {
                position: absolute;
                top: 42%;
                right: 13%;
                width: 230px;
                height: 192px;
                background: #fba510;
                border-radius: 25px;
                z-index: 89;
            }

            .red-back {
                position: absolute;
                top: 127%;
                right: 6.5%;
                width: 200px;
                height: 192px;
                background-color: $link-color;
                border-radius: 25px;
                z-index: 89;
            }

            .assist-throughout {
                position: absolute;
                top: 95%;
                left: 30%;
                z-index: 999;

                h2 {
                    max-width: 275px;
                    margin-top: 30px;
                    font-size: 50px;

                    .red {
                        color: $link-color;
                    }
                }

                p {
                    max-width: 330px;
                    margin-top: 20px;
                    font-size: 18px;
                    line-height: 1.3;

                    .shine {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .qualityking {

        .qualitykingwrap {
            background-color: #e81c28;
            padding: 48px;
            text-align: center;
            color: #fefefe;

            h2 {
                font-size: 45px;
            }

            .qualitylist {
                margin-top: 42px;

                ul {
                    li {
                        display: inline-block;
                        width: 23%;
                        margin-right: 40px;

                        .user-feedback, .quality-home {
                            width: 180px;
                            height: 135px;
                            margin: 0 auto;
                            background-size: contain;
                        }

                        .user-feedback {
                            background:url("/images/homepage/edit.png") center no-repeat;
                        }

                        .quality-home {
                            background:url("/images/homepage/house-1.png") center no-repeat;
                        }

                        p {
                            margin: 0 auto;
                            padding-top: 20px;
                            text-align: center;
                            font-size: 22px;
                            max-width: 220px;
                        }

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .download-makaan-app {
        background-color: #ffffff;

        .download-makaan-wrap {
            width: 100%;
            position: relative;
            padding: 70px 0 140px;

            .download-app {
                &.onloadimage{
                    background: url("/images/homepage/phone.png") 0 0 no-repeat;
                    background-size: contain;
                }
                width: 38%;
                max-width: 450px;
                height: 432px;
                display: inline-block;
                margin-right: 4%;
            }

            .download-app-content {
                width: 56%;
                display: inline-block;
                vertical-align: top;
                padding-left: 70px;
                padding-top: 45px;

                h2 {
                    font-size: 48px;
                    text-transform: capitalize;

                    .black {
                        color: #454545;
                    }
                    .red {
                        color: #e81c28;
                    }
                }

                b, p {
                    font-size: 18px;
                    color: #454545;
                    display: inline-block;
                }

                b {
                    margin-top: 25px;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }

                p {
                    margin: 0;
                }

                .contact {
                    width: 100%;
                    margin-top: 20px;
                    position: relative;

                    .contact-country-wrap {
                        border-bottom: 1px solid #454545;
                        padding-bottom: 10px;
                        width: 80%;
                    }
                    .country-code {
                        display: inline-block;
                        vertical-align: bottom;
                        width: 10%;
                        max-width: 100px;
                        color: #fdb417;
                        font-size: 24px;
                        text-align: center;
                    }
                    input[type="tel"] {
                        width: 75%;
                        padding-left: 8px;
                        border: none;
                        font-size: 24px;
                        color: #454545;
                        background-color: transparent;
                    }
                    input[type="button"] {
                        width: 100%;
                        max-width: 140px;
                        padding: 10px 24px;
                        margin-top: 35px;
                        background-color: #e81c28;
                        color: #ffffff;
                        text-decoration: none;
                        text-align: center;
                        font-size: 16px;
                        font-family: $roboto;
                        color: #fff;
                        border: 1px solid #e81c28;
                        border-radius: 25px;
                        cursor: pointer;
                        transition: all 500ms ease-in-out;
                        text-transform: capitalize;

                        &:disabled {
                            color: #bcbcbc;
                            border-color: #dddddd;
                            cursor: not-allowed;
                            background: none;
                            pointer-events: none;
                        }
                    }

                    input {
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    /*makaan international section*/
    .makaan-banner-wrap{
        .slider-wraper{
            li {
                width: 1140px;
            }
        }

        margin-bottom: 80px;

        .international-box{
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24);
            padding: 48px 0 48px 48px;

            .world-map-wrap{
                float: left;
                width: 500px;
            }

            .property-network{
                float: right;
                width: calc(100% - 500px);
                text-align: center;

                .m-logo-content{
                    padding-top: 20px;

                    img{
                        width: 113px;
                        height: auto;
                        display: inline-block;
                    }

                    span{
                      font-size: 18px;
                      text-align: left;
                      color: $title-color;
                      position: relative;
                      top: 10px;
                    }
                }

                h3{
                    font-size: 32px;
                    margin-top: 18px;
                    margin-bottom: 18px;
                }

                p{
                    font-size: 20px;
                    margin-bottom: 18px;
                    color: $title-color;
                }

                .cta-wrap{
                    margin-top: 30px;
                }
            }
        }
    }

    /*our partners section*/
    .investors-wrap{
        text-align: center;
        h2{
            font-size: 36px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            color: #333;
            text-transform: capitalize;
        }
        .investors-logo{
            margin-top: 55px;
            margin-bottom: 100px;
            display: inline-block;
            width: 100%;
            max-width: 1170px;
            li{
                display: inline-block;
                width: 14%;
                vertical-align: middle;

                .onloadimage{
                    display: inline-block;
                    background: url(/images/homepage/funderLogo.png) no-repeat;
                    overflow: hidden;
                    text-indent: -9999px;
                    text-align: left;
                }

                .investor-newscorp{
                    background-position: -5px 0;
                    width: 138px;
                    height: 40px;
                }

                .investor-rea-group{
                    background-position: -5px -86px;
                    width: 135px;
                    height: 40px;
                }

                .investor-softbank{
                    background-position: -5px -45px;
                    width: 137px;
                    height: 36px;
                }

                .investor-saif-partners{
                    background-position: -5px -131px;
                    width: 129px;
                    height: 16px;
                }

                .investor-accel{
                    background-position: -5px -152px;
                    width: 95px;
                    height: 30px;
                }

                .investor-rb-investment{
                    background-position: -5px -222px;
                    width: 78px;
                    height: 40px;
                }

                .investor-nexus-venture{
                    background-position: -5px -187px;
                    width: 90px;
                    height: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .homepage-wrap {
        margin-top: -65px;

        .homeface-wrap {
            height: 530px;

            .magic-search-wrap {
                padding-left: 3%;

                .searchbox {
                    .magic-search-box {
                        .search-wrap {
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .video-section {
            padding-top: 100px;
        }

        .highscoring {
            .highscoring-wrap {
                width: 100%;
                max-width: 800px;
                padding-right: 30px;

                .desc {
                    top: 300px;
                }
            }
        }

        .buyer-story {
            position: relative;
            padding-top: 120px;
            padding-bottom: 50px;
            background-color: #f0f0f0;

            .story-wrap {
                height: 1200px;
                width: 100%;

                .m-text {
                    display: block;
                    max-width: 115px;
                    position: absolute;
                    color: #454545;
                    font-size: 13px;
                }

                .big-makaan-ring, .heartpop {
                    display: none;
                }

                .man-with-camera {
                    width: 59%;
                    //height: 26%;
                    position: relative;
                    top: 110%;
                    left: 0;
                    z-index: 99;

                    .m-text {
                        left: 65%;
                        bottom: auto;
                        top: 30%;
                    }

                    .imglbl {
                        bottom: auto;
                        top: 23%;
                        left: 64%;
                        padding-left: 5px;
                        border-left: 2px solid $link-color;
                        font-size: 24px;
                    }
                }

                .site-visit {
                    width: 66%;
                    //height: 13%;
                    position: relative;
                    top: 68%;
                    right: -34%;
                    background-position: right;

                    .m-text {
                        left: 12%;
                        top: 40%;
                        max-width: 30%;
                    }

                    .imglbl {
                        bottom: auto;
                        top: 28%;
                        left: 11%;
                        padding-left: 5px;
                        border-left: 2px solid $link-color;
                        font-size: 24px;
                    }
                }

                .happy-home {
                    width: 90%;
                    //height: 17%;
                    top: 124%;
                    left: -15%;

                    .m-text {
                        top: 22%;
                        right: auto;
                        left: 61%;
                        width: 100px;
                    }

                    .imglbl {
                        bottom: auto;
                        top: 14%;
                        left: 60%;
                        width: 41%;
                        padding-left: 5px;
                        border-left: 2px solid $link-color;
                        font-size: 24px;
                    }
                }

                .pink-back {
                    position: absolute;
                    top: 45%;
                    left: 0%;
                    width: 270px;
                    height: 300px;
                }

                .yellow-back {
                    position: absolute;
                    top: 97%;
                    right: 0%;
                    width: 300px;
                    height: 10%;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .red-back {
                    position: absolute;
                    top: 108%;
                    right: auto;
                    left: 0;
                    width: 275px;
                    height: 300px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                .assist-throughout {
                    position: absolute;
                    top: 25%;
                    left: 9%;
                    right: 9%;
                    bottom: auto;

                    h2 {
                        font-size: 40px;
                        margin-top: 27px;
                        max-width: 275px;
                    }

                    p {
                        margin-top: 20px;
                        max-width: 300px;
                        font-size: 18px;
                        line-height: 1.25;
                    }
                }
            }
        }

        .download-makaan-app {
            .download-makaan-wrap {
                .download-app {
                    margin-left: 3%;
                    margin-right: 2%;
                    background-position: center;
                }

                .download-app-content {
                    padding-left: 50px;
                    padding-right: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .homepage-wrap {
        .poster-image{
            min-height: 700px;
        }

        .sec-blog-makaaniq {
            margin-top: 100px;
            margin-bottom: 100px;
            $rightxecwidth: 350px;

            .top-articles-wrap {
                display: block;
                float: left;
                width: calc(100% - #{$rightxecwidth});
                padding: 0 0 0 10px;
                overflow: hidden;

                .blogsliderwrap {
                    padding: 0;
                    position: relative;

                    .btn-prev, .btn-next {
                        position: absolute;
                        bottom: 20px;
                        left: 35%;
                        display: block;
                        width: 30px;
                        height: 30px;
                        padding: 0;
                        color: #fff;
                        font-size: 21px;
                        text-align: center;
                        text-decoration: none;
                        cursor: pointer;

                        &:hover{
                            color: #000;
                        }

                        &.disable {
                            opacity: 0.3;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }

                    .btn-prev {
                        left: 30%;
                    }
                }

                .slider-window {
                    overflow: hidden;
                    height: 320px;
                    width: 100%;
                }

                .more-wrap {
                    padding: 10px 20px 0 0;
                }
            }
            .recent-articles-wrap {
                display: block;
                float: right;
                width: $rightxecwidth;
                padding-top: 0;
                padding-left: 20px;

                .more-wrap {
                    padding: 10px 30px 0 0;
                }
            }
            .top-list {
                transition: all 0.3s ease-in-out;

                > li {
                    width: 100%;
                    height: 320px;
                }

                .img-col {
                    float: right;
                    width: 60%;
                    height: 100%;

                    .img-link {
                        height: 100%;
                    }

                    .blog-img {
                        min-height: 100%;
                        max-height: 100%;
                        height: 100%;
                    }
                }

                .desc-col {
                    position: relative;
                    float: left;
                    height: 100%;
                    width: 40%;
                    z-index: 2;

                    .txt {
                        padding-top: 10px;
                        font-size: 15px;
                        line-height: 1.25;
                        max-height: 125px;
                        overflow: hidden;
                    }
                }
            }
            .recent-list {
                max-height: 325px;
                padding-right: 20px;
                overflow-x: hidden;
                overflow-y: auto;

                > li {

                }
            }
        }
    }
}


// improving load times
.dummy-bg {
    background-image: none !important;
}
