@import "variables";
@import "mixins/ellipsis";
@import "components/deal-maker-banner";

#locality-overview {
    @media screen and (max-width: 767px){
        section.locality-info{
            .area-details{
                ul{
                    li{
                        .median{
                            .infoicon-wrap{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        section.locality-overview-desc{
            padding-left: 15px;
            padding-right: 15px;
        }
        section.neighborhood-wrap{
            padding-top: 30px;
            padding-bottom: 30px;
            .heading{
                margin-bottom: 25px;
            }
        }
        section.market-analysis{
            .heading{
                margin-bottom: 0;
                h2{
                    margin-bottom: 15px;
                }
            }
            .area-details{
                .graph-placeholder{
                    .sub-tab{
                        top: -80px;
                    }
                }
                .graph-details{
                    padding-top: 30px;
                    padding-left: 30px;
                    padding-right: 20px;
                    ul.level1{
                        li{
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .visit-listing{
                padding-left: 0;
                margin-bottom: 0;
            }
        }
        section.available-properties-wrap{
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
            .available-properties{
                .tabs{
                    width: 85%;
                    max-width: 450px;
                    margin: 0 auto;
                }
                .pie-graph-placeholder{
                    margin-top: 0;
                    #buy-availiable-property, #rent-availiable-property{
                        .sub-tab.m-sub-tab{
                            margin-top: 30px;
                            margin-bottom: 70px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    #locality-overview {
        .heading{
            h1{
                line-height: 1.3;
            }
        }
        section.market-analysis{
            .heading{
                margin-bottom: 20px;
            }
            .graph-placeholder{
                .sub-tab{
                    top: -75px;
                }
            }
            .graph-details{
                margin-top: 15px;
                ul.level1{
                    li{
                        margin-bottom: 15px;
                    }
                }
            }
        }
        section.neighborhood-wrap{
            .tabs{
                li.selected{
                    &:before{
                        border-top-color: #f1f1f1;
                    }
                }
            } 
        }
        
        section.top-sellers{
            .tabs{
                ul{
                    max-width: 25%;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
            }
        }

        section.seolinks{
            padding: 40px 0;
            background: #ffffff;
            .suburb-wrap{
                padding: 0 10px;
                ul.level1{
                    overflow: hidden;
                    white-space: nowrap;
                    transition: transform 300ms ease-in-out;
                    >li{
                        display: inline-block;
                        width: 244px;
                        vertical-align: top;
                        white-space: nowrap;

                        .suburb-name{
                            @include putellipsis;
                            max-width: 96%;
                            margin-bottom: 15px;
                            font-size: 18px;
                            font-weight: bold;
                            line-height: 1.3;
                            a{
                                color: #454545;
                                cursor: pointer;
                                &:hover{
                                    color: $link-color;
                                    text-decoration: none;
                                }
                            }
                        }
                        ul.level2{
                            padding-right: 5px; 
                            >li{
                                display: block;
                                @include putellipsis;
                                width: 90%;
                                margin-bottom: 10px;
                                a{
                                    font-size: 14px;
                                    color: #444444;
                                    transition: 500ms ease-in-out;
                                    &:hover{
                                        color: $link-color;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}

