@import "variables";
@import "mixins/ellipsis";

@import "fontIcons-firstFold";

@import "components/header";
@import "components/typeahead";
@import "components/seo-footer";

@import "components/buttons";

html {
    //height: 100%;
}

.currency {
    &:before {
        content:'₹';
    }
}

body {
    background-color: $body-bg-color;
    color: $body-color;
    width: $body-width;
    //height: 100%;
    padding-top: 1px;
    margin-top: -1px;
    font-family: $roboto;
    font-size: $body-font-size;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.openmenu{
        height: calc(100% - 4px);
    }

    ::selection {
        background-color: #ffcaca;
    }
    img[src*="www.google-analytics.com"]{
        position: absolute;
        height: 0;
        width: 0;
        font-size: 0;
    }
}

.md-overlay{
    display: none;
}

.disabled-item {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
    &:hover,
    &:focus,
    &.focus {
      text-decoration: none;
      background-color: #E71C28;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.body-container {
    //height: 100%;
}

.body-content {
    margin-top: $hdrheight;
}


// flickering fixes after form-elements, tooltip css moved to lazyload
.dd {
    height: 0;
    overflow: hidden;
}
// flickering fixes after form-elements, tooltip css moved to lazyload
.mp-tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.block-image{
    display: block;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
    list-style: none;
}

// H tags basics
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

// basic animations

/* SPIN ANIMATION CLASS STARTSS */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverse-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

// for clockwise rotation
.ispinner {
    display: inline-block;
    animation: spin 1000ms infinite linear;
}

// for anticlockwise rotation
.rispinner {
    display: inline-block;
    transform-origin: 50% 45% 0;
    animation: reverse-spin 1000ms infinite linear;
}
/* SPIN ANIMATION CLASS ENDSSS */

/** Common Classes **/
.max980 {
    max-width: 980px;
    margin: 0 auto;
}
.max1140 {
    max-width: 1140px;
    margin: 0px auto;
}
.max780{
    max-width: 780px;
    margin: 0 auto;
}

.ta-c, .text-center { text-align: center; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }

// switch toggle module
.switch-toggle {
    position: relative;
    display: block;
    width: 100%;
    height: 28px;
    margin: 8px auto 0;
    padding: 0;
    background-color: #f9f9f9;
    border-radius: 20px;

    &.large{
        height: 40px;
        width: auto;
        display: inline-block;
        box-shadow: 0 0 1px #d8d8d8 inset;

        input + label {
            padding: 13px 30px 0;
        }

    }

    &:after {
        display: table;
        clear: both;
        content: "";
    }

    input {
        position: absolute;
        left: 0;
        opacity: 0;
    }

    input + label {
        position: relative;
        display: block;
        float: left;
        /*width: 25%; // since we have to switch in 4 options, width for 1 option = 25%*/
        width:50%;
        height: 100%;
        z-index: 2;
        padding: 6px 5px 0;
        margin: 0;
        vertical-align: middle;
        text-align: center;
        color: $dark-color;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        transition: all 0.2s ease-out;
        cursor: pointer;
    }

    input:checked + label {
        color: #fff;
    }

    // making anchor tag as toggle btn
    a {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        /*width: 25%; // setting it same as that of label*/
        width:50%;
        height: 100%;
        padding: 0;
        z-index: 1;
        border-radius: 20px;
        background-color: $link-color;
        color: #fff;
        transition: all 0.2s ease-out;
    }

    // to move the anchor tag as toggle btn
    label:nth-child(2) ~ input:checked:nth-child(3) + label ~ a {
        /*left: 25%;*/
        left:50%;
    }
    /*label:nth-child(4) ~ input:checked:nth-child(5) + label ~ a {
        left: 50%;
    }
    label:nth-child(6) ~ input:checked:nth-child(7) + label ~ a {
        left: 75%;
    }*/
}

.punch-lines-wrap .switch-toggle {
    input + label {
        width: 50%; // since we have to switch in 2 options, width for 1 option = 50%
    }
    a {
        width: 50%; // setting it same as that of label
    }
    // to move the anchor tag as toggle btn
    label:nth-child(2) ~ input:checked:nth-child(3) + label ~ a {
        left: 50%;
    }
}

#content {
    position: relative;
    right: 0;
    width: 100%;
    margin-left: 0px;
    padding: 0px;
    -webkit-overflow-scrolling: touch;
    transition: all 0.15s ease-in-out;
    z-index: 2000;

    [data-role="page"] {
        position: relative;
        z-index: 0;
    }

    .ae {
        .currency:before {
            content: 'AED';
        }
    }
}
.text-ellipse {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
//header
.header {
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    height: $hdrheight;
}

.no-padding {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}

.sent-case {
    text-transform: capitalize;
}

.sudotxt {
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.img-box {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
}

.img-box-circular {
    border-radius: 100%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

.link-disabled{
    cursor: default !important;
    text-decoration: none !important;
    color: #ccc !important;
}

.download-app-ios {
    font-size: 20px;
    padding: 10px 5px;
    margin: 25% auto;
    text-align: center;
}

//updated date section
.updated-date {
    float: right;
    padding: 0px 20px 20px;
    font-size: 12px;
    color: #acacac;
    text-align: right;
}

.offline-toaster-popup {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: black;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 9999;
}

.global-msg-wrap{
    width: 100%;

    .error-msg {
        color: $link-color;
        font-size: 12px;
    }

    .success-msg {
        color: $green-color;
        font-size: 12px;
    }
}

body.gallery-open {
    .body-container {
        position: relative;
        overflow: hidden;

        header {
            display: none;
        }
    }
}

body.filters-open {
    overflow: hidden;
}

config {
  display: none;
}

.alert-head {
    font-size: 16px;
    text-align: center;
    margin-top: 0;
}

.cancel-options {
    text-align: center;
    margin: 20px auto 0px;
}

@media screen and (max-width: 767px){
    .body-content{
        margin-top: $hdrheightMobile;
    }

    .updated-date {
        padding: 0px 20px 10px;
    }
}

@media screen and (max-width: 768px){
    .download-app-ios{
        font-size: 24px;
        padding: 10px;
        margin: 25% auto;
    }
}

@media screen and (min-width: 1367px) {
    // large screen fix
    .lsfix {
        max-width: 1366px;
        margin: 0px auto;
    }
}

.visible1024nbelow {
    display: none !important;
}
@media (max-width: 1024px) {
    .hide1024nbelow {
        display: none !important;
    }
    .visible1024nbelow {
        display: block !important;
    }
}
