@import "components/page-loader";
/*** Color ***/
$theme-color: #E71C28;
$theme-color-hover: #f7000e;
$dark-color: #444;
$semi-dark-color: #999;
$mid-dark-color: #535353;
$semi-light: #666;
$light-color: #ccc;
$lighter-color: #888;
$box-shadow:rgba(0,0,0,0.3);
$red-color: #e71c28;
$theme-color-two: #fba511;


.max-width150{
    max-width: 150px;
}
.max-width220{
    max-width: 220px;
}
.no-margin{
    margin: 0 !important;
}
.icon-sprite{
    background: url(/images/login-sprite.png) no-repeat;
    display: inline-block;
}
.p-info-icon{
    width: 43px;
    height: 49px;
    background-position: -96px -63px;
}
.who-u-icon{
    width: 45px;
    height: 60px;
    background-position: 0 0;
}
.owner-icon{
    width: 60px;
    height: 60px;
    background-position: -47px 0;
}
.agent-icon{
    width: 60px;
    height: 60px;
    background-position: -110px 0;
}
.builder-icon{
    width: 60px;
    height: 60px;
    background-position: -173px 0;
}

.connect-icon{
    width: 56px;
    height: 40px;
    background-position: 0 -121px;
}
.cheers-icon{
    width: 47px;
    height: 56px;
    background-position: -47px -63px;
}

.profile-icon{
    width: 60px;
    height: 60px;
    background-position: -236px 0;
}
.eye-icon{
    width: 24px;
    height: 16px;
    background-position: -62px -121px;
}
.otp-icon{
    width: 45px;
    height: 45px;
    background-position: 0 -63px;
}
/*--------------------------------------------------------------------------/
                        form input box css start here
/---------------------------------------------------------------------------*/
.login-input-box{
    margin:35px 0 0 0;
    border-bottom:1px solid $light-color;
    position:relative;
    transition: border-bottom-color 0.3s ease-in-out;
    .loading-data-icon{
        top: inherit;
        right: 0;
        bottom: 5px;
    }
    .eye-holder{
        position: absolute;
        bottom: 0;
        padding:5px 10px 5px 20px;
        height: 28px;
        right: 0;
        transition: transform 0.3s ease-in-out;
        cursor:pointer;
        z-index: 2;
    }
    &:after{
        content:'';
        height:1px;
        width:0;
        position:absolute;
        bottom:-1px;
        left:0;
        background:$theme-color;
        transition:width 0.15s ease-in-out;
    }
    &:hover:after, &.focus:after{
        width: 100%;
    }
    input, textarea{
        background:none;
        width:100%;
        outline:none;
        border:none;
        padding:0;
        font-size:1em;
        color:$dark-color;
        position:relative;
        z-index:2;
        padding:6px 0 0 0;
        box-shadow: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    input{
        padding: 6px 50px 2px 0;
    }
    textarea{
        height: 27px;
        transition:all 0.3s ease-in-out;
        vertical-align: bottom;
        resize:none;
    }
    label{
        position:absolute;
        left:0;
        top:3px;
        font-size:1em;
        color:$semi-dark-color;
        z-index:1;
        font-weight:normal;
        transition: all 0.3s ease-in-out;
    }
    p{
        font-size: 0.8em;
        color: red;
        position: absolute;
        left: 0;
        bottom: -23px;
        margin: 0;
        padding: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        &.active{
            opacity: 1;
        }
    }
    &.active{
        label{
            font-size:1.2rem;
            top: -20px;

        }
        textarea{
            height: 80px
        }
        .icon-arrow-bottom{
            transform:rotate(180deg);
        }
    }
    &.error{
        border-bottom-color: red;
        p{
            opacity: 1;
        }

    }
    &.notify{
        border-bottom-color: orange;
        p{
            opacity: 1;
            color: orange;
        }

    }
    &.disable{
        opacity: 0.5;
        cursor: no-alowed;
        &:hover{
            &:after{
                display:none;
            }
        }
    }
}
.login-btn-style {
    background-color: $theme-color;
    border-radius: 20px;
    padding: 6px 25px;
    height: 38px;
    cursor: pointer;
    color: #ffffff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: 10% auto 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 270px;
    position: relative;

    a {
        color: #fff;
        text-decoration: none;
    }

    &:hover,
    &:focus{
        

        a {
            color: #fff;
        }
    }
    &.btn-with-strok{
        background: transparent;
        color: $theme-color;
        border: 1px solid $theme-color;
        box-shadow: none;
        transition: background 110ms ease-in-out;

        &:hover{
            background: $theme-color;
            border: none;
            color: #fff;
        }
    }
}

.new-account{
    margin-top: 40px;
}

/*--------------------------------------------------------------------------/
                        form input box css end here
/---------------------------------------------------------------------------*/
.login-popup {
    width: 760px;
    box-shadow: 0 0 5px $box-shadow;
    background-color: #fff;
    min-height: 480px;
    font-size: 16px;
    border-radius: 8px;
    overflow: hidden;
}

.login-makaan-logo{
    text-align: center;
    padding-top: 40px;
}

.main-text {
    font-size: 1.125em;
    color: #acacac;
    text-align: center;
    padding: 20px 0 0 0;
    width: 230px;
    margin: 0 auto;

    span {
        display: block;
        font-size: 0.75em;
        color: $mid-dark-color;
        line-height: 1.4;
        padding-bottom: 10px;

        img {
            width: 26px;
        }
    }
    .profile-img {
        width: 70px;
        height: 70px;
        border-radius:50%;
        margin:auto;
    }
}

.mian-field-box{
    padding: 40px 15px;

    &.otp{
        margin-top: 5%;
    }

    .seller-type-list +
    .seller-type-input-box{
        .login-input-box{
            margin-top: 25px;
        }
        .login-btn-style{
            margin: 7% auto 0;
        }
    }
    .seller-type-list{
        margin-top: 15px;
        padding: 0;
        display: table;
        width: 100%;
        padding: 0;
        li{
            display: table-cell;
            text-align: center;
            font-size: 1.25em;
            color: $dark-color;
            cursor: pointer;
            vertical-align: middle;
            transition: color 80ms ease-in-out;
            span{
                display: inline-block;
                text-align: center;
                width: 100%;
            }
            .icon-sprite{
                display: inline-block;
                margin-bottom: 5px;
                border-radius:50%;
                transition: box-shadow 600ms ease-in-out;
                width: 60px;
                height: 60px;
                overflow: hidden;
                box-shadow: 0 1px 2px rgba(0,0,0,0.3);
            }
            &:hover,
            &.active{
                color: $theme-color;
                .icon-sprite{
                    box-shadow: 0 3px 12px rgba(0,0,0,0.7);
                }
            }
        }
    }
}

.c-seller-buyer{
    margin-top: 20%;
}

.close-login{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 1;
    &.icon-close{
        font-size: 12px;
        font-weight: bold;
        color: #444;
        transition: color 0.1s ease-in-out;
    }
    &:hover{
        &.icon-close{
            color: $theme-color;
        }
    }
}
.back-btn{
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
}
.locaction-button{
    color: $dark-color;
    font-size: 1em;
    text-align: center;
    margin: 35px auto 20px;
    width: 275px;
    height: 40px;
    background: #f1f1f1;
    box-shadow: 0 0 8px rgba(0,0,0,0.2) inset;
    border-radius: 30px;
    position: relative;

    .selectCity{
        width: 100%;
        cursor: pointer;
        float: left;
        height: 40px;
        line-height: 40px;

        .loc-icon{
            float: left;
            width: 50px;
            line-height: 46px;

            .icon{
                font-size: 20px;
            }
        }

        .city-name{
            float: left;
            width: calc( 100% - 100px);
            text-align: left;
            border-right: 1px solid #fff;
        }

        .drop-arw{
            float: left;
            width: 50px;
            border-left: 1px solid rgba(0,0,0,0.2);
            height: 40px;

            .icon{
                line-height: 45px;
                color: $theme-color;
            }
        }
    }
}

.location-list-box{
    position: absolute;
    width: 242px;
    height: 0;
    top: 40px;
    left: 17px;
    overflow: hidden;
    background: #f1f1f1;
    z-index: 9;
    border-radius: 0 0 15px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition:0.3s ease-in-out;
    &.open{
        transform: scaleY(1);
        height: 250px;
    }

    .loction-box{
        padding: 10px;
        .input-field-box{
            position: relative;
            border: 1px solid #ccc;
            background: #fff;
            input{
                width: 100%;
                padding: 5px;
                outline: none;
                border:none;
                background: none;
                font-size: 1em;
            }
        }
    }
}
.location-list{
    height: calc( 100% - 55px);
    padding-bottom: 10px;

    ul{
        padding: 10px 0;
        height: 100%;
        overflow: auto;
        li{
            padding: 5px 20px;
            text-align: left;
            color: #444;
            font-size: 1em;
            cursor: pointer;
            &:hover,
            &.active{
                color: $theme-color;
            }
        }
    }
}

.social-icon-list{
    padding: 10px 80px 60px 80px;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    &:after{
        content: '';
        height: 1px;
        background: #d1d1d1;
        width: 80%;
        bottom: -1px;
        position: absolute;
        left: 10%;
    }

    &:before{
        content: 'or';
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 1em;
        color: #acacac;
        text-align: center;
        background: #fff;
        left: 50%;
        bottom: -12px;
        margin-left: -13px;
        position: absolute;
        z-index: 1;
    }

    li{
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        text-align: center;
        cursor: pointer;
        font-size: 45px;
        line-height: 50px;
        transition: text-shadow 200ms ease-in-out;
        &:nth-child(2){
            font-size: 50px;
        }
        &:hover{
            text-shadow: 0 0 5px rgba(0,0,0,0.3);
        }
    }
}

.link-text{
    display: block;
    text-align: center;
    font-size: 1.25em;
    color: $theme-color;
    margin-top: 18%;
    cursor: pointer;
}

.link-text2 {
    margin-top: 17vh;
}

.sellerloginlinkwrap {
    text-align: center;
    padding: 25px 0 5px 0;

    .seller-login-link {
        color: $theme-color;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

#change-phone .otp .link-text,
#change-phone .otp .get-otp-box{
    margin-top: 0;
}
.sign-up{
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
    span{
        color: $theme-color;
        cursor: pointer;
    }
}
.otp-code{
    text-align: center;
    li{
        display: inline-block;
        text-align: center;
        color: $dark-color;
        font-size: 1.25em;
        line-height: 1.4;
        padding-bottom: 5px;
        /*width: 30px;*/
        margin: 0 2px;
        border-bottom: 1px solid $semi-dark-color;
        input{
            margin: 0;
            padding: 0;
            height: 100%;
            width: 30px;
            border: 0;
            outline: none;
            box-shadow: none;
            color: $dark-color;
            text-align: center;
        }

    }
}
.otp{
    p{
        padding: 0 10px;
        color: $dark-color;
    }
    .get-otp-box{
        margin-top: 18%;
        text-align: center;
        > span{
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
            color: $light-color;
            cursor: pointer;
            &.r-otp{
                color: $theme-color;
            }
        }
    }
}

.cheers{
    p{
        padding: 30px 0;
    }
}

.main-box{
    position: relative;
    min-height: 542px;
    height: 100%;
    overflow: hidden;
    .login-content-box{
        position: absolute;
        height: 100%;
        left: 100%;
        top: 0;
        padding-top: 12%;
        width: 100%;
        visibility: hidden;
        transition:left 0.3s ease-in-out;
        &.p-left{
            left: -100%;
            visibility: visible;
        }
        &.p-center{
            left: 0;
            visibility: visible;
        }

    }
}

.login-img-box{
    background: #fafafa;
    min-height: 542px;
}
.signup-pic{
    text-align: center;
    margin-top: 10px;
    height: 250px;
    padding-top: 50px;
}
.information-list{
    ul{
        li{
            position: relative;
            color: #1d1d1d;
            font-size: 1em;
            line-height: 30px;
            text-align: center;
        }
    }
}
.links{
    margin: 7% 0 0 0;
    font-size: 0.875em;
    &:after{
        content:'';
        display: block;
        width: 100%;
        clear: both;
    }
    .rememberme{
        float: left;
        .checkBox{
            input{
                display: none;

            }
            label{
                color: #555;
                font-weight: normal;
                cursor: pointer;
                span{
                    width: 15px;
                    height: 15px;
                    border-radius: 4px;
                    float: left;
                    margin-right: 8px;
                    position: relative;
                    margin-top: 3px;
                    border:1px solid #ccc;
                    transition:0.1s ease-in-out;
                    &:before{
                        content: '';
                        width: 5px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        top: 7px;
                        left: 2px;
                        display: block;
                        transform: rotate(45deg);
                        display: none;
                        transition:0.1s ease-in-out;
                    }
                    &:after{
                        content: '';
                        width: 10px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        top: 6px;
                        right: 1px;
                        display: block;
                        transform: rotate(-45deg);
                        display: none;
                        transition:0.1s ease-in-out;

                    }
                }
            }
            input:checked + label{
                span{
                    border:none;
                    background: $theme-color;
                    &:before,
                    &:after{
                        display:block;
                    }
                }
            }
        }
    }
    .forget-password{
        float: right;
        color: $theme-color;
        cursor: pointer;
    }
}
.r-email{
    margin-top: 30%;
}
.send-link{
    margin-top: 45%;
}
.succsess-error-msg,
.success-error-msg{
    margin: 5px 0;
    text-align: center;
    font-size: 0.8em;
    color: $theme-color !important;
}
.terms{
    h3{
        font-size: 1.2em;
        color: $semi-light;
        text-align: center;
        padding-bottom: 20px
    }
}
.terms-text{
    width: 100%;
    max-height: 355px;
    overflow: auto;
    padding: 0 15px 15px 15px;
    p{
        text-align: justify;
        margin: 0 0 10px 0;
        color: $semi-light;
    }
    h4{
        font-size: 1em;
        margin: 15px 0 5px 0;
        color: $semi-light;
    }
    ul{
        padding-left: 20px;
    }
    li{
        list-style-type: lower-latin;
        list-style-position: outside;
        margin-bottom: 5px;
        a{
            color: $theme-color;
            display: inline-block;
            padding-left: 5px;
        }
    }
    table{
        font-size: 0.9em;
        color: #666;
        border-collapse: collapse;
        margin: 20px 0;
        width: 100%;
        i{
            float: left;
            font-size: 12px;
            margin-right: 3px;
        }
        th{
            font-weight: bold;
            color: #333;
            padding: 5px 15px;
            text-align: left;
            border: 1px solid #ccc;
        }
        td{
            padding: 5px 15px;
            text-align: left;
            border: 1px solid #ccc;
        }
    }

}
.tc-action{
    border-top: 1px solid #f9f9f9;
    width: 100%;
    padding: 20px 15px;
    text-align: center;
    .login-btn-style{
        width: 48%;
        padding: 0;
        margin-right:2%;
        display: inline-block;
        line-height: 38px;
        margin-top: 0;
        &:last-child{
            margin-right:0;
        }
    }
}
/*---mobile screen----*/
@media screen and ( max-width: 767px ){

    .back-btn{
        left: 15px;
    }

    .r-email{
        margin-top: 10%;
    }

    .main-loading{
        border-radius: 0;
    }

    .login-popup{
        top: 0;
        height: 100vh;
        width: 100%;
        border-radius: 0;
        overflow: visible;
        .main-text{
            margin: 0 auto;
            padding: 5% 0;
        }
        .upper-content-box{
            min-height: 28%;
            position: relative;
        }
        .login-makaan-logo{
            padding-top: 5%;
        }
        .mian-field-box{
            height: 61%;
            padding: 8px 15px;

            &.otp{
                height: 54%;
            }

            &.first-screen{
                height: 55%;
            }

            &.c-seller-buyer{
                margin-top: 7%;
                height: 57%;
            }

            .seller-type-list{
                padding: 0;
                height: 40%;
                margin-top: 0;
            }
        }

        .s-login{
            height: 35%;
            position: relative;
        }

        .main-box{
            min-height: 480px;
            height: 100vh;

            .login-content-box{
                top: 0;
                height: 100vh;
                overflow-y: auto;
                padding-top: 0;

            }
        }
    }
    .social-icon-list{
        height: auto;
        padding: 0 80px 10% 80px;

    }
    .link-text{
        margin-top: 20%;
    }
     .otp .get-otp-box{
        margin-top: 20%;
     }
    .terms-text{
        max-height: 55%;
        position: relative;
    }
    .terms{
        h3{
            padding-top: 20px;
        }
    }
    .locaction-button{
        margin: 5% auto 0;
    }
}


@media screen and ( min-width: 768px ) and ( max-width: 991px){
    .main-box{
        .login-content-box{
            padding-top:0%;
        }
    }

}


@media screen and ( min-width: 768px ) and ( max-width: 959px){
    .login-popup{
        width: 100%;
    }
    .main-box{
        margin: 0 15px;
        .login-content-box{
            top: 0;
        }
    }
}

@media screen and ( min-width: 768px ) and ( max-width: 992px){

    .main-box{

        .login-content-box{
            padding-top:0px;
        }
    }
}


@media screen and ( min-width: 960px ){
    .main-box{
        margin: 0 5%;
    }
}
