@import "variables";

.offlinepage {
    background-color: #fff;
    min-height: 400px;
    padding-top: 10%;
}

.offlinepage-wrap {
    width: 320px;
    margin: 0 auto;
    text-align: center;

    img {
        width: 100%;
        margin: 0;
    }

    .p10 {
        padding: 10px;
    }

    .p10_0 {
        padding: 10px 0px;
    }

    .hdng {
        font-size: 21px;
    }

    .desc {
        font-size: 16px;
    }

    .link {
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
    }

}

@media (max-width: 767px) {
    .offlinepage {
        min-height: 400px;
        padding-top: 30%;
    }
    .offlinepage-wrap {
        width: 280px;
    }
}
