@import "variables";
/*=======================*/

body{
	background: #fff;

	.seofooter-wrap{
		margin: 0; 
	}
}

.max1140{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.max840{
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
}

.max970{
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
}

.align-center{
	text-align: center;
}
#addsBenefits{
	padding-top: 0;
}
#expertDealMaker{
	padding-bottom: 0;
}
/*=======owl carousel==========*/
.owl-buttons{
	display: none;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background: $theme-color;
}

.get-in-touch{
	position: fixed;
	top: 55px;
	right: 24px;
	z-index: 9999;
}

.sample-popup{
	background: #fff;
	padding: 25px 50px;
	width: 100%;
	max-width: 820px;
	text-align: center;

	h3{
		font-size: 24px;
		color: $title-color;
		margin-bottom: 36px;
	}

	$windowWidth: 702px;

	.slider-wraper .slider-window{
		width: $windowWidth;
		display: inline-block;
	}

	ul{

		li{
			width: $windowWidth;

			img{
				display: inline-block;
			}
		}
	}

	.btn-prev{
		left: 15px;
	}

	.btn-next{
		right: 15px;
	}


}

.seller-benefits{
	h1{
		font-size: 48px;
		color: $heading-color;
		line-height: 56px;
		font-weight: 500;
	}

	h2{
		font-size: 36px;
		color: $heading-color;
		line-height: 24px;
		font-weight: 500;
	}

	.page-navigation{
		position: fixed;
		top: 50px;
		left: 0;
		height: 48px;
		width: 100%;
		background-color: #ffffff;
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12);
		z-index: 3;

		.switch-tabs{

			.navitem,
			li{
				line-height: 48px;
				padding-bottom: 0;
				margin: 0 24px;
				font-size: 14px;
			}
		}

		.cbtn{
			float: right;
			margin-right: 24px;
			margin-top: 5px;
		}
	}

	.partner-with-makaan{
		margin-top: 145px;

		article{
			float: left;
			width: 560px;
			padding-left: 100px;

			p{
				font-size: 18px;
				line-height: 28px;
				color: $light-color;
				margin-top: 24px;
			}
		}

		aside{
			float: right;
			text-align: right;
			.buyer-seller-illustration {
			    width: 414px;
			    height: 298px;
			    background-image: url(/images/seller-benefits/buyer-seller-illustration.png);
			    background-position: center;
			    background-size: contain;
			    background-repeat: no-repeat;
			    background-color: transparent;
			    display: inline-block;
			    position: relative;
			    top: -30px;
			}
		}
	}

	.scroll-down{
		text-align: center;
		margin-bottom: 20px;
		span{
			display: inline-block;
			cursor: pointer;
			i{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				color: $pink-color;
				line-height: 50px;
				display: inline-block;
				margin-bottom: 5px;
				border: 1px solid $pink-color;
				font-size: 24px;
			}
			label{
				display: block;
				font-size: 14px;
				line-height: 14px;
				color: $light-text;
			}
		}
	}

	.why-partner{
		background: $pink-color;
		padding-top: 128px;
		padding-bottom: 128px;
		position: relative;

		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 152px;
			height: 292px;
			left: 0;
			top: 50%;
			margin-top: -146px;
			background: url(/images/seller-benefits/pattern-color.png) no-repeat left top;
		}

		&:after{
			left: auto;
			right: 0;
			transform: rotate(180deg);
		}

		h2{
			color: #fff;
			font-size: 48px;
			margin-bottom: 77px;
			line-height: 60px
		}
		.blocks-wrap{
			width: 90%;
			display: inline-block;
		}

		article{
			width: 33.3%;
			float: left;
			padding: 0 5%;

			h4{
				font-size: 24px;
				line-height: 24px;
				font-weight: 500;
				margin-bottom: 16px;
				color: #fff;
			}

			p{
				font-size: 18px;
				color: $light-gray;
				line-height: 24px;
			}
		}
	}

	#cityExpert{
		&.dealmaker-benefits{
			.benefit-wrap{
				min-height: 820px;

				.slider-container{
					padding-top: 230px;
				}
			}
		}
	}

	#localityExpert{
		&.dealmaker-benefits{
			.benefit-wrap{
				min-height: 700px;

				.slider-container{
					padding-top: 130px;
				}
			}
		}
	}

	.dealmaker-benefits{
		padding-bottom: 40px;
		padding-top: 100px;

		p{
			font-size: 20px;
			color: $light-color;
			line-height: 28px;
			margin: 24px auto 42px;
			width: 675px;
			display: block;
		}

		.benefit-wrap{
			position: relative;
			margin-top: 60px;
			margin-bottom: 40px;
			min-height: 550px;
			text-align: left;

			.benefit-board{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				background: #fff url(/images/seller-benefits/pattern.png) repeat-x top left;
				box-shadow: 0 2px 17px 4px rgba(0, 0, 0, 0.07);
				padding: 40px 30px;
				width: 540px;
				min-height: 532px;

				.btn-know-more{
					color: $theme-color;
					font-size: 16px;
					cursor: pointer;
					margin-top: 15px;
					display: inline-block;

					&:hover{
						text-decoration: underline;
					}
				}

				.dealmaker-badge{
					position: absolute;
					top: 38px;
					right: 27px;

					img{
						width: 134px;
						height: auto;
					}
				}

				.title-text{
					font-size: 28px;
					line-height: 40px;
					color: $heading-color;
					padding-top: 40px;
					padding-bottom: 28px;

					span{
						font-size: 36px;
						display: block;
						font-weight: 600;
					}
				}
				h4{
					font-size: 16px;
					text-transform: uppercase;
					color: $theme-color-two;
					margin-bottom: 24px;
				}

				.benefits-list{

					li{
						font-size: 14px;
						color: $title-text;
						line-height: 32px;

						&.link{
							cursor: pointer;
							font-weight: bold;

							&:hover{
								color: $theme-color;
							}
						}

						&:before{
							content: '\e9ca';
							display: inline-block;
							font-family: icomoon;
							font-weight: 700;
							padding-right: 10px;
							color: $theme-color-two;
						}
					}
				}
			}

			.slider-container{
				float: right;
				width: calc(100% - 540px);
				position: relative;
				padding-top: 55px;
				img{
					max-width: 595px;
					height: auto;
				}
			}

		}

		&.nrml-deal-maker,
		&.focused-projects{
			background: #fbfbfb url(/images/seller-benefits/pattern2.png) repeat-y top right;
			position: relative;
		}

		&.expert-deal-maker{
			background: #FFDB77 url(/images/seller-benefits/pattern3.png) repeat-y top left;
			position: relative;

			.benefit-wrap{
				min-height: 630px;

				.benefit-board{
					left: auto;
					right: 0;
				}

				.slider-container{
					float: left;
					padding-top: 100px;
					text-align: right;
				}

			}

			/*city loaclity expert css*/
			.city-locality-expert{
				background: #fff;
				box-shadow: 0 2px 17px 4px rgba(0, 0, 0, 0.07);
				padding: 40px 30px;

				.city-expert{
					width: 50%;
					float: left;
					padding-right: 65px;
					position: relative;

					&:after{
						content:'';
						width: 4px;
						height: 100%;
						background: lighten($bg-color2, 30%);
						position: absolute;
						top: 0;
						right: -2px;
					}
				}

				.loaclity-expert{
					width: 50%;
					float: right;
					padding-left: 65px;
				}

				.benefit-wrap{
					margin: 0;

					.benefit-board{
						position: static;
						left: inherit;
						right: inherit;
						top: inherit;
						width: 100%;
						background: none;
						box-shadow: none;
						padding: 0;
						min-height: 0;

						p{
							width: 100%;
							font-size: 16px;
							line-height: 1.5;
							color: $title-text;
							margin: 5px 0 20px 0;
						}

						.title-text{
							padding-top: 0;
						}

						.dealmaker-badge{
							top: 0;
							right: 50px;
						}
					}

					.slider-container{
						width: 453px;
						margin: 30px auto;
						float: none;
						padding-top: 0;

						img{
							max-width: 100%;
						}
					}
				}

			}
		}

	}

	.switch-tabs{
		display: inline-block;
		.navitem,
		li{
			display: inline-block;
			font-size: 18px;
			color: $light-color;
			line-height: 28px;
			position: relative;
			padding-bottom: 6px;
			margin-right: 25px;
			cursor: pointer;

			&:last-child{
				margin-right: 0;
			}

			&:after{
				content: '';
				position: absolute;
				height: 0;
				width: 100%;
				left: 0;
				bottom: 0;
				transition: 0.2s ease-in-out;
				background: $theme-color;
			}

			&:hover,
			&.selected,
			&.active{
				color: $theme-color;

				&:after{
					height: 2px;
				}
			}
		}
	}

	/*.tbl-section {
		margin-top: 60px;
	    padding: 60px;
	    background-image: url(/images/seller-benefits/dot-pattern.png);
	    background-repeat: repeat;
	    width: 100%;
	    margin-bottom: 40px;

	    p{
	    	text-align: right;
	    }
	}*/

	/*.transaction-fee-slab {
	    position: relative;
	    padding: 15px 70px;
	    width: 85%;
	    margin: 0 auto;
	    background-color: #fff;
	    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09);

	    h2{
	    	padding: 30px 0;
	    }

	    .switch-tabs{
	    	margin-bottom: 30px;
	    	margin-top: 30px;
	    }

	    .bg-lefthouse {
            position: absolute;
            left: 10px;
            top: -91px;
            height: 91px;
            width: 174px;
            background-image: url(/images/seller-benefits/lefthouse.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
        }

        .bg-righthouse {
            position: absolute;
            right: 10px;
            top: -71px;
            height: 71px;
            width: 113px;
            background-image: url(/images/seller-benefits/righthouse.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
        }
	}
	.fs-content-box {
	    table {
	        width: 100%;

	        tbody{
	        	tr:nth-child(even){
	        		background: #fafafa;
	        	}
	        }

	        th {
	            padding: 5px 2px;
	            border-top: solid 1px #d8d8d8;
	            border-bottom: solid 1px #d8d8d8;
	            color: $lighter-color;
	            font-size: 16px;
	            line-height: 35px;
	            text-transform: uppercase;
	            text-align: left;
	        }
	        td {
	            padding: 8px 10px;
	            color: $title-text;
	            font-size: 20px;
	            line-height: 25px;
	            text-align: left;
	        }

	        .tar {
	            text-align: right;
	        }
	    }
	}*/

}
