@import "variables";
/*=======================*/

body{
	background: #fff;
	
	.seofooter-wrap{
		margin: 0; 
	}
}

.max1140{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

.max840{
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
}

.align-center{
	text-align: center;
}

.sample-popup{
	background: #fff;
	padding: 30px 10px;
	width: 100%;
	max-width: 620px;
	text-align: center;

	.lw{
		background: none;
	}

	h3{
		font-size: 16px;
		color: $title-color;
		margin-bottom: 20px;
		line-height: 20px;
	}

	$windowWidth: 300px;

	.slider-wraper .slider-window{
		width: $windowWidth;
		display: inline-block;
	}

	ul{

		li{
			width: $windowWidth;

			img{
				display: inline-block;
				width: 100%;
				height: auto;
			}
		}
	}

	.btn-prev{
		left: 15px;
	}

	.btn-next{
		right: 15px;
	}

}

.seller-benefits{

	p{
		margin: 0;
		padding: 0;
	}

	h1{
		font-size: 28px;
		color: $heading-color;
		line-height: 51px;
		font-weight: 500;
	}
	h2{
		font-size: 22px;
		color: $heading-color;
		line-height: 28px;
		font-weight: 500;
		padding: 0;
	}

	.partner-with-makaan{
		margin-top: 30px;

		article{
			width: 100%;
			padding: 15px 15px 30px 15px;
			text-align: center;

			p{
				font-size: 15px;
				line-height: 24px;
				color: $light-color;
				margin-top: 10px;
			}
		}

		aside{
			text-align: center;
			.buyer-seller-illustration {
			    width: 270px;
			    height: 200px;
			    background-image: url(/images/seller-benefits/buyer-seller-illustration.png);
			    background-position: center;
			    background-size: contain;
			    background-repeat: no-repeat;
			    background-color: transparent;
			    display: inline-block;
			}
		}
	}

	.why-partner{
		background: $pink-color;
		padding-top: 30px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;

		h2{
			color: #fff;
			font-size: 28px;
			margin-bottom: 25px;
			padding: 0;
		}

		article{
			width: 100%;
			margin-bottom: 15px;

			h4{
				font-size: 18px;
				line-height: 24px;
				font-weight: 500;
				margin-bottom: 5px;
				color: #fff;
			}

			p{
				font-size: 15px;
				color: $light-gray;
				line-height: 20px;
				margin-bottom: 20px;
			}
		}
	}

	.dealmaker-benefits{
		padding-bottom: 25px;
		padding-top: 25px;
		padding-left: 10px;
		padding-right: 10px;

		p{
			font-size: 14px;
			color: $light-color;
			line-height: 20px;
			margin: 10px auto;
			width: 100%;
			display: block;
		}

		.benefit-wrap{
			position: relative;
			margin-top: 20px;
			margin-bottom: 20px;
			text-align: left;

			.benefit-board{
				background: #fff url(/images/seller-benefits/pattern.png) repeat-x top left;
				box-shadow: 0 2px 17px 4px rgba(0, 0, 0, 0.07);
				padding: 20px 15px;
				width: 100%;

				.cbtn{
				    width: 150px;
				    margin: 20px auto 0;
				    text-align: center;
				    display: block;
				    font-size: 15px;
				}

				.dealmaker-badge{
					position: absolute;
					top: 20px;
					right: 15px;

					img{
						width: 88px;
						height: auto;
					}
				}

				.title-text{
					font-size: 16px;
					line-height: 26px;
					color: $heading-color;
					padding-bottom: 15px;

					span{
						font-size: 20px;
						display: block;
						font-weight: 600;
					}
				}

				h4{
					font-size: 14px;
					text-transform: uppercase;
					color: $theme-color-two;
					margin-bottom: 20px;
				}

				.benefits-list{

					li{
						font-size: 12px;
						color: $title-text;
						line-height: 18px;
						margin-bottom: 10px;
						overflow: hidden;

						&.link{
							cursor: pointer;
							font-weight: bold;
						}

						span{
							float: left;
							width: calc(100% - 20px;)
						}

						&:before{
							content: '\e9ca';
							display: inline-block;
							font-family: icomoon;
							font-weight: 700;
							color: $theme-color-two;
							float: left;
							width: 20px;
						}
					}
				}
			}

		}

		&.light-gray-bg{
			background: #fbfbfb;
		}

		&.light-yellow-bg{
			background: #FFDB77;
		}

	}

	.switch-tabs{
		display: inline-block;

		li{
			display: inline-block;
			font-size: 16px;
			color: $light-color;
			line-height: 26px;
			position: relative;
			padding-bottom: 6px;
			cursor: pointer;
			margin: 0 10px;

			&:after{
				content: '';
				position: absolute;
				height: 0;
				width: 100%;
				left: 0;
				bottom: 0;
				transition: 0.2s ease-in-out;
				background: $theme-color;
			}

			&.selected,
			&.active{
				color: $theme-color;

				&:after{
					height: 2px;
				}
			}
		}
	}

	/*.tbl-section {
	    padding: 30px 10px;
	    background-image: url(/images/seller-benefits/dot-pattern.png);
	    background-repeat: repeat;
	    width: 100%;
	    margin-bottom: 20px;
	}

	.transaction-fee-slab {
	    position: relative;
	    padding: 10px;
	    width: 100%;
	    background-color: #fff;
	    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09);

	    h2{
	    	padding: 15px 0;
	    }

	    p{
	    	line-height: 18px;
	    	font-size: 12px;
	    	padding-top: 10px;
	    	color: $light-color;
	    }

	    .switch-tabs{
	    	margin-bottom: 15px;
	    	margin-top: 15px;
	    }

	    .bg-lefthouse {
            position: absolute;
            top: -47px;
            left: 10px;
            height: 47px;
            width: 87px;
            background-image: url(/images/seller-benefits/lefthouse.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
        }

        .bg-righthouse {
            position: absolute;
            top: -36px;
            right: 10px;
            height: 36px;
            width: 57px;
            background-image: url(/images/seller-benefits/righthouse.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
        }
	}
	.fs-content-box {
	    table {
	        width: 100%;

	        tbody{
	        	tr:nth-child(even){
	        		background: #fafafa;
	        	}
	        }

	        th {
	            padding: 5px 2px;
	            border-top: solid 1px #d8d8d8;
	            border-bottom: solid 1px #d8d8d8;
	            color: $lighter-color;
	            font-size: 12px;
                line-height: 1.35;
	            text-transform: uppercase;
	            text-align: left;
	        }
	        td {
	            padding: 10px;
	            color: $title-text;
	            font-size: 14px;
                line-height: 1;
	            text-align: left;
	        }

	        .tar {
	            text-align: right;
	        }
	    }
	}*/
}
