@import "variables";
@import "mixins/ellipsis";
@import "components/top-sellers-mobile";
@import "components/tables";
@import "mobPropProjCommon";
@import "components/sliding-top-sellers";

/*****************************************/
/** project page specific css goes here **/
/*****************************************/

$gap-sides: 20px;
$gap-up-down: 15px;

.lastElement{
    float: right;

    .end {
        font-size: 30px;
        line-height: 18px;
    }
}

.tbl-wrap {
    height: 255px;
    overflow: scroll;

    .tbl {
        margin: 0px;
        padding: 0px;
        width: 99%;
        white-space: nowrap;

        thead {
            text-align: left;
        }
    }
}

.hl-dash-popup {
    background-color: #fff;
}

////////////////////////////////////////////////////////////////
/////////////////// MOBILE VIEW /////////////////////
////////////////////////////////////////////////////////////////
.dm-banner-section{

    .top-sellers-head{
        text-align: left;
        padding: 10px 10px 0 10px;

        h2 {
            font-size: 16px;
            font-weight: normal;

            span {
                position: relative;
                display: inline-block;
                background: #fff;
            }
        }

    }
}

// vertical wrapper for list items with image

/** Sellers wrap **/
.connect-sellers-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: $gap-up-down;
    padding-bottom: $gap-up-down;

    .sibox-wrap {
        display: inline-block;
        vertical-align: middle;
        margin-left: -5px;

        &:first-child {
            margin-left: 0;
        }
    }

    .cta-wrap {
        width: 120px;
        text-align: right;

        .cta-link {
            display: inline-block;
            height: 28px;
            padding: 5px 10px 0;
            text-align: center;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
}


// Has been moved from common to project as it wasn't used on property page
.vert-pane {
    width: 100%;
    padding: 15px 0 0;

    .link-list {
        display: block;
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }
}
.vert-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 340px;
    min-height: 85px;
    overflow-y: auto;
    overflow-x: hidden;

    $imgw: 85px;
    $imgh: 70px;

    > li {
        display: block;
        margin: 0px 0px 15px 0px;

        .img-wrap {
            float: left;
            width: $imgw;
            height: $imgh;
            text-align: center;
            overflow: hidden;
            border-radius: 2px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 2px;
            }

            &.dummy-placeholder:before {
                background-size: 80%;
            }
        }

        .listdtls {
            position: relative;
            float: right;
            width: 65%;
            width: calc(100% - #{$imgw});
            height: $imgh;
            padding-left: 10px;
            text-align: left;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/** unit plans / configuration wrapper **/
.up-config-wrap {
    padding-top: $gap-up-down;
    padding-bottom: $gap-up-down;
    padding-left: $gap-sides;
    padding-right: $gap-sides;

    .sleek-tabs ul>li {
        padding-top: 10px;
    }
}
.upl-wrap {
}
.up-list {
    > li {
        .upl-dtls {
            .size {
                padding: 5px 0 2px;
                color: $dark-color;
            }
            .main-name {
                @include putellipsis;
                max-width: 98%;
            }
            .othr-info {
                @include putellipsis;
                max-width: 98%;
                color: $lighter-color;
                font-size: 12px;
            }
        }
    }
}

/** available listings wrapper **/
.listings-available-wrap {
    padding-top: $gap-up-down;
    padding-bottom: $gap-up-down;
    padding-left: $gap-sides;
    padding-right: $gap-sides;

    .sleek-tabs ul>li {
        padding-top: 10px;
    }
}
.buyrent-tab {
    margin-top: 15px;

    > ul {
        width: 130px;

        > li {
            width: 50%;
            padding: 4px 0 2px;
            font-size: 12px;
        }
    }
}
.lal-wrap {
}
.lal-list {
    > li {
        position: relative;

        > .link-list {
            width: calc(100% - 35px);
        }

        .propdtls {
            .price-wrap {
                padding: 5px 0 2px;

                .val {
                    padding-right: 3px;
                    font-size: 18px;
                    color: $dark-color;
                    text-transform: capitalize;
                }
                .unit {
                    font-size: 14px;
                    text-transform: capitalize;
                    color: $light-color;
                }
            }

            .main-name {
                @include putellipsis;
                max-width: 98%;
                font-size: 13px;
            }

            .othr-info {
                display: block;
                @include putellipsis;
                max-width: 98%;
                color: $light-color;
                font-size: 12px;
            }
        }

        .callbtn {
            position: absolute;
            right: 0;
            top: 15px;
        }
    }
}


/** top seller wrap **/
.top-sellers-wrap {
    padding-top: $gap-up-down;
    padding-bottom: $gap-up-down;
    padding-left: 10px;
    padding-right: 10px;

    .call-wrap-no-seller{
        display: flex;
        padding-top: 10px;
    }
    .calltxt {
        width: calc(100% - 45px);
        padding-right: 25px;

    }
}

.disclaimer-wrap {
    padding: 0px 20px;
    padding-top: 60px;
    .d-link{
        display: inline-block;
    }
}

.tsl-wrap {

}
.ts-list {
    .link-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    > li {
        padding: 5px 0;
    }

    .seller-area {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: calc(100% - 50px - 70px); // 50 for call icon and 70 for bhk-area-wrap

        .sib-wrap {
            display: inline-block;
            width: 30px;
            text-align: center;
        }

        .seller-dtls {
            padding-left: 5px;

            .seller-name {
                padding-bottom: 2px;
                font-size: 13px;
                line-height: 1.1;
            }
            .seller-type {
                color: $lighter-color;
                font-size: 12px;
            }
            .rating .rating-badge {
                width: 22px;
                height: 22px;
                line-height: 22px;
                font-size: 11px;
                font-weight: 500;
            }
        }
    }

    .bhk-area-wrap {
        width: 70px;
        font-size: 12px;
        line-height: 1.1;
    }

    .dealt-prop-name {
        width: 30%;
        font-size: 13px;
    }

    .call-wrap {
        width: 35px;
        text-align: right;
    }
}
.prop-detail{
    display: none;
}