@import "variables";
@import "mixins/ellipsis";
@import "components/serp-bbcard-desktop";
@import "components/serp-agent-desktop";
@import "serp-common";
@import "components/projcard";
@import "components/sidebar-serp";
@import "components/pagination";
@import "components/topseller-pyr";




/**** for lead form seller *****/
.wraper-box {
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;

    .slr-info-card {
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        min-height: 70px;
        padding: 4px 16px;
        background: #fff;
        border-bottom: solid 1px #eee;

        .dm-badge {
            position: absolute;
            left: 30px;
            bottom: 3px;
            z-index: 3;

            img {
                width: auto;
                height: 30px;
            }
        }

        $simgw: 44px;

        .slr-sibox-wrap {
            float: left;
            width: $simgw;
            height: $simgw;
            overflow: hidden;
            text-align: center;

            .slr-img-box {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                text-align: center;

                .initial{
                    line-height: $simgw;
                }

                &.s-bg {
                    background-image: url(/images/seller-img1.png);
                }

                img {
                    display: inline-block;
                    object-fit: cover;
                }
            }
        }

        .slr-info {
            width: calc(100% - #{$simgw});
            padding: 0 0 0 20px;
            position: relative;

            .top-line {
                display: inline-block;
                color: $title-color;
                font-size: 14px;
                line-height: 20px;
                text-transform: capitalize;
                width: 100%;

                > span {
                    @include putellipsis;
                    display: inline-block;
                    max-width: calc(100% - 28px);
                    padding-right: 3px;
                }

                .rating {
                    top: -5px;
                }
            }

            .mid-line {
                @include putellipsis;
                padding: 0px 0 2px;
                color: $lighter-color;
                font-size: 11px;
                line-height: 14px;
                letter-spacing: 0.5px;
            }

            .seller-type {
                text-transform: uppercase;

                &.expert {
                    color: $link-color2;
                }
            }

            .info-line {
                @include putellipsis;
                color: $light-color;
                font-size: 11px;
                text-transform: capitalize;
                line-height: 14px;

                .count {
                    font-size: 14px;
                    font-weight: 700;
                    color: $theme-color-two;
                }
            }
        }
    }
    /* for mobile screens for project locality page template */
    @media (max-width: 768px) {
        .slr-info-card {

            .slr-info{
                padding: 0 0 0 12px;
            }
        }
    }
}





// image loader css
.img-ldr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    animation: reverse-spin 700ms linear infinite;
    z-index: 10; // z-index is lower than that of immediate image or its holder
    display: none;
    i {
        vertical-align: middle;
        [class*="path"] {
            color: #fff;
        }
    }
}

.taxonomy-card {
    margin: 0 39px;
}

.similar-list {
    li {
        cursor: pointer;
        margin: 10px auto;

        &:hover {
            .locname {
                color: $link-color;
            }
        }
    }

    .img-wrap {
        display: inline-block;
        width: 80px;
        height: 58px;
        border-radius: 3px;
        vertical-align: top;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .simidtls {
        display: inline-block;
        width: calc( 100% - 80px);
        padding-left: 10px;
        vertical-align: top;
        color: $lighter-color;
        font-size: 13px;

        .locname {
            color: $dark-color;
            font-size: 14px;
        }
    }
}
