@import "variables";
@import "mixins/ellipsis";
@import "components/configurationBucket";
@import "components/circular-progress";
@import "components/top-sellers";
@import "components/slr-info-card";
@import "components/tables";
@import "propProjCommon";
@import "components/sliding-top-sellers";

.lastElement{
    float: right;

    .end {
        font-size: 30px;
        line-height: 18px;
    }
}

.tbl-wrap {
    height: 255px;
    overflow: scroll;

    .tbl {
        margin: 0px;
        padding: 0px;
        width: 99%;
        white-space: nowrap;

        thead {
            text-align: left;
        }
    }
}

.dm-banner-section{

    .top-sellers-head{
        text-align: left;
    }
}

.proj-page {
    .wrapSlider {
        width: 580px;
    }
}

.sidebar-col{

    .lead-col .leadenquiry-container{

        &.tsl-step,
        &.step2{
            min-height: auto;
        }

        .second-pane{

            .note-txt.top-seller-txt{
                padding-top: 10px;
            }

            .chkbox-wrap{
                margin-right: 0;
                margin-right: 0;
                margin-top: 5px;
            }
        }

        .btn-wrap{
            position: static;
            bottom: inherit;
            right: inherit;
            text-align: right;
            padding-right: 30px;
            margin-top: 15px;
        }
    }

    .top-sellers{
        margin-top: 15px;
        background: #fafafa;

        .seller-card{
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

// horizontal scroll wrapper for list items with image
.horiz-pane {
    width: 580px;
    padding: 15px 0 0;
    overflow: hidden;

    .link-list {
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }
}

.horiz-list {
    display: flex;
    width: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all 0.3s ease-in-out;
    $imgw: 180px;
    $imgh: 110px;

    > li {
        width: $imgw;
        margin: 0px 15px 5px 0px;

        .img-wrap {
            display: flex;
            width: $imgw;
            height: $imgh;
            text-align: center;
            vertical-align: middle;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 2px;
            }

            &.dummy-placeholder:before {
                background-size: 80%;
            }
        }
    }
}


// animation
@keyframes movedown {
    0% { transform: translateY(-280px); }
    100% { transform: translateY(0px); }
}
.moveDown {
    transform: translateY(-280px);
    animation: movedown 3000ms ease 3000ms 1;
    animation-fill-mode: forwards;
}


// available listings POPUP
.alp-wrap {
    position: absolute;
    top: 25px;
    left: 120px;
    z-index: 9;
    width: 320px;
    min-height: 150px;
    background-color: rgba(255,255,255,0.9);
    //border-radius: 3px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.35);

    .alp-content {
        position: relative;
        padding: 30px 20px 20px 30px;
    }

    .closeit {
        position: absolute;
        top: 3px;
        right: 0px;
        width: 32px;
        height: 32px;
        padding: 5px;
        color: $lighter-color;
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    .hdng {
        padding-bottom: 20px;
        color: $lighter-color;
        font-size: 16px;
        font-weight: 500;

        .pname {
            color: $dark-color;
        }
    }

    .alpbtn {
        position: relative;
        display: block;
        margin-bottom: 10px;
        background-color: #fff;
        border: solid 1px #ececec;
        border-radius: 20px;
        padding: 8px 10px;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;

        .count {
            display: inline-block;
            width: 55px;
            padding-right: 5px;
            color: $dark-color;
            font-size: 24px;
            font-weight: 500;
        }

        .txt {
            color: $dark-color;
            transition: color 0.1s ease-in-out;
        }

        .rbtnlook {
            display: inline-block;
            float: right;
            min-width: 70px;
            padding: 6px 10px;
            background-color: $link-color;
            border-radius: 15px;
            text-align: center;
            color: #fff;
        }

        &:hover {
           .txt {
                color: $link-color;
           }
        }
    }
}

// sticky footer
.sticky-footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 60px;
    border-top: solid 1px #e6e6e6;
    background-color: #f7f7f7;
    box-shadow: 0 -2px 40px 0px rgba(0,0,0,0.1);
    transform: translateY(70px);
    transition: all 0.3s ease-in-out;

    .sf-wrap {
        position: relative;
    }

    $leadWrapWidth: 570px;

    .lead-generation-wrap {
        width: $leadWrapWidth;
        height: 60px; // smae height that of .sticky-footer
        margin: 0 auto;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);

        $descWidth: 190px;
        .desc-wrap {
            width: $descWidth;
            float: left;

            .ttl {
                color: $dark-color;
                font-size: 16px;
                font-weight: 500;
            }

            .pname {
                display: block;
                @include putellipsis;
                max-width: 90%;
            }
        }

        $sllrPicWrapWidth: 190px;
        .sllr-pic-wrap {
            width: $sllrPicWrapWidth;
            float: left;
            padding-top: 5px;
        }

        .btn-wrap {
            float: right;
            padding: 3px 0 0 0;
        }

        .sibox-wrap {
            display: inline-block;
            vertical-align: middle;
            margin-right: 2px;

            &:last-child {
                margin-right: 0;
            }
        }

        // seller image box
        $siw: 32px;

        .seller-img-box {
            width: $siw;
            height: $siw;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            border: 1px solid #fff;
            border-radius: 50%;
            background-image: url(/images/seller-img1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #ccc;

            .initial {
                font-size: 16px;
                line-height: $siw;
                text-transform: uppercase;
                //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
            }
        }
    }

    .pnbtn {
        position: absolute;
        top: 10px;
        left: 0px;
        width: calc((100% - #{$leadWrapWidth} - 80px) / 2); //80px = 20px from left and right for 2 btns + 20px+20px space between leadwrap and 2 btns

        .pnlink {
            display: block;
            color: $body-color;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:after {
                clear: both;
                display: table;
                content: '';
            }
        }

        .arrow-col {
            display: block;
            float: left;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            padding-top: 10px;
            text-align: center;
        }

        .icol {
            display: block;
            float: left;
            width: 50px;
            height: 40px;
            margin-right: 5px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .tcol {
            display: block;
            float: right;
            width: calc(100% - 50px - 30px - 10px); // 10px spacing
        }

        .ttl {
            color: $link-color;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .pname {
            display: block;
            @include putellipsis;
            font-size: 12px;
        }

        &.nxtbtn {
            left: auto;
            right: 0px;

            .arrow-col {
                float: right;
                margin-right: 0;
                margin-left: 5px;
            }

            .icol {
                float: right;
                margin-right: 0;
                margin-left: 5px;
            }

            .tcol {
                float: left;
                text-align: right;
            }
        }

        .pnlink:hover {
            color: $link-color;
        }
    }

    &.posfix {
        transform: translateY(0px);
    }
}


/** unit plans / configuration wrapper **/
.up-config-wrap {
    padding: 40px 15px 20px;
    position: relative;

    .sleek-tabs ul>li {
        padding-top: 10px;
    }

    .btn-wrap {
        padding: 20px 0 10px;

        .cbtn {
            margin-right: 10px;
        }
    }
}
.upl-wrap {
}
.up-list {
    > li {
        .img-wrap {
            .zoomin-img {
                cursor: zoom-in;
            }
            .fpna {
                cursor: not-allowed;
            }
        }

        .upl-dtls {
            .size {
                padding: 5px 0 2px;
                color: $dark-color;
            }
            .main-name {
                @include putellipsis;
                max-width: 98%;
            }
            .othr-info {
                @include putellipsis;
                max-width: 98%;
                color: $lighter-color;
                font-size: 12px;
            }
        }
    }
}

// scrollspy overwrites after removing sticky header from top
.proj-page {
    .scrollspy-wrap {
        &.posfixed {
            top: 0px;

            &.withheader {
                top: $hdrheight;
            }
        }

        .nav-wrap {
            width: 70%;
        }
    }
}

// available properties on sticky nav
.alp-hdr-wrap {
    padding: 10px 0;
    font-size: 14px;
    color: #ccc;

    .txt {
        display: inline-block;
        vertical-align: middle;
    }

    .brlink {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding: 0px 10px;
        margin: 0 0 0 5px;
        border: solid 1px #666;
        border-radius: 20px;
        min-width: 65px;
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;

        &:hover, &:focus {
            border-color: $link-color;
            background-color: $link-color;
            text-decoration: none;
        }
    }
    .count {
        font-weight: 500;
        font-size: 14px;
    }
}

// overwrites for sidebar sticky positions after removing sticky header from top
.proj-page {
    .mid-area-wrap {
        .sidebar-col {
            .posfix {
                top: 60px; // added scrollspy navbar height + some padding

                &.withheader {
                    top: 110px; // added the top hdr + scrollspy navbar height + some padding
                }
            }
        }
    }
}

.disclaimer-link {
    color: #999;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    padding-right: 5px;

    &:hover {
        color: #999;
        text-decoration: none;
    }
}


/** available listings wrapper **/
.listings-available-wrap {
    padding: 40px 15px;
    position: relative;

    .sleek-tabs ul>li {
        padding-top: 10px;
    }

    .btn-wrap {
        margin: 20px 0 0 0;
    }
}
.buyrent-tab {
    margin-top: 15px;

    > ul {
        width: 130px !important;

        > li {
            width: 50%;
            padding: 4px 0 2px;
            font-size: 12px;
        }
    }
}
.lal-list {
    > li {
        position: relative;

        .propdtls {
            .price-wrap {
                padding: 5px 0 2px;

                .val {
                    padding-right: 3px;
                    font-size: 18px;
                    color: $dark-color;
                    text-transform: capitalize;
                }
                .unit {
                    font-size: 14px;
                    text-transform: capitalize;
                    color: $light-color;
                }
            }

            .main-name {
                @include putellipsis;
                max-width: 98%;
                font-size: 14px;
            }

            .othr-info {
                display: block;
                @include putellipsis;
                max-width: 98%;
                color: $light-color;
                font-size: 12px;
            }
        }

        .txtbtn {
            padding: 0;
        }
    }
}

#overview.info-card {
    margin-bottom: 0;
    padding-bottom: 0;
}

//amenities wrapper
.amenities-wrap {
    padding-top: 30px;
    padding-bottom: 0;
}

//specifications-wrap
.specifictions-wrap {
    padding-top: 20px;

    h3 {
        font-size: 1.5em;
    }

    .more-wrap {
        padding-bottom: 20px;
    }
}

// price trends wrap
.price-trends-wrap {
    padding: 30px 0 20px 0;

    .graph-control-area {
        margin: 20px 0 0;
        height: 440px;
    }

    $controlwrapwidth: 280px;

    .control-wrap {
        display: block;
        float: left;
        width: $controlwrapwidth;
        height: 100%;
        padding: 20px;
        background-color: #f3f3f3;

        .typehead-lbl {
            padding-bottom: 15px;
            font-size: 16px;

            .pname {
                color: $lighter-color;
            }
        }

        .thcontainer {
            .thinput {
                padding: 7px 10px;
                background: #fff;
                border: solid 1px #f0f0f0;
                border-radius: 20px;
                box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
                z-index: 2;
            }

            .thdd {
                z-index: 2;

                ul li {
                    padding: 0 5px;
                    font-size: 14px;
                    line-height: 1.15;

                    .result-row {
                        padding: 8px 0;
                    }
                }
            }
        }

        .add-lbl {
            padding: 20px 0 4px;
            border-bottom: solid 1px #dfdfdf;
            box-shadow: 0 1px 0 0 rgb(255,255,255);
            font-size: 16px;
        }
    }

    .txtalert {
        margin: 10px 0 0;
        color: $link-color;
        font-size: 12px;
    }

    .graph-wrap {
        display: block;
        float: left;
        width: calc(100% - #{$controlwrapwidth});
        height: 100%;
        border: solid 1px #dcdcdc;

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 0px;
            border-bottom: solid 1px #dcdcdc;
        }
    }
}

// accordion css
.accordion {

    [class*="tabitem"] {
        border-bottom: solid 1px #dcdcdc;

        &.active {
            .itemcontent {
                display: block;
                opacity: 1;
            }

            .itemlbl {

                i.icon-chevron-down {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .itemlbl {
        position: relative;
        padding: 20px 0px 10px;
        color: $dark-color;
        font-size: 14px;
        line-height: 1;
        cursor: pointer;

        i.icon-chevron-down {
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            right: 10px;
            top: 20px;
            transition: transform 0.15s ease-in-out;
        }
    }

    .itemcontent {
        display: none;
        padding: 0 10px 10px;
        opacity: 0;
        transition: all 0.3s ease-in;

        .fallabck {
            color: $lighter-color;
        }

        .fc-wrap {
            display: block;
        }
    }

    label.checkboxlbl {
        display: block;
        margin-bottom: 10px;

        .txt {
            font-size: 13px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

// top sellers section
.project-dm-banner {
    padding: 40px 0 0;

    .dm-banner-wrap .btn-wrap {
        text-align: left;
    }
}

// home loan section
.homeloan-wrap {
    position: relative;
    width: 100%;
    padding: 0 0 20px 0;

    .banklogo-wrap {
        padding: 0px 0 30px;
    }

    .bank-listitem {
        display: inline-block;
        width: 125px;
        height: 60px;
        margin: 0px 10px 10px 0;
        padding: 5px;
        border: solid 1px #dcdcdc;
        border-radius: 5px;
        vertical-align: middle;
        overflow: hidden;
        text-align: center;

        .banklogo {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: #fff;
        }

        .lbl {
            padding: 15px 0 0 0;
            color: $lighter-color;
        }
    }
}

.neighborhood-wrap {
    padding: 20px 0 30px;
}

.loc-bui-wrap {
    padding: 30px 0;
}

// builder wrapper
.builder-wrap {

    h3 {
        font-size: 1.5em;
    }
}

//// for laptop screens
@media (min-width: 1025px) {

    .imp-data-wrap {
        .ditem {
            &:last-child {
                padding-right: 10px;
                //width: 34%;
            }
        }
    }

    .config-wrap {
        .main-tab-panel {

            .sub-tab-panel {
                width: 65%;
            }

            .view-all-wrap {
                bottom: -7px;
                width: 45%;
                text-align: right;

                a {
                    display: inline-block;
                    @include putellipsis;
                }
            }
        }
    }

    .construction-wrap {
        .gallwrap {
            margin: 0 35px;
        }
    }

    ul.construction-image-list, .constImgCard {
        height: 280px;
    }
}
