@import "variables";
@import "components/page-loader";

body{
    background: #fff;
    color: $heading-color;
}
.body-content{
    margin-top: 20px;
}
.promotion-page-wraper{
    padding-bottom: 80px;

    .interestedButton{
        margin-top: 50px;
        margin-bottom: 50px;
        .interested-span{
            font-weight: bold;
        }
    }

    .form-row{
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        margin-top: 20px;
        position: relative;

        .fc-wrap.selectbox .txt{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .fc-wrap label{
            text-transform: capitalize;
            top: -8px;
            font-size: 10px;
        }

        .fc-wrap:focus label, .fc-wrap.focus label, .fc-wrap.active label{
            top: -8px;
        }

        .select-dropdown ul{
            height: 185px;
            overflow: auto;
        }

        .fc{
            border-color: #ccc;
        }

        > div{
            margin: 0 10px;
        }

        .input-box{
            margin: 3px 0 0 0;

            input{
                padding: 6px 5px 2px 0;
            }
        }

        .countryCode{
            position: absolute;
            bottom: 2px;
            left: 0;
        }

    }

    .otp-pane {
        padding: 10px 10px 5px;
        background-color: #fff;
        text-align: center;
    }

    .otp-submit{
        margin-bottom: 20px;
    }

    .verification-wrap {
        .verfication-code {
            .verification-code-value {
                position: relative;
                margin-top: 10px;
                margin-bottom: 5px;
                height: 30px;
                width: 185px;

                &:before {
                    content: "___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___";
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 185px;
                    z-index: 1;
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 20px;
                    height: 30px;
                    background-color: #fff;
                    z-index: 101;
                }

                .otp-error {
                    font-size: 12px;
                    width: 100%;
                }

                input {
                    position: absolute;
                    left: 26px;
                    width: 160px;
                    padding-left: 10px;
                    z-index: 99;
                    background: transparent;
                    border: none;
                    text-align: left;
                    font-size: 18px;
                    letter-spacing: 23px;
                    outline: none;
                }
            }
        }
    }

    .resetbtn-wrap {
        padding: 10px;

        .txtlink {
            padding-right: 10px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
        }

        .resendtxt{
            border-left: solid 1px #ccc;
            padding: 0 0 0 15px;
        }
    }

    .page-content{
        margin: 15px auto;
        width: 100%;
        max-width: 800px;
        text-align: center;
        padding: 0 15px;

        h3{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: bold;
            span{
                display: block;
                font-size: 16px;
                font-weight: normal;
                margin-top: 5px;
            }
        }

        h4{
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 14px;
        }

        h5{
            font-size: 12px;
            margin-bottom: 15px;
        }

        .fill-details-wrap{
            margin: 10px 0;
        }

        .title-text{
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .otp-title{
            font-size: 14px;
            margin-bottom: 10px;
        }

        .makaan-tag-line{
            font-size: 12px;
            display: flex;
            align-items: baseline;
            justify-content: center;
            margin-top: 30px;
            span{
                padding: 0 4px;
            }
        }

    }
}
@media screen and(min-width: 769px){
    .promotion-page-wraper{

        .thanku-block{
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: -30px;
        }

        .page-content{
            margin: 50px auto;

            .project-info-wraper{
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
                box-shadow:  blue;
                .name-rate-block{
                    background: #5670a0;
                    color: white;
                    border-radius: 10px 10px 0px 0px; 
                    width: 100%;
                    height: 70px;
                    padding: 10px 20px 0px 20px;
                    .name-block{
                        width:  70%;
                        float:  left;
                        text-align:  left;
                        .name-span{
                            font-size:  x-large;
                            display:  block;
                            font-weight: bold;
                            color: white;
                        }
                        .address-span{
                            display: block;
                        }
                    }
                    .rate-block{
                        width: 30%;
                        float: left;
                        text-align:  right;
                        padding-top: 5px;
                        .rate-span{
                            display: block;
                            font-size: large;
                        }
                        .rate-psf{
                            display: block;
                        }
                    }
                }

                .image-container{
                    align-items: center;
                    width: 100%;
                    height: 250px;
                    text-align: center;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    .comp-logo{
                        display: inline-block;
                        width: 100%;
                    }
                }

                .info-wrap{
                    height: 70px;
                    background: #f9f9f9;
                    padding: 10px;
                    width: 100%;
                    .info-block{
                        width: 33.33%;
                        float: left;
                        padding-left: 20px;
                        text-align: left;
                        .info-info{
                            display: block;
                            font-size: large;
                            font-weight: bold;
                        }
                        .info-title{
                            display: block;
                        }
                    }
                }
                .number-container {
                    padding: 30px;
                }
            }

            h2{
                font-size: 30px;
                margin-bottom: 20px;
                line-height: 32px;
                letter-spacing: 2px;
            }

            h3{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 26px;

                span{
                    font-size: 26px;
                }
            }

            h4{
                margin-top: 20px;
                margin-bottom: 40px;
                font-size: 24px;
            }

            h5{
                font-size: 20px;
                margin-bottom: 30px;
            }

            .fill-details-wrap{
                margin: 20px 0;
            }

            .title-text{
                font-size: 24px;
                margin-top: 30px;
            }

            .otp-title{
                font-size: 20px;
                margin-top: 20px;
            }

            .makaan-tag-line{
                font-size: 20px;
                margin-top: 30px;
            }

        }
    }
}
/*mobile screen only*/
@media screen and(max-width: 767px){
    .body-content{
        margin-top: 20px;
    }
    .promotion-page-wraper{

        .thanku-block{
            font-weight: bold;
            text-align: center;
            font-size: 14px;
            margin-bottom: 14px;
        }

        .page-content{

            .project-info-wraper{
                border-radius: 10px;
                box-shadow: none;
                .name-rate-block{
                    background: #5670a0;
                    color: white;
                    border-radius: 10px 10px 0px 0px; 
                    width: 100%;
                    height: 70px;
                    padding: 5px;
                    .name-block{
                        width:  100%;
                        clear: left;
                        text-align:  center;
                        .name-span{
                            display:  block;
                            font-weight: bold;
                            color: white;
                            font-size: 14px;
                        }
                        .address-span{
                            display: block;
                        }
                    }
                    .rate-block{
                        width:  100%;
                        clear: left;
                        text-align:  center;
                        padding-top: 0px;
                        .rate-span{
                            display: block;
                            font-size: 14px;
                        }
                        .rate-psf{
                            display: none;
                        }
                    }
                }

                .image-container{
                    align-items: center;
                    width: 100%;
                    height: 150px;
                    text-align: center;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    .comp-logo{
                        display: inline-block;
                        width: 100%;
                    }
                }

                .info-wrap{
                    background: #f9f9f9;
                    padding: 10px;
                    width: 100%;
                    height: 50px;
                    .info-block{
                        width: 33.33%;
                        float: left;
                        padding-left: 0px;
                        text-align: center;
                        .info-info{
                            display: block;
                            font-weight: bold;
                            font-size: smaller;
                        }
                        .info-title{
                            display: block;
                            font-size: x-small;
                        }
                    }
                }
                .number-container {
                    padding: 15px;
                }
            }
        }

        .form-row{
            padding-bottom: 80px;

            .btn-wrap{
                position: absolute;
                bottom: 20px;
            }

        }
        .fc-wrap.selectbox{
            min-width: 100px;
        }
    }
}