@import "variables";
@import "mixins/ellipsis";
@import "components/circular-progress";
@import "components/leadform";
@import "components/deal-maker";
@import "components/deal-maker-side-widget";
@import "components/premium-tag";
@import "propProjCommon";
@import "components/nestaway-benefits";
@import "components/makaan-select-badge";
@import "components/makaan-select-banner";
@import "components/makaan-select-promotion";
@import "components/makaan-select-know-more-popup";
@import "components/makaan-select-coupon";
@import "components/page-loader";
@import "components/makaan-select-prelead";
@import "components/_ask-question";


.nv-bar.dmLabel{
    width: auto;
    height: 32px;
    margin-left: 65px;
    margin-top: 5px;
}

.prop-detail-cntct-wrap {

    .deal-maker-badge{
        text-align: center;
        margin-top: 50px;
        font-family: $roboto;
        text-transform: uppercase;
        font-size: 16px;
        color: #292929;
        position: relative;

        > span{
            text-align: center;
            margin-bottom: 10px;

            img {
              width: auto;
              height: auto;
            }
        }

        .info-tag{
            position: absolute;
            cursor: pointer;
            display: inline-block;
            margin-left: 10px;
            bottom: 5px;

            &:hover{
                .mp-tooltip{
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    width: 240px;
                    line-height: 18px;
                }
            }
        }

    }
    .tmp-btn-wrap {
        text-align: center;
        margin-top: 20px;
        .btnv2-p{
            border: 0;
            border-radius: 20px;
        }
    }
}

#tenant-preferences {
    h3 {
        padding-bottom: 0;
    }
}

// top heading
.type-col {
    .type-wrap {
        .size {
            color: $lighter-color;
        }
    }
}

.verification-date {
    padding-top: 5px;
    color: $lighter-color;
    font-size: 12px;
}

.furnishings-wrap {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: solid 1px #ccc;
}

//floor plan wrapper
.floorplan-wrap {
    .fp-tabpane-wrap {
        display: table;
        width: calc(100% + 30px);
        margin: 30px -15px 20px;
        background-color: #e9e7e8;
        text-align: center;

        .tabs-pane {
            display: table-cell;
            height: 350px;
            overflow: hidden;

            img {
                width: auto;
                max-width: 100%;
                max-height: 350px;
            }
        }
    }
}

// project details wrapper
.project-wrap {
    padding-bottom: 10px;

    $projwrapwidth: 320px;
    $projwrapheight: (3*$projwrapwidth)/4; // to maintain the 4:3 aspect ratio

    .proj-img-wrap {
        width: $projwrapwidth;
        max-height: $projwrapheight;
        max-width: 100%;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 20px;

        .hdr {
            @include putellipsis;
            height: 35px;
            padding: 0px 10px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: $link-color2;
            color: #fff;
            font-size: 17px;
            line-height: 35px;
        }

        .img-wrap {
            max-height: calc(#{$projwrapheight} - 35px);
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            overflow: hidden;

            .img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .desc {
        padding-top: 10px;
    }

    .txt-desc {
        padding-bottom: 10px;
        text-align: justify;

        p {
            margin: 0;
        }
    }

    .proj-points {
        padding-top: 10px;
        padding-bottom: 10px;

        .pp-list {
            > li {
                display: inline-block;
                padding: 0px 30px 10px 0px;

                .lbl {
                    font-size: 13px;
                    color: $lighter-color;
                }

                .val {
                    font-size: 16px;
                }
            }
        }
    }
}
.full-card .project-wrap {
    width: 90%;
}


// Other sellers wrapper
.other-sellers-wrap {
    h2 {
        .mob-change {

        }
    }
    .seller-grid-wrap {
        label.checkboxlbl{
            .txt{
                &:after{
                    left: -16px;
                }
            }
        }
    }
}


.leadform-wrap{
    .leadform-details{
        .thanks-image{
            margin: 20px 0;
        }
    }
}

//// for mobile screens
@media (max-width: 359px) { //special case
    .txt-sort {
        display: none;
    }
}
@media (max-width: 767px) {
    .floorplan-wrap {
        .fp-tabpane-wrap {
            width: calc(100% + 20px);
            margin: 30px -10px 20px;
            background-color: #fff;

            .tabs-pane {
                display: inline-block;
                width: 90%;
                height: 180px;
                margin: 0 auto;
                border-radius: 20px;
                background-color: #e9e7e8;
            }
        }
    }

    .locality-wrap, .other-sellers-wrap {
        width: 100%;
    }

    .seller-grid {
        .g-head .g-row .name-col {
            padding-left: 15px;
        }

        .g-body {

            .g-row {
                padding: 10px 0 0;

                .check-col label.checkboxlbl {
                    margin-top: 4px;
                }
            }
        }

        .btn-wrap {
            padding-top: 20px;
            .btnn.btnn-p {
                width: 100%;
            }
        }
    }

    .full-card .project-wrap {
        width: 100%;
    }
}

.ms-badge{
    &.pd-badge{
        position: relative;

        span{
             bottom: auto;
             left: 75px;
             top: 6px;
             font-size: 11px;
             text-align: left;
        }
    }
}

.ms-banner-warp{
    margin: 25px 0;
}
.new-feature {
    box-shadow: 1px 0 10px 0 rgba(239,174,208,.9);
    padding-left: 20px;
    margin: 10px 0 20px -20px;
}

//// for laptop screens
@media (min-width: 768px) {

    .imp-data-wrap {

        .type-col .type-wrap {
            font-size: 32px;
        }

        .i-lcol {
            width: 150px;
        }

        .i-rcol {
            width: calc(100% - 150px - 30px);
        }
    }

    .floorplan-wrap {
        display: block;
    }

    .project-wrap {
        .desc {
            padding-right: 10px;
        }

        .proj-points {

            .bfacts-list > li {
                .lbl {
                    font-size: 14px;
                }
                .val {
                    font-size: 19px;
                }
            }
        }
    }
}
