@import "variables";
@import "mixins/ellipsis";
@import "components/deal-maker";
@import "components/seller-mini-profile";
@import "components/sellerReviews";
@import "components/premium-tag";
@import "mobPropProjCommon";
@import "components/nestaway-benefits";
@import "components/makaan-select-badge";
@import "components/makaan-select-banner";
@import "components/makaan-select-promotion";
@import "components/makaan-select-know-more-popup";
@import "components/makaan-select-coupon";
@import "components/page-loader";
@import "components/_map-popup";
/******************************************/
/** Property page specific css goes here **/
/******************************************/
.hl-dash-popup {
    background-color: #fff;
}
.overview-wrap {
    padding-bottom: 0px;
}
/*nestaway overwrites*/
.nestaway-benefit{
    margin-bottom: 15px;
}

.ms-banner-warp.mini-banner{
    width: 100%;
}

.ms-badge{
    &.pd-badge{
        position: relative;
        margin-bottom: 20px;

        span{
             bottom: auto;
             left: 75px;
             top: 6px;
             font-size: 11px;
             text-align: left;
        }
    }
}

.connect-sellers-wrap {
    padding: 20px 0;
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    $siw: 42px;

    .seller-details {
        position: relative;
        display: flex;
        justify-content: flex-start;
    }

    .sibox-wrap {
        width: $siw;
        height: $siw;
        vertical-align: middle;
    }

    .seller-img-box {
        width: 100%;
        height: 100%;

        .initial {
            font-size: 16px;
            line-height: $siw;
        }
    }

    .seller-info {
        width: calc(100% - #{$siw} - 60px); // 60px for rating review wrapper and 52px for image
        padding: 0 5px 0 10px;

        .sname {
            @include putellipsis;
        }
    }

    .designation-type-wrap {
        @include putellipsis;
        padding-top: 6px;
        text-transform: uppercase;
        font-size: 12px;

        .designation {
            &.dm {
                color: $light-color;
            }
            &.edm {
                color: #e4a804;
            }
        }

        .type {
            color: $lighter-color;
        }

        .designation ~ .type {
            margin-left: 3px;

            &:before {
                content: '·';
                padding-right: 3px;
            }
        }
    }

    .review-rating-wrap {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        max-width: 60px;

        .rating .rating-badge {
            width: 22px;
            height: 22px;
            line-height: 22px;
            border-radius: 2px;
            border-bottom-right-radius: 0px;
            font-size: 11px;
        }

        .rating-review {
            font-size: 10px;
            line-height: 11px;
            text-align: right;
            span {
                font-size: 11px;
            }
        }
    }

    .btm-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .txt {
            width: calc(100% - 120px);
            padding: 10px 10px 0 0;
            color: $lighter-color;
            font-size: 12px;
        }
    }

    .cta-wrap {
        width: 120px;
        text-align: right;

        .cta-link {
            display: inline-block;
            height: 28px;
            padding: 5px 10px 0;
            text-align: center;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
.card-heading{
    font-weight: bold;
    font-size: 18px;
}

.tn-prf-wrap{
    padding: 10px 15px;
    border-bottom: solid 5px #f4f4f4;
}
.furnishings-wrap,.amenity-wrap{
    padding: 10px 15px;
    border-bottom: solid 5px #f4f4f4;
    .icons-list {
        max-height: 85px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        .listitem {
            width: 72px;
            height: 72px;
            padding: 0px;
            margin-right: 8px;
            vertical-align: text-top;
            .txt {
                white-space: normal;
                font-size: 13px;
                color: #292929;
            }  
        }  
    }
}

/*### Similar Property Card*/
.similar-card {
    .box-shadow {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
        padding: 10px;
        margin: 10px;
        height: 100%;
    }
    .fs_11 {
        font-size: 11px;
    }
    .fs_12 {
        font-size: 12px;
    }
    .fw_500 {
        font-weight: 500;
    }
    .clr-red {
        color: #e71c28;
        .path1:before {
            color: #e71c28;
        }
    }
    .clr-blk {
        color: #444444;
        .path1:before,
        .path2:before,
        .path3:before {
            color: #444444;
        }
    }
    .mr_top_2 {
        margin-top: 2px;
    }
    .mr_top_4 {
        margin-top: 4px;
    }
    .mr_top_10 {
        margin-top: 10px;
    }
    .pd_5 {
        padding: 5px;
    }

    h4 {
        color: #444444;
        display: block;
        font-size: 18px;
        font-weight: bold;
    }

    .icon-back-arrow{
        font-size: 16px;
        transform: rotate(-180deg);
        display: inline-block;
        padding-bottom: 4px;
    }
    .img-box{
        float: left;
        .img-sml {
            background-image: url(/images/similarPropertyCard/similar-prop.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .similar-text-card {
        .img-box{
            margin-top:15px;
            padding: 15px 15px 5px 7px;
            min-height: 100px;
            .img-sml {
                width: 96px;
                height: 57px;
            }
        }
    }

    .similar-carousel-card {
       .img-box{
            padding: 5px 15px 0px 0px;
            .img-sml {
                width: 64px;
                height: 39px;
            }
        }
        .bg-img-1{
            background-image: url(/images/similarPropertyCard/carousel_1.png);
        }
        .bg-img-2 {
            background-image: url(/images/similarPropertyCard/carousel_2.png);
        }
        .bg-img-3 {
            background-image: url(/images/similarPropertyCard/carousel_3.png);
        }
        .img-large {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 214px;
            margin:10px 0px;
        }
    }
}
.new-breadcrum{
    display: none;
}
.type-wrap {
    .p-wrap{
        font-size: 14px;
    }
    span.type{
        &:after {
            content: '|';
            padding: 0px 0px 0px 5px;
            color: #9b9b9b;
        }
    }    
}
.prop-card{
    border-bottom: none;
}
.new-prop-view{
    background: transparent;
    .prop-card{
        border-bottom: 5px solid #f4f4f4;
    }
    .new-breadcrum{
        display: block;
        .breadcrumb-list{
            padding-bottom: 0px; 
            .bclink{
                padding:2px 5px;
                a.txt{
                    font-size:11px;
                    color:#9b9b9b;
                }
            }
        }     
    }
    .galinlinewrap{
        height: 212px;
    }  
    .old-breadcrum{
        display: none;
    }
    .top-area-wrap{
        .page-hdng-wrap{
            padding-bottom: 0px;
            .ulink{
                border-bottom: none;
            }
        }
        padding: 0px;
        .type-wrap span.type{
            &:after {
                content: '.';
            }
        }  
        .hdr{
            padding: 0px 10px 10px 10px;
        }
        .price-wrap{
            margin: 5px 0 0 0;
            .price-area {
                font-size: 22px;
                .val{
                    font-weight: bold;
                }
                sup.rupee{
                    top:0px;
                    font-size: 22px;
                    color: #000;
                }
            }
        }
        .miscinfo-area{
            .info-col{
                padding-right: 20px;
                .lbl{
                    color: #9b9b9b;
                }
                .val{
                    font-size: 14px;
                    font-weight: 500;
                    color: #292929
                }
            }
        }
        .connect-sellers-wrap{
            padding: 20px 10px;
            .sname{
                font-size: 14px;
                font-weight: 500;
                color: #292929;
            }
            .designation-type-wrap{
                font-size: 11px;
                 color: #9b9b9b;
                 padding-top: 3px; 
            }
            .review-rating-wrap{
                display: none;
            }
            .btm-wrap {
                .txt{
                    color: #9b9b9b;
                }    
                .cta-link{
                    height: 32px;
                    color: #fff;
                    width: 92px;
                    background: #e81c28;
                    border-radius: 20px;
                    line-height: 21px;
                }
            }
        }
        .overview-wrap{
            padding: 20px 15px;
            border-bottom: solid 5px #f4f4f4;
            h2{
                font-size: 18px;
                color: #292929;
                font-weight: bold;
                &:before{
                    display: none;
                }
            }  
            .desc-text{
                color: #9b9b9b;
                font-size: 13px;
            }  
            .more-link{
                text-transform: capitalize;
                font-size: 13px;
                float: right;
            }
        }
        .key-details-wrap{
            padding:15px 15px 10px;
            tbody{
                display: block;
                width: 100%;
            }
            .card-heading{
                font-size: 18px;
                font-weight: bold;
                color: #292929;
            }
            .listitem {
                .lbl{
                    color: #9b9b9b;
                }
                .val{
                    font-size: 14px;
                    font-weight: 500;
                    color: #292929
                }
            }
        } 
    }
    .three-tabs-wrap{
        border-bottom: solid 5px #f4f4f4;
        padding-top: 0px;
    }
    .home-loan-wrap{
        padding-top: 15px;
    }
    .similar-card .img-box {
        float: right;
    }
}
.locality-wrap{
    border-bottom: solid 5px #f4f4f4;
    padding: 10px 15px;
}
.locality-wrap, .project-wrap {
    position: relative;
    .score-wrap {
        .score{
            background: #efefef;
            padding: 3px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            color: #000;
            font-size: 12px;
        }
        float: none;
        width: auto;
        padding: 0px;
        margin: 0px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 1.5em;
        .ring-wrap {
            width: 30px;
            height: 30px;
            z-index: 5;
            margin: 0px;
            float: right;
        }
        .val {
            font-size: 10px;
            padding: 2px;
            width: 65px;
            border-radius: 2px;
            float: right;
            background: #f4f4f4;
            color: #292929;
        }
    }
}
.nearby-wrap{
    padding: 10px 15px;
    border-bottom: solid 5px #f4f4f4;
    .locality{
        margin-left: 5px;
    }
    .hdng-wrap ul.amenity-tablist{
        padding: 10px 0 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: normal;
        margin: 0;
        padding: 10px 0 15px;
        list-style: none;
        overflow: auto;
        li{
            padding: 10px 5px;
            font-size: 11px;
            font-weight: 500;
            color: #1d1d1d;
            background: #f4f4f4;
            margin: 0px 5px;
            border-radius: 5px;

            &.active{
                width: 72px;
                height: 80px;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
                margin: 0px 5px;
                background: #fff;
                height: 87px;
            }
        }
    
    } 
    .neighbour-commute{
        li{
            padding: 8px 0 5px;
            border-bottom: solid 1px #efefef;
            .place-name{
                color:#444;
            }
            .dist{
                color: #444;
                font-weight: 500;
            }
        }
    }
}
@media (max-width: 320px) {
    .new-prop-view .top-area-wrap .overview-wrap .more-link{
        float: none;
        margin-top: 0px; 
    }
}