.quick-filter {
    margin: 10px;
    background: url(/images/un-versioned/quick-filter-bg.png) 0 100% no-repeat, linear-gradient(to right, #ffa9b2 52%, #ffb8af);
    overflow: auto;

    &#quick-filter-propertyType, &#quick-filter-budgetQuickFilter {
    	.container.n-width {
    		width: 110%;
    	}
    }

    .container {
    	position: relative;
		display: flex;
    	padding: 14px 25px 14px 25px;

    	&.xl-width {
    		width: 120%;
    	}

		.filter-icon {
			position: absolute;
		    bottom: 10px;
		    right: 10px;
		    padding: 2px 5px;
		    border-radius: 10px;
		    border: 1px solid #f78d8d;
		    font-size: 11px;
		}
    }
    label {
	    width: 95px;
	    align-self: center;
	    font-size: 14px;
	    font-weight: normal;
	    white-space: nowrap;

	    strong {
	    	display: block;
	    	font-size: 20px;
	    }
    }

    ul {
	    display: inline-block;
    	margin-left: 35px;

    	li {
    		min-width: 70px;
    		display: inline-block;
		    padding: 5px 10px;
		    border-radius: 25px;
		    margin: 4px 4px;
		    text-align: center;
		    background: #fef5f5;
		    font-size: 12px;
    	}
    }
}

/* For Extra small devices */
@media (max-width: 390px) {
	#quick-filter-propertyType {
		.container.xl-width {
			width: 130%;
		}
	}
	#quick-filter-budgetQuickFilter {
		.container.xl-width {
			width: 125%;
		}
	}
	.filter-icon .icon-wrap {
		display: none;
	}
}
