@import "variables";
@import "components/page-loader";

.feedback-container .ff-heading .close-popup{
	width: auto;
	padding: 15px;
}

.link{
	color: $link-color;
	cursor: pointer;
}
.contact-link {
	color: $light-color;
	font-weight: 500;
}

.verify-text{
	font-size: 16px !important;
	font-weight: bold;
	color: #20a255 !important;
	text-transform: uppercase;
	display: inline !important;
}

.select-highlighter {
	display: inline !important;
	font-size: inherit !important;
	color: $link-color2;
	font-weight: 500;
}

.redeem-super-container{

	.inner-container{
		width: 100%;
		max-width: 992px;
		margin: 0 auto;
		position: relative;
	}

	.banner-sec{
		width: 100%;
		background: #fff url(/images/makaan-select/redeem-coupon-banner-bg.jpg) no-repeat 100% -50px;

		.inner-container{
			padding-top: 80px;
			padding-bottom: 300px;
		}

		.tag-line{
			font-size: 24px;
			color: $heading-color;
			line-height: 20px;
			margin-bottom: 12px;
			margin-top: 0;
		}

		.select-logo{
			width: 235px;
			height: 54px;
			background: url(/images/makaan-select/ms-logo.png) no-repeat;
			background-size: cover;
		}

		h1{
			font-size: 32px;
			font-weight: 500;
			color: $heading-color;
			margin-bottom: 28px;
		}

		.coupon-amount{
			height: 30px;
			line-height: 30px;
			display: flex;
			margin-top: 25px;
			margin-bottom: 85px;
			font-size: 15px;
			color: $light-color;

			span{
				display: inline-block;
				width: 76px;
				height: 30px;
				background: url(/images/makaan-select/coupon-amount.png) no-repeat top left;
				font-size: 17px;
				color: #ffbc00;
				font-weight: 500;
				padding-left: 26px;
				margin: 0 8px;
			}
		}
	}

	.voucher-wrap {
		padding: 60px 0 20px;
		background-color: #fff;
		background-image: url(/images/makaan-select/ipad-man.png);
		background-repeat: no-repeat;
		background-position: 107% bottom;

		.inner-container {
			max-width: 600px;
			text-align: center;
		}

		h2 {
			margin-bottom: 30px;
			color: $heading-color;
			text-align: center;
			font-size: 37px;
			line-height: 1.25;
		}

		.ms-coupon-card.bigger {
			width: 330px;
			height: 210px;
			margin-bottom: 20px;

			.coupon-price {
				bottom: 80px;
				right: 40px;
				font-size: 18px;
			}
			.coupon-code {
				bottom: 22px;
				font-size: 22px;
				letter-spacing: 8px;
			}
		}

		.lock-txt {
			margin-bottom: 50px;
			color: $light-color;
			text-align: center;
			font-size: 18px;
		}

		h3 {
			margin-bottom: 6px;
			color: $body-color;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
		}

		.txt {
			color: $light-color;
			font-size: 16px;
			line-height: 1.6;
		}

		.btn-wrap {
			margin: 30px 0 50px;
		}

		.help-txt {
			color: $lighter-color;
			font-size: 12px;
			line-height: 1.33;
			.link {
				color: $light-color;
				font-weight: 500;
			}
		}
	}

	// overwrites for share widget used here in coupon module from serp cards
	.sharepopup {
		&.coupon-share {
			width:100%;
			
			.sharebtn-wrap {
			    padding-top: 0;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}
		}
	}

	.about-coupon{
		position: absolute;
		left: 50%;
		top: 520px;
		transform: translateX(-50%);
		background: #fff;
		box-shadow: 0 4px 16px 0 rgba(0,0,0,0.1);
		padding: 55px 0 35px; 
		width: 100%;

		> h3{
			font-size: 24px;
			font-weight: 500;
			color: $heading-color;

			span{
				display: block;
				font-size: 16px;
				color: $light-color;
				line-height: 16px;
				margin-top: 8px;
				font-weight: normal;
			}
		}

		ul{
			display: flex;
			margin-top: 60px;
			padding: 0 25px;

			li{
				margin-bottom: 40px;
				flex: 1;

				.img-holder {
					width: 56px;
					height: 55px;
					margin: 0 auto 20px;
					position: relative;
					background: url(/images/makaan-select/ms-step1.png) no-repeat;
					background-size: cover;

					&.img2{
						background: url(/images/makaan-select/ms-step2.png) no-repeat;
						background-size: cover;

						span{
							left: -30px;
						}
					}

					&.img3{
						background: url(/images/makaan-select/ms-step3.png) no-repeat;
						background-size: cover;

						span{
							left: -32px;
						}

					}

					span{
						font-size: 80px;
						font-weight: bold;
						color: lighten($heading-color,78%);
						position: absolute;
						left: -20px;
						bottom: -45px;
					}
				}

				h4{
					font-size: 20px;
					font-weight: bold;
					text-transform: uppercase;
					margin-bottom: 10px;
					color: $heading-color;
					line-height: 24px;
				}

				p {
					width: 340px;
					font-size: 15px;
					color: $light-color;
					line-height: 22px;
					margin: 0 auto;
				}

			}
		}

	}

	.seperator-line-4-color {
		height: 5px;
		line-height: 0;

		.c1, .c2, .c3, .c4 {
				display: inline-block;
				width: 25%;
				height: 4px;
		}

		.c1 {
				background-color: $lighter-color;
		}
		.c2 {
				background-color: #f2c000;
		}
		.c3 {
				background-color: #e87244;
		}
		.c4 {
				background-color: #e4286d;
		}
	}

	.happy-customer-sec {
		padding-top: 340px;
		padding-bottom: 130px;
	}

	.happy-customer-sec.with-coupon {
		padding-top: 130px;
	}
}

/*mobile screens only*/
@media screen and(max-width: 767px) {
	.redeem-super-container{

		.banner-sec{
			background-size: 75%;

			.inner-container{
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 129px;
				padding-bottom: 0;
			}

			.tag-line{
				font-size: 16px;
				margin-bottom: 8px;
			}

			.select-logo{
				width: 140px;
				height: 32px;
			}

			.coupon-amount{
				margin-top: 20px;
				margin-bottom: 50px;
			}

			h1{
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 15px;
			}

			.about-coupon{
				position: static;
				top: inherit;
				left: inherit;
				transform: translateX(0);
				padding: 0;
				box-shadow: none;
				margin-top: 30px;
				padding-top: 32px;

				> h3{
					font-size: 20px;
					span{
						font-size: 14px;
					}
				}

				.colorfull-border{
					position: absolute;
					width: calc(100% + 40px);
					top: 0;
					left: -20px;
					display: flex;

					span{
						width: 25%;
						background: #9b9b9b;
						height: 4px;
						display: block;

						&:nth-child(2){
							background: #f2c000;
						}

						&:nth-child(3){
							background: #e87244;
						}

						&:nth-child(4){
							background: #e4286d;
						}

					}
				}

				&.text-center{
					text-align: initial;
				}

				ul{
					margin-top: 30px;
					padding: 0;
					flex-flow: column;

					li{
						position: relative;
						margin-bottom: 40px;

						.img-holder{
							position: static;
							float: right;
							width: 56px;
							height: 55px;
							margin: 30px auto 0;

							span{
								font-size: 50px;
								left: 5px;
								bottom: 43px;
							}

							&.img2,
							&.img3{
								span{
									left: 0;
									bottom: 43px;
								}
							}
						}

						h4{
							font-size: 14px;
							margin-bottom: 8px;
						}

						p{
							width: 200px;
							margin: 0;
							font-size: 13px;
							line-height: 16px;
						}
					}
				}
			}
		}

		.voucher-wrap { 
			padding: 30px 0 10px;
			background-image: none;

			.inner-container {
				max-width: 350px;
				padding: 0 10px;
			}

			h2 {
				margin-bottom: 24px;
				font-size: 24px;
			}

			.ms-coupon-card.bigger {
				width: 280px;
				height: 179px;
				margin-bottom: 15px;
	
				.coupon-price {
					bottom: 70px;
				}
				.coupon-code {
					bottom: 20px;
				}
			}
	
			.lock-txt {
				margin-bottom: 35px;
				font-size: 16px;
			}
	
			h3 {
				margin-bottom: 6px;
				color: $body-color;
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
			}
	
			.txt {
				color: $light-color;
				font-size: 15px;
				line-height: 1.34;
			}
	
			.btn-wrap {
				margin: 20px 0 15px;
			}
	
			.help-txt {
				display: none;
			}
		}

		.happy-customer-sec {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 46px;
			padding-bottom: 0;

			&.with-coupon {
				padding-top: 46px;
			}
		}
	}
}