@import "variables";
@import "mixins/ellipsis";
@import "fontIcons";
@import "components/popup";



@import "components/form-elements";
@import "components/menudrawer";
@import "components/tooltip";
@import "components/tabs";
@import "components/hl-desk-popup";
@import "components/rating";
@import "components/feedback-v2"; 
@import "components/exit-intent";

@import "components/msr-coupon-popup";
@import "components/coupon-card";

/*page specific lazy load css*/
.happy-customer-sec{

	.hc-left{
		float: left;
		width: calc(100% - 536px);
		height: 405px;
		position: relative;

		.customer-box{
			position: absolute;
			border-radius: 100%;
			border: 3px solid #eaeaea;

			span{
				position: absolute;
				font-size: 17px;
				color: #fff;
				border-radius: 6px;
				height: 32px;
				line-height: 32px;
				text-align: center;
				padding: 0 13px;
				min-width: 120px;

				&.text1{
					background: $pink-color;
					left: 30px;
					bottom: 100%;
					width: 175px;
				}

				&.text2{
					background: #e87244;
					right: 30px;
					top: 100%;
				}

				&.text3{
					background: #f2c000;
					left: 56px;
					bottom: -15px;
					width: 185px;
				}
			}

			&.box1{
				width: 47px;
				height: 47px;
				top: 0;
				left: 260px;
				background: url(/images/makaan-select/customer-1.jpg) no-repeat center;
				background-size: cover;
			}

			&.box2{
				width: 55px;
				height: 55px;
				top: 36px;
				left: 18px;
				background: url(/images/makaan-select/customer-2.jpg) no-repeat center;
				background-size: cover;
			}

			&.box3{
				width: 123px;
				height: 123px;
				top: 72px;
				left: 96px;
				background: url(/images/makaan-select/customer-3.jpg) no-repeat center;
				background-size: cover;
			}

			&.box4{
				width: 39px;
				height: 39px;
				top: 114px;
				right: 106px;
				background: url(/images/makaan-select/customer-4.jpg) no-repeat center;
				background-size: cover;
			}

			&.box5{
				width: 39px;
				height: 39px;
				top: 192px;
				left: 0;
				background: url(/images/makaan-select/customer-5.jpg) no-repeat center;
				background-size: cover;
			}

			&.box6{
				width: 59px;
				height: 59px;
				right: 0;
				top: 166px;
				background: url(/images/makaan-select/customer-6.jpg) no-repeat center;
				background-size: cover;
			}

			&.box7{
				width: 87px;
				height: 87px;
				top: 240px;
				left: 68px;
				background: url(/images/makaan-select/customer-7.jpg) no-repeat center;
				background-size: cover;
			}

			&.box8{
				width: 81px;
				height: 81px;
				bottom: 96px;
				right: 128px;
				background: url(/images/makaan-select/customer-8.jpg) no-repeat center;
				background-size: cover;
			}

			&.box9{
				width: 39px;
				height: 39px;
				bottom: 0;
				left: 130px;
				background: url(/images/makaan-select/customer-9.jpg) no-repeat center;
				background-size: cover;
			}

		}
	}

	.hc-right{
		float: right;
		width: 536px;
		padding-top: 50px;
		padding-left: 133px;

		h3{
			font-size: 40px;
			color: $heading-color;
			line-height: 50px;
			font-weight: normal;

			span{
				font-weight: 500;
			}
		}

		p{
			font-size: 17px;
			line-height: 26px;
			color: $lighter-color;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-right: 30px;
		}
	}

}

/*mobile screen only*/
@media screen and(max-width: 767px){
	.happy-customer-sec{

		.inner-container{
			position: relative;
			padding-bottom: 195px;
		}

		.hc-left{
			float: none;
			width: auto;
			.customer-box{

				span.text3{
					left: auto;
					right: 0;
					bottom: -30px;
				}

				&.box1{
					left: auto;
					right: 0;
					top: 42px;
				}

				&.box2{
					left: 0;
				}

				&.box3{
					left: 25%;
				}

				&.box4{
					right: 5%;
					top: 165px;
				}

				&.box6,
				&.box9{
					display: none;
				}

				&.box7{
					top: 225px;
				}

				&.box8{
					right: 0;
					bottom: 50px;
				}
			}
		}

		.hc-right{
			padding-top: 0;
			padding-left: 0;
			width: auto;
			float: none;

			h3{
				font-size: 24px;
				line-height: 29px;
			}

			p{
				font-size: 14px;
				line-height: 21px;
				padding-right: 0;
				margin-top: 7px;
			}
		}

		.cta-wrap{
			position: absolute;
			bottom: 70px;
			left: 0;
			text-align: center;
			width: 100%;

			.cbtn{
				margin-bottom: 25px;
			}
		}
	}
}
