@import "variables";
.reset-password{
    width:100%;
    max-width:400px;
    background:#fff;
    box-shadow:0 0 10px -1px rgba(135,135,135,0.7);
    margin: 100px auto 300px;
    border-radius: 5px;
    padding: 30px;
    .login-btn-style{
        width: 50%;
    }
}
@media screen and ( max-width: 479px ){
    .reset-password{
        max-width: 290px;
        margin: 50px auto 200px;
    }
}

@media screen and ( max-width: 767px ){
    .reset-password{
        padding: 5px 16px 25px;
        .login-btn-style{
            width: 75%;
            font-size: 16px;
            margin-top: 25px;
            line-height: 1;
            height: auto;
            padding: 12px;
        }
    }
}
