@import "variables";
@import "components/page-loader";
@import "components/news-sec";

$topTextPos : 80px;

#header, .footer{
    display: none;
}
.clearfix {
    clear: both;
}
.max1180{
    max-width: 1180px;
    margin: 0 auto;
}

.max800{
    max-width: 800px;
    margin: 0 auto;
}
.max520{
    max-width: 520px;
    margin: 0 auto;
}
.max1024{
    max-width: 1024px;
    margin: 0 auto;
}
body{
    background: #ffffff;
}

/*---hide buyer header elements--*/
header.header {
    .makaan-logo {
        border-right: 0;
    }
    .buy-rent, .login-assist-option ul.step1 > li.sellersitelink, .search-col {
        display: none;
    }
}
/*---hide buyer header elements end--*/

.redtxt, .blacktxt{
    color: $link-color;
}

.blacktxt{
    color: #444444;
}

.yellowtxt{
    color: #fba510;
}

.pinktxt{
    color: #e7248a;
}

//animation for ring phone effect
@keyframes ring {
  0% {transform:rotate(0deg);}
  4% {transform:rotate(-8deg);}
  8% {transform:rotate(0deg);}
  12% {transform:rotate(-8deg);}
  16% {transform:rotate(0deg);}
  20% {transform:rotate(-8deg);}
  24% {transform:rotate(0deg);}
  28% {transform:rotate(-8deg);}
  32% {transform:rotate(0deg);}
  100% {transform:rotate(0deg);}
}
.app-img {
    display: inline-block;
    width: 25px;
    height: 40px;
    background: url("/images/download-app-black.png") center no-repeat;
    background-size: contain;
    vertical-align: middle;
    text-align: center;
    animation: ring infinite ease-in-out 3000ms;
}


header.header .login-assist-option ul.step1>li.download-s-app {
    display: inline-block;
    width: 195px;
    text-align: left;
}

.homepage-wrap{
    width: 100%;
    position: relative;

    a {
        color: $lighter-color;
        text-decoration: underline;
    }

    .selling-button {
        width: 200px;
        text-align: center;
    }

    .overview-desc {
        text-align: justify;
    }

    .homeface-wrap {
        padding: 50px 0 50px 0;
        font-size: 18px;
        text-align: left;
        vertical-align: middle;

        >* {
            padding: 25px 10px;
        }

        .homedesc {
            color: $light-color;
            h1 {
                padding: 15px 0;
                line-height: 50px;
                font-size: 40px;
                font-weight: bolder;
                color: $heading-color;
            }
        }

        ul.homepoints {
            padding: 20px 0px;
            >li {
                padding: 5px 0px;
                color: $notdark-color;
                &:before {
                    content: '✓';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                    border-radius: 50%;
                    line-height: 25px;
                    color: #000;
                    background-color: #eee;
                    text-align: center;
                    vertical-align: middle;
                    overflow: hidden;
                }
            }
        }
    }
    .seller-news-sec {
        background-color: $sec-bodybg-color;
    }
    .seller-story-wrap {
        margin: 120px auto;

        h2 {
            margin: 12px 0 20px;
            font-size: $h3;
            font-weight: bold;
        }

        .seller-story-head {
            margin-bottom: 20px;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            color: #292929;

            .seller-story-subHead {
                font-size: $p1;
                font-weight: normal;
                color: $light-color;
            }
        }

        .selling-button {
            margin-top: 40px;
        }

        .storyLogo {
            width: 80px;
            height: 80px;
            line-height: 80px;
            background-size: 80px;
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: middle;

            &.genuinebuyers {
                background-image: url("/images/sellerHomePage/genuinebuyers.png");
            }
            &.listproperty {
                background-image: url("/images/sellerHomePage/easyproperty.png");
            }
            &.payearn {
                background-image: url("/images/sellerHomePage/payearn.png");
            }
            &.sales {
                background-image: url("/images/sellerHomePage/sales.png");
            }
        }

        .active, .selected {
            .storyLogo{
                &.genuinebuyers {
                    background-image: url("/images/sellerHomePage/genuinebuyers-selected.png");
                }
                &.listproperty {
                    background-image: url("/images/sellerHomePage/easyproperty-selected.png");
                }
                &.payearn {
                    background-image: url("/images/sellerHomePage/payearn-selected.png");
                }
                &.sales {
                    background-image: url("/images/sellerHomePage/sales-selected.png");
                }
            }
        }

        .tabs {
            >ul {
                border: 0;
                border-radius: 0;

                >li {
                    border: 0;
                    border-bottom: 1px solid $light-gray;
                    color: $light-color;
                    text-align: left;
                    vertical-align: bottom;
                    &:after {
                        content: '';
                        display: block;
                        height: 4px;
                    }

                    &.selected, &:hover {
                        border-color: $link-color;
                        background-color: transparent;
                        color: $dark-color;
                        &:after {
                            background-color: $link-color;
                        }
                        
                    }
                    .triangle {
                        margin: 20px 0 10px 0;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }

        #seller-content-container {
            margin: 55px 0 20px 0;
            font-size: $h4;
            ul {
                >li {
                    margin-left: 20px;
                    list-style-position: inside;
                    list-style-type: disc;
                }
            }
        }

        #seller-content-mobile {
            margin-bottom: 20px;
            font-size: $p1;
            >div {
                >div, section {
                    overflow: hidden;
                    &:first-child {
                        border: 1px solid #f1f1f1;
                        font-weight: 500;
                        &:before {
                            content: '';
                            width: 4px;
                            height: 60px;
                            float: left;
                        }
                        &:after {
                            content: '⌄';
                            display: block;
                            float: right;
                            margin-right: 5px;
                            font-size: 30px;
                            line-height: 60px;
                            color: $lighter-color;
                            vertical-align: middle;
                            transition: transform 0.2s linear;
                        }
                    }
                    &:last-child {
                        display: none;
                        border: 0 solid #f1f1f1;
                        border-width: 0 1px;
                        padding: 16px;
                        font-size: $p2;
                        background-color: $body-bg-color;
                        color: $light-color;
                    }
                    // heading section
                    >div {
                        display: inline-block;
                    }
                    // content section
                    h2 {
                        font-size: $p1;
                    }
                    ul {
                        >li {
                            list-style-position: inside;
                            list-style-type: disc;
                        }
                    }
                }
                &.active {
                    >div, section{
                        &:first-child {
                            &:before {
                                background-color: $link-color;
                            }
                            &:after {
                                transform: rotate(-180deg);
                            }
                        }
                        &:last-child {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .seller-features {
        margin-top: 180px;
        margin-bottom: 180px;
        font-size: 18px;
        line-height: 26px;
        color: $light-color;

        .seller-features-head {
            margin-bottom: 20px;
            font-size: $h2;
            font-weight: bold;
            line-height: normal;
            color: $heading-color;
        }
        .seller-features-heroshot {
            img {
                width: 100%;   
            }
        }
        .selling-button {
            margin-top: 40px;
            font-size: 18px;
        }
    }
    .video-sec-wrap{
        padding-top: 25px;
        .video-title{
            padding-top: 60px;
            max-width: 300px;
            display: inline-block;
            vertical-align: middle;
            h3{
                font-size: 40px;
                font-weight: normal;
                margin-bottom: 30px;
            }
            p{
                font-size: 16px;
                line-height:1.5;
            }
        }
        .video-wrap{
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            display: inline-block;
            //border: 1px solid #cdcdcd;
        }
        /*video{
            background: url("/images/sellerHomePage/videobackground.jpg") center no-repeat;
            background-size: cover;
        }*/
    }
    .count-wrap{
        margin: 110px 0 220px 0;
        position: relative;
        .makaancount{
            background: url("/images/sellerHomePage/logo-line.png") center no-repeat;
            background-size: contain;
            min-height: 550px;
            position: relative;
            .grow-business{
                position: absolute;
                top: -7px;
                left: 36%;
                max-width: 280px;
                text-align: left;
                padding-left: 10px;
                background-color: #ffffff;
                h3{
                    font-weight: normal;
                    line-height: 1;
                    margin-top: 0;
                    margin-bottom: 15px;
                    font-size: 40px;
                }
                p{
                    font-size: 15px;
                }
            }
            .count-box{
                position: absolute;
                background-color: #ffffff;
                .big-count{
                    font-size: 40px;
                    margin-bottom: 5px;
                    line-height: 1;
                }
                .small-name{
                    font-size: 15px;
                    line-height: 1;
                    color: #454545;
                }
            }
            .grow{
                top: 25%;
                left: 15%;
                .growing-sellers{
                    background: url("/images/sellerHomePage/seller-growing.png") center no-repeat;
                    background-size: contain;
                    width: 105px;
                    height: 105px;
                }
            }
            .list{
                top: 35%;
                right: 10%;
                .listing-icon{
                    background: url("/images/sellerHomePage/listing-done.png") center no-repeat;
                    background-size: contain;
                    width: 130px;
                    height: 75px;
                }
            }
            .top-city{
                bottom: 6%;
                left: 36%;
                .top-city-icon{
                    background: url("/images/sellerHomePage/top-cities.png") center no-repeat;
                    background-size: contain;
                    width: 130px;
                    height: 90px;
                }
            }
        }
    }
    .download-app-section{
        background-color: #e7e7e7;
        .download-wrap{
            margin: 0 auto;
            position: relative;
            top: -115px;
            width: 100%;
            max-width: 1024px;
            &:after{
                content:'';
                width: 585px;
                height: 497px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-60%);
                background: url("/images/sellerHomePage/logo-outline.png") top center no-repeat;
                background-size: cover;
            }
            .download-left{
                width: 300px;
                h3{
                    text-align: left;
                    font-size: 40px;
                    font-weight: normal;
                    line-height: 1;
                    margin-bottom: 25px;
                }
            }
            .download-center{
                width: 414px;
                height: 742px;
                background: url("/images/sellerHomePage/mobile.png") top center;
                background-size: cover;
                position: relative;
                left: 17%;
                z-index: 1;
                .app-demo-slide{
                    position: relative;
                    width: 308px;
                    height: 551px;
                    margin: 0 auto;
                    overflow: hidden;
                    left: 0;
                    top: 61px;
                    ul{
                        position: relative;
                        width: 308px;
                        height: 551px;
                        li{
                            position: absolute;
                            left: 0;
                            top: 0;
                            margin: 0;
                            padding: 0;
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }
            .download-right{
                position: absolute;
                right: 0;
                bottom: 135px;
                z-index: 2;
                width: 250px;
                li{
                    display: inline-block;
                    margin: 0 15px 15px 0;
                    display: none;
                }
                p{
                    font-size: 16px;
                    line-height: 1.2;
                }
                .download-btn{
                    width: 200px;
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    header.header {
        .login-assist-option {
            width: 50%;

            ul.step1 {
                > li.download-s-app {
                    display: none;
                }

                > li.loginlink {
                    width: 50%;
                    &.my-dashboard{
                        width: 72%;
                    }

                    .logininitial-wrap {
                        width: auto;
                        margin-left: 0;
                    }
                    .signin {
                        display: inline-block !important;
                        width: auto;
                        text-align: right;
                        margin-top: inherit;
                        padding-right: 2px;
                        padding-left: 4px;
                    }
                }
            }
        }
    }


    .body-content .homepage-wrap {

        .homeface-wrap {
            padding: 0 20px 0 20px;
            font-size: $p1;
            .heroshot{
                display: none;
            }
        }

        .seller-story-wrap {
            padding-left: 20px;
            padding-right: 20px;
            .seller-story-head {
                text-align: left;
            }
            .storyLogo {
                width: 38px;
                height: 60px;
                margin: 0 12px;
                line-height: 60px;
                background-size: 38px;

                +* {
                    line-height: 60px;
                    vertical-align: middle;
                }
            }
        }

        .seller-features {
            margin: 60px 0 80px;
            .seller-features-heroshot {
                margin: 20px 0;
            }
            .selling-button {
                margin: 20px;
            }
        }

        .video-sec-wrap{
            width: 100%;
            .video-title{
                padding-top: 0;
                h3{
                    font-size: 32px;
                    line-height: 1;
                    margin-bottom: 20px;
                }
            }
            .video-wrap{
                width: 100%;
            }
            video{
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
            }
        }

        .count-wrap{
            margin: 50px 0 60px 0;
            .count-box {
                .big-count{
                    margin-bottom: 40px;
                }
            }
            .makaancount{
                background: transparent;
                .grow-business{
                    position: relative;
                    top: 0;
                    left: auto;
                    max-width: 375px;
                    width: 100%;
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                    h3{
                        font-size: 25px;
                    }
                }
                .count-box{
                    position: relative;
                    top: auto;
                    bottom: auto;
                    left: auto;
                    right: auto;
                    margin-bottom: 15px;
                    padding-left: 28px;
                    .m-icon{
                        display: inline-block;
                        max-width: 120px;
                        max-height: 85px;
                        width: 25%;
                    }
                    .m-combine{
                        width: 70%;
                        display: inline-block;
                        vertical-align: 17px;
                        text-align: left;
                        padding-left: 35px;
                        .big-count{
                            font-size: 26px;
                        }
                    }
                }
            }
        }

        .download-app-section{
            .download-wrap{
                &:after{
                    content:'';
                    background: transparent;
                    width: auto;
                    height: auto;
                }
                .download-left{
                    position: relative;
                    left: auto;
                    top: auto;
                    margin: 0 auto;
                }
                .download-center{
                    margin: 0 auto;
                    width: 280px;
                    height: 620px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    left: auto;
                    position: relative;
                    .app-demo-slide{
                        position: relative;
                        top: 41px;
                        left: 0;
                        width: 209px;
                        height: 400px;
                        ul{
                            width: 100%;
                            height: 400px;
                            li{
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
                .download-right{
                    position: absolute;
                    right: auto;
                    bottom: -60px;
                    z-index: 2;
                    width: 100%;
                    max-width: 375px;
                    margin: 0 auto;
                    h3{
                        font-size: 28px;
                        margin-bottom: 15px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 1.2;
                        padding: 0 32px;
                    }
                    .download-btn{
                        display: inherit;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
