/*======================
Created On: 12 April 2018
Author: Jaswant Singh
=======================*/

@import "variables";
@import "components/news-sec";


.max960{ /*to set the outer width maximum 960px of any container*/
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

body{
	background: #fff;
}

/*header overwrites for this page only*/
header.header{
	.buy-rent,
	.search-col{
		display: none;
	}
}

.sell-on-makaan{ /*this super parent wrapper of this page*/

	.cbtn{
		min-width: 150px;
		text-align: center;
		font-size: 16px;
	}

	.top-sec{
		height: 460px;
		background: url(/images/sell-on-makaan/banner-bg.png) left bottom repeat-x;
		padding-top: 100px;

		.max960{
			display: flex;
		}

		.tag-line-sec{
			width: calc(100% - 520px);

			p{
				width: 390px;
				font-size: 32px;
				line-height: 40px;
				span{
					font-weight: bold;
				}
			}
		}

		.video-sec{
			width: 520px;
			height: 297px;
			background: linear-gradient(to right, #ef722c, #fd3754);
		}
	}

	.main-content-sec{
		text-align: center;
		margin-top: 110px;
		margin-bottom: 80px;

		h2{
			margin-bottom: 50px;
			font-size: 28px;
			font-size: 500;
		}

		ul{
			display: flex;
			align-items: start;

			li{
				padding: 0 40px;
				flex: 1;
				max-width: 345px;

				.img-wraper{
					height: 75px;
				}

				h3{
					font-weight: 500;
					margin-bottom: 15px;
					font-size: 20px;
					font-weight: 500;
				}

				p{
					font-size: 15px;
				}
			}
		}

		.cbtn{
			margin-top: 40px;
		}
	}

	.footer-sec{
		height: 45px;
		background: #444;
		overflow: hidden;
		line-height: 45px;
		.email-us{
			float: left;
			font-size: 12px;

			span{
				text-transform: uppercase;
				color: $lighter-color;
			}

			a{
				color: #fff;
				text-decoration: underline;
			}
		}

		.follow-us{
			float: right;
			text-align: right;

			a{
				filter: grayscale(100%);
				font-size: 16px;
				display: inline-block;
				padding-left: 5px;
			}
		}
	}

}

/*mobile screen only*/
@media screen and(max-width: 767px){
	.max960{
		padding: 0 15px;
	}

	.sell-on-makaan{

		.cbtn{
			width: calc(100% - 30px);
		}

		.top-sec{
			padding-top: 0;
			padding-bottom: 14px;
			height: auto;
			background: none;
			.max960{
				display: block;
				position: relative;
				padding-bottom: 60px;
			}

			.tag-line-sec{
				width: 100%;
				p{
					width: 100%;
					font-size: 24px;
					line-height: 28px;
				}
			}
			.video-sec{
				width: 100%;
				height: 200px;
			}
			.cbtn{
				position: absolute;
				bottom: 0;
			}
		}

		.main-content-sec{
			margin-top: 50px;
			margin-bottom: 40px;

			h2{
				margin-bottom: 30px;
				font-size: 20px;
			}

			ul{
				display: block;

				li{
					margin-bottom: 36px;
					padding: 0 30px;

					h3{
						font-size: 16px;
					}
					p{
						font-size: 14px;
					}
				}
			}
		}
	}
}
