@import "variables";
@import "mixins/ellipsis";


// animation on page
@keyframes slideFromTop {
    0% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(0);
    }
}

/** css for feedback-reviews-recommendations-page **/
.body-content {
    margin-top: 0 !important;
}
.error {
    color: red;
    padding: 0 10px;
}

.frr-page {
    background-color: #fff;
    color: #5c5c5c;
    line-height: 1.25;

    // loader at the page load
    .loader-wrap {
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);

        .loader {
            position: relative;
            top: 40%;
            text-align: center;
            color: #fff;
        }
    }

    // seller name gets bold and capitalized whenever shown
    .seller-name {
        text-transform: capitalize;
        font-weight: 500;
    }

    // header
    .page-hdr {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $link-color;
        padding: 8px 10px;
        z-index: 2;
    }
    .title-txt {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
    .whats-link {
        text-align: right;
        color: #fff;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }

    // multi-color line having brand colors
    .brandline {
        font-size: 0px;
        line-height: 0;
        
        .line {
            display: inline-block;
            width: 33%;
            height: 4px;
        }
        .one {
            background-color: #e81c28;
        }
        .two {
            background-color: #fba510;
        }
        .three {
            width: calc(100% - 66%);
            background-color: #e7248a;
        }
    }

    //sleller-dtls-wrap
    .sleller-dtls-wrap {
        position: relative;
        padding: 15px;

        .seller-dtls {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
        }
        .sibox-wrap {
            position: relative;
            width: 50px;
        }
        .seller-img-box {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #ccc;
        }
        .seller-info {
            width: calc(100% - 50px);
            padding: 0 0 0 10px;
        }
        .seller-name {
            @include putellipsis;
        }
        .othr-info {
            color: $lighter-color;
            font-size: 12px;
        }
    }

    // amazon gift coupon wrapper starts
    .agc-wrap {
        position: relative;
        min-height: 270px;
        padding: 55px 15px 15px;
        background: #f8f8f8;

        .confetti-shower {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 114px;
            background-image: url(/images/confetti-shower.png);
            background-repeat: repeat-x;
            transform: translateY(-160px);
            animation: 1s ease-in-out 2s 1 slideFromTop forwards; /* calls the slideFromTop animation defined above */
            z-index: 0;
        }

        .agc {
            position: relative;
            width: 190px;
            height: 120px;
            margin: 0 auto;
            background-image: url(/images/agc-1k.png);
            background-size: contain;
            background-repeat: no-repeat;

            &.rent {
                background-image: url(/images/agc-500.png);
            }
        }

        .salutation {
            width: 280px;
            margin: 0 auto;
            padding: 15px 0px 0;
            color: $lighter-color;
            font-size: 12px;
            text-align: center;

            p {
                margin: 5px 0;
            }
        }

        .offer-availed {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            text-align: center;

            .lbl-availed {
                display: inline-block;
                padding: 3px 6px 5px;
                background-color: #fff;
                border-radius: 20px;
                color: $lighter-color;
                font-size: 11px;

                .val {
                    color: $light-color;
                    font-size: 10px;
                }
            }
        }
    }

    // tnc text below coupon
    .tnc {
        display: block;
        text-align: right;
        padding: 15px 0 0 0;
        color: #acacac;
        font-size: 10px;
    }

    // login from facebook and google btns go here
    .login-btn-wrap {
        text-align: center;

        .hdng {
            padding: 30px 0;
            text-align: center;
            color: $dark-color;
            font-size: 24px;
            line-height: 1;
        }

        .btn-social {
            width: 260px;
            height: 48px;
            margin: 0 auto 30px;
            padding: 0 20px;
            border-radius: 25px;
            cursor: pointer;

            &.fb {
                background: #39579b;
            }

            i {
                vertical-align: middle;
                font-size: 32px;
                line-height: 48px;

                &.icon-facebook .path1:before {
                    color: #fff;
                }
            }

            .txt {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                color: #fff;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    // closed-deal-verification wrap 
    .closed-deal-verification {
        padding: 30px 0 10px;
        text-align: center;

        .name-wrap {
            padding-bottom: 10px;
            color: $light-color;
            font-size: 16px;
            line-height: 1.25;

            .username {
                font-weight: 500;
            }
        }

        .txt {
            padding: 0 15px;
            color: $light-color;
            font-size: 14px;
        }

        .ques-wrap {
            
        }

        .ques {
            padding: 25px 15px;
            color: $dark-color;
            font-size: 20px;
            line-height: 1.25;
        }

        .btn-wrap {
            text-align: center;
        }

        .rbtn {
            display: inline-block;
            $btnw: 50px;
            width: $btnw;
            height: $btnw;
            padding-top: 2px;
            border-radius: 50%;
            color: #fff;
            font-size: 24px;
            line-height: $btnw;
            text-align: center;

            &.yes {
                background-color: #21a657;
                margin-left: 40px;
            }

            &.no {
                background-color: #ec3c2b;
            }

            i:before {
                font-weight: bold;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    // upload photo component
    .upload-pic-wrap {
        padding: 30px 0 0 0;

        .lbl {
            background: #ececec;

            i {
                font-size: 14px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .txt {
                color: #666;
                font-weight: normal;
            }
        }

        .loaddder {
            margin-bottom: 30px;

            i {
                font-size: 24px;
                vertical-align: middle;
            }
        }

        .uploaded-img {
            width: 90px;
            height: 120px;
            display: inline-block;
            object-fit: cover;
            border: dashed 1px #ccc;
        }

        .btn-wrap {
            margin-top: 30px;
            text-align: center;

            .cbtn {
                margin-left: 30px;
            }
        }
    }

    // seller list wrapper screen
    .seller-list-wrap {
        .hdng {
            padding: 20px 15px;
            color: $dark-color;
            font-size: 18px;
            line-height: 1.25;
        }

        .sllrinput-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: solid 1px #ccc;

            .iconwrap {
                width: 30px;
                padding: 0 10px;
            }

            .icon-search {

            }

            .sllrinput {
                width: calc(100% - 30px);
                border: none;
            }
        }

        .seller-list {
            border-top: solid 1px #eee;

            > li {
                display: block;
            }

            label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                font-weight: normal;
                padding: 15px;
                border-bottom: solid 1px #eee;

                .seller-wrap {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: calc(100% - 26px);
                }

                .sllrimg {
                    width: 44px;
                    height: 44px;
                    margin-right: 10px;
                    border: solid 1px #ececec;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover; 
                    background-color: #f7f7f7;
                    text-align: center;

                    .initial {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 26px;
                    }

                }

                .seller-details {
                    width: calc(100% - 54px);
                }

                .seller-name {
                    @include putellipsis;
                    padding-bottom: 8px;
                    color: $dark-color;
                    font-size: 15px;
                    line-height: 1.25;
                    font-weight: 500;
                }

                .agent-name {
                    @include putellipsis;
                    color: $light-color;
                    font-size: 13px;
                    line-height: 1.25;
                }

                .radioinput {
                    display: none;   
                }

                .radiobtn-wrap {
                    width: 16px;
                    height: 16px;
                    padding: 2px;
                    border: solid 1px #ccc;
                    border-radius: 50%;
                    text-align: center;

                    .radiobtn {
                        display: block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #ccc;
                    }
                }

                .radioinput:checked ~ .radiobtn-wrap {
                    border-color: $link-color;

                    .radiobtn {
                        background-color: $link-color;
                    }
                }

                &.no-seller {
                    .sllrimg {
                        padding: 5px 0 0 0;
                        text-align: center;

                        .icon-question-round {
                            color: #bcbcbc;
                            font-size: 32px;

                        }
                    }

                    .seller-name {
                        color: $lighter-color;
                    }
                }
            }
        }
    }

    // Enter seller information if user doesn;t find seller in the list 
    .enter-seller-info-wrap {
        .hdng {
            padding: 40px 15px 30px;
            color: $dark-color;
            font-size: 18px;
            line-height: 1.25;
        }

        .inputlbl {
            padding-bottom: 10px;
        }

        .btn-wrap {
            padding-top: 30px;

            .cbtn {
                width: 120px;
                font-size: 18px;
            }
        }
    }

    // lot of css regarding form fields and options
    .txt-wrap {
        padding: 15px;
        border-bottom: solid 1px #eee;

        > div {
            padding: 10px 0 0;
        }
    }

    // styling for each question
    .question {
        padding: 15px 15px 0px;
        color: $dark-color;
        font-size: 18px;
        line-height: 1.25;

        .opt-txt {
            text-transform: uppercase; // overwrite for this specific case
        }
    }

    // to style any input text or textarea fields
    .inputstyle {
        width: 100%;
        padding: 8px 10px;
        background-color: #fff;
        border: solid 1px #ccc;
        border-radius: 5px;
    }

    // submit btn with certain defined width
    .btnsubmit {
        min-width: 200px;

        &.cbtn.disabled {
            background-color: #d8d8d8;
            color: #fff;
            font-size: 18px;
        }
    }

    .question-wrap {
        &.name-wrap {
            .question {
                color: $lighter-color;
                font-size: 14px;
            }

            .field-wrap {
                padding: 10px 15px 0;
            }
        }
    }

    // optional light color txt
    .opt-txt {
        padding: 10px 0;
        color: $lighter-color;
        font-size: 12px;
    }

    // recommend yes and no options css
    .img-options {
        padding: 20px 15px 30px;

        input {
            display: none;
        }

        .img-option {
            position: relative;
            display: inline-block;
            width: 64px;
            height: 64px;
            margin-right: 20px;
            padding: 1px;
            background: #fff;
            border: solid 1px #f6f6f6;
            border-radius: 50%;
            font-weight: normal;
            cursor: pointer;

            .image {
                display: block;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #f6f6f6;
                background-image: url(/images/option-yes.png);
                background-repeat: no-repeat;
                background-position: center;
            }

            &.no {
                .image {
                    background-image: url(/images/option-no.png);
                }    
            }
        }

        input:checked + .img-option {
            border-color: #21a657;

            .image {
                background-color: #21a657;
            }
            .lbl-txt {
                color: $dark-color;
            }
        }

        .lbl-txt {
            position: absolute;
            bottom: -25px;
            left: 0;
            width: 100%;
            text-align: center;
            color: $lighter-color;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    .field-wrap {
        padding: 20px 15px;

        textarea {
            width: 100%;
        }
    }

    // for MCQ multiple options radiobtns
    .option-wrap {
        padding: 15px 0;

        input {
            display: none;
        }

        .option {
            border-top: solid 1px #eee;

            label {
                position: relative;
                display: block;
                margin: 0;
                padding: 10px 15px;
                font-weight: normal;
                cursor: pointer;
            }

            &:last-child {
                border-bottom: solid 1px #eee;
            }
        }

        .radio-circle {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin-right: 20px;
            padding: 1px 0;
            text-align: center;
            background: #fff;
            border: solid 1px #eee;
            border-radius: 50%;

            .radio-disc {
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #fff;
            }
        }

        .lbl-txt {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 20px - 40px - 32px); // 20px radio-circle, 20px margin both sides and 32px smiley faces
            margin-right: 20px;
            color: $light-color;
            font-size: 15px;
        }

        .indicator-img {
            display: inline-block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            
            background-repeat: no-repeat;
            background-position: center;
            &.best{
                background-image: url(/images/indicator-vgood.png);    
            }
            &.good{
                background-image: url(/images/indicator-good.png);
            }
            &.average {
                background-image: url(/images/indicator-avg.png);
            }
            &.poor{
                background-image: url(/images/indicator-poor.png);
            }
        }

        input:checked + .option {
            .radio-circle {
                border-color: $link-color;
                .radio-disc {
                    background-color: $link-color;
                }
            }
        }
    }

    // for MCQ previous and steps option
    .control-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;

        .nxt-prev-wrap {
            .cbtn {
                margin-right: 10px;
                padding: 0;
                font-size: 16px;
                width: 36px;
                height: 36px;
                text-align: center;
            }
        }
    }

    // to show steps count
    .step-count-wrap {
        display: inline-block;
        font-size: 16px;

        > span {
            color: $dark-color;
            font-weight: 500;
        }
    }


    // review-form-wrap >>>>> OLD
    .review-form-wrap {
        // form-filed-wrap
        .form-field-wrap {
            padding: 15px;
            border-top: solid 1px #ececec;

            .lbll {
                display: block;
                padding-bottom: 5px;
                font-weight: normal;
            }
            
            .linkwrap {
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                label.txtbtn {
                    margin-left: 5px;
                    border-radius: 20px;
                    font-weight: normal;
                    transition: all 0.2s ease-in;
                }

                input[type=radio]:checked + label {
                    background-color: $link-color;
                    color: #fff;
                }
            }
        }
    }

    .helpful-link-wrap {
        padding: 15px 5px 20px;
        background-color: #ececec;

        .helpful-link {
            padding: 0 10px 8px;
            color: $lighter-color;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .helpful-link-box {
        background-color: #fff;
        padding: 15px 10px;
    }

    .helpful-box {
        background-color: #fff;
        padding: 15px 10px;

        .hdng {
            font-size: 16px;
        }

        .txt {
            padding: 10px 0;
        }

        ol {
            padding: 10px 10px 20px 20px;
            list-style-type: decimal;
        }
        .btn-wrap {
            padding: 10px 0;
        }
    }
}


// styles for sliding screens
.multi-screen-slide-wrapper {
    position: relative;
    width: 100%;
    //height: 720px;
    overflow: hidden;

    .screen-list {
        display: block;
        transition: all 0.3s ease-in-out;
        transform: translateX(0);

        &.screen-13 {
            width: calc(100% * 13);

            .screen {
                width: calc(100% / 13);
            }
        }
        &.screen-9 {
            width: calc(100% * 9);

            .screen {
                width: calc(100% / 9);
            }
        }
    }

    .screen {
        display: block;
        float: left;
        //width: calc(100% / 9);
        z-index: 1;
    }
}

// back button wrapper
.backkbtn-wrap {
    padding: 15px 0 0 0;
    text-align: center;

    .backkbtn {
        color: $link-color;
        font-size: 14px;
        line-height: 20px;

        i {
            display: inline-block;
            vertical-align: middle;
            color: $link-color;
            font-size: 18px;
            line-height: 20px;

            .path1 {
                &:before {
                    color: $link-color;
                }
            }
        }

        .txt {
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            text-decoration: none;
        }
    }
}


// thank you screen
.frr-thankyou-screen {

    .top-pane {
        position: relative;
        height: 100px;
        padding-top: 60px; // confetti height

        .confetti-shower {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-image: url(/images/confetti-shower.png);
            background-repeat: repeat-x;
            transform: translateY(-160px);
            animation: 1s ease-in-out 2s 1 slideFromTop forwards; /* calls the slideFromTop animation defined above */
            z-index: 0;
        }
    }

    .btm-pane {
        height: calc(100vh - 100px - 40px);
        padding: 70px 0 0;
        text-align: center;
        background-image: url(/images/feedback-thanks-bot-bg.jpg);
        background-position: bottom left;
        background-repeat: repeat-x;

        .thank-hdng {
            color: $dark-color;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.25;
        }
        .thank-txt {
            padding: 15px 10px;
            color: $light-color;
            font-size: 14px;
        }
        .btn-wrap {
            padding: 50px 0 10px;
            text-align: center;

            .cbtn {
                text-transform: none;
                font-size: 18px;
            }
        }
    }
}

// Noifo Page {if someone enters the wrong token}
.frr-page.noinfo {
    .frr-thankyou-screen {
        margin-top: 40px;
    }
}

@media (min-width: 769px) {
    .frr-page {
        max-width: 768px;
        margin: 0 auto;
        background-color: #fdfdfd;
        border: solid 1px #ececec;

        .agc-wrap {
            .agc {
                
            }
        }
    }
}

.seofooter-wrap {
    margin: 0 !important;
}

