@import "variables";
@import "mixins/ellipsis";
@import "components/buttons";
@import "components/expand";
@import "components/leadenquiry";
@import "components/leadform";

/* FLOATING BUTTON for mobile starts*/

.floating-button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    .btn-wrap {
        padding: 15px;
        .btnv2 {
            width: 100%;
            border: none;
            border-bottom: solid 5px #fba510;
            border-radius: 5px;
            font-size: 18px;
        }
    }
}


/* FLOATING BUTTON for mobile ends*/


/* minor fixes start*/

.country-code-contact {
    .input-box {
        input {
            padding: 6px 20px 3px 0;
        }
    }
}

.body-content {
    margin-top: 0px !important;
    background-color: #fff;
}

.fc-wrap.selectbox.open .select-dropdown {
    height: 150px !important;
}

.error-msg {
    font-size: 10px !important;
}


/* minor fixes end*/

.wide-screen-fixed-container {
    max-width: 1280px;
    margin: 0 auto;
}

.no-padding {
    padding: 0px;
    margin: 0px;
}

section h2 {
    text-align: center;
    font-size: 30px;
    margin: 50px 0px;
}

section.btnv2 {
    width: 200px;
    height: 40px;
}

.mobile-title {
    display: none;
}

.hide-me-button {
    display: inline-block;
    position: absolute;
    margin-left: -165px;
}


/* HEADER SECTION FOR SEM PAGE starts */


/*Deafault header hidden*/

.header {
    display: none;
}

.header-sem {
    height: 60px;
    background-color: #fff;
}

.header-logo {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 20px;
}

.call-lead {
    position: relative;
    right: 20px;
    top: 10px;
    float: right;
    .path4 {
        font-size: 35px;
    }
    .phone-number {
        margin-top: -30px
    }
}

.facebook {
    position: relative;
    right: 20px;
    top: 10px;
    float: right;
    .icon-facebook {
        font-size: 35px;
        margin-left: -35px;
    }
    .likes {
        margin-top: -30px;
        font-size: 18px;
    }
}

.mobile-header-btn-wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* HEADER SECTION FOR SEM PAGE ends */


/* HIDE FOOTER*/

.footer-warp {
    display: none !important;
}

.btn-wrap {
    padding: 20px;
    text-align: center;
    overflow: auto;
}


/*PROJECT TITLE starts*/

.project-title-container {
    font-family: $roboto;
}

.banner-wrap {
    position: relative;
    min-height: 475px;
    padding-bottom: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.banner-wrap:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


/* fix for mobile gallery starts */ //not required as of now

/* .mobile-header-btn-wrap {
    .lg-inner {
        left: 0% !important;
    }
    .lg-sub-html {
        left: 52% !important;
    }
    .lg-counter {
        left: 140% !important;
    }
} */


/* fix for mobile gallery ends */

.title-for-desktop {
    text-align: center;
    color: #fff;
    max-width: 1280px;
    margin: 0 auto;
}

.arrow {
    position: relative;
    float: right;
    right: 10px;
    height: 50px;
    width: 290px;
    background-image: url("/images/makaan-sprite.png");
    background-position: 0px -60px;
}

.project-heading {
    margin-top: 120px;
    text-align: left;
    margin-left: 0%;
    .project-logo {
        margin-left: 10px;
        width: 100px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        .project-logo-img {
            max-width: 100px;
        }
    }
    .project-name {
        font-size: 40px;
        font-weight: 700;
        display: inline-table;
        padding-left: 20px;
        h1 {
            font-family: $roboto;
            font-size: 45px;
            font-weight: bold;
            padding: 10px;
        }
        .project-location {
            font-size: 20px;
            margin-top: -10px;
            .project-location-icon {
                font-size: 25px;
                padding-right: 5px;
            }
            .project-location-text {
                display: inline-block;
                vertical-align: 25%;
            }
        }
    }
}


/*PROJECT TITLE ends*/


/* LEAD TEMPLATE starts*/

.leadform-wrap {
    &.sem-lead {
        margin: 0px auto;
        overflow: visible;
        max-width: 460px;
        text-align: center;
        .fc-wrap {
            // margin-bottom: 17px;
        }
        .lead-submit-form {
            width: 70%;
        }
        .input-email {
            display: block;
        }
    }
}

.lead-module {
    margin: 50px auto 0px;
    padding-right: 10px;
}

.sem-lead {
    .privacy-text {
        color: #737373;
        padding: 0px 30px 30px;
    }
    .imp-points-container {
        margin-top: 25px;
        color: #fff;
        text-align: center;
        .imp-points {
            list-style: none;
            padding-left: 10px;
            li {
                display: inline-block;
                vertical-align: top;
                margin: 0px 5px 10px 10px;
                .imp-points-text {
                    display: inherit;
                    max-width: 60px;
                    font-size: 13px;
                    line-height: 1.05;
                    font-style: normal;
                    color: #737373;
                    text-align: left;
                    vertical-align: top;
                }
                .imp-point {
                    background-image: url('/images/makaan-sprite.png');
                    background-repeat: no-repeat;
                    height: 27px;
                    width: 30px;
                    display: inline-block;
                }
                .imp-point.one {
                    background-position: -75px -32px;
                }
                .imp-point.two {
                    background-position: -135px -32px;
                }
                .imp-point.three {
                    background-position: -105px -32px;
                }
                .imp-point.four {
                    background-position: -42px -32px;
                }
            }
        }
    }
    .close-popup {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
    }
    .agent {
        .agent-logo {
            margin-top: -25px;
            background-color: #fff;
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            height: 54px;
            border: solid 2px #fff;
            width: 54px;
            .agent-logo-img {
                height: 50px;
            }
        }
        .agent-name {
            font-size: 18px;
        }
        .agent-rating {}
    }
    /* thankYou starts*/
    .thank-you {
        padding: 45px 0px;
        text-align: center;
        .green-tick-wrap {
            height: 65px;
            width: 65px;
            display: inline-block;
            background-color: #59d654;
            border-radius: 50%;
            .green-tick {
                margin-top: 15px;
                height: 30px;
                width: 18px;
                display: inline-block;
                border-right: solid 8px #fff;
                border-bottom: solid 8px #fff;
                transform: rotate(45deg);
            }
        }
        .thank-you-content {
            .heading {
                margin: 25px 0px 15px;
            }
            width: 200px;
            display: inline-block;
            .text {
                font-size: 15px;
                margin: 10px 0px 40px;
            }
        }
    }
}


/* thankYou ends*/
//for showing close icon on popup lead forms
.popupheight {
    .close-popup {
        display: block;
    }
}


/* LEAD TEMPLATE ends*/

.container-lower {
    margin: 0 auto;
    padding: 0px 80px;
    max-width: 1280px;
    background-color: #fff;
}


/* PROJECT DETAILS SECTION starts*/


/*PROJECT OFFER starts*/

.offer {
    text-align: left;
    max-width: 1000px;
    margin: 0px auto;
    padding: 15px;
    .offer-title-text {
        background-color: #e71c28;
        border-top-left-radius: 6px;
        font-size: 15px;
        border-top-right-radius: 6px;
        color: #fff;
        padding: 5px 20px;
        margin: 0px;
        display: inline-block;
    }
    .offer-content {
        border: dashed 1px #e71c28;
        border-radius: 5px;
        background-color: #fffced;
        .offer-heading {
            padding: 20px 20px 10px;
            text-align: left;
            font-size: 20px;
            margin: 0px;
        }
        .offer-text {
            padding: 0px 20px 20px;
            margin: 0px;
            font-size: 15px;
            line-height: 1.7em;
        }
    }
}


/*PROJECT OFFER ends*/


/* UNIT & SIZES TABLE starts */

.container-outer {
    position: relative;
    max-height: 300px;
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

table.unit-tbl {
    width: 100%;
    text-align: center;
    thead {
        tr {
            background-color: #ffdc9f;
            th {
                padding: 5px;
                font-size: 15px;
                font-weight: normal;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 10px 0px;
                //border: solid 1px #ccc;
                .text {
                    padding-bottom: 5px;
                }
                .subtext {
                    color: #8c8c8c;
                }
            }
            &:nth-child(2n+2) {
                background-color: #fffced;
            }
        }
    }
}


/* UNIT & SIZES TABLE end */


/* GALLERY custom starts*/

.hide-gallery {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99999;
    display: table;
    .btn-wrap {
        display: table-cell;
        vertical-align: middle;
    }
}

.carouselcol {
    position: relative;
    width: 100%;
    height: 300px;
    .carousel-parent {
        // height: 420px;    why?????
        height: auto;
        .gall-loader {
            position: absolute;
            width: 100%;
            padding-top: 170px;
            font-size: 32px;
            text-align: center;
            z-index: 1;
        }
        .image_gallery_container {
            width: 100%;
        }
    }
    //hack for gallery
    .propproj-carousel-wrap {
        position: relative;
        //width: 840px;
        height: 300px;
    }
    .carousel-wrapper {
        height: 400px;
        position: relative;
    }
    .carouselWrap {
        position: absolute;
        left: 45px;
        top: 60px;
        width: 100%;
        height: 100%;
    }
}

.dumy-seo-gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    .background-blured {
        -webkit-filter: blur(90px);
        -moz-filter: blur(90px);
        -o-filter: blur(90px);
        -ms-filter: blur(90px);
        filter: blur(90px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
    }
    .img-container {
        width: 90%;
        height: calc( 100% - 35px);
        position: absolute;
        z-index: 999;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 0;
            box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.5);
            transform: translate(-50%, -50%);
            z-index: -1;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                left: 110%;
                transform: translate(0, 0);
            }
            &:last-child {
                z-index: 999;
                opacity: 1;
            }
        }
    }
}

// minor fix for gallery
@media (min-width: 1025px) and (max-width: 1139) {
    .propproj-carousel-wrap {
        width: 100%;
        //height: 360px;
    }
}


/* GALLERY custom ends*/


/* PROJECT HIGHLIGHTS starts*/

.unit {
    text-transform: none;
}

.highlights {
    background-color: #444;
    color: #fff;
    font-size: 18px;
    .four-facts {
        text-align: center;
        margin: 0 30px;
        padding: 15px 0px;
        .point {
            // padding: 0px 25px;
        }
        .center-align {
            padding: 15px 0px;
            height: 70px;
        }
        .imgg {
            background-image: url('/images/makaan-sprite.png');
            background-repeat: no-repeat;
            height: 30px;
            width: 40px;
            display: inline-block;
            vertical-align: top;
        }
        .rupee {
            background-position: 0px -32px;
        }
        .bed {
            background-position: -37px 0px;
        }
        .area {
            background-position: 5px 0px;
        }
        .poss {
            background-position: -168px 0px;
        }
        .text {
            display: inline-block;
            // @include putellipsis;
            vertical-align: middle;
            max-width: calc(100% - 40px);
            .linktxt {
                font-size: 12px;
                margin: 0px;
            }
        }
    }
}

.scroll {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #fff;
    text-align: center;
}

.icon-down-round {
    border-radius: 50%;
    position: relative;
    top: -15px;
    color: #444;
    background-color: white;
    cursor: pointer;
    font-size: 41px;
}


/* PROJECT HIGHLIGHTS ends*/


/* AMENITIES SECTION starts custom css copied from propprojcommon*/

//amenities wrapper
.amenities-wrap {
    padding-bottom: 20px;
}

//list view for icons
.icons-list {
    padding-top: 25px;
    .listitem {
        display: inline-block;
        width: 25%;
        padding: 0 0 30px 0;
        text-align: center;
        &.disabled {
            opacity: 0.375;
        }
    }
    .icon-wrap {
        font-size: 28px;
        margin-bottom: 5px;
    }
}

.m-scroll-wrap {
    overflow-y: hidden;
    overflow-x: auto;
}

// more link css goes here..
.more-link {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    .get-more-txt {
        display: inline-block;
        width: 80px;
        text-align: right;
    }
    .get-less-txt {
        display: none;
        width: 76px;
        text-align: right;
    }
    i {
        display: inline-block;
        margin-left: 3px;
        vertical-align: middle;
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
    }
    &:hover {
        color: $link-color;
        text-decoration: none;
    }
    &.active {
        .get-more-txt {
            display: none;
        }
        .get-less-txt {
            display: inline-block;
        }
        i {
            transform: rotate(180deg);
            vertical-align: middle;
        }
    }
}

.score-wrap ~ .more-link {
    margin-right: 180px;
}


/* SALIENT FEATURES SECTION starts */

.salient-features-container {
    background-color: #f7f7f7;
    border-radius: 5px;
}

.salient-features-heading {
    padding: 20px;
    margin: 0px;
    font-size: 24px;
}

.salient-features-ul {
    text-align: left;
    padding: 0px 50px 30px;
    .salient-features-li {
        display: inline-block;
        width: 50%;
        position: relative;
        padding-left: 30px;
        color: #323232;
        margin-bottom: 18px;
        line-height: 1;
        vertical-align: top;
        .salient-features-text {
            text-align: center;
            font-size: 16px;
        }
    }
    .salient-features-li:before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fdbc4b;
        position: absolute;
        left: 0;
        top: 5px;
    }
}


/* SALIENT FEATURES SECTION ends */


/* AMENITIES SECTION ends */


/*SPECIFICATION SECTION starts */

.specification-ul {
    text-align: left;
    overflow: auto;
}

.spec-padding {
    padding: 0px 35px;
}


/* CSS reused for OUR PROMISE SECTION starts*/

.promise-li {
    text-align: center;
    height: 170px;
    .promise-icon {
        width: auto;
        color: #e71c28;
        .promise-text {
            display: inline-block;
            font-weight: normal;
            font-family: $roboto;
        }
    }
    p {
        margin: 0px 30px 20px;
        text-align: center;
    }
}


/* CSS reused for our promise section ends*/

.specification-li {
    border: solid 1px #eee;
    border-radius: 5px;
    margin: 15px 0px;
}

.specification-icon {
    display: inline-block;
    position: relative;
    left: 10px;
    top: -15px;
    width: 100px;
    background-color: #fff;
    text-align: center;
    .imgg {
        background-image: url('/images/makaan-sprite.png');
        background-repeat: no-repeat;
        height: 30px;
        width: 33px;
        display: inline-block;
        vertical-align: middle;
    }
    .Doors {
        background-position: -236px 3px;
    }
    .Fittings {
        background-position: -72px 1px;
    }
    .Flooring {
        background-position: -103px 1px;
    }
    .Walls {
        background-position: -138px 2px;
    }
    .Windows {
        background-position: -205px 3px;
    }
    .check {
        background-position: -158px -33px;
    }
    .text {
        display: inline-block;
        font-weight: bold;
    }
}

.specification-item-ul {
    padding: 15px;
}

.specification-item-li {
    padding: 0px 0px 5px;
}

.specification-item-li-label {
    color: #a3a3a3;
    width: 150px;
    float: left;
}

.specification-item-li-text {
    overflow: auto;
}


/*SPECIFICATION SECTION ends */


/*COMMENT SECTION starts */

.comment {
    position: relative;
    margin: 0 auto;
    .double-quotes {
        content: "";
        margin-bottom: -35px;
        margin-left: 30px;
        height: 70px;
        width: 100px;
        background: url("/images/makaan-sprite.png");
        background-position: -265px 0;
    }
}

.comment-container {
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 700px;
    overflow-y: hidden;
    overflow-x: hidden;
    .comment-list {
        width: 400%; // dynamic claculate from js - logic : 100% * number of slide[li] >> should be in px
        overflow: auto;
        transition: .6s;
        > li.slide {
            float: left;
            width: 25%; // 100% / number of li
            padding: 0px 10px;
            font-size: 15px;
            text-align: center;
        }
    }
    .comment-body {
        position: relative;
        margin-bottom: 15px;
        padding: 30px 40px;
        background-color: #fff;
        border: solid 1px #eee;
        border-radius: 5px;
        &:after {
            content: "";
            position: absolute;
            bottom: -8px;
            right: 40px;
            width: 15px;
            height: 15px;
            background-color: #fff;
            border-bottom: solid 1px #eee;
            border-right: solid 1px #eee;
            transform: rotate(45deg);
        }
    }
    .comment-poster {
        .comment-user-img {
            margin-right: 10px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
        color: #e71c28;
        text-align: right;
    }
}

.indicator-wrap {
    text-align: center;
}

.indicator {
    cursor: pointer;
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    border: solid 1px #9b9b9b;
}

.active-indicator {
    background-color: #e4101d;
}


/* COMMENT SECTION ends */


/* COPYRIGHT SECTION starts*/

.copyright {
    padding: 10px 0;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background: #f0f0f0;
    display: block;
    width: 100%;
    z-index: 1;
}


/* COPYRIGHT SECTION ends*/

@media screen and (max-width: 1024px) {
    /* custom CSS rules for modifying AMENITIES starts*/
    .exco {
        .visible-area {
            display: inline;
        }
        .expandable-area {
            display: inline;
            max-height: 700px !important;
        }
    }
    .icons-list {
        width: 100%;
        .listitem {
            width: 135px;
        }
    }
    /* custom CSS rules for modifying AMENITIES ends*/
}

@media screen and (max-width: 991px) {
    /* custom CSS rules for adjusting view of SPECIFICATION & PROMISE SECTION for better view starts */
    .promise-li {
        height: auto;
    }
    .spec-padding {
        padding: 15px;
    }
    /* custom CSS rules for adjusting view of SPECIFICATION & PROMISE SECTION for better view ends */
}

@media screen and (min-width: 768px) {
    [data-role="popup"] {
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .lg-outer {
        .lg-group-outer {
            .ulwrap {
                overflow-x: auto;
            }
        }
    }
    .copyright {
        padding-bottom: 80px;
    }
    .comment-container {
        //fix for smaller screens for better viewing of comments
        .comment-body {
            padding: 10px 20px;
        }
    }
    .hide-gallery-on-mobile {
        display: none;
    }
    .lw {
        background-color: #fff;
    }
    .banner-wrap {
        min-height: 260px;
    }
    .project-title-container {
        display: none;
    }
    .mobile-title {
        display: block;
        text-align: center;
        div {
            font-weight: bold;
            font-size: 20px;
        }
    }
    .container-outer {
        max-height: inherit;
    }
    section h2 {
        font-size: 26px;
        margin: 25px 0px;
    }
    /* custom CSS rules for adjusting view of HIGHLIGHTS for better view starts */
    .highlights {
        background-color: #fff;
        color: #444444;
        margin-top: 0px;
        .center-align {
            border-bottom: solid 1px #eee;
        }
        .four-facts {
            padding: 0px;
            margin: 0px;
            .center-align {
                height: auto; //setting height auto as it was fixed for desktop
            }
            .text {
                max-width: calc(100% - 80px);
            }
        }
    }
    /* custom CSS rules for adjusting view of HIGHLIGHTS for better view ends */
    .icon-down-round {
        color: #fff;
        background-color: #eee;
    }
    .agent {
        .agent-logo {
            margin-top: 50px;
        }
    }
    .container-lower {
        padding: 0px 40px;
    }
    .m-scroll-wrap {
        text-align: center;
    }
    .salient-features-ul {
        .salient-features-li {
            width: auto;
            display: block;
        }
    }
}

@media screen and (max-width: 450px) {
    .imp-points {
        //fix for small screens so imp points come 2 at a line
        li {
            min-width: 130px;
        }
    }
    .header-logo {
        left: 10px;
        img {
            width: 100px;
        }
    }
    .banner-wrap {
        min-height: 150px;
    }
    .container-lower {
        padding: 0px 10px;
    }
    .salient-features-ul {
        padding: 0px 20px 30px;
    }
    .specification {
        .specification-ul {
            .spec-padding {
                padding: 0px 0px;
            }
        }
    }
}
