@import "variables";
@import "mixins/ellipsis";
@import "components/propcard-desktop";
@import "components/serp-bbcard-desktop";
@import "components/serp-agent-desktop";
@import "serp-common";
@import "components/top-sellers";
@import "components/pp-banner";
@import "components/seoFooterExtra";
@import "components/makaan-select-banner";
@import "components/makaan-select-promotion";
@import "components/_pharse-detection-card";
@import "components/_mapmodule";
@import "components/_tabs";

.taxonomy-wrap.tax-pad {
	margin: 0 65px;

	.tax-card {
		margin: 20px 0 40px;
	}
}

.slider-wrap{
    width: 100%;

    .slider-window{
        overflow: hidden;
        white-space: nowrap;
    }
}
.sidebar{
    .search-result-wrap{
        padding-top: 0;
        
        .profile-container-moblie {
            width: 100%;

            .btn-wrap{
                position: inherit;
                left: inherit;
                bottom: inherit;
                width: 100%;
                z-index: 1;

                .cbtn{
                    width: 80%;
                }
            }

        }
    }
}

/*** content overwrite for background color ***/
#content.body-content:after {
    position: absolute;
    left: 0;
    right: $sidebarwidth;
    top: 0;
    bottom: 0;
    display: block;
    content: '';
    z-index: -1;
    background-color: #fff; //#f1f1f1
    border-right: solid 1px #e0e0e0;
}
