@import "variables";
@import "mixins/ellipsis";
@import "fontIcons";

@import "components/pagination";
@import "components/notifications";
@import "components/rating";
@import "components/popup";


@import "components/lead-call-status";
@import "components/feedback-v2"; 
@import "components/exit-intent";
@import "components/hl-desk-popup";
@import "components/blog-serp-card";

@import "components/favorite";
@import "components/thank-you";
@import "components/range-slider";
@import "components/otp";
@import "components/seller-mini-profile";
@import "components/sponsored-ad";
@import "components/seller-details";
@import "components/lead-profiling-widget";
@import "components/sp-mobile";

@import "components/menudrawer";
@import "components/tooltip";
@import "components/tables";
@import "components/form-elements";
@import "components/makaan-select-know-more-popup";
@import "components/makaan-select-coupon";
@import "components/page-loader";
@import "components/makaan-select-prelead";
@import "components/makaan-select-banner";
@import "components/lead-deficit-seller";

@import "components/_privilege-seller-slider";
@import "components/pp-banner";

/* TODO: commenting as it will go live later on */

// @import "components/suggested-locality";

/*page overwrites - recommended loalities for search */
// .suggested-locality-wrap.serp {
// 	width: calc(100% - 130px);
// 	padding: 15px;
// 	margin: 20px 65px 40px;
// 	border: 1px solid #f3f3f3;
// }

/*mobile view*/
// @media screen and(max-width: 767px){
// 	.suggested-locality-wrap.serp {
// 		width: calc(100% - 30px);
// 		margin: 20px 15px;
// 	}
// }

