@import "variables";
@import "mixins/ellipsis";
@import "components/propcard-desktop";
@import "components/propcard-mobile";
@import "components/serp-bbcard-desktop";
@import "components/serp-bbcard-mobile";

@import "components/sidebar-serp";
@import "components/filters-desktop";
@import "components/filters-mobile";
@import "components/pagination";

@import "components/mapmodule";

@import "components/topseller-pyr";


.clear {
    clear: both;
}

// class to stop scroll when the filters are opened on mobile
body.filters-open {
    .body-container {
        position: relative;
        overflow-y: hidden;
        z-index: 99999;
    }
}

// class to stop scroll for serp maps desktop
body.dmap-stopscroll {
    overflow: hidden;
    .body-container {
        position: relative;
        overflow-y: hidden;
    }
}

//search page layout >>>> for listings
.searchlistpage {
    background-color: #f1f1f1;

    $sidebarwidth: 340px;

    .list-mainarea {
        float: left;
        width: calc(100% - #{$sidebarwidth});
    }

    .list-sidebar {
        position: relative;
        float: right;
        width: $sidebarwidth;
        padding: 20px 0 0 40px;
    }
}

//search page layout >>>> for maps
.d-map-min-ht {
    min-height: 620px;
}
.searchpage {
    position: absolute;
    top: $hdrheight + $filterbarheight;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f1f1f1;

    .sidebar {
        position: fixed;
        top: $hdrheight + $filterbarheight;
        right: 0;
        bottom: 0;
        width: 30%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background: #f1f1f1;
        border-right: solid 1px #ccc;
        box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.25);
        transition: width 0.5s ease-in-out;

        .cardholder {
            .imgWrap {
                cursor: pointer;
            }
        }
    }

    .map-area-wrap {
        position: fixed;
        top: $hdrheight + $filterbarheight;
        left: 0;
        right: auto;
        bottom: 0;
        display: block;
        width: 70%;
    }
}

//Search results wrapper
.search-result-wrap {
    position: relative;
    padding-top: 10px;
    z-index: 0;

    .l-col {
        display: block;
        float: left;
        width: calc(100% - 170px);
    }

    .r-col {
        display: block;
        float: right;
        width: 170px;
        padding: 0 10px 10px;
    }

    .no-results {
        padding: 10px;
    }

    .prev-nxt-wrap {
        display: none;
    }
}

// The h1 tags and link to locality/city SET ALERT CSS
.f-count-wrap {
    margin-bottom: 10px;
    padding: 10px 10px 0px;
    font-size: 17px;
    line-height: 1.25;

    h1 {
        display: inline;
        font-size: 17px;
        //margin-left: 5px;
    }
}

.link-to-wrap {
    margin-top: -10px;
    padding-left: 10px;

    a {
        &:hover, &:active, &:focus{
            text-decoration: none;
            color: inherit;
        }
    }
}

.f-count-wrap + .link-to-wrap {
    margin-bottom: 10px;
}

.link-region {
    font-size: 16px;
    color: $light-color;
    border-bottom: dashed 1px $link-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $light-color;
        text-decoration: none;
    }
}

// nearby locality checkbox
.nearby-loc-check-wrap {
    float: right;
    margin-top: 5px;
}

// set alert button area
.set-alert-wrap {
    width: 90px;
    float: right;
    padding: 5px 18px 5px 18px;
    border: solid 1px $link-color;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 25px;
    color: $link-color;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    i {
        padding-right: 5px;
    }

    &:hover {
        border-left-width: 4px;
        padding-left: 15px;
    }
}

@media (min-width: 769px) {

    .minheight {
        min-height: 800px;  // so that filter and cards don't overlap

        &.noresults {
            padding: 50px 0 0 0;
            text-align: center;

            .no-results ~ .top-seller-pyr-module {
                margin-top: 50px;
            }
        }
    }

    .show-popup {
        box-shadow: none;
    }

    .leadform-wrap {
        width: 360px;
        height: 600px;
        margin: 0 auto;

        .seller-image {
            margin-top: 60px;
        }
    }
}

// special case for width of propcard mobile when
@media (min-width: 769px) and (max-width: 1139px) {
    .searchpage {
        .search-result-wrap {
            width: 100% !important;
        }
    }
}


@media (max-width: 1139px) {
    #content.body-content {
        margin: 0;
        padding: 65px 0 0 0;
    }

    body.filters-open {

        .body-content {
            z-index: 10000;
        }

        .proptiger-chat-wrapper {
            display: none;
        }

        header {
            display: none;
        }
    }

    .searchlistpage {
        .list-mainarea {
            float: none;
            width: 100%;
        }

        .list-sidebar {
            display: none;
        }
    }
    .searchpage {
        .sidebar {
            width: 45%;
        }
        .map-area-wrap {
            width: 55%;
        }

        // for svglegends
        #svgLegends {
            .svg-legend {
                right: 46%;

                &.svg-legend-moved {
                    top: 200px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #content.body-content {
        padding: 45px 0 0 0;
    }

    .searchlistpage {

        .minheight {
            min-height: 608px;  // so that filter and cards don't overlap
        }
    }

    .search-result-wrap {
        .l-col {
            width: calc(100% - 110px);
        }

        .r-col {
            width: 110px;
        }
    }

    .nearby-loc-check-wrap {
        margin-top: 10px;

        label {
            line-height: 1;
            .txt {
                font-size: 13px;
                line-height: 1;
            }
        }
    }

    .no-results {
        width: 280px;
        margin: 15px 0 15px 15px;
        background: rgba(255,255,255,0.75);
        border-radius: 15px;
    }

    .leadform-wrap {
        .seller-image{
            margin-top: 60px;
        }
    }

    .searchpage {

        .map-area-wrap {
            top: 110px;
            width: 100%;

            .map-zoom-control {
                bottom: inherit;
                top: 10px;
            }
        }

        .map-btn-wrapper {
            display: none;
        }

        .sidebar {
            position: fixed;
            top: auto;
            bottom: 25px;
            left: 0;
            right: 0;
            width: 100%;
            height: 160px;
            overflow-y: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            background-color: transparent;
            border-right: none;
            box-shadow: none;
            transform: translateY(180px);
            transition: transform 0.3s ease-in-out;

            &.moveup {
                transform: translateY(0px);
            }
        }

        .search-result-wrap {
            width: 2000px;
            background-color: transparent;

            .srow {
                display: none;
            }

            .prev-nxt-wrap {
                position: relative;
                display: block;
                float: left;
                width: 120px;    // add this width in listingwrapper > index.js in _updateMapListingWidth

                .pbtn, .nbtn {
                    position: absolute;
                    top: 45px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #333;
                    text-align: center;
                    font-size: 12px;
                    line-height: 40px;
                    color: #fff;
                    cursor: pointer;

                    &.disabled {
                        background-color: #7c7c7c;
                        pointer-events: none;
                    }
                }

                .pbtn {
                    left: 10px;
                }

                .nbtn {
                    right: 10px;
                }
            }
        }

        /////////////////////////////////////////////////////////////////
        ////// A GREAT EFFORT TO ADJUST THE MOBILE MAP PROPCARD /////////
        // propcard for mobile overwrites here - so that it doesn't effect the normal mobile listing page
        .cardholder {
            display: block;
            float: left;
            width: 280px;
            margin-bottom: 20px;

            .cardMobile {
                margin: 0 0 0 10px;

                .imgWrap {
                    width: 100px;
                    height: 85px;
                }

                .propInfo {
                    height: 85px;
                    width: calc(100% - 100px);
                    padding: 11px 5px 0;

                    .price {
                        font-size: 17px;

                        i.icon-rupee {
                            font-size: 0.78em;
                        }
                    }

                    .rate {
                        font-size: 12px;
                    }

                    .favarea {
                        margin-right: 10px;
                    }

                    .favbtn {
                        display: block;
                        margin-top: -2px;
                        line-height: 1;
                    }

                    .typewrap {
                        padding-top: 5px;

                        h2.type {
                            font-size: 15px;
                        }
                        .typelink {
                            font-size: 13px;
                        }
                    }

                    .size-dist-row .size {
                        font-size: 12px;
                    }
                }

                .locWrap {
                    border-bottom: none;
                    font-size: 12px;
                }

                .highlight-points {
                    display: none;
                }

                .sellerwrap {
                    display: none;
                }

                .callwrap {
                    display: none;
                }
            }
        }
    }

    .f-count-wrap {
        font-size: 15px;

        h1 {
            font-size: 15px;
        }
    }

    .link-region {
        font-size: 14px;
    }
}


// image loader css
.img-ldr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: rgba(255,255,255,.75);
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    animation: reverse-spin 700ms linear infinite;
    z-index: 10; // z-index is lower than that of immediate image or its holder
    display: none;

    i {
        vertical-align: middle;

        [class*="path"] {
            color: #fff;
        }
    }
}


// The common listing carousel basic code
.gallerywrap {
    position: relative;
    height: 100%;
    border-top-left-radius: 25px;
    overflow: hidden;
    z-index: 2; // z-index is greater than that of image loader which is its sibling

    .carouselbtns {
        position: absolute;
        width: 100%;
        bottom: 40%;
        left: 0;
        color: #fff;
        font-size: 28px;
        text-shadow: 0px 2px 2px #666;
        z-index: 3;

        .btn-prev, .btn-next {
            cursor: pointer;

            &.disable {
                opacity: 0.25;
                cursor: not-allowed;
                text-shadow: 0px 1px 1px #666;
            }
        }

        .btn-prev {
            float: left;
            margin-left: 5px;
        }

        .btn-next {
            float: right;
            margin-right: 5px;
        }
    }

    .gallimgcntnr {
        position: relative;
        height: 100%;
        transition: all 500ms ease-in-out;
    }

    .img-slide {
        float: left;
        width: 292px;
        height: 100%;
        background: #ccc;
    }

    &.slide-active {
        .img-ldr {
            display: block;
        }
    }
}
