@import "variables";

.unsubcribe-wrapper{
    position: relative;
    min-height: 600px;
    background-color: #ffffff;
    .lower-bg{
        background: url("/images/unsubscribe/bg.png") 0 0 no-repeat;
        background-size: cover;
        width: 100%;
        height: 180px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .upper-bg{
        background: url("/images/unsubscribe/sky.png") 80% no-repeat;
        background-size: contain;
        width: 100%;
        height: 100px;
        margin-top: 40px;
    }
    .tree{
        background: url("/images/unsubscribe/tree-bird.png") 0 0 no-repeat;
        background-size: contain;
        width: 100%;
        max-width: 633px;
        height: 576px;
        position: absolute;
        bottom: 0;
        left: 0; 
        z-index: 99;  
    }
    .unsubscribe-content{
        position: absolute;
        top: 30%;
        right: 10%;
        z-index: 999;
        max-width: 375px;
        .heading{
            font-size: 24px;
            color: #565656;
            margin-bottom: 30px;
        }
        .inner-content{
            line-height: 1.2;
            margin-bottom: 60px;
            font-size: 18px;
            color: #666666;
        }
    }
}

@media (max-width: 767px){
   .unsubcribe-wrapper{
        min-height: 500px;
        .tree{
            height: 291px;
        }
        .unsubscribe-content{
            top: 2%;
            left: 11%;
            right: auto;
            padding: 0 10px;
            .heading{
                font-size: 18px;
                margin-bottom: 15px;
            }
            .inner-content{
                margin-bottom: 30px;
                font-size: 16px;
            }
        }
   }
}


