
<p>This is a contract / agreement between you ("broker or agent") and Makaan.com Pvt. Ltd., having its registered office at 9th floor, unit 4, b wing, times square, andheri kurla road, mumbai - 400059 (hereinafter referred as "company" /Makaan.com/ "we" in this agreement).</p>

<p>This Contract is effective from the date when you register on Makaan.com until terminated expressly by
either party giving a written notice.</p>

<p>Makaan.com provides marketing and lead generation services and other connected services without any specific warranty of any specific result / outcome.</p>

<p>Makaan.com may modify this Agreement from time to time at its own discretion. The modification in any Contract term shall be communicated to you through a mail to the email address provided &amp; updated by you from time to time. The modification shall be effective from the time it is communicated on your registered email address. It is your responsibility to check the provisions of this Contract regularly. Your use of Makaan.com site implies your acceptance of any change in this Contract as effected from time to time by Makaan.com.</p>

<p>THIS CONTRACT LIMITS OUR LIABILITY AND ALSO LIMITS YOUR REMEDIES. Please read and understand the terms in the agreement carefully.</p>

<h4>Eligibility</h4>

<p>You can become a registered broker on Makaan.com by successfully registering on the website www.makaan.com. For using this site you must be eligible to enter into, execute and abide the terms of this contract as per the applicable laws of India. Your registration on Makaan.com will mean that that you will abide by all of the terms of this Agreement.</p>

<p>You will inform Makaan.com of your subsequent disability to enter into any contract. In the event of such subsequent disability, Makaan.com will be entitled to restrict/change/terminate this agreement at its own discretion with or without any notice to you. Access rights to the Makaan.com services may also
be withdrawn.</p>

<h4>Free Consent</h4>

<p>You agree with a sound mind, without undue force, pressure or coercion on you - that your registration
as a Broker on Makaan.com is your complete unqualified acceptance, relating to various terms detailed
in this Agreement. You further undertake that in case of any dispute relating to this Contract the
exclusive jurisdiction to file law suits against you shall be in the courts at GURGAON only.</p>

<h4>Listings / Broker Data</h4>

<p>You agree to deliver to Makaan.com, via an interface determined by Makaan.com and in a format and language specified by Makaan.com, all data and photographs within your database (the "Listings"). You further confirm that you have full authority to publish the Listings on Makaan.com.</p> 

<h4>License</h4>

<p>You hereby grant the Company and its affiliates a worldwide, royalty free, non-exclusive, irrevocable license to use, display and archive your Listings on any and all websites owned or operated or controlled - in whole or in part - by Makaan.com or its subsidiaries (collectively known as "Platform") including without Makaan.com.</p>
       
<h4>Makaan.com Services</h4>
 
<p>Upon registration as a Broker on Makaan.com you will get free listing services which shall include the following:</p>
<ul>
    <li>You will be entitled to post unlimited number of property listings on the website for sale and rental;</li>
    <li>Makaan.com may connect you to the customers who are interested in any of the property listings posted by you on the Platform;</li>
    <li>Makaan.com gives lot of attention to the quality of Broker conduct on its Platform. Therefore, Makaan.com may record and review the conversation between buyers and Brokers. This information may be used for internal quality and training purposes.</li>
    <li>Makaan.com may ask for feedback and rate your services and listings based on the internal scoring mechanism and feedback from the customers;</li> 
    <li>The quality scores of the services and listings may be used on the Platform for providing relevant information to the customers; and</li>
    <li>Makaan.com may provide you additional tools and CRM for better service experience of the
customers.</li>
</ul>

<h4>Service Charges</h4>

<p>Makaan.com shall charge you service charges as per Annexure "Service Charges" for rendering the above mentioned services (hereinafter referred to as "Service Charges"). Service Charges shall be charged only on the successful completion of the transaction with the customers referred to the Broker through Makaan.com. Service Charges shall be subject to change from time to time as per the discretion of Makaan.com</p>

<p>One time Registration on Makaan.com Platform will be without any service charges, regardless of any number of properties uploaded. Makaan.com does not restrict the Member from uploading properties as long as properties conform to the quality standards as prescribed by the Makaan.com.</p>

<p>Upon successful completion of the transaction, the Broker will inform Makaan.com within 7 days of the closure of the transaction. In case Makaan.com come to know about successful closure of any such transaction along with documentary evidence, Makaan.com will notify the Broker and Broker is obliged to respond to such notification within 7 days from the date of receipt.</p>

<p>In case of a dispute on the claim, the Broker may refer it to "Query Resolution Mechanism" setup specifically for handling Seller queries. The transaction shall be assumed confirmed if there is no communication received from the Broker either to accept or decline the transaction within 30 days of sending the initial notification by Makaan.com.</p>

<p>Makaan.com will submit an Invoice of Service Charges for every confirmed transaction which shall be honored and settled by the Broker within 30 days from the date of Invoice. Delayed payments shall be liable for penal interest at 18% per annum.</p>

<p>The <strong>Fixed Service Charges</strong> can be paid by the Member through Credit Cards/Debit Cards/ Net Banking/ Cash Cards, Mobile Payments or any other payment mode integrated on the Platform. All payments will be subject to applicable taxes and duties as may be levied by the relevant authorities.</p>

<p>Makaan.com reserves the right to change the Fixed Transaction Fees charged to the agent at its sole discretion. In the event of such a change, the same will be informed to the Brokers 30 days in advance.</p>
   
<h4>Obligations</h4>

<p>On completion of the registration process and by accepting the terms of this Agreement, Broker hereby undertakes:</p>
<ul>
    <li>That all the information provided by the Broker during the registration process is true and correct.</li>
    <li>To pay Service Charges to Makaan.com upon completion of the transaction with customers referred by Makaan.com.</li>
    <li>That listings content provided by the Broker does not violate / infringe the intellectual property rights of any other party.</li>
    <li>To provide listings of properties which are available for sale or rental? Broker hereby further undertake to promptly remove the listings contents / disable the listings of the property which are no more available for sale or rental.</li>
    <li>To proactively inform Makaan.com within 7 days upon successful completion of the transaction with a customer referred by Makaan.com.</li>
    <li>To proactively respond, confirm or acknowledge the feedback initiated by the customers except where some clarification is required from Broker's end, not later than 7 days. No response from the Broker shall be considered as deemed acceptance or acknowledgement by the Broker.</li>
    <li>Not to share the login details on the Platform with anyone else and shall be liable for all the activities on the Platform through its login.</li>
    <li>Makaan.com does not approve content that is abusive in nature or content that discriminates on the basis of religion, sex, caste, geography or any other factor that may be deemed to be discriminatory. Therefore, Broker hereby undertake to ensure that content uploaded on the Platform shall abide by these guidelines.</li>
    <li>To ensure that all fields filled at the time of creating listings are filled with utmost care. Particular listings or your entire set of listings may be removed if we find intent to provide wrong information which includes but not limited to: providing wrong locality, project, city tagging, listing duplicate properties, property not available for sale/rent, or not authorized to sell /rent the property.</li>
    <li>To abide by the listing guidelines and conduct guidelines updated by Makaan.com from time to
time.</li>
</ul>

<h4>Seller Score</h4>

<p>Makaan.com may decide to assign a score called Seller Score to Broker based on quality of listings and their conduct/interaction with customers. You also agree to grant a license to Makaan.com to display the seller score to users on any of its platforms.</p>

<h4>Acknowledgement</h4>

<p>On completion of the registration process and by accepting the terms of this Agreement, Broker hereby acknowledges:</p>
<ul>
    <li>Makaan.com ensures that only good quality content is uploaded on the Platform for the users. For this purpose Makaan.com may decide to review the content of every listings provided by the Broker before they are made live on the Platform.</li>
    <li>Makaan.com shall have the right to score the listings content provided by the Broker and the listings may be shown to the customers based on the search criteria and listing score;</li>
    <li>Makaan.com gives lot of attention to quality of information submitted by the Broker and
reserves the right to remove content that does not meet quality parameters;</li>
    <li>Users of Makaan.com shall be encourage to rate the services of the brokers. Makaan.com shall
have the right to display the reviews and ratings provided by the users at its own discretion;</li>
    <li>That any listing content provided by the Broker shall be removed from the Platform after 90 days (or after a period as Makaan.com may deem necessary) to ensure only active listings are
shown to the users of Makaan.com;</li>
    <li>Makaan.com does not give any kind of assurance / guarantee on the volume of leads and the
quantum of business to be generated by the Broker.</li>
</ul>  

<h4>Suspension of Service</h4>
 
<p>If any amount payable by the Broker to Makaan.com is not paid on or before the due date, Makaan.com may without prejudice to any other rights or remedies that may be available to it suspend the Service /Services provided to the Broker.</p>

<p>When the Service(s) subscribed for is suspended, it shall be deemed to be terminated. The date shall be such as stipulated by Makaan.com.</p>

<p>Upon subsequent payment by the Broker of such monies as is due to be payable to Makaan.com, Makaan.com may at its discretion and subject to such terms as it deems proper, restore the Service(s).</p>

<p>
Makaan.com also reserves the right to suspend the service if the Broker does not satisfy the quality and conduct guidelines referred in T&amp;C or if the seller score is below a certain threshold limit determined by the company from time to time.</p>

<h4>Term &amp; Termination</h4>

<p>This Agreement will remain in full force and effect after you have completed the registration as a Broker
on Makaan.com. Makaan.com reserves its right to change the Service(s) or delete features at any time
and for any reason and to cancel or suspend your registration at any time. Such cancellation or
suspension may be without cause and/or without notice. In case of Service cancellation, your right to
use the Service ceases right away. Once the registration is cancelled or suspended, any data/content you
may have stored/submitted to Makaan.com may not be retrieved later. You understand that
Makaan.com may at any time, at its sole discretion and without prior notice to you, prohibit or restrict
your access to the use of any or all the Services of Makaan.com.</p>

<p>You may decide to terminate this Agreement by disabling your login on the Platform. In the event of such a termination you shall remain liable to pay for the Service Charges already accrued or as may be accrued in future due to closure of transaction with the customers referred by Makaan.com</p>

<h4>Other Terms of Use</h4>
 
<p>In case of content/data/information submitted by you to Makaan.com, for availing the Services provided by Makaan.com, is found incorrect, misleading, derogatory, illegal and/or such content are submitted without any authority then Makaan.com reserves its rights to take appropriate legal actions including cancellation of any or all your registrations with or without any notice to you in this regard.</p> 

<p>Makaan.com reserves the right to screen messages that you may send to others through Makaan.com site. You will not use any information obtained from the Site/Service in order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit, or sell to any person without their prior explicit consent.</p>

<p>In order to protect Makaan.com and/or its users from any abuse / misuse, Makaan.com reserves the right to restrict the use of Makaan.com by you for such period which Makaan.com deems appropriate in its sole discretion.</p>

<p>You cannot use any automated processes, including IRC Bots, Robots, Spiders, Scrappers, EXE's, CGI or any other programs / scripts to view and collect information or content on or communicate / contact / respond / interact with Makaan.com and / or its users unless specifically permitted by Makaan.com</p>

<p>You hereby confirm that the Content posted by you on the site does not contain viruses or other similar harmful or deleterious programming routines. If you violate this provision you may be penalized and including termination of your rights to use the service and any other remedies available to Makaan.com by law;</p>

<p>Makaan.com may verify the registration Data provided by you through its own sources and/or by asking documentary proof for any such information submitted by you during registration or thereafter (any time). If you provide any information that is untrue, inaccurate, not current or incomplete, or Makaan.com has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Makaan.com has rights to suspend or terminate your account and refuse any and all current or future use of the Makaan.com site and its services (or any portion thereof). Makaan.com owns and retains all proprietary rights, including without limitation, all intellectual property rights in the Makaan.com Site and the Makaan.com Service;</p>

<p>The Site contains the copyrighted material, trademarks, and other proprietary information of Makaan.com, and its licensors. Except for that information which is in the public domain or for which
you have been given express permission by Makaan.com, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information;</p>

<p>All lawful, legal and non-objectionable messages (in the sole discretion of Makaan.com), content and/or other information, content or material that you post on the forum boards shall become the property of Makaan.com. Makaan.com reserves the right to scrutinize all such information, content and/or material posted on the forum boards and shall have the exclusive right to either remove, edit and/or display such information, material and/or content;</p>

<p>As a user of the platform you further agree to abide by:</p>
<ul>
    <li><a href="https://www.makaan.com/privacy-policy" target="_blank">Privacy policy of Makaan.com</a></li>
    <li><a href="https://www.makaan.com/terms" target="_blank">Terms of usage of Makaan.com</a></li>
</ul>

<h4>Indemnity</h4>
 
<p>You agree to indemnify and hold Makaan.com, its subsidiaries, directors, affiliates, officers, agents, and other partners and employees, harmless from any loss, liability, claim, or demand, including reasonable
attorney's fees, made by any third party due to or arising out of your use of the Makaan.com Services in
violation of this Agreement and / or arising from a breach of any of the terms of this Agreement and / or
any breach of your representations and warranties set forth above.</p>

<h4>Independent Contractor</h4>

<p>Each Party's relationship to the other Party is that of an independent contractor. The Parties are not partners or joint ventures with one another and do not intend to form a partnership or joint venture</p> 

<h4>Applicable Laws</h4>

<p>The Parties agree that all matters related to this Agreement shall be governed by the Laws of India each Party irrevocably consents to the exclusive jurisdiction of the state of Haryana with respect to any action brought in connection with this Agreement.</p>     

<!-- <h4>Annexure</h4>
<p><strong>Service Charges</strong></p>

<p>For properties listed for SALE the following charges shall be applicable based on the location of the property:</p>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <th>City of Listed Property</th>
        <th>Fee/Transaction</th>
    </tr>
    {{~it :object:key}}
        <tr>
            <td>{{=object.val}}</td>
            <td><i class="icon icon-rupee"></i> {{=object.price.buy}}</td>
        </tr>
    {{~}}  
</table>

<p>For properties listed for RENT the following charges shall be applicable based on the location of the property:</p>

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <th>City of Listed Property</th>
        <th>Fee/Transaction</th>
    </tr>
    {{~it :object:key}}
        <tr>
            <td>{{=object.val}}</td>
            <td><i class="icon icon-rupee"></i> {{=object.price.rent}}</td>
        </tr>
    {{~}} 
</table> -->