body[amp-x-quick-filters="disabled"] .quick-filter {
  display: none;
}
.quick-filter {
    margin: 10px;
    background: linear-gradient(to right, #ffa9b2 52%, #ffb8af);

    .container {
    	position: relative;
		display: flex;
    	padding: 14px 25px 14px 25px;
    }
    label {
	    width: 95px;
	    align-self: center;
	    font-size: 14px;
	    font-weight: normal;
	    white-space: nowrap;

	    strong {
	    	display: block;
	    	font-size: 18px;
	    }
    }

    ul {
	    display: inline-block;
    	margin-left: 35px;

    	li {
    		display: inline-block;
		    padding: 5px 0px;
		    border-radius: 25px;
		    margin: 4px 4px;
		    text-align: center;
		    background: #fef5f5;
		    font-size: 12px;

		    a {
		    	min-width: 70px;
		    	padding: 5px 10px;
		    	color: #000;
		    }
    	}
    }
}