.add-home-wrap{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(232, 28, 40, .8);
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 42%;
    color: #ffffff;
    .addhomearrow{
        background: url("/images/homepage/arrow-addhome.png") no-repeat;
        background-size: contain;
        width: 160px;
        height: 140px;
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 999;
    }
    .addhome-content{
        padding-left: 30px;
    }
    .addtxt{
        color: #ffffff;
        font-size: 22px;
        margin-bottom: 10px;
    }
    ul{
        color: #ffffff;
        font-size: 20px;
        li{
            position: relative;
        }
        .dots{
            background: url("/images/homepage/dots.png") no-repeat;  
            width: 10px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .btnv2{
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
        margin-top: 15px;
        font-size: 20px;
    }
}