@import "rating";

.seller-listing-wrap {
    background-color: #fff;
    position: relative;

    .seller-listing-head {
        padding: 25px 15px;
        border-bottom: 1px solid #f6f6f6;
        position: relative;
    }

    .contact-advisors {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #ffffff;
        position: relative;

        input[type="button"] {
            background-color: $link-color;
            color: #ffffff;
            padding: 10px 20px 7px;
            border: none;
            border-bottom: solid 3px $link-color;
            border-radius: 6px;

            &:hover {
                border-bottom: solid 3px $dark-link-color2;
            }
        }
    }

    .advisor-list {
        position: relative;
        display: inline-block;
        width: 100%;

        ul {
            padding: 0;
            max-height: 450px;
            min-height: 400px;
            overflow-y: auto;
            transition: all 500ms ease-in-out;

            li {
                padding: 12px 15px;
                border-bottom: 1px solid #eeeeee;
                position: relative;
                width: 100%;
                display: inline-block;

                input[type="checkbox"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 99;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }

                .tickafter {
                    position: relative;

                    &:after {
                        content: '\e9ca';
                        font-family: icomoon;
                        font-size: 20px;
                        font-weight: bold;
                        color: #e0e0e0;
                        position: absolute;
                        top: 12px;
                        right: 15px;
                        transition: all 300ms ease-in-out;
                    }
                }

                input[type="checkbox"]:checked ~ .tickafter {
                     &:after {
                        color: #e71c28;
                     }
                }

                .advisor-img-box {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    padding: 0;
                    vertical-align: middle;
                    text-align: center;
                    overflow: hidden;
                    border: 1px solid #cdcdcd;
                    border-radius: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #ccc;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .initial {
                        font-size: 42px;
                        line-height: 58px;
                        text-transform: uppercase;
                        //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
                    }
                }

                .advisor-details {
                    .advisor-name {
                        font-size: 18px;
                        color: #474747;
                    }

                    .advisor-rating {
                        .rating {
                            float: left;
                            margin-right: 10px;
                            margin-top: 3px;
                        }
                    }

                    .advisor-exp {
                        font-size: 16px;
                        color: #555555;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .seller-listing-wrap {
        .seller-listing-head {
            h2.mobile-font {
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .seller-listing-wrap, .seller-listing-wrap .contact-advisors {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
