    .fade-in-top {
      animation: animateTop 2s;
      -moz-animation: animateTop 2s;
      /* Firefox */
      -webkit-animation: animateTop 2s;
      /* Safari and Chrome */
      -o-animation: animateTop 2s;
      /* Opera */
    }

    /* ANIMATE TOP */
    @keyframes animateTop {
      from {
        opacity: 0;
        top: -100px;
      }
      to {
        opacity: 1;
        top: 0;
      }
    }
    @-moz-keyframes animateTop {
      /* Firefox */
      from {
        opacity: 0;
        top: -100px;
      }
      to {
        opacity: 1;
        right: 0;
      }
    }
    @-webkit-keyframes animateTop {
      /* Safari and Chrome */
      from {
        opacity: 0;
        top: -100px;
      }
      to {
        opacity: 1;
        top: 0;
      }
    }
    @-o-keyframes animateTop {
      /* Opera */
      from {
        opacity: 0;
        top: -100px;
      }
      to {
        opacity: 1;
        top: 0;
      }
    }