/* For Desktop Screen Only */
@media (min-width: 768px) {

    .ask-que {
        padding: 20px;
        height: 240px;

        h3 {
            padding: 0;
        }
        textarea {
            width: 598px;
            height: 72px;
            font-size: 12px;
            padding: 10px;
            color: $black-color;
            outline: none;
            border: 1px solid #acacac;
            border-radius: 3px;
            resize: none;
        }
        .field-wrap {
            margin-top: 20px;
            position: relative;
            padding-bottom: 10px;

            .error-msg {
                position: absolute;
                display: block;
                bottom: 0px;
                color: $link-color;
                font-size: 10px;
                transition: font-size 0.3s ease-in-out;
            }
        }
        p {
            color: #acacac;
            font-size: 12px;
        }
        .form-row {
            display: flex;
            justify-content: space-between;

            .pc-container {
                display: flex;

                .selectbox {
                    z-index: 10;
                    label {
                        text-transform: capitalize;
                    }
                    .select-dropdown {
                        max-height: 130px;
                    }
                }
                .country-code-contact {
                    margin-left: 20px;
                    position: relative;
                    display: inline-block;
                    width: 190px;
                    .countryCode {
                        padding-left: 5px;
                        padding-right: 5px;
                        position: absolute;
                        left: -2px;
                        bottom: 3px;
                        width: 38px;
                        color: #666;
                    }
                    .input-box {
                        margin-top: 4px;
                        label {
                            left: 36px; 
                            top: 9px;
                        }
                        
                    }
                    .fc-wrap.active label{
                        left: -10px;
                        top: -3px;
                    }
                    .error-msg {
                        bottom: -14px;
                    }
                }
            }

            .btn-wrap {
                position: relative;
                .show-error {
                    position: absolute;
                    display: block;
                    bottom: calc(100% + 2px);
                    left: -10px;
                    color: $link-color;
                    font-size: 10px;
                    transition: font-size 0.3s ease-in-out;
                    width: 200px;
                    text-align: center; 
                }
            }

            &.form-row-skeleton {
                * {
                    border-radius: 3px;
                }
                .pc-container {
                    .fc-wrap.selectbox, .country-code-contact {
                        background-color: #ececec;
                        height: 32px;
                    }
                }    
                .btn-wrap {
                    background-color: #ececec;
                    width: 182px;
                    height: 36px;
                }
            }
        }

        .thank-you-text {
            color: #666666;
            font-size: 14px;
        }
    }
}