///// MAKAAN IQ BLOG SECTION CSS STARTS //////
.blog-logo-wrap {
    text-align: center;

    img {
        width: 180px;
        height: auto;
    }
}
.blog-slogan {
    margin: 0;
    padding: 0 10px 15px;
    font-size: 21px;
    text-align: center;

    strong {
        color: $link-color;
        font-weight: normal;
    }
}
.blog-feed-wrap {
    padding: 20px 0 0 0;

    h2.group-hdng {
        margin: 0;
        padding: 15px 10px;
        font-size: 16px;
        line-height: 1;
    }

    .blogsliderwrap {
        padding: 0;
        position: relative;
    }

    .sudowrap {
        padding: 0 0px 20px 2px;
        height: 420px;
    }

    .bloglist {
        padding: 0;
        
        > li {
            margin-right: 15px;
            transition: all 0.3s ease-in-out;
        }

        .blogcard {
            display: block;
            float: left;
            width: 260px;
            height: 400px;
            overflow: hidden;
            box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
        }

        $blogimght: 180px;

        .img-col {
            height: $blogimght;

            .img-link {
                position: relative; /// while zooming border corners don't square
                display: block;
                overflow: hidden;
                text-decoration: none;
                cursor: pointer;
                z-index: 2; /// while zooming border corners don't square
            }

            .blog-img {
                display: block;
                width: 100%;
                min-height: $blogimght;
                max-height: $blogimght;
                transition: all 0.5s ease-in-out;
            }
        }

        .desc-col {
            position: relative;
            height: calc(100% - #{$blogimght});
            padding: 10px 20px;
            color: #666;
            background: #fff;

            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: none;
                }
            }

            .date-author {
                color: $lighter-color;
                font-size: 12px;
                @include putellipsis;
            }

            .date ~ .author {
                border-left: solid 1px #999;
                margin-left: 5px;
                padding-left: 5px;
            }

            .blog-content {
                position: relative;
                padding: 10px 0 0 0;
            }

            .article-hdng {
                padding-left: 10px;
                border-left: solid 4px $link-color;
                font-family: $roboto;
                color: #444;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;
                cursor: pointer;

                &.border1 {
                    border-left-color: rgba(249, 163, 16, 1);
                }
                &.border2 {
                    border-left-color: rgba(229, 35, 136, 1);
                }
                &.border3 {
                    border-left-color: rgba(230, 27, 39, 1);
                }
                &.border4 {
                    border-left-color: rgba(165, 33, 51, 1);
                }
            }

            .txt {
                font-size: 13px;
                max-height: 98px;
                padding: 10px 0 0 0;
                overflow: hidden;
                color: $light-color;
            }

            .tag-wrap {
                padding: 10px 0 0 0;
                color: $lighter-color;
                font-size: 12px;

                .tag-list {
                    display: block;
                    float: left;
                    @include putellipsis;
                    width: calc(99% - 60px);
                    list-style: none;

                    > li {
                        display: inline-block;
                        padding-left: 3px;

                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }

                .linktxt {
                    position: absolute;
                    right: 15px;
                    bottom: 10px;
                    display: block;
                    float: right;
                    width: 62px;
                    color: $link-color;
                }
            }
        }

        > li:hover {
            box-shadow: 0 2px 8px 2px rgba(168,168,168,0.5);
            cursor: pointer;

            // .img-col {
            //     .blog-img {
            //         transform: scale(1.05);
            //     }
            // }

            // .desc-col {
            //     .article-hdng {
            //         color: $link-color;

            //         &.border1 {
            //             color: rgba(249, 163, 16, 1);
            //         }
            //         &.border2 {
            //             color: rgba(229, 35, 136, 1);
            //         }
            //         &.border3 {
            //             color: rgba(230, 27, 39, 1);
            //         }
            //         &.border4 {
            //             color: rgba(165, 33, 51, 1);
            //         }
            //     }
            // }
        }
    }
}

@media screen and (min-width: 769px) {
    .blog-feed-wrap {
        .bloglist {
            transition: all 0.3s ease-in-out;
            
            > li.blogcard {
                width: 300px;
                margin-right: 35px;
                margin-bottom: 20px;
            }
        }
    }
}
///// MAKAAN IQ BLOG SECTION CSS ENDS //////