@import "../variables";

$width:798px;
$margin-right:20px;
$blogimght: 140px;

.blog-feed-wrap {
    max-width: $width;
    margin: 10px auto 18px;
    .blogsliderwrap {
        padding: 0 0 0 10px;
        position: relative;
        z-index: 0;
        .more-wrap {
            padding: 0px 10px;
            text-align: right;
            .morelink {
                text-decoration: none;
                color: #666;
                cursor: pointer;
            }
        }
    }
    .slider-window {
        overflow-y: hidden;
        overflow-x: auto;
        padding: 0 0px 20px 2px;
        height: 260px;
    }
    .bloglist {
        padding: 0;
        > li {
            margin-right: 15px;
            transition: all 0.3s ease-in-out;
        }
        .blogcard {
            display: block;
            float: left;
            height: 245px;
            width: 240px;
            width: calc((#{$width} /3) - #{$margin-right});
            margin-right: $margin-right;
            margin-bottom: 20px;
            overflow: hidden;
            box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
        }
        .blog-post-container {
            position: relative;
        }
        .post-heading {
            position: absolute;
            top: 0;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.35);
            padding: 10px;
            width: 100%;
            height: 100%;
            z-index: 2;
            color: #fff;
            .article-hdng {
                position: absolute;
                left: 0px;
                padding: 0px 10px;
                bottom: 5px;
                line-height: 1.1;
                font-family: $roboto;
                font-size: 15px;
            }
        }
        .img-col {
            height: $blogimght;
            .img-link {
                position: relative; /// while zooming border corners don't square
                display: block;
                overflow: hidden;
                text-decoration: none;
                cursor: pointer;
                z-index: 2; /// while zooming border corners don't square
            }
            .blog-img {
                display: block;
                width: 100%;
                min-height: $blogimght;
                max-height: $blogimght;
                transition: all 0.5s ease-in-out;
            }
        }
        .desc-col {
            background-color: #fff;
            position: relative;
            height: 105px;
            height: calc(100% - #{$blogimght});
            padding: 10px 10px;
            color: #666;
            a {
                text-decoration: none;
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
            .date-author {
                color: $lighter-color;
                font-size: 12px;
                @include putellipsis;
            }
            .date ~ .author {
                border-left: solid 1px #999;
                margin-left: 5px;
                padding-left: 5px;
            }
            .blog-content {
                padding-bottom: 5px;
                position: relative;
            }
            .txt {
                font-size: 13px;
                height: 58px;
                overflow: hidden;
                color: $light-color;
            }
            .tag-wrap {
                padding: 10px 0 0 0;
                color: $lighter-color;
                font-size: 12px;
                .tag-list {
                    display: block;
                    float: left;
                    @include putellipsis;
                    width: calc(99% - 60px);
                    list-style: none;
                    > li {
                        display: inline-block;
                        padding-left: 3px;
                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }
                .linktxt {
                    position: absolute;
                    right: 10px;
                    bottom: 5px;
                    display: block;
                    float: right;
                    width: 62px;
                    color: $link-color;
                }
            }
        }
        > li:hover {
            box-shadow: 0 2px 8px 2px rgba(168, 168, 168, 0.5);
            cursor: pointer;
        }
    }
    .l-carousel-indicators {
        position: absolute;
        bottom: -3px;
        left: 50%;
        width: 60%;
        margin-left: -28%;
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
        list-style: none;
        z-index: 2;
        > li {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 3px;
            text-indent: -999px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 10px;
            border: 2px solid #c5c5c5;
            &.selected {
                width: 12px;
                height: 12px;
                background-color: #d8d8d8;
                border-color: #c5c5c5;
            }
        }
    }
    .l-carousel-inner {
        position: relative;
        max-width: 400px;
        width: 400px;
        height: 300px;
        margin: 0px auto;
        overflow: hidden;
        .l-list {
            width: 400%;
            transition: all 0.2s ease-in-out;
            transform: translateX(0px);
        }
        .l-item {
            position: relative;
            display: block;
            float: left;
            width: 400px;
            height: 300px;
            margin-right: 0px;
            text-align: center;
            overflow: hidden;
            transition: all 0.6s ease-in-out;
            figure {
                img {
                    width: 100%;
                    max-height: calc(100% - 20px);
                }
            }
        }
    }
    .blog-logo-wrap {
        display: inline-block;
        height: 25px;
        width: 75px;
        vertical-align: bottom;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (min-width: 769px) {
    .blog-feed-wrap {
        .bloglist {
            transition: all 0.3s ease-in-out;
            > li.blogcard {}
        }
        .slider-window {
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
}
