// txtbtn btns css
.txtbtn {
    display: inline-block;
    padding: 5px 10px;
    color: $link-color;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        color: #aaa;
    }

    &:hover, &:focus {
        color: $link-color;
        text-decoration: none;
    }
}

// cbtn specific css
.cbtn {
    display: inline-block;
    padding: 0 20px;
    border: solid 1px $link-color;
    border-radius: 20px;
    color: $link-color;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    height: 36px;
    line-height: 34px;
    font-size: 14px;

    &:hover, &:focus {
        color: $link-color;
        text-decoration: none;
    }

    &.cbtn-p {
        background-color: $link-color;
        border-color: $link-color;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    &.loading {
        position: relative;
        background-color: $link-color;
        border-color: $link-color;
        text-align: center;
        color: #fff;

        &:after {
            position: absolute;
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            content: 'Loading..';
            background-color: $link-color;
        }

        &:hover {
            color: #fff;
        }
    }

    &.disabled {
        pointer-events: none;
        color: #fff;
        border-color: #ccc;
        background: #ccc;
        cursor: not-allowed;
    }
}