.cir-score-wrap{
    cursor: pointer;
}


.ring-wrap {
    //margin: 0 auto;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    z-index: 5;
}

.ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: .2em solid;
    transition: transform .2s ease-in;
    display: block;
}

.score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: $lighter-color;
}

.ring.base {
    border-color: #eee;
    border-width: .15em;
}

.ring.bor-none {
    border: none;
}

.ring.bor-none.less {
    clip: rect(0, auto, auto, 1.25em);
}

.ring.cir {
    border-color: #7ed321 #7ed321 transparent transparent;
}

.cir.initial {
    transform: rotateZ(45deg);
}

.less .final {
    display: none;
}

.cir-score-wrap {
    // float: right;
    // width: 60px;
    // padding: 0 8px 10px;
    // margin: 0 15px 0 20px;
    // text-align: center;
    // cursor: pointer;
    .val {
        color: #999;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
    }
}
