@import "../variables";


.info-card{
    .view-all-prop{
        text-align: center;
    }
    .viewall-link{
        display: inline-block;
        color: $link-color;
    }
}

.configuration-pane {
    float: right;
    width: 100%;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 120px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px -1px rgba(120, 120, 120, .7);
    &.no-property-shdw{
        box-shadow: none;
    }
    .see-all{
        position: absolute;
        bottom: 5px;
        right: 49%;
        color: $link-color;
        cursor: pointer;
    }
}

.range-bucket-wrap{
    display: inline-block;
    position: absolute;
    left: -25%;
    top: calc(50% - 120px);
    max-width: 141px;
    width: 100%;
    .price-range{
        max-height: 256px;
        position: relative;
        .next-arrow{
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            text-align: center;
            i{
                display: inline-block;
                transition: all 300ms ease-in-out;
            }
            i.rotate{
                transform: rotate(180deg);
            }
        }
        input.shift-up{
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 100%;
            height: 30px;
            z-index: 99;
            opacity: 0;
            cursor: pointer;
            &:checked{
                ~ ul{
                    li{
                        transform: translateY(-256px);
                    }
                }
            }
        }
        ul{
            background: #fafafa;
            border: 1px solid #f8f8f8;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            max-height: 256px;
            position: relative;
            overflow: hidden;
            width: 100%;
            li{
                padding: 15px;
                border-bottom: 1px solid #f8f8f8;
                position: relative;
                text-align: left;
                cursor: pointer;
                font-size: 14px;
                transition: all 500ms ease-in-out;
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 3px;
                    background-color: transparent;
                }
                &.selected{
                    background-color: #ffffff;
                    &:after{
                        background-color: $link-color;
                    }
                    .price-tag{
                        color: $link-color;
                    }    
                }
            }
        }
    }
}

.configuration-wrap{
    position: relative;
    z-index: 9;
    .second-row{
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 100%;
        padding: 20px 14px 15px;
        .no-proptxt.find-it{
            padding: 5px 0px;
            font-size: 18px;
            display: inline-block;
        } 
        .pyrbtn{
            float: right;
        } 

    }
    .contact-sellers{
        bottom: 4px;
        right: 4px;
        position: absolute;
    }
    .bhk-type-buckets{
        ul{
            background-color: #fafafa;
            border-bottom: 1px solid #f8f8f8;
            //border-top-left-radius: 25px;
            //border-top-right-radius: 25px;
            display: block;
            width: 100%;
            white-space: nowrap;
            li{
                display: inline-block;
                vertical-align: top;
                padding: 10px;
                font-size: 14px;
                color: #828282;
                text-align: center;
                min-width: 110px;
                position: relative;
                transition:  all 300ms ease-in-out;
                cursor: pointer;
                .big-txt{
                    font-size: 16px;
                }
                .property-type{
                    z-index: 99;
                    position: relative;
                    font-size: 13px;
                    transition:  all 300ms ease-in-out;
                }
                .property-area{
                    color: #a1a1a1;
                    font-size: 12px;
                    z-index: 99;
                    position: relative;
                    transition:  all 300ms ease-in-out;
                }
                .selected-bubble{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    transition: all 300ms ease-in-out;
                    transform: scale(0);
                    z-index: 9;
                    border-radius: 6px;
                    box-shadow: 0 0 3px -1px rgba(68, 68, 68, .6);
                    &:before{
                        position: absolute;
                        top: -7px;
                        left: 45%;
                        width: 15px;
                        height: 15px;
                        content: "";
                        display: inline-block;
                        background: #ffffff;
                        z-index: 999;
                        border-right: 1px solid rgba(120, 120, 120, .3);
                        transform: rotate(135deg);
                        border-top: 1px solid rgba(120, 120, 120, .3);
                    }
                }
                &.selected{
                    color: red;  
                    background-color: #ffffff;
                    .selected-bubble{
                        transform: scale(1.12);
                        background-color: #ffffff;
                    }
                    .big-txt{
                        font-size: 18px;
                    }
                    .property-area{
                        color: $link-color;
                    }
                }
            }
        }   
    }
    .property-details{
        position: relative;
        .floor-plan{
            max-width: 300px;
            height: 230px;
            width: 40%;
            padding: 35px 25px;
            display: inline-block;
            .zoom {
                cursor: zoom-in;
            }
            >img{
                max-width: 235px;
                max-height: 172px;
                width: 100%;
                height: 100%;
                margin: 0 auto;
            } 
        }
        .no-floor-plan {
            padding: 0;
            padding-top: 35px;
            >img{ 
                width: 100%;
                max-width: 100%;
            }
        }
        .plan-details{
            display: inline-block;
            vertical-align: top;
            padding-top: 35px;
            height: 230px;
            width: 59%;
            position: relative;
            .bhttype{
                font-size: 16px;
                margin-bottom: 25px;
                .number-bhk{
                    font-size: 20px;
                }
                .rateper-unit{
                    font-size: 14px;
                    color: $light-color;
                }
            }
            .amenities{
                ul{
                    li{
                        display: inline-block;
                        max-width: 130px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-right: 10px;
                        .amenity-wrap{
                            img{
                                width: 32px;
                                height: 32px;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                        .icon-wrap,
                        .amenity-name{
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    .emi-wrap{
                        max-width: inherit;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .configuration-pane-no-property {
        border: none;
        margin-bottom: 10px;
        max-width: 100%;
        box-shadow: none;
        margin-top: 10px;
    }
    .configuration-pane{
        border: none;
        margin-bottom: 10px;
        max-width: 100%;
        box-shadow: none;
        .lg-outer{
            .lg-item{
                position: relative;
            }
        } 
        .sleek-tabs ul>li.selected .triangle:after{
            border-width: 6px;
            margin-left: -6.5px;
            top: 98%;   
        }

        .sleek-tabs ul>li:hover .triangle{
            border: 1px solid transparent;
            &:after,
            &:before{
                background: transparent;
                border-top-color: transparent;
            }
        }

        .sleek-tabs ul>li.selected .triangle{
                border-bottom: 1px solid $link-color;
                &:after{
                    border-top-color: #fff;
                }
                &:before {
                    border-top: 6px solid $link-color;
                }
        }

        .sleek-tabs{
          ul{
            >li, >li.selected{
                &:after{
                    border-width: 6px;
                    top: 98%;                    
                }
               &:hover {
               }
            } 
          }
        } 
        border-width: 6px;
        top: 98%;
    }
    .configuration-window-wrap{
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        padding-bottom: 20px;
    }
    .mob-price{
        font-size: 22px;
    }
    .sm-txt{
        font-size: 16px;
        text-transform: uppercase;
    }
    .range-bucket-wrap{
        display: none;
    }
    .configuration-wrap{
        background-color: #ffffff;
        z-index: 3;
        .bhk-type-buckets{
            margin-bottom: 15px;
          ul {
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                background-color: #ffffff;
                border: 0;
                li{
                    min-width: 53px;
                    border: 0;
                }
            }  
        }
        .property-details {
            border: 2px solid rgba(241, 241, 241, .5);
            //border-radius: 25px;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            margin-right: 30px; 
            width: 270px;
            height: 394px;

            .floor-plan {
                width: 100%;
                height: 190px;
                padding: 0;
                text-align: center;
                display: block;

                img {
                    width: 100%;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .plan-details {
                width: 100%;
                height: 200px;
                padding-top: 0;
                padding-left: 15px;
                padding-top: 15px;

                .bhttype {
                    margin-bottom: 0;
                    font-size: 18px;
                    .property-type-rate {
                        font-family: $roboto;
                        margin-bottom: 5px;

                        .number-bhk {
                            text-transform: uppercase;
                        }
                        .size {
                            font-size: 12px;
                        }
                    }
                }
                .amenities{
                    margin-top: 10px;
                    margin-bottom: 30px;
                    ul{
                        white-space: nowrap;
                        overflow: auto;
                        text-overflow: ellipsis;
                    }
                    .amenity-wrap{
                        font-size: 20px;
                        img{
                            width: 35px;
                            height: 35px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .amenity-name{
                            font-size: 13px;
                            padding-left: 11px;
                            vertical-align: -5px;
                        }
                    }
                }
            }
        } 
    } 
}
