.ms-coupon-card{
	width: 228px;
	height: 140px;
	margin: 0 auto;
	background: url(/images/makaan-select/ms-giftvoucher.png) no-repeat;
	position: relative;
	background-size: cover;
	z-index: 1;

	&.active-card{
		background: url(/images/makaan-select/ms-giftvoucher-green.png) no-repeat;
		background-size: cover;
	}

	.coupon-price{
		position: absolute;
		right: 30px;
		bottom: 48px;
		color: #fff;
		font-size: 16px;

		span{
			padding-left: 5px;
		}
	}

	.coupon-code{
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 11px;
		left: 0;
		font-size: 15px;
		color: $heading-color;
		font-weight: 500;
		letter-spacing: 3px;
	}

	.mfv-badge{
		position: absolute;
		width: 80px;
		height: 80px;
		background: url(/images/makaan-select/ms-voucher-verified.png) no-repeat;
		top: -20px;
		right: -20px;
	}

}