.dm-notification{
	position: fixed;
	bottom: -120px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s ease-in-out;
	background: rgba(246,184,36,0.85);
	box-shadow: 0 0 24px 0 rgba(130, 130, 130, 0.5);
	padding: 15px 25px;
	width: 100%;
	max-width: 500px;
	z-index: 6;

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 0;
		clear: both;
	}

	&.show{
		bottom: 5px;
	}

	$dm-left-width:38px;
	$dm-right-width:44px;

	.close{
		position: absolute;
		right: 0;
	    top: 0;
	    padding: 5px;
	    cursor: pointer;
	    font-size: 10px;
	    color: #000;
	    font-weight: bold;
	}

	.dm-left-col{
		float: left;
		width: $dm-left-width;
		border-radius: 50%;
		overflow: hidden;
	}

	.content-col{
		font-family: $roboto;
		font-size: 15px;
		color: #323232;
		line-height: 22px;
		float: left;
		padding-left: 2%;
		padding-right: 6%;
		width: calc(100% - #{$dm-left-width + $dm-right-width});
	}

	.dm-right-col{
		float: right;
		width: $dm-right-width;
		height: $dm-right-width;
		cursor: pointer;
	}

	.waiting-bar{
		position: absolute;
		height: 2px;
		background: #595959;
		width: 100%;
		left: 0;
		bottom: 0;
		transition: width 8s ease-in-out;
	}

	&.time-out{
		.waiting-bar{
			width: 0;
		}
	}
}

/*mobile view*/
@media screen and(max-width: 767px){

	.dm-notification{
		left: 50%;
		transform: translateX(0);
		top: -120px;
		bottom: auto;
		margin-left: -150px;
		width: 300px;
		padding: 10px 20px;

		&.show{
			bottom: auto;
			top: 60px;
		}

		.content-col{
			width: 100%;
			font-size: 11px;
			line-height: 16px;
			padding: 0;
		}
	}

}