// Description: 
// Author: Nimit Mangal
// Date: 05 July 2017

@import "seller-card";

////////////////////////////////////////////////////////////////
//////////// FOR DEAL MAKER BANNER ON ALL PAGES ////////////////
////////////////////////////////////////////////////////////////
.dm-banner-section {

    .top-sellers-head {
        padding-right: 0;
        margin-bottom: 25px;
        text-align: center;

        h2 {
            color: $title-color;
            font-size: 26px;
            text-transform: capitalize;
        }

        p{
            margin: 0;
            padding: 10px 0 0 0;
            color: $light-color;
        }
    }

    .slider-wrap {

        .dealmaker-list {
            padding-bottom: 20px;
            transition: all 0.3s ease-in-out;
        }

        .btn-prev, .btn-next {
            top: 30%;
            z-index: 2;
        }
    }

    .seller-card {
        display: block;
        float: left;
        width: 380px;
        margin-right: 15px;
        margin-bottom: 5px;
        margin-left: 5px;
        border: solid 1px #ececec;
        cursor: pointer;
    }

    .seller-img-box {
        border-radius: 0;
    }
}

////////////////////////////////////////////////////////////////
/////////////////// MOBILE VIEW /////////////////////
////////////////////////////////////////////////////////////////

@media screen and (max-width: 768px) {
    .dm-banner-section{

        .top-sellers-head{
            margin-bottom: 10px;

            h2 {
                font-size: 21px;
                font-weight: normal;

                span {
                    position: relative;
                    display: inline-block;
                }
            }

        }

        .seller-card {
            width: 280px;
            margin-top: 10px;

            .seller-dtl .midline {
                max-width: 80%;
            }
        }

    }

}