@import "text-overlay-banner";

.developer-card{
	width: 310px;
	min-height: 448px;
	padding: 12px;
	background: #fff;
	border-top: 5px solid $theme-color-two;
	margin-right: 15px;
	will-change: box-shadow;
	transition: 0.2s;
	display: inline-block;
	vertical-align: top;

	a{
		text-decoration: none !important;
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}

	&:last-child{
		margin-right: 0;
	}
	
	&:first-child{
		margin-left: 8px;
	}

	.hidden{
    	display:none;
	}
	
	.developer-summary-card{

		.dsc-content-wrap{
			padding-left: 12px;
		}

		> p{
			height: 45px;
		}
	}

	.developer-project-card{
		width: 100%;
		height: 189px;
		margin-top: 10px;
	}

	.sleek-tabs{
		ul{
			> li{
				padding: 0;
				text-transform: capitalize;
				width: calc(50% - 2px);
				letter-spacing: 0;

				.triangle{
					border-bottom: 1px solid #fafafa;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					padding: 10px 10px 6px;

				}

				&:hover{
					.triangle{
						border-bottom-color: $heading-color;
					}
				}

				&.selected{
					color: $theme-color;
					font-weight: 500;

					.triangle{
						border-bottom-color: $theme-color;
					}
				}
			}
		}
	}

	&:hover{
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);

		.developer-summary-card{ 
			.dsc-content-wrap {
				h4{
					color: $theme-color;
				}
			}
		}

		.tob-card{
			img{
				transform: scale(1.2);
			}
		}
	}

	&.fallback-card{
		padding: 0;

		a{
			display: block;
			text-decoration: none;
		}

		.fallback-img-wrap{
			display: block;
		    width: 100%;
		    height: 199px;
		    background: url(/images/highlighted-projects.png) top center no-repeat #f7f7f7;
		    background-size: contain;
		    margin: 0 auto;
		}

		.fallback-content{

			h4{
				font-size: 16px;
				color: #444;
				line-height: 20px;
				font-weight: 500;
				padding: 12px;
			}

			p{
				font-size: 14px;
			    line-height: 18px;
			    color: #444;
			    margin-top: 4px;
			    margin-bottom: 8px;
			    padding: 0 12px 12px 12px;
			}
			.txtbtn{
				font-size: 15px;
				padding: 12px;
			}
		}
	}
}