/*============
Created on: 05/04/2018
Author: Jaswant Singh
DSC stands Developer Summary Card
==============*/
.developer-summary-card{
	display: flex;
	flex-flow: wrap;

	.dsc-logo-wrap{
		width: 90px;
		height: 75px;
		border: 1px solid #e3e3e3;
		background-color: #fff;
		padding: 5px;

		.dsc-logo{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
	}

	.dsc-content-wrap{
		padding-left: 28px;
		width: calc(100% - 90px);

		h4{
			font-size: 16px;
			line-height: 20px;
			font-weight: 500;
			color: $heading-color;
			margin-bottom: 15px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.developer-detais-card{
			font-size: 14px;
			display: inline-block;
			padding-right: 30px;

			&:last-child{
				padding-right: 0;
			}

			label{
				color: $heading-color;
				display: block;
				font-weight: 500;
				margin-bottom: 0;
			}
			span{
				color: $light-color;
				font-size: 12px;
			}
		}
	}

	> p{
		font-size: 14px;
		line-height: 22px;
		color: $lighter-color;
		margin-top: 24px;
		margin-bottom: 24px;
		width: 100%;
		height: 64px;
		overflow: hidden;
		position: relative;

		.more-link{
			display: inline-block;
			font-size: 14px;
			color: $theme-color;
			cursor: pointer;
		}
	}

	&:hover{
		.dsc-content-wrap{
			h4{
				color: $theme-color;

				span{
					color: #4a4a4a;
				}
			}
		}
	}

}
