.eli-wrap {
    margin-top: 50px;
    [data-module="rangeSlider"] {
        margin: 25px auto 5px;
        width: 100%;
        .left-label {
            position: absolute;
            bottom: -5px;
            left: 0px;
            opacity: .5;
        }
        .right-label {
            position: absolute;
            bottom: -5px;
            right: 0px;
            min-width: 42px;
            opacity: .5;
            text-align: right;
        }
        .noUi-horizontal {
            height: 1px;
        }
        .range {
            position: relative;
        }
    }
    .emislider {
        margin: 45px 0px;
    }
    .input-range-error {
        border: 2px solid red !important;
    }
    .slider-input {
        position: relative;
        display: inline-block;
        float: right;
        input {
            padding-left: 10px;
            position: relative;
            border: 1px solid $light-border;
            border-radius: 5px;
            width: 136px;
            height: 32px;
        }
        .rupee-icon {
            margin-right: 0px;
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid $light-border;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $light-border;
            padding: 5px 9px;
            width: 30px;
            font-size: 14px;
            text-align: center;
        }
    }
    .form-row {
        display: inline-block;
        width: 100%;
        max-width: 600px;
    }
    .full-width-drop {
        > .fc-wrap {
            display: block;
            width: 100%;
        }
    }
}
