.ei-wrap {
    width: calc(100% - 20px);
    margin: 130px 10px;
    position: relative;
    z-index: 1;
    background: #fdfdfd;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-out;
    text-align: center;
    height: 400px;
    padding: 44px 26px 15px 26px;

    .ei-close {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 2;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        color: #6a6a6a;
        font-weight: 500;
    }

    .img-wrap {
        background: #fff url(/images/exit-intent/home.png) no-repeat top right;
        background-size: cover;
        max-width: 100%;
        border: none;
        box-shadow: none;
        height: 81px;
        width: 104px;
        margin: 10px 0 15px 112px;
    }

    .ei-heading {
        font-size: 18px;
    }

    .ei-txt {
        font-size: 14px;
        color: #797979;
    }

    .ei-input-wrap {
        width: 90%;
        margin: 0 0 15px 15px;

        .error-msg{
            color: #e81c28;
            height: 10px;
        }
    }

    .ei-action-wrap {
        .txt {
            font-size: 12px;
            color: #797979;
        }

        .cbtn {
            margin: 10px 0 15px 0;
            width: 80%;
            font-size: 16px;
        }

        .no-thanks {
            color: #e81c28;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.thanks-wrap {
    height: 215px;
    padding: 24px 26px 15px 26px;

    .img-wrap {
        background: #fff url(/images/exit-intent/thanks.png) no-repeat top right;
        background-size: cover;
        height: 81px;
        width: 81px;
        margin: 10px 0 15px 132px;
    }
}

@media screen and(max-width: 375px) {
    .ei-wrap {
        .img-wrap {
            margin: 10px 0 15px 95px;
        }
    }

    .thanks-wrap {
        .img-wrap {
            margin: 10px 0 15px 105px;
        }
    }
}

@media screen and(max-width: 320px) {
    .ei-wrap {
        .img-wrap {
            margin: 10px 0 15px 72px;
        }

        .ei-heading {
            font-size: 16px;
        }

        .ei-txt {
            font-size: 12px;
        }
    }

    .thanks-wrap {
        .img-wrap {
            margin: 10px 0 15px 82px;
        }

        .ei-heading {
            font-size: 15px;
        }
    }
}