// css for expand collapse on the basis of height

.exco {

    .expandable-area {
        display: block;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    &.active {
        .expandable-area {
            max-height: 700px;
        }
    }
	
}