@import "../variables";
@import "../mixins/ellipsis";

// recently visited and favorites for repeat user starts
.past-activity-container {

    // tabs overwrites
    .sleek-tabs {
        ul {
            >li {
                padding: 10px 40px 0 0;

                &:first-child {
                    padding: 10px 40px 0 0;
                }

                &:last-child {
                    padding: 10px 0px 0 0;
                }
            }
        }
    }
}

.snapshot-list-wrap {
    width: 100%;
    padding-top: 30px;

    $snapcard-width: 260px;

    .snapshot-list {
        width: calc((#{$snapcard-width} + 20px) * 4);
    }

    // the property / favourite card css starts
    .snapcard {
        position: relative;
        display: inline-block;
        width: $snapcard-width;
        cursor: pointer;
        .imgbox {
            float: left;
            width: 60px;
            height: 60px;
            overflow: hidden;
            text-align: center;

            img {
                width: 100%;
                height: 100%;
                transition: transform 0.3s ease-in-out;
            }
        }

        .content-info {
            float: left;
            width: calc(100% - 60px);
            padding: 0 0 0 15px;

            .title {
                @include putellipsis;
                color: $title-color;
                font-size: 15px;
                font-weight: 500;
                transition: color 0.3s ease-in-out;
            }

            .info-line {
                @include putellipsis;
                padding: 3px 0;
                color: $light-color;
                font-size: 13px;
            }

            .price {
                @include putellipsis;
                color: $title-color;
                font-size: 15px;
            }
        }

        &:hover {
            .imgbox {
                img {
                    transform: scale(1.1);
                }
            }
            .content-info {
                .title {
                    color: $link-color;
                }
            }
        }
    }
    // the property / favourite card css ends
}
// recently visited and favorites for repeat user ends

// for desktops
@media screen and (min-width: 769px) {
    .past-activity-container {
        padding: 20px;
    }

    .snapshot-list-wrap {
        .snapshot-list {
            width: 100%;
        }
    }
}


// for smaller screen sizes
@media screen and (max-width: 768px) {
    .past-activity-container {

    }

    .snapshot-list-wrap {
        overflow-x: auto;
        overflow-y: hidden;

        .snapcard {
            margin: 0px 20px 5px 0;
        }
    }
}


