
// Favorite Btn module css
.favbtn {
    margin-left: 10px;
    color: $light-color;
    text-decoration: none;
    cursor: pointer;

    i + i { 
        display: none;
        color: $link-color;
    }
    
    &:hover {
        i {
            color: $link-color;
        }
    }
    
    &.active {
        i { display: none; }
        i + i { display: inline; }
    }
}