.featured-developer-wrap{

	.featured-developer-container{

		.title{
			label{
				font-weight: 600;
			}
		}
		
		.developer-list{
			margin-top: 38px;
			padding-bottom: 20px;
			transition: 0.3s ease;
		}
	}
}