// this page scss belongs to the feedback form which appears as soon as call duration exceeds 10 seconds.
// Author: Nimit Mangal
// Date: 26 Dec 2017

@import "../mixins/ellipsis";

// Feedback form after talking to seller
.feedback-container {
    position: relative;
    height: 460px;
    width: 98%;
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 80px;
    border-radius: 8px;
    background-color: #fff;
    z-index: 0;
    overflow: hidden;

    &.step2{
        .confirm-wrap.discard-rating{
            top: 71px;
        }
    }

    &.step3{
        .confirm-wrap.discard-rating{
            top: 50px;
        }
    }
    
    .ff-heading {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 20px 10px 10px;
        background-color: #f6f6f6;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .backbutton {
            width: 32px;
            font-size: 21px;
            text-align: center;
            cursor: pointer;
        }

        .txt-wrap {
            padding: 0 10px;
        }

        h3 {
            color: $light-color;
            font-size: 14px;
            font-weight: 500;
        }

        .txt {
            padding-top: 5px;
            font-size: 14px;
            line-height: 1.2;
        }

        .backbutton ~ .txt-wrap {
            padding: 0 15px;
        }

        .close-popup {
            position: absolute;
            top: 0;
            right: 0;
            width: 32px;
            cursor: pointer;
        }
    }

    // confirm box
    .confirm-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 20px;
        background-color: #ededed;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        width: 100%;
        top: -45px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        z-index: 1;

        &.discard-rating{
            top: 55px;
            opacity: 1;
        }

        .txt {
            color: #880d14;
            font-size: 13px;
            font-weight: 500;
        }

        .confirm-btn-wrap {
            .txtbtn {
                text-transform: uppercase;
            }
        }
    }


    // styling for each question
    .question {
        padding: 15px 20px;
        color: $dark-color;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 500;

        .opt-txt {
            padding-top: 5px;
            color: $lighter-color;
            font-size: 10px;
            text-transform: uppercase; // overwrite for this specific case
        }
    }

    .main-pane{
        padding: 0 20px;
        max-height: 269px;
        overflow: auto;
    }

    // choose from seller list
    .seller-list {
        border: solid 1px #eee;

        > li {
            display: block;
            border-bottom: solid 1px #eee;
            background: #fbfbfb;

            &:last-child{
                border-bottom: none;
            }

            &.active{
                background: #fff;
            }
        }

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            font-weight: normal;
            padding: 15px;

            .seller-wrap {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: calc(100% - 26px);
            }

            .sllrimg {
                width: 44px;
                height: 44px;
                margin-right: 10px;
                border: solid 1px #ececec;
                background-color: #f7f7f7;
                text-align: center;

                .seller-logo{
                    width: 44px;
                    height: 44px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover; 
                }

                .initial {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 26px;
                }

            }

            .seller-details {
                width: calc(100% - 54px);
            }

            .seller-name {
                @include putellipsis;
                padding-bottom: 8px;
                color: $dark-color;
                font-size: 15px;
                line-height: 1.25;
                font-weight: 500;
            }

            .connect-time {
                @include putellipsis;
                color: $lighter-color;
                font-size: 13px;
                line-height: 1.25;
            }

            .radioinput {
                display: none;   
            }

            .radiobtn-wrap {
                width: 16px;
                height: 16px;
                padding: 2px;
                border: solid 1px #ccc;
                border-radius: 50%;
                text-align: center;

                .radiobtn {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: none;
                }
            }

            .radioinput:checked ~ .radiobtn-wrap {
                border-color: $link-color;

                .radiobtn {
                    background-color: $link-color;
                }
            }

            &.no-seller {
                .sllrimg {
                    padding: 5px 0 0 0;
                    text-align: center;

                    .icon-question-round {
                        color: #bcbcbc;
                        font-size: 32px;

                    }
                }

                .seller-name {
                    color: $lighter-color;
                }
            }
        }
    }

    .show-error{
        font-size: 12px;
        color: $link-color;
        display: inline-block;
        padding: 2px 10px;
        text-align: center;
    }

    .select-all{
        padding: 10px 10px 10px 0;
        text-align: right;

        .txt{
            font-size: 13px;
        }

        label.checkboxlbl{
            text-align: center;
            margin-right: 5px;
        }
    }

    .similar-listing{
        max-height: 250px;
        overflow: auto;
        padding: 0 20px;
    }

    .loaderr {
        text-align: center;
        padding-top: 30px;
        font-size: 24px;
    }



    // listing on which lead is dropped
    .listing-wrap {
        display: flex;
        padding: 15px 20px;

        .img-wrap {
            width: 58px;
            height: 58px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .prop-dtls {
            padding-left: 10px;
        }

        .pname {
            @include putellipsis;
            color: $dark-color;
            font-size: 15px;
            font-weight: 500;
        }

        .lname {
            @include putellipsis;
            color: $lighter-color;
            font-size: 13px;
        }

        .price {
            color: $light-color;
            font-size: 15px;
        }
    }

    // line seperator 
    .sperator-line {
        margin: 0 20px;
        border-top: solid 1px #ececec;
    }

    // Rating wrapper starts :::: overwritten from rating.scss
    .rating-wrap {
        text-align: center;
        padding: 15px 20px;

        .result-txt {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 21px;
            padding-bottom: 15px;
            font-size: 12px;
            text-transform: uppercase;

            &.worst:before {
                color: #d48489;
                content: 'WORST';
            }

            &.poor:before {
                color: #d48489;
                content: 'POOR';
            }

            &.average:before {
                color: $link-color2;
                content: 'AVERAGE';
            }

            &.good:before {
                color: #6dc60c;
                content: 'GOOD';
            }

            &.excellent:before {
                color: #6dc60c;
                content: 'EXCELLENT';
            }
        }

        .rating {
            >label {
                font-size: 16px;
            }

            &.clickable {
                padding-top: 20px;
                >label {
                    font-size: 28px;
                }
            }
        }

        &.clickable {
            .result-txt {
                font-size: 16px;
                font-weight: 500;
                position: absolute;
                top: 0;
                width: 100%;
                text-align: center;
            }
        }

        &.toshow {
            margin: 15px 0 0 0;
        }
    }

    // reason pane
    .reason-pane {
        max-height: 270px;
        overflow-y: auto;
        padding: 15px 20px 0;

        .other-reasons {
            textarea{
                border: 1px solid #d8d8d8;
                height: 65px;
                padding: 10px;
                width: 100%;
                resize: none;
            }
        }

        .reason-error {
            color: #e81c28;
            font-size: 12px;
        }
    }

    // reason list here
    .reason-list {
        .question{
            padding: 0 0 15px 0;
        }

        input {
            display: none;
        }

        label.reason {
            display: inline-block;
            @include putellipsis;
            padding: 5px 10px;
            margin: 0 5px 5px 0;
            border: solid 1px #ececec;
            border-radius: 25px;
            color: #666;
            font-size: 12px;
            font-weight: normal;
            text-align: center;
            cursor: pointer;
        }

        input:checked + label {
            color: $link-color;
            border-color: $link-color;
        }
    }

    .btn-wrap {
        padding: 0 20px 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: right;

        .selected-reasons{
            float: left;
            font-size: 12px;
            line-height: 36px;
            color: $lighter-color;
        }

        .cbtn{
            margin-left: 24px;
        }

        .txtlink {
            padding-right: 10px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
            text-transform: capitalize;
        }

        .show-error {
            position: absolute;
            bottom: 45px;
            right: 10px;
            color: red;
            font-size: 11px;
            line-height: 1;
        }
    }
}

.feedback-container.step-skip {
    min-height: 150px;

    .second-pane {
        border: none;
    }
}

.feedback-container.details {
    .img-pane {
        display: none;
    }
    .second-pane {
        padding-bottom: 70px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .error-msg {
            color: $link-color;
            font-size: 12px;
            text-align: left;
        }
    }
}

@media (min-width: 768px) {
    .feedback-container {
        width: 360px;
        max-width: 360px;

        .reason-list {
            label.reason {
                &:hover {
                    border-color: $link-color;
                    color: $link-color;
                }
            }
        }

    }
}
