// this page scss belongs to the feedback form which appears as soon as call duration exceeds 10 seconds.
// Author: Nimit Mangal
// Date: 07 June 2016

@import "../mixins/ellipsis";

// Feedback form after talking to seller
.feedback-container {
    position: relative;
    min-height: 385px;
    width: 360px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    z-index: 0;
    overflow: hidden;
    
    .ff-heading {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        z-index: 1;

        h2 {
            line-height: 50px;
        }

        .backbutton {
            position: absolute;
            top: 0px;
            left: 0;
            padding: 8px 8px 8px 12px;
            font-size: 21px;
            cursor: pointer;
        }

        .close-popup {
            position: absolute;
            right: 0;
            top: 0;
            padding: 12px;
            color: $lighter-color;
            font-size: 14px;
            cursor: pointer;
        }
    }

    // seller details for use at various steps
    .seller-dtls {

        .seller-img-box {
            width: 55px;
            height: 55px;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #ccc;

            img {
                width: 100%;
                height: auto;
            }

            .initial {
                font-size: 36px;
                line-height: 55px;
                text-transform: uppercase;
                //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
            }
        }

        .leagalname {
            text-align: center;
            font-size: 16px;
            margin-top: 10px;
            padding: 0 5px;
            text-transform: capitalize;
        }
    }

    .mchatwrap {
        position: absolute;
        left: 0;
        bottom: -27px;
        width: 100%;
        text-align: center;
        z-index: 3;

    }

    .mchattxt {
        padding-bottom: 5px;
        color: #1c1c1c;
    }

    .mchaticon {
        display: inline-block;
        width: 55px;
        height: 55px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left top;
        background-image: url('/images/m-fav.gif');
    }

    .img-pane {
        position: relative;
        width: 100%;
        z-index: 0;

        .default-listing-image{
            background: url('/images/defaults/default_listing.jpeg');
        }

        .prop-main-img {
            position: relative;
            width: 100%;
            height: 200px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: 1;

            &:after {
                position: absolute;
                left: 0;
                top: 0;
                content:" ";
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                z-index: 2;
            }
        }

        .seller-dtls {
            position: absolute;
            left: 0;
            top: 24%;
            width: 100%;
            color: #fff;
            z-index: 4;
        }

        .prop-row {
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            z-index: 4;

            .type {
                display: block;
                float: left;
                padding: 0px 10px;
                @include putellipsis;
                text-align: left;
                width: 50%;
                color: #fff;
            }

            .price {
                display: block;
                float: right;
                padding: 0px 10px;
                @include putellipsis;
                width: 50%;
                text-align: right;
                font-size: 18px;
                color: #fff;
                text-transform: capitalize;

                .unit {
                    text-transform: capitalize;
                }
            }
        }
    }

    .second-pane {
        min-height: 150px;
        padding: 30px 10px;
        border-top: solid 1px #dcdcdc;
        text-align: center;

        .reason-error {
            color: #e81c28;
            font-size: 12px;
        }
    }

    .ff-title {
        padding: 10px 10px 15px;
        color: #2c2c2c;
        font-size: 16px;
        line-height: 1.15;
    }
    .ff-text{
        padding-bottom: 25px;
    }
    .btn-wrap {
        position: absolute;
        bottom: 10px;
        right: 10px;

        .txtlink {
            padding-right: 10px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
            text-transform: capitalize;
        }

        .btnmain {
            padding: 0 35px;
        }

        .show-error {
            position: absolute;
            bottom: 45px;
            right: 10px;
            color: red;
            font-size: 11px;
            line-height: 1;
        }
    }

    &.for-chat {
        /*width: 280px;
        min-height: 300px;*/

        .img-pane {
            .prop-main-img {
                height: 130px;
                background-image: url('/images/bg_image_chat_feedback.png');
                &:after {
                    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%);
                }
            }
        }

        .js-input-placeholder, .error-msg{
            padding-right: 10px;
            padding-left: 10px;
        }

        .second-pane {
            padding: 30px 10px 50px;
        }

        .ff-slogan {
            width: 90%;
            margin: 0 auto;
            padding-top: 20px;
            line-height: 1.25;
        }
    }

    .reason-list {

        input[type="radio"] {
            display: none;
        }

        label.reason {
            display: inline-block;
            @include putellipsis;
            width: calc(50% - 8px);
            padding: 8px 5px;
            margin: 5px 3px;
            background-color: #f7f7f7;
            border: solid 1px #ececec;
            border-radius: 5px;
            color: #666;
            font-size: 12px;
            text-align: center;
            cursor: pointer;

            &:hover {
                border-color: $link-color;
            }
        }

        &:not(:checked) > label:hover {

        }

        input:checked + label {
            background-color: $link-color;
            border-color: $link-color;
            color: #fff;
        }
    }
}

.feedback-container.step1 {
    .rating-wrap {
        padding-top: 10px;
    }
}

.feedback-container.step-skip {
    min-height: 150px;

    .second-pane {
        border: none;
    }
    .ff-title {
        line-height: 1.35;
    }
}

// feedabck form step2 - reason list
.feedback-container.step2 {
    .seller-dtls {
        padding: 20px 0 25px;
        background-color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        text-align: center;
    }

    .rating-wrap {
        text-align: center;
    }

    .second-pane {
        padding: 15px 10px 50px;
    }
}

.feedback-container.details {
    .img-pane {
        display: none;
    }
    .second-pane {
        padding-bottom: 70px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .error-msg {
            color: $link-color;
            font-size: 12px;
            text-align: left;
        }
    }
}

@media (max-width: 768px) {
    .feedback-container, .feedback-container.for-chat {
        width: 100%;
        height: 100%;
        border-radius: 0px;

        .img-pane, .second-pane, .img-pane .prop-main-img, .img-pane .prop-main-img:after {
            border-radius: 0px;
        }
    }
}
