@import "../variables";

/* form elements styling css */

// The Basic Unit of forms = form component (fc)
// This can be used with inputboxes, textareas, etc. example - <input class="fc" />
.fc {
    padding: 12px 0 0;
    color: $light-color;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: none;

    label{
        cursor: pointer;
    }

    &:focus {
        box-shadow: none;
        outline: 0;
    }
}

/*  to wrap any controller  */
.fc-wrap {
    position: relative;
    display: inline-block;
    //width: 100%;
    margin-bottom: 1px;

    label {
        position: absolute;
        top: 2px;
        left: 0;
        margin: 0;
        color: $lighter-color;
        font-size: 14px;
        line-height: normal;
        font-weight: normal;
        transition: all .3s ease;
       
        span.required-field{
            color: red;
        }
    }

    .error-msg {
        position: absolute;
        bottom: -20px;
        color: $link-color;
        font-size: 10px;
        transition: font-size 0.3s ease-in-out;
    }

    &:focus, &.focus, &.active {

        label {
            top: 0;
            font-size: 10px;
        }
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        input {
            cursor: not-allowed;
        }
    }

    &.error {
        .error-msg {
            font-size: 10px;
        }
    }

    i.arrowdown {
        position: absolute;
        right: 0;
        top: 14px;
        font-size: 10px;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    &.open {
        i.arrowdown {
            transform: rotate(180deg);
        }
    }
}

/*  inputbox css  */
.fc-wrap.inputbox {

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        content: '';
        transition: width 1s ease-in-out;
        background-color: #eee;
    }
    &:focus,&.focus {
        &:after {
            width: 100%;
            background-color: $link-color;
        }
    }
}

/*  css for textarea styling */
.fc-wrap.textbox {

    label {
        left: 10px;
        top: 10px;
    }

    .fc {
        padding: 15px 10px 10px;
        border-radius: 3px;
        border: 1px solid #999;
    }

    .error-msg {
        bottom: -10px;
    }

    &.focus, &.active {
        label {
            top: 5px;
            left: 10px;
        }
    }
    &.focus {
        .fc {
            border-color: $link-color;
        }
    }

    &.disabled {
        label, textarea {
            cursor: not-allowed;
        }
    }
}

/*  css for multi select options boxes  */
label.multiselectlbl {
    position: static;
    top: auto;
    left: auto;
    display: inline-block;
    margin: 0 6px;

    &:first-child {
        margin-left: 0;
    }

    input {
        display: none;
    }

    .boxoption {
        position: relative;
        display: block;
        min-width: 65px;
        padding: 8px 12px;
        border: solid 1px #ccc;
        border-radius: 25px;
        color: $light-color;
        text-align: center;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:after, &:before {
            display: none;
            position: absolute;
            top: -1px;
            left: 49%;
            content: " ";
            height: 0;
            width: 0;
            border: solid transparent;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(136, 183, 213, 0);
            border-top-color: #fff;
            border-width: 4px;
            margin-left: -4.5px;
        }

        &:before {
            border-color: rgba(194, 225, 245, 0);
            border-top-color: $link-color;
            border-width: 6px;
            margin-left: -6.5px;
        }

        .checked{
            display: none;
        }

        .val {
            line-height: 1;
            //text-transform: uppercase;
        }

        .optional-txt {
            display: block;
            font-size: 12px;
        }

    }


    input:checked + .boxoption, &.active .boxoption {
        color: #fff;
        border: solid 1px $link-color;
        background: $link-color;

    }

    &:hover {
        .boxoption {
            color: $link-color;
            border: solid 1px $link-color;
        }
    }

    &.disabled .boxoption, &.disabled:hover .boxoption, &.disabled input:checked + .boxoption, &.disabled:hover input:checked + .boxoption {
        color: lighten($lighter-color, 25%);
        border: solid 1px lighten($lighter-color, 25%);
        background-color: #fff;
        cursor: not-allowed;

        &:after, &:before {
            display: none;
        }
    }
}

/*  css for checkboxes styling  */
label.checkboxlbl {
    position: relative;
    display: inline-block;
    padding-left: 18px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;

    input[type=checkbox] {
        opacity: 0;
        width: 1px;
        height: 1px;
        display: none;
    }

    .txt {
        color: $body-color;
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;
        transition: all .2s ease;
        vertical-align: top;

        &:before {
            content: ' ';
            position: absolute;
            left: -10px;
            top: 0px;
            width: 20px;
            height: 20px;
            display: block;
            background: white;
            border: 1px solid #999;
            border-radius: 4px;
            transition: all .2s ease;
        }

        &:hover {
            &:before {
                border-color: $link-color;
            }
        }

        &:after {
            content: '\e9ca';
            font-family: icomoon;
            position: absolute;
            left: -8px;
            top: 2px;
            font-size: 14px;
            display: block;
            z-index: 1;
            width: 0;
            opacity: 0;
            color: #fff;
            line-height: normal;
            transition: all .2s ease;
        }
    }

    input[type=checkbox]:checked + .txt:after {
        width: 100%;
        opacity: 1;
    }

    input[type=checkbox]:checked + .txt:before {
        border-color: $link-color;
        background-color: $link-color;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        .txt:hover {
            &:before {
                border-color: #999;
            }
        }

        input[type=checkbox] {
            cursor: not-allowed;
        }
    }
}

/*  css for radio button styling  */
label.radiolbl {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 28px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;

    .outer {
        position: absolute;
        top: -3px;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid $lighter-color;
        border-radius: 50%;
        box-sizing: unset;
        background-color: #fff;
        font-size: 14px;
        line-height: 1;
        z-index: 1;
    }

    .inner {
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background-color: $link-color;
        font-size: 14px;
        line-height: 1;
        opacity: 0;
        z-index: 2;
        width: 0;
        transition: all 0.1s ease-in-out;
    }

    .txt {
        color: $lighter-color;
        font-size: 14px;
        line-height: 1;
        vertical-align: top;
    }

    input {
        display: none;
    }

    input:checked + .outer {
        .inner {
            width: 19px;
            opacity: 1;
            background-color: $link-color;
        }
    }

    input:checked + .outer {
        border: 1px solid $link-color;
    }

    &:hover {
        .inner {
            opacity: .5;
        }
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
            .inner {
                width: 0;
            }
        }
    }
}

/////  DROPDOWN STARTS  /////
.select-dropdown {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 0;
    min-width: 150px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    z-index: 0;
    overflow: auto;
    transition: height 0.3s ease-in-out;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            padding: 10px 25px 10px 10px;
            display: block;
            color: #666;
            position: relative;
            cursor: pointer;

            &:hover {
                color: #000;
                background-color: #f5f5f5;
            }

            &.active {
                &:after {
                    font-family: icomoon;
                    content: '\e9ca';
                    color: #e7248a;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }
    }

    &.multiselect {
        ul li {
            position: static;
            padding: 0;

            label.checkboxlbl {
                top: 0;
                display: block;
                padding: 9px 10px 10px 15px;
                margin-left: 20px;
                margin-right: 0;
                font-size: 14px;

                .txt {
                    font-size: 14px;
                    color: #666;

                    &:before {
                        top: 8px;
                    }

                    &:after {
                        top: 10px;
                    }
                }
            }
        }
    }
}

/* css for single selectbox form dropdowns */
.fc-wrap.selectbox {
    min-width: 150px;
    .fc {
        padding: 12px 15px 0 0;
        cursor: pointer;
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            content: '';
            transition: width 1s ease-in-out;
            background-color: #eeeeee;
        }
    }
    &.focus {
        .fc{
            &:after{
                width: 100%;
                background-color: $link-color;
            }   
        }
    }
    &:focus{
        .fc{
            &:after{
                width: 100%;
                background-color: $link-color;
            }
        }
    }
    .txt {
        font-size: 0;
        transition: all 0.3s ease-in-out;
    }
    &.active {
        .txt {
            font-size: 14px;
        }
    }
    &.open {
        .select-dropdown {
            height: auto;
            box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
            z-index: 3;
        }
    }

    &.disabled {
        .fc, label {
            cursor: not-allowed;
        }

        &:focus,&.focus {
            label {
                top: 10px;
                font-size: 14px;
            }
            .fc:after {
                width: 0;
                background-color: #eee;
            }
        }

        &.open {
            .select-dropdown {
                height: 0;
                box-shadow: none;
                z-index: 3;
            }
        }
    }
}

/* css for multiple selectbox form dropdowns */
.fc-wrap.multiselectbox {
    min-width: 150px;

    .fc {
        padding: 12px 15px 0 0;
        cursor: pointer;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            content: '';
            transition: width 1s ease-in-out;
            background-color: #eee;
        }
    }

    &:focus, &.focus {
        .fc:after {
            width: 100%;
            background-color: $link-color;
        }
    }

    &.open {
        .multiselect.select-dropdown {
            height: auto;
            box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
            z-index: 3;
        }
    }

    &.disabled {
        .fc, label {
            cursor: not-allowed;
        }

        &:focus,&.focus {
            label {
                top: 10px;
                font-size: 14px;
            }
            .fc:after {
                width: 0;
                background-color: #eee;
            }
        }

        &.open {
            .select-dropdown {
                height: 0;
                box-shadow: none;
                z-index: 3;
            }
        }
    }
}

/* css for input dropdown box */
.inputdropdown {
    min-width: 150px;

    .inputwrapper {
        width: 100%;

        label {
            cursor: pointer;
        }

        input.fc {
            padding-right: 10px;
            font-size: 14px;
            width: 100%;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            content: '';
            transition: width 1s ease-in-out;
            background-color: #eee;
        }
    }

    &:focus,&.focus {
        .inputwrapper:after {
            width: 100%;
            background-color: $link-color;
        }
    }

    &.active {
        .txt {
            font-size: 14px;
        }
    }

    &.open {
        .select-dropdown {
            height: 200px;
            box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
            z-index: 3;
        }
    }

    &.disabled {
        .fc, label {
            cursor: not-allowed;
        }

        &:focus,&.focus {
            label {
                top: 10px;
                font-size: 14px;
            }
            .inputwrapper:after {
                width: 0;
                background-color: #eee;
            }
        }

        &.open {
            .select-dropdown {
                height: 0;
                box-shadow: none;
                z-index: 3;
            }
        }
    }
}


/****** SOME MORE ELEMENTAL CONTROLLERS ******/

//////// Basic Dropdown /////////
.dd {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    min-width: 150px;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    z-index: 10;
    transition: height 0.3s ease-in-out;
}

// independent-single-select radio btn
label.independent-single-select {
    position: relative;
    display: block;
    padding: 8px 25px 8px 10px;
    font-weight: normal;
    font-size: 14px;
    color: #666;
    cursor: pointer;

    input {
        width: 1px;
        height: 1px;
        opacity: 0;
        display: block;
    }

    .icon-tick {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 13px;
        color: $link-color;
        opacity: 0;
        transition: opacity 0.15s ease-in;
    }

    input:checked + .icon-tick {
        opacity: 1;
    }

    &:hover {
        color: #000;
        background-color: #f5f5f5;
    }

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            color: #666;
            background-color: #fff;
        }
    }
}

/*   filter wrapper with 2 inputboxes and their typehead values in it (example: budget and area)   */
.dual-c-wrap {
    display: block;
    width: 100%;
    padding: 10px;

    .dual-box {
        width: 100%;
    }

    .inputwrap {
        width: calc(50% - 13px);
        display: inline-block;

        i {
            width: 10px;
            display: inline-block;
            vertical-align: middle;
            font-size: 11px;
        }

        input {
            width: calc(100% - 15px);
            margin: 0;
            border: solid 1px #ececec;
            border-radius: 3px;
            padding: 5px;
            font-size: 12px;
        }

        &.max {
            text-align: right;

            input {
                text-align: left;
            }
        }
    }

    .linex {
        width: 8px;
        height: 1px;
        margin: 0 4px;
        background: #a7a7a7;
        vertical-align: middle;
        display: inline-block;
    }

    .option-wrap {
        width: 100%;
        margin: 10px 0 0 0;

        .optionbox {
            margin: 0 -10px;
            display: none;

            &.min {
                text-align: left;
            }

            &.max {
                text-align: right;
            }

            &.active {
                display: block;
            }
        }

        .optionitem {
            padding: 5px 15px;
            color: #444;
            font-size: 14px;
            cursor: pointer;

            i {
                font-size: 11px;
                vertical-align: middle;
            }

            &:hover {
                background-color: #eee;
                color: #1c1c1c;
            }

            &.active {
                font-weight: bold;
            }
        }
    }
}

.input-box {
    margin:35px 0 0 0;
    border-bottom:1px solid #cccccc;
    position:relative;
    width: 100%;
    transition: border-bottom-color 0.3s ease-in-out;
    label {
        position:absolute;
        left:0;
        top:3px;
        font-size:1em;
        color: #999999;;
        z-index:1;
        font-weight:normal;
        transition: all 0.3s ease-in-out;
    }
    input {
        background:none;
        width:100%;
        outline:none;
        border:none;
        padding:0;
        font-size:1em;
        color:#333333;
        position:relative;
        z-index:2;
        padding:6px 0 0 0;
        resize:none;
        box-shadow: none;
    }
    &:after {
        content:'';
        height:1px;
        width:100%;
        position:absolute;
        bottom:-1px;
        left:0;
        background:#E71C28;
        width: 0;
        transition:all 0.15s ease-in-out;
    }
    &:hover:after, &.focus:after {
        width: 100%;
    }
    input {
        padding: 6px 12px 2px 0;
    }
    input[readonly] {
        cursor: pointer;
    }
    &:focus  {
        box-shadow: none;
        outline: 0;
    }
    &.active {
       label {
           font-size:10px;
           top: -10px;
       }
   }
}
