.input-field-box{
	position: relative;
	width: 100%;
	height: 47px;
	border: 1px solid #d8d8d8;
	padding: 20px 10px 0 10px;
	margin-bottom: 12px;
	cursor: text;

	.icon{
		position: absolute;
		right: 10px;
		top: 3px;
	}

	label{
		font-size: 14px;
		color: #939393;
		font-weight: normal;
		position: absolute;
		margin: 0;
		left: 10px;
		top: 14px;
		transition: all 0.2s ease-in-out;
	}

	input{
		width: 100%;
		font-size: 14px;
		color: $heading-color;
		background: none;
		border: none;
		outline: none;
		display: block;
		padding: 0 0 2px 0;
		line-height: normal;
		text-indent: 0;
	}

	.c-code{
		float: left;
		height: 16px;
		width: 120px;
		position: relative;
		padding-right: 15px;

		.fc-wrap{
			display: block;
			margin: 0;

			i.arrowdown{
				top: 5px; 
			}

			&.selectbox{
				min-width: 100%;

				.fc{
					padding: 0;
					color: inherit;
					font-size: inherit;
					border-bottom: none;
					box-shadow: none;

					&:after{
						display: none;
					}
				}

				&.active .txt{
					font-size: 14px;
				}

				&.open{ 
					.select-dropdown{
						top: 23px;
						left: -10px;
						height: 113px;
					}
				}
			}

		}

		span{
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: block;
			height: 16px;
			width: 94%;
			line-height: 16px;
		}
	}

	.m-no{
		float: left;
		height: 16px;
		width: calc(100% - 120px);
		padding-left: 51px;
		position: relative;

		> span{
			position: absolute;
			left: 18px;
			top: -1px;
			height: 16px;
			width: 43px;
		}
	}

	.fill-otp{
		height: 16px;
		width: 190px;
		position: relative;
		margin-left: 65px;

		input{
		    position: relative;
	        z-index: 2;
	        width: 100%;
	        letter-spacing: 36px;
	        text-indent: 10px;
	        font-family: monospace;
		}

		&:before {
            content: "____ \00a0 \00a0 \00a0 ____ \00a0 \00a0 \00a0 ____ \00a0 \00a0 \00a0 ____";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            z-index: 1;
            color: #d8d8d8;
        }

        &:after{
        	content: '';
        	position: absolute;
        	right: 0;
        	bottom: -5px;
        	width: 25px;
        	height: 30px;
        	background-color: #fff;
        	z-index: 22;
        }
	}

	&.active,
	&:focus{

		label{
			top: 3px;
			font-size: 11px;
		}
	}

	.validation-msg{
		position: absolute;
		left: 10px;
		bottom: -12px;
		font-size: 9px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease-in-out;
	}

	&.disable{
		opacity: 0.4;
		pointer-events: none;
	}

	&.error{
		border-color: $theme-color;
		.validation-msg{
			color: $theme-color;
			opacity: 1;
			visibility: visible;
		}

	}

	&.warning{
		border-color: $theme-color-two;
		.validation-msg{
			color: $theme-color-two;
			opacity: 1;
			visibility: visible;
		}

	}

	&.success{
		.validation-msg{
			color: $green-color;
			opacity: 1;
			visibility: visible;
		}

	}
}
.otp-cta-wrap{
	span{
		font-size: 14px;
		color: $theme-color;
		cursor: pointer;			
	}
}

/*mobile screen css*/
@media screen and(max-width: 767px){
	.input-field-box{
		.fill-otp{
			input{
		        letter-spacing: 30px;
		        text-indent: 9px;
			}
		}
	}
}