.hamburger-wrap {
    position: relative;
    padding-left: 15px;

    .hamburger-icon {
        width: 24px;
        height: 20px;
        position: relative;
        transition: .5s ease-in-out;
        cursor: pointer;
        text-align: right;

        > li {
            display: block;
            height: 2px;
            background: $link-color;
            border-radius: 3px;
            margin-bottom: 7px;

            &:nth-child(1) {
                background: #e71c28;
            }

            &:nth-child(2) {
                margin-left: 25%;
                background: #fba511;
            }

            &:nth-child(3) {
                background: #e62489;
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .hamburger-wrap {
        padding-left: 10px;
        .hamburger-icon {
            width: 22px;
            height: 20px;
            z-index: 99;
        }
    }
}