//header
@import "../mixins/ellipsis";
@import "hamburger";
@import "multilocality-search";

$borderColor: #ebebeb;

// menudrawer Box Init
.mdbox {
    position: fixed;
    top: 0;
    right: 0;
    //display: none;  // to keep it in hidden state
    height: 100%;
    width: 260px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    transition: transform .15s ease-in-out;
    transform: translateX(260px);
    z-index: 3000;
}

header.header {
    position:fixed;
    top: 0;
    right: 0;
    height: $hdrheightMobile;
    width: 100%;
    padding: 0 10px;
    background-color: #fff;
    border-bottom: 1px solid $borderColor;
    transition: all 0.15s ease-in-out;
    z-index: 3000;

    .initial {
        font-size: 17px;
        line-height: 26px;
        text-transform: uppercase;
        text-align: center;
    }

    .makaan-logo {
        max-width: 150px;
        max-height: $hdrheightMobile;
        height: $hdrheightMobile;
        border-right: 1px solid $borderColor;
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
        padding-right: 10px;
    }

    .ddwrap {
        top: $hdrheightMobile;
    }

    .buy-rent {
        position: relative;
        display: none;
        width: 80px;
        padding: 11px 0;
        border-right: 1px solid $borderColor;
        vertical-align: top;
        font-size: 16px;
        cursor: pointer;
        text-transform: capitalize;

        i {
            display: inline-block;
            width: 10px;
            margin-left: 8px;
            color: $link-color;
            font-size: 12px;
            transition: transform 150ms ease-in-out;
        }

        span {
            display: inline-block;
        }

        ul.ddbuyrent {
            top: $hdrheightMobile;
            padding: 0;
            border-radius: 0;
            z-index: 1001;

            li {
                padding: 12px;
                cursor: pointer;
                position: relative;
                text-align: left;
                z-index: 1001;

                &:hover {
                    background-color: $borderColor;
                    color: $link-color;
                }

                &.active {
                    &:after {
                        position: absolute;
                        top: 10px;
                        right: 5px;
                        display: inline-block;
                        content: "\e9ca";
                        color: $link-color;
                        font-size: 14px;
                        font-family: 'icomoon' !important;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
            }
        }

        &.open {
            ul.ddbuyrent {
                height: auto;
                min-width: 100px;
                border-top: solid 1px #ebebeb;
                padding-left: 10px;
                padding-right: 10px;

                .resiHeading, .comHeading {
                    padding: initial;
                    text-align: left;
                    margin-top: 5px;

                    li {
                        padding: 5px;
                        margin-left: 20px;
                    }
                }

                .resiHeading {
                    border-bottom: 1px solid #e4e4e4;
                }
            }

            i {
                transform: rotate(180deg);
            }
        }
    }


    .multiloclity-search-wrap{

        // to show the selected city / locality / suburb
        .tag-wrap {
            height: 100%;
            .srched-tag {
                max-width: 70px;
            }
        }

        &.search-expand{
            .thcontainer{
                position: absolute;
                width: calc(100% + 10px);
                z-index: 1;
            }
        }

        .thcontainer{
            padding-left: 26px;
            background: #fff;
            padding-top: 2px;
            padding-bottom: 4px;
            position: relative;
            transition: width 0.3s ease-in-out;
        }
    }

    .search-col {
        position: relative;
        display: inline-block;
        width: 58%;
        height: $hdrheightMobile;
        border-right: 1px solid $borderColor;
        vertical-align: middle;
        transition: all 300ms ease-in-out;
        
        .srchbtn {
            position: absolute;
            top: 10px;
            left: 1%;
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            transition: all 500ms ease-in-out;
            z-index: 2;
        }

        .search-wrap {
            position: relative;
            padding-top: 0px;
        }

        .thdd {

            ul {
                li {
                    .result-row {
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    .rhs-links {
        float: right;
        width: 28%;
        .rhs-linklist {
            padding: 0;
            font-size: 15px;
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            > li {
                padding: 0px 10px;
                border-right: 1px solid $borderColor;
                vertical-align: middle;
                text-align: center;
                white-space: nowrap;

                &.home-loan {
                    // display: none;
                }
                &.sellersitelink {
                    .txt {
                        // display: none;
                        vertical-align: middle;
                    }
                }
                a, .span-link {
                    color: #444444;
                    &:hover {
                        text-decoration: none;
                        color: $link-color;
                        cursor: pointer;
                    }
                }

                .signin {
                    vertical-align: middle;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    cursor: pointer;
                    padding-left: 5px;
                    display: inline-block;

                    &:hover {
                        color: $link-color;
                    }

                    &.notclickable {
                        &:hover {
                            color: #444444;
                            cursor: inherit;
                        }
                    }

                    &.m-username {
                        max-width: 110px;
                    }
                }

                .logininitial-wrap.hide~.signin {
                    width: 100%;
                }

                .logininitial-wrap {
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                }

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    border-right: none;
                    text-align: right;
                    padding: 8px 0;
                }

                .user-img {
                    position: relative;
                    width: 26px;
                    height: 26px;
                    background-size: contain;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;

                    span.initial {
                        display: block;
                        z-index: 999;
                    }

                    .avatar {
                        display: block;
                        width: 26px;
                        height: 26px;
                        background: url("/images/sprite-header.png") no-repeat;
                        background-position: -56px 0;
                        vertical-align: top;

                        img {
                            vertical-align: top;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }

                    a {
                        text-decoration: none;
                        transition: all 300ms ease-in-out;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    
        .favpulse {
            position: absolute;
            right: 20px;
            top: 0px;
            color: #fff;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            z-index: 100;

            i {
                color: $link-color;
                font-size: 28px;
            }

            .count {
                position: absolute;
                right: 9px;
                bottom: 9px;
                color: #fff;
                font-size: 14px;
            }

            &.fadein {
                opacity: 0.98;
                visibility: visible;
                animation: pulse2 1s 1 linear;
            }
        }
    }
}

.app-img {
    display: inline-block;
    width: 18px;
    height: 28px;
    background: url("/images/sprite-header.png") no-repeat;
    background-position: -83px 0;
    vertical-align: middle;
    text-align: center;
}

.list-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url("/images/sprite-header.png") no-repeat;
    background-position: -28px 0;
    vertical-align: middle;
    text-align: center;
}

.homeloan-img {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 3px;
    vertical-align: middle;
    text-align: center;
    background: url("/images/sprite-header.png") no-repeat;
    background-position: 0 0;
}

.makaan-select-img {
    display: inline-block;
    width: 100px;
    height: 26px;
    margin-right: 3px;
    vertical-align: middle;
    text-align: center;
    background: url("/images/makaan-select/header-logo.png") no-repeat;
    background-position: 0 0;
    background-size: contain;
}

/*-- css for tooltip content --*/
.introjs-helperNumberLayer {
    display: none !important;
}

.makaan-select-tooltip-highlight {
    width: 90px !important;
    padding: 4px;
}

.makaan-select-tooltip {
    min-width: 195px !important;
    padding: 15px !important;
    background: url("/images/makaan-select/ms-tooltip.jpg") no-repeat;
    background-position: right;
    background-size: contain;
    color: #000 !important;
    font-size: 14px;
    left:-60px !important;
    cursor: pointer;

    .link{
        color: $link-color;
        text-decoration:underline;
        font-size: 12px;
        display: block;
        margin-top: 7px;
    }

    label{
        color: #ffbc00;
    }

    .introjs-bullets {
        display: none !important;
    }

    .introjs-tooltipbuttons {
        display: none !important;
    }    
}
/*-- css for tooltip content end --*/

header.header .rhs-links .rhs-linklist > li.makaan-select {
    position: relative;
    padding: 10px;

    .makaan-select-tooltip-content {
        display: none;
        position: absolute;
        top: 40px;
        left: -38px;
        width: 200px;
        padding: 15px;
        background: url("/images/makaan-select/ms-tooltip.jpg") no-repeat;
        background-position: right;
        background-size: contain;
        background-color: #ffffff;
        border-radius: 3px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
        color: #000;
        font-size: 14px;
        text-align: left;
        white-space: normal;
        transition: opacity .1s ease-out;
        cursor: pointer;

        .link {
            color: $link-color;
            text-decoration: underline;
            font-weight: 400;
            font-size: 12px;
            display: block;
            margin-top: 7px;
        }

        .arrow-top-middle {
            content: '';
            position: absolute;
            top: -5px;
            left: 50%;
            margin-left: -5px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
        }

        label {
            color: #ffbc00;
        }
        span{
            width:100%;
            height: 100%;
            display: block;
        }
    }

    &:hover {
        .makaan-select-tooltip-content {
            display: block;
        }
    }
}



/*for large screen users*/
@media screen and (min-width: 769px){

    header.header {
        height: 50px;
        padding: 0 15px;

        .makaan-logo{
            max-height: 50px;
            height: 50px;
            padding-top: 0px;

            .home-default {
                line-height: 50px;
            }
        }

        .buy-rent {
            position: relative;
            width: 170px;
            padding: 14px 0;
            display: inline-block;
        }

        .multiloclity-search-wrap{

            .tag-wrap {
                .srched-tag{
                    max-width: 110px;
                }
            }

            &.search-expand{
                .thcontainer{
                    width: 200%;
                }
            }

            .thcontainer{
                padding-left: 35px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .search-col{
            height: 50px;
            width: 26%;
            .search-wrap{
                padding-top: 1px;
            }

            .srchbtn {
                top: 8px;
                font-size: 18px;
            }
        }
    }
    .rhs-links {
        width: auto;
        .rhs-linklist{
            height: 50px;

            >li {
                &.download-s-app,
                &.sellersitelink,
                &.home-loan {
                    display: inline-block;
                }
                &.sellersitelink {
                    .txt {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
