@keyframes flipOut{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.highlighter-badge{
    position: absolute;
    right: -10px;
    bottom: -10px;
    transition: all 0.3s ease-in-out;

    img{
        width: 24px !important;
        height: 24px !important;
        background: none !important;
        cursor: default !important;
        line-height: normal !important;
        font-size: 0 !important;
        opacity: 0;
        animation: flipOut 0.3s ease-in-out 3s forwards;
    }
}