.hl-dashboard {
    section {
        max-width: 1080px;
        margin: 0 auto;
        h2.title,
        .group-hdng {
            font-size: 24px;
            font-family: $roboto !important;
            margin: 20px 0px;
        }
        &.hl-latest-track {
            h2.title {
                margin-top: 75px;
            }
        }
        &.homeloan-calcs {
            h2.title {
                margin: 48px 0px 10px;
            }
        }
    }
    ///// MAKAAN IQ BLOG SECTION CSS STARTS //////
    @import "../mixins/ellipsis";
    .makaaniq-wrap {
        @import "blog-makaaniq";
    }
    ///// MAKAAN IQ BLOG SECTION CSS ENDS //////
    .btn-v3 {
        display: inline-block;
        background-color: #e81c28;
        color: #fff;
        font-size: 18px;
        padding: 8px 24px;
        border-radius: 25px;
        cursor: pointer;
    }
    .first-fold {
        margin: 0px auto 40px;
        padding: 85px 35px 0px;
        height: 330px;
        width: 100%;
        max-width: 100%;
        background-image: url($imgPath + '/homeloanDash/desktop/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        .main-img-wrap {
            display: inline-block;
            width: 60%;
            max-width: 726px;
            vertical-align: middle;
            text-align: right;
        }
        .main-img {
            display: inline-block;
            width: 100%;
            max-width: 680px;
            height: 285px;
            background-image: url($imgPath + '/homeloanDash/desktop/hld-main.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .main-txt-wrap {
            margin-left: 25px;
            width: 33%;
            max-width: 400px;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
        .main-txt {
            margin-bottom: 25px;
            max-width: 365px;
            font-size: 35px;
            line-height: 1.2;
            font-weight: 500;
        }
    }
    .homeloan-calcs {
        .fc-wrap {
            &.full-width {
                display: block;
                width: 100%;
            }
        }
        .switch-cal {
            margin: 10px 0px;
            display: inline-block;
            border: solid 1px #e81c28;
            border-radius: 25px;
            position: relative;
            cursor: pointer;
            .calc-btn {
                width: 130px;
                display: inline-block;
                text-align: center;
                font-size: 16px;
                color: #e81c28;
                padding: 7px 0px;
                position: relative;
                transition: all 150ms ease-in-out;
                &:first-child {
                    border-bottom-left-radius: 25px;
                    border-top-left-radius: 25px;
                }
                &:last-child {
                    border-bottom-right-radius: 25px;
                    border-top-right-radius: 25px;
                }
                &.active {
                    background-color: #e81c28;
                    color: #fff;
                }
            }
        }
        .home-loan-wrap {
            padding: 0px;
        }
        .emi-calc {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0px 35px 0px 5px;
        }
        .emi-calc-wrap {
            display: inline-block;
            width: 60%;
        }
        .emicalc-action {
            position: relative;
            float: right;
            width: 30%;
            border-left: solid 1px #f5f5f5;
            padding-left: 40px;
            .eli-la {
                margin-top: 80px;
                clear: both;
                text-align: center;
                font-size: 16px;
                .loan-amt {
                    color: #444;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            .eli-img {
                position: relative;
                margin-right: 15px;
                margin-left: 25px;
                float: left;
                .hg-top {
                    position: absolute;
                    bottom: 85px;
                    left: 0;
                    height: 70px;
                    width: 100%;
                    background-color: #ffcaca;
                    z-index: -1;
                    transition: height 50ms ease-in-out;
                }
                .hg-bot {
                    position: absolute;
                    bottom: 13px;
                    left: 0;
                    height: 0px;
                    width: 100%;
                    background-color: #ffcaca;
                    z-index: -1;
                    transition: height 50ms ease-in-out;
                }
                .hg-stick {
                    position: absolute;
                    top: 88px;
                    left: 54px;
                    height: 67px;
                    width: 2px;
                    background-color: rgb(255, 202, 202);
                }
            }
            .eli-amt {
                margin-top: 40px;
                font-size: 40px;
                font-weight: 600;
                line-height: .99;
            }
            .eli-txt {
                font-size: 16px;
                max-width: 250px;
                font-weight: 100;
            }
            .eli-btn {
                clear: both;
                margin-top: 15px;
            }
            .emi-error {
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 65px;
                background-color: rgba(255, 255, 255, .9);
                height: 100%;
                width: 100%;
                font-size: 25px;
                text-align: center;
                opacity: 0;
                visibility: hidden;
                transition: all 150ms ease-in-out;
                z-index: 1;
                &.show-emi-error {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .homeloan-bank-outerDiv {
        background-color: #fbfbfb;
        padding: 36px 0px;
        margin: 72px 0px;
    }
    .homeloan-bank-logo {
        .banks {
            .bank-img {
                img {
                    width: 100%;
                    height: 100%;
                }
                display: inline-block;
                max-width: 120px;
                margin: 0px 50px 40px 0px;
            }
        }
    }
    //override for homeloansection tag
    .btn-wrap-loan {
        padding-right: 9%;
    }
}
