@import "../variables";
@import "../mixins/ellipsis";

// our partners section starts 
.our-investors-section {
    border-bottom: solid 1px #f0f0f0;
}

.investors-wrap {
    text-align: center;

    .investors-logo {
        margin-top: 55px;
        margin-bottom: 20px;
        display: inline-block;
        width: 950px;

        li {
            display: inline-block;
            vertical-align: middle;

            .onloadimage {
                display: inline-block;
                background: url(/images/homepage/funderLogo.png) no-repeat;
                overflow: hidden;
                text-indent: -9999px;
                text-align: left;
                //filter: grayscale(1);
                transition: all 0.2s linear;

                &:hover {
                    filter: none;
                }
            }

            .investor-newscorp {
                background-position: -5px 0;
                width: 138px;
                height: 40px;
            }

            .investor-rea-group {
                background-position: -5px -86px;
                width: 135px;
                height: 40px;
            }

            .investor-softbank {
                background-position: -5px -45px;
                width: 137px;
                height: 36px;
            }

            .investor-saif-partners {
                background-position: -5px -131px;
                width: 129px;
                height: 16px;
            }

            .investor-accel {
                background-position: -5px -152px;
                width: 95px;
                height: 30px;
            }

            .investor-rb-investment {
                background-position: -5px -222px;
                width: 78px;
                height: 40px;
            }

            .investor-nexus-venture {
                background-position: -5px -187px;
                width: 90px;
                height: 30px;
            }
        }
    }
}
// our partners section ends


// for desktops
@media screen and (min-width: 769px) {
    .investors-wrap {
        .investors-logo {
            width: 100%;
            max-width: 1170px;

            li {
                width: 14%;
            }
        }
    }
}


// for smaller screen sizes
@media screen and (max-width: 768px) {
    .investors-wrap {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        .investors-logo {
            li {
                margin-right: 20px;
            }
        }
    }
}

