@import "../variables";
@import "../mixins/ellipsis";


// sell rent section starts 
.sell-rent-section {
    .sell-rent-img {
        height: 160px;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;

        &.onloadimage {
        	background-image: url(/images/homepage/new/sell-rent.png);
        }
    }
}
// sell rent section ends 


// for desktops
@media screen and (min-width: 769px) {
	.sell-rent-section {
	    &.h-section {
	        padding-top: 120px;
	    }

	    .sell-rent-img {
	    	height: 240px;
	        margin-top: 60px;

	        &.onloadimage {
	        	background-image: url(/images/homepage/new/to-let.gif);
	        }
	    }
	}
}

// for smaller screen sizes
@media screen and (max-width: 768px) {
    .sell-rent-section {

    }
}