@import "../variables";
@import "../mixins/ellipsis";

// THE SEARCH BEGINSSSSSSSS
.search-section {
    position: relative;
    border-bottom: solid 1px #f0f0f0;

    &.onloadimage {
        background-repeat: repeat-x;
        background-color: transparent;
        background-image: url(/images/homepage/new/city3-mob.jpg);
        background-position: center bottom; // bottom align
        background-size: contain;
    }

    &.h-section {
        padding: 50px 15px 90px;
    }

    .seperator-line-4-color {
        position: absolute;
        bottom: 8px;
        left: 0;
        right: 0;
        height: 5px;
        z-index: 1;

        .c1, .c2, .c3, .c4 {
            display: inline-block;
            width: 25%;
            height: 4px;
        }

        .c1 {
            background-color: $lighter-color;
        }
        .c2 {
            background-color: #f2c000;
        }
        .c3 {
            background-color: #e87244;
        }
        .c4 {
            background-color: #e4286d;
        }
    }
}

// buy-rent tab starts
.buy-rent-tab.sleek-tabs {
    padding: 25px 0 0;

    ul {
        > li {
            display: inline-block;

            .triangle {
                color: $dark-color;
                font-size: 15px;
                border-bottom-width: 2px;
            }

            &.selected {
                .triangle {
                    color: $link-color;
                    font-weight: bold;
                    border-bottom-width: 2px;
                }
            }
        }
    }
}

// residential-commercial tab starts
.residential-commercial-tab {
    padding: 50px 0 0;
    width: 30%;

    ul {
        height: 38px;
        border: 1px solid #e1e1e1;
        > li {
            display: inline-block;
            padding: 8px 20px 0;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            width: 50%;
            height: 100%;
            &.selected {
                background: #e71c28;
                color: white;
            }
        }
    }
}

.outer-search-box {
    position: relative;

    // search btn class
    .srchbtn {
        font-size: 16px;
        padding: 0 15px;
        height: 44px;
        line-height: 44px;
        z-index: 9999;

        i.icon-reset {
            span:before {
                color: #fff;
            }
        }
    }

    .search-wrap {
        border-top: solid 1px #ececec;
        border-bottom: solid 1px #ececec;
        background-color: #fff;
        box-shadow: 0 10px 20px 0px rgba(0,0,0,0.125);

        // search icon only for mobiles
        .srchicon {
            position: absolute;
            top: 24px;
            right: 5px;
            z-index: 1000;
            height: 32px;
            width: 44px;
            padding-top: 5px;
            text-align: center;
            font-size: 17px;
            background-color: $link-color;
            cursor: pointer;
            border-radius: 20px;

            // search icon
            .icon-search {
                color: #fff;

                .path1:before, .path2:before {
                    color: #fff;
                }
            }
        }

        // typehead dropdown (.thdd)
        .thdd {
            min-width: 500px;
            z-index: 999;

            ul {
                li {
                    .result-row {
                        .type {

                        }
                        .result {

                        }
                    }
                }
            }
        }
    }
}

// reset search btn
.btnreset {
    padding: 5px 12px;
    background-color: rgba(255, 255, 255, 0.81);
    border-radius: 20px;
    color: $light-color;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    width: 220px;
    display: block;
    margin: 20px auto 0;
    text-align: center;

    .new {
        color: $link-color;
    }

    &:hover {
        color: initial;
        text-decoration: none;
    }
}

// the home page desktop filters
.home-d-filter-wrap {
    padding: 0;
    background-color: #fff;
    z-index: 9999;
    font-size: 0;

    .flexrow {
        display: flex;
        justify-content: flex-start;
    }

    .filter-wrap {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }

    .filter-hdng {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;

        .flbl {
            text-transform: uppercase;
            display: inline-block;
        }

        .icon-chevron-down {
            color: $lighter-color;
            font-size: 10px;
            position: relative;
            top: 2px;
            padding-left: 5px;
        }
    }

    .prop-type {
        .filter-hdng {
            .flbl {
                @include putellipsis;
                max-width: 112px;
                display: inline-block;
            }
        }
    }

    .hsf-col {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 6px;
        font-size: 14px;
        width: auto;
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }

        .ddbed,
        .ddbudget,
        .ddproptype {
            overflow-y: auto;
            overflow-x: hidden;
        }

        &:hover {

            .filter-hdng {
                .flbl {
                    color: $link-color;
                }
            }

            .ddbudget,
            .ddbed,
            .ddproptype {
                height: auto;
                box-shadow: 0 2px 20px 0px rgba(0,0,0,0.125);
            }
        }
    }

    .ddbudget {
        width: 250px;

        .option-wrap {
            .optionbox.active {
                overflow-y: auto;
                overflow-x: hidden;
                height: 200px;
                margin-right: -9px;
            }
            .optionitem.active {
                color: $link-color;
            }
        }
    }

    .ddbed {
        width: 355px;

        .fc-wrap {
            display: flex;
            justify-content: space-around;
            margin: 10px;
        }

        label.multiselectlbl {
            margin: 0 3px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .ddproptype {
        width: 220px;

        .fc-wrap {
            margin: 10px 10px 20px;
        }

        label.checkboxlbl {
            display: block;
            margin-bottom: 10px;
        }
    }
}

// THE SEARCH ENDSSSSSSSSSSSSSSSSS

@media screen and (min-width: 769px) {
    .search-section {

        &.onloadimage {
            background-image: url(/images/homepage/new/city3.jpg);
            background-position: center 145px; // center horizontally and 145px from top
            background-attachment: fixed;
            background-size: auto;
        }

        &.h-section {
            min-height: 490px;
            padding: 80px 0 0; // bottom padding as per background image
        }

        .title {
            max-width: 600px;
            margin: 0;

            &.repeat-user {
                max-width: 100%;
            }
        }
    }

    .buy-rent-tab.sleek-tabs {
        width: 600px;
    }

    .outer-search-box {
        display: flex;
        padding: 16px;
        align-items: flex-start;
        width: 100%;
        border-top: solid 1px #ececec;
        border-bottom: solid 1px #ececec;
        background-color: #fff;
        box-shadow: 0 10px 20px 0px rgba(0,0,0,0.125);
        position: relative;

        .multiloclity-search-wrap{
            width: 100%;
        }

        .search-with-filters{
            width: 100%;
            margin-right: 200px;
        }

        // search btn class
        .srchbtn {
            position: absolute;
            top: 17px;
            right: 16px;
            padding: 0 25px;
            font-size: 14px;
            height: 38px;
            line-height: 38px;
        }

        .search-wrap {
            border: none;
            box-shadow: none;
            z-index: 99999;

            // search icon
            .srchicon {
                display: none;
            }
        }
    }

    .btnreset {
        font-size: 18px;
    }
}