@import "../variables";
@import "../mixins/ellipsis";
@import "highlighter-badge";

.top-dealmaker-wrap {
    text-transform: none;
    background-color: #fff6e4;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

    &.onloadimage {
        background-image: url(/images/homepage/new/makaan-pattern-mobile.jpg);
    }

    .dealmaker {
        .punch-lines-wrap {
            padding: 10px 0px 0px;

            // section titles
            .title {
                color: $dark-color;
                font-size: 36px;
                font-weight: 300;
                line-height: 1.2;

                strong {
                    font-weight: 600;
                }
            }

            .subtitle {
                padding: 10px 0 20px;
                color: $lighter-color;
                font-size: 18px;
            }
        }

        .buy-rent-wrap {
            .switch-toggle {
                margin: 10px 0px;
                border: solid 1px #f0f0f0;
            }
        }
    }

    .dealmaker-list {
        padding: 10px 0 20px;
        transition: all 0.3s ease-in-out;
        display: flex;
    }

    $bsc-width: 380px;

    li.big-seller-card {
        position: relative;
        z-index: 1;
        flex: 0 0 $bsc-width;
        width: $bsc-width;
        height: 210px;
        vertical-align: top;
        margin: 0 25px 0 5px;
        background-color: #fff;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
        transition: transform 0.3s ease-in-out;
        font-size: 14px;
        line-height: 1.25;
        cursor: pointer;

        &:before, &:after {
            content: '';
            position: absolute;
            z-index: -1;
            bottom: -3px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: calc((#{$bsc-width} / 2) - 5px);
            border-bottom-width: 0;
        }

        &:before {
            left: 5px;
            border-color: #e62489;
            border-right-width: 0;
            transform: rotate(-2deg);
        }

        &:after {
            right: 5px;
            border-color: #f5a623;
            border-left-width: 0;
            transform: rotate(2deg);
        }

        .scwrapper {
            height: 100%;
            background-color: #fff;
        }

        // badge css
        .dmLabel {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .sllr-img-name-row, .sllr-highlights-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .sllr-img-name-row {
            padding: 15px 15px 10px;
        }

        // seller image css starts
        $simgw: 70px;

        .seller-img-box {
            width: $simgw;
            height: $simgw;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;

            &.s-bg {
                background-image: url(/images/seller-img1.png);
            }

            img {
                display: inline-block;
                object-fit: cover;
            }
        }
        // seller image css ends

        // seller name and designation css starts
        .slr-dtls-name {
            width: calc(100% - #{$simgw});
            padding-left: 10px;
            text-align: left;
        }

        .legalname {
            @include putellipsis;
            max-width: calc(100% - 30px);
            color: $dark-color;
            font-size: 18px;
            font-weight: 500;
        }

        .designation {
            @include putellipsis;
            padding-top: 5px;
            font-size: 12px;
            font-weight: bold;
            color: $light-color;
            text-transform: uppercase;
        }
        // seller name and designation css ends

        // seller highlighting feature starts
        .sllr-highlights-row {
            align-items: flex-start;
            padding: 10px 20px;
        }
        .rating-container {

        }
        .option-wrap {
            padding-left: 10px;

            .option {
                display: inline-block;
                margin: 0 10px 6px 0;
                color: $light-color;

                span {
                    color: $dark-color;
                }
            }
        }
        // seller highlighting feature ends

        // seller bottom wrapper for localities starts
        .sllr-deals-in-row {
            position: absolute;
            bottom: 0;
            width: 100%;
            border-top: solid 1px #ececec;
            padding: 15px 20px;

            .linktxt {
                display: inline-block;
                vertical-align: top;
                color: $link-color;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .deals-in-list {
            @include putellipsis;
            color: $lighter-color;

            .txt {
                margin-right: 3px;
            }
        }
        // seller bottom wrapper for localities ends

        &:hover {
            transform: translate(0, -4px);
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
        }
    }

    // overwrites
    .top-sellers.hp-top-sellers {
        margin: 20px auto;
        width: 100%;
        border-bottom: 0;
        overflow: visible;
    }
}

@media screen and (min-width: 769px) {
    .top-dealmaker-wrap {
        &.onloadimage {
            background-image: url(/images/homepage/new/makaan-pattern-desktop.jpg);
        }
        [data-module="topSellers"].h-section {
            padding: 50px 0px;
        }

        li.big-seller-card {
            .leagalname {
                font-size: 20px;
            }

            .deals-in-list {
                display: inline-block;
                width: calc(100% - 75px);
            }
        }
    }
}

/*for mobile screens*/
@media screen and (max-width: 768px) {
    .top-dealmaker-wrap {

        [data-module="topSellers"] {
            padding: 0px 15px;

            &.h-section {
                padding: 40px 25px 20px;
            }
        }

        .dealmaker {
            .punch-lines-wrap {
                width: 85%;

                .title {
                    font-size: 24px;
                }

                .subtitle {
                    font-size: 16px;
                }
            }

            .top-sellers.hp-top-sellers {
                overflow-x: auto;
                overflow-y: hidden; 
                margin: 10px auto 10px;
            }
        }

        $bsc-width: 280px;

        li.big-seller-card {
            width: $bsc-width;
            flex: 0 0 $bsc-width;
            //height: 220px;
            float: left;
            margin-right: 15px;

            &:before, &:after {
                //border-width: calc((#{$bsc-width} / 2) - 5px);
            }

            .sllr-img-name-row, .sllr-highlights-row, .sllr-deals-in-row {
                padding: 10px;
            }

            $simgw: 50px;

            .seller-img-box {
                width: $simgw;
                height: $simgw;
            }

            .slr-dtls-name {
                width: calc(100% - #{$simgw});
            }
        }

        .defaultbox {
            width: 260px;
            cursor: default;

            .bgimg {
                height: 140px;
            }

            .txt {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 360px) and (min-width: 320px) {
    .top-dealmaker-wrap {

        [data-module="topSellers"] {
            &.h-section {
                padding: 40px 15px 20px;
            }
        }

        $bsc-width: 260px;

        li.big-seller-card {
            width: $bsc-width;
            flex: 0 0 $bsc-width;
        }
    }
}