.leadenquiry-container.home-loan-lead {
    text-align: center;
    .lead-container {}
    .second-pane {
        border: none;
        .form-row {
            max-width: 300px;
            margin: 0px auto;
        }
        .country-dd {
            vertical-align: -8px;
        }
        .chkbox-wrap {
            padding-top: 10px;
        }
    }
    .inputbox {
        &.full-width {
            display: block;
        }
    }
    .close-popup {}
}

@media (max-width: 768px) {
    .home-loan-lead {
        .second-pane {
            .form-row {
                max-width: 90%;
            }
        }
    }
}
