@import "../variables";
@import "../mixins/ellipsis";

// THE SEARCH BEGINSSSSSSSS
.search-section {
    position: relative;
    border-bottom: solid 1px #f0f0f0;

    &.onloadimage {
        background-repeat: repeat-x;
        background-color: transparent;
        background-image: url(/images/homepage/new/city3-mob.jpg);
        background-position: center bottom; // bottom align
        background-size: contain;
    }

    &.h-section {
        padding: 50px 15px 90px;
    }

    .seperator-line-4-color {
        position: absolute;
        bottom: 8px;
        left: 0;
        right: 0;
        height: 5px;
        z-index: 1;

        .c1, .c2, .c3, .c4 {
            display: inline-block;
            width: 25%;
            height: 4px;
        }

        .c1 {
            background-color: $lighter-color;
        }
        .c2 {
            background-color: #f2c000;
        }
        .c3 {
            background-color: #e87244;
        }
        .c4 {
            background-color: #e4286d;
        }
    }
}

// buy-rent tab starts
.buy-rent-tab.sleek-tabs {
    padding: 25px 0 0;

    ul {
        > li {
            display: inline-block;

            .triangle {
                color: $dark-color;
                font-size: 15px;
                border-bottom-width: 2px;
            }

            &.selected {
                .triangle {
                    color: $link-color;
                    font-weight: bold;
                    border-bottom-width: 2px;
                }
            }
        }
    }
}

// residential-commercial tab starts
.residential-commercial-tab {
    padding: 25px 0 0;

    ul {
        height: 38px;
        border: 1px solid #e1e1e1;
        > li {
            display: inline-block;
            padding: 8px 20px 0;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            width: 50%;
            height: 100%;
            &.selected {
                background: #e71c28;
                color: white;
            }
        }
    }
}

$srchboxheight: 80px;

.outer-search-box {
    position: relative;

    .tagSearch-wrap {
        border-top: solid 1px #ececec;
        border-bottom: solid 1px #ececec;
        background-color: #fff;
        box-shadow: 0 10px 20px 0px rgba(0,0,0,0.125);
        padding: 10px 5px;

        &.multiloclity-search-wrap {
            position: relative;

            .tag-wrap {
                width: calc(100% - 50px);
                .srched-tag{
                    max-width: 115px;
                }
            }
        }
    }

    // search btn class
    .srchbtn {
        font-size: 16px;
        padding: 0 15px;
        z-index: 9999;

        i.icon-reset {
            span:before {
                color: #fff;
            }
        }
    }

    .search-wrap {

        // search icon only for mobiles
        .srchicon {
            position: absolute;
            top: 12px;
            right: 5px;
            z-index: 1000;
            height: 32px;
            width: 44px;
            padding-top: 5px;
            text-align: center;
            font-size: 17px;
            background-color: $link-color;
            cursor: pointer;
            border-radius: 20px;

            // search icon
            .icon-search {
                color: #fff;

                .path1:before, .path2:before {
                    color: #fff;
                }
            }
        }

        // typehead dropdown (.thdd)
        .thdd {
            left: auto;
            right: 0;
            width: calc(100vw - 30px);
            z-index: 999;

            strong {

            }

            ul {
                li {
                    .result-row {
                        .type {

                        }
                        .result {

                        }
                    }
                }
            }
        }
    }
}

// reset search btn
.btnreset {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 12px;
    background-color: rgba(255, 255, 255, 0.81);
    border-radius: 20px;
    color: $light-color;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    width: 170px;
    text-align: center;

    .new {
        color: $link-color;
    }

    &:hover {
        color: initial;
        text-decoration: none;
    }
}

// filters on mobile homepage
.home-m-filter-wrap {
    width: 100%;
    margin-top: 10px;
    padding: 15px 0 15px;
    //background: #fff;

    .f-row {
        width: 100%;
        overflow: hidden;
        padding-bottom: 10px;
    }

    .f-lbl {
        padding-bottom: 10px;
        color: $lighter-color;
    }

    .fwrap {

        &.fbed {
            overflow-x: auto;
            overflow-y: hidden;

            .fc-wrap label.multiselectlbl {
                margin: 0 2px 10px 0px;

                .boxoption {
                    padding: 8px 10px;
                }
            }
        }

        &.fbudget {
            padding: 0 20px 0 5px;

            .range {
                padding: 15px 0 10px 0;
            }
        }

        &.fprop-type {
            overflow-x: auto;
            overflow-y: hidden;

            label.checkboxlbl {
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }

    .budgetrow {
        .f-lbl {
            padding-bottom: 20px;
        }
    }
}

// THE SEARCH ENDSSSSSSSSSSSSSSSSS

@media screen and (max-width: 768px) {
    .cbtn.srchbtn {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .btnreset {
        font-size: 12px;
    }
}