@import "../variables";
@import "../mixins/ellipsis";

//How sellers are reated section starts
.how-sellers-reated-section {

    // animation for replacing two agent images and their ratings
    @keyframes imgchange {
        0% { opacity:1; }
        45% { opacity:1; }
        65% { opacity:0; }
        100% { opacity:0; }
    }

    .hsr-container {
        margin: 60px 0 20px;
        text-align: center;
    }

    .img-center-wrapper {
        position: relative;

        .imgg {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 120px;
            margin: 0 auto;
            text-align: center;

            img {
                width: 100%;
                max-height: 100%;
            }

            .man2 {
                position: absolute;
                left: 0;
                opacity: 0;
                animation-name: imgchange;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 7s;
                animation-direction: alternate;
            }
        }

        .highlight {
            position: absolute;
            width: 80px;

            .hdng {
                font-size: 13px;
            }

            .txt {
                display: none;
            }

            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 30px;
                height: 20px;
                border-bottom: dashed 1px #999;
            }

            &.one {
                top: 0px;
                left: 0px;
                text-align: right;

                &:after {
                    top: 0px;
                    right: 0px;
                    transform: translateX(120%);
                }
            }

            &.two {
                bottom: 0px;
                left: 0px;
                text-align: right;

                &:after {
                    top: 0px;
                    right: 0px;
                    transform: translateX(120%);
                }
            }

            &.three {
                top: 0px;
                right: 0px;
                text-align: left;

                &:after {
                    top: 0px;
                    left: 0px;
                    transform: translateX(-120%);
                }
            }

            &.four {
                bottom: 0px;
                right: 0px;
                text-align: left;

                &:after {
                    top: 0px;
                    left: 0px;
                    transform: translateX(-120%);
                }
            }
        }
    }

    .rate-wrap {
        padding-top: 10px;
        position: relative;

        .rating {
            position: absolute;
            top: 5px;
            left: calc(50% - 25px);

            .rating-badge {
                width: 40px;
                height: 40px;
                padding: 5px 0;
                text-align: center;
                font-size: 18px;
            }

            &.man2 {
                opacity: 0;
                animation-name: imgchange;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-duration: 7s;
                animation-direction: alternate;
                // z-index: 1;
            }
        }
    }
}
//How sellers are reated section ends

// for desktops
@media screen and (min-width: 769px) {
    .how-sellers-reated-section {
        .hsr-container {
            margin: 60px 0 80px;
        }

        .img-center-wrapper {

            .imgg {
                width: 162px;
                height: 191px;
            }

            // the dashed line highlighted points
            .highlight {
                width: 280px;

                .hdng {
                    font-size: 18px;
                }

                .txt {
                    display: block;
                    padding-top: 5px;
                    color: $lighter-color;
                    font-size: 13px;
                }

                &:after {
                    width: 100px;
                }
            }
        }
    }
}


// for smaller screen sizes
@media screen and (max-width: 768px) {
    .how-sellers-reated-section {

    }
}



@media screen and (min-width: 320px) and (max-width: 360px) {
    .how-sellers-reated-section {
        .img-center-wrapper {
            .highlight {
                width: 60px;

                &:after {
                    width: 30px;
                }
            }
        }
    }
}