/*mobile view*/
@media screen and (max-width: 767px) {

    // padding and margin is given in such a way so as to hide the above propcard border bottom.
	.deficit-projects {
        padding: 20px 0 5px;
        margin: -12px 20px 0px;
        background-color: #fff;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        color: #292929;
        font-size: 16px;
        font-weight: 600;
    }

    .deficit-card {

        .cardMobile {
            border-bottom: none;
        }

        .imgWrap figure {
            height: 250px;
        }

        .main-info-wrap {
            margin-bottom: 5px;
        }

        .seller-wrap {
            .seller-info {
                width: calc(100% - 46px);
            }
        }
    }

    .deficit-seller-list {
        display: flex;
        overflow: auto;
        padding: 0 10px;

        .cardMobile {
            margin: 20px 10px 10px;
        }
    }

    .linex {
        margin: 0 20px 20px;
        border-bottom: solid 1px #dbdbdb;
    }
}

@media (min-width: 321px) and (max-width: 400px) {
    .deficit-card {
        .imgWrap figure {
            height: 220px;
        }
    }
}

@media (max-width: 320px) {
    .deficit-card {
        .imgWrap figure {
            height: 140px;
        }
    }
}