@import "thank-you";

.pyr-heading {
    position: relative;
    height: 50px;

    h2 {
        line-height: 50px;
    }

    .seller-listing-head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .backbutton {
            position: absolute;
            top: 0px;
            left: 0;
            padding: 10px;
            font-size: 24px;
            cursor: pointer;
        }

        .close-popup {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            font-size: 24px;
            cursor: pointer;
        }
    }
}


.leadform-wrap {
    // padding: 18px 10px;
    padding-bottom: 30px;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    min-width: 300px;
    overflow-x: hidden;

    .leadform-head {
        max-height: 55px;
    }

    .seller-image {
        margin: 25px 0 0;

        .seller-img-box {
            width: 70px;
            height: 70px;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #ccc;
            img {
                width: 100%;
                height: auto;
            }

            .initial {
                font-size: 48px;
                line-height: 68px;
                text-transform: uppercase;
                //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
            }
        }

        .name-big-text {
            font-size: 20px;
            margin-top: 16px;
            padding: 0 5px;
        }

        .thanks-sub-text {
            font-size: 16px;
        }
    }



    .leadform-details {
        margin-top: 40px;
        transition: all 0.15s ease-in-out;
        padding: 0 30px;

        &.step3 {
            margin-top: 0;
        }

        .inputbox {
            width: 100%;

            input {
                max-width: 500px;
                width: 113%;
            }
            input::-ms-clear {
                display: none;
            }
        }

        .fc-wrap {
            select {
                height: 30px;
                padding: 0px;
                border-radius: 0;
                background: transparent;
                -webkit-appearance: none;
            }

            .select-dropdown {
                max-height: 245px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            &.selectbox {
                width: 100%;
            }
        }
    }

    .callback {
        // margin-top: 20px;
        text-align: center;
        margin: 15px auto 15px;
        // overflow-x: hidden;
        // overflow-y: auto;
        display: block;
        //margin: 20px auto 10px;
        input[type="button"] {
            padding: 10px 60px;
            background-color: $link-color;
            border: none;
            border-bottom: solid 3px transparent;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            overflow: hidden;
            &:hover {
                cursor: pointer;
                border-bottom-color: darken($link-color, 20%);
            }

            &:focus {
                outline: none;
            }
        }

        input[type="button"].view-phone{
            background: transparent;
            color: #454545;
            padding: 0px 60px 8px;

            &:hover {
                cursor: pointer;
                border-bottom-color: transparent;
            }
        }
        .error-msg {
            width: 100%;
        }
        .swipeit {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            //height: 47px;
            overflow: hidden;
            text-align: center;
            line-height: 41px;
            color: $link-color;
            cursor: pointer;
            background: #ffffff;
            transition: transform 300ms ease-in-out;

            &.remove {
                transform: translate(-100%);
            }
        }
    }



    div[data-type="countries"] {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        max-width: 170px;
        .fc-wrap {
            width: 100%;
            min-width: 75px;
            .fc {
                border-bottom: 1px solid #cccccc;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-bottom: 6px;

                i {
                    font-size: 9px;
                    right: 2px;
                    top: 17px;
                }
            }

            .select-dropdown {
                max-height: 240px;
                overflow: hidden;
                overflow-y: auto;
            }
        }
    }

    .inputbox.country-code-contact {
        width: 68%;
    }

    .country-code-contact {
        width: 68%;
        height: auto;
        display: inline-block;
        position:relative;
        vertical-align: inherit;

        .input-box {
            margin-top: 30px;

            label{
                left: 36px;
                top: 7px;
            }
        }
        .fc-wrap:focus label,
        .fc-wrap.focus label,
        .fc-wrap.active label{
            top: -10px;
            left: 0;
        }

        .fc {
            text-indent: 45px;
        }

        .countryCode {
            padding-left:5px;
            padding-right:5px;
            position: absolute;
            left: -2px;
            bottom: 3px;
            width: 38px;
            color:#666;
            font-size:1em;
        }
    }

    .leadform-continue {
        color: #e71c28;
        font-size: 16px;
        cursor: pointer;
        text-align: center;

        &:hover{
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 767px) {
    // fix for mobile view leadform full page height even if content is less
    .popupheight {
        .leadform-wrap {
            min-height: 100%;
        }
    }
    .leadform-wrap {
        border-radius: 0;
        .leadform-details {
            max-width: 400px;
            margin: 25px auto 0;

            .callback {
                margin-top: 50px;
            }
        }
        .seller-image {
            margin-bottom: 40px;
        }
    }
}
