
// this page scss belongs to the new leadform page.
// If you want to use this css just include it in your page.
// Author: Nimit Mangal
// Date: 07 May 2016

@import "topseller-lead";
@import "../components/similar-prop-list";

.padding-fifteen{
    padding-top:15px;
}

.leadenquiry-container {
    position: relative;
    min-height: 430px;
    max-width: 766px;
    min-width: 280px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    text-transform: none;

    .similar-container-center {
        margin-top: 28%;
        border: none !important;
    }

    .lead-heading {
        position: relative;
        height: 40px;
        background-color: #fff;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

        h2 {
            line-height: 50px;
        }

        .backbutton {
            position: absolute;
            top: 0px;
            left: 0;
            padding: 8px 8px 8px 12px;
            font-size: 21px;
            cursor: pointer;
        }

        .close-popup {
            position: absolute;
            right: 0;
            top: 0;
            padding: 12px;
            color: $lighter-color;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .seller-dtls {
        padding: 5px 0 25px;
        background-color: #fff;

        .seller-img-box {
            width: 55px;
            height: 55px;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            border: 1px solid #cdcdcd;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #ccc;

            img {
                width: 100%;
                height: auto;
            }

            .initial {
                font-size: 36px;
                line-height: 55px;
                text-transform: uppercase;
                //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
            }
        }

        .leagalname {
            margin-top: 10px;
            padding: 0 5px;
            color: $dark-color;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            text-transform: capitalize;
            @include putellipsis;
            max-width: 99%;
        }

        .seller-type {
            text-align: center;
            color: $lighter-color;
        }

        .rating-wrap {
            width: 65px;
            margin: 0 auto;
        }

        .thanks-sub-text {
            font-size: 16px;
        }
    }

    .second-pane {
        padding: 10px;
        border-top: solid 1px #dcdcdc;
        text-align: center;

        .form-row {
            text-align: left;
            padding: 0 30px;
        }

        .country-dd {
            width: 30%;
            display: inline-block;
            text-align: left;
            max-width: 170px;
            float: left;
            margin-top: 19px;

            .fc-wrap .fc {
                border-bottom: 1px solid #ccc;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-bottom: 5px;

                i {
                    font-size: 9px;
                    right: 2px;
                    top: 17px;
                }
            }

            .select-dropdown {
                max-height: 215px;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }

        .fc-wrap.selectbox {
            min-width: 90px;
            width: 100%;
        }

        .country-code-contact {
            position: relative;
            display: inline-block;
            height: auto;
            width: 60%;
            width: calc(68% - 20px);
            margin-left: 20px;
            vertical-align: 0px;

            .countryCode {
                padding-left: 5px;
                padding-right: 5px;
                position: absolute;
                left: -2px;
                bottom: 3px;
                width: 38px;
                color: #666;
                font-size: 1em;
            }

            .input-box {
                margin-top: 30px;

                label {
                    left: 36px;
                    top: 7px;
                }
            }

            .fc-wrap:focus label,
            .fc-wrap.focus label,
            .fc-wrap.active label{
                top: -10px;
                left: 0;
            }
        }

        .error-msg {
            font-size: 12px;
            white-space: pre;
        }

        .chkbox-wrap {
            text-align: left;
            position: relative;
            z-index: 2;
            padding-left: 30px;

            label.checkboxlbl {
                .txt {
                    font-size: 12px;
                }
                input[type=checkbox]:checked+.txt:after {
                    width: auto;
                }
            }

            .tooltip-wrap {
                position: relative;

                .mp-tooltip {
                    min-width: 240px;
                    font-size: 12px;
                    line-height: 1.23;
                    text-transform: none;
                }

                &:hover {
                    .mp-tooltip {
                        display: block;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            .infoo {
                display: inline-block;
                width: 17px;
                height: 17px;
                border: solid 1px #bcbcbc;
                border-radius: 50%;
                text-align: center;
                color: #999;
                font-size: 11px;
                transition: color 0.2s ease-in;
                text-decoration: none;
                cursor: pointer;
                vertical-align: text-bottom;

                &:hover {
                    color: $link-color;
                }
            }
        }

        .prop-detail-txt{
            color: #6c6c6c;
            font-size: 13px;
            line-height: 1.15;
        }

        .note-txt {
            padding-top: 15px;
            color: #6c6c6c;
            font-size: 12px;
            line-height: 1.15;
            margin-bottom: 15px;

            &.top-seller-txt{
                padding-top: 0px;
            }
        }
    }

    .see-phoneno {
        width: 130px;
        margin: 10px auto;
        padding: 2px 10px 3px;
        border: dashed 1px $link-color;
        border-radius: 8px;
        text-align: center;
        color: $dark-color;
        font-size: 16px;
        position: relative;

        .icon-call {
            position: absolute;
            left: -30px;
            top: 5px;
        }
        a {
            color: #444;
        }
    }

    .le-title {
        padding: 10px;
        color: #2c2c2c;
        font-size: 16px;
        line-height: 1.15;
        //font-weight: bold;
    }

    .btn-wrap {
        position: absolute;
        bottom: 5px;
        right: 5px;

        .txtlink {
            padding-right: 10px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
            text-transform: capitalize;
        }

        .btnmain {
            padding: 8px 35px;
        }

        .show-error {
            position: absolute;
            bottom: 40px;
            right: 10px;
            color: red;
            font-size: 11px;
            line-height: 1;
        }
    }
}


// specific to step1 --- main.html
.leadenquiry-container.step1 {
    min-height: 420px;
    background-color: #fff;

    .second-pane {
        padding: 10px 10px 50px;
    }
}


// OTP step  --- otp.html
.leadenquiry-container.step2 {
    min-height: 450px;

    .otp-pane {
        padding: 10px 10px 5px;
        background-color: #fff;
        text-align: center;
    }

    .name-email-pane{
        padding: 10px 10px 15px 10px;

        .ne-img-wrap{
            text-align: center;
            margin-bottom: 25px;

            img{
                display: inline-block;
            }
        }

        .le-title{
            text-align: center;
            color: $heading-color;
            font-size: 18px;
            line-height: 24px;
            span{
                font-size: 14px;
                color: $light-color;
                display: block;
            }
        }
    }

    .otp-image {

        i {
            font-size: 48px;
        }
        .img-otp {
            width: 45px;
        }
        .txt {
            padding: 5px 0 0 0;
            font-size: 18px;
        }
    }

    .verification-wrap {
        .verfication-code {
            .verification-code-value {
                position: relative;
                margin-top: 10px;
                margin-bottom: 5px;
                height: 30px;
                width: 185px;

                &:before {
                    content: "___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___";
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 185px;
                    z-index: 1;
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 20px;
                    height: 30px;
                    background-color: #fff;
                    z-index: 101;
                }

                .otp-error {
                    font-size: 12px;
                    width: 100%;
                }

                input {
                    position: absolute;
                    left: 26px;
                    width: 160px;
                    padding-left: 10px;
                    z-index: 99;
                    background: transparent;
                    border: none;
                    text-align: left;
                    font-size: 18px;
                    letter-spacing: 23px;
                    outline: none;
                }
            }
        }

        i.icon-tick {
            display: block;
            margin: 0px 10px;
            font-size: 24px;

            &:before {
                content: '\e9ca';
                font-family: icomoon;
                font-size: 16px;
                font-weight: bold;
                color: #e0e0e0;
            }

            &.active {
                &:before {
                    color: green;
                }
            }
        }
    }

    .resetbtn-wrap {
        padding: 10px;

        .txtlink {
            padding-right: 10px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
        }

        .resendtxt{
            border-left: solid 1px #ccc;
            padding: 0 0 0 15px;
        }
    }

    .second-pane {
        .error-msg {
            text-align: left;
            color: $link-color;
            font-size: 11px;
        }
    }

    .fields {
        width: 85%;
        margin: 0 auto;

        .input-box {
            margin: 25px 0 0 0;
        }
    }
}

// Similar Properties step  ---  simlar.html
.call-time{
    display: block;
}
.call-text{
    color:$light-color;
    font-size: 12px
}
.leadenquiry-container.step3 {
    min-height: 510px;

    .tring-pane {
        margin-top: 1px;
        padding: 0px 10px 10px;
        background-color: #fff;
        text-align: center;
        position: relative;
    }
    .seller-dtls {
        padding: 5px 0 5px;
    }

    .similar-prop-list {
        padding: 0;
        margin: 0;
        max-height: 175px;
        overflow-y: auto;
        overflow-x: hidden;
        list-style: none;

        > li:first-child{
            padding-top: 10px;
        }
    }

    .ivr-number {
        color: $link-color;
    }

    .checbox-wrap {
        padding: 10px 20px 0;
        text-align: left;

        label.checkboxlbl {
            float: left;
            //height: 40px;
            width: 20px;
            margin-right: 0;
            font-size: 10px;
            line-height: 1;
        }

        .txt {
            display: block;
            float: left;
            width: 100%;
            color: #777;
            font-size: 13px;
            line-height: 1.25;

            a.imp {
                color: $link-color;
                text-decoration: none;
                cursor: pointer;
                font-size: 13px;
                line-height: 1;
            }
        }

        label.checkboxlbl ~ .txt {
            width: 87%;
            width: calc(100% - 30px);
        }
    }

    .second-pane {
        position: relative;
        padding: 0px 10px 10px;

        .le-title.padtop {
            padding-top: 180px;
        }
    }

    .loaderr {
        text-align: center;
        padding: 30px 0 0;
        font-size: 24px;
    }
}

// thanks step  ---  thanks.html
.leadenquiry-container.step-thanks {
    .thank-pane {
        padding: 0px 10px 20px;
        background-color: #fff;
        text-align: center;

        .le-title {
            font-size: 21px;
        }
    }

    .second-pane {
        position: relative;
        padding: 25px 10px 10px;

        .ttl {
            font-size: 16px;
        }

        i.icon-rupee {
            font-size: 11px;
        }
    }

    .journey-img-wrap {
        width: 200px;
        height: 120px;
        margin: 10px auto;
        background: url(/images/un-versioned/lead-house.png) no-repeat left top;

        &.homeloan {
            width: 72px;
            height: 60px;
            margin: 20px auto;
            background: url(/images/taxonomy-icon/default8.png) no-repeat center;
            background-size: 60px;
        }
    }
    .homeloan-lead{
        display:flex;
        padding-bottom: 20px;
        .homeloan-tagline{
            text-align: left;
            padding-top:20px;
        }
    }
}

// view phone number thanks step  ---  viewPhone.html
.leadenquiry-container.step-view-phone-thanks {

    .second-pane {
        position: relative;
        padding: 0px 10px 10px;
    }

    .img-col, .thank-col {
        width: 50%;
        float: left;
        padding-top: 10px;
    }

    .thank-col {
        .le-title {
            font-size: 15px;
            color: #000;
        }

        i.icon-rupee {
            font-size: 11px;
        }
    }
}

// Similar Properties step  ---  simlarlast.html
.leadenquiry-container.stepsimilarlast {

    .similarlast-pane {
        padding: 0 10px;
    }

    .similar-prop-list {
        padding: 0;
        margin: 0;
        height: 380px;
        overflow-y: auto;
        overflow-x: hidden;
        list-style: none;
    }
}

// view phone flow is changing - so view phone step 1 changes here
.leadenquiry-container.vp-step1 {
    min-height: 460px;
    background-color: #fff;

    .seller-dtls {
        padding: 5px 0 10px;
    }

    .second-pane {
        padding: 10px 10px 50px;
    }
}

@media screen and (max-width: 959) and (min-width: 768px) {
    .leadwrapper {
        width: auto;
    }
}

@media screen and (max-width: 767px) {
    .lw {
        min-height: 100%;
        background-color: #fafafa;
    }
    .leadenquiry-container {
        min-height: calc(100vh - 60px);
        border-radius: 0;
        padding-bottom: 50px;

        .btn-wrap {
            padding: 0 20px;
        }

        &.vp-step1 {
            .second-pane {
                padding: 10px 10px 20px;
            }
        }
    }

}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 768px) {
    .leadenquiry-container {
        width: 360px;
    }
}

@media screen and (min-width: 1024px) {
}
