/*FIX FOR PROPERTY PAGE*/

.mid-area-wrap {
    .close-popup {
        display: none;
    }
    .back-color {
        border-radius: 0px;
    }
    .call-body {
        background-color: #fff;
        .upper {
            padding-top: 20px;
            margin-bottom: 0px;
        }
    }
    .other-agent {
        background-color: #fff;
    }
}


/*FIX FOR PROPERTY PAGE*/

.avatar-fixed {
    position: absolute !important;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.back-color {
    background-color: #fafafa;
    overflow: hidden;
}

.project-img {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px;
    -webkit-filter: blur(2px);
}

.agent-logo-img {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccc;
    border: solid 1px #fff;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    .initial {
        font-size: 36px;
        line-height: 45px;
        text-transform: uppercase;
    }
}

.call-screen-content {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    .close-popup {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        font-size: 15px;
        cursor: pointer;
        z-index: 1;
    }
    .user-img {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: contain;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        span.initial {
            display: block;
            line-height: 40px;
            z-index: 999;
        }
        .avatar {
            display: block;
            width: 40px;
            height: 40px;
            background: url("/images/sprite-header.png") no-repeat;
            background-position: -128px -1px;
            background-size: 295px 42px;
            img {
                vertical-align: top;
                height: 100%
            }
        }
        a {
            // position: absolute;
            //top: 3px;
            //left: 12px;
            text-decoration: none;
            transition: all 300ms ease-in-out;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .current-call-details {
        font-size: 18px;
        height: 100%;
        position: relative;
        .call-screen {
            position: relative;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            font-size: 13px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: 30px;
            &.not-connect {
                background-image: url(/images/call-status/notConnect.gif);
            }
            &.connecting {
                background-image: url(/images/call-status/calling.gif);
            }
            &.connected {
                background-image: url(/images/call-status/connected.png);
            }
            .current-caller {
                position: absolute;
                left: -90px;
                bottom: -10px;
                width: 150px;
                text-align: center;
            }
            .current-you {
                position: absolute;
                bottom: -10px;
                right: -25px;
            }
        }
        .caller-unavailable {
            position: relative;
            top: 50%;
            text-align: center;
            transform: translateY(-50%);
        }
    }
    .text {
        position: absolute;
        bottom: 0px;
        .line {
            margin: 4px auto;
            height: 1px;
            background-color: rgba(256, 256, 256, 0.2);
        }
        padding: 0px 20px;
        width: 100%;
        .left {
            display: inline-block;
            font-weight: bold;
        }
        .right {
            display: inline-block;
            float: right;
            font-size: 15px;
            font-weight: bold;
        }
    }
}

.seller-unavailable-text {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 75px;
    .seller-name {
        font-size: 18px;
        font-weight: 600;
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }
}

.other-agent {
    margin-bottom: 40px;
    position: relative;
    background-color: #fafafa;
    font-size: 18px;
    .text {
        padding-top: 15px;
        text-align: center;
        font-weight: bold;
    }
    .other-agent-list {
        max-height: 250px;
        overflow: scroll;
        .other-agent-item {
            margin: 10px 40px;
            label {
                height: 15px;
                vertical-align: middle;
            }
            .agent-name {
                display: inline-block;
                margin-left: 5px;
                max-width: 55%;
                color: #444;
                vertical-align: middle;
            }
        }
    }
}

.width100 {
    width: 100px;
}

.text-ellipse {
    max-width: 90%;
}

.call-body {
    position: relative;
    background-color: #fafafa;
    text-align: center;
    font-size: 18px;
    .text {
        margin: 20px 0px;
        display: inline-block;
        font-size: 16px;
        .agent-name {
            font-size: 20px;
            margin: 5px 10px;
            display: block;
            width: 260px;
        }
    }
    .agent-number {
        display: inline-block;
        border: solid 1px #f1f1f1;
        border-radius: 10px;
        padding: 5px 15px;
        background-color: #fff;
    }
    .upper {
        padding-top: 50px;
        margin-bottom: 20px;
    }
    .ff-title {
        padding: 10px 10px 15px;
        color: #2c2c2c;
        font-size: 16px;
        line-height: 1.15;
    }
    .reason-list {
        input[type="radio"] {
            display: none;
        }
        label.reason {
            display: inline-block;
            @include putellipsis;
            width: calc(50% - 35px);
            padding: 8px 5px;
            margin: 5px 3px;
            background-color: #f7f7f7;
            border: solid 1px #ececec;
            border-radius: 5px;
            color: #666;
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            &:hover {
                border-color: $link-color;
            }
        }
        &:not(:checked) > label:hover {}
        input:checked + label {
            background-color: $link-color;
            border-color: $link-color;
            color: #fff;
        }
    }
}

.sellerWrapUp {
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    .seller-logo {
        margin-top: 50px;
        background-color: #fff;
        display: inline-block;
        border-radius: 50%;
        overflow: hidden;
        height: 54px;
        border: solid 2px #fff;
        width: 54px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .initial {
            font-size: 36px;
            line-height: 55px;
            text-transform: uppercase;
        }
    }
    .seller-name {
        font-size: 18px;
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }
}

.rating-container {
    .rating-text {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .rating {
        label {
            font-size: 15px;
        }
    }
}

.btn-excess-padding {
    padding: 0 50px;
}
