.lp-col-no-shadow {
	box-shadow: none !important;
	.lead-heading{
		display: none;
	}
	.lp-wrap{
		box-shadow: none;
		right: 0px;
		.close-lp {
			display: none;
		}
	}
	.leadenquiry-container {
		min-height: auto;
	}
}
.lp-wrap {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	background: #fdfdfd;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s ease-out;

	.loc-wrap {
		margin-top:15px;

		input {
			background: none;
			width: 100%;
			resize: none;
			outline: none;
			box-shadow: none;
			border: none;
			border-bottom: 1px solid #d6d6d6;
			position: relative;
			z-index: 2;
			padding: 6px 0 0 0;
			padding-bottom: 6px;
			color: #333;
			font-size: 14px;

			&:placeholder-shown, &::-webkit-input-placeholder, ::placeholder  {
				color: $lighter-color;
			}
		}
	}

	textarea {
		width: 100%;
		resize: none;
		overflow: auto;
		border: 1px solid lighten($color: #dddddd, $amount: 3%);
		border-radius: 2px;
		max-height: 120px;
		padding: 10px;
		font-size: 13px;
		color: $heading-color;
		outline: none;
		box-shadow: none;
	}

	.close-lp {
		position: absolute;
		right: 12px;
		top: 10px;
		z-index: 2;
		width: 20px;
		height: 20px;
		padding: 3px 0 0;
		border-radius: 50%;
		text-align: center;
		color: #fff;
		font-size: 12px;
		cursor: pointer;

		.icon-chevron-up, .icon-chevron-down {
			display: none;
		}

		*:before {
			color: #fff;
		}
	}

	.lp-head-wrap {
		padding: 20px;
		transition: 0.3s ease-out;
		background-color: #ff7c6d;
		position: relative;
		background-image: url(/images/lp-left-bg.png);
		background-repeat: no-repeat;
		background-position: left top;
		cursor: pointer;

		&:after {
			content: '';
			width: 122px;
			height: 76px;
			position: absolute;
			top: 8px;
			right: 10px;
			z-index: 0;
			background: url(/images/lp-main-bg.png) no-repeat;
		}

		.lp-head-content {

			> p {
				position: relative;
				z-index: 1;
				margin: 0;
				font-size: 14px;
				color: #fff;
				font-weight: bold;
			}

			> span.sub-head {
				font-size: 11px;
				margin-top: 5px;
				text-transform: none;
				color: #fff;
			}
			.lp-head-img{
				display: none;
			}
			.sticky-top{
				display: block;
			}
			.sticky-btm {
			    display: none;
			}
		}
	}

	.lp-c-bar {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 360px;
		margin-top: 10px;

		.comp-bar-wrap {
			width: calc(100% - 40px);
			height: 6px;
			border-radius: 3px;
			overflow: hidden;
			background: #ec5f50;

			.comp-bar {
				height: 6px;
				transition: width 0.3s ease-out;
				background: #fff;
				border-radius: 3px;
			}

		}

		.comp-text {
			width: 40px;
			text-align: right;
			font-size: 12px;
			font-weight: bold;
			color: #fff;
			letter-spacing: 1px;
		}
	}

	.lp-ques-wrap {
		margin-top: 25px;
		padding: 0 20px 35px;
		min-height: 260px;


		> h4 {
			font-size: 16px;
			color: $heading-color;
			line-height: 20px;
			font-weight: bold;
			margin-bottom: 12px;
		}

		.questions-list {

			.select-box-wrap {
				padding-bottom: 8px;
				margin-bottom: 20px;
				border-bottom: 1px solid #eee;
				display: inline-block;

				select {
					border: 0;
					box-shadow: none;
					outline: none;
					background: none;
					border-radius: 0;
					position: relative;
					font-size: 14px;
					font-weight: 500;
					color: $link-color;
				}
			}

			label.radiolbl{
				.inner {
					top: 2px;
					left: 2px;
					height: 14px;
					transition: 0s;
				}
				input:checked+.outer .inner{
					width: 14px;
				}
				.txt{
					color: #666;
					margin-right: 2px;
				}
			}

			

			label.multiselectlbl {
				margin: 0 6px 12px 0px;

				&:first-child {
					margin-left: 0;
				}

				.boxoption {
					font-size: 13px;
					font-weight: normal;
					padding: 5px 18px;
				}
				&.disable-select:hover .boxoption {
					border: solid 1px #ccc;
					cursor: default;
				}
			}

			label.disable-select {
			    border: #B8B8B8;

			    .boxoption {
			        color: #B8B8B8;
			    }
			}

			label.dateselectlbl {
			    margin: 0 6px 12px 0px;

			    .boxoption {
			        font-size: 15px;
			        font-weight: 200;
					padding: 5px;
			    }
			}
			.error-msg {
			    font-size: 12px;
			    color: red;
			}
		}

		.filter-typeahead {
			.thcontainer {
				position: relative;
				border-bottom: #ccc 1px solid;
				.thdd{
					top: auto;
					max-height: 150px;
					overflow: scroll;
					ul li .result {
						font-size: 11px;
					}
					strong{
						font-size: 12px;
					}
				}
				.tag-wrap{
					.srched-tag{
						font-size: 11px;
					}
					.thinput{
						font-size: 11px;
					}
				}
			}
		}
	}

	.selectlbl-img {
		display: inline-block;
		margin: 0 10px;
		text-align: center;
		font-weight: normal;
		vertical-align: top;

		&:first-child {
		    margin-left: 0;
		}

		input {
		    display: none;
		}

		.icon-box {
		    display: block;
		    width: 48px;
				height: 48px;
				margin: 0 auto;
		    padding: 5px;
		    border: solid 1px #ccc;
		    border-radius: 5px;
		    cursor: pointer;
		    overflow: hidden;
		    transition: all 0.1s ease-in-out;

		    img {
		    	display: inline-block;
		    	width: 100%;
		    	filter: grayscale(100%);
		    }

		}

		.val-box {
	    	font-size: 13px;
	    	color: $light-color;
	    	margin-top: 6px;
	    	line-height: 15px;
	    	display: block;
	    	text-align: center;
	    }


		input:checked + , &.active, &:hover {
			.icon-box {
				border-color: $link-color;
				img {
					filter: grayscale(0);
				}
			}
			.val-box {
				color: $link-color;
			}
		}
	}

	.action-area {
		width: 100%;
		margin-bottom: 3px;
		padding: 0 6px 6px;
		text-align: right;
		overflow: hidden;
	
			.txtbtn.pre {
				color: $light-color;
				float: left;
			}
	}

	&.on-scroll {
		box-shadow: none;
		overflow: hidden;

		.lp-head-wrap {
			padding: 10px 20px;

			.lp-head-content {
				i {
					display: none;
				}
			}
		}
		.lp-c-bar,
		.lp-ques-wrap,
		.cta-wrap {
			display: none;
		}

		.action-btn-wrap {
			display: none;
		}
	}
}

#errorOcurred {
	color:red;
	text-align: center;
	font-size: 14px;
}

/*lp refers to lead profiling*/
.sticky-lead-profiling {
	position: relative;
	
	.lp-wrap {
		.close-lp {

			.icon-chevron-down, .icon-chevron-up {
				display: none;
			}
		}
	}
}

/*when open in popup*/
[data-role="popup"] {

	.user-profiling-popup {
		.lead-heading {
		    z-index: 2;
			background: none;
			.icon-close:before {
				color: #fff;
			}
		}
	}

	.lp-wrap {
		box-shadow: none;
		position: relative;
		left: inherit;
		top: inherit;
		right: inherit;
		margin-top: -40px;

		.close-lp {
			display: none;
		}

		.lp-head-wrap {
			display: block;
			text-align: center;
			padding: 20px;

			.lp-icon {
				width: 56px;
				height: 56px;
			}

			.lp-head-content {
				>p {
					font-size: 14px;
				}
			}
		}
	}

	.m-profile {
		.lead-heading{
			z-index: 0;
		}
		.lp-wrap{
			margin-top: -44px;
			.close-lp {
				display: block;
				font-size: 14px;
				.icon-chevron-down, .icon-chevron-up {
					display: none;
				}
			}
		}
	}
}

/*mobile view-only*/
@media screen and(max-width: 768px){
	/*when open in popup*/
	[data-role="popup"] {

		.lp-wrap {
			.lp-head-wrap {
				padding: 80px 20px 20px;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0px;
					z-index: 0;
					width: 140px;
					height: 96px;
					transform: scaleX(-1);
    			filter: FlipH;
					background-image: url(/images/lp-left-bg.png);
					background-repeat: no-repeat;
					background-position: right top;
				}
				&:after {
					left: 50%;
					margin-left: -61px;
					right: 10px;
				}

				.lp-head-content {
					> p {
						font-size: 15px;
					}
					>span {
						font-size: 14px;
					}
				}
			}

			.action-btn-wrap {
				position: fixed;
				bottom: 0;
				width: 100%;
			}
		}
	}
	
	.sticky-lead-profiling-btm {
	    position: fixed;
	    width: 100%;
	    bottom: 0px;
		z-index: 1;

		.lp-wrap {
			.close-lp {
				top: 4px;
			}
		}

		.lp-head-wrap {
		    padding: 20px 20px 14px 20px !important;
		    transition: 0.3s ease-out;
		    background-color: #ff7c6d;
		    position: relative;
		    background-repeat: no-repeat;
			background-position: left top;
			background-image: none;
			cursor: pointer;
			
			&:after {
			    content: '';
			    height: 76px;
			    background: none;
			}

			.sticky-top {
			    display: none !important;
			}

			.sticky-btm {
			    display: block !important;			    
			}
		}

		.lp-head-img {
		    padding: 20px;
		    transition: 0.3s ease-out;
		    position: fixed;
		    bottom: 40px;
		    background-repeat: no-repeat;
		    background-position: left top;
		    background-image: url(/images/lp-head-top.png);
		    cursor: pointer;
		    width: 100%;
		    height: 55px;
		    background-size: 92px 44px;
		    left: 16px;
		    z-index: 1;
		}
	}
}

/*desktop view-only*/
@media screen and (min-width: 769px){

	.lp-wrap {
		bottom: 0;
		right: 90px;
		max-width: 360px;
		border-radius: 8px 8px 0 0;
		background-image: url(/images/lp-left-bg.png);
		background-repeat: no-repeat;
		background-position: left top;

		.lp-head-wrap {
			border-radius: 8px 8px 0 0;
		}

	}

	/*when open in popup*/
	[data-role="popup"] {

		.lp-wrap {
			
			.lp-head-wrap {
				text-align: left;
			}
		}
	}

	/** for sticky in desktop **/
	.sticky-lead-profiling {
		.lp-wrap {
			position: fixed;
			z-index: 9;

			.close-lp {
				background-color: #fa533a;
				.icon-close {
					display: none;
				}
				.icon-chevron-down {
					display: inline;
				}
				.icon-chevron-up {
					display: none;
				}
			}
	
			&.on-scroll {
				.close-lp {
					.icon-chevron-down {
						display: none;
					}
					.icon-chevron-up {
						display: inline;
					}
				}
			}
		}
	}
}

@media screen and(max-width: 320px) {
	.lp-wrap {
		.lp-head-wrap {
			.lp-head-content {
				>p {
					font-size: 12px;
				}
			}
		}
	}  
}