.loan-track-container {
    margin: 0 auto;
    max-width: 100%;
    &.app-latest {
        //margin-top: 40px;
        .app-details {
            .app-id {
                border-bottom: solid 1px #eee;
            }
        }
        .app-proj {
            margin-bottom: 60px;
            border-bottom: solid 1px #ddd;
            padding-bottom: 15px;
        }
        .bank-dd {
            float: right;
            .bank-logo {
                display: inline-block;
                img {
                    height: 40px;
                    width: 100px;
                }
                @media screen and (max-width: 480px) {
                    img {
                        display: none;
                    }
                }
            }
            .app-no-wrap {
                display: inline-block;
                vertical-align: bottom;
                height: 100%;
            }
            .app-label {
                display: block;
                font-size: 12px;
                color: #999;
            }
        }
        .view-all-app-wrap {
            text-align: center;
        }
        .view-all-app {
            display: inline-block;
            color: #e81c28;
            font-size: 14px;
            cursor: pointer;
        }
    }
    .app-list {
        margin-bottom: 20px;
    }
    .app-date {
        text-align: right;
    }
    .app-proj {
        position: relative;
        .proj-name {
            margin-top: 16px;
            position: relative;
            display: inline-block;
            font-size: 16px;
            @media screen and (max-width: 480px) {
                margin-top: 0px;
            }
        }
        .proj-add {
            font-size: 12px;
            font-weight: 100;
            // position: absolute;
            // white-space: nowrap;
            // top: 100%;
            // left: 0;
            @media screen and (max-width: 480px) {
                display: block;
            }
        }
        .proj-price {
            position: absolute;
            right: 0;
            bottom: 0;
            .price {
                font-size: 16px;
            }
            .unit {
                font-size: 14px;
            }
        }
    }
    .app-details {
        padding: 10px 15px 10px;
        border-bottom: solid 1px #eee;
        box-shadow: 0px 0px 4px 0px #ededed;
        &:first-of-type {
            margin-top: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        &:last-of-type {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    .app-id {
        position: relative;
        padding-bottom: 20px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .app-bank {
        position: absolute;
        left: 0;
        bottom: 3px;
        font-size: 14px;
        color: #a5a5a5;
    }
    .app-prog {
        position: relative;
        margin: 0 auto;
        width: 80%;
        padding-bottom: 45px;
        ul {
            .dot-wrap {
                position: relative;
                width: 33%;
                float: left;
                &:last-child {
                    width: 1%;
                    .app-line {
                        display: none;
                    }
                }
                &.completed {
                    .app-dot {
                        background-color: #ed4397;
                    }
                    .app-line {
                        .app-line-prog {
                            width: 100%;
                        }
                    }
                }
                &.active {
                    .app-dot {
                        background-color: #ed4397;
                        .dot-text {
                            display: block;
                        }
                    }
                    &.half {
                        .app-line {
                            .app-line-prog {
                                width: 50%;
                            }
                        }
                    }
                    &.full {
                        .app-line {
                            .app-line-prog {
                                width: 100%;
                            }
                        }
                    }
                }
                .app-dot {
                    position: relative;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background-color: #fff;
                    border: solid 1px #ed4397;
                    z-index: 2;
                }
                .dot-text {
                    display: none;
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    color: #999;
                    font-size: 12px;
                    line-height: 1;
                }
                @media screen and (min-width: 768px) {
                    .dot-text {
                        font-size: 16px;
                    }
                }
                .app-line {
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    top: 7px;
                    left: 0;
                    background-color: #ffc9d0;
                    z-index: 1;
                    .app-line-prog {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 0%;
                        background-color: #ed4397;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .app-dot {
        height: 10px !important;
        width: 10px !important;
    }
    .app-line {
        top: 4px !important;
    }
    .view-all-app-wrap {
        text-align: right !important;
    }
}
