// orange color strip for makaan select OFFER Rs 2000 off on brokerage
.amp-select-promotion-icon{
    display: block;
    background-image: url('/images/makaan-select/select-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 15px;
    width: 65px;
}
.ms-promotion {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	width: 100%;
	max-width: 720px;
	margin: 10px auto;
	padding: 6px 10px;
	background-repeat: no-repeat;
	background-image: linear-gradient(99deg, #fba511, #ffab1c 42%, #fc9d61 79%, #f98d67);
	//background-image: url(/images/makaan-select/ms-promotion-strip-bg.png);
	background-size: cover;
	background-position: center;
	background-color: #faa721;
	border-radius: 5px;
	font-size: 16px;
	overflow: hidden;
	.msp-txt {
    	width: calc(100% - 70px);
		color: #fff;
		font-size: 13px;
		line-height: 1.3;
		z-index:1;
	}

	.coupon-amount {
		font-weight: 700;
	}
}

// overwrites for desktop,mobile serp prop-cards
.cardLayout, .cardMobile {
	.imgWrap .ms-promotion {
		position: absolute;
		bottom: 0;
		z-index: 2;
		margin: 0;
		padding: 2px 10px;
		border-radius: 0;
		box-sizing: border-box;
	}
}
.ms-promotion.amp-select.amp-lead{
	width:80%;
}
// overwrites for mobile property detail page
.top-area-wrap .ms-promotion {
	height: 52px;
}