.ms-badge{
	width: 69px;
	height: 25px;
	background: url(/images/makaan-select/ms-tag.png) no-repeat;
	background-size: cover;
	position: relative;
	span{
		position: absolute;
		right: 0;
		top: 28px;
		width: 150px;
		font-size: 10px;
		text-transform: uppercase;
		color: $light-color;
		text-align: right;
	}
	.mp-tooltip{
		width:245px;
	}

	&:hover{
		.mp-tooltip{
			opacity: 1;
			display: block;
			visibility: visible;
		}
	}
}