// blog section makaaniq starts 
.blog-section {

    .blog-list {
        margin: 10px auto 0;
        transition: 0.3s ease;
        display: inline-block;
    }

    $blog-card-width: 260px;

    .blog-card {
        display: block;
        float: left;
        width: $blog-card-width;
        min-height: 380px;
        margin-right: 15px;
        text-align: left;
        vertical-align: top;
        transform: translateX(0px);

        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;
            text-decoration: none;
        }

        .blog-img-wrap {
            width: 100%;
            height: 199px;
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;
            cursor: pointer;

            img {
                width: auto;
                min-width: 100%;
                height: 100%;
                transition: 0.3s ease-in-out;
            }
        }

        .hdng {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            color: $dark-color;
            margin-bottom: 6px;
        }
        .subhdng {
            font-size: 12px;
            line-height: 1.57;
            text-align: left;
            //color: lighten($title-color,30%);
            color: $lighter-color;
        }

        &:hover {
            a, a .hdng {
                color: $link-color;
            }

            .blog-img-wrap {

                img {
                    transform: scale(1.1);
                }
            }

        }
    }
}
// blog section makaaniq ends