.ms-banner-warp{
	background: #fff url(/images/makaan-select/ms-banner-bg.jpg) no-repeat top right;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
	padding: 23px 24px 20px;
	width: 100%;
	max-width: 720px;
	margin: 25px auto;
	position: relative;
	cursor: pointer;
	background-size: 100%;
	height:140px;

	&:hover {
        box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.20);
        z-index: 1;
    }

	&.mini-banner{
		background: #fff url(/images/makaan-select/mobile-ms-banner.jpg) no-repeat top right;
		background-size: cover;
		max-width: 100%;
		border: none;
		box-shadow: none;
		border-bottom: 1px solid #e8e8e8;
		border-radius: 8px 8px 0 0;
		height: 30vw;
		width: calc(100vw - 4px);
		margin: 0 0 15px;
		padding: 10px 15px;

		&.knowmore {
			background: #fff url(/images/makaan-select/mobile-ms-banner.png) no-repeat top right;
			background-size: cover;
			height: 37vw;
			margin: 0;
			padding: 0;
			max-width: 100%;
			border: #fff solid 3px;
			box-shadow: none;
			border-radius: 0px;
		}

		.tag-line{
			font-size: 13px;
			margin-bottom: 3px;
			margin-top: 23px;
		}

		.select-logo{
			width: 106px;
			height: 25px;
		}

		.coupon-amount{
			height: 10px;
			line-height: 18px;
			display: flex;
			margin-top: 7px;
			font-size: 11px;

			span{
				width: 48px;
				height: 18px;
				font-size: 11px;
				padding-left: 16px;
				margin: 0 4px;
				background-size: cover;
			}
		}

	}

	&.mini-banner.ms-knowMore{
		height: 96px;
		padding-top: 15px;
		background-image: linear-gradient(99deg, #fba511, #ffab1c 42%, #fc9d61 79%, #f98d67);
		background-color: #faa721;
		background-size: cover;
		background-position: center;
		overflow: hidden;

		.header-text{
			padding-top: 10px;
			display:flex;
		}
		.bg-selectlogo {
			position: absolute;
		    top: -38px;
		    right: 10%;
		    display: block;
		    font-size: 12rem;
		    color: #fff;
		    opacity: 0.14;
		}
		.tag-line {
			padding-top: 10px;
			font-size: 18px;
			color:#ffffff;
			margin-top: 0px;
		}
		.msbadge{
			font-size: 24px
		}
		.coupon-amount {
			padding-left: 35px;
			font-size: 18px;
			color:#ffffff;

			span {
				width: 72px;
				height: 25px;
				font-size: 18px;
				color:#ffffff;
				padding: 3px 0 0 23px;
				font-weight: 500;
				background: url(/images/makaan-select/coupon-amount-new.png) no-repeat top left;
				background-size: 70px;
			}

			.txtbtn {
				font-size: 11px;
				font-weight: 500;
				text-decoration: underline;
			}
		}
	}

	> p{
		position: absolute;
		bottom: 14px;
		right: 128px;
		color: #ffff;
		font-size: 12px;
		letter-spacing: 0.5px;
		margin: 0;
	}

	.ms-badge{
		position: absolute;
		bottom: 9px;
		right: 56px;
	}

	.tag-line{
		font-size: 28px;
		color: #ffff;
		line-height: 12px;
		margin-bottom: 9px;
		margin-top: 30px;
		span{
			display: inline-block;
			width: 76px;
			height: 30px;
			background: url(/images/makaan-select/coupon-amount.png) no-repeat top left;
			font-size: 17px;
			color: #ffbc00;
			font-weight: 500;
			padding-left: 26px;
			padding-top: 10px;
			margin: 0 8px;
		}
	}

	.select-logo{
		width: 130px;
		height: 30px;
		background: url(/images/makaan-select/ms-logo.png) no-repeat;
		background-size: cover;
	}

	.coupon-amount{
		height: 30px;
		line-height: 30px;
		display: flex;
		margin-top: 10px;
		font-size: 15px;
		color: #ffff;

		.txtbtn{
			padding: 0px 2px;
			text-decoration: underline;
			color:#ffff;
		}


		span{
			display: inline-block;
			width: 76px;
			height: 30px;
			background: url(/images/makaan-select/coupon-amount.png) no-repeat top left;
			font-size: 17px;
			color: #ffbc00;
			font-weight: 500;
			padding-left: 26px;
			margin: 0 8px;
		}
	}

	// Overwrites for reminder version of this banner
	&.ms-reminder {
		height: 140px;
		background-image:url(/images/makaan-select/ms-reminder-banner.jpg);
		background-size: 100%;
		padding-top: 30px;
		.tag-line {
			width: 60%;
			font-size: 24px;
			font-weight: 500;
			line-height: 36px;
			margin-top: 26px;
		}
		.coupon-amount {
			margin-top: -5px;
			font-size: 15px;
			.txtbtn {
				font-size: 13px;
				text-decoration: underline;
			}
		}
		&.mini-banner {
			background-image:url(/images/makaan-select/ms-reminder-banner-mob.png);
			background-size: cover;
			width: calc(100vw - 4px);
			height: 37vw;
			margin: 0 0 15px 10px;
			padding: 10px 15px;
			max-width: 100%;
			border: #fff solid 3px;
			box-shadow: none;
			border-radius: 0px;
			.tag-line {
				font-size: 18px;
				line-height: 20px;
				margin-top:25px;
				margin-bottom: 10px;
			}
			.coupon-amount {
				font-size: 10px;
				.txtbtn {
					font-size: 10px;
					font-weight: 500;
					text-decoration: underline;
				}
			}
		}
	}
}

/*mobile screens only*/
@media screen and(max-width: 767px){
	.ms-banner-warp{
		&.mini-banner{
			border: 1px solid #ececec;
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
			border-radius: 0;
			padding: 15px 10px;
			margin: 0 0 15px;
			
			.txtbtn {
			    display: none;
			}
			
			> p,
			.ms-badge{
				display: none;
			}
		}
	}
	/*-- css for coach mark content --*/
	.introjs-helperLayer {
		display: none;
	}
	.introjs-helperNumberLayer {
	    display: none !important;
	}

	.introjs-overlay {
		background-image: url(/bd) !important;
		background-color: #000 !important;
	}

	.makaan-select-banner {
		color: #fff !important;
		font-size: 14px;
		cursor: pointer;
		left: 10px !important;
		top: 35vw !important;
		box-shadow: none !important;
		background-color: transparent !important;
		width: 100% !important;
		max-width: 80% !important;

		span {
			display: block;
		}
		.txt-content {
			float: left;
			width: 75% !important;
			padding-top: 35px;
			clear: both;
			margin-left: 0px;
		}
		.s-arrow {
		    background: url("/images/makaan-select/ms_coach_arrow.png") no-repeat;
		    background-position: right;
			background-size: contain;
			height: 65px;
			width: 25%;
			float: right;
			margin-left: 0px;
		}
	    .introjs-bullets,
		.introjs-arrow,
		.introjs-tooltipbuttons {
	        display: none !important;
	    }
	}
	.top-area-wrap .ms-banner-warp.mini-banner {
		height: calc(37vw - 14px);
	}
	.prop-banner {
	    top: 32vw !important;
	}
	.ms-banner-warp.mini-banner .tag-line {
	    font-size: 18px;
	    margin-bottom: 15px;
	    margin-top: 30px;
	}
	.ms-banner-warp.mini-banner.knowmore {
	    padding: 10px 0px 0px 10px;
	}
	.ms-banner-warp.mini-banner .coupon-amount {
		font-size: 14px;
	}
	.ms-banner-warp.ms-reminder.mini-banner .tag-line{
		margin-top: 35px;
		margin-bottom: 15px;
	}
	.ms-banner-warp.ms-reminder.mini-banner .coupon-amount {
		font-size: 14px;
	}
	/*-- css for coach mark content --*/
}

@media screen and(max-width: 375px) {
	.makaan-select-banner {
	    top: 35vw !important;
	}
	.prop-banner {
		top: 31vw !important;
	}
	.ms-banner-warp.mini-banner .tag-line {
	    font-size: 15px;
	}
	.ms-banner-warp.mini-banner .coupon-amount {
	    font-size: 12px;
	}
	.ms-banner-warp.ms-reminder.mini-banner .tag-line {
		font-size: 16px;
	}
}

@media screen and(max-width: 320px) {
	.makaan-select-banner {
	    top: 33vw !important;
	}
	.prop-banner {
		top: 28vw !important;
	}
	.ms-banner-warp.mini-banner .tag-line{
		font-size: 13px;
		margin-bottom: 3px;
		margin-top: 22px;

		span {
			width: 60px;
			font-size: 13px;
			background-size: contain;
			padding-top: 6px;
			padding-left: 22px;
		}
	}
	.ms-banner-warp.mini-banner .coupon-amount {
	    font-size: 11px;
	}
	.ms-banner-warp.ms-reminder.mini-banner {
	    padding: 10px 0px 0px 15px;
	}
	.ms-banner-warp.ms-reminder.mini-banner .tag-line {
	    font-size: 14px;
	    margin-top: 20px;
	    margin-bottom: 10px;
	}
	.ms-banner-warp.ms-reminder.mini-banner .coupon-amount {
		font-size: 11px;
	}
}