[data-role="popup"]{

	&.ms-know-more-popup{
		background: #fff;
		max-width: 550px;

		.select-highlighter {
			display: inline !important;
			font-size: inherit !important;
			font-weight: inherit !important;
			color: $link-color2;
			font-weight: 500;
		}

		.by-makaan{
			position: absolute;
			font-size: 9px;
			color: #9b9b9b;
			right: 20px;
			bottom: 14px;

			img{
				position: relative;
				top: -4px;
			}
		}

		.icon-close{
			padding: 10px;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			z-index: 2;

			&:before{
				color: $heading-color;
				font-weight: bolder;
				font-size: 15px;
			}
		}

		.about-makaan-select {
			padding: 27px 20px 20px 20px;

			.text-area {
				width: 320px;
			}

			.img-area {
				position: relative;
				width: 210px;
				padding-left: 20px;
			}

			.coupon-locked {
				position: absolute;
				top: 25px;
				left: 15px;
			}

			.coupon-unlocked {
				position: absolute;
				bottom: 0px;
				left: 100px;
			}

			.unlock {
				color:#e81c28;
				text-decoration: underline;
				cursor:pointer;
			}
			.step {
				padding-bottom: 10px;
				color:$light-color;
				text-transform: uppercase;
			}
			
			h3 {
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				color: $heading-color;

				span {
					display: block;
					font-size: 12px;
					line-height: 16px;
					margin-top: 5px;
					font-weight: normal;
				}
			}

			ul {
				margin-top: 24px;

				li{
					margin-bottom: 30px;

					.img-holder{
						width: 23px;
						height: 22px;
						display: inline-block;
						background: url(/images/makaan-select/ms-step1.png) no-repeat;
						background-size: cover;
						margin-right: 5px;

						&.img2{
							background: url(/images/makaan-select/ms-step2.png) no-repeat;
							background-size: cover;
						}
					}

					h4{
						font-size: 14px;
						font-weight: 500;
						letter-spacing: 0.5px;
						text-transform: uppercase;
						margin-bottom: 6px;
						color: $heading-color;
						line-height: 16px;
						display: flex;
						align-items: center;
						
						span {
							padding: 0 5px;
						}
					}

					p{
						font-size: 14px;
						color: $light-color;
						line-height: 18px;
						margin: 0;
						span{
							padding-top: 10px;
						}
					}

				}
			}

		}
	}
}
.ms-know-more-popup {
	.about-makaan-select.knowMore-content{
		ul > li {
			display: flex;

			h4 {
				display: block;
				text-transform: none;
				font-size: 15px;
				letter-spacing: 0px;
				padding-bottom: 12px;

				span {
					padding: 0;
				}
			}

			p {
				position: relative;
				padding: 0 0 10px 20px;
				color: #292929;

				.count {
					position: absolute;
					top: -10px;
					left: 0px;
				}
			}
		}
	}
}

/*mobile screens*/
@media screen and (max-width: 767px){
	[data-role="popup"]{
		&.ms-know-more-popup{
			max-width: 100%;

			.ms-banner-warp.mini-banner{
				margin: 0;
			}

			.about-makaan-select{
				ul{

					li{

						.img-holder{
							height: 64px;
							width: 64px;
						}
					}
				}
			}
		}
	}
}