@import "coupon-card";

.amp-coupon-stage-mob-sms{
    display: block;
    background-image: url('/images/makaan-select/mob-sms.svg');
    background-repeat: no-repeat;
    height: 22px;
    width: 35px;
}
.amp-coupon-stage-lock{
    display: block;
    background-image: url('/images/makaan-select/lock-icon.png');
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-top: 7px;
}
.amp-coupon-footer{
	display: flex;
	margin-left:20px;
}
.select-highlighter {
	display: inline;
	color: $link-color2;
	font-weight: 500;
}

.ms-coupon-wrap {
	position: relative;
	overflow: hidden;
	border-radius: 8px;

	&.forcoupon-voucher {
		&:before {
			content: '';
			position: absolute;
			top: -30%;
			left: -8%;
			width: 115%;
			height: 110%;
			background-color: #f8f8f8;
			border-radius: 50%;
		}
	}
	.top-panel {
		position: relative;
		margin-bottom: 60px;
		.img-icon-wrap {
			position: absolute;
			bottom: -50px;
			left: 0;
			width: 100%;
			text-align: center;
			.lockicon {
				display: inline-block;
				width: 40px;
				height: 40px;
				padding: 2px 0 0 0;
				text-align: center;
				background-color: #efefef;
				border: solid 3px #fff;
				border-radius: 50%;
			}
		}
	}

	h2 {
		padding: 20px 15px 5px;
		text-align: center;
		font-size: 18px;
		font-weight: 500;
	}

	.subtxt {
		padding: 2px 15px 37px;
		position: relative;
		text-align: center;
		color: $heading-color;
		font-size: 16px;
	}

	p {
		position: relative;
		margin: 25px 0 0;
		text-align: center;
		&.small-size {
			color: $lighter-color;
			font-size: 9px;
			margin-top: 2px;
		}
	}
	.ms-coupon-footer {
		text-align: center;
		padding: 30px 2px 0px;
		font-size: 12px;
	}
}

// overwrites for prelead form screen
.step-ms-prelead{
	.ms-coupon-wrap {
		background: #F7F7F7;
		h2 {
			font-weight: normal;
			padding: 0 15px 25px;
		}
		.img-wrap.dealimg {
			height: 165px;
			margin: 20px 0;
			background-repeat: no-repeat;
			background-image: url(/images/makaan-select/ms-deal-otp.png);
			background-position: center;
			background-size: contain;
		}
	}
}