// orange color strip for makaan select OFFER Rs 2000 off on brokerage
.ms-promotion {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	width: 100%;
	max-width: 720px;
	margin: 10px auto;
	padding: 6px 10px;
	background-repeat: no-repeat;
	background-image: linear-gradient(99deg, #fba511, #ffab1c 42%, #fc9d61 79%, #f98d67);
	//background-image: url(/images/makaan-select/ms-promotion-strip-bg.png);
	background-size: cover;
	background-position: center;
	background-color: #faa721;
	border-radius: 5px;
	font-size: 16px;
	overflow: hidden;

	.bg-selectlogo {
		position: absolute;
    top: -38px;
    right: 20%;
    display: block;
    font-size: 12rem;
    color: #fff;
    opacity: 0.14;
	}

	.tip-icon {
		margin-right: 5px;
		font-size: 32px;
  }

	.msp-txt {
    	width: calc(100% - 70px);
		color: #fff;
		font-size: 13px;
		line-height: 1.3;
		z-index:1;
	}
	.linkk {
		color: #fff;
		font-size: 12px;
		text-decoration: underline;
		cursor: pointer;
	}

	.msbadge {
		width: 60px;
		font-size: 10px;
		text-align: right;
	}

	.coupon-amount {
		font-weight: 700;
	}

	&.tipbox {
		width: 90%;
		max-width: 350px;
		.msp-txt {
			width: calc(100% - 42px - 60px);
			font-size: 14px;
		}
	}
}

// overwrites for desktop,mobile serp prop-cards
.cardLayout, .cardMobile {
	.imgWrap .ms-promotion {
		position: absolute;
		bottom: 0;
		z-index: 2;
		margin: 0;
		padding: 2px 10px;
		border-radius: 0;
	}
}
.ms-promotion.amp-select{
	width:94%;
}
.ms-promotion.amp-select.amp-lead{
	width:80%;
}
// overwrites for leadform dm-side-widget
.dm-side-widget .ms-promotion {
	width: 90%;
	max-width: 320px;
	height: 52px;
	margin: 0 auto 20px;
}

// overwrites for normal leadform
.lead-col .leadenquiry-container.step-coupon {
	padding: 0 0 55px;
	.btn-wrap {
		bottom: 0;
		right: 20px;
	}
}
.leadenquiry-container {
	.ms-promotion {
		width: 95%;
		max-width: 320px;
		height: 52px;
		margin: 20px auto 0;
	}
	&.call-screen-lead {
		.call-body {
			padding-bottom: 15px;
			.text {
				margin: 27px 0 0;
			}
		}
		.ms-promotion.tipbox {
			margin: -5px auto 0;
		}
	}
}

// overwrites for desktop property detail page
.imp-data-wrap .ms-promotion {
	height: 52px;
	margin: 15px 0 0;
}

// overwrites for mobile property detail page
.top-area-wrap .ms-promotion {
	height: 52px;
}

// overwrites in full gallery popup view
.ms-gall {
	.lg-outer {
		.lg-inner {
			height: calc( 100% - 35px - 124px);
			top: 62px;
		}
	}
	.ms-promotion {
		height: 52px;
    	max-width: 560px;
		top: 48px;
		z-index: 1051;
	}
}

// overwrites in full gallery popup view for mobile
@media (max-width: 768px) {
	.lg-on.fullsize.ms-gall {
		.ms-promotion {
			max-width: 320px;
		}
	}
}
@media (max-width: 320px) {
	.lg-on.fullsize.ms-gall {
		.ms-promotion {
			max-width: 280px;
		}
	}
}