@import "coupon-card";

.verify-text {
	font-size: 16px !important;
	font-weight: bold !important;
	color: #20a255 !important;
	text-transform: uppercase;
	display: inline !important;
}

.select-highlighter {
	display: inline;
	color: $link-color2 !important;
	font-weight: 500;
}

.ms-coupon-wrap {
	position: relative;
	overflow: hidden;
	border-radius: 8px;

	&.forcoupon-voucher {
		&:before {
			content: '';
			position: absolute;
			top: -30%;
			left: -8%;
			width: 115%;
			height: 110%;
			background-color: #f8f8f8;
			border-radius: 50%;
		}
	}
	.pre-lead.icon-select-logo:before {
	  color: #fba510;
	}
	.top-panel {
		position: relative;
		z-index: 0;
		margin-bottom: 60px;

		&.congo {
			&:before,
			&:after{
				content: '';
				position: absolute;
				width: 130px;
				height: 245px;
				background: url(/images/makaan-select/congrats-bg.png) no-repeat top center;
				left: 0;
				top: 45px; 
			}
			
			&:after{
				left: auto;
				right: 0;
				transform: scaleX(-1)
			}	
		}
		
		.img-icon-wrap {
			position: absolute;
			bottom: -50px;
			left: 0;
			width: 100%;
			text-align: center;

			.lockicon {
				display: inline-block;
				width: 40px;
				height: 40px;
				padding: 7px 0 0 0;
				text-align: center;
				background-color: #efefef;
				border: solid 3px #fff;
				border-radius: 50%;

				.icon-lock:before {
					color: $light-color;
				}
			}
			.lockicon.amp-lock{
				padding: 2px 0 0 0;
			}
		}
	}

	h2 {
		position: relative;
		z-index: 1;
		padding: 20px 15px 5px;
		text-align: center;
		color: $heading-color;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
	}

	.subtxt {
		padding: 2px 15px 37px;
		position: relative;
		text-align: center;
		color: $heading-color;
		font-size: 16px;
	}

	p {
		position: relative;
		z-index: 1;
		margin: 25px 0 0;
		text-align: center;
		color: $light-color;
		font-size: 14px;
		line-height: 1.25;

		&:empty {
			display: none;
		}

		&.small-size {
			color: $lighter-color;
			font-size: 9px;
			margin-top: 2px;
		}

		> img {
			position: relative;
			display: inline-block;
			top: -1px;
			padding-right: 4px;
		}
	}

	.ms-coupon-footer {
		text-align: center;
		padding: 30px 2px 0px;
		font-size: 12px;

		img {
			margin-right: 5px;
		}
	}

	ul {
		position: relative;
		margin-bottom: 50px;
		position: relative;
		z-index: 1;

		&:before {
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			left: 2px;
			top: -8px;
			border-radius: 100%;
			background: #f5a623;
		}

		li {
			position: relative;
			font-size: 13px;
			line-height: 16px;
			color: $light-color;
			margin-bottom: 13px;
			padding-left: 10px;

			&:before {
				content: '';
				width: 5px;
				height: 5px;
				position: absolute;
				left: 0;
				top: 5px;
				border-radius: 100%;
				background: #f5a623;
			}
		}
	}

}

// overwrites for prelead form screen
.step-ms-prelead{

	.ms-coupon-wrap {
		background: #F7F7F7;
		h2 {
			font-weight: normal;
			padding: 0 15px 25px;
		}

		.img-wrap.dealimg {
			height: 165px;
			margin: 20px 0;
			background-repeat: no-repeat;
			background-image: url(/images/makaan-select/ms-deal-otp.png);
			background-position: center;
			background-size: contain;
		}

		.ruppe-highlight {
			margin: 10px auto 20px;
			text-align: center;

			.price {
				color: #f1763e;
				font-size: 44px;
				font-weight: bold;
				line-height: 1;
				letter-spacing: 1.2px;
				span {
					font-size: 24px;
				}
			}
			.txt {
				color: #861010;
				font-size: 14px;
				letter-spacing: 3px;
			}
		}
	}
}
.leadenquiry-container.step2 {
	.pre-lead-btn.btn-wrap {	
		position: inherit;
	    text-align: center;
	    padding: 20px;
	}
}

@media screen and (max-width: 767px){	
	.leadenquiry-container.step-ms-prelead {	
		.btn-wrap {	
			bottom: 120px;	
		}	
	}	
}
@media screen and (max-width: 320px) {
	.leadenquiry-container.step2 {
		.ms-coupon-wrap {			
			h2 {
				font-size: 16px;
			}
		}
	}	
}