@import "../variables";
@import "../mixins/ellipsis";

/*** Listing MARKER css for map elemets ***/
.listing_marker {
    min-width: 75px;
    background-color: $link-color;
    border: solid 1px $link-color;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    transition: all .3s ease;
    z-index: 3;

    &:before, &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        content: " ";
        height: 0;
        width: 0;
        margin-left: -2px;
        border: solid transparent;
        border-width: 4px;
        //border-color: rgba(194, 225, 245, 0);
        border-top-color: $link-color;
        pointer-events: none;
        transition: all .3 ease;
    }

    &:before {
        margin-top: -1px;
        z-index: 1;
    }

    .val-wrap {
        position: relative;
        border-radius: 4px;
        padding: 3px 8px;
        text-transform: capitalize;
        text-shadow: 0px 1px 1px #333;
        cursor: pointer;

        i.icon-rupee {
            font-size: 10px;
        }

        i.icon-makaanfill {
            display: none;
            position: absolute;
            top: -9px;
            right: -7px;
            color: $link-color;
            font-size: 16px;
        }
    }

    $hoverwidth: 220px;

    .list-info-wrap {
        position: absolute;
        bottom: 28px;
        left: -$hoverwidth/2;
        width: $hoverwidth;
        height: 65px;
        padding: 0;
        margin-left: 50%;
        background-color: #fff;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,.3);
        border-radius: 3px;
        opacity: 0;
        visibility: hidden;
        line-height: 1.1;
        text-align: left;
        transition: all .3s ease;

        .img-col {
            float: left;
            width: 85px;
            height: 65px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .desc-col {
            float: right;
            width: calc(100% - 85px);
            padding: 5px;
        }

        .list-price {
            @include putellipsis;
            font-size: 16px;
            font-weight: bold;
            color: #000;
            text-transform: capitalize;

            i {
                font-size: 10px;
            }
        }

        .list-bhk {
            @include putellipsis;
            padding-top: 3px;
            font-size: 13px;
            color: $dark-color;
        }
        .list-size {
            @include putellipsis;
            padding-top: 7px;
            font-size: 12px;
            color: $light-color;
        }
    }

    &.st-h {
        background-color: #fff;
        color: $link-color;

        &:before {
            border-top-color: #fff;
        }

        .val-wrap {
            text-shadow: none;
        }

        .list-info-wrap {
            opacity: 1;
            visibility: visible;
        }
    }

    &.st-c, &.seen {
        //background-color: #333;

        &:after {
            //border-top-color: #333;
        }
    }

    &.st-q {
        background-color: #faa60f;

        &:after {
            border-top-color: #faa60f;
        }
    }

    &.st-f, &.shortlisted {
        background-color: #fff;
        color: $link-color;

        &:before {
            border-top-color: #fff;
        }

        .val-wrap {
            text-shadow: none;

            i.icon-makaanfill {
                display: block;
            }
        }
    }
}

// amenity marker css
.map-fit-width {
    width: fit-content !important;
}
.amenity_marker {
    padding: 3px 4px;
    background-color: $link-color;
    border: solid 1px $link-color;
    border-radius: 50%;
    //box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4);
    cursor: pointer;

    &:before, &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        content: " ";
        height: 0;
        width: 0;
        margin-left: -4px;
        border: solid transparent;
        border-width: 4px;
        //border-color: rgba(194, 225, 245, 0);
        border-top-color: $link-color;
        pointer-events: none;
        transition: all .3 ease;
    }

    &:before {
        margin-top: -1px;
        z-index: 1;
    }

    i {
        color: #fff;
        font-size: 18px;
    }

    i [class*="path"]:before {
        //color: $link-color;
        color: #fff;
    }

    .on-hov {
        position: absolute;
        left: -65px;
        top: -60px;
        width: 150px;
        padding: 0px;
        opacity: 0;
        visibility: hidden;
        background: none repeat scroll 0 0 #ffffff;
        border-radius: 3px;
        box-shadow: 0px 1px 2px #666;
        color: #333;
        font-size: 11px;
        line-height: normal;
        z-index: 2;

        &:after, &:before {
            position: absolute;
            top: 100%;
            height: 0;
            width: 0;
            border: solid transparent;
            content: " ";
            pointer-events: none;
        }

        &:after {
            left: 45%;
            width: 0;
            height: 0;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-top: 8px solid #ffffff;
        }

        &:before {
            left: 44%;
            width: 0;
            height: 0;
            border-right: 9px solid transparent;
            border-left: 9px solid transparent;
            border-top: 9px solid #acacac;
        }

        .name {
            @include putellipsis;
            display: block;
            width: 150px;
            padding: 3px 3px 3px 7px;
            background: #555555;
            border-radius: 0px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            color: #fff;
            font-size: 11px;
            font-weight: bold;
            text-shadow: none;
        }

        .waiting {
            display: block;
            padding: 1px 0 0 0;
            height: 30px;

            i {
                color: #666;
                font-size: 12px;

                [class*="path"]:before {
                    color: #666;
                }
            }

            .dstnc_wrap {
                display: block;
                float:left;
                width: 38%;
                margin: 5px 0px 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .time_car_wrap {
                display: block;
                float:left;
                width: 47%;
                margin: 5px 0px 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &.completed {
                i.icon-gps {
                    display: none;
                }
            }
        }
    }

    &:hover, &.st-h {
        background-color: #fff;

        &:before {
            border-top-color: #fff;
        }

        i [class*="path"]:before {
            color: $link-color;
        }

        .on-hov {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }
}

// landmark marker css
.landmark_marker {
    position: relative;

    i {
        color: #000;
        font-size: 32px;
        line-height: 1;
    }

    .on-hov {
        position: absolute;
        bottom: 35px;
        left: -57px;
        width: 150px;
        height: 0;
        overflow: hidden;
        background-color: #3c3c3c;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        transition: height 0.25s ease-in-out;

        .name {
            display: inline-block;
            padding: 3px 10px 5px;
        }
    }

    &:hover {
        .on-hov {
            height: auto;
        }
    }
}

// nearby locality marker
.nearloc_marker {

    i.icon-mapmarker {
        font-size: 21px;
        color: $icon-color;
        cursor: pointer;
    }

    .on-hov {
        position: absolute;
        left: -65px;
        top: -70px;
        width: 150px;
        padding: 0px;
        opacity: 0;
        visibility: hidden;
        background: none repeat scroll 0 0 #ffffff;
        border-radius: 5px;
        box-shadow: 0px 1px 2px #666;
        color: #333;
        font-size: 11px;
        line-height: normal;
        z-index: 2;

        &:after, &:before {
            position: absolute;
            top: 100%;
            height: 0;
            width: 0;
            border: solid transparent;
            content: " ";
            pointer-events: none;
        }

        &:after {
            left: 45%;
            width: 0;
            height: 0;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-top: 8px solid #ffffff;
        }

        &:before {
            left: 44%;
            width: 0;
            height: 0;
            border-right: 9px solid transparent;
            border-left: 9px solid transparent;
            border-top: 9px solid #acacac;
        }

        .name {
            @include putellipsis;
            display: block;
            width: 150px;
            padding: 3px 3px 3px 7px;
            background: #555555;
            border-radius: 0px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            color: #fff;
            font-size: 11px;
            font-weight: bold;
            text-shadow: none;
        }

        .waiting {
            display: block;
            padding: 3px 5px;
            height: 40px;

            .link-wrap {

            }

            .link {
                display: inline-block;
                @include putellipsis;
                max-width: 98%;
                color: $link-color;
                padding-bottom: 3px;
                vertical-align: top;
                text-decoration: none;
                cursor: pointer;
            }

            i {
                vertical-align: top;
                color: #666;
                font-size: 12px;

                [class*="path"]:before {
                    color: #666;
                }
            }

            &.completed {
                i.icon-gps {
                    display: none;
                }
            }
        }

        &.nodata {
            top: -30px;

            &:before, &:after {
                border-top: 9px solid #555555;
            }

            .name {
                border-radius: 5px;
            }

            .waiting {
                display: none;
            }
        }
    }

    &:hover, &.st-h {
        i.icon-mapmarker, i [class*="path"]:before {
            color: $link-color;
        }

        .on-hov {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }
}

.commute_landmark_marker {
    position: relative;

    i {
        color: $link-color2;
        font-size: 32px;
        line-height: 1;
    }

    .on-hov {
        position: absolute;
        left: -65px;
        top: -60px;
        width: 150px;
        padding: 0px;
        opacity: 0;
        visibility: hidden;
        background: none repeat scroll 0 0 #ffffff;
        border-radius: 3px;
        box-shadow: 0px 1px 2px #666;
        color: #333;
        font-size: 11px;
        line-height: normal;
        z-index: 2;

        &:after, &:before {
            position: absolute;
            top: 100%;
            height: 0;
            width: 0;
            border: solid transparent;
            content: " ";
            pointer-events: none;
        }

        &:after {
            left: 45%;
            width: 0;
            height: 0;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-top: 8px solid #ffffff;
        }

        &:before {
            left: 44%;
            width: 0;
            height: 0;
            border-right: 9px solid transparent;
            border-left: 9px solid transparent;
            border-top: 9px solid #acacac;
        }

        .name {
            @include putellipsis;
            display: block;
            width: 150px;
            padding: 3px 3px 3px 7px;
            background: #555555;
            border-radius: 0px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            color: #fff;
            font-size: 11px;
            font-weight: bold;
            text-shadow: none;
        }

        .waiting {
            display: block;
            padding: 1px 0 0 0;
            height: 30px;

            i {
                color: #666;
                font-size: 12px;

                [class*="path"]:before {
                    color: #666;
                }
            }

            .dstnc_wrap {
                display: block;
                float:left;
                width: 38%;
                margin: 5px 0px 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .time_car_wrap {
                display: block;
                float:left;
                width: 47%;
                margin: 5px 0px 0 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &.completed {
                i.icon-gps {
                    display: none;
                }
            }
        }
    }

    &:hover, &.st-h, .st-h {

        .on-hov {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }
}

// svg tooltip / legend tooltipContent
.legend-tooltip {
    position: absolute;
    top: 0px;
    color: #000;
    background: #f1f1f1;
    left: 0px;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #9c9c9c;
    padding: 10px 15px;
    font-size: 13px;
}

.map-loading-div{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: larger;
}

/* css for map zoom elemet */
.map-zoom-control {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 25px;
    background-color: #4c4c4c;
    border: 1px solid rgba(0,0,0,.1);
    z-index: 4;

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        display: block;
        width: 16px;
        height: 1px;
        margin-left: -8px;
        margin-top: 0;
        background-color: rgba(0,0,0,.1);
    }

    .disable{
        opacity: 0.3;
        cursor: default;
    }

    button {
        display: block;
        width: 100%;
        padding: 2px 6px 3px;
        background: none;
        border: 0;
        text-align: center;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255,.1);
        }
    }
}

/* css for map top and bottom control elements on MAP SERP */
.map-btn-wrapper {
    position: absolute;
    left: 50%;
    display: table;
    width: $body-width;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    border-radius: 5px;
    height: 35px;
    z-index: 5;

    button {
        display: block;
        width: 100%;
        //height: 35px;
        padding: 0 10px;
        background: none;
        border:  none;
        outline: none;
        vertical-align: middle;
    }

    &.bot-control {
        max-width: 400px;
        bottom: 25px;
        margin-left: -200px;
    }

    &.top-control {
        display: none;
        max-width: 400px;
        top: 20px;
        margin-left: -200px;
    }

    .cols {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .view-master-plan {
        .svgoptions {
            display: none;

            span {
                width: 50px;
            }
        }
    }

    .heat-map {
        overflow: hidden;
    }

    .view-master-plan ~ .heat-map {
        border-left: 1px solid $lighter-color;
    }

    // options CSS which appear in the bottom bar of map after clicking master-plan / heatmap btns
    .svgoptions, .hmoptions {
        display: inline-block;
        width: 0;
        margin-left: 5px;
        border-left: 1px solid #f6f6f6;
        vertical-align: middle;
        transition: all .3s ease;

        .optionitem, .heatmap-option {
            display: table-cell;
            width: 35px;
            height: 33px;
            border-right: 1px solid #f6f6f6;
            border-bottom: solid 2px #fff;
            text-align: center;
            color: $light-color;
            line-height: 21px;
            cursor: pointer;

            [class*="icon-"] {
                font-size: 24px;
                line-height: 33px;
            }

            &:hover {
                border-bottom: solid 2px $link-color;
            }

            &.active {
                background-color: $link-color;
                border-bottom: solid 2px $link-color;
                color: #fff;

                [class*="icon-"]:before, [class*="icon-"] [class*="path"]:before {
                    color: #fff;
                }
            }

            &[disabled="true"] {
                opacity: 0.5;
                cursor: not-allowed;

                [class*="icon-"]:before, [class*="icon-"] [class*="path"]:before {
                    color: #999;
                }
            }
        }
    }

    // close btn css after master-plan / heatmap btn is clicked
    .clse {
        display: none;
        width: 26px;
        padding: 5px 0;
        border-left: 1px solid $lighter-color;
        text-align: center;
        font-size: 8px;
        font-weight: bold;
        line-height: normal;
        cursor: pointer;
    }

    // handling - when the heat map btn is clicked.
    &.heat-map-opened {
        .cols {
            border: 0;
        }

        button {
            display: inline-block;
            width: 110px;
            line-height: 1;
        }

        .view-master-plan {
            display: none!important;
        }

        .heat-map {
            width: 100%;
            padding-left: 10px;
            text-align: left;

            .hmoptions {
                width: calc(100% - 110px - 10px - 35px);
                display: inline-block;
            }

            .clse {
                display: inline-block;
            }
        }
    }

    // handling - when the master plan btn is clicked.
    &.master-plan-opened {
        .heat-map {
            display: none;
        }

        .view-master-plan {
            width: 100%;
            padding-left: 10px;
            text-align: left;

            .clse {
                display: inline-block;
            }
        }

        .svgoptions {
            width: calc(100% - 110px - 10px - 35px);
            display: inline-block;
        }

        button {
            display: inline-block;
            width: 110px;
            text-overflow: ellipsis;
            max-width: 90%;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    // Draw and Search in this area btns on top of map css is here
    .draw, .cancel {
        line-height: 35px;
        cursor: pointer;

        span {
            display: block;

            i {
                margin-left: 5px;
                vertical-align: middle;
                color: $link-color;
                font-weight: bold;
            }

            .icon-close {
                font-size: 9px;
            }
        }
    }

    .cancel {
        i {
            color: $body-color!important;
        }
    }
}

/* css for legends element */
#svgLegends {
    .svg-legend {
        position: fixed;
        top: 145px;
        right: 31%;
        width: 200px;
        text-align: left;
        transition: top .3s ease;

        &.svg-legend-moved {
            top: 145px;
        }

        .svg-header {
            position: relative;
            padding: 7px 10px;
            background-color: #fff;
            border-bottom: 1px solid lighten($lighter-color, 25%);
            border-radius: 3px 3px 0 0;
            box-shadow: 0 0 5px rgba(0,0,0,.5);
            color: $light-color;
            font-size: 15px;
            cursor: pointer;

            i {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 12px;
                font-weight: bold;
                color: $link-color;
                transition: all .3s ease;
            }
        }

        .svg-sub-item {
            padding: 10px;
            padding-top: 5px;
            border-radius: 0 0 3px 3px;
            background-color: #fff;
            box-shadow: 0 1px 5px rgba(0,0,0,0.5);
            position: relative;
            transform: scale(1,1);
            transform-origin: 0 0;
            transition: all .3s ease;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                margin-top: 5px;
                font-size: $body-font-size - 1;
                color: $light-color;

                span {
                    &.label {
                        margin-right: 10px;
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                    }
                    &.agri {
                        background-color: #a3e37e;
                    }
                    &.indus {
                        background-color: #bb7bcc;
                    }
                    &.inst {
                        background-color: #9da6d9;
                    }
                    &.resid {
                        background-color: #cea89f;
                    }
                    &.parkplay {
                        background-color: #afd18d;
                    }
                    &.comm {
                        background-color: #d9787c;
                    }
                    &.village {
                        background-color: #fccf72;
                    }
                    &.metro-line-exist, &.metro-line, &.railway-line-exist, &.railway-line, &.nh, &.nh-proposed, &.street, &.drain-canal, &.tension-line {
                        border-bottom: 2px solid #d42939;
                        padding: 0 12px;
                        margin-right: 10px;
                        display: inline-block;
                        height: 10px;
                        vertical-align: top;
                    }
                    &.metro-line {
                        border-bottom-style: dotted;
                    }
                    &.railway-line-exist, &.railway-line{
                        border-bottom-color: #936e37;
                    }
                    &.railway-line{
                        border-bottom-style: dotted;
                    }
                    &.nh, &.nh-proposed {
                        border-bottom-color: #482310;
                    }
                    &.nh-proposed {
                        border-bottom-style: dotted;
                    }
                    &.street {
                        border-bottom-width: 1px;
                        border-bottom-color: #482311;
                    }
                    &.drain-canal {
                        border-bottom-color: #6ac7ce;
                    }
                    &.tension-line {
                        border-bottom-color: #ae529f;
                    }
                }
            }
        }

        &.collapse {
            .svg-header {
                i {
                    top: 13px;
                    transform: rotate(180deg);
                }
            }

            .svg-sub-item {
                height:0;
                transform: scale(1,0);
                transition-property: height;
            }
        }
    }
}

/*** The css for the Neighborhood options in the white box on map ***/
.listbox-wrap {
    position: absolute;
    top: 100px;
    z-index: 1;

    .communicatorlist {
        position: relative;

        .listhdng {
            position: absolute;
            top: 5px;
            width: 100%;
            padding: 10px;
            font-size: 18px;
            line-height: 1;
        }
    }

    .neighboring-itemlist {
        min-height: 65px;
        height: auto;
        width: 300px;
        margin: 0;
        padding: 10px 14px;
        background: #ffffff;
        border-radius: 3px;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);

        &.forcommute, &.fornearby {
            padding-top: 50px;
        }

        li {
            border-bottom: 1px solid #cdcdcd;
            padding: 9px 0px;
            transition: all 0.3s ease;
            cursor: pointer;

            $iconwidth: 25px;

            .icon-wrap {
                display: block;
                float: left;
                width: $iconwidth;
            }

            .desc {
                display: block;
                float: left;
                @include putellipsis;
                //width: calc(100% - #{($iconwidth*3)+15});  // comment it if dist is hidden
            }

            .dist {
                display: none;  /////// temporary hide
                float: right;
                width: $iconwidth*2+15;
                padding-left: 3px;
                color: $lighter-color;
                font-size: 13px;
                text-align: right;
            }

            &:after {
                display: block;
                content: '';
                clear: both;
            }

            &:last-child {
                border-bottom: none;
            }

            &:hover, &.active, &.selected {
                border-bottom: solid 1px $link-color;
                color: $link-color;
            }
        }
    }
}

/**** CITY / LOCALITY / PROPERTY / PROJECT pages CSS for map module **/
.neighborhood-wrap, .vom-wrap {
    padding: 20px 0px;

    &:after {
        display: block;
        content: '';
        clear: both;
    }

    /////////////  MOBILE NEIGHBORHOOD AMENITY CARD  /////////////
    .m-commute {
        width: 100%;

        .hdng-wrap {
            position: relative;

            .amenity-tablist {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                margin: 0;
                padding: 10px 0 15px;
                list-style: 0;

                > li {
                    display: inline-block;
                    padding: 0 5px;
                    text-align: center;
                    color: $light-color;
                    font-size: 11px;

                    .icon-wrap {
                        display: block;
                        width: 32px;
                        height: 32px;
                        margin: 0 auto;
                        padding: 6px 0 0 0;
                        border: dotted 1px $lighter-color;
                        border-radius: 50%;
                        font-size: 18px;
                    }

                    &:hover {
                        .icon-wrap {
                            background-color: #ececec;
                        }
                    }
                }
            }
        }

        .neighbour-commute {
            padding: 5px 10px;
            margin: 0;
            list-style: none;
            background-color: #f6f6f6;

            li {
                padding: 5px 0 2px;
                border-bottom: 1px solid #ececec;

                .place-name {
                    @include putellipsis;
                    display: inline-block;
                }

                .dist {
                    padding: 0 0 0 5px;
                    color: $lighter-color;
                    text-align: right;
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }


    .tabs.map-tab {
        margin-top: 5px;

        ul {
            margin: 0 auto;
            width: 40%;

            li {
                width: 33%;
                padding: 7px 10px;
                border-color: #e62489;

                &.selected {
                    &:before {
                        border-width: 6px;
                    }
                }
            }
        }
    }

    .tabscontent-wrap {
        position: relative;
    }

    .neighbourhood-places {
        .heading {
            margin-bottom: 30px;
        }
    }

    .map-area {
        width:100%;
        height:510px;
        //border:4px solid #ffffff;
        // overflow: hidden;
        position: relative;
        margin-top: 80px;
    }

    .zoom-wrap {
        .map-zoom-control {
            left: auto;
            right: 10px;
        }
    }

    .svglegends-wrap {
        position: absolute;
        top: 32px;
        left: 0;
        width: 100%;

        #svgLegends {
            .svg-legend {
                position: absolute;
                top: 68px;
                right: auto;
                left: 15px;
                z-index: 5;
            }
        }

        #svgbtn {
            display: none;
        }

        .svgoptions {
            position: relative;
            padding-bottom: 8px;
            border-bottom: 1px solid #d7d7d7;
            text-align: center;

            .optionitem {
                position: relative;
                display: inline-block;
                min-width: 120px;
                padding: 0 20px;
                background-color: transparent;
                border: none;
                cursor: pointer;

                i {
                    font-size: 28px;
                }

                &:hover {
                    color: $dark-color;
                }

                &:focus {
                    outline: 0;
                }

                // selected state of tabbed state
                &.active {
                    color: $dark-color;

                    &:after {
                        position: absolute;
                        bottom: -9px;
                        left: 0;
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: $link-color;
                    }
                }

                &:focus {
                    outline: 0;
                }

                // disabled state of tabs
                &[disabled="true"] {
                    opacity: 0.5;
                    cursor: not-allowed;
                }

                &.prop-hide {
                    display: none;
                }
            }
        }

        .clse {
            display: none;
        }
    }

    .nearby-amenity-wrap {
        position: absolute;
        top: 32px;
        width: 100%;
        left: 0;
        text-align: center;

        .nearbyamenity-tabs {
            padding-bottom: 8px;

            .tabitem {
                position: relative;
                display: inline-block;
                min-width: 120px;
                margin: 0 20px;
                background-color: transparent;
                border: none;
                color: #acacac;
                cursor: pointer;

                &:hover {
                    color: $dark-color;
                }

                &:focus {
                    outline: 0;
                }

                // selected state of tabbed state
                &.selected {
                    color: $dark-color;

                    &:after {
                        position: absolute;
                        bottom: -9px;
                        left: 0;
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: $link-color;
                    }
                }

                // disabled state of tabs
                &[disabled="true"] {
                    opacity: 0.5;
                    cursor: not-allowed;

                    &:hover {
                        color: inherit;
                    }
                }
            }
        }
    }

    .listbox-wrap {
        left: 15px;
    }

    .direction-module-wrap {
        position: absolute;
        top: 32px;
        z-index: 2;
        width: 100%;

        .fc-wrap.inputbox {
            position: relative;
            top: 50px;
            width: 275px;
            left: 25px;

            i.srchbtn2 {
                position: absolute;
                top: 0;
                left: 0;
                padding: 5px;
                border-radius: 5px;
                font-size: 18px;
                cursor: pointer;
                -webkit-transition: all 500ms ease-in-out;
                transition: all 500ms ease-in-out;
            }

            input.fc {
                padding: 6px 0 6px 30px;
                width: 100%;
            }

            &:focus, &.active {
                i.srchbtn2 {
                    left: 91%;
                    background-color: $link-color;
                    opacity: .8;
                    z-index: 999;

                    [class*="path"]:before {
                        color: #fff;
                    }
                }
            }
        }

        .commute-tagName {
            position: relative;
            //width: 66%;
            padding-bottom: 8px;
            border-bottom: solid 1px #d7d7d7;
            text-align: left;
        }

        #customDirectionModule_suggestions {
            position: absolute;
            top: 116px;
            left: 15px;
            max-width: 300px;
            width: 300px;
            background-color: #ffffff;

            .notxt {
                min-height: 50px;
                padding: 10px;
                -webkit-box-shadow: 0px 2px 6px 1px rgba(102,102,102,0.75);
                -moz-box-shadow: 0px 2px 6px 1px rgba(102,102,102,0.75);
                box-shadow: 0px 2px 6px 1px rgba(102,102,102,0.75);
            }

            .suggestions-list {
                -webkit-box-shadow: 0px 2px 6px 1px rgba(102,102,102,0.75);
                -moz-box-shadow: 0px 2px 6px 1px rgba(102,102,102,0.75);
                box-shadow: 0px 2px 6px 1px rgba(102,102,102,0.75);
                padding: 0 10px;

                li {
                    padding: 7px 0px;
                    border-bottom: 1px solid #ececec;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        color: $link-color;
                        border-bottom: 1px solid $link-color;
                    }
                }
            }
        }
    }
}

@media (max-width: 1140px) {
    .neighborhood-wrap {
        .d-commute {
            .nearby-amenity-wrap {
                .nearbyamenity-tabs {
                    .tabitem {
                        &[disabled="true"] {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
