.vom-wrap h2{
    display: none;
}
.upper-map-icon{
    display: block;
}
.view-on-map-wrapper .vom-btn{
    width: 56px;
    height: 56px;
    padding: 28px 0 0 0;
    border-radius: 50%;
    background-image: url(/images/map-icon.png);
}
.map-area{
    margin-top: 0px !important;
}
.prop-detail{
    display: block;
    margin: 10px 0px 10px 50px;
    .price{
        font-size: 16px;
        color: #000000;
    }
    .rate{
        font-size: 10px;
        color: #9b9b9b;
    }
    .prop-name{
        font-size: 14px;
        font-weight: 500;
        color: #292929;
    }
    .size{
        font-size: 14px;
        color: #292929;
    }
}
.bottom-bar{
    position: fixed;
    display: block !important;
    width: calc(100% - 10px);
    background: #fff;
    bottom: 0;
    background-image: linear-gradient(98deg, #ff6171, #ff7a6b);
    z-index: 8;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 0px 5px 5px 5px;
    .seller-pic{
        height: 40px;
        width: 40px;
        background-size: contain;
        text-align: center;
        span{
            font-size: 16px;
            line-height: 42px;
        }
    }
    .seller-info{
        .name{
            font-size: 14px;
            font-weight: 500;
            color: #fff;
        }
        .type{
            font-size: 11px;
            color:#fff;
            text-transform: uppercase;
        }
    }
    .left{
        display: inline-block;
        width: 15%;
        .seller-pic{
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            border: 1px solid #fff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #ccc;
        }
    }
    .right{
        display: inline-block;
        width: 20%;
        vertical-align: top;
        margin-top:6px;
        .cbtn{
            font-size: 15px;
            color: #e71c28;
            background-color: #fff;
            border: solid 1px  #fff;
            border-radius: 20px;
            padding: 0px 15px;
            height: 32px;
            line-height:28px;
        }
    }
    .center{
        display: inline-block;
        width: 55%;
        vertical-align: top;
    }
}
.map-zoom-control {
    bottom: 70px;
}

