/***************************************
 HERE IS THE HTML TO BE ADDED FOR THE LEFT TO RIGHT DRAGGABLE MENU DRAWER in base.marko
        
        <div class="md-overlay"></div>
        <div class="mdbox"></div>
        
****************************************/


// .mdbox class is declared in .header.scss file

// menu drawer overaly css
.md-overlay {
    position: fixed;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    background: 0 0;
    transition: transform .2s ease-in-out;
    user-select: none;
    z-index: 10000;
}

// apply this class on body when the menu drawer is opened i.e. makaan logo is clicked
body.openmenu {
    overflow: hidden; /*to stop scroll when menu drawer is open */
    .body-container {
        position: relative;
        overflow: hidden;

        // putting the overlay on the whole body
        .md-overlay {
            display: block;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,.6);
            cursor: pointer;
        }

        // moving the menu drawer
        > .mdbox {
            transform: translateX(0);
        }

        // moving the overlay and header at the same time and same distance.
        > .md-overlay {
            transform: translateX(-260px);
        }
    }
}


/***** css for content inside the menu drawer ******/
$borderColor: #ebebeb;

// menudrawer Box
.mdbox {

    .f-lv >* {
        color: $dark-color;
        font-size: 16px;
        text-transform: capitalize;
        @include putellipsis;
    }

    //override for first-screen
    ul.f-lv >li{
        >* {
            padding: 12px 12px 12px 20px;
        }
        a {
            color: $dark-color;
            font-size: 16px;
        }
        &:hover a{
            text-decoration: none;
        }
    }

    > ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px 0 15px;
        -webkit-overflow-scrolling: touch;
        transition: transform 0.3s ease-in-out;
        transform: translateX(260px);
        
        &.active {
            transform: translateX(0);
        }

        //override for top-heading
        li.f-lv {
            padding: 0px;
            &:hover{
                background-color: unset;
                a {
                    color: $link-color;
                    text-decoration: none;
                }
            }
        }

        >li {
            position: relative;
            color: $light-color;
            font-size: 13px;
            text-transform: capitalize;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            > * {
                padding: 10px 15px 10px 20px;
                display: block;
            }

            a {
                color: $light-color;
                font-size: 13px;
                text-decoration: none;
                @include putellipsis;
            }

            i.icon-chevron-right {
                position: absolute;
                padding: 0;
                top: 15px;
                right: 5px;
                color: #4c4c4c;
                font-size: 13px;                
            }

            &:hover {
                background-color: $link-color;
                color: #fff;

                a {
                    color: #fff;
                    text-decoration: underline;
                }

                i.icon-chevron-right {
                    color: #fff;
                }
            }

            &.ar-b {
                position: absolute;
                top: 0px;
                left: 0;
                width: 100%;
                height: 32px;
                background-color: #fafafa;
                color: #3c3c3c;
                padding: 5px 5px 0 20px;
                text-decoration: none;
                cursor: pointer;

                i.icon-back-arrow {
                    padding: 0;
                    font-size: 20px;
                }
            }

            .app-img, .list-icon {
                position: absolute;
                padding: 0;
                top: 50%;
                margin-top: -14px;
                right: 10px;
                width: 28px;
                height: 28px;
            }
        }
    }
}