[data-role="popup"]{

	&.msr-coupon-popup{
		width: 100%;
		max-width: 360px;
		background: #fff;

		// overwrites for share widget used here in coupon module from serp cards

		.sharepopup {
			&.coupon-share {
				width:100%;
				
				.sharebtn-wrap {
				    padding-top: 0;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				}
			}
		}

		.close-popup{
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 15px 15px 5px;
			cursor: pointer;
			z-index: 3;
		}

		.icon-close:before{
			color: #fff;
			font-size: 12px;
			font-weight: bold;
		}

		.no-header.icon-close:before{
				color: $lighter-color;
		}

		.backbutton{
			position: absolute;
			left: 0;
			top: 0;
			padding: 15px;
			font-size: 16px;
			cursor: pointer;
			text-shadow: 1px 0px 0px #fff;
			z-index: 3;

			.path1:before,
			.path2:before,
			.path3:before{
				color: #fff;
			}
		}

		.cbtn{
			min-width: 180px;
			margin-top: 20px;
		}

		.msr-head{
			height: 96px;
			width: 100%;
			background: url(/images/makaan-select/ms-popup-head.jpg) no-repeat;
			border-radius: 8px 8px 0 0;
			position: relative;
			z-index: 1;
		}

		.msr-content{
			padding: 0 20px 20px 20px;
			position: relative;

			&.congo{
				&:before,
				&:after{
					content: '';
					position: absolute;
					width: 118px;
					height: 245px;
					background: url(/images/makaan-select/congrats-bg.png) no-repeat top center;
					left: 0;
					top: 40px; 
				}
				
				&:after{
					left: auto;
					right: 0;
					transform: scaleX(-1)
				}	
			}

			.ms-coupon-card{
				margin-top: 30px;
				width: 222px;
				height: 142px;
				background-size: cover;

				.coupon-price{
					font-size: 13px;
					right: 30px;
    				bottom: 55px;
				}

				.coupon-code{
					font-size: 14px;
					bottom: 16px;
				}
			}

		}

		.msr-question-wrap{
			min-height: 170px;
			max-height: 250px;
			overflow: auto;

			.typeAhead-hl{

				&.fc-wrap{
					width: 100%;

					.thcontainer{
						border-bottom: 1px solid #ccc;
						padding-bottom: 4px;

						.thdd{
							max-height: 160px;
							overflow: auto;
						}
					}
				}
			}

			&.share-contact{
				display: flex;
				text-align: left;
				padding: 50px 10px 150px;

				.country-dd{
					width: 120px;

					&.disabled{
						cursor: not-allowed;
						pointer-events: none;
					}

					.select-dropdown{
						max-height: 185px;
						overflow: auto;
					}

					.fc-wrap:focus label, 
					.fc-wrap.focus label, 
					.fc-wrap.active label{
						top: -10px;
						text-transform: capitalize;
					}

					.fc-wrap.selectbox{
						min-width: 120px;
						max-width: 120px;

						.txt{
							width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							display: block;
						}

						.fc{
							padding: 6px 15px 2px 0;
						}
					}

				}

				.country-code-contact{
					flex: 1 auto;
					padding-left: 15px;
					position: relative;

					.input-box{
						margin-top: 0;

						input{
							padding: 6px 0 2px;
						}
					}

					.countryCode{
						position: absolute;
						left: 15px;
						bottom: 4px;
					}
				}
			}

			label.multiselectlbl{
				margin: 0 10px 12px;

				&:first-child{
					margin-left: 0;
				}

				.boxoption{
					font-size: 13px;
					font-weight: normal;
					padding: 5px 18px;
				}
			}

			.verification-wrap{
				.verification-code-value {
				    position: relative;
				    margin-top: 10px;
				    margin-bottom: 5px;
				    height: 30px;
				    width: 185px;

				    input {
				        position: absolute;
				        left: 26px;
				        width: 160px;
				        padding-left: 10px;
				        z-index: 99;
				        background: 0 0;
				        border: 0;
				        text-align: left;
				        font-size: 18px;
				        letter-spacing: 23px;
				        outline: 0;
				    }

				    .otp-error {
				        font-size: 12px;
				        width: 100%;
				    }

				    &:before {
					    content: "___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___";
					    position: absolute;
					    bottom: -3px;
					    left: 0;
					    width: 185px;
					    z-index: 1;
					}

					 &:after {
					    content: '';
					    position: absolute;
					    right: 0;
					    top: 0;
					    width: 20px;
					    height: 30px;
					    background-color: #fff;
					    z-index: 101;
					}
				}
			}

			.resetbtn-wrap{
				margin-bottom: 100px;
				margin-top: 10px;

				.txtlink{
					padding-right: 10px;
				    color: #e81c28;
				    text-decoration: none;
				    cursor: pointer;

				    &.resendtxt {
					    border-left: solid 1px #ccc;
					    padding: 0 0 0 15px;
					}
				}
			}
		}

		.seller-list {
		    border: solid 1px #eee;

		    > li {
		        display: block;
		        border-bottom: solid 1px #eee;
		        background: #fbfbfb;

		        &:last-child{
		            border-bottom: none;
		        }

		        &.active{
		            background: #fff;
		        }
		    }

		    label {
		        display: flex;
		        justify-content: space-between;
		        align-items: center;
		        margin: 0;
		        font-weight: normal;
		        padding: 15px;

		        .seller-wrap {
		            display: flex;
		            justify-content: flex-start;
		            align-items: center;
		            width: calc(100% - 26px);
		        }

		        .sllrimg {
		            width: 44px;
		            height: 44px;
		            margin-right: 10px;
		            border: solid 1px #ececec;
		            background-color: #f7f7f7;
		            text-align: center;

		            .seller-logo{
		                width: 44px;
		                height: 44px;
		                background-repeat: no-repeat;
		                background-position: center;
		                background-size: cover; 
		            }

		            .initial {
		                width: 100%;
		                height: 100%;
		                display: flex;
		                align-items: center;
		                justify-content: center;
		                font-size: 26px;
		            }

		        }

		        .seller-details {
		            width: calc(100% - 54px);
		        }

		        .seller-name {
		            @include putellipsis;
		            padding-bottom: 8px;
		            color: $dark-color;
		            font-size: 15px;
		            line-height: 1.25;
		            font-weight: 500;
		        }

		        .connect-time {
		            @include putellipsis;
		            color: $lighter-color;
		            font-size: 13px;
		            line-height: 1.25;
		        }

		        .radioinput {
		            display: none;   
		        }

		        .radiobtn-wrap {
		            width: 16px;
		            height: 16px;
		            padding: 2px;
		            border: solid 1px #ccc;
		            border-radius: 50%;
		            text-align: center;

		            .radiobtn {
		                display: block;
		                width: 10px;
		                height: 10px;
		                border-radius: 50%;
		                background-color: none;
		            }
		        }

		        .radioinput:checked ~ .radiobtn-wrap {
		            border-color: $link-color;

		            .radiobtn {
		                background-color: $link-color;
		            }
		        }

		        &.no-seller {
		            .sllrimg {
		                padding: 5px 0 0 0;
		                text-align: center;

		                .icon-question-round {
		                    color: #bcbcbc;
		                    font-size: 32px;

		                }
		            }

		            .seller-name {
		                color: $lighter-color;
		            }
		        }
		    }
		}

		.msr-info-text{
			font-size: 14px;
			color: $light-color;
			line-height: 24px;
			margin-top: 17px;
			margin-bottom: 0;
			position: relative;
			z-index: 1;

			&.small{
				font-size: 12px;
				line-height: 16px;
			}

			&.light{
				color: $light-text;
			}

			> img{
				position: relative;
				display: inline-block;
				top: -1px;
				padding-right: 4px;
			}
		}

		.msr-title-text{
			margin-top: 21px;
			line-height: 24px;
			font-size: 16px;
			color: $heading-color;
			font-weight: 500;
			margin-bottom: 16px;
			position: relative;
			z-index: 1;

			&.large{
				font-size: 24px;
				margin-bottom: 9px;
			}

			&.small{
				font-size: 15px;
				line-height: 20px;
			}

			&.high-gap{
				margin: 80px 0 60px 0;
			}

			&.midium{
				font-size: 18px;
			}

			span{
				display: block;
				font-size: 14px;
			}
		}

	}

}
/*mobile screen only*/
@media screen and(max-width: 767px){
	[data-role="popup"]{

		&.msr-coupon-popup{
			max-width: 100%;
			border-radius: 0;

			.msr-head{
				border-radius: 0;
				background-size: 100%;
			}

			.msr-content{
				padding: 10px;
			}

			.msr-info-text{
				&.text-center{
					text-align: inherit;
				}

				&.small{
					text-align: center !important;
				}
			}

			.msr-title-text{
				&.high-gap{
					margin: 35px 0 30px 0;
				}
			}
		}
	}
}