.multiloclity-search-wrap{

    .thcontainer{
        position: static;
    }

    // to show the selected city / locality / suburb
    .tag-wrap {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        position: relative;
        z-index: 4;

        .thinput{
            flex: 1 auto;
            width: auto;
            text-transform: capitalize;
            line-height: 38px;
            padding: 0;
            border: none;
            color: $heading-color;
            font-size: 14px;
            font-weight: normal;
            transition: none;

            &.disable{
                display: none;
            }
        }

        .srched-tag {
            position: relative;
            display: inline-block;
            @include putellipsis;
            max-width: 180px;
            margin-right: 10px;
            margin-bottom: 5px; 
            margin-top: 5px;
            padding: 0 8px 0 20px;
            height: 28px;
            line-height: 28px;
            background-color: #fff;
            border-radius: 20px;
            color: $heading-color;
            font-size: 14px;
            text-transform: capitalize;
            min-width: 45px;
            text-align: center;
            border: 1px solid lighten($heading-color, 50%);

            &.more-tag{
                padding: 0 8px;
            }

            &.hide ~ .thinput{
                max-width: initial;
            }

            &:not(.hide) ~ .thinput{
                max-width: 80px;
            }

            &.no-close-tag{
                &:hover{
                    border-color: lighten($heading-color, 50%);
                    .close{
                        pointer-events: none;
                       &:before{
                           display: block;
                           opacity: 1;
                       }

                       &:after{
                           opacity: 0;
                           display: none;
                       } 
                    }
                }
            }

            &:hover{
                border-color: $link-color;
                .close{
                    &:before{
                       display: none;
                       opacity: 0;
                    }    

                    &:after{
                       opacity: 1;
                       display: block;
                       color: $link-color;
                    } 
                }
            }

            .close {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                padding: 0 6px;
                background: no-repeat;
                cursor: pointer;
                font-size: 11px;
                font-weight: bolder;

                &:before{
                    content: '\e9ca';
                    font-family: 'icomoon';
                    color: $light-text;
                    transition: 0.2s ease-in-out;
                }

                &:after{
                    content: '\ebc7';
                    font-family: 'icomoon';
                    color: $light-text;
                    opacity: 0;
                    display: none;
                    transition: 0.2s ease-in-out;
                    font-size: 9px;
                }
            }
        }
    }
}

/*mobile-screen*/
@media screen and(max-width: 767px){
    .multiloclity-search-wrap{
        .tag-wrap{
            .thinput{
                line-height: 34px;
                font-size: 16px;
                overflow: hidden;
            }
            .thinput::placeholder {
                font-size: 14px;
            }
            .srched-tag{
                height: 24px;
                line-height: 24px;
                font-size: 12px;
                margin-right: 5px;

                &:not(.hide) ~ .thinput{
                    max-width: 65px;
                }
            }
        }
    }
}