.national-ad-slot{
	height: 260px;
	position: relative;
	z-index: 1;

	.nas-wrapper{
		width: 100%;
		max-width: 660px;
		position: absolute;
		left: 50%;
		transform-origin: 0 0;
		transform: translateX(-50%);
		background: #fff;
		box-shadow: 0 2px 66px 4px rgba(152, 123, 123, 0.18);
		display: flex;
		top: -70px;
		cursor: pointer;

		a{
			text-decoration: none;
			display: block;
			margin: 0;
			padding: 0;
			width: 100%;
		}
		
	}
}