.nestaway-benefit{
	display: flex;
	width: 100%;

	span{
		display: inline-block;
		font-size: 12px;
		color: $pink-color;
		margin-right: 20px;

		i{
			font-size: 7px;
			font-weight: bold;
			width: 12px;
			height: 12px;
			display: inline-block;
			border-radius: 50%;
			background: $pink-color;
			text-align: center;
			line-height: 12px;
			position: relative;
			top: -1px;

			&:before{
				color: #fff;
			}
		}

		&:last-child{
			margin-right: 0;
		}
	}
}