.body-content .news-sec{
	margin: 30px auto;

	h3{
		margin-bottom: 20px;
	}

	.logo-wrapper{
		display: flex;
		align-itmes: center;
		flex-flow: wrap;

		>a, >span{
			display: inline-flex;
			flex: auto;
			margin-right: 34px;
			cursor: pointer;

			&:last-child{
				margin-right: 0;
			}
		}
	}

}

@media screen and(max-width: 767px){
	.body-content .news-sec{
		padding: 0;

		h3{
			padding: 0 15px;
		}

		.logo-wrapper{
			padding: 0 15px;
			flex-flow: nowrap;
			overflow: auto;
		}
	}
}