@import "slr-info-card";
@import "form-elements-v2";
@import "rate-experience";
@import "similar-prop-list";

/*classes only to inherit common properties start*/
.bigfont-properties{
	font-size: 16px;
	color: $heading-color;
}

.even-pdng{
	padding: 18px 24px;
}

.even-left-rght-pdng{
	padding: 0 24px;
}
/*classes only to inherit common properties end*/
.lead-form{
	background: #fff;
	position: relative;
	width: 360px;
	min-height: 494px;
	padding-top: 18px;

	/*seller information card overwrite only for lead form*/
	.slr-info-card{

		.slr-info{

			.info-line{
				font-size: 14px;
				color: $title-color;
				overflow: visible;
			}
		}
	}
	/*-********************-*/

	.full-ph-no{
		border: 1px solid #e4e4e4;
		border-radius: 25px;
		margin-top: 15px;
		overflow: hidden;
		height: 36px;
		line-height: 36px;
		margin-left: -20px;
		display: inline-block;

		span{
			font-size: 16px;
			color: $title-color;
			padding: 0 20px;
			text-align: center;
			float: left;
			height: 100%;
			width: calc(100% - 70px);
		}

		a{
			float: right;
			font-size: 14px;
			width: 70px;
			text-align: center;
			color: #fff;
			height: 100%;
			background: $theme-color;
			text-decoration: none;
		}
	}

	&.no-btm-pdng{
		padding-bottom: 0;
	}

	.chkbox-tab, .radiobox-tab{
		min-width: 142px;
	}

	.lf-close-btn{
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		font-size: 12px;
		color: $light-color;
		z-index: 1;
		padding: 15px;
	}

	.small-heading{
		font-size: 14px;
		font-weight: 500;
		color: $heading-color;
		margin-top: 18px;
		margin-bottom: 15px;
	}

	.form-global-error{
		font-size: 12px;
		color: $theme-color;
		position: absolute;
		bottom: 62px;
		right: 28px;
	}

	.lf-head {
		padding: 0 24px 18px 24px;
		padding-bottom: 18px;
		position: relative;
		border-bottom: 1px solid #d0d0d0;
		margin-bottom: 18px;

		.h-main-text{
			position: relative;
			display: inline-block;
			@extend .bigfont-properties;

			> span{
				display: inline-block;
				padding: 0 8px;
			}
		}

		.h-sub-text{
			font-size: 12px;
			color: lighten($heading-color, 10%);
			margin-top: 5px;
		}

		.h-label{
			font-weight: normal;

			.icon-rupee{
				font-size: 12px;
				position: relative;
				top: -3px;
			}

			.rs-unit{
				font-size: 12px;
				text-transform: capitalize;
			}
		}

	}

	.lf-detail-box{
		@extend .even-left-rght-pdng;
		margin-bottom: 18px;

		> h4{
			@extend .bigfont-properties;
			margin-bottom: 18px;
		}

		> h3{
			font-size: 18px;
			color: $heading-color;

			span{
				font-size: 16px;
				color: $light-color;	
				display: block;
				margin-top: 8px;
			}
		}

		.slr-info-card{
			padding: 0;
		}

	}

	.lf-info-line{
		@extend .bigfont-properties;
		@extend .even-left-rght-pdng;
		margin-bottom: 18px;

		.edit{
			font-size: 13px;
			color: #6d6e72;
			display: inline-block;
			padding-left: 5px;
			cursor: pointer;
		}
	}

	.lf-content-box{
		@extend .even-left-rght-pdng;
		height: 220px;

		&.height-two{
			height: 300px;
		}

		&.similar-pro{
			height: 145px;
			overflow: hidden;
		}
		
		.select-box{
			margin-top: 18px;
		}

		.call-status{
			text-align: center;
			position: relative;
			height: 100%;

			> img{
				position: absolute;
				width: 142px;
				height: 142px;
				left: 50%;
				top: 50%;
				margin-left: -71px;
				margin-top: -91px;
			}
		}

		.other-agent-list{

			.slr-info-card{
				padding: 10px 0;
				border-bottom: solid 1px #e9e9e9;
				&:first-child{
					padding: 0 0 10px 0;
				}

				.checkboxlbl{
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -10px; 
				}
			}
		}
	}

	/*Thank You screen specific*/
	.lf-thanks-box{
		height: 100%;

		.lf-thanks-top-box{
			width: 100%;
			height: 210px;
		}

		.lf-thanks-btm-box{
			width: 100%;
			position: relative;
			height: 248px;
			background: rgba(216, 216, 216, 0.2);
			text-align: center;
			border-top: 1px solid #C9C9C9;

			.thanks-img{
				position: absolute;
				left: 50%;
				top: -70px;
				width: 160px;
				height: 98px;
				margin-left: -80px;

				img{
					width: 100%;
					height: auto;
				}
			}

			.thanks-title-text{
				padding-top: 70px;
				font-size: 24px;
				color: $heading-color;
				span{
					font-size: 14px;
					display: block;
					margin-top: 8px;
				}
			}
		}
	}

	.lf-footer{
		position: absolute;
		bottom: 18px;
		left: 0;
		width: 100%;
		@extend .even-left-rght-pdng;
		text-align: right;

		&.text-center{
			text-align: center;
		}

		.cbtn{
			min-width: 165px;
			text-align: center;
		}
	}

	.lf-feedback-reasons{

		li{
			margin-bottom: 10px;
		}

		.chkbox,
		.radiobox{

			label{
				font-size: 14px;
				color: $light-color;

				.chk-radio-box{
					margin-top: 3px;
					text-transform: capitalize;
				}	
			}
		}
	}

	/*form specific checkbox or radio*/
	.chkbox,
	.radiobox{
		width: 100%;
		position: relative;

		.tooltip-wrap {
		    position: relative;
		    top: -4px;

		    .mp-tooltip {
		        min-width: 240px;
		        font-size: 12px;
		        line-height: 1.23;
		        text-transform: none;
		    }

		    &:hover {
		        .mp-tooltip {
		            display: block;
		            opacity: 1;
		            visibility: visible;
		        }
		    }
		}

		.infoo {
		    display: inline-block;
		    width: 17px;
		    height: 17px;
		    border: solid 1px #bcbcbc;
		    border-radius: 50%;
		    text-align: center;
		    color: #999;
		    font-size: 11px;
		    transition: color 0.2s ease-in;
		    text-decoration: none;
		    cursor: pointer;
		    vertical-align: text-bottom;

		    &:hover {
		        color: $link-color;
		    }
		}

		input{
			display: none;
		}

		label{
			cursor: pointer;
			font-size: 13px;
			color: $lighter-color;
			font-weight: normal;
			margin: 0;

			.chk-radio-box{
				float: left;
				width: 16px;
				height: 16px;
				margin-right: 8px;
				border: 1px solid #ccc;
				border-radius: 1px;
				background: #fff;
				font-size: 10px;
				line-height: 16px;
				font-weight: bold;
				text-align: center;
				transition: all ease-in-out;
				color: #fff;

				&:before{
					content: '\e9ca';
					font-family: 'icomoon';
				}
			}

			.label-text{
				float: left;
			}

		}

		input:checked + label{
			.chk-radio-box{
				color: #ccc;
			}
		}
	}
}

/*mobile screen css*/
@media screen and(max-width: 767px){

	[data-role="popup"].leadwrapper{
		height: 100vh;

		.lw{
			background: #fff;
		}
	}

	.lead-form{
		width: 100%;
		min-height: 100vh;
		height: 100%;

		.full-ph-no{
			margin-left: -12px;
		}

		.lf-head{
			padding: 0 10px 18px 10px;
		}

		.chkbox label .label-text{
			font-size: 12px;
		}

		.lf-footer{
			position: static;
			bottom: inherit;
			left: inherit;
		}
	}
}

@media screen and(max-width: 359px){
	/*classes only to inherit common properties start*/
	.bigfont-properties{
		font-size: 15px;
	}

	.even-pdng{
		padding: 20px 10px;
	}

	.even-left-rght-pdng{
		padding: 0 10px;
	}
	/*classes only to inherit common properties end*/
}