.push-notification {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: #fff;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, .3);
    z-index: 9999;
    width: 450px;
    transition: all 600ms ease-in-out;
    outline: none;
    font-size: 16px;
    &.out-of-view {
        transform: translate(-50%, -500px);
        display: block;
    }
    &.home {
        top: 0px;
    }
    .logo {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        margin: 20px 10px;
        vertical-align: top;
        &.heart{
            background-image: url(/images/small-logo.png);
            transform: rotate(-35deg);
            width: 25px;
            height: 25px;
            position: relative;
            top: 27px;
            margin-left: 20px;
        }
        &.search{
            background-image: url(/images/search-icon.png);
            width: 30px;
            height: 37px;
        }
    }
    .notif-text {
        margin: 0px auto;
        padding: 20px 10px 0;
        display: inline-block;
        text-align: left;
        line-height: 1.25;
        width: 84%;
        max-width: 325px;

        span{
            display: block;
            margin-bottom: 5px;
        }
    }
    .btn-wrap-notification {
        padding: 0 10px 10px 10px;
        text-align: right;
        .link-text {
            display: inline-block;
            margin-top: 0px;
            vertical-align: middle;
            color: #e81c28;
            font-size: 18px;
            cursor: pointer;
            margin-left: 10px;
        }
    }
}

@media (max-width: 768px) {
    .push-notification {
        width: 98%;
        max-width: 450px;

        .logo {
            &.heart{
                margin-left: 10px;
            }
        }

        .btn-wrap-notification {
            padding: 10px;
        }

        .notif-text{
            font-size: 14px;
            line-height: 16px;
        }
    }
}
