.otp-wrap{
    text-align: center;
    padding: 18px 10px;
    background-color: #ffffff;

    input {
        background-color: transparent;
        font-size: 18px;
        border:none;
        text-align: center;

        &:focus {
            outline: none;
        }
    }

    .otp-head {
        max-height: 55px;
    }

    .email {
        margin-top: 30px;
        font-size: 18px;
    }

    .contact {
        margin-bottom: 50px;
        font-size: 18px;
    }

    .otp-image {
        margin-bottom: 50px;

        i {
            font-size: 40px;
        }
        .otp-text {
            font-size: 20px;
        }
    }

    .verification-wrap {
        border-top: 1px solid #ececec;
        padding-top: 40px;

        .verfication-code {
            .verification-code-value {
                position: relative;
                margin-top: 30px;
                height: 30px;
                width: 185px;

                &:before {
                    content: "___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___";
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 185px;
                    z-index: 1;
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 20px;
                    height: 30px;
                    background-color: #fff;
                    z-index: 101;
                }

                .otp-error {
                    font-size: 12px;
                    left: 35%;
                }

                input {
                    position: absolute;
                    left: 26px;
                    z-index: 99;
                    letter-spacing: 28px;
                    text-align: left;
                    padding-left: 5px;
                    width: 160px;
                }
            }

            .veri-text {
                font-size: 18px;
            }
        }

        i.icon-tick {
            display: block;
            margin: 22px 10px;
            font-size: 24px;

            &:before {
                content: '\e9ca';
                font-family: icomoon;
                font-size: 16px;
                font-weight: bold;
                color: #e0e0e0;
            }
        }

        i.icon-tick.active {
            &:before{
                color:$link-color;
            }
        }
    }

    .resend {
        font-size: 16px;
        color: #e71c28;
        margin-top: 20px;
        cursor: pointer;
        text-align: right;
        position: relative;
        text-align: center;

        .linktxt{
            color: #e71c28;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
            padding-right: 15px;
        }

        .resendtxt{
            border-left: solid 0px #ccc;
            padding: 0 0 0 15px;
        }

        .not-clickable {
            color: #444444;
            cursor: default;
        }
    }

    .skip-otp {
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
}

@media screen and (min-width: 768px) {
    .otp-wrap {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
