/*** loading ***/
.main-loading{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.95);
  z-index: 999999;
  border-radius: 8px;
  &.box-loading{
    position: absolute;
    z-index: 10000;
  }
  .loading-wrap{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      transform: translate(-50%,-50%);
      text-align: center;
      font-size: 1em;
      p{
        width: 100%;
        overflow: hidden;
        height: 25px;
        span{
          display: block;
          animation: sifting 0.3s forwards;
          animation-delay: 1.3s;
        }
      }
  }
}