@import "../variables";

/* pagination css */
.pagination {
    padding: 10px;
    text-align: center;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            font-size: 16px;

            span, a {
                padding: 0 10px 3px;
                color: $light-color;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                cursor: pointer;
            }

            span {

                &:hover {
                    color: $link-color;
                }

                &.active {
                    position: relative;
                    color: $link-color;
                    border-bottom: 1px solid $link-color;
                    cursor: default;

                    &:after, &:before {
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        content: '';
                        height: 0;
                        width: 0;
                        border: solid transparent;
                        pointer-events: none;
                    }

                    &:after {
                        border-color: rgba(136, 183, 213, 0);
                        border-top-color: #fff;
                        border-width: 4px;
                        margin-left: -4.5px;
                    }

                    &:before {
                        border-color: rgba(194, 225, 245, 0);
                        border-top-color: $link-color;
                        border-width: 6px;
                        margin-left: -6.5px;
                    }
                }
            }

            a {
                &:hover {
                    text-decoration: none;
                    color: $link-color;
                }
            }

            &:first-child, &:last-child {
                padding: 0;
                font-size: 12px;
            }

            &.disabled {
                span, a {
                    cursor: not-allowed;
                    color: $lighter-color;
                }
            }

            &.dots {
                span {
                    cursor: default;

                    &:hover {
                        color: $light-color;
                        cursor: default;
                    }
                }
            }
        }
    }
}
