.phrase-detection {
    .card-container{
        margin: 0;
        padding: 15px;
        text-align: left;

        .title {
            font-size: 17px;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            color: black;

            .title-highlight {
                font-weight: bold;
            }
        }

        .card-list {
            display: inline-block;
            margin-top: 16px;
            margin-left: 4px;

            .card-item {
                width: 280px;
                height: 416px;
                margin-right: 20px;
                margin-bottom: 20px;
                float: left;
                text-align: left;
                vertical-align: top;
                position: relative;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                background-color: #fff;
                cursor: pointer;

                .img-wrap {
                    width: 100%;
                    height: 80px;
                    position: relative;
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;

                    .price-tag {
                        position: absolute;
                        bottom: 0;
                        width: 84px;
                        height: 27px;
                        background-color: rgba(0, 0, 0, 0.7);;
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            color: $white;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.06;
                        }
                    }
                }

                a:hover {
                    text-decoration: none;
                }
                .content-box {
                    font-size: 14px;
                    padding: 10px 16px;
                    font-family: $roboto;
                }

                .title-line-wrap {
                    font-size: 14px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-bottom: 5px;
                    color: $light-color;
                    line-height: 1.21;
                    color: $heading-color;

                    strong {
                        font-weight: 500;
                    }

                    > span{
                        color: $light-color;
                        padding-left: 5px;
                    }
                }

                .project-location-wrap {
                    font-size: 12px;
                    color: $lighter-color;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: normal;

                    .project-info {
                        font-weight: bold;
                        padding-right: 5px;
                    }
                }

                .desc-holder{
                    padding-top: 16px;
                    color: #333333;
                    font-weight: normal;

                    .desc-hdng {
                        margin-bottom: 16px;
                        span {
                            text-transform: uppercase;
                            font-size: 12px;
                            color: #acacac;
                            font-weight: bold;
                        }
                    }

                    ul {
                        transition: all 0.3s ease-in;
                        li {
                            list-style: none;
                            margin-bottom: 16px;
                            line-height: normal;
                            max-height: 30px;
                            font-size: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            .disc {
                                margin-right: 10px;
                                float: left;

                                &:before {
                                    content: '\e9ca';
                                    font-family: icomoon;
                                    color: #1dd38f;
                                    font-size: 10px;
                                    font-weight: 800;
                                }
                            }
                            .text {
                                margin-left: 21px;
                                margin-top: 0;
                                overflow: hidden;
                                position: relative; 
                                line-height: 1.2em;
                                max-height: 2.4em; 
                                margin-right: -1em;
                                padding-right: 1em;
                                text-align: justify;
                                word-spacing: -2px;
                                @include putmultilineellipsis;
                                &:first-letter {
                                    text-transform: uppercase;
                                }
                            }
                        }
                    }

                    .detailed-desc {
                        max-height: 180px;
                        overflow: hidden;
                        color: $lighter-color;
                        overflow-y: auto;
                        font-size: 12px;
                        transition: all 0.3s ease-in;

                        span {
                            font-weight: 500;
                            color: $black-color;
                        }
                    }
                }

                .bottom-line {
                    padding-left: 16px;
                    position: absolute;
                    bottom: 10px;
                    display: flex;
                    flex-flow: row wrap;
                    width: 100%;
                    justify-content: space-between;
                    padding-right: 16px;
                    align-items: center;

                    .read-more-btn {
                        font-size: 12px;
                        color: $link-color;
                        text-transform: capitalize;
                        line-height: normal;
                        cursor: pointer;
                    }

                    .connect-now {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


.small-image {
    height: 80px !important;
}

.fadeOut {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

@media screen and (min-width: 769px){
    .phrase-detection{
        .card-container {
            margin: 20px 65px 20px;

            .title {
                font-size: 20px;
            }
            .card-list {
                .card-item {
                    height: 476px;
                    .img-wrap {
                        height: 140px;
                        transition: all 0.3s ease-in;
                    }

                    .desc-holder {
                        padding-top: 20px;
                        .detailed-desc {
                            max-height: 230px;
                        }
                        .desc-hdng {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

