@import "../variables";

/**************************************************************************************************
************************************ Handling of POPUPS Startsss **********************************
**************************************************************************************************/

body.popup-open {
    overflow: hidden;

    .body-container{
        overflow-x: hidden;
    }
}

#popup-container {
    position: relative;
    z-index: 4000;
    width: 100%;
    height: 100%;
}

.popup-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0,0,0,0.65);
    height: 100%;
    width: 100%;
}

#common-popup-container, #page-popup-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.errmsg {
    color: $link-color;
}

/*--------------------------------------------------------------------------/
                        pop-up box css start here
/---------------------------------------------------------------------------*/

[data-role="popup"] {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    opacity: 0;
    border-radius: 8px;
    transform: translate(-50%, -80%);
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
    transform-origin: 0 0;
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    &.show-popup {
        opacity: 1;
        transform: translate(-50%,-50%);
    }

    .close-out {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 15px 15px 5px;
        cursor: pointer;
        z-index: 1;

        i.icon-close {
            float: none;
            height: auto;
            width: auto;
            color: #999;
            font-size: 14px;
            line-height: 1;
            font-weight: bold;
        }

        i.icon-back-arrow {
            display: none;
        }
    }
}
/**************************************************************************************************
************************************ Handling of POPUPS ENDSSSSS **********************************
**************************************************************************************************/

// css for the basic popup
.basic-popup {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}
.basic-hdr {
    font-size: 24px;
    padding-bottom: 20px;
}

.basic-desc {
    font-size: 16px;
    padding-bottom: 40px;
}

.basic-btn-wrap {
    text-align: right;

    .link {
        color: $link-color;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
    }
}

//// Overwrites for view on map popup ////
.basic-popup.vom-popup {
    min-width: 80%;
    padding: 0;
    border-radius: 5px;

    .close-out {
        top: 9px;
        right: 9px;
        padding: 10px 10px 5px;
        background: #4c4c4c;

        .icon-close {
            color: #fff;
        }
    }

    // overwrite from mapmodule.scss for neighbourhood wrap
    .vom-wrap {
        padding: 5px;

        h2 {
            position: absolute;
            top: 12px;
            left: 15px;
            z-index: 1;
        }

        .map-area {
            margin-top: 0px;
        }
    }
}

////// Overwrites for set alert popup
.sapopup {
    top: 35%;
    width: 600px;
    padding-top: 35px;

    .basic-hdr {
        font-size: 21px;
        text-align: center;
    }

    .maindesc {
        width: 380px;
        margin: 0 auto;
        padding: 10px 0;
        text-align: center;
    }

    .field-wrap {
        max-width: 450px;
        margin: 0 auto;
    }

    .input-box {
        margin-top: 20px;
    }

    .alink {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 6px 55px;
        text-decoration: none;
        cursor: pointer;
    }
}

////// Overwrites for share popup
.sharepopup {
    height: auto;
    width: 450px;
    padding: 20px;
    background: #fff;

    .top-area {
        display: inline-block;
        width: 100%;
        padding: 0 0 10px;
        //background-color: #f4f4f4;
        text-align: left;
    }
    .thumbimg {
        width: 80px;
        height: 50px;
        float: left;
        margin-right: 10px;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
    .page-details {
        display: block;

        .header-text {
            @include putellipsis;
            width: calc(100% - 110px);
            text-align: left;
            color: $dark-color;
            font-size: 18px;
        }

        .address {
            //@include putellipsis;
            //width: calc(100% - 110px);
        }
    }
    .share-widget-area {
        padding: 20px 0 10px;
        //background-color: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        text-align: center;

        .copyurlbox {
            position: relative;
        }

        .urlbox {
            position: absolute;
            left: 0;
            display: inline-block;
            @include putellipsis;
            width: 99%;
            padding: 10px 10px 10px 5px;
            background: #f4f4f4;
            border: 1px solid rgba(0,0,0,.2);
            border-right: 0;
            border-radius: 0;
            line-height: 10px;

            .icon-link {
                padding-right: 5px;
            }
        }

        .copybtn {
            position: absolute;
            right: 0;
            width: 120px;
            border-radius: 0;
            border: solid 1px $link-color;
            text-decoration: none;
        }

        .copybtn ~ .urlbox {
            width: calc(100% - 119px);
        }

    }
    .sharebtn-wrap {
        padding-top: 60px;
        text-align: left;

        > li {
            display: inline-block;
            margin-right: 2px;
        }

        .sharebtn {
            display: inline-block;
            width: 34px;
            height: 34px;
            background-color: #f0f0f0;
            border: solid 1px #f0f0f0;
            border-radius: 50%;
            padding-top: 4px;
            text-align: center;
            font-size: 21px;
            line-height: 1;
            text-decoration: none;
            cursor: pointer;

            &.fb-btn {
                &:hover {
                    background-color: rgba(59, 89, 152, 1);
                }
            }

            &.fb-btn-m {
                padding: 4px 6px 0px;

                &:hover {
                    background-color: rgba(0, 127, 255, 1);

                    #fb-m-icon path {
                        fill: rgb(255,255,255);
                    }
                }
            }

            &.twitter-btn {
                &:hover {
                    background-color: rgba(64, 153, 255, 1);
                }
            }

            &.gplus-btn {
                &:hover {
                    background-color: rgba(211, 72, 54, 1);
                }
            }

            &.linkedin-btn {
                &:hover {
                    background-color: rgba(0, 123, 182, 1);
                }
            }

            &.email-btn {
                color: $link-color;

                &:hover {
                    background-color: rgba(232, 28, 40, 1);
                }
            }

            &.whatsapp-btn {
                color: #01d300;

                &:hover {
                    background-color: rgba(1, 211, 0, 1);
                }
            }
            &.sms-btn {
                &:hover {
                    background-color: #ccc;
                }
            }

            &:hover {
                color: #fff;

                 [class*="path"]:before {
                    color: #fff;
                 }
            }

        }
    }
}

/**** commenting as this has been done by default for all devices on line#30

@media screen and ( min-width: 768px ) {
    #common-popup-container, #page-popup-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
}

******/


@media screen and ( min-width: 768px ) and ( max-width: 959px) {
    [data-role="popup"] {
        width: 80%;
    }
}

@media screen and ( max-width: 767px ) {
    body.popup-open {
        overflow: hidden;

        .body-container{
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
    [data-role="popup"] {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        transform: translate(0%, -30%);
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0px;

        &.show-popup {
            transform: translate(0, 0);
        }

        &.sapopup {
            width: 100%;
            padding: 10px 20px;

            .close-out {
                padding: 0 0 10px 0;
            }

            .maindesc {
                width: 100%;
                margin: auto;
            }

            .alink {
                position: static;
            }
        }

        &.basic-popup.vom-popup {
            border-radius: 0px;

            .close-out {
                position: absolute;
                top: 10px;
                right: auto;
                left: auto;
                width: 40px;
                padding: 0px 5px;
                background: #fff;
            }

            .vom-wrap {
                padding: 0;

                h2 {
                    left: 40px;
                    width: calc(100% - 40px);
                    text-align: center;
                }

                .map-area {
                    margin-top: 40px;
                    height: 100%;
                }
            }
        }

        // add this class "popupheight" to all the divs when you want to have the min height to the mobile popup screens
        .popupheight {
            height: 100%;
            background-color: #fff;
        }

        .close-out {
            position: relative;
            top: 0px;
            right: auto;
            left: 0px;
            padding: 10px;

            i.icon-close {
                display: none;
            }

            i.icon-back-arrow {
                float: none;
                display: inline-block;
                width: 35px;
                font-size: 24px;
            }
        }
    }
}
/*--------------------------------------------------------------------------/
                        pop-up box css end here
/---------------------------------------------------------------------------*/



