@import "../variables";
@import "../mixins/ellipsis";

// popular loalities list starts
.locality-container {

    .select-city {

        h3 {
            color: $light-color;
            font-size: 16px;
        }

        .city-dropdown {
            display: inline-block;

            .fc-wrap.selectbox {
                min-width: 30px;

                .fc {
                    border: 0;
                    padding: 12px 20px 0 0;

                    &:after {
                        background-color: transparent;
                    }
                }

                i.arrowdown {
                    top: 15px;
                    color: $link-color;
                }

                &.focus {
                    .fc:after {
                        background-color: transparent;
                    }
                }
            }

            .select-dropdown {
                max-height: 200px;
            }
        }
    }

    .locality-list-wrap {
        width: 100%;
        padding: 30px 0 0;
    }

    $locality-card-width: 180px;

    .locality-list {
        width: calc((#{$locality-card-width} + 20px) * 4);
        font-size: 0;
    }

    .locality-info {
        display: inline-block;
        width: $locality-card-width;
        margin-right: 20px;
        color: $lighter-color;
        font-size: 13px;
        text-decoration: none;
        cursor: pointer;
        .loc-name {
            display: block;
            @include putellipsis;
            color: $dark-color;
            font-size: 15px;
            transition: color 0.3s ease-in-out;
        }

        .info {
            display: block;
            @include putellipsis;
        }

        &:hover {
            .loc-name {
                color: $link-color;
            }
        }
    }
}
// popular loalities list ends


// for desktops
@media screen and (min-width: 769px) {
    .locality-container {
        padding: 20px;

        .locality-list {
            width: 100%;
        }
    }
}


// for smaller screen sizes
@media screen and (max-width: 768px) {
    .locality-container {
        .locality-list-wrap {
            overflow-x: auto;
            overflow-y: hidden;
            padding: 30px 0 20px;
        }
    }
}


