.pp-card-wrap {
    padding: 50px 0;

    // section titles
    .title {
        color: $dark-color;
        font-size: 36px;
        font-weight: 300;
        line-height: 1.2;

        label {
            font-weight: 600;
            margin: 0;
        }
    }

    .subtitle {
        padding: 10px 0 20px;
        color: $lighter-color;
        font-size: 18px;
    }

    .left-block-container{
        float: left;
        width: 380px;
    }

    .right-block-container{
        float: right;
        width: calc(100% - 380px);
        padding-left: 20px;

        .pp-list{
            .pp-card{
                &.small-card{
                    &:nth-child(even){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.mini-bill-board{
    .pp-list{
        .pp-card{
            width: 50%;
            max-width: 181px;
            margin-right: 10px;

            &.small-card{
                margin-bottom: 10px;
            }

            &.info-placeholder{
                &.small-card {
                    .info-content{
                        padding: 0 12px;

                        p{
                            font-size: 12px;
                            line-height: 14px;
                        }

                        .txtbtn{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.sponsored-project{
    .pp-list{
        .pp-card{
            width: 100%;
            max-width: 380px;
            min-height: 200px;

            &:hover{
                .pp-name{
                    color: $theme-color;
                }                
            }

            .pp-img-wrap{
                height: 125px;
            }

            .pp-na-wrap{
                float: left;
                width: 50%;
                padding-right: 5px;
            }

            .pp-tp-wrap{
                float: right;
                width: 50%;
                text-align: right;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                padding-left: 5px;
            }

            .pp-name {
                width: 100%;
                font-size: 16px;
                color: $heading-color;
                margin-bottom: 8px;
            }

            .pp-address {
                width: 100%;
                font-size: 14px;
                color: $light-color;
            }

            .pp-type{
                flex: 0 0 auto;
                margin-top: 8px;
                order: 2;
                font-size: 14px;
                color: $light-color;
                min-width: 100%;
                text-align: right;
            }

            .pp-price {
                margin-top: 0;
                font-size: 16px;
                flex: 0 0 auto;
            }
        }
    }
}

.lead-deficit-thanks{
    height:238px;
    padding:15px;
    position: relative;
    background-color: #f4f4f4;
    a{
       color: $heading-color;
        &:hover {
            text-decoration:none;
        }
    }
    h3{
        padding-bottom: 15px;
    }
    .view-pp-layer {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.3s ease-in-out;

        .cbtn {
            font-size: 14px;
        }
    }
    &:hover {
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);

        .view-pp-layer {
            opacity: 1;
        }
    }
}
.pp-list.leadForm-thanks{
    width: 100%;
    margin: 0px;
    .pp-card{
        width:100%;
        min-height:180px;

        .pp-img-wrap{
            height: 118px;
        }
        .pp-content-wrap{
            padding:0px;

            .pp-na-wrap{
                display: flex;
                .pp-name{
                    max-width : 60%;
                    font-size: 15px;
                }
                .pp-price{
                    margin-top: 0px;
                    margin-left:auto;
                    font-size: 15px;
                }
            }
            .pp-tp-wrap{
                display: flex;
                .pp-address{
                    max-width: 60%;
                    font-size: 15px;
                }
                .pp-type{
                    max-width: 40%;
                    margin-left:auto;
                    font-size: 15px;
                }
            }
        }
        &:hover {
            box-shadow: none;
        }
        
    }

}
.pp-list {
    margin: 38px auto 0;
    transition: 0.3s ease;
    display: inline-block;

    $ppwidth: 300px;

    .pp-card {
        width: $ppwidth;
        min-height: 330px;
        margin-right: 20px;
        float: left;
        text-align: left;
        vertical-align: top;
        position: relative;
        will-change: box-shadow;
        transform: translateX(0px);
        transition: 0.2s;

        .featured-tag{
            position: absolute;
            padding: 2px 7px;
            text-align: center;
            text-transform: uppercase;
            font-size: 10px;
            color: #fff;
            top: -9px;
            left: 12px;
            background: $pink-color;
            z-index: 2;
        }

        .txtbtn{
            font-size: 15px;
        }

        &.large-card{
            width: 380px;
            min-height: 447px;

            .pp-img-wrap {
                height: 309px;
            }

            .pp-content-wrap{
                padding: 12px;
            }
        }

        &.small-card{
            width: calc(50% - 10px);
            min-height: 212px;
            margin-bottom: 23px;

            .pp-img-wrap {
                height: 100px;
            }

            .pp-address,
            .pp-type{
                margin-bottom: 0;
            }

            .pp-name, 
            .pp-price{
                font-size: 16px;
                line-height: 20px;
            }
            .pp-price{
                margin-top: 8px;
            }
        }

        &.h-card{
            width: 414px;
            min-height: 160px;
            margin-bottom: 20px;

            .pp-img-wrap {
                width: 190px;
                height: 160px;
                float: left;
                margin: 0;

                .sp-logo{
                    bottom: 12px;
                }
            }

            .pp-content-wrap{
                padding: 12px;
                float: left;
                width: calc(100% - 190px);
                position: relative;
                min-height: 160px;
            }
            .pp-price{
                position: absolute;
                left: 12px;
                bottom: 12px;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        > a {
            display: block;
            text-decoration: none;
        }

        .pp-img-wrap {
            width: 100%;
            height: 199px;
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                min-height: 100%;
                transition: 0.3s ease-in-out;
            }

            .sp-logo{
                position: absolute;
                left: 12px;
                bottom: 0;
                width: 75px;
                height: 34px;
                text-align: center;
                background-color: #fff;
                z-index: 2;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        .pp-content-wrap{
            padding: 0 12px;
        }

        .view-pp-layer {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            z-index: 1;
            transition: opacity 0.3s ease-in-out;

            .cbtn {
                font-size: 14px;
            }
        }

        .pp-name {
            font-size: 18px;
            font-weight: 500;
            line-height: 1;
            color: $heading-color;
            margin-bottom: 6px;
            transition: color 0.3s ease-in-out;
            @include putellipsis;

        }

        .pp-address,
        .pp-type {
            font-size: 13px;
            line-height: 1.31;
            text-align: left;
            color: lighten($title-color,30%);
            font-weight: normal;
            @include putellipsis;
            margin-bottom: 5px;

        }

        .pp-price {
            margin-top: 15px;
            color: $title-color;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.13;
            @include putellipsis;


            span {
                font-size: 13px;
            }
        }

        &.info-placeholder {
            width: $ppwidth;
            text-align: center;

            .ip-img-wrap {
                display: block;
                width: 100%;
                height: 199px;
                background: #f7f7f7 url(/images/small-highlighted-projects.png) no-repeat top center;
                background-size: contain;
                margin: 0 auto;

            }

            .info-content {
                text-align: left;
                
                position: relative;
                z-index: 1;
                padding: 12px;

                h4 {
                    font-size: 16px;
                    color: $title-color;
                    line-height: 20px;
                    font-weight: 500;
                    padding: 0;
                }

                .txtbtn{
                    padding: 0;
                }

                p {
                    font-size: 14px;
                    line-height: 18px;
                    color: $title-color;
                    margin-top: 4px;
                    margin-bottom: 8px;
                }
            }

            &.small-card{
                width: calc(50% - 10px);
                min-height: 212px;

                .ip-img-wrap{
                   height: 100px;
                }

                .info-content{
                    padding: 9px 12px;

                    p{
                        font-size: 13px;
                        line-height: 20px;
                        margin-bottom: 0;
                    }

                }

            }

            &.h-card{
                width: 414px;
                min-height: 160px;

                a{
                    display: flex;
                }

                .ip-img-wrap{
                    height: 160px;
                    width: 190px;
                }

                .txtbtn{
                    position: absolute;
                    bottom: 7px;
                }

                .info-content{
                    width: calc(100% - 190px);
                }
            }
        }

        &:hover {
            box-shadow: 2px 2px 8px rgba(0,0,0,0.2);

            .view-pp-layer {
                opacity: 1;
            }

            .pp-img-wrap {

                img {
                    transform: scale(1.1);
                }

            }

            .pp-name {
                color: $link-color;
            }
        }
    }

}

/*mobile view*/
@media screen and (max-width: 768px) {
    .pp-card-wrap {
        padding: 60px 15px;

        .title {
            font-size: 24px;
        }

        .subtitle {
            font-size: 16px;
        }

    }
    .pp-list {
        margin-top: 25px;

        .pp-card {
            width: 260px;
            margin-right: 15px;

            .view-pp-layer {
                display: none;
            }
        }
    }
    .lead-deficit-thanks{
        .view-pp-layer {
                display: none;
            }
    }

}

@media screen and (min-width: 769px) {
    .pp-card-wrap {

        .slider-wrap {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
        }
    }
}
