.premium-tag{
	padding: 2px 3px;
	border-radius: 2px;
	border: 1px solid $light-text;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
	z-index: 2;
	color: $light-text;
	letter-spacing: 1px;

	&.mar-top {
		top: 25px;
	}
	&.inline {
		margin-left: 40px;
    	display: inline-block;
    	position: initial;
	}
}

@media screen and(max-width: 767px){
	.premium-tag{

		&.mar-top {
			top: 15px;
		}

		&.inline{
			display: block;
			margin-left: 0;
			margin-bottom: 5px;
		}
	}
}
