.privilege-wrap {
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    .card-container {
        height: 464px;
        background-image: linear-gradient(to top, #ffe7e7, #fff 7%, #fff 74%, #ffcaca);
        margin: 0;
        text-align: left;
        display: block !important;

        .head {
            font-size: 14px;
            color: #666;
            vertical-align: top;
            padding-left: 3px;
            display: inline-block;
            width: calc(100% - 85px);
            padding: 24px 18px 0 18px;
            
            .title {
                color: #292929;
                font-weight: bold;
                font-size: 20px;
                padding-bottom: 10px;
            }
        }

        .home-icon {
            position: relative;
            top: 10px;
            right: 0px;
            height: 85px;
            width: 85px;
            background: url(/images/privilege-home.png) no-repeat;
            background-size: cover;
            display: inline-block;
        }

        .privilege-slider {
            overflow: hidden;
            padding: 15px;
        }

        .card-list {
            display: inline-block;
            margin-top: 0px;
            margin-left: 4px;
            width: 3000px;

            .card-item {
                width: 246px;
                height: 350px;
                margin-right: 20px;
                margin-bottom: 20px;
                float: left;
                text-align: left;
                vertical-align: top;
                position: relative;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                background-color: #fff;
                cursor: pointer;

                .img-wrap {
                    width: 100%;
                    height: 140px;
                    position: relative;
                    cursor: pointer;
                    z-index: 2;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                .text-wrap {
                    padding: 20px 15px;
                    line-height: 1.06;
                    color: #666;

                    .price-tag {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 0.77;
                        color: #292929;
                        padding-bottom: 10px;
                    }

                    .title {
                        margin-top: 5px;
                        font-size: 15px;
                        line-height: 1.06;
                        color: #444444;                        
                    }

                    .location-wrap {
                        font-size: 13px;
                        color: #666;
                        border-bottom: #ccc solid 1px;
                        padding: 10px 0;
                    }
                    .offer-wrap {
                        font-size: 13px;
                        padding-top: 10px;

                        .btn {
                            font-size: 12px;
                            padding: 4px 6px;
                            background-color: #ee447e;
                            color: #fff;
                            font-weight: 500;
                            border-radius: 2px;
                        }

                        .txt {
                            margin-left: 5px;
                            font-size: 14px;
                            line-height: 1.71;
                            color: #ee447e;
                        }
                    }
                    .profile-wrap {
                        font-size: 12px;
                        line-height: 1.5;
                        padding-top: 10px;
                        color: #9b9b9b;

                        .profile-img {
                            width: 20px;
                            height: 20px;
                            position: relative;
                            cursor: pointer;
                            z-index: 2;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            display: inline-block;
                            border: #ccc solid 1px;
                            top: 5px;
                        }

                        .txt {
                            color: #444444;
                        }

                        .mr_b {
                            margin: 0 2px 0 6px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px){
    .privilege-wrap {
        .card-container {
            margin: 0px;
            padding: 0 65px;
            .title {
                font-size: 20px;
            }
            .card-list {
                .card-item {
                    height: 350px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .privilege-wrap {
        .card-container {
            .head {
                font-size: 10px;
                width: 79vw;
                .title {
                    font-size: 16px;
                }
            }
            .privilege-slider {
                overflow: scroll;
            }
        }
    }
}