@import "../variables";
@import "../mixins/ellipsis";
@import "rating-bar";
@import "review-card";
@import "serp-carousel";
//@import "save-badge";

// desktop card layout for listing pages

    //some variables
    $cardwidth: auto;
    $cardheight: 247px;
    $imgwidth: 292px;
    $imgheight: 165px;

// Breadcrumb position HACKKKKKK for serp desktop
.dummy-fixed-top-banner {
    position: relative;
    height: 120px;
    cursor: pointer;
    margin: 20px 80px 30px;
    display: flex;
    box-shadow: 0 1px 10px 1px rgba(0, 0,0 , 0.15);
    .ht-bc{
        height: 15px;
        background-color:#D3D3D3;
    }
    .dummy-image-container{
        width: 42%;
        height: 120px;
        background-color:#D3D3D3;
        margin-right:10px;
    }
    .dummy-content-container{
        position: relative;
        width:57%;
    }
    .dummy-main-line{
        width: 300px;
        margin:10px 0px;
    }
    .dummy-sub-line{
        width: 200px;
        margin: 10px 0px;
    }
    .dummy-bottom-line{
        position: absolute;
        bottom: 5px;
        width: 150px;
    }
    .dummy-fixed-ad-cta{
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 70px;
    }
}



.breadcrumb-seo {
    padding-left: 65px;

    .bclink a.txt {
        font-size: 12px;
    }
}
.hdng-zero-simi {
    padding: 10px 10px 10px 65px !important;
}
.cardLayout {
    position: relative;
    display: block;
    width: calc(100% - 130px);  // derived after subtracting left-right margins
    height: $cardheight;
    padding: 15px;
    margin: 20px 65px 40px; // left -right margin = 65px (double = 130px)
    text-transform: none;
    transition: all 0.3s ease-in;

    .imgWrap {
        position: relative;
        float: left;
        width: $imgwidth;
        height: $imgheight;
        z-index: 0;
        background: #ccc;

        figure {
            height: 100%;
        }

        img {
            width: auto;
            height: 100%;
            background: #ccc;
            color: #ccc;
            font-size: 24px;
            line-height: 1.25;
            text-align: center;
            cursor: zoom-in;
            z-index: 0;
            transform: scale(1);
            display: block;
            transition: transform 0.3s ease-in;
            margin: 0 auto;

            &.cursordefault {
                cursor: default;
            }
        }

        .img-slide img {
            object-fit: cover;

            &:hover {
                transform: scale(1.05);
            }
            &.js-zoom-crop {
                width: 100%;   
            }
            &.js-zoom-crop-allowed {
                width: 75%;   
            }
            &.js-zoom-crop-min {
                width: 50%;   
            }
        }

        .playbtn {
            position: absolute;
            top: 35%;
            left: 120px;
            width: 50px;
            height: 50px;
            padding-top: 10px;
            border: solid 3px #fff;
            border-radius: 50%;
            color: #fff;
            font-size: 22px;
            text-align: center;
        }

        .badge-wrap {
            position: absolute;
            top: 6px;
            left: -5px;
            z-index: 2;

            .newBadge {
                position: relative;
                height: 20px;
                min-width: 40px;
                padding: 3px 3px 3px 5px;
                background-color: #fba512;
                color: #fff;
                font-size: 14px;
                line-height: 1;
                text-align: center;
            }
        }

        // .img-count {
        //     position: absolute;
        //     top: 0px;
        //     right: 0px;
        //     border-left: solid 1px #ccc;
        //     border-bottom: solid 1px #ccc;
        //     background-color: rgba(0,0,0,0.35);
        //     padding: 2px 3px;
        //     color: #fff;
        //     font-size: 11px;
        //     text-shadow: 0 1px 1px rgba(0,0,0,0.8);
        //     z-index: 3;

        //     .val {
        //         font-size: 14px;
        //     }
        // }
    }

    .seller-row {
        padding-top: 6px;
        background-color: #fff;
    }

    .seller-wrap {
        position: relative;

        .slr-img {
            float: left;
            width: 46px;
            height: 46px;
            border: 1px solid #eaeaea;
            text-align: center;
            margin-right: 10px;

            .seller-img-box {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;

                .initial {
                    font-size: 24px;
                    line-height: 44px;
                }
            }
        }

        .seller-info {
            float: left;
            width: 65%;
            width: calc(100% - 110px);
            h2 {
                line-height: unset;
            }
        }

        .seller-name {
            display: inline-block;
            font-size: 16px;
            @include putellipsis;
            line-height: 18px;
            max-width: 100%;
            color: $heading-color;
            text-transform: capitalize;
            margin-bottom: 4px;
            margin-top: 2px;
            cursor: pointer;
            font-weight: 500;
        }

        .second-line {
            font-size: 12px;
            text-transform: uppercase;
            color: $light-color;
            letter-spacing: -0.5px;
            font-weight: bold;

            .seller-type {
                color: $lighter-color;
                font-weight: normal;
            }
        }

        .review-rating-wrap {
            position: absolute;
            right: 0;
            top: 0;
            text-align: right;

            .rating-review{
                font-size: 10px;
                line-height: 11px;
                text-align: right;

                span{
                    font-size: 11px;
                }
            }

            .rating{
                margin-bottom: 2px;

                .rating-badge {
                    width: 22px;
                    height: 22px;
                    line-height: 22px;
                    border-radius: 2px;
                    border-bottom-right-radius: 0px;
                    font-size: 11px;
                }
            }
        }

        .post-time {
            font-size: 12px;
        }

        &:hover {
            .seller-name {
                text-decoration: underline;
            }

            .mp-tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .infoWrap {
        position: relative;
        float: right;
        width: calc(100% - #{$imgwidth}); // 10px to get overlapped by image
        padding-left: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in;

        .ms-badge{
            position: absolute;
            right: 0;
            top: 0;
        }

        strong {
            font-weight: normal;
        }

        .title-line-wrap {
            position: relative;
            font-size: 0;
        }

        .brokerage-txt {
            padding: 4px 0 0 0;
            color: #b0c14d;
            font-size: 12px;
            line-height: 1;
            letter-spacing: 1px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease-in;
        }
        .title-line {
            @include putellipsis;
            max-width: calc(100% - 72px);
            padding-bottom: 7px;
            color: $light-color;
            font-size: 16px;
            line-height: 1;

            &.mar-right {
                max-width: calc(100% - 120px);
            }

            a {
                color: #292929;
                text-decoration: none;
                cursor: pointer;
                transition: color 0.3s ease-in;

                strong {
                    font-weight: 500;
                }

                &:hover {
                    color: $link-color;
                }
            }

            .projName {
                color: $light-color;
                text-transform: capitalize;

                strong {
                    font-weight: normal;
                }
            }
        }
        .recency-wrap {
            position: absolute;
            right: -5px;
            top: 0px;
            font-size: 12px;
            color: #9b9b9b;
        }

        .locWrap {
            display: inline-block;
            @include putellipsis;
            max-width: 100%;
            padding-bottom: 13px;
            color: $light-color;
            font-size: 14px;
            line-height: 1.1;

            a:hover {
                color: $link-color;
                text-decoration: none;
            }

            .distance {
                color: $lighter-color;
                font-size: 11px;
            }
        }

        .loclink {
            color: $light-color;
        }

        .listing-highlights {
            position: relative;
            width: 100%;
            padding: 8px 12px 8px 0;
            border-top: solid 1px #ececec;
            border-bottom: solid 1px #ececec;
            border-collapse: separate;

            thead{
                display: none;
            }

            .chevron-wrap {
                position: absolute;
                top: 38%;
                right: 0;

                .icon-link {
                    font-size: 13px;
                    color: $lighter-color;
                    cursor: pointer;
                    transition: color 0.3s ease-in;
                }
            }

            .hcol {
                display: inline-block;
                vertical-align: top;
                width: 28%;
                padding-right: 10px;
                color: #292929;
                font-size: 15px;

                &.w44 {
                    width: 44%;
                }

                td {
                    display: block;
                }

                sup.rupee {
                    top: -4px;
                    font-size: 13px;
                }

                .val {
                    @include putellipsis;
                    font-size: 18px;
                    font-weight: 500;
                }

                .lbl {
                    @include putellipsis;
                    color: $lighter-color;
                    font-size: 13px;
                }
            }
        }

        .listing-details {
            display: inline-block;
            @include putellipsis;
            max-width: 96%;
            padding-top: 11px;
            //padding-bottom: 5px;
        }

        .keypoint {
            display: inline-block;
            padding: 0 6px;
            border-right: solid 1px #ccc;
            font-size: 14px;
            line-height: 1.1;

            &:nth-child(1) {
                padding: 0 6px 0 0;
            }

            &:last-child {
                border: none;
            }

        }

        .listing-description {
            color: $lighter-color;
            font-size: 12px;
            line-height: 1.25;

            .txt {
                display: inline-block;
                vertical-align: top;
                @include putellipsis;
                max-width: calc(100% - 40px); // assuming 80px for more txt btn
            }

            h3.seo-hdng {
                display: inline;
                margin-right: 5px;
                font-family: $roboto;
                font-size: 12px;
                line-height: 1.1;

                a {
                    color: $lighter-color;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .linktoprop {
                display: inline-block;
                vertical-align: top;
                color: #292929;
                padding-left: 2px;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: $link-color;
                }
            }
        }

        // POSTED DATE | SELLER ATTRIBUTES -- added on 16Aug17
        .sllr-attributes-wrapper {
            @include putellipsis;
            padding: 6px 0 0 0;
            color: $light-color;
            font-size: 12px;
            line-height: 1.5;

            .txt {
                display: inline-block;
                color: #292929;
                padding-bottom: 15px;
            }
            .review-val {
                display: inline-block;
                color: #00a661;
                padding-bottom: 15px;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    /** btn wrap starts **/
    .btn-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;
        margin-top: 18px;

        .btn-icons {
            padding-top: 5px;
            font-size: 20px;
            line-height: 1;
            transition: color 0.3s ease-in;

            .favbtn {
                margin: 0 10px 0 0;
                color: $lighter-color;
            }

            .shareitem {
                color: $lighter-color;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .callwrap {
            .txtbtn {
                margin-right: 10px;
                color: $link-color;
            }
        }
    }
    /** btn wrap ends **/

    // hover interaction on card data
    &:hover {
        box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.15);
        z-index: 1;

        .typelink {
            color: $link-color;
        }

        .listing-highlights .chevron-wrap .icon-link {
            color: $link-color;
        }

        .brokerage-txt {
            opacity: 1;
        }

        .btn-wrap {
            .btn-icons {
                .favbtn {
                    color: $link-color;
                }
            }
        }
    }
}

.ad-wrapper {
    text-align: center;
}