@import "../variables";
@import "../mixins/ellipsis";
@import "circular-progress";
@import "slr-info-card";
@import "sliding-top-sellers";

// overwrites for this page
.search-result-wrap .f-count-wrap {
    padding: 5px 10px 20px 20px;
}

// desktop card layout for listing pages

    //some variables
    $cardwidth: 100%;
    $cardheight: auto;
    $imgheight: 240px;

.project-card {
    position: relative;
    display: inline-block;
    width: $cardwidth;
    height: $cardheight;
    padding: 0;
    margin: 10px 0px 30px;
    background-color: #fff;
    box-sizing: border-box;
    color: #444;
    line-height: 1.24;
    transition: all 0.15s ease-in-out;

    .top-info {

    }

    .proj-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        border-bottom: solid 1px #f0f0f0;

        .pcol {
            flex: 1;

            &.price-rise, &.price-wrap {
                align-self: center;
            }

            &.price-wrap {
                flex: 2;
            }
        }
    }

    .img-wrap {
        position: relative;
        height: $imgheight;
        z-index: 1;

        .gallerywrap {
            display: flex;
        }

        img {
            width: 100%;
            background: #ccc;
            object-fit: cover;
            color: #ccc;
            font-size: 24px;
            line-height: 1.25;
            text-align: center;
            cursor: zoom-in;
            z-index: 0;

            &.cursordefault {
                cursor: default;
            }
        }

        .badge-wrap {
            position: absolute;
            top: 10px;
            left: -6px;
            z-index: 2;

            .newBadge {
                position: relative;
                height: 20px;
                min-width: 40px;
                padding: 3px 3px 3px 5px;
                background-color: $link-color;
                border-top-left-radius: 3px;
                color: #fff;
                font-size: 14px;
                line-height: 1;
                text-align: center;

                &:before {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 0px;
                    top: 100%;
                    border-width: 3px 3px;
                    border-style: solid;
                    border-color: $dark-link-color $dark-link-color transparent transparent;
                }

                &:after {
                    position: absolute;
                    right: -10px;
                    top: 0;
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent $link-color;
                }

                &.seen {
                    background-color: #fba512;

                    &:before {
                        border-color: #b57b0f #b57b0f transparent transparent;
                    }

                    &:after {
                        border-color: transparent transparent transparent #fba512;
                    }
                }

                &.featured {
                    background-color: #EB4396;

                    &:before {
                        border-color: #EB4396 #EB4396 transparent transparent;
                    }

                    &:after {
                        border-color: transparent transparent transparent #EB4396;
                    }
                }

                &.contacted {
                    background-color: #e62489;

                    &:before {
                        border-color: #e62489 #e62489 transparent transparent
                    }

                    &:after {
                        border-color: transparent transparent transparent #e62489;
                    }
                }
            }
        }

        .img-count {
            position: absolute;
            bottom: 25px;
            right: 10px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            text-shadow: 0 1px 1px rgba(0,0,0,0.8);
            z-index: 3;

            .val {
                font-size: 16px;
            }
        }

        .proj-name-wrap {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0;
            z-index: 2;
            padding: 5px 10px 10px;
            background-color: rgba(0,0,0,0.35);
            color: #fff;
            font-size: 13px;

            .proj-name {
                display: block;
                @include putellipsis;
                max-width: 70%;
                color: #f9f9f9;
                font-size: 20px;
                font-weight: 500;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    color: $link-color;
                }
            }

            .proj-loc {
                display: block;
                color: #f9f9f9;
                font-size: 13px;
                @include putellipsis;
                max-width: 70%;
            }

            .linku {
                border-bottom: solid 1px #ccc;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .proj-score {
            position: absolute;
            bottom: 7px;
            right: 7px;
            z-index: 2;
            padding: 2px 0 0 2px;
            background-color: rgba(0,0,0,0.15);
            border-radius: 50%;

            .base {
                border-color: #919497;
            }

            .score {
                color: #fff;
                text-shadow: 1px 1px 2px #6c6c6c;
            }

            .val {
                display: none;
            }
        }
    }

    .main-info {
        padding: 20px 10px;
        cursor: pointer;
    }

    .listing-highlights {
        position: relative;

        .hcol {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            padding: 0 30px 12px 0;
            color: #292929;
            font-size: 15px;

            .val {
                @include putellipsis;
                font-size: 15px;
                font-weight: 500;
            }

            .lbl {
                @include putellipsis;
                color: $lighter-color;
                font-size: 13px;
            }
        }
    }

    .hcol .price .val {
        display: inline-block;
        max-width: calc(100% - 15px);
    }

    .price-rise .val {
        &.rise:before {
            content:'↑';
            display: inline-block;
            padding-right: 3px;
            color: green;
        }

        &.fall:before {
            content:'↓';
            display: inline-block;
            padding-right: 3px;
            color: red;
        }
    }

    .description-wrap {
        padding-bottom: 20px;
        color: $lighter-color;
        font-size: 12px;
    }

    .btn-wrap {

    }

    .linktxt {
        display: inline-block;
        margin-top: 17px;
        padding: 0px 15px 0 0;
        vertical-align: middle;
        color: $link-color;
        cursor: pointer;
    }

    .iconbtn {
        display: inline-block;
        padding: 0 5px;
        margin: 2px 5px 0 0;
        color: #666;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }

    &:hover {
        box-shadow: 0 1px 10px 1px rgba(0,0,0,.15);
    }
}


// some overwrites for gallerywrap carouselbtns
.gallerywrap {
    .btn-prev, .btn-next {
        position: absolute;
        bottom: 40%;
        width: 40px;
        color: #fff;
        font-size: 28px;
        text-shadow: 0px 2px 2px #666;
        z-index: 3;
        cursor: pointer;

        &.disable {
            opacity: 0.25;
            cursor: not-allowed;
            text-shadow: 0px 1px 1px #666;
        }
    }

    .btn-prev {
        left: 5px;
        float: none;
        margin-left: 0;
    }

    .btn-next {
        right: 0;
        float: none;
        margin-right: 0;
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    .project-card {
        width: calc(100% - 20px);
        margin: 10px 10px 30px;
    }
}

@media (min-width: 768px) {
    $cardwidth: 49%;
    $cardheight: 470px;
    $imgheight: 270px;

    // for project page
    .searchprojectlistpage {
        .cardholder {
            display: inline-block;
            width: $cardwidth;
            margin-right: 2%;
            vertical-align: top;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .project-card {
        height: $cardheight;
        padding-bottom: 40px;

        .img-wrap {
            height: $imgheight;
        }
    }
}
