@import "../variables";
@import "../mixins/ellipsis";
@import "serp-carousel";

/* scss for mobile starts here */

.w100 {
    width: 100%;
}
.dummy-fixed-top-banner{
    position: relative;
    height: 120px;
    cursor: pointer;
    width:95%;
    margin:10px;
    padding:10px;
    background-color:#ececec;
    .ht-bc{
        height: 10px;
        background-color:#fff;;
    }
    .dummy-main-line{
        width: 150px;
    }
    .dummy-sub-line{
        width: 100px;
        margin: 12px 0px;
    }
    .dummy-bottom-line{
        position: absolute;
        bottom: 10px;
        width: 80px; 
    }
    .dummy-fixed-ad-cta{
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 70px;
    }
}
//some variables
.cardWrapM {
    padding: 0.1px; // to avoid collapsing margins HACKKKK  :{
}
// Breadcrumb position HACKKKKKK for serp mobile
.breadcrumb-seo {
    padding-left: 20px;
    font-size: 11px;

    .breadcrumb-list {
        padding-bottom: 0;
    }
}
//positioning ads in center

.ad-wrapper {
    text-align: center;
}
.cardMobile {
    margin: 20px 20px 10px;
    padding-bottom: 18px;
    border-bottom: solid 1px #dbdbdb;
    text-transform: none;

    $siw: 46px;

    /** Seller wrap starts here **/
    .seller-wrap {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .seller-dtls {
            order: 1;   // has been written after deal-maker badge in html BUT comes first on render [ flexitem property]
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            width: 100%;
            position: relative;
        }

        .review-rating-wrap {
            position: absolute;
            right: 0;
            top: 0;
            text-align: right;
            padding: 0 10px 10px 10px;

            .rating-review{
                font-size: 10px;
                line-height: 11px;
                text-align: right;

                span{
                    font-size: 11px;
                }
            }

            .rating{
                margin-bottom: 2px;

                .rating-badge {
                    width: 22px;
                    height: 22px;
                    line-height: 22px;
                    border-radius: 2px;
                    border-bottom-right-radius: 0px;
                    font-size: 11px;
                }
            }
        }

        .seller-img-box {
            width: $siw;
            height: $siw;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #ccc;
            border: 1px solid #eaeaea;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .initial {
                font-size: 24px;
                line-height: $siw;
                text-transform: uppercase;
                //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
            }

            &.dummy-agent-bground {
                background-position: -170px 0px !important;
                background-size: 245px 32px !important;
            }
        }

        .seller-info {
            width: 85%;
            width: calc(100% - 100px); // depends on width of .sibox-wrap
            padding-left: 10px;

            h2 {
                line-height: unset;
            }

            .line2 {
                font-size: 11px;
                text-transform: uppercase;
                color: $light-color;
                font-weight: bold;
                letter-spacing: -0.5px;
            }

            .seller-name {
                display: inline-block;
                font-size: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                line-height: 18px;
                max-width: 100%;
                text-align: left;
                color: #444;
                text-transform: capitalize;
                font-weight: bold;
            }

            .seller-type {
                color: #9b9b9b;
                font-weight: normal;
            }
        }
    }
    /** Seller wrap ends here **/

    /** higher success rate **/
    .sibox-wrap {
        position: relative;
        width: $siw;
        height: $siw;
    }

    /** Image wrapper starts **/
    .imgWrap {
        position: relative;
        width: 100%;
        margin: 10px 0 15px;

        figure, .img-slide {
            width: 100%;
            height: 190px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #ccc;
            overflow: hidden;
            color: #ccc;
            font-size: 24px;
            line-height: 1.25;
            text-align: center;
            z-index: 0;

            img {
                width: auto;
                height: 100%;
            }

            img.js-zoom-crop {
                width: 100%;
                object-fit: cover;
            }

            img.js-stretch-image {
                width: 50%;
            }
        }

        .playbtn {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 50px;
            padding-top: 10px;
            border: solid 3px #fff;
            border-radius: 50%;
            color: #fff;
            font-size: 22px;
            text-align: center;
            text-decoration: none;
        }

        .badge-wrap {
            position: absolute;
            top: 4px;
            left: 0px;
            z-index: 2;

            .newBadge {
                position: relative;
                height: 20px;
                min-width: 40px;
                padding: 3px 5px;
                background-color: #fba512;
                color: #fff;
                font-size: 14px;
                line-height: 1;
                letter-spacing: 1.2px;
                text-align: center;
            }
        }

        .zoomin {
            position: absolute;
            top: 3px;
            right: 10px;
            z-index: 2;
            .upper-shortlist{
                display: none;
            }
            i {
                color: #fff;
                font-size: 20px;
                text-shadow: 1px 1px 0px #000;
                font-weight: bold;
            }
        }

        .more-img{
            position: absolute;
            right: 10px;
            bottom: 0px;
            font-size: 15px;
            padding: 12px 10px 15px 10px;
            color: black;
            line-height: 1;

            span {
                background-color: rgba(234,234,234,0.8);
                border-radius: 20px;
                padding: 5px 10px 5px 10px;
            }

            &.mar-b {
                bottom: 25px;
            }
        }

        // .img-count {
        //     position: absolute;
        //     bottom: 5px;
        //     right: 10px;
        //     color: #fff;
        //     font-size: 12px;
        //     font-weight: bold;
        //     text-shadow: 0 1px 1px rgba(0,0,0,0.8);
        //     z-index: 3;

        //     .val {
        //         font-size: 14px;
        //     }
        // }
    }
    /** Image wrapper ends **/

    /** main info wrapper starts **/
    .main-info-wrap {
        position: relative;

        .ms-badge{
            position: absolute;
            right: 2px;
            bottom: 103%;
            z-index: 2;
        }
    }
    .price-wrap {
        position: relative;
    }
    .price {
        padding-bottom: 10px;
        line-height: 1;
        text-transform: capitalize;

        sup.rupee {
            top: -0.25em;
            margin-right: 2px;
            font-size: 16px;
        }

        .val {
            color: $dark-color;
            font-size: 24px;
            font-weight: 500;
        }
        .unit {
            //padding-left: 2px;
            font-size: 16px;
        }
    }
    .recency-wrap {
        position: absolute;
        right: 0;
        top: -5px;
        font-size: 12px;
        color: #9b9b9b;
    }
    .type-size-wrap {
        padding-bottom: 8px;
        @include putellipsis;
        width: 99%;

        strong {
            display: inline-block;
            font-weight: 500;
        }
    }
    .typelink {
        color: $dark-color;
        font-size: 18px;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
    }
    .type {
        padding-right: 5px;
    }
    .size {
        position: relative;
        padding-left: 11px;

        &:before {
            position: absolute;
            left: 0;
            content: '∙';
            color: #bcbcbc;
        }
    }
    .loc-wrap {
        @include putellipsis;
        width: 99%;
        font-size: 15px;
        line-height: 1.14;
        margin-top: 8px;
        .proj-name, .loc-name, .suburb-name, .city-name {
            display: inline;
        }

        .pipe {
            &:after {
                display: inline-block;
                content: '|';
                padding-left: 5px;
                padding-right: 10px;
                color: #bcbcbc;
            }
        }

        .proj-name, .loclink {
            color: $body-color;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            strong {
                font-weight: normal;
            }
        }
    }

    .distance-wrap {
        color: #999;
        font-size: 12px;
    }

    .listing-description {
        margin: 5px 0px;
        color: $lighter-color;
        line-height: 1.25;

        .txt {
            display: inline-block;
            vertical-align: top;
            @include putellipsis;
            max-width: calc(100% - 40px); // assuming 80px for more txt btn
        }

        h3.seo-hdng {
            display: inline;
            margin-right: 5px;
            font-family: $roboto;
            font-size: 13px;
            line-height: 1.1;

            a {
                color: $lighter-color;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .linktoprop {
            display: inline-block;
            padding-left: 2px;
            vertical-align: top;
            color: $light-color;
            font-size: 500;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $link-color;
            }
        }
    }

    // POSTED DATE | SELLER ATTRIBUTGES -- added on 16Aug17
    .sllr-attributes-wrapper {
        padding: 6px 0 0 0;
        color: $lighter-color;
        font-size: 12px;
        line-height: 1.5;

        .txt {
            display: inline-block;
            padding-bottom: 15px;
        }
        .review-val {
            display: inline-block;
            color: #00a661;
            padding-bottom: 15px;
            text-decoration: none;
            cursor: pointer;
        }
    }
    /** main info wrapper ends **/

    /** btn wrap starts **/
    .btn-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 5px 0 0;  // top was 20px - decreased after including seller attribute line.
        text-align: center;

        .btn-icons {
            padding-top: 5px;
            font-size: 20px;
            line-height: 1;

            span{
                padding: 10px;
            }

            .favbtn {
                color: $link-color;
            }

            .shareitem {
                color: $lighter-color;
            }
        }
    }

    .btn-wrap.align-right {
        justify-content: flex-end;
    }
    /** btn wrap ends **/
}

@media (max-width: 320px) {
    .cardMobile {
        .imgWrap {
            .img-slide,  figure {
                height: 140px;
            }
            .more-img {
                right: 0px;
                bottom: 10px;
                padding: 12px 5px 15px 10px;
            }
        }
        .price {
            padding-bottom: 5px;
            .val {
                font-size: 20px;
            }
        }
        .typelink {
            font-size: 16px;
        }
    }
}

// landscape view fix
@media (min-width: 640px) {
    .zero-results-similar-wrap > ul{
        display: flex;
        flex-flow: row wrap;
    }
    .cardholder {
        width: 48%;
    }
    .cardMobile {
        .imgWrap {
            figure {
                height: 140px;
            }
        }
        .price {
            padding-bottom: 5px;
            .val {
                font-size: 20px;
            }
        }
        .typelink {
            font-size: 16px;
        }
    }

    // MAP DSKTOP CASE
    .searchpage {
        .f-count-wrap {
            padding: 5px 10px 2px 20px;
        }
        .zero-results-similar-wrap {
            display: block;
            flex-flow: inherit;
        }
        .cardholder {
            width: 100%;
        }
        .cardMobile .imgWrap .img-slide.gallerywrap {
            height: auto;
        }
    }
}
.btn-wrap .seller-wrap.seller-lower-wrap{
    display: none;
}
.single-line-view{
        li.cardholder{
            margin-bottom: 10px;
            border-bottom: solid 8px #efefef;
            .cardMobile{
                margin:10px 20px 0px;
                border: none;
                .upper-shortlist{
                    display: block;
                }
                .imgWrap{
                    margin: 0px 0 10px;
                }
            }
        }
    .btn-icons{
        display: none;
    }
    .type-size-wrap{
        width: auto;
        float: left;
        max-width: 70%;
        white-space: pre-line;
        .typelink{
            font-size: 14px;
        }
        .size{
            padding-left: 0px;
            &:before {
                content: '';
            }
        }
    }
    .price-wrap{
        float: right;
        .val{
            font-size: 18px;
        }
    }
    .loc-wrap{
        font-size: 13px;
        margin-top: 0px;
    }
    .recency-wrap, .premium-tag{
        display: none;
    }
    .upper-seller-wrap{
        display: none;
    }
    .btn-wrap{
        border-top: solid 1px #efefef;
        padding-top: 10px;
        text-align: left;
        .seller-wrap {
            position: relative;
            width:74%;
            display: flex;
            .sibox-wrap{
                display: inline-block;
                vertical-align: topp;
            }
            .rating{
                margin-bottom: 0px;
            }
            .review-rating-wrap {
                position: static;
                text-align: right;
                padding: 0px;
                margin-left: 3px;
                display: inline-block;
                vertical-align: top;
                .rating-badge{
                    width: 25px;
                    height: 16px;
                    line-height: 15px;
                    border-radius: 2px 2px 0;
                    font-size: 11px;
                }
            }
            .seller-info {
                padding-left: 15px;
                display: inline-block;
                width: 75%;
                .seller-name{
                    font-size: 14px;
                    display: inline-block;
                    width: 100%;
                    .name{
                        white-space: nowrap;
                        max-width: 75%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 500;
                        color: #292929;
                    }      
                     
                }
            }
        }
    
    }
    .callwrap{
        width: 25%;
        display: inline-block;
        height:34px;
        margin-top: 10px;
        .cbtn{
            padding: 0px 12px;
            height: 32px;
            line-height: 30px;
        }
    }
    
}