// thsi page scss belongs to the post your requirement page.
//If you want to use this css just include it in your page.
//Author: Akash Sharma

@import "otp";
@import "range-slider";
@import "advisorListing";
@import "leadform";

$baseColor : #ffffff;
$outputRedBackColor : #e71c28;
$withBackColorAnim : stretch;
$withoutBackColorAnim : stretchWithoutBack;


@mixin keyframes($animName, $baseBackColor, $outputBackColor) {
    @-webkit-keyframes #{$animName} {
        0% {
            transform: scale(.5);
            background-color: $baseBackColor;
        }
        100% {
            transform: scale(1.2);
            background-color: $outputBackColor;
        }
    }
    @-moz-keyframes #{$animName} {
        0% {
            transform: scale(.5);
            background-color: $baseBackColor;
        }
        100% {
            transform: scale(1.2);
            background-color: $outputBackColor;
        }
    }
    @-o-keyframes #{$animName} {
        0% {
            transform: scale(.5);
            background-color: $baseBackColor;
        }
        100% {
            transform: scale(1.2);
            background-color: $outputBackColor;
        }
    }
    @keyframes #{$animName} {
        0% {
            transform: scale(.5);
            background-color: $baseBackColor;
        }
        100% {
            transform: scale(1.2);
            background-color: $outputBackColor;
        }
    }
}

.animwithbackColor {
    @include keyframes($withBackColorAnim, $baseColor, $outputRedBackColor);
}
.animwithoutbackColor {
    @include keyframes($withoutBackColorAnim, $baseColor, $baseColor);
}


@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

.animationadditions {
    animation-duration: 250ms;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
}


@mixin anim () {
    animation-name: stretch;
    @extend .animationadditions;
}

@mixin animWithoutback () {
    animation-name: stretchWithoutBack;
    @extend .animationadditions;
}

.tab {
    padding: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: center;

    li {
        padding: 9px 5px;
        border: 1px solid #8c8c8c;
        margin-right: -1px;
        display: inline-block;
        z-index: 8;
        width: 25%;
        transform: scale(1);
        position: relative;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        cursor: pointer;
        transition: transform 200ms ease-in-out;

        &.selected {
            transform: scale(1.08);
            color: $link-color;
            background-color: #ffffff;
            -webkit-font-smoothing: initial;
            -moz-osx-font-smoothing: grayscale;
            border-radius: 5px;
            z-index: 9;
        }

        &:last-child {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:first-child {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
    }
}

.seperator {
    position: absolute;
    left: 25px;
}


.pyr-wrap {
    display: none;
    position: relative;
    background-color: #f7f7f7;

    &.active {
        display: block;
    }

    .blackOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.6);
        z-index: 1001;
    }

    .pyr-inner {
        max-width: 950px;
        height: 100%;
        min-height: 585px;
        position: relative;
    }

    .pyr-heading {
        border-bottom: 2px solid #e8e8e8;
    }

    .seller-listing-head {
        position: relative;

        .close-popup {
            padding: 15px 15px;
            font-size: 14px;
            z-index: 10;

            .icon-close {
                color: #999;
                line-height: 1;
                font-weight: bold;
            }
        }

        .backbutton {
            padding: 12px 20px;
            font-size: 21px;
            line-height: 1;
            z-index: 999;
        }
    }

    .floating-count {
        position: absolute;
        top: -5px;
        left: 0px;
        width: 25px;
        height: 25px;
        background-color: #faa40f;
        color: #fff;
        font-size: 11px;
        padding: 5px 10px;
        border-radius: 100%;
    }

    .pyr-content {
        margin: 17px 0px 0px 30px;

        .form-group {
            position: relative;
            margin-top: 40px;
            padding-right: 30px;

            .fc-wrap {
                position: relative;

                select {
                    width: 100%;
                    border-radius: 0;
                    padding: 0px;
                    border-bottom: 1px solid #757575;
                    box-shadow: none;
                    height: 30px;
                    -webkit-appearance: none;
                }
            }

            .inputbox {
                width: 100%;

                input {
                    width: 100%;
                    background-color: transparent;
                    border-bottom: 1px solid #757575;
                }
            }

            .submit {
                width: 100%;
                margin-top: 45px;

                input[type="submit"] {
                    position: absolute;
                    right: 0px;
                    bottom: -133px;
                    padding: 8px 40px;
                    //border-radius: 6px;
                }
            }
        }

        .country-dd {
            margin-top: 25px !important;
            width: 30%;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            float: left;

            .fc-wrap {
                width: 100%;
                min-width: 70px;

                .error-msg {
                    width: 150%;
                }

                .fc {
                    border-bottom: 1px solid #cccccc;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    padding-bottom: 4px;

                    i {
                        font-size: 9px;
                        right: 2px;
                        top: 19px;
                    }
                }

                .select-dropdown {
                    max-height: 185px;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
        }

        .country-code-contact {
            width: 68%;
            display: inline-block;
            position:relative;
            vertical-align: middle;
            position: relative;
            float: right;

            .input-box {
                margin-top: 35px;

                label {
                    left: 36px;
                    top: 7px;
                }
            }

            .fc-wrap:focus label,
            .fc-wrap.focus label,
            .fc-wrap.active label {
                top: -10px;
                left: 0;
            }

            .countryCode {
                padding-left:5px;
                padding-right:5px;
                position: absolute;
                left: -2px;
                bottom:3px;
                width: 38px;
                color:#666;
                font-size:1em;
            }
        }

        .checbox-wrap {
            position: relative;
            bottom: -70px;

            label.checkboxlbl {
                margin-right: 0;
                font-size: 10px;
                line-height: 1;
                .txt {
                    color: #777;
                    font-size: 13px;
                    line-height: 14px;
                }
            }
        }
    }

    .options {
        padding-left: 0;
        padding-right: 30px;
        position: relative;
    }

    .requirement-box {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 5px);
        height: 100px;
        margin-left: 5px;
        margin-bottom: 8px;
        border-radius: 15px;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 2px 7px -1px rgba(80,80,80,0.50);
        -moz-box-shadow: 0px 2px 7px -1px rgba(80,80,80,0.50);
        box-shadow: 0px 2px 7px -1px rgba(80,80,80,0.50);
        transition: all 0.25s ease-in-out;

        .max130 {
            max-width: 130px;
            border-right: 1px solid #ebebeb;
        }

        .placeholdertxt {
            font-size: 16px;
            color: #666;
        }

        .icon-wrap {
            text-align: center;
            padding: 23px 10px;
            font-family: $roboto;

            i {
                font-size: 40px;
                margin-bottom: 10px;
            }
        }

        .circle-tick {
            position: absolute;
            top: 31px;
            right: 20px;
            padding: 6px 10px;
            //background-color: #e71c28;
            background-color: #fff;
            border-radius: 5px;
            //color: #fff;
            color: $link-color;
            font-size: 16px;
            transition: all 0.3s ease-in-out;

            &.inactive {
                color: #fff;
            }
        }

        .budget {
            padding: 30px 0;

            .range-slider {
                position: relative;
                width: 80%;
                margin: 0 auto;
                padding-top: 16px;
                cursor: pointer;

                // Slider
                .range {
                    padding-left: 30px;
                    position: relative;
                    top: 15px;
                    left: 0;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    padding: 0;
                    text-align: center;
                    text-transform: initial;

                    .range-value1 {
                        bottom: -55px;
                        left: 56%;
                    }
                }
            }

            // Firefox Overrides
            ::-moz-range-track {
                background: #ccc;
                border: 0;
            }
            input::-moz-focus-inner {
                border: 0;
            }
        }

        .bedroom {
            padding: 30px;

            ul.bhks {
                text-align: center;

                li {
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    vertical-align: middle;
                    margin-right: 15px;
                    cursor: pointer;

                    .bhk-count {
                        border: 1px solid #a4a4a4;
                        border-radius: 100%;
                        width: 40px;
                        height: 40px;
                        color: #444444;
                        display: inline-block;
                        padding-top: 9px;
                    }

                    input[type=checkbox] {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                        transition: background-color 500ms ease-in-out;
                    }

                    input[type=checkbox]:checked ~ .bhk-count {
                        @include anim();
                        color: #fff;
                        background-color: #e71c28;
                        border-color: #e71c28;
                        font-weight: bold;
                    }
                }
            }
        }

        .location {
            position: relative;
            padding: 17px 13px;

            .fc-wrap {
                display: inline-block;
                vertical-align: -13px;
                margin-bottom: 0;
                font-size: 16px;
                color: #333;
            }

            .form-group {
                margin-bottom: 0;
            }

            input {
                text-align: left;
                border-bottom: none;
            }
        }

        &.property {
            overflow: visible;

            .property-rightpane {
                padding: 18px 20px 0;
                position: relative;
                cursor: pointer;

                .fc-wrap.multiselectbox {
                    line-height: 1.1;
                    vertical-align: -18px;
                    display: inline-block;

                    .fc {
                        border-bottom: none;
                        font-size: 16px;
                        color: #333;

                        .selected-property-list li {
                            font-size: 16px;
                            width: 90%;
                            text-align: left;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap
                        }
                    }
                }

                .multiselectbox {
                    width: 100%;
                }
            }

            .multiselect-list {
                width: calc(100% - 30px);
                background-color: #ffffff;
                position: relative;
                top: 0;
                left: 15px;
                z-index: 10;
                box-shadow: 0px 2px 5px -1px rgba(80,80,80,0.5);
                border-radius: 0 0 15px 15px;
                border-top: 1px solid #d6d6d6;
                max-height: 240px;
                overflow-y: scroll;

                ul {
                    li {
                        position: relative;

                        label.select-label {
                            position: relative;
                            padding: 14px 20px;
                            margin-bottom: 0;
                            width: 100%;

                            input {
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                visibility: hidden;
                                transition: color 500ms ease-in-out;
                            }

                            .txt {
                                font-size: 16px;
                                font-weight: normal;
                            }

                            .txt:before {
                                content: '\e9ca';
                                font-family: icomoon;
                                font-size: 16px;
                                font-weight: bold;
                                color: #e0e0e0;
                                position: absolute;
                                top: 10px;
                                right: 30px;
                                transition: 300ms ease-in-out;
                            }

                            input[type=checkbox]:checked ~ .txt {
                                color: $link-color;
                               // @include anim();
                            }

                            input[type=checkbox]:checked ~ .txt:before {
                                color: $link-color;
                                @include animWithoutback();
                            }
                        }
                    }
                }
            }
        }

        &.location-wrap {
            max-height: inherit;
            cursor: pointer;

            .suggestion-box {
                position: relative;
                left: 15px;
                display: inline-block;
                width: calc(100% - 30px);
                background-color: #ececec;
                border-top: 1px solid #d6d6d6;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                box-shadow: 0px 2px 5px rgba(135,135,135,0.6);

                .srchicon {
                    position: absolute;
                    top: 10px;
                    left: 7px;
                    font-size: 16px;
                    z-index: 9999;
                }

                input[data-type="query-text"] {
                    border: none;
                    line-height: 1;
                    width: 100%;
                    padding: 10px 10px 10px 30px;
                    background-color: #fff;
                    //border-bottom: solid 1px #dcdcdc;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    color: #333;

                    &:focus {
                        outline:none;
                    }
                }

                .thdd {
                    top: 38px;
                    background-color: #ffffff;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    //box-shadow: none;

                    ul {
                        padding: 5px 5px 2px;

                        li {
                            padding: 0;

                            .result-row {
                                //border-bottom: none;
                                padding: 8px 3px;
                            }
                        }
                    }
                }
            }

            .location-selected-list {
                position: relative;
                top: 1px;
                left: 15px;
                width: calc(100% - 30px);
                background-color: #fff;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow: 0px 2px 5px rgba(135,135,135,0.6);
                .locality-max-error{
                    padding-left: 10px;
                    color: $link-color;
                }
                .head-label {
                    padding: 10px;
                    width: 100%;
                    display: inline-block;
                }

                ul {
                    padding: 0;
                    //border-bottom: 1px solid #cdcdcd;

                    li {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        padding: 10px;
                        cursor: pointer;

                        .selected-location-value {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: inline-block;
                            vertical-align: middle;
                            width: 90%;
                        }

                        .close {
                            position: absolute;
                            top: 3px;
                            right: 10px;
                            padding: 7px 10px 7px 25px;
                            color: #000;
                            font-size: 16px;
                            cursor: pointer;
                        }
                    }
                }
            }

            .suggestion-list.open {
                height: inherit;
            }
        }

        &:nth-child(3).moveup {
            transform: translateY(-216px);
        }

        &:nth-child(4).moveup {
            //transform: translateY(-324px);
            top: -320px;
        }

        &.removeup {
            transform: translateY(-2000px);
            opacity: 0;
        }
    }
}

.set-alert-wrap{
    .envelope{
        margin: 50px auto 20px;
        text-align: center;
        .img-box-circular{
            width: 120px;
            height: 120px;
            margin: 10px auto;
        }
    }
    .awsnap{
        color: #a5a5a5;
        .b-font{
            font-size: 18px;
        }
        .s-font{
            font-size: 14px;
        }
    }
    .heading{
        margin-bottom: 40px;
        h3.set-alert-title{
            text-align: center;
            .darker{
                color: #434343;
            }
            .lighter{
                color: #999999;
            }
        }
    }
    .btnn{
        padding: 6px 35px;
    }
}



@media screen and (min-width: 768px) and  (max-width: 1023px) {

    .pyr-wrap {
        width: auto;
        min-height: 570px;
        max-width: 766px;
        min-width: 640px;
        width: 100%;

        .pyr-inner {
            margin: 0px 0;

            .pyr-content {
                .form-group {
                    .inputbox {
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }

                    .input-box {
                        input {
                            padding-right: 0;
                        }
                    }

                    .submit {
                        width: 100%;
                        margin-top: 45px;
                    }
                }

                .options {
                    padding-right: 30px;

                    .requirement-box {
                        .icon-wrap {
                            font-size: 14px;
                            padding: 23px 0;
                        }

                        .budget {
                            padding: 30px 0;

                            .range-slider  {
                                position: relative;
                                width: 80%;
                                margin: 0 auto;
                                padding-top: 16px;
                                cursor: pointer;

                                // Slider
                                .range {
                                    padding-left: 30px;
                                    position: relative;
                                    top: 15px;
                                    left: 0;
                                    width: 100%;
                                    height: 20px;
                                    font-size: 20px;
                                    padding: 0;
                                    text-align: center;

                                    .range-value1 {
                                        bottom: -55px;
                                        left: 56%;
                                    }
                                }
                            }

                            // Firefox Overrides
                            ::-moz-range-track {
                                background: #ccc;
                                border: 0;
                            }
                            input::-moz-focus-inner {
                                border: 0;
                            }
                        }

                        .bedroom {
                            padding-right: 0;
                            padding-left: 0;

                            ul.bhks {
                                li {
                                    margin-right: 16px;

                                    .bhk-count {
                                        width: 35px;
                                        height: 35px;
                                        padding-top: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {

    [data-module="pyr"] {
        height: auto;
    }

    .pyr-heading h2 {
        font-size: 16px;
    }

    .w40, .w60 {
        width: 100%;
    }

    .pyr-wrap {
        width: 100%;

        .pyr-inner {
            max-width: 100%;
            width: 100%;
            height: 100%;
            max-height: inherit;
            overflow: scroll;
            z-index: 1005;
            left:0;
            top:0;
            margin: 0;

            .pyr-content {
                .leadform.form-group {
                    margin-top: 2%;
                }

                .form-group {
                    padding-bottom: 50px;

                    .inputbox {
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }

                    .submit {
                        input[type="submit"] {
                            position: absolute;
                            right: -15px;
                            bottom: -30px;
                            padding: 8px 40px;
                        }
                    }
                }

                .options {
                    padding-right: 0;
                }
            }
        }

        .requirement-box { // outer height =>> 75px + 8px = 83px
            height: 75px;

            &:nth-child(3).moveup {  // 83px * 2 = 166px
                transform: translateY(-166px);
            }

            &:nth-child(4).moveup {  // 83px * 3 = 249px
                //transform: translateY(-249px);
                top: -249px;
            }

            &.removeup {
                transform: translateY(-2000px);
                opacity: 0;
            }

            .icon-wrap {
                height: 100%;
                padding: 14px 0;
                font-size: 12px;

                i {
                    font-size: 26px;
                }
            }

            .circle-tick {
                top: 22px;
                right: 10px;
            }

            .budget {
                padding: 10px 0;

                .range-slider  {
                    position: relative;
                    width: 80%;
                    margin: 0 auto;
                    padding-top: 16px;
                    cursor: pointer;

                    // Slider
                    .range {
                        padding-left: 30px;
                        position: relative;
                        top: 15px;
                        left: 0;
                        width: 100%;
                        height: 20px;
                        font-size: 16px;
                        padding: 0;
                        text-align: center;

                        .range-value1 {
                            bottom: -55px;
                            left: 56%;
                        }
                    }
                }

                // Firefox Overrides
                ::-moz-range-track {
                    background: #ccc;
                    border: 0;
                }

                input::-moz-focus-inner {
                    border: 0;
                }
            }

            .bedroom {
                padding: 23px 5px;

                ul.bhks {
                    li {
                        margin-right: 15px;

                        .bhk-count {
                            width: 30px;
                            height: 30px;
                            padding-top: 5px;
                        }
                    }
                }
            }
        }

        .requirement-box.property {
            .property-rightpane {
                padding: 12px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .pyr-wrap.active {
        .pyr-inner {
            .pyr-content {
                margin: 16px;

                .form-group {
                    margin-top: 2%;
                    padding: 0 10px 50px;

                    .inputbox {
                        width: 100%;

                        input {

                        }
                    }
                }

                .options {
                    padding-left: 0;
                    padding-right: 0px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .pyr-wrap.active {
        min-height: 580px;
        border-radius: 25px;

        .pyr-content {
            overflow: hidden;
            height: 520px;
        }

        .w60 {
            float: left;
            width: 62%;
        }
        .w40 {
            float: left;
            width: 38%;
        }
        &.small{
            .pyr-content{
                height: 565px;
            }
            .submit {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .pyr-wrap.active {
         width: 750px;
    }
    &.small {
        width: 575px;
    }
}
