.rate-experience{
	text-align: center;
	padding-top: 2px;

	li{
		margin: 0 8px;
		cursor: pointer;
		transition: 0.2s ease-in-out;
		display: inline-block;

		.number{
			width: 34px;
			height: 34px;
			border-radius: 50%;
			font-size: 18px;
			line-height: 34px;
			color: #fff;
			display: inline-block;
			transition: 0.2s ease-in-out;


			&.one{
				background: #d0021b;
			}
			&.two{
				background: #f68601;
			}
			&.three{
				background: #fba511;
			}
			&.four{
				background: #83c23d;
			}
			&.five{
				background: #018c45;
			}
		}

		.label{
			display: block;
			font-size: 14px;
			color: $heading-color;
			margin-top: 10px;
		}

		&:hover{
			.number{
				transform: scale(1.1);
			}
		}

		&.disable{
			opacity: 0.2;

			.number{
				background: $heading-color !important;
			}

		}
	}
}