@import "../variables";
/*** rating colors ***/
$high-rating: #20a255;
$good-rating: #7ec62f;
$avg-rating: #f8942f;
$low-rating: #9b9b9b;
$no-rating: #b7b7b7;

/****** Style for Rating Widget *****/

.review-rating-wrap{
    .rating-review{
        font-size: 12px;
        color: $light-color;
        line-height: 14px;
        span{
            font-weight: 500;
            font-size: 13px;
        }
    }
}

.rating { 
    display: inline-block;
    position: relative;

    .rating-badge {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 4px 4px 0 4px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;

        //rating classes
        &.excellent {
            background-color: $high-rating;
        }

        &.good {
            background-color: $good-rating
        }

        &.avg {
            background-color: $avg-rating
        }
        &.low {
            background-color: $low-rating;
        }
        &.not-rated {
            background-color: $no-rating
        }
    }

    > input { 
        display: none; 
    }

    > label:before {
        font-family: icomoon;
        display: inline-block;
        vertical-align: middle;
    }

    > .full:before {
        content: "\ebd2"; // icon-code for FULL logo/heart/star icon goes here
        margin-right: 2px;
    }

    > label { 
        color: #ddd; // default grey color
        float: right;
        font-size: 10px;
        line-height: 1;
        margin-bottom: 0;

        &.great{
            color: #6dc60c;
        }

        &.average{
            color: $link-color2;
        }
        
        &.poor{
            color: #d48489;
        }
    }
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating.view-only{

    .result-txt{

        &.excellent ~ label{
            color: #6dc60c;
        }

        &.good~ label{
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5){
                color: #6dc60c;
            }

            &:last-child{
                color: #ddd;
            }

        }

        &.average ~ label{
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4){
                color: $link-color2;
            }

        }

        &.poor~ label{
            &:nth-child(2),
            &:nth-child(3){
                color: #d48489;
            }

        }

        &.worst ~ label{
            &:nth-child(2){
                color: #d48489;
            }
        }
        
    }

    > label{
        float: left;

        &:before{
            margin-right: 10px;
        }

        &:last-child:before{
            margin-right: 0;
        }
    }
}
.rating.clickable > label { 
    font-size: 16px;
    cursor: pointer;
    transition: color 0.05s ease-in-out;

    &:before {
        margin-right: 5px;
    } 
}

.rating.clickable > input.r2-input:checked ~ label,
.rating.clickable > input.r1-input:checked ~ label,
.rating.clickable > label.r2:hover,
.rating.clickable > label.r2:hover ~ label,
.rating.clickable > label.r1:hover{
    color: #d48489;
}


.rating.clickable > input.r1-input:checked ~ .result-txt,
.rating.clickable > label.r1:hover ~ .result-txt{
    &:before{
        color: #d48489;
        content: 'WORST';
    }
}

.rating.clickable > input.r2-input:checked ~ .result-txt,
.rating.clickable > label.r2:hover ~ .result-txt{
    &:before{
        color: #d48489;
        content: 'POOR';
    }
}

.rating.clickable > input.r3-input:checked ~ label,
.rating.clickable > label.r3:hover,
.rating.clickable > label.r3:hover ~ label{
    color: $link-color2;
}

.rating.clickable > input.r3-input:checked ~ .result-txt,
.rating.clickable > label.r3:hover ~ .result-txt{
    &:before{
        color: $link-color2;
        content: 'AVERAGE';
    }
}

.rating.clickable > input.r4-input:checked ~ label,
.rating.clickable > label.r4:hover,
.rating.clickable > label.r4:hover ~ label,
.rating.clickable > input.r5-input:checked ~ label,
.rating.clickable > label.r5:hover,
.rating.clickable > label.r5:hover ~ label{
    color: #6dc60c;
}

.rating.clickable > input.r4-input:checked ~ .result-txt,
.rating.clickable > label.r4:hover ~ .result-txt{
    &:before{
        color: #6dc60c;
        content: 'GOOD';
    }
}

.rating.clickable > input.r5-input:checked ~ .result-txt,
.rating.clickable > label.r5:hover ~ .result-txt{
    &:before{
        color: #6dc60c;
        content: 'EXCELLENT';
    }
}

