@import "../variables";
@import "../mixins/ellipsis";

.rating-bar-wrap {
    position: relative;
    line-height: 1.25;

    .rb-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 3px;

        .star-number, .star-icon {
            width: 13px;
            color: $light-color;
            font-size: 12px;
            font-weight: 500;
        }

        .star-icon {
            margin-right: 5px;

            &:before {
                content: "★";
            }
        }

        .bar-holder {
            width: calc(100% - 80px); // 13px + 13px +5px margin-right + 50px

            .bar-bg {
                width: 100%;
                height: 5px;
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                background: #f0f0f0;

                .fill-bar {
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: $light-color;

                    /*&.five {
                        background: #20A255;
                    }

                    &.four {
                        background: #62AE09;
                    }

                    &.three {
                        background: #f6a623;
                    }*/
                }
            }
        }

        .buyer-num-holder {
            width: 50px;
            color: $lighter-color;
            font-size: 11px;
            text-align: right;

            span {
                font-weight: bold;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
