@import "../variables";
@import "../mixins/ellipsis";

//recent deals closed by sellers section starts
.recent-deals-section {
    border-top: solid 1px #f0f0f0;

    $rscboxheight: 85px;

    $opacity-change: 1;

    .rsc-wrapper {
        position: relative;
        height: calc(#{$rscboxheight} * 3); // considering 1 card height = 85px and we have to show 3
        margin-top: 30px;
        padding: 0 5px;
        overflow: hidden;
    }

    .rsc-box {
        position: absolute;
        width: 95%;
        width: calc(100% - 10px); // 20px is for rs-wrapper padding;
        height: $rscboxheight;
        margin-top: 100%;
        border: solid 1px #efefef;
        transition: all 0.5s ease-in-out;
        transform: scale(0.5);
        opacity: 0;

        &.moveup {
            margin-top: -$rscboxheight;
        }

        &.top {
            margin-top: calc(#{$rscboxheight} * 0.95 / 20); // multiply by scale value and divide by 20
            transform: scale(0.95);
            opacity: $opacity-change;
        }

        &.focus {
            margin-top: $rscboxheight;
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.05);
            transform: scale(1);
            opacity: 1;
            z-index: 1;
        }

        &.bottom {
            margin-top: calc(#{$rscboxheight} * 2 - (#{$rscboxheight} * 0.95 / 20));
            transform: scale(0.95);
            opacity: $opacity-change;
        }
    }
    .rsc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 15px;
        background-color: #fff;

        $imgwidth: 50px;

        .img-wrap {
            width: $imgwidth;
            height: $imgwidth;
            overflow: hidden;
            text-align: center;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/images/seller-img1.png);

            img {
                max-width: 100%;
                height: 100%;
            }
        }

        .txt-wrap {
            width: 230px;
            width: calc(100% - #{$imgwidth} - 30px);
            padding: 0 10px 0 10px;

            .txt {
                position: relative;
                height: 38px;
                overflow-y: hidden;
                font-size: 13px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 20%;
                    height: 24px;
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, white 75%, white 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
                    pointer-events: none;
                }
            }

            .subtxt {
                color: $lighter-color;
                font-size: 11px;
            }
        }

        .score-wrap {
            width: 30px;
        }
    }
}
//recent deals closed by sellers section ends

@media screen and (min-width: 769px) {
    .recent-deals-section {
        .rsc-wrapper {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .recent-deals-section {

        .col-sm-6 {
            float: none !important;
        }

        .btn-area {
            .cbtn {
                display: none;
            }
        }
    }
}


