// this page scss belongs to the report error popup.
// Author: Nimit Mangal
// Date: 09 September 2016

@import "../mixins/ellipsis";

// Feedback form after talking to seller
.report-error-container {
    position: relative;
    min-height: 500px;
    width: 360px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #fff;
    z-index: 0;

    .re-heading {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        z-index: 1;

        h2 {
            line-height: 50px;
        }

        .backbutton {
            position: absolute;
            top: 4px;
            left: 12px;
            padding: 0px 8px 8px 0px;
            font-size: 21px;
            cursor: pointer;
        }

        .close-popup {
            position: absolute;
            right: 0;
            top: 0;
            padding: 12px;
            color: $lighter-color;
            font-size: 14px;
            cursor: pointer;
        }
    }

    .upper-pane {
        padding: 20px 10px;
        text-align: center;
        background-color: #f6f6f6;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .report-img {
        max-width: 100%;
        max-height: 150px;
        text-decoration: none;
    }

    .second-pane {
        min-height: 150px;
        padding: 10px 10px 40px;
        border-top: solid 1px #dcdcdc;
        text-align: center;

        .country-dd {
            width: 30%;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            max-width: 170px;

            .fc-wrap .fc {
                border-bottom: 1px solid #ccc;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding-bottom: 5px;

                i {
                    font-size: 9px;
                    right: 2px;
                    top: 17px;
                }
            }

            .select-dropdown {
                max-height: 215px;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }

        .fc-wrap.selectbox {
            min-width: 90px;
            width: 100%;
        }

        .country-code-contact {
            position: relative;
            display: inline-block;
            height: auto;
            width: calc(68% - 20px);
            margin-left: 20px;
            vertical-align: 0px;

            .countryCode {
                padding-left: 5px;
                padding-right: 5px;
                position: absolute;
                left: -2px;
                bottom: 3px;
                width: 38px;
                color: #666;
                font-size: 1em;
            }

            .input-box {
                margin-top: 30px;

                label {
                    left: 36px;
                    top: 7px;
                }
            }

            .fc-wrap:focus label,
            .fc-wrap.focus label,
            .fc-wrap.active label{
                top: -10px;
                left: 0;
            }
        }

        .error-msg {
            text-align: left;
            color: $link-color;
            font-size: 12px;
        }
    }

    .re-title {
        padding: 10px 10px 15px;
        color: #2c2c2c;
        font-size: 16px;
        line-height: 1.15;
        text-align: center;
        //font-weight: bold;
    }

    .desc-title {
        padding: 10px 10px 15px;
        text-align: center;
    }

    .reason-pane  {
        position: relative;
        padding-bottom: 10px;

        .err-msg {
            position: absolute;
            right: 10px;
            bottom: 0px;
            display: block;
            @include putellipsis;
            width: 99%;
            text-align: center;
            color: $link-color;
            font-size: 12px;
        }
    }

    .reason-list {

        input[type="radio"], input[type="checkbox"] {
            display: none;
        }

        label.reason {
            display: inline-block;
            @include putellipsis;
            width: calc(50% - 8px);
            padding: 8px 5px;
            margin: 5px 3px;
            background-color: #f7f7f7;
            border: solid 1px #ececec;
            border-radius: 5px;
            color: #666;
            font-size: 12px;
            text-align: center;
            cursor: pointer;

            &:hover {
                border-color: $link-color;
            }
        }

        &:not(:checked) > label:hover {

        }

        input:checked + label {
            background-color: $link-color;
            border-color: $link-color;
            color: #fff;
        }
    }

    .phone-dtls {
        padding: 5px 0 0px;

        .input-box {
            width: 90%;
            margin: 5px auto 0;
        }
    }

    .txtarea {
        display: block;
        min-height: 90px;
        width: 90%;
        margin: 15px auto 5px;
        padding: 8px 10px;
        resize: none;
        border: solid 1px #ccc;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        outline: 0;

        &:hover {
            outline: 0;
            box-shadow: inset 0px 1px 2px 2px #dcdcdc;
        }

        &:focus {
            outline: 0;
        }
    }

    .welcome-note {
        padding: 20px 10px;

        h3 {
            line-height: 1.4;
        }
    }

    .btn-wrap {
        position: absolute;
        bottom: 5px;
        right: 5px;

        .txtlink {
            padding-right: 10px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
            text-transform: capitalize;
        }

        .show-error {
            position: absolute;
            bottom: 14px;
            left: -140px;
            max-width: 280px;
            text-align: right;
            color: $link-color;
            font-size: 11px;
            line-height: 1;
        }
    }
}

.report-error-container.step1 {

}

.report-error-container.step2 {
    min-height: 150px;

    .second-pane {
        border: none;
    }
}

// feedabck form step2 - reason list
.report-error-container.step2 {

}

@media (max-width: 768px) {
    .report-error-container {
        width: 100%;
        height: 100%;
        border-radius: 0px;

        .upper-pane, .second-pane {
            border-radius: 0px;
        }
    }
}

@media screen and (max-width: 959px) and (min-width: 768px) {
    .rec-wrap[data-role="popup"] {
        width: auto;
    }
}
