.rera-tag {
	width: 44px;
	height: 18px;
	border: 1px solid $light-text;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	z-index: 2;
	color: $title-color;

	.icon-tick {
		width: 12px;
		height: 12px;
		position: absolute;
		top: 50%;
		right: -6px;
		margin-top: -6px;
		font-size: 10px;
		font-weight: bold;
		line-height: 12px;
		text-align: center;
		border-radius: 50%;
		background: #fff;
		color: $title-color;

	}
	.mp-tooltip {
		width: 250px;

		h4 {
			margin-bottom: 10px;
			color: #2c2c2c;
			font-size: 12px;
			font-weight: 500;
		}

		p {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 10px 0 0;

			.key {
				width: 60px;
				padding-right: 15px;
				color: $lighter-color;
				font-size: 10px;
			}

			.val {
				width: calc(100% - 60px);
				color: $light-color;
				font-size: 10px;
			}
		}

		&.bot {
			right: 0;
			top: 25px;
		}
	}

	&:hover {
		.mp-tooltip {
			opacity: 1;
			visibility: visible;
		}
	}
}
