// each review box card
.review-box {
    padding: 20px 0;
    border-bottom: solid 1px #eee;

    .more-review{
    	font-size: 13px;
    	color: $light-color;
    	margin-top: 10px;
    }

    &:last-child {
        border: none;
    }

    .reviewer-details {
        margin: 0 0 10px 0;
        display: flex;
    }
    
    .buyer-img-wrap {
        width: 44px;
        height: 44px;
        background-color: #eee;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/images/seller-img1.png);
        text-align: center;
        border-radius: 50%;
        margin-right: 9px;
    }

    .buyer-title {
        width: calc(100% - 53px);
        text-transform: capitalize;
        padding-top: 2px;
    }

    .buyer-name {
        @include putellipsis;
        color: $title-color;
        line-height: 16px;
        font-size: 14px;
        display: inline-flex;
        max-width: calc(100% - 100px);
        font-weight: 500;
    }

    .buyer-place {
        @include putellipsis;
        color: $light-text;
        font-size: 12px;
        padding-left: 3px;
        display: inline-flex;
        width: 100px;
    }

    .review-quality{
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        color: #861010;
        display: block;
        margin-top: 4px;
    }

    .review-text-wrap {
        cursor: pointer;
    }

    .review-txt {
        font-size: 14px;
        line-height: 18px;
        color: $light-color;
    }

    // helpful? flag --- hidden for now
    .like-wrap {
        display: none;
        padding: 10px 0 0 0;
        color: $lighter-color;
        font-size: 11px;

        .icon-like-fill {
            padding-right: 5px;
            font-size: 14px;

            &:before {
                color: #dcdcdc;

                &:hover, &.active {
                    color: $link-color;
                }
            }
        }
    }
    
}