@import "../variables";
@import "../mixins/ellipsis";

/** parent for carousel **/

.round-carousel {
    position: relative;
    margin: 30px auto 0;
    width: 100%;
    height: 400px;
    //border: solid 1px #ccc;

    .slide {
        position: absolute;
        display: none;
        height: 100%;
        cursor: pointer;
    }

    .shadow-card {
        transform: scale(0.8);
        cursor: auto;
    }

    //sponsored project card 
    .sp-wrap {
        $minwidth: 300px;

        min-width: $minwidth;
        width: auto;
        height: 100%;
        background-color: #fff;
        border: solid 1px #dcdcdc;
        border-radius: 25px;
        cursor: pointer;

        .img-wrap {
            position: relative;
            width: 100%;
            height: 75%;

            img {
                position: relative;
                width: 100%;
                height: 100%;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                z-index: 2;
            }

            .offerstrip {
                position: absolute;
                right: -6px;
                bottom: 15px;
                max-width: 49%;
                min-height: 28px;
                background-color: #e7248a;
                z-index: 3;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -6px;
                    right: 0;
                    display: block;
                    height: 0;
                    width: 0;
                    border-top: 6px solid #ae095f;
                    border-right: 6px solid transparent;
                }

                &:after {
                    position: absolute;
                    left: -14px;
                    top: 0;
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 14px 14px 14px 0;
                    border-color: transparent #e7248a transparent transparent;
                }

                .txt {  
                    display: block;
                    @include putellipsis;
                    padding: 3px 10px;
                    color: #fff;
                    font-size: 15px;
                }
            }
        }

        .sp-info {
            position: relative;
            padding: 15px;

            .info-hdng {
                display: block;
                float: left;
                @include putellipsis;
                max-width: 64%;

                .proj-name {
                    display: inline-block;
                    color: $dark-color;
                    font-size: 24px;
                    line-height: 1;
                    border-bottom: dashed 1px $link-color;

                    &:hover {
                        color: $link-color;
                    }
                }

                .builder-name {
                    display: inline-block;
                    padding-left: 10px;
                    font-size: 16px;
                }
            }

            .proj-price { 
                display: block;
                float: right;
                width: 34%;
                text-align: right;

                .val {
                    font-size: 21px;
                    color: $dark-color;
                }

                .unit {
                    text-transform: capitalize;
                }
            }

            .more-info {
                padding-top: 15px;
                font-size: 0;

                .proj-loc, .proj-type, .know-more {
                    display: inline-block;
                    width: 33%;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    vertical-align: middle;
                    @include putellipsis;
                    color: $light-color;
                    font-size: 16px;
                }

                .proj-loc {
                    width: 40%;
                }

                .proj-type {
                    width: 30%;
                }

                .know-more {
                    width: 29%;
                    text-align: right;
                    color: $link-color;
                    padding-right: 0px;
                }

                .proj-loc + .know-more {
                    width: 60%;
                }
            }
        }
    }

    #back-button {
        position: absolute;
        left: 0;
        display: none;
        top: 46%;
        font-size: 35px;
        cursor: pointer;
        z-index: 2;
    }
    #next-button {
        position: absolute;
        right: 0;
        display: none;
        top: 46%;
        font-size: 35px;
        cursor: pointer;
        z-index: 2;
    }
}


// for mobile - normal overflow slider.
.sponprojwrap {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-left: 15px;

    .slidelist {
       /* min-width: 2970px;
        max-width: 5000px;*/
        padding: 20px 0 20px 0px;

        .spcard {
            float: left;
            width: 280px;
            height: 360px;
            margin-right: 15px;
            background-color: #fff;
            border: solid 1px #eee;
            border-radius: 25px;

            .img-wrap {
                position: relative;
                width: 100%;
                height: 200px;

                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    z-index: 2;
                }
            }

            .offerstrip {
                position: absolute;
                bottom: 0;
                left: 4px;
                width: calc(100% - 8px);
                padding: 0.1em 0.2em; 
                margin: 0;
                @include putellipsis;
                background: #eb218d;
                color: #fff;
                text-align: center;
                /* The following CSS rules will give stitched look to our element */ 
                -moz-box-shadow: 0 0 0 4px #eb218d, 2px 1px 4px 4px rgba(10,10,0,.5);
                -webkit-box-shadow: 0 0 0 4px #eb218d, 2px 1px 4px 4px rgba(10,10,0,.5);
                box-shadow: 0 0 0 4px #eb218d, 2px 1px 6px 4px rgba(10,10,0,.5);
                border: 1px dashed rgba(255, 255, 255, 0.9);
                z-index: 3;
            }

            .sp-info {
                padding: 15px;

                .info-hdng {

                    .blogo {
                        display: block;
                        float: left;
                        width: 45px;
                        height: 45px;
                        overflow: hidden;
                        margin-right: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }

                    .proj-name {
                        display: inline-block;
                        float: left;
                        border-bottom: dashed 1px $link-color;
                        @include putellipsis;
                        max-width: calc(100% - 60px);
                        padding-right: 10px;
                        color: $dark-color;
                        font-size: 16px;
                        line-height: 1.25;
                    }
                }

                .more-info {
                    font-size: 14px;
                    line-height: 1.65;
                    margin-top: -20px;
                    padding-left: 55px;

                    .builder-name, .proj-loc, .proj-type {
                        width: 98%;
                        @include putellipsis;
                        color: $light-color;
                    }

                    .proj-loc {

                    }

                    .proj-type {

                    }

                    .proj-price { 
                        margin-left: -15px;

                        .val {
                            font-size: 21px;
                            color: $link-color;
                        }

                        .unit {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}
