.seller-scores-wrap{

	.score-data{
		display: flex;
		margin-bottom: 15px;

		.score-info-txt{
			padding-left: 8px;
			font-size: 12px;
			color: $light-text;
			line-height: 30px;
			position: relative;

			.mp-tooltip{
				p{
					color: $light-color;
				}
			}

			&:hover{
				.mp-tooltip{
					opacity: 1;
					visibility: visible;

					p{
						color: $light-color;
					}

					&:before {
					    box-shadow: -1px 0px 1px 0px rgba(135,135,135,0.6);
					}

					&:after {
					    content: "";
					    position: absolute;
					    width: 20px;
					    height: 10px;
					    background: #fff;
					    top: 0;
					    left: 105px;
					}
				}
			}

			span{
				cursor: pointer;
				display: inline-flex;
				width: 11px;
				height: 11px;
				line-height: 10px;
				border: 1px solid rgba(0,0,0,0.3);
				border-radius: 100%;
				color: rgba(0,0,0,0.3);
				font-size: 8px;
				margin-left: 2px;
				padding-left: 4px;
			}
		}
	}

	p{
		font-size: 13px;
		line-height: 16px;
		color: #adadad;
		margin-top: 0;
	}

}