.sb-wraper{
	width: 80px;
	overflow: hidden;

	.score-box{
		float: left;
		width: 12px;
		height: 12px;
		margin-right: 5px;
		background: #eee;
		margin-top: 1px;
		border-radius: 2px;

		&:last-child{
			margin-right: 0;
		}
	}

	&.s-5{
		.score-box{
			background: #20a255;
		}
	}

	&.s-4{
		.score-box{
			background: #7ec62f;
			&:last-child{
				background: #eee;
			}
		}
	}

	&.s-3{
		.score-box{
			background: #f8942f;
			&:nth-child(4),
			&:last-child{
				background: #eee;
			}
		}
	}

	&.s-2{
		.score-box{
			background: #9b9b9b;
			&:nth-child(3),
			&:nth-child(4),
			&:last-child{
				background: #eee;
			}
		}
	}

	&.s-1{
		.score-box{
			background: #b7b7b7;
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:last-child{
				background: #eee;
			}
		}
	}

}