@import "score-boxes";

.score-indicator-wrap{

	&.loader-box{
		opacity: 0.5;
	}

	.si-row{
		margin-bottom: 10px;
		overflow: hidden;
		height: 16px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.score-label{
		float: left;
		width: calc(100% - 80px);
		font-size: 14px;
		color: $heading-color;
		line-height: 16px;

		&.fade-out{
			opacity: 0.2;
		}
	}

	.scores{
		float: right;
		width: 80px;
	}

	.no-score{
		float: right;
		color: $heading-color;
		opacity: 0.2;
		text-align: right;
	}
}