
// scrollspy css which is to be used when a scrollspy is aded to a page

.posfixed {
        position: fixed;
        top: $hdrheight;
        left: 0;
        padding: 0;
        z-index: 999;
        background-color: #f1f1f1;
        width: 100%;
}

.scrollspy {
    background-color: #f1f1f1;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    position: relative;

    .scrollspy-wrap {
        .nav-wrap {
            .navbar {
                .navitem {
                    position: relative;
                    display: inline-block;
                    margin-right: 30px;
                    padding: 18px 0px;
                    vertical-align: top;
                    cursor: pointer;
                    text-transform: capitalize;

                    &:last-child {
                        margin-right: 0;
                    }
                }
                .navitem.active {
                    color: $link-color;

                    &:after {
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        content: "";
                        height: 1px;
                        width: 100%;
                        background-color: #e71c28;
                    }

                    .triangle { 
                        &:before {
                            position: absolute;
                            bottom: -3px;
                            left: 43%;
                            content: "";
                            border-right: 5px solid transparent;
                            border-left: 5px solid transparent;
                            border-top: 5px solid #f1f1f1;
                            z-index: 99;
                        }
                        &:after {
                            position: absolute;
                            bottom: -5px;
                            left: 43%;
                            content: "";
                            border-right: 5px solid transparent;
                            border-left: 5px solid transparent;
                            border-top: 5px solid #e71c28;
                            z-index: 98;
                        }
                    }
                }
            }
        }
    }
    .scrollspy-wrap.posfixed {
        box-shadow: 0px 3px 3px -1px rgba(125,125,125,0.50);
    }
}