// Description: seller-card module(tag) html and css should be same across desktop / mobile / city / locality / expert / or normal dealmaker
// Author: Nimit Mangal
// Date: 22 June 2017

@import "../variables";
@import "../mixins/ellipsis";

.seller-card {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 10px;
    padding: 16px;
    transition: all 0.3s ease-in-out;

    .review-rating-wrap{
        position: absolute;
        right: 15px;
        top: 15px;
        text-align: right;

        .rating{
            margin-bottom: 3px;
        }
    }

    $simgw: 58px;

    &:after {
        content:'';
        display: block;
        height: 0;
        clear: both;
    }

    .sibox-wrap {
        position: relative;
        float: left;
        width: $simgw;
        height: $simgw;
        text-align: center;
        z-index: 2;
        border: 1px solid #eaeaea;

        .seller-img-box {
            display: block;
            display: flex;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &.s-bg {
                background-image: url(/images/seller-img1.png);
            }

            img {
                display: block;
            }
        }
    }

    .seller-dtl {
        float: left;
        width: 65%;
        width: calc(100% - #{$simgw} - 60px);
        padding-left: 15px;
        position: relative;
        z-index: 2;

        .leagalname {
            display: inline-block;
            @include putellipsis;
            max-width: 100%;
            color: #292929;
            font-size: 15px;
            line-height: 1.25;
            text-transform: capitalize;
            cursor: pointer;
        }

        .midline {
            @include putellipsis;
            padding: 4px 0 6px;
            color: $lighter-color;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.5px;
        }

        .seller-type {
            text-transform: uppercase;
            font-weight: bold;
            color: $light-color;
        }

        .info {
            @include putellipsis;
            color: $light-color;
            font-size: 12px;
            text-transform: capitalize;
            line-height: 14px;

            .count {
                font-weight: bold;
            }
        }
    }
}

@media (min-width: 769px) {
    .seller-card {
        $simgw: 58px;
        overflow: visible;

        .mp-tooltip{
            top: 30px;
            right: calc(100% + 10px);
        }

        &:hover {
            box-shadow: 0 1px 10px 1px rgba(0,0,0,0.15);
            z-index: 2;

            .leagalname {
                text-decoration: underline;
            }

            .mp-tooltip {
                opacity: 1;
                visibility: visible;
                top: 30px;
                right: calc(100% + 10px);
            }

        }
    }
}

/* for mobile screens for project locality page template */
@media (max-width: 768px) {
    .seller-card {
        background-color: #fff;
        box-shadow: 0 1px 5px 0px rgba(0,0,0,0.15);

        .seller-dtl{
            padding: 0 0 0 12px;
        }
    }
}
