.close-popup{
	position: absolute;
	z-index: 1;
	right: 11px;
	top: 11px;
	cursor: pointer;
	font-size: 16px;
	color: $light-color;
}
.mrtop35{
	margin-top: 35px;
}

.seller-lead-form{
	background: #fff;
	padding: 38px 25px 25px 25px;
	border-radius: 8px;
	width: 100%;
	max-width: 360px;

	.hdng{
		font-size: 20px;
		font-weight: 500;
		color: $light-color;
	}
	.shdng{
		margin-top: 30px;
	    font-size: 16px;
	    color: $light-color;
	    font-weight: normal;
	}

	.slogan{
		font-size: 13px;
		line-height: 1.54;
		color: lighten($title-color, 30%);
		margin-top: 10px;
	}

	textarea{
		border: 1px solid #ccc;
		height: 60px;
		resize: none;
		padding: 10px;
		margin-top: 8px;
		width: 100%;
		outline: none;
		font-size: 1em;
		color: $title-color;
	}

	.textarea-title{
		font-size: 16px;
		line-height: 18px;
		color: lighten($title-color, 30%);
		margin-top: 35px;
		display: block;
	}

	.input-box{

		label{
			top: 6px;
		}
	}

	.fc-wrap{
		width: 100%;
		margin-bottom: 0;

		&:focus,
		&.active,
		&.focus{

			label{
				top: -10px;
			}
		}

		&.selectbox{
			min-width: auto;

			.fc{
				border-bottom-color: #ccc;
				padding: 7px 15px 4px 0;
			}

			&.active{

				.txt{
					font-size: 14px;
				    width: 100%;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    display: block;
				}
			}
		}
	}

	.country-dd{
		width: 88px;
		float: left;
		margin-top: 32px;
	}

	.select-dropdown{
		min-width: 180px;
		max-height: 190px;
		overflow: auto;
	}

	.country-contact{
		width: calc(100% - 113px);
		float: right;
		margin-left: 25px;
		position: relative;

		.input-box{

			label{
				left: 42px;
			}

			&.active{

				label{
					left: 0;
				}
			}
		}

		.countryCode{
			padding-right: 5px;
			position: absolute;
			left: 0;
			bottom: 4px;
			width: 38px;
			color: $light-color;
			font-size: 1em;
		}
	}

	.btn-wrap{
		text-align: right;
		margin-top: 17px;

		.cbtn{
			min-width: 140px;
			text-align: center;
		}
	}

}
/*mobile view*/
@media screen and (max-width: 767px){
	.seller-lead-form{
		padding: 15px 25px;
		position: relative;
		height: 100vh;

		.textarea-title{
			margin-top: 30px;
		}

		.btn-wrap{
			margin-top: 10px;
		}
	}
}