@import "score-indicator";
@import "s-score-info";
@import "similar-property";
.seller-details-wrap{
	background: #fff;
	border-top: 6px solid $bg-color2;
	width: 100%;
	height: 100vh;
	position: fixed;
	bottom: auto;
	top: 0;
	right: -100%;
	transition: all 0.6s ease-out;
	overflow: hidden;
	z-index: 3999;

	&:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 238px;
		left: 0;
		top: 0;
		z-index: -1;
		background: url(/images/rating-review/expert-m-bg.png) no-repeat top left;
		background-size: cover;
		transition: opacity 0.6s ease-out;
		opacity: 1;
	}

	.icon-close{
		position: absolute;
		right: 0;
		top: 0;
		font-size: 12px;
		color: $light-color;
		cursor: pointer;
		z-index: 4;
		font-weight: bold;
		transition: all 0.6s ease-out;
		padding: 10px;
	}

	.icon-back-arrow{
		position: absolute;
		left: 10px;
		top: 13px;
		font-size: 0;
		cursor: pointer;
		opacity: 0;
		z-index: 4;
		transition: all 0.6s ease-out;
	}

	.sd-main-content-wrap{
		max-height: 100vh;
		overflow: auto;
		transition: all 0.3s ease-out;
		padding-bottom: 135px;
	}

	$sd-header-height: 210px;

	.sd-header{
		text-align: center;
		height: $sd-header-height;
		transition: all 0.3s ease-out;

		.header-content-wrap{
			padding: 35px 20px 0 20px;
			height: $sd-header-height;
		}

		.seller-img{
			width: 80px;
			height: 80px;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
			background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
			display: inline-block;
			margin-bottom: 20px;
			position: relative;
			text-align: center;
			
			.initial{
				font-size: 45px;
				line-height: 80px;
				text-transform: uppercase;
			}
		}

		.seller-name{
			font-size: 20px;
			color: $heading-color;
			line-height: 24px;
			font-weight: 500;
			margin: 0 auto;
			display: block;
			max-width: 90%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: all 0.3s ease-out;
			text-transform: capitalize;
		}

		.seller-type{
			font-size: 12px;
			font-weight: bold;
			color: $light-color;
			transition: all 0.1s ease-out;
			text-transform: uppercase;

			span{
				font-weight: normal;
				color: $light-text;
			}
		}

	}

	.sd-content-wrap{
		padding: 0 20px;
	}

	.common-prop{
		border-bottom: 1px solid lighten($lighter-color,35%);
		padding-bottom: 12px;
	}

	.common-top-line{
		margin-top: 24px;
		margin-bottom: 12px;
		overflow: hidden;

		.total-count{
			float: left;
			font-size: 13px;
			color: $light-color;
			font-weight: 500;
			text-transform: uppercase;
			line-height: 15px;
		}

		.see-all{
			float: right;
			font-size: 12px;
			color: $light-text;
			line-height: 15px;
			cursor: pointer;
			text-transform: capitalize;
		}

	}

	.sd-score-wrap{
		@extend .common-prop;
	}

	.sd-review-wrap{
		@extend .common-prop;

		.review-box{
			padding: 0;
		}
	}

	.all-review-wrap{
		position: absolute;
		right: -100%;
		top: 45px;
		width: 100%;
		padding: 15px 20px 60px 20px;
		background: #fff;
		height: calc(100% - 45px);
		transition: all 0.3s ease-out; 
		overflow: auto;
	}

	.sd-rating-wrap{
		@extend .common-prop;

		> p{
			font-size: 13px;
			color: $light-text;
			line-height: 16px;
		}

		.rating-bar-wrap{
			height: 0;
			overflow: hidden;
			transition: height 0.3s ease-out;
		}

		&.show-rating{
			.rating-bar-wrap{
				height: 90px;
			}
		}

	}

	.sd-matching-prop-wrap{
		/*similar property over-writs only for seller details*/
		.slider-wrap .btn-next{
			right: -15px;
		}
		
		.slider-wrap .btn-prev{
			left: -15px
		}

		.similarPropWrap{
			max-width: auto;

			ul{
				display: flex;
				flex-flow: row nowrap;
				transition: 0.3s ease-out;
			}

			li{
				flex: 0 200px;
				.img-wrap{
					width: 180px;
					height: 98px;

					img{
						transition: transform 0.3s ease-out;
					}
				}
				&:hover {
					.img-wrap{
						img{
							transform: scale(1.15);
						}
					}
				}
			}
		}
	}

	.sd-btn-wrap{
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 35px;
		text-align: center;
		z-index: 9;

		.cbtn{
			box-shadow: 0 8px 8px rgba(0, 0, 0, 0.17);
			height: 40px;
			line-height: 40px;
			font-size: 16px;
		}

		.cbtn-s{
			background: #f7f7f7;
			border-color: transparent;
			color: $heading-color;
			margin-right: 5px;
		}
	}

	/*seller-detail-wrap classes added on fly start*/
	&.deal-maker{
		border-top-color: #becdd4;
		&:before{
			filter: grayscale(100%);
		}
	}

	&.show-mini-profile{
		right: 0;
	}

	&.show-all-review{

		.sd-content-wrap{
			opacity: 0;
			display: none;
		}

		.all-review-wrap{
			right: 0;
		}

		.icon-back-arrow{
			font-size: 20px;
			opacity: 1;
		}

		.sd-header{
			.seller-name{
				padding-left: 20px;
			}
		}
	}

	&.on-scroll{

		&:before{
			opacity: 0;
		}

		.icon-close{
			top: 15px;
		}

		$sd-header-height: 44px;

		.sd-header{
			width: 100%;
			text-align: left;

			.header-content-wrap{
				position: absolute;
				width: 100%;
				background: #fff;
				box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
				height: $sd-header-height;
				z-index: 3;
				padding: 10px 20px;
				left: 0;
				top: 0;
				text-align: left;
				z-index: 3;
			}

			.seller-img{
				width: 24px;
				height: 24px;
				margin: 0;
				position: relative;
				left: 5px;
				top: 0;
				box-shadow: none;
				background-color: initial !important;
				background: none !important;
				background-image: none !important;

				.initial{
					display: none;
				}

				.highlighter-badge{
					position: static;
					right: inherit;
					bottom: inherit;
				}

				> img{
					opacity: 0;
					display: none;
				}
			}

			.seller-name{
				font-size: 16px;
				float: left;
				max-width: 230px;
			}

			.seller-type{
				opacity: 0;
				font-size: 0;
			}
		}
	}

	/*seller-detail-wrap classes added on fly ends*/
}

/*Desktop Screens or larger Screens*/
@media screen and (min-width: 769px){
	.seller-details-wrap{
		max-width: 380px;
		bottom: 0;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
		height: calc(100vh - 65px);
		right: -385px;
		top: auto;

		.sd-btn-wrap{
			bottom: 20px;

			.cbtn{
				padding: 0 35px;
			}

			.cbtn-s{
				margin-right: 15px;
				padding: 0 20px;
			}
		}

		.all-review-wrap{
			max-width: 380px;
			right: -380px;
		}

		&.show-mini-profile{
			right: 20px;
		}
	}
}