@import "rating-bar";
//@import "review-card"; removing as already being used in  #sellerReviews#


.mini-profile-tooltip {
    position: relative;
    z-index: 2;
    padding: 10px 12px 5px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
    text-align: left;
    color: #454545;
    cursor: default;

    .tooltip-arrow {
        position: absolute;
        z-index: 1;
        width: 12px;
        height: 12px;
        background-color: #fff;
        box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
        transform: rotate(45deg);

        span {
            display: block;
            width: 24px;
            height: 12px;
            background: #fff;
            transform: rotate(45deg);
            position: relative;
        }

        &.top {
            top: -6px;
            left: 50%; // can be dynamic
            margin-left: -3px;

            span {
                bottom: -4px;
                right: 2px;
                transform: rotate(-45deg);
            }
        }

        &.bot {
            bottom: -6px;
            left: 50%; // can be dynamic
            margin-left: -3px;

            span {
                top: -4px;
                right: 10px;
                transform: rotate(-45deg);
            }
        }

        &.left {
            top: 50%; // can be dynamic
            left: -6px;
            margin-top: -3px;

            span {
                top: -4px;
                right: -1px;
            }
        }

        &.right {
            top: 50%; // can be dynamic
            right: -6px;
            margin-top: -3px;

            span {
                top: 5px;
                left: -10px;
            }
        }
    }
}

.slr-mini-profile {
    padding: 5px 0px;
    width: 272px;

    .close-popup {
        text-align: right;
    }

    .temp-loader {
        padding-top: 20px;
        color: #999;
        font-size: 14px;
        text-align: center;
    }

    .slr-mp-header {
        position: relative;
        color: $light-color;
        font-size: 13px;
        line-height: 1.25;

        .text-count {
            font-weight: bold;
        }
    }

    .rr-wrap {
        padding: 10px 0;

        .rating-bar-wrap {

            h3 {
                margin-top: -10px;
                color: $light-color;
                font-size: 13px;
                line-height: 1.25;
            }

            .rating-text {
                padding-top: 6px;
                color: $lighter-color;
                font-size: 11px;
                line-height: 1.2;
            }
        }
    }

    .seperator-line {
        margin: 5px 0;
        background-color: transparent;
        border-bottom: solid 1px #ececec;
    }

    .buyer-reviews-container {
        padding-bottom: 10px;

        .slider-wrap .review-box {
            width: 272px;
            margin-right: 0;
        }

        .review-box { // OVERWRITES
            padding: 10px 0;
            .reviewer-details {
                margin: 0 0 10px 0;
            }
        }
    }

    .mini-profile-btm {
        margin-top: 15px;

        .btn-wrap {
            display: block;
            margin: 0;
            padding-top: 5px;
            border-top: 1px solid #f0f0f0;
            text-align: right;
            font-size: 14px;

            .txtbtn {
                margin-left: 10px;
                padding-right: 0;
            }
        }
    }
}


@media screen and ( max-width: 767px ) {
    [data-role="popup"].show-popup.rrwpopup {
        height: auto;
    }

    .mini-profile-tooltip {
        width: 95%;
        max-width: 320px;
        margin: 35% 0 0 50%;
        transform: translate(-50%, 0%);

        .tooltip-arrow {
            display: none;
        }

        .slr-mini-profile {
            width: 100%;

            .buyer-reviews-container .slider-wrap .review-box {
                width: 100%;
            }
        }
    }
}
