@import "../variables";
@import "../mixins/ellipsis";

//*** slider wrap starts ***//
.slider-wrap {
    position: relative;

    .sudowrap {
        overflow: hidden;
    }

    .btn-prev, .btn-next {
        position :absolute;
        top: 40%;
        left: -21px; // half of width
        width: 42px;
        height: 42px;
        padding-top: 12px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
        z-index: 9;
        text-align: center;
        color: $dark-color;
        font-size: 16px;
        cursor: pointer;

        i {
            position: static !important;
            top: inherit !important;
            right: inherit !important;
            left: inherit !important;
        }

        &.disable {
            display: none;
            // color: #acacac;
            // cursor: not-allowed;
        }
    }

    .btn-next {
        left: auto;
        right: -21px;
    }
}
//*** slider wrap ends ***//

.seo-footer-warp {
    position: relative;
    z-index: 0;
    padding: 60px 0;
    line-height: 1;

    .title {
        padding-bottom: 30px;
        color: $dark-color;
        font-size: 36px;
        font-weight: 300;
        line-height: 1.25;

        strong {
            font-weight: 600;
        }
    }

    ul li a {
        display: block;
        @include putellipsis;
        padding: 5px 0;
        color: #444;
        font-size: 12px;
        text-decoration: none;
        transition: all 300ms ease-in-out;

        &:hover, &:active {
            color: $link-color;
            text-decoration: underline;
        }
    }


    ul.level1 {
        transition: transform 0.3s ease-in-out;
        white-space: nowrap;
        overflow: scroll;

        > li {
            display: inline-block;
            width: 228px;
            vertical-align: top;

            .category-label {
                margin: 15px 0 10px;
                @include putellipsis;
                max-width: 90%;
                color: $dark-color;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }

    ul.level2 {
        padding-right: 10px;
        max-height: 132px;
        overflow: hidden;

        > li {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 90%;
            width: 100%;
            margin-bottom: 5px;
        }
    }

    // overwrites for seo footer only
    &.slider-wrap {

       .btn-prev, .btn-next {
           top: 50%;
       }
   }

}


@media screen and (max-width: 767px) {

    .slider-wrap {
        .sudowrap {
            overflow-y: hidden;
            overflow-x: auto;
        }
    }

    .seofooter-wrap {
        margin: 15px 0 0;
    }

    .seo-footer-warp {
        padding: 0;

        .title {
            padding: 10px 20px 10px;
            color: #1c1c1c;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.25;
            text-align: left;
            background: #f5f5f6;

            strong {
                font-weight: 600;
            }

            &[data-type="expand"]:after {
                content: "\ebae";
                font-family: icomoon;
                position: absolute;
                top: 10px;
                right: 30px;
            }
        }

        &.open .title[data-type="expand"]:after {
            content: "\ebaf";
        }

        .sudowrap {
            padding: 0 20px 40px;
            display: none;
            background: white;
        }
    }

    .seolinks {
        .suburb-wrap {
            padding: 0 10px;

            ul.level1 {
                > li {
                    width: 280px;
                    max-width: 170px;
                }
            }
        }
    }
}
