@import "../variables";
@import "../mixins/ellipsis";

//overrides to push seoFooter aside
#seo-footer.seo-footer-warp {
    width: calc(100% - 420px) !important;
    margin: 0px !important;
    border-right: solid 1px #e0e0e0;
    background: #fff;

    #seoFooterWindow {
        margin: 0px 55px;
        >ul.level1 >li {
            width: 250px;
        }
    }

    .btn-prev {
        left: 24px;
    }

    .btn-next {
        right: 24px;
    }
}

@media screen and (min-width: 1367px){
    #seo-footer.seo-footer-warp {
        width: calc(50% + 263px) !important;
        max-width: unset;
        background-color: #f7f7f7;
    }
}