@import "../variables";
@import "../mixins/ellipsis";

/* scss for DESKTOP builder/broker card starts here */

.bbcard-mobile {
    position: relative;
    width: 100%;
    padding-top: 10px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 15%, rgba(0,0,0,0.85) 100%), url(/images/img-dumy-d1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #ccc;
    transition: all 0.3s ease-in-out;

    .rera-holder {
        .rera-tag {
            position: relative;
            display: block;
            top: inherit;
            right: inherit;
            left: inherit;
            background: #fff;
            color: $heading-color;
            margin: 5px auto;

            .icon-tick{
                border: 1px solid $heading-color;
            }
        }
    }

    .bbinfo-wrap {
        width: 100%;

        .bb-logo-wrap {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-color: #fff;
            border: solid 4px #d7d7d7;
            overflow: hidden;
            text-align: center;

            .initial {
                font-size: 90px;
                line-height: 120px;
                text-transform: uppercase;
                //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
            }
        }

        .b-desc {
            padding: 0 10px;
            color: #ccc;
        }

        .b-name {
            color: #fff;
            font-size: 24px;
            text-align: center;
            padding: 5px;
        }

        .broker-name {
            color: #fff;
            font-size: 24px;
            text-align: center;
        }

        .broker-firm-name {
            padding-bottom: 5px;
            color: #fff;
            font-size: 21px;
            text-align: center;
            text-shadow: 0 1px 1px #000;
        }

        .broker-operation {
            color: #f0f0f0;
            text-align: center;
            text-shadow: 0 1px 1px #000;
        }

        .dealmaker-badge {
            padding-top: 5px;
            text-align: center;
            color: #fff;

            img {
                width: 60px;
                height: auto;
                display: inline-block;
            }
        }

        .broker-areas {
            color: #fff;
            text-align: center;

            .link {
                color: #dcdcdc;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .bb-highlights {
            display: table;
            width: 90%;
            margin: 40px auto 0;
            padding-top: 20px;
            padding-bottom: 10px;
            border-top: solid 1px #999;

            .bcol {
                display: inline-block;
                width: 50%;
                padding-bottom: 20px;
                text-align: center;
                vertical-align: top;

                .val {
                    color: #fff;
                    font-size: 18px;
                }

                .lbl {
                    color: #ccc;
                    font-size: 14px;
                    line-height: 1;
                }

                i {
                    font-size: 24px;

                    [class*="path"]:before {
                        color: #fff;
                    }
                }
            }
        }
    }

    &.broker {
        height: 485px;

        .bbinfo-wrap {
            .bb-logo-wrap {
                border-radius: 50%;
            }
            .bb-highlights {
                margin-top: 20px;
            }
        }
    }
}
