@import "../variables";
@import "../mixins/ellipsis";

/* scss for DESKTOP builder/broker card starts here */

.agent-serp ~ .max1366.clearifx .list-mainarea .f-container-d {
    border-top-width: 1px;

    &.posfix {
        top: calc(#{$hdrheight} + 96px);
        margin-top: 0;
        border-top-width: 0px;
    }
}

.agent-serp ~ .max1366 .list-sidebar{
    .to-fix{
        &.posfix {
            position: fixed;
            top: calc(#{$hdrheight} + 96px);
        }
    }
}


[data-module="filter"]{
    height: 45px;  /*this height is given to make smooth sticky animation*/
}

.agent-serp{
    min-height: 431px; /*this height is given to make smooth sticky animation*/
}

.profile-container {
    z-index: 0;
    width: 100%;
    height: 370px;
    padding-top: 70px;
    background-position: center;
    background-size: cover;
    background-color: #e7e7e7;

    .brw-container{
        padding: 0;
    }

    .max1366 {
        position: relative;
        max-width: 1366px;
        width: 90%;
    }

    &.edm {
        background:#fff;

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 424px;
            background: url(/images/rating-review/expert-profile-bg.png) no-repeat top left;
            background-size: cover;
        }

        &.deal-maker{
            &:before{
                filter: grayscale(100%);
            }
        }
    }
}

.agent-profile-card {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 360px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 -2px 10px 1px rgba(0,0,0,0.15);

    * {
        transition: all 0.3s ease;
    }

    .agent-strip {

    }

    $rcolwidth: 381px;

    .lcol {
        float: left;
        width: calc(100% - #{$rcolwidth});
    }

    .rcol {
        float: right;
        width: $rcolwidth;
    }

    .main-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 145px;
    }

    $agent-img-width: 96px;

    .agent-img {
        width: $agent-img-width;
        height: $agent-img-width;
        border: solid 1px #efefef;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #fff;
        text-align: center;
        position: relative;

        .initial {
            font-size: calc(#{$agent-img-width} / 2);
            line-height: $agent-img-width;
            text-transform: uppercase;
            //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
        }
    }

    .agent-details {
        width: calc(100% - #{$agent-img-width});
        padding: 0 0 0 20px;
    }

    .agent-name {
        @include putellipsis;
        color: $dark-color;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.2;
        text-transform: capitalize;
    }

    .agent-location {
        padding-top: 5px;
        color: $lighter-color;
        font-size: 14px;
    }

    .designation {
        position: relative;
        display: inline-block;
        padding-top: 12px;
        line-height: 1.25; // similar to height of badge

        .dm {
            color: $light-color;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;

            &.edm {
                color: #e4a804;
            }
        }

        .dm-img {
            display: inline-block;
            vertical-align: bottom;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/images/dealmaker-badge.png);

            &.edm-img {
                background-image: url(/images/dealmaker-expert-badge.png);
            }
        }

        .seller-type {
            margin-right: 40px;
            color: $lighter-color;
        }

        .dm ~ .seller-type, .edm ~ .seller-type {
            padding-left: 5px;

            &:before {
                content: '·';
                padding-right: 5px;
            }
        }

        .rera-tag {
            top: auto;
            right: -40px;
            bottom: 0px;
            width: 40px;
            height: 18px;
            border: none;
            background-color: #c3c3c3;
            color: #fff;
            font-size: 11px;
            font-weight: 500;

            .approve {
                position: absolute;
                bottom: 0;
                right: -70px;
                height: 18px;
                padding: 0 5px;
                border-top: solid 1px #c3c3c3;
                border-bottom: solid 1px #c3c3c3;
                border-right: solid 1px #c3c3c3;
                color: $lighter-color;
                font-weight: normal;
            }

            .icon-tick {
                right: -77px;
            }

            .mp-tooltip { // a lot of overwrites
                width: 300px;
                height: 145px;

                div {
                    padding-top: 10px;
                }

                &.right {
                    left: calc(100% + 85px);
                    top: -55px;

                    &:before {
                        top: calc(50% - 10px);
                        box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 20px;
                        background: #fff;
                        top: calc(50% - 15px);
                        left: 0;
                    }
                }
            }
        }
    }

    .agent-info-wrap {
        position: absolute;
        left: calc(96px + 60px);
        top: calc(96px + 70px);
        width: 570px;

        .seller-rating-wrap {
            position: relative;
            display: inline-block;

            .mp-tooltip { // a lot of overwrites
                width: 220px;
                height: auto;

                div {
                    padding-top: 10px;
                }

                &.right {
                    left: calc(100% + 10px);
                    top: -35px;

                    &:before {
                        top: calc(50% - 10px);
                        box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 20px;
                        background: #fff;
                        top: 46px;
                        left: 0;
                    }
                }
            }
        }

        .rating .rating-badge {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 19px;
        }

        .seller-scores-wrap {
            p{
                margin-bottom: 0;
            }
            .score-data {
                .score-info-txt{
                    line-height: 40px;
                }
            }
        }

        .support-txt {
            padding-left: 10px;
            color: $lighter-color;
            font-size: 13px;
            line-height: 40px;
        }

        .agent-attributes {
            display: flex;
            justify-content: flex-start;
            position: absolute;
            left: 180px;
            top: 10px;

            .a-attribute {
                position: relative;
                margin-right: 10px;
                color: $light-color;
                cursor: pointer;

                &:last-child {
                    margin-right: 0px;
                }

                .mp-tooltip { // a lot of overwrites
                    width: 240px;
                    padding: 15px;
                    line-height: 1.25;

                    .rating-bar-wrap {
                        padding-top: 10px;
                    }

                    .read-review-link-wrap {
                        padding-top: 10px;
                    }

                    &.bot {
                        top: 120%;
                        left: 45%;
                        transform: translateX(-50%);

                        &:before {
                            right: 47%;
                            box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            width: 20px;
                            height: 10px;
                            background: #fff;
                            top: 0;
                            left: 112px;
                        }
                    }
                }

                &:hover {
                    text-decoration: underline;

                    .mp-tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            .a-attribute ~ .a-attribute {
                margin-left: 10px;

                &:before {
                    position: absolute;
                    left: 0;
                    content: '·';
                    margin-left: -12px;
                    color: $lighter-color;
                }
                &:hover {
                    &:before {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .agent-info-points {
        display: flex;
        justify-content: flex-start;
        padding-top: 30px;
        margin-left: calc(#{$agent-img-width} + 20px);
        transition: none;

        .a-point {
            padding-right: 25px;
            color: $lighter-color;
        }
    }

    .btn-wrap {
        .txt {
            padding-top: 5px;
            color: $lighter-color;
            font-size: 12px;

            .blaze-icon{
                display: inline-block;
                position: relative;
            }
        }
    }

    .buyer-desc-container {
        margin-top: 10px;
        padding: 0px 15px;
        border-left: solid 1px #ececec;
        > * {
            display: inline-block;
            vertical-align: top;
        }
        .desc-trim {
            width: calc(100% - 80px);
            height: 20px;
            color: $light-color;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .desc-more {
            width: 80px;
            color: red;
            background-color: #fff;
            cursor: pointer;
        }
    }

    .buyer-reviews-container {
        height: 167px;
        max-height: 167px;
        overflow: hidden;
        padding-left: 20px;
        margin: 25px 0 10px;
        border-left: solid 1px #ececec;
        transition: none;

        .title {
            font-weight: 500;
        }

        .review-box {
            padding: 15px 0;
            border-bottom: none;

            .review-text-wrap {
                position: relative;
                height: 37px;
                overflow: hidden;
                cursor: default;
                word-break: break-all;

                &:after {
                    content: '...';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 0 0.3em;
                    background: white;
                    font-size: 14px;
                }
            }

            .review-txt {
                font-size: 14px;
                line-height: 18px;
                color: $light-color;

                &:after{
                    content: '\0000a0\A\0000a0';
                    position: absolute;
                    width: 1000px;
                    z-index: 1;
                    background: white;
                    white-space: pre;
                }
            }
        }
    }

    .score-indicator-wrap.agent-score{
        margin-top: 10px;
        transition: all 0.3s ease-in-out;

        .si-row{
            display: inline-block;
            width: 250px;
            margin-right: 30px;
            margin-bottom: 8px;
            transition: all 0.3s ease-in-out;
        }
    }
}


.profile-container.fixme {
    height: 96px;
    margin-bottom: 0;

    .score-indicator-wrap.agent-score{
        margin-top: 5px;
        .si-row{
            margin-bottom: 0px;
        }
    }

    .seller-scores-wrap {
        .score-data {
            margin-bottom: 0;
            .score-info-txt{
                line-height: 30px;
            }
        }
    }

    .agent-profile-card {
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        height: 96px;
        max-width: 100%;
        margin: 0;
        padding: 15px;
        background-color: #fff;
        border-bottom: 1px solid #ebebeb;
        z-index: 3000;

        .lcol {
            position: relative;
        }

        .main-wrap {
            width: 400px;
            margin-bottom: 0;
        }

        .agent-name {
            font-size: 24px;
            padding-right: 15px;
        }

        .agent-location {
            transform: scale(0);
            width: 0;
            height: 0;
        }

        $agent-img-width: 60px;

        .agent-img {
            width: $agent-img-width;
            height: $agent-img-width;

            .initial {
                font-size: calc(#{$agent-img-width} / 2);
                line-height: $agent-img-width;
            }
        }

        .agent-details {
            width: calc(100% - #{$agent-img-width});
        }

        .agent-info-wrap {
            position: absolute;
            top: -5px;
            left: 400px;
            display: inline-block;
            margin: 0;

            .agent-attributes{
                top: 5px;
            }

            .rating .rating-badge {
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
            }

            .support-txt {
                line-height: 1;
            }
        }

        .rera-tag, .agent-info-points, .buyer-reviews-container, .buyer-desc-container {
            //transform: scale(0);
            opacity: 0;
            height: 0;
            margin: 0;
        }

        .btn-wrap {
            .cbtn {
                margin-top: 14px;
            }
        }
    }
}
