@import "../variables";
@import "../mixins/ellipsis";

.profile-container-moblie {
    width: 100%;

    .btn-wrap{
        position: fixed;
        left: 0;
        bottom: 10px;
        width: 100%;
        z-index: 1;

        .cbtn{
            width: 80%;
        }
    }

}

.agent-profile-card-moblie {
    width: 100%;
    padding: 15px 20px;
    background:#fff url(/images/rating-review/expert-m-bg.png) no-repeat top right;
    background-size: contain;
    border-bottom: solid 1px #ccc;

    .score-indicator-wrap{
        margin-top: 15px;
    }

    .main-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    $agent-img-width: 80px;

    .agent-img {
        width: $agent-img-width;
        height: $agent-img-width;
        border: solid 1px #efefef;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #fff;
        text-align: center;
        position: relative;

        .initial {
            font-size: calc(#{$agent-img-width} / 2);
            line-height: $agent-img-width;
            text-transform: uppercase;
            //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
        }
    }

    .agent-details {
        width: calc(100% - #{$agent-img-width});
        padding: 0 0 0 20px;
    }

    .agent-name {
        @include putellipsis;
        color: $dark-color;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .agent-location {
        @include putellipsis;
        padding-top: 2px;
        color: $lighter-color;
        font-size: 13px;
    }

    .seller-type{
        font-size: 12px;
    }

    .designation {
        @include putellipsis;
        position: relative;
        padding-top: 12px;
        line-height: 1.25; // similar to height of badge

        .dm {
            color: $light-color;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;

            &.edm {
                color: #e4a804;
            }
        }

        .dm-img {
            display: inline-block;
            vertical-align: bottom;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/images/dealmaker-badge.png);

            &.edm-img {
                background-image: url(/images/dealmaker-expert-badge.png);
            }
        }

        .seller-type {
            color: $lighter-color;
        }

        .dm ~ .seller-type, .edm ~ .seller-type {
            padding-left: 5px;

            &:before {
                content: '·';
                padding-right: 5px;
            }
        }
    }

    .rera-tag {
        position: relative;
        width: 40px;
        height: 18px;
        margin-top: 10px;
        border: none;
        background-color: #c3c3c3;
        color: #fff;
        font-size: 11px;
        font-weight: 500;

        .approve {
            position: absolute;
            bottom: 0;
            right: -70px;
            height: 18px;
            padding: 0 5px;
            border-top: solid 1px #c3c3c3;
            border-bottom: solid 1px #c3c3c3;
            border-right: solid 1px #c3c3c3;
            color: $lighter-color;
            font-weight: normal;
        }

        .icon-tick {
            right: -77px;
        }

        .mp-tooltip {
            width: 280px;

            div {
                padding-top: 10px;
            }

            &.bot {
                top: 30px;
                left: 50px;
                transform: translateX(-50%);

                &:before {
                    right: 47%;
                    box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 10px;
                    background: #fff;
                    top: 0;
                    left: 47%;
                }
            }
        }
    }

    .seller-rating-wrap {
        position: relative;
        margin-top: 20px;

        .support-txt {
            padding-left: 10px;
            color: $lighter-color;
            font-size: 13px;
        }

        .mp-tooltip {
            width: 240px;

            div {
                padding-top: 10px;
            }

            &.bot {
                top: 120%;
                left: 75%;
                transform: translateX(-50%);

                &:before {
                    right: 47%;
                    box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 10px;
                    background: #fff;
                    top: 0;
                    left: 112px;
                }
            }
        }

        &:hover {
            .mp-tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .agent-info-wrap {
        border-bottom: solid 1px #f3f3f3;
    }

    #agent-info-tab {
        border-bottom: solid 1px #f3f3f3;

        &.sleek-tabs ul>li {
            padding: 15px 12px 0 0;
            font-size: 12px;
            letter-spacing: 0;
        }
    }

    .agent-desc-container {
        margin-bottom: 10px;
        padding-top: 10px;
        border-top: solid 1px #ececec;
        > * {
            display: inline-block;
            vertical-align: top;
        }
        .desc-trim {
            width: calc(100% - 80px);
            height: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $light-color;
            overflow: hidden;
        }
        .desc-more {
            width: 80px;
            color: red;
            background-color: #fff;
            cursor: pointer;
        }
    }

    .agent-tab-pane {
        min-height: 180px;
        padding: 20px 0 0;

        .brw-container {
            max-height: 140px;
            overflow: hidden;

            .review-box {
                width: calc(100vw - 40px);
                padding: 0 0 15px;
                border-bottom: none;
                vertical-align: text-top;
            }
        }

        .rating-bar-wrap {
            padding-top: 10px;

            .rb-row {
                margin-bottom: 4px;
                font-size: 12px;
            }
        }

        .slider-wrap .btn-prev, .slider-wrap .btn-next {
            display: none;
        }
    }

    .agent-info-points {
        display: flex;
        justify-content: flex-start;
        padding-top: 25px;

        .a-point {
            padding-right: 25px;
            color: $lighter-color;
            font-size: 13px;
        }
    }

    .btn-wrap {
        padding: 30px 0 0 0;
        .txt {
            padding-top: 5px;
            color: $lighter-color;
            font-size: 12px;
            .blaze-icon{
                display: inline-block;
                position: relative;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .agent-profile-card-moblie {
        padding: 15px 10px;

        #agent-info-tab {
            &.sleek-tabs ul>li {
                font-size: 11px;
            }
        }
    }
}
