@import "../variables";
@import "../mixins/ellipsis";
@import "expand";

/* scss for DESKTOP builder/broker card starts here */

.bbcard {
    position: relative;
    width: 100%;
    z-index: 2;
    //height: 300px;

    .img-wrap {
        position: relative;
        width: 100%;
        min-height: 260px;
        background-image: url(/images/img-dumy-d1.jpg);
        //background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #ccc;
        //overflow: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 0;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0,0,0,0.15) 15%, rgba(0,0,0,0.45) 100%);
            z-index: 1;
        }
    }

    $infowidth: 90%;

    .bbinfo-wrap {
        position: relative;
        width: $infowidth;
        margin: 0 auto;
        padding-top: 30px;
        padding-left: 180px;
        //height: 100px;
        z-index: 2;

        .bb-logo-wrap {
            position: absolute;
            width: 150px;
            height: 150px;
            left: 0;
            top: 30px;
            //background-image: url(/images/img-dumy-3.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-color: #fff;
            border: solid 4px #d7d7d7;
            overflow: hidden;
            text-align: center;

            .initial {
                font-size: 100px;
                line-height: 150px;
                text-transform: uppercase;
                //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
            }
        }

        .bb-desc-wrap {
            display: block;
            position: relative;

            .b-name {
                color: #fff;
                font-size: 21px;
                font-weight: bold;
                text-shadow: 0 1px 1px #000;
                padding-bottom: 5px;
            }

            .b-desc {
                color: #fff;
                font-size: 15px;
                text-shadow: 0 1px 1px #000;
                padding-bottom: 14px;

                .txt-desc {
                    margin-top: -10px;
                    padding-bottom: 20px;
                }

                p {
                    margin: 10px 0;
                }

                br {
                    display: none;
                }

                .more-link {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: $link-color;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .overview-desc {

                .js-desc {
                    white-space: pre-wrap;
                }

                span, p {
                    color: #ffffff!important; // this important is done to overwrite the properties coming from backend data
                }
            }
        }

        .seller-rating-wrap {
            display: block;
        }

        .dealmaker-badge {
            color: #fff;
            position: absolute;
            right: 0;
            top: 30px;
        }
    }

    .bb-highlights {
        //position: absolute;
        position: relative;
        z-index: 2;
        display: block;
        width: $infowidth;
        margin: 0 auto;
        padding-left: 180px;
        padding-top: 35px;
        padding-bottom: 15px;

        .bcol {
            display: table-cell;
            width: 25%;
            text-align: left;
            vertical-align: top;
            color: #fff;

            .val {
                font-size: 16px;
            }

            .lbl {
                color: #f0f0f0;
                font-size: 14px;
            }

            i {
                font-size: 24px;
            }
        }

        [class*="path"]:before {
            color: #fff;
        }
    }

    .bbinfo-wrap.broker {
        //width: 800px;

        .bb-logo-wrap {
            border-radius: 50%;
            background-size: cover;
        }
    }

    .broker-name {
        padding-top: 20px;
        display: inline-block;
        position: relative;

        >span{
            color: #fff;
            font-size: 28px;
            text-shadow: 0 1px 1px #000;
        }

        .rera-tag{
            right: -50px;
            bottom: 10px;
        }
    }

    .broker-firm-name {
        color: #fff;
        font-size: 21px;
        text-shadow: 0 1px 1px #000;
        padding-bottom: 5px;
    }

    .broker-operation {
        color: #f0f0f0;
        text-shadow: 0 1px 1px #000;
        padding-top: 5px;
    }

    .broker-areas {
        color: #fff;
        text-shadow: 0 1px 1px #000;

        .link {
            color: #dcdcdc;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 980px) {
    .bbcard {

        $infowidth: 85%;

        .bbinfo-wrap {
            width: $infowidth;
        }

        .bb-highlights {
            width: $infowidth;
        }
    }
}
