.gallerywrap {
    &.slide-active {
        .img-ldr {
            display: block;
        }
    }
    
    .btn-prev, .btn-next {
        position: absolute;
        bottom: 42%;
        z-index: 3;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px 0 0 0;
        text-align: center;
        color: #fff;
        font-size: 10px;
        text-shadow: 0px 2px 2px #666;
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }

        &.disable {
            opacity: 0.25;
            cursor: not-allowed;
            text-shadow: 0px 1px 1px #666;
        }

        [class^="icon-"], [class*=" icon-"] {
            font-size: 14px;
            font-weight: bold;

            &::before {
                color: white;
            }
        }
    }

    .btn-prev {
        left: 5px;
        float: none;
        margin-left: 0;
    }

    .btn-next {
        right: 05px;
        float: none;
        margin-right: 0;
    }

    .dot-container {
        position: absolute;
        bottom: 0;
        max-width: 55px;
        max-height: 16px;
        left: 50%;
        transform: translate(-50%);
        overflow: hidden;

        &.mar-b {
            bottom: 20px;
        }

        .dots {
            transition: all .35s ease;
        }

        span.dot {
            background-color: #9B9B9B;
            border-radius: 5px;
            display: inline-block;
            height: 6px;
            width: 6px;
            margin: 2px;
            vertical-align: top;
            transform: scale(1);
            transition: all .35s ease;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);

            &.no-width {
                margin: 0;
                width: 0;
            }

            &:nth-child(1), &:nth-child(5), &:nth-child(6) {
                transform: scale(0.66667);    
            }
        }
        span.dot.active {
            background-color: #FFFFFF;
            transform: scale(1.2);
        }
    }
}
// image loader css
.img-ldr {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: rgba(255,255,255,.75);
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    animation: reverse-spin 700ms linear infinite;
    z-index: 10; // z-index is lower than that of immediate image or its holder
    display: none;

    i {
        vertical-align: middle;

        [class*="path"] {
            color: #fff;
            font-family: 'icomoon';
        }
    }
}