.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    width: 100%;
    height: 100%;
    .flipper {
        position: relative;
        min-height: 325px;
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
        box-shadow: 0 0 8px 3px rgba(220, 220, 220, 0.7);
        overflow: hidden;
        -webkit-transition: 500ms;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 500ms;
        -moz-transform-style: preserve-3d;
        -o-transition: 500ms;
        -o-transform-style: preserve-3d;
        transition: 500ms;
        transform-style: preserve-3d;
    }
    .front,
    .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
    }
    .front {
        transition: all 300ms ease-in-out;
        z-index: 89;
    }
    .back {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        transition: all 500ms ease-in-out;
        -webkit-backface-visibility: inherit;
        -moz-backface-visibility: inherit;
        -o-backface-visibility: inherit;
        backface-visibility: inherit;
        z-index: 9;
    }
    &.flip {
        .flipper {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            .front {
                opacity: 0;
            }
            .back {
                transition: all 500ms ease-in-out;
                z-index: 99;
            }
        }
    }
}

// .flip-container,
// .front,
// .back {
//     width: 320px;
//     height: 427px;
// }
.sml-txt {
    font-size: 12px;
}

.card-wrap {
    width: 100%;
    .upper-wrap, .selected-upper-wrap {
        padding: 20px 18px;
        .flip-icon {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            padding: 2px 10px;
            font-size: 16px;
            font-weight: bold;
            color: $link-color;
            background-color: $light-bg;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            &.icon-backflip {
                padding: 5px 2px 3px 4px;
                font-size: 14px;
            }
        }
        .service-heading {
            display: inline-block;
            width: calc(100% - 45px);
            vertical-align: middle;
            text-align: center;
        }
        .img-wrap {
            height: 150px;
            width: 100%;
            max-width: 150px;
            margin: 40px auto 0;
            transition: all 250ms ease-in-out;
            text-align: center;
            i{
                font-size: 100px;
            }
            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
        .inner-content {
            margin-top: 0px;
            text-align: center;
            font-size: 15px;
        }
        .details-wrap {
            margin: 35px auto 0;
            max-width: 88%;
        }
        .selected-upper-wrap {
            display: none;
        }
    }
    .lower-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #f7f7f7;
        cursor: pointer;
        a {
            font-size: 16px;
            color: $link-color;
        }
        .booknow{
            display: block;
            color: $link-color;
            font-size: 16px;
            padding: 14px 0;
        }
        .editnow{
            display: none;
        }
    }
}

.alliance-card-wrap {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 8px 3px rgba(220, 220, 220, 0.7);
    min-height: 50px;
    padding: 10px 15px;
    position: relative;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    .head-wrap {
        .alliance-icon {
            width: 32px;
            height: 32px;
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            border-radius: 3px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .alliance-name {
            display: inline-block;
            vertical-align: bottom;
            width: calc(100% - 40px);
            font-size: 17px;
            padding-left: 10px;
            font-weight: bold;
        }
    }
    .desc {
        margin: 12px 0;
        color: $lighter-color;
    }
    .offer-btn {
        background-color: $offerBtn;
        padding: 12px 10px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        color: #ffffff;
        text-align: center;
    }
    .tick-wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        input[type="checkbox"] {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            z-index: 9;
            cursor: pointer;
        }
        .icon {
            position: absolute;
            right: -7px;
            top: -14px;
            width: 36px;
            height: 36px;
            background-color: #ffffff;
            border-radius: 100%;
            border: 1px solid $link-color;
            padding: 8px 9px;
            transition: all 300ms ease-in-out;
            z-index: 8;
            &.icon-tick:before {
                color: #ffffff;
                font-size: 0;
                transition: all 300ms ease-in-out;
            }
        }
        input[type=checkbox]:checked + .icon {
            background-color: $link-color;
            &.icon-tick:before {
                color: #ffffff;
                font-size: 16px;
            }
        }
    }
}

.fixed-bot {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.card-wrap.selected-card-wrap {
    .upper-wrap, .flip-icon, .back, .booknow {
        display: none;
    }
    .flip-container{
        .front{
            background-color: #eeeeee;
        }
    }
    .selected-upper-wrap {
        display: block;
        .service-heading {
            width: 100%;
        }
        .img-wrap {
            height: 90px;
            max-width: 65px;
            margin: 35px auto 0;
            text-align: center;
            i{
                font-size: 65px;
            }
        }
    }
    ul.selected-partner-list{
        li{
            margin-bottom: 0;
        }
    }
    .lower-wrap{
        cursor: pointer;
        .editnow{
            display: block;
            padding: 14px 0;
            background-color: #ffffff;
            color: $link-color;
            font-size: 16px;
        }
        .booknow{
            display: none;
        }
    }
}


.select-btn-wrap {
    border-top: 3px solid $offerBtn;
    background-color: $link-color;
    padding: 10px 0;
    color: #ffffff;
    font-size: 16px;
    display: block;
}

.selected-info-fixed {
    background-color: #e4e0df;
    color: #444444;
}

.service-wrap,
.alliance-wrap {
    padding: 0 10px;
    padding-bottom: 50px;
    .sprt-txt {
        color: $lighter-color;
        text-align: center;
    }
    ul.cards-list {
        margin: 0 auto;
        padding: 0;
        li {
            margin-bottom: 25px;
        }
    }
}

.d-btn, .d-proceed-wrap{
    display: none;
}

@media screen and (min-width: 768px) { 

    .card-wrap{
         .upper-wrap, 
         .card-wrap .selected-upper-wrap{
             .details-wrap{
                text-align: left;
            }
         }
    }

    .service-wrap,
    .alliance-wrap {
        max-width: 960px;
        margin: 25px auto 0;
        ul.cards-list {
            text-align: center;
            li {
                width: 100%;
                max-width: 370px;
                display: inline-block;
                vertical-align: top;
            }
        }
    }

    .alliance-wrap { 
        .cards-list{
            li{
                margin-right: 20px;
            }
        }
        .fixed-bot{
            display: none;
        }
    }

    .fixed-bot{
        background-color: #636363;
        padding: 25px 20%;
        text-align: center;
    }

    .select-btn-wrap{
        display: none;
    }
    .selected-info-fixed{
        display: inline-block;
        background-color: transparent;
        vertical-align: -6px;
        color: #ffffff;
    }
    .d-btn{
        display: inline-block;
        vertical-align: middle;
    }
    .d-proceed-wrap{
        display: inline-block;
        text-align: right;
        width: 100%;
        max-width: 840px;
        margin: 20px auto;
    }

}





