.list-sidebar {

    // SCSS for the sidebar card template
    .sidebarcard {
        display: block;
        width: 300px;
        padding: 20px;
        margin-bottom: 20px;
        background: #fff;
        border: solid 1px #dcdcdc;
        cursor: pointer;

        &.rb-properties{
            background: #e7248a;
            padding: 10px 20px;
            position: relative;
            cursor: pointer;

            .sbc-txt{
                text-align: left;
                color: #fff;
                font-size: 18px;
            }

            .sbc-l-col{
                width: 60%;
            }

            .sbc-r-col{
                width: 40%;
            }

            .sbc-link{
                position: absolute;
                bottom: 10px;
                color: #fff;
                font-size: 14px;
                right: 20px;
            }

            .icon-wrap{
                background: #fff;
                width: 124px;
                height: 124px;
                border-radius: 100%;
                border: 6px solid #ff7fc0;
                box-shadow: 0 0 10px rgba(0,0,0,0.4) inset;
                text-align: center;
                line-height: 118px;
                position: relative;

                &:after{
                    content: '';
                    position: absolute;
                }

                img{
                    display: inline-block;
                }
            }
        }

        &.appacard {
            padding: 0;

            .biglink {
                padding: 20px;
            }
        }

        .sbc-l-col {
            float: left;
            width: 70%;
            padding-right: 10px;
        }

        .sbc-hdng {
            color: $dark-color;
            font-size: 18px;
            font-family: $roboto;
            padding-bottom: 10px;
        }

        .sbc-txt {
            color: $lighter-color;
            font-size: 14px;
            padding-bottom: 10px;
        }

        .sbc-link {
            .link {
                color: $link-color;
                font-size: 14px;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .sbc-r-col {
            float: right;
            width: 30%;
            padding-top: 20px;
            text-align: right;

            i {
                font-size: 64px;
                color: $link-color;
            }
        }
    }


    /*** position fix code ***/
    .posstart {
        position: absolute;
        width: calc(100% - 40px);
        transform: translateY(0);
        transition: transform 0.3s ease-in-out;

        &.posfix {
            position: fixed;
            top: 74px;
            width: 300px;
        }

        &.setatbtm {
            position: absolute;
            bottom: -7345px;
        }
    }

    /*** sidebar top/similar localities and top/similar properties and projects code ***/
    .sidebarsection {
        display: block;
        width: 300px;
        padding: 15px 10px;
        margin-bottom: 20px;
        background: #fff;
        border: solid 1px #dcdcdc;

        .sbs-title {
            font-size: 19px;
        }

        .similar-pane {
            padding: 0 10px;
        }

        .loaderr {
            text-align: center;
            padding: 30px 0 0;
            font-size: 24px;
        }
    }
}
