@import "mCards/rating-mp";
@import "mCards/alliances";
@import "mCards/filter";
@import "mCards/recent";
@import "mCards/rating";
@import "mCards/favorites";
// @import "mCards/requirements";
@import "mCards/feedback";
@import "mCards/talkToM";
@import "mCards/similarProperties";
@import "mCards/localities";
@import "top-sellers";
.to-fix {
    &.posfix {
        position: fixed;
        top: $hdrheight;
    }
}

.recent-image-size {
    height: 100%;
    width: 100%;
}

.sidebar-container {
    position: relative;
    z-index: 1;
    padding-top: 10px;
    width: $card-width;
    overflow: hidden;
    .text-ellipse {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .btn-rhs {
        display: inline-block;
        margin: 5px 0px;
        border: solid 1px #fff;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #fe757d;
        padding: 5px 15px;
        color: #fff;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover {
            border-left-width: 4px;
            text-decoration: none;
        }
    }
    .sidebar-card-wrap {
        position: relative;
        z-index: 1;
        height: $card-height;
        width: $card-width;
        border: solid 1px #e5e5e5;
        background-color: $sec-bodybg-color;
        border-radius: 10px;
        overflow: hidden;
    }
    .sidebar-card {
        position: absolute;
        z-index: 5;
        transform: translateY(0px);
        background-color: $sec-bodybg-color;
        border-radius: 10px;
        padding: 0px 30px;
        width: 100%;
        height: 100%;
        transition: all 600ms $transition-curve;
        opacity: 1;
        &.next {
            transition-delay: 150ms;
            transform: translateY(calc( #{$card-height} + 20px));
            opacity: .5;
            .card-image {
                transform: translateY(100px);
            }
            .card-footer {
                transform: translateY(200px);
            }
            .footer-text {
                transform: translateY(100px);
            }
        }
        &.shrink {
            opacity: .5;
            z-index: 4;
            transform: translateY(calc( #{$card-height} + 20px));
        }
        &.shrink-same {
            animation-name: shrink-card;
            animation-duration: 400ms;
            animation-iteration-count: 1;
        }
        .card-image-size {
            max-height: 100px;
        }
        .mcard-back-btn-wrap {
            display: none;
            position: absolute;
            top: 2px;
            left: -4px;
            height: 25px;
            width: 25px;
            padding: 5px;
            cursor: pointer;
            text-align: center;
        }
        .mcard-back-btn {
            display: inline-block;
            border-left: solid 1px;
            border-top: solid 1px;
            border-color: #a9a9a9;
            height: 12px;
            width: 12px;
            transform: rotate(-45deg);
            vertical-align: top;
        }
        .card-title {
            position: relative;
            margin-top: 20px;
            text-align: center;
            font-size: 18px;
            transition: all 300ms ease-out;
        }
        .card-image {
            margin-top: 20px;
            transition-delay: 100ms;
            transition: all 800ms $transition-curve;
        }
        .card-sub {
            margin: 20px auto 0px;
            max-width: 220px;
            text-align: center;
            font-size: 14px;
        }
        .card-content {
            margin: 50px auto 20px;
            transition: all 700ms $transition-curve;
            text-align: center;
            &.hide-card-content {
                opacity: .1;
                transform: translateY(100px);
            }
        }
        .card-footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            transform: translateY(0px);
            height: 280px;
            width: 100%;
            background-image: url($imgPath+'/rhs/rhs.png');
            background-position: -9px -0px;
            transition-delay: 500ms;
            transition: all 700ms $transition-curve;
            &.hide-card-footer {
                transform: translateY(220px);
            }
        }
        .footer-text {
            position: relative;
            height: 100%;
            transform: translateY(0px);
            color: #fff;
            font-size: 18px;
            transition: all 500ms $transition-curve;
            transition-delay: 400ms;
            text-align: center;
            .main {
                text-align: left;
            }
            .sub {
                margin-top: 15px;
                font-size: 16px;
            }
        }
        .call-btn {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 150ms ease-out;
        }
        .line {
            position: relative;
            margin: 5px 0px;
            font-size: 16px;
            &:before {
                content: "";
                position: absolute;
                background-color: #fff;
                border-radius: 50%;
                left: -25px;
                top: 7px;
                height: 9px;
                width: 9px;
            }
        }
    }
    .btn-container {
        position: relative;
        .card-btn-arrow {
            opacity: 0;
            display: none;
            visibility: hidden;
            position: absolute;
            padding: 5px;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            &.disable {
                display: none;
            }
            &.left-arrow {
                left: 0;
            }
            &.right-arrow {
                right: 0;
                transform: rotateY(180deg);
            }
            .arrow {
                display: inline-block;
                border-left: solid 1px;
                border-top: solid 1px;
                border-color: #a9a9a9;
                height: 12px;
                width: 12px;
                transform: rotate(-45deg);
            }
            &:hover {
                .arrow {
                    border-color: #000;
                }
            }
        }
        &:hover {
            .card-btn-arrow {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .sidebar-btn-wrap {
        position: relative;
        margin-top: 10px;
        transform: translateY(100%);
        transition: all 300ms ease-in-out;
        opacity: 0;
        width: 330px;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        &.slideup {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .dummy-wrap {
        display: inline-block;
        font-size: 0px;
    }
    .btn-list {
        font-size: 0px;
        transition: all 300ms ease-in-out;
    }
    .sidebar-btn {
        display: inline-block;
        margin: 0px 0px 5px 0px;
        opacity: .5;
        // background-color: #f7f7f7;
        // border-radius: 7px;
        // border: solid 1px #e5e5e5;
        padding: 3px 0px;
        height: 28px;
        width: 110px;
        color: #4d4d4d;
        cursor: pointer;
        transition: all 150ms ease-in-out;
        text-align: center;
        vertical-align: top;
        font-size: 14px; 
        &.dummy-btn {
            cursor: default;
        }
        &:hover {
            color: $link-color;
            opacity: 0.8;
            //box-shadow: 0px 2px 5px 1px #ffc8cb;
        }
        &.active {
            color: $dark-color;
            opacity: 1;
        }
    }
}

@keyframes shrink-card {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.99);
    }
    100% {
        transform: scale(1);
    }
}

// *******SPRITE******* //
.rhs-floating-graphics,
.rhs-house-filter,
.rhs-rating,
.rhs-mplus,
.rhs-talk-to-m,
.rhs-seller,
.rhs-residential-plot,
.rhs-1,
.rhs-2,
.rhs-3,
.rhs-3plus,
.rhs-call {
    display: inline-block;
    background: url($imgPath+'/rhs/rhs.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.rhs-floating-graphics {
    background-position: -5px -0px;
    width: 372px;
    height: 281px;
}

.rhs-house-filter {
    background-position: -5px -286px;
    width: 143px;
    height: 100px;
}

.rhs-rating {
    background-position: -153px -286px;
    width: 97px;
    height: 12px;
}

.rhs-mplus {
    background-position: -255px -286px;
    width: 96px;
    height: 68px;
}

.rhs-talk-to-m {
    background-position: -248px -359px;
    width: 63px;
    height: 60px;
}

.rhs-seller {
    background-position: -316px -359px;
    width: 47px;
    height: 48px;
}

.rhs-residential-plot {
    background-position: -153px -389px;
    width: 40px;
    height: 36px;
}

.rhs-1 {
    background-position: -198px -389px;
    width: 40px;
    height: 36px;
}

.rhs-2 {
    background-position: -5px -391px;
    width: 40px;
    height: 36px;
}

.rhs-3 {
    background-position: -50px -391px;
    width: 40px;
    height: 36px;
}

.rhs-3plus {
    background-position: -95px -391px;
    width: 40px;
    height: 36px;
}

.rhs-call {
    background-position: -316px -412px;
    width: 34px;
    height: 34px;
}
