// similar list
.similarPropWrap {
    max-width: 1125px;
    .link-list {
        color: #333;
        text-decoration: none;
        cursor: pointer;
    }
    $imgw: 203px;
    $imgh: 110px;
    .ul-container {
        width: 100%;
        padding: 10px 10px 10px 0;
        white-space: nowrap;
        overflow: hidden;
        ul {
            width: 100%;
            transform: translateX(0px);
            transition: all 0.3s ease-in-out;
        }
    }
    li {
        display: inline-block;
        width: $imgw;
        margin: 15px 20px 15px 0px;
        vertical-align: top;
        .img-wrap {
            display: flex;
            width: $imgw;
            height: $imgh;
            text-align: center;
            vertical-align: middle;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 2px;
            }
            &.dummy-placeholder:before {
                background-size: 80%;
            }
        }
    }
    .simidtls {
        .price-wrap {
            padding: 5px 0 2px;
            .val {
                padding-right: 3px;
                font-size: 18px;
                color: $dark-color;
                text-transform: capitalize;
            }
            .unit {
                font-size: 14px;
                text-transform: capitalize;
                color: $light-color;
            }
        }
        .main-name {
            @include putellipsis;
            max-width: 98%;
            font-size: 13px;
        }
        .othr-info {
            display: block;
            @include putellipsis;
            max-width: 98%;
            color: $light-color;
            font-size: 12px;
        }
    }
}