.similar-prop-list {
    padding: 0;
    margin: 0;
    
    > li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #e9e9e9;

        &:first-child{
            padding-top: 0;
        }

        $imgw: 100px;

        .img-wrap {
            float: left;
            width: $imgw;
            text-align: left;

            img {
                width: 90px;
                height: 55px;
            }
        }

        .propdtls {
            position: relative;
            float: right;
            width: 65%;
            width: calc(100% - #{$imgw});
            padding-left: 5px;
            text-align: left;

            .prop-type {
                font-size: 14px;
                font-weight: 500;
                padding: 0;
            }

            .address-wrap{
                font-size: 12px;
                color: $light-color;
                padding-top: 1px;
            }

            .price-wrap {
                padding-top: 0;
                line-height: 16px;
                color: $light-color;
                i {
                    font-size: 12px;
                }
                .val {
                    font-size: 13px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
                .unit {
                    font-size: 12px;
                    text-transform: capitalize;
                }
            }

            .select-wrap {
                position: absolute;
                right: 0px;
                top: 15px;
                z-index: 1;

                label.checkboxlbl {
                    padding-left: 0;
                    margin-left: 0;
                }
            }
        }
    }
}