.slider-wraper-box{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    padding-top: 15px;

    .sliding-list-wrap{
    	position: relative;
    }

    .slr-info-card{
    	padding: 0;
    	overflow: visible;
    	background: transparent;

    	.slr-sibox-wrap{
    		float: none;
    		border: 1px solid #ccc;
    		margin: 0 auto 8px;
    	}

    	.slr-info{
    		text-align: center;
    		width: 100%;
    		padding: 0;
    		float: none;
    		
    		.top-line{
    			margin-bottom: 3px;
    		}
    	}
    }

    /*slider overwrites for this page only*/
    .owl-buttons{   
        display: none;
    }  
    
    .owl-theme .owl-controls{  
        margin-top: 0; 
    }  
   
    .owl-pagination{   
        text-align: center; 
        padding-right: 16px;   
   
        .owl-page{ 
            span{  
                width: 8px;    
                height: 8px;   
                margin: 0 4px; 
                background: $lighter-color;  
            }  
   
            &.active{  
   
                span{  
                    background: $theme-color;  
                }  
            }  
        }  
    }

}