.slr-info-card{
	position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 9px 16px;
    background: #fff;
    transition: all 0.3s ease-in-out;

    .dm-badge {
        position: absolute;
        left: 30px;
        bottom: 3px;
        z-index: 3;

        img {
            width: auto;
            height: 30px;
        }
    }

    $simgw: 58px;

    .slr-sibox-wrap {
        float: left;
        width: $simgw;
        height: $simgw;
        overflow: hidden;
        text-align: center;

        .slr-img-box {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: center;

            .initial{
            	line-height: 58px;
                font-size: 38px;
            }

            &.s-bg {
                background-image: url(/images/seller-img1.png);
            }

            img {
                display: inline-block;
                object-fit: cover;
            }
        }
    }

    .slr-info {
        float: left;
        width: calc(100% - #{$simgw});
        padding: 0 0 0 20px;
        position: relative;

        .top-line {
            display: inline-block;
            color: $title-color;
            font-size: 14px;
            line-height: 20px;
            text-transform: capitalize;
            width: 100%;
            font-weight: 500;

            > span{
                @include putellipsis;
                display: inline-block;
                max-width: calc(100% - 28px);
                padding-right: 3px;
            }

            .rating{
                top: -5px;
            }
        }

        .mid-line {
            @include putellipsis;
            padding: 0px 0 7px;
            color: $lighter-color;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.5px;
        }

        .seller-type {
            text-transform: uppercase;
            color: $light-color;
            font-weight: 500;
        }

        .info-line {
            @include putellipsis;
            color: $light-color;
            font-size: 13px;
            text-transform: capitalize;
            line-height: 14px;

            .count {
                font-size: 14px;
                font-weight: 700;
                color: $theme-color-two;
            }
        }
    }
}
/* for mobile screens for project locality page template */
@media (max-width: 768px) {
    .slr-info-card {

        .slr-info{
            padding: 0 0 0 12px;
        }
    }
}