.sp-mobile{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -95px;
    transition: 1s ease-in-out;

    &.show-sp-wrap{
        bottom: 0;
    }

    .icon-close{
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
        font-weight: bold;

        &:before{
            color: $light-color;
        }
    }

    .sp-card{
        background: #fff;
        box-shadow: -2px 0 8px rgba(0,0,0,0.2);
        display: flex;
        height: 90px;

        .sp-img-wrap{
            width: 120px;
            height: 90px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .sp-detail-wrap{
            width: calc(100% - 120px);
            padding: 5px 12px;

            .sp-name{
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: $pink-color;
                margin-bottom: 0px;
                @include putellipsis;                
            }

            .sp-address,
            .sp-type{
                font-size: 13px;
                line-height: 16px;
                text-align: left;
                color: $light-color;
                font-weight: normal;
                @include putellipsis;                
            }

            .sp-type{
                margin-top: 4px;
            }

            .sp-price{
                margin-top: 4px;
                color: $title-color;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                @include putellipsis;                

                span {
                    font-size: 12px;
                }
            }
        }

    }
}