.sponsored-ads{
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 9px;

	h3{
		font-weight: 600;
		font-size: 16px;
    	color: $light-color;
		margin-bottom: 20px;

		&:before{
			display: none;
		}
	}

	.sd-card-wrap{
		display: inline-block;
		margin-right: 20px;
		width: 100%;
		max-width: 345px;
		vertical-align : top;
		&:last-child{
			margin-right: 0;
		}


		a{
			text-decoration: none;
			color: inherit;
			display: block;
		}

		.sd-card{
			width: 100%;
			height: 275px;
			background: #fff;
			border: 1px solid #dcdcdc;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				left: -9px;
				bottom: -9px;
				width: 43px;
				height: 42px;
				z-index: -1;
			}

			&.onloadimage:after{
					background: url(/images/sponsored-badge.png) no-repeat left bottom;
			}

			.img-wrap{
				position: relative;
				width: 100%;
				height: 155px;
				overflow: hidden;

				img{
					display: block;
					width: 100%;
					min-height: 100%;
				}
			}
			.banner-img-wrap{
				height: 200px;
			}

			.logo{
				position: absolute;
				width: 90px;
				height: 40px;
				left: 10px;
				top: 130px;
				overflow: hidden;
				border: 1px solid #ccc;
				text-align: center;
				vertical-align: middle;
				background: #fff;
				display: flex;
				align-items: center;
				justify-content: center;

				img{
					max-width: 70px;
					display: inline-flex;
				}
			}

			.content-details{
				padding: 20px;

				h3{
					font-size: 16px;
					font-weight: normal;
					line-height: 20px;
					color: $pink-color;
					margin-bottom: 5px;
					padding: 0;
				}

				p{
					font-size: 13px;
					color: lighten($heading-color, 10%);
					line-height: 17px;
					margin: 0;
				}

				.cta-style{
					font-size: 14px;
					color: $pink-color;
					display: inline-block;
					text-decoration: underline;
					position: absolute;
					bottom: 15px;
				}
			}
		}
	}
	.banner-sd-card-wrap{
		.sd-card{
			height:200px;
		}
	}

	&.sidebar-ad{
		padding: 0;

		h3{
			margin-bottom: 16px;
		}
		.sd-card-wrap{
			margin-bottom: 15px;
			margin-right: 0;

			.sd-card{
				width: 100%;
				height: auto;
				background: none;
				border: none;
				display: flex;
				align-items: center;

				&:after{
					display: none;
				}

				.img-wrap{
					display: none;
				}

				.logo{
					width: 57px;
					height: 57px;
					position: relative;
					top: 0;
					left: inherit;
					padding: 5px;

					img{
						max-width: 100%;
					}
				}

				.content-details{
					padding: 0 20px 0 10px;
					width: calc(100% - 57px);

					h3{
						font-size: 14px;
					}

					.cta-style{
						display: none;
					}
				}
			}
		}
	}
}
/*mobile only*/
@media screen and(max-width: 767px){
	.sponsored-ads{
		.sd-card-wrap{
			.sd-card{
				height: auto;

				.content-details{
					.cta-style{
						position: inherit;
						bottom: inherit;
						margin-top: 38px;
					}
				}
			}
		}
	}
}
