.suggested-locality-wrap {
	margin: 20px;

	h4{
		font-size: 13px;
		color: $heading-color;
		letter-spacing: 0.5px;
		margin-bottom: 11px;
		text-transform: uppercase;
	}

	.srched-tag{
		display: inline-block;
		border: 1px solid $link-color;
		color: $link-color;
		padding: 3px 6px;
		height: 28px;
		text-align: center;
		font-size: 13px;
		margin-right: 10px;
		margin-bottom: 10px;
		background: rgba(255,255,255,0.8);
		border-radius: 14px;
		cursor: pointer;
	}

}