@import "../variables";

/* Block level css for tabs */
.tabs {
    ul {
        margin: 0;
        padding: 0;
        display: table;
        border-radius: 5px;
        border: 1px solid $link-color;
        width: 100%;

        li {
            display: table-cell;
            color: $link-color;
            line-height: 23px;
            text-align: center;
            cursor: pointer;
            font-size: $body-font-size + 2;
            position: relative;
            
            &:hover, &.selected {
                color: #fff;
                background-color: $link-color;
            }
            &.selected {
                &:before {
                    position: absolute;
                    top: -1px;
                    left: 50%;
                    content: '';
                    height: 0;
                    width: 0;
                    margin-left: -2px;
                    border: solid transparent;
                    border-color: rgba(194, 225, 245, 0);
                    border-top-color: #fff;
                    border-width: 4px;
                    pointer-events: none;
                }
            }
        }
        li + li {
            border-left: 1px solid #fff;
        }
    }
}


/***  Underlined style tabs css goes here ***/
.sleek-tabs {
    ul {
        > li {
            display: inline-block;
            padding: 10px 20px 0;
            color: #acacac;
            font-size: 13px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            .triangle {
                display: inline-block;
                padding: 10px 0 6px;
                border-bottom: solid 1px transparent;
                transition: all 0.1s ease-in-out;

                span.new-highligher{
                    font-size: 10px;
                    top: -2px;
                    padding-right: 10px;
                    vertical-align: middle;
                }
                .new-highligher:before {
                    height: 10px;
                    width: 10px;
                    right: -5px;
                }
            }

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }

            &:hover {
                color: $dark-color;
            }

            &.selected {
                color: $dark-color;

                .triangle {
                    position: relative;
                    border-bottom: solid 1px $link-color;
                }
            }
        }
    }
}


.bar-list-tabs {
    ul {
        > li {
            margin: 7px 0;
            padding: 3px 20px 3px 10px;
            border-left: solid 3px transparent;
            font-size: 14px;
            color: $lighter-color;
            cursor: pointer;

            &:hover, &.selected {
                border-left: solid 3px $link-color;
                color: $link-color;
            }
        }
    }
}

/*** Scale type tabs just like used in locality page - ideal for switching between 2 types only ***/
.scatabs {
    // width to be defined by user for each case
    margin: 0px auto;

    ul {
        display: block;
        width: 100%;
        height: 100px;                              // changeable parameter
        margin: 0;
        padding: 0;

        li {
            position: relative;
            display: block;
            float: left;
            width: 50%;
            height: 80px;                           // changeable parameter
            padding: 6px 0 4px;                     // changeable parameter
            border: 1px solid #ccc;                 // changeable parameter
            text-align: center;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:first-child, &:nth-child(0) {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            
            &:hover {
                border-color: $link-color;
            }

            &.selected {
                height: 100px;                                  // changeable parameter
                padding: 15px 0 5px;                            // changeable parameter
                margin-top: -9px;
                //transform: translateY(-9px);
                background-color: $link-color;                  // changeable parameter
                border-color: $link-color;                      // changeable parameter
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                color: #fff;

                &:before {
                    position: absolute;
                    top: -1px;
                    left: 50%;
                    content: '';
                    height: 0;
                    width: 0;
                    margin-left: -2px;
                    border: solid transparent;
                    border-color: rgba(194, 225, 245, 0);
                    border-top-color: #fff;
                    border-width: 7px;
                    pointer-events: none;
                }
            }
        }

        li + li {
            border-left: 1px solid #fff;
        }
    }
}
.new-highligher{
    font-size: 14px;
    background-color: rgba(230,36,137,0.9);
    padding: 0px 15px 2px 5px;
    color: white;
    position: relative;
}
.new-highligher:before{
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    right: -7px;
    background: white;
}


@media (max-width: 767px) {
    .sleek-tabs {
        ul {
            > li {
                padding: 10px 10px 0;
            }
        }
    }
}