.tbl-wrap {
    position: relative;
    padding: 15px 0px 0;

    .errmsg {
        position: absolute;
        left: 0;
        top: 5px;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: $link-color;
        transition: all 0.2s ease-in-out;

        &.loaderr {
            font-size: 18px;
        }
    }

    .fadeit {
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: all 0.2s ease-in-out;
    }
}


.tbl {
    width: 100%;
    padding: 0px;
    margin: 20px 0;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);

    .caps {
        text-transform: capitalize;
    }

    .link-td {
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
        //transition: all 0.3s ease-in-out;

        a{
            color: $link-color;
        }

        &.disabled {
            color: $lighter-color;
            cursor: not-allowed;
        }

        &:hover {
            background-color: $link-color;
            color: #fff;

            a{
                color: #fff;
            }

            &.disabled {
                background-color: #fafafa;
                color: $lighter-color;
            }
        }
    }

    .link-td-txt{
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
    }

    tr {

    }

    th, td {
        padding: 10px;
        border: solid 1px #ececec;
        border-collapse: collapse;
    }

    th {
        background-color: #ececec;
        font-size: 14px;
        font-weight: normal;
    }

    thead th {
        background-color: rgba(232, 28, 40, 0.06);
        border-color: #dcdcdc;
        font-size: 15px;
    }

    td {
        font-size: 13px;
    }

    tr:hover {
        td {
            background-color: #f9f9f9;
        }
    }
}

@media screen and (max-width: 768px) {
    .tbl-wrap {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        .tbl {
            width: 800px;
        }
    }
}