//card
.taxonomy-wrap {
    a {
        &:hover {
            text-decoration: none;
            outline: 0;
        }
        &:active {
            text-decoration: none;
            outline: 0;
        }
        &:focus {
            text-decoration: none;
            outline: 0;
        }
        &:visited {
            text-decoration: none;
            outline: 0;
        }
    }

    //slider
    .slider-wrap {

        .tax-card {
            margin: 20px 1px;

            > ul {
                transition: transform 0.3s ease-in-out;
            }            
        }

        .tax-icon {
            width: 196px;
            cursor: pointer;
        }
    }
}

.tax-card {
    padding: 10px;
    margin: 20px 0;
    background-color: rgba(256,256,256,0.10);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);

    .tax-icons {
        padding: 0;
    }
    img {
        max-height: 32px;
        width: auto;
    }
    .tax-icon {
        position: relative;
        margin: 4px 0px;
        padding: 12px 5px;
        border-right: solid 1px #f0f0f0;
        display: inline-block;
        width: 25%;
        min-height: 130px;
        text-align: center;
        vertical-align: middle;
        white-space: normal;
        cursor: pointer;
        &.w_1 {
            width: 100%;
        }
        &.w_2 {
            width: 50%;
        }
        &.w_3 {
            width: 33%;
        }
        &.w_4 {
            width: 25%;
        }
        &:last-child {
            border: none;
        }
        .txt-title {
            font-size: 15px;
            margin-top: 10px;
            line-height: 18px;
            color: #444;
            margin-bottom: 5px;
            text-transform: capitalize;
        }
        .txt {
            color: #909090;
            font-size: 14px;
            line-height: 16px;
            text-transform: capitalize;
        }
        a {
            display: block;
            transition: all .15s ease;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            a {
                transform: scale(1.05);
            }
        }
        ;
    }
    .icon-wrap {
        font-size: 32px;
        margin-bottom: 5px;
    }
}

//sidebar
.side-bar-tax {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0px 10px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    h2 {
        padding: 10px 5px;
        font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', sans-serif;
        color: #1c1c1c;
        font-size: 18px;
    }
    .tax-list {
        padding: 0;
        margin: 0;
        max-height: 320px;
        min-height: 165px;
        overflow-y: auto;
        overflow-x: hidden;
        list-style: none;
        li {
            margin: 0px 0px 8px;
            cursor: pointer;
            a {
                display: block;
                color: #444;
            }
            .icon-wrap {
                display: inline-block;
                width: 90px;
                height: 100%;
                border-radius: 5px;
                text-align: center;
                vertical-align: middle;
                img {
                    width: auto;
                    max-height: 38px;
                }
            }
            &:hover {
                a {
                    color: #e81c28;
                }
            }
            .txt-title {
                display: inline-block;
                line-height: 1.1;
                padding-bottom: 5px;
            }
            .tax-detail {
                position: relative;
                border-bottom: solid 1px #e9e9e9;
                padding-bottom: 8px;
                display: inline-block;
                width: calc(100% - 100px);
                text-align: left;
                vertical-align: middle;
                .txt {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 98%;
                    font-size: 13px;
                    /*color: #3c3c3c;*/
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .tax-card {
        padding: 10px 0px;
    }
}

@media (max-width: 767px) {
    .taxonomy-wrap {
        .slider-wrap {
            margin: 0px 10px;
            overflow-x: auto;
        }
    }
    .tax-pad {
        padding: 0px;
    }
    .tax-card {
        margin: 20px 2px;
        white-space: nowrap;
        width: 720px;
    }
    .tax-icon {
        width: 180px;
    }
    .side-bar-tax {
        .tax-icon {
            width: auto;
        }
    }
}
