/*============
Created on: 05/04/2018
Author: Jaswant Singh
TOB stands for text overlay banner
This css needs to be include where we want to use a Banner with text overlay over it. 
Card will adjust its with & hight according to it's parent with & height.
==============*/
.add-ellipsis{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tob-card{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;

	&:hover{
		img{
			transform: scale(1.2);
		}
	}

	img{
		width: 100%;
		height: 100%;
		display: block;
		transition: 0.3s;
		will-change: transform;
	}

	.tob-text-content{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 10px;
		min-height: 160px;
		z-index: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000000);
		display: flex;
		flex-flow: row wrap;
		align-content: flex-end;

		.tob-title{
			font-size: 18px;
			color: #fff;
			font-weight: 500;
			margin-bottom: 3px;

			@extend .add-ellipsis;
		}

		.tob-subtitle{
			font-size: 13px;
			color: $lighter-color;
			@extend .add-ellipsis;
		}

		.tob-btm-lbl{
			font-size: 16px;
			color: #fff;
			margin-top: 5px;
			font-weight: 500;
		}
	}


}