.thank-you-wrap {
    min-height: 535px;
    text-align: center;
    padding: 18px 10px;
    text-align: center;
    background-color: #ffffff;

    .thanks-head {
        max-height: 55px;
    }

    .thanks-image {
        margin: 80px 0;

        i {
            font-size: 40px;
        }

        .thanks-big-text {
            font-size: 21px;
            padding-bottom: 15px;
        }
    }

    .thank-text {
        border-top: 1px solid #ececec;
        padding: 10px 0 20px;
        font-size: 16px;
    }

    .ttl {
        font-size: 16px;
    }
    .journey-img-wrap {
        width: 200px;
        height: 120px;
        margin: 10px auto;
        background: url(/images/un-versioned/lead-house.png) no-repeat left top;

        &.homeloan {
            width: 60px;
            height: 60px;
            margin: 20px auto;
            background: url(/images/taxonomy-icon/default8.png) no-repeat center;
            background-size: 60px;
        }
    }
}

// changes exclusively for the sleek leadform (example project and property page)
.leadform-details {

    .thank-you-wrap {
        min-height: 450px;

        .thanks-image {
            margin: 50px 0;
        }
    }

    &.notpopup {
        .thank-you-wrap {
            min-height: 200px;

            .thanks-image {
                margin: 25px 0;
            }
            .thank-text {
                padding-top: 40px;
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .thank-you-wrap {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}
