/* css for tooltip */
.mp-tooltip {
    position: absolute;
    min-width: 160px;
    padding: 10px 12px;
    opacity: 0;
    visibility: hidden;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
    text-align: left;
    color: #454545;
    font-size: $body-font-size - 1;
    line-height: 1;
    transition: all .3s ease;
    z-index: 10;

    &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #fff;
        transform: rotate(45deg); /* Prefixes... */
    }

    &.bot {
        top: 120%;
        right: -5px;
        &:before {
            top: -5px;
            right: 10px;
        }
    }
    &.top {
        bottom: 120%;
        right: -5px;
        &:before {
            bottom: -5px;
            right: 10px;
        }
    }
    &.left {
        right: 100%;
        top: -8px;
        &:before {
            right: -5px;
            top: 10px;
            transform: rotate(135deg);
        }
    }
    &.center {
        left: 50%;
        top: calc(100% + 10px);
        transform: translateX(-50%);
        &:before {
            left: 50%;
            top: -5px;
            margin-left: -5px;
            transform: rotate(135deg);
        }
    }
    &.right {
        left: 100%;
        top: 0;
        &:before {
            left: -5px;
            top: 10px;
            transform: rotate(135deg);
        }
    }
}
