// this page scss belongs to the new leadform page.
// If you want to use this css just include it in your page.
// Author: Nimit Mangal
// Date: 07 May 2016

.top-seller-pyr-module {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px 10px 20px;
    background-color: #fff;

    .title {
        padding: 20px 10px;
        text-align: center;
        font-size: 16px;

        .highlight {
            font-weight: bold;
        }

        .loc {
            color: $lighter-color;
            font-size: 13px;
            text-transform: capitalize;
        }
    }

    .hdng {
        padding: 20px 10px 5px;
        text-align: center;
        font-size: 24px;
        line-height: 1.25;
        font-weight: 500;
    }

    .slogan {
        padding-bottom: 20px;
        text-align: center;
        font-size: 18px;
        line-height: 1.15;
    }

    .infoicon {

    }

    .row-wrap {

    }

    .seller-col {
        display: block;
        float: left;
        width: 50%;
        border-right: solid 1px #ececec;
    }

    .seller-list {
        position: relative;
        width: 320px;
        margin: 0 auto;
        padding: 0px 20px 120px;
        text-align: center;
    }

    // seller img width
    $siw: 48px;

    .seller-img-box {
        width: $siw;
        height: $siw;
        margin: 0 auto;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        border: 1px solid #cdcdcd;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ccc;

        img {
            width: 100%;
            height: auto;
        }

        .initial {
            font-size: 28px;
            line-height: $siw;
            text-transform: uppercase;
            //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
        }
    }

    .seller-dtl {
        position: absolute;
        top: 60px;
        left: 0;
        min-width: 280px;
        width: calc(100% - 20px);
        height: 60px;
        padding: 5px 5px 10px;
        margin: 0 10px;
        border-top: solid 1px #ececec;
        border-bottom: solid 1px #ececec;
        line-height: 1.5;
        z-index: 1;

        .leagalname {
            @include putellipsis;
            max-width: calc(100% - 80px);
            color: #1c1c1c;
            font-weight: 500;
            font-size: 16px;
            text-transform: capitalize;
        }

        .seller-type {
            color: $lighter-color;
            font-size: 13px;
            text-transform: lowercase;
        }

        .match-count {
            @include putellipsis;
            color: $light-color;
            font-size: 12px;
        }
    }

    .sellerbox {
        display: inline-block;
        vertical-align: middle;

        .sibox-wrap {
            position: relative;

            &:before, &:after {
                display: none;
                position: absolute;
                bottom: -13px;
                content: '';
                width: 0px;
                height: 0px;
                z-index: 2;
            }

            &:before {
                left: calc(#{$siw} / 2 - 5px);
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #afafaf;
            }

            &:after {
                left: calc(#{$siw} / 2 - 5px + 1px);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #fff;
            }
        }

        .seller-img-box {
            transform: scale(0.8);
            transition: transform 0.2s ease-in-out;
            cursor: pointer;
        }

        .seller-dtl {
            display: none;
            text-align: left;
        }

        &:hover {
            .seller-img-box {
                transform: scale(1);
            }
        }

        &:hover, &.active {
            .sibox-wrap {
                &:before, &:after {
                    display: block;
                }
            }
            .seller-dtl {
                display: block;
            }
        }

        &.first.active {
            .seller-img-box {
                transform: scale(0.8);
            }
        }
    }

    .form-col {
        display: block;
        float: right;
        width: 50%;
    }

    .form-row {
        max-width: 320px;
        margin: 0 auto;
        padding: 15px 10px 0px;
        text-align: left;
    }

    .imgicon-wrap {
        display: inline-block;
        width: 50px;
        padding-left: 10px;
        vertical-align: 9px;

        img {
            width: 40px;
        }
    }

    .country-dd {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        max-width: 170px;

        .thoverlay {
            z-index: 3;
        }

        .fc-wrap .fc {
            border-bottom: 1px solid #ccc;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-bottom: 6px;
            margin-top: 18px;

            label {
                top: 20px;
            }

            i {
                font-size: 9px;
                right: 2px;
                top: 37px;
            }
        }

        .select-dropdown {
            max-height: 240px;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }

    .fc-wrap.selectbox {
        min-width: 90px;
        width: 100%;
    }

    .country-code-contact {
        width: calc(100% - 32% - 70px);
        height: auto;
        display: inline-block;
        position: relative;
        vertical-align: middle;

        &.withouticon {
            width: calc(100% - 33%);
            margin-left: 1%;
        }

        .countryCode {
            padding-left: 5px;
            padding-right: 5px;
            position: absolute;
            left: -2px;
            bottom: 3px;
            width: 38px;
            color: #666;
            font-size: 1em;
        }

        .input-box {
            margin-top: 30px;

            label {
                left: 36px;
                top: 7px;
            }
        }

        .fc-wrap:focus label,
        .fc-wrap.focus label,
        .fc-wrap.active label{
            top: -10px;
            left: 0;
        }
    }

    .error-msg {
        font-size: 12px;
    }

    .chkbox-wrap {
        text-align: center;

        label.checkboxlbl {
            .txt {
                font-size: 11px;
            }
            input[type=checkbox]:checked+.txt:after {
                width: auto;
            }
        }

        .tooltip-wrap {
            position: relative;

            .mp-tooltip {
                min-width: 240px;
                font-size: 12px;
                line-height: 1.23;
                text-transform: none;
            }

            &:hover {
                .mp-tooltip {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .infoo {
            display: inline-block;
            width: 17px;
            height: 19px;
            border: solid 1px #bcbcbc;
            border-radius: 50%;
            text-align: center;
            color: #999;
            font-size: 11px;
            transition: color 0.2s ease-in;
            text-decoration: none;
            cursor: pointer;
            vertical-align: text-bottom;

            &:hover {
                color: $link-color;
            }
        }
    }

    .note-txt {
        padding-top: 15px;
        color: #6c6c6c;
        font-size: 12px;
        line-height: 1.15;
        margin-bottom: 15px;

        &.top-seller-txt{
            padding-top: 0px;
        }
    }

    .btn-wrap {
        position: absolute;
        bottom: 5px;
        right: 5px;

        .txtlink {
            padding-right: 10px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
            text-transform: capitalize;
        }

        .show-error {
            position: absolute;
            bottom: 40px;
            right: 10px;
            color: red;
            font-size: 11px;
            line-height: 1;
        }
    }

    /**** for otp step [step2]  ****/
    .otp-topseller-pane {
        padding: 0 0 50px 0;

        .userdtls-col {
            padding: 0 20px 0 40px;

            .input-box {
                margin: 25px 0 0 0;
                width: 250px;
            }
        }

        .otp-pane-col {
            padding: 0 20px 0 40px;

            .verification-wrap {
                padding-top: 25px;

                .otp-sent-statement {
                    display: none;
                    padding-bottom: 10px;
                    font-size: 16px;
                }

                .otp-request {
                    color: gray;
                    padding-bottom: 11px;
                }

                .otp-code-value {
                    position: relative;
                    margin: 10px 0;
                    height: 30px;
                    width: 220px;

                    &:before {
                        content: '_____ \00a0 \00a0 _____  \00a0 \00a0 _____  \00a0 \00a0 _____';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 200px;
                        z-index: 1;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        width: 20px;
                        height: 30px;
                        background-color: #fff;
                        z-index: 101;
                    }

                    input {
                        position: relative;
                        z-index: 2;
                        border: none;
                        width: 220px;
                        padding-left: 10px;
                        letter-spacing: 39px;
                        outline: none;
                        font-size: 18px;
                        text-align: left;
                    }
                }
            }

            .resetbtn-wrap {
                padding-top: 11px;

                .txtlink {
                    padding-right: 10px;
                    color: $link-color;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .resendtxt{
                    border-left: solid 1px #ccc;
                    padding: 0 0 0 15px;
                }

            }
        }

        .backbutton {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 8px 8px 8px 12px;
            font-size: 21px;
            cursor: pointer;
        }
    }

    .step-3 {
        .link {
            color: $link-color;
        }

        .le-title {
            padding: 10px 10px 15px;
            color: $light-color;
            font-size: 16px;
            line-height: 1.15;
            font-weight: bold;
        }

        .thank-pane {
            padding: 10px 10px 85px;
            background-color: #fff;
            text-align: center;
        }

        .second-pane {
            position: relative;
            padding: 40px 20px 60px;
            background-color: #fafafa;
            border-top: solid 1px #dcdcdc;
            text-align: center;
        }

        .w320 {
            width: 320px;
            margin: 0 auto;
        }

        .journey-img-wrap {
            position: absolute;
            top: -80px;
            left: 0;
            width: 100%;
            text-align: center;

            .bgimg {
                display: inline-block;
                background: url(/images/lead-house.png) no-repeat center top;
                width: 197px;
                height: 120px;
                background-size: 85%;
            }
        }
    }
}

@media screen and (min-width: 769px) and  (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
    .top-seller-pyr-module {
        width: calc(100% - 20px);
        margin: 10px auto 20px;

        .title {
            .highlight {
                display: none;
            }

            .loc {
                display: none;
            }
        }

        .seller-col {
            width: 100%;
            border-right: none;
            border-bottom: solid 1px #ececec;
        }

        .seller-list {
            padding: 0 20px 105px;
        }

        .seller-dtl {
            min-width: 260px;
            border-bottom: none;
        }

        .form-col {
            width: 100%;
            margin-bottom: 65px;
        }
    }
}

@media screen and (max-width: 320px) {
    .top-seller-pyr-module {

        .seller-list {
            width: 280px;
            padding: 0 10px 105px;
        }

        .form-row {
            max-width: 280px;
        }

        .country-code-contact{
            &.withouticon {
                width: calc(100% - 38%);
                margin-left: 20px;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .top-seller-pyr-module {
        min-height: 285px;

        .row-wrap {
            //margin-top: 30px;
        }

        .otp-topseller-pane {
            .userdtls-col {
                float: left;
                width: 50%;
                padding-left: 80px;
                padding-right: 30px;
            }
            .otp-pane-col {
                float: left;
                width: 50%;
                padding-left: 30px;
                padding-right: 70px;

                .verification-wrap {
                    .otp-sent-statement {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) {
}
