// this page scss belongs to the new leadform page.
// If you want to use this css just include it in your page.
// Author: Nimit Mangal
// Date: 23 June 2016

.tsl-step {
    .rp{
        .fv-title-icon {
            text-align: center;
            img {
                width: 45px;
            }
        }
        .rp-title-icon {
            text-align: center;
            img {
                width: 90px;
            }
        }
        .fv-content{
            padding: 20px 50px 0px 50px;
            border-top: solid 1px #ccc;
            text-align: center;
        }
        .pr-content{
            padding-top: 20px;
            border-top: solid 1px #ccc;
            text-align: center;
        }
        .rp-title{
            padding-top: 20px;
        }
    }
    .title {
        padding: 5px 10px 20px;
        text-align: center;
        font-size: 16px;

        .highlight {
            display: inline-block;
            font-weight: bold;
        }

        .loc {
            color: $lighter-color;
            font-size: 13px;
        }
    }

    .seller-list {
        position: relative;
        min-width: 280px;
        margin: 0 auto;
        padding: 0px 0px 70px;
        text-align: center;
    }

    // seller img width
    $siw: 48px;

    .seller-img-box {
        width: $siw;
        height: $siw;
        margin: 0 auto;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        border: 1px solid #cdcdcd;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #ccc;

        img {
            width: 100%;
            height: auto;
        }

        .initial {
            font-size: 28px;
            line-height: $siw;
            text-transform: uppercase;
            //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
        }
    }

    .seller-dtl {
        position: absolute;
        top: 60px;
        left: 0;
        width: 75%;
        width: calc(100% - 40px);
        height: 55px;
        padding: 5px 5px 10px;
        margin: 0 20px;
        border-top: solid 1px #ececec;
        border-bottom: solid 1px #ececec;
        line-height: 1.5;
        z-index: 1;

        .name-wrap {
            display: flex;
            flex-flow: row wrap;
        }

        .leagalname {
            @include putellipsis;
            max-width: calc(100% - 80px);
            color: #1c1c1c;
            font-size: 14px;
            text-transform: capitalize;
        }

        .seller-type, .match-count {
            color: $light-color;
            font-size: 12px;
        }

        .seller-type {
            padding: 0 3px;
        }

        .seller-type ~ .leagalname {
            max-width: 80%;
            max-width: calc(100% - 45px);
        }

        .rating-wrap {
            width: 65px;
        }
    }

    .sellerbox {
        display: inline-block;
        vertical-align: middle;

        .sibox-wrap {
            position: relative;

            &:before, &:after {
                display: none;
                position: absolute;
                bottom: -13px;
                content: '';
                width: 0px;
                height: 0px;
                z-index: 2;
            }

            &:before {
                left: calc(#{$siw} / 2 - 5px);
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #afafaf;
            }

            &:after {
                left: calc(#{$siw} / 2 - 5px + 1px);
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #fff;
            }
        }

        .seller-img-box {
            transform: scale(0.8);
            transition: transform 0.2s ease-in-out;
            cursor: pointer;
        }

        .seller-dtl {
            display: none;
            text-align: left;
        }

        &:hover {
            .seller-img-box {
                transform: scale(1);
            }
        }

        &:hover, &.active {
            .sibox-wrap {
                &:before, &:after {
                    display: block;
                }
            }
            .seller-dtl {
                display: block;
            }
        }

        &.first.active {
            .seller-img-box {
                transform: scale(0.8);
            }
        }
    }

    //// form section starts

    .imgicon-wrap {
        display: inline-block;
        width: 50px;
        padding-left: 10px;
        vertical-align: 9px;

        img {
            width: 40px;
        }
    }

    .fc-wrap {
        .error-msg {
            font-size: 12px;
        }
    }
}

.leadenquiry-container.tsl-step {
    background-color: #fff;

    .second-pane {
        border-top: none;
        padding: 0 0 10px;
    }
}

@media screen and (min-width: 768px) and  (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
    .tsl-step {

    }
}

@media screen and (max-width: 320px) {
    .tsl-step {

    }
}

@media screen and (min-width: 768px) {
    .tsl-step {
        min-height: 285px;
    }
}

@media screen and (min-width: 1024px) {
}
