// Description: 
// Author: Nimit Mangal
// Date: 24 Feb 2017

@import "seller-card";

.to-fix {
    &.posfix {
        position: fixed;
        top: $hdrheight;
    }
}

// animation
@keyframes movein {
    0% { transform: translateX(350px); opacity: 0; }
    100% { transform: translateX(0px); opacity: 1; }
}
.move {
    transform: translateX(320px);
    opacity: 0;

    &.inn {
        animation: movein 1000ms ease 0ms 1;
        animation-fill-mode: forwards;
    }
    &.in0 {
        animation: movein 1000ms ease 400ms 1;
        animation-fill-mode: forwards;
    }
    &.in1 {
        animation: movein 1000ms ease 800ms 1;
        animation-fill-mode: forwards;
    }
    &.in2 {
        animation: movein 1000ms ease 1200ms 1;
        animation-fill-mode: forwards;
    }
    &.in3 {
        animation: movein 1000ms ease 1550ms 1;
        animation-fill-mode: forwards;
    }
    &.in4 {
        animation: movein 1000ms ease 1750ms 1;
        animation-fill-mode: forwards;
    }
    &.in5 {
        animation: movein 1000ms ease 1850ms 1;
        animation-fill-mode: forwards;
    }
}

.top-sellers-badge-head{
    height: 20px;
}

.top-sellers {
    position: relative;
    width: 380px;
    margin: 20px 0px 0px 0;
    text-transform: none;
    padding-bottom: 10px;

    .badgewrap {
        width: 70px;
        float: left;
        margin-bottom: 10px;
        display: none;
    }

    h2 {
        color: #292929;
        font-size: 18px;
        line-height: 1.2;
        font-family: $roboto;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .h2 {
        font-size: 20px;
        font-weight: 500;

        .loc {
            font-size: 16px;
            font-weight: normal;
            text-transform: capitalize;
        }
    }

    .badgewrap ~ h2 {
        float: left;
        width: calc(100% - 70px);
    }

    .badgewrap ~ .h2 {
        float: left;
        width: calc(100% - 70px);
    }

    .sellerbox-wraper {

        h3 {
            margin: 15px 0 0px;
            color: $lighter-color;
            font-size: 16px;
            line-height: 1;
            font-family: $roboto;
        }

        .seller-card {
            margin-top: 0;
            margin-right: 0;
        }

        .cbtn {
            margin-top: 20px;
        }

        .top-sellers-head {
            padding: 0 16px;

            p{
                margin: 0 0 10px 0;
                color: $lighter-color;
                font-size: 13px;
            }
        }

        &.cityexpert {

            .top-sellers-head {
                padding: 16px;
                background: url(/images/homepage/new/cityexperts-pattern.png) no-repeat right #fbe4b2;
                background-size: cover;

            p {
                    margin: 10px 0 0 0;
                    font-size: 13px;
                    color: $title-color;
                }
            }

            h2 {
                font-size: 20px;

                .loc {
                    font-size: 16px;
                    font-weight: normal;
                    text-transform: capitalize;
                }
            }

            .h2 {
                font-size: 20px;
                font-weight: 500;

                .loc {
                    font-size: 16px;
                    font-weight: normal;
                    text-transform: capitalize;
                }
            }

            .seller-card {
                background-color: #fff;
            }
        }
    }
}

// fallback containers css starts
// SCSS for the sidebar card template
.fallback-container {
    margin-top: 25px;
}
.sidebarcard {
    display: block;
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border: solid 1px #dcdcdc;
    cursor: pointer;

    &.rb-properties{
        background: #e7248a;
        padding: 10px 20px;
        position: relative;
        cursor: pointer;

        .sbc-txt{
            text-align: left;
            color: #fff;
            font-size: 18px;
        }

        .sbc-l-col{
            width: 60%;
        }

        .sbc-r-col{
            width: 40%;
        }

        .sbc-link{
            position: absolute;
            bottom: 10px;
            color: #fff;
            font-size: 14px;
            right: 20px;
        }

        .icon-wrap{
            background: #fff;
            width: 124px;
            height: 124px;
            border-radius: 100%;
            border: 6px solid #ff7fc0;
            box-shadow: 0 0 10px rgba(0,0,0,0.4) inset;
            text-align: center;
            line-height: 118px;
            position: relative;

            &:after{
                content: '';
                position: absolute;
            }

            img{
                display: inline-block;
            }
        }
    }

    &.appacard {
        padding: 0;

        .biglink {
            padding: 20px;
        }
    }

    .sbc-l-col {
        float: left;
        width: 70%;
        padding-right: 10px;
    }

    .sbc-hdng {
        color: $dark-color;
        font-size: 18px;
        font-family: $roboto;
        padding-bottom: 10px;
    }

    .sbc-txt {
        color: $lighter-color;
        font-size: 14px;
        padding-bottom: 10px;
    }

    .sbc-link {
        .link {
            color: $link-color;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .sbc-r-col {
        float: right;
        width: 30%;
        padding-top: 20px;
        text-align: right;

        i {
            font-size: 64px;
            color: $link-color;
        }
    }
}
// fallback containers css ends


// twostepPYR overwrites
#twosteppyr-popup {
    .leadenquiry-container.step1.home-loan-lead {
        text-align: center;

        .second-pane {
            border-top: none;
        }
    }
    .fc-wrap.full-width {
        display: block;
    }
}