// Description:
// Author: Nimit Mangal
// Date: 24 Feb 2017

@import "seller-card";

.top-sellers {
    position: relative;
    padding: 20px 0px 10px;
    text-transform: none;

    // Banner for Top Sellers after some listings STARTS
    .top-sellers-badge-head {
        padding: 0 0 0 20px;
    }

    .badgewrap {
        width: 70px;
        float: left;
        margin-bottom: 10px;
    }

    h2 {
        padding-top: 10px;
        color: $dark-color;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: capitalize;

        &:before{
            display: none;
        }
    }

    .h2 {
        padding-top: 10px;
        color: $dark-color;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: capitalize;

        &:before{
            display: none;
        }
    }
    // Banner for Top Sellers after some listings ENDS

    // List for top sellers STARTS
    .sellerbox-wraper {
        width: 100%;
        padding: 0 20px 20px;
        overflow-x: auto;
        overflow-y: hidden;

        &:after {
            content:'';
            display: block;
            height: 0;
            clear: both;
        }
    }

    .seller-list {
        width: 300px;
    }

    // Top seller card STARTS
    .seller-card {
        float: left;
        width: 300px;
        margin-right: 20px;
        box-shadow: 0 1px 5px 0px rgba(0,0,0,0.15);
    }
    // Top seller card ENDS

    // List for top sellers ENDS


    // overwrites for cityexpert cases
    &.cityexpert {
        background: url(/images/homepage/new/cityexperts-pattern.png) no-repeat right #fbe4b2;
        background-size: cover;
        //width: calc(100% + 20px);
        margin-left: -10px;

    }
}

// twostepPYR overwrites
#twosteppyr-popup {
    .leadenquiry-container.step1.home-loan-lead {
        text-align: center;

        .second-pane {
            border-top: none;
        }
    }
    .fc-wrap.full-width {
        display: block;
    }
}
