
@import "developer-summary-card";

.top-developer-ad-banner{
	display: flex;

	.tdab-content-wrap{
		position: relative;
		padding: 38px 10px 19px;
		min-width: calc(100% - 266px);
		width: calc(100% - 266px);

		.td-badge{
			position: absolute;
			left: 0;
			top: 0;
			padding: 3px 8px;
			background: rgba(0,0,0,0.7);
			color: #fff;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: 500;
		}
	}

	.tdab-img-wrap{
		width: 266px;
		height: 280px;
		overflow: hidden;

		img{
			width: 100%;
			min-height: 100%;
			height: auto;
			transition: 0.3s;
			will-change: transform;
		}
	}

	&:hover{

		.developer-summary-card{ 
			.dsc-content-wrap {
				h4{
					color: $theme-color;
				}
			}
		}

		.tdab-img-wrap{

			img{
				transform: scale(1.2);
			}
		}
		
	}

}