@import "../variables";
@import "../mixins/ellipsis";

.thcontainer {
    position: relative;

    .srch-gif {
        position: absolute;
        top: 28px;
        left: 5px;
        width: calc(100% - 53px); //-5px-48px
        color: #acacac;
        font-size: 14px;
        z-index: 9;
    }
}

.thoverlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 3;
}

// typeahead input box
.thinput {
    position: relative;
    display: inline-block;
    width: 98%;
    background: transparent;
    border: none;
    outline: 0;
    color: #454545;
    cursor: pointer;
    position: relative;
    z-index: 999;
    transition: all 500ms ease-in-out;

    &:focus {
        outline: none;
    }

    &.disable {
        opacity: 0;
        visibility: hidden;
    }
}

.thinput.no-left-padding {
    padding-left: 5px;
}

// loader icon for search
.search-loader {
    height: auto;
    margin: 0;
    padding: 2px 0 5px;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: all 0.20s ease;

    &.playopacity {
        height: 0;
        padding: 0;
        visibility: hidden;
        opacity: 0;
    }
}

// typeahead dropdown list
.thdd {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    background: #fafafa;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.125);
    transition: all 500ms ease-in-out;
    z-index: 1060;

    .hdng {
        padding-bottom: 3px;
        border-bottom: solid 1px #ccc;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    strong {
        display: block;
        padding: 15px 20px 5px;
        font-size: 14px;
        font-weight: 500;
    }

    ul {

        li {
            padding: 0 20px;
            cursor: pointer;

            .result-row {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 12px 0;
                position: relative;

                &:after {
                    display: block;
                    clear: both;
                    content: '';
                }
            }

            [class*="icon-"] {
                width: 30px;
                font-size: 21px;
            }

            .result-type {
                width: calc(100% - 30px);
            }

            .type {
                color: #adadad;
                font-size: 11px;
                text-transform: capitalize;
            }

            .result {
                font-size: 13px;
                @include putellipsis;
            }

            &.hover {
                background-color: #ececec;

                .result {
                    color: $link-color;
                }

                // [class*="icon-"] {
                //     &:before {
                //         color: #fff;
                //     }

                //     [class*="path"]:before {
                //         color: #fff;
                //     }
                // }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .thcontainer {
        .srch-gif {
            top: 30px;
            width: 450px;
            left: 20px;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 320px) {
    .thcontainer {
        .srch-gif {
            top: 20px;
        }
    }
}
