@keyframes vernac_attention {
  0% {transform: translateX(-15px);}
  25% {transform: translateX(0px);}
  75% {transform: translateX(0px);}
  100% {transform: translateX(15px);}
}
.vernac-switch {
	height: 100px;
	padding: 6px;
	background: #feebec;
	animation-name: vernac_attention;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	.v-link {
		color: #e22220;
		line-height: 26px;
		font-weight: 500;
	}
	header {
		height: 86px;
		width: 120px;
		line-height: 65px;
		overflow: hidden;
		float: left;
	}
	footer {
		font-size: 12px;
		color: #4b4b4b;
	}
	span {
		font-weight: 500;
		font-size: 14px;
		white-space: nowrap;
		line-height: 26px;
		color: #232323;
	}
}