@import "../variables";

.coupon-wrap{
    max-width: 767px;
    border-radius: 25px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 6px -1px rgba(68,68,68,0.6);
    text-align: center;
    padding: 40px 0 30px;
    margin: 30px auto;
    &.no-serviceScreen{
        padding-top: 0;
        overflow: hidden;
        max-width: 650px;
        .subscribe-box{
            padding: 40px 10px;
        }
        .bot-wrap{
            padding: 35px 20px;
        }
    }
    h2.heading{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .alliancename-sprt{
        a{
            color: $link-color;
        }
    }
    .mobilenumber{
        font-size: 36px;
        color: $link-color;
        .sprt-txt{
            font-size: 14px;
            color: $body-color;
        }
    }
    .couponcode{
        border: 2px dashed $link-color;
        border-radius: 8px;
        padding: 14px 10px;
        max-width: 370px;
        width: 85%;
        margin: 8px auto 18px;
        position: relative;
        text-align: left;
        .code{
            width: 70%;
            text-align: center;
            display: inline-block;
            font-size: 24px;
            text-transform: none;
        }
        .copy{
            background-color: $link-color;
            color: #ffffff;
            display: inline-block;
            width: 29%;
            font-size: 16px;
            position: absolute;
            right: -2px;
            top: -2px;
            padding: 22px;
            cursor: pointer;
            text-align: center;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    .subscribe-box{
        background-color: #faf8f9;
        padding: 26px 10px;
        .thankyu-txt{
            font-size: 16px;
            text-align: center;
        }
        .email-box{
            .input-box{
                margin: 6px auto 25px;
                width: 75%;
                position: relative;
                .error-msg{
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                }
            }
        } 
        .tick-box{
            width: 24px;
            height: 23px;
            padding: 1px;
            text-align: center;
            position: relative;
            background-color: transparent;
            border: 1px solid $link-color;
            border-radius: 3px;
            color: $lighter-color;
            cursor: pointer;
        }
        .new-deals{
            position: relative;
            max-width: 360px;
            margin: 10px auto 20px;
        }
        input[type="checkbox"]{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
        input[type="checkbox"]:checked ~ .tick-box{
            background-color: $link-color;
            i{
                color: #ffffff;
            }
        }
        .gry-txt{
            color: $lighter-color;
            margin-top: 0;
        }
    }
    .explore{
        color: $link-color;
        font-size: 18px;
        margin-bottom: 14px;
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .coupon-wrap{
        margin: 0 auto;
        box-shadow: none;
        border-radius: 0;
        h2.heading{
            font-size: 16px;
        }
        .couponcode{
            padding: 5px 10px;
            margin: 8px auto 33px;
            .code{
                font-size: 23px;
            }
            .copy{
                padding: 12px;
            }
        }
        .bot-wrap{
            margin-top: 30px;
        }
    }
}