@import "../variables";
.breadcrumb-seo {
    padding-left: 10px;
    line-height: 1;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0px;
    max-height: 45px;
    max-width: 100%;
    .bcSnippet {
        display: inline-block;
        height: 18px;
        padding: 0 5px;
        border: 1px solid #CCC;
        border-radius: 5px;
        font-size: 18px;
        background: #EEE;
        overflow: hidden;
    }
    .down-wrap {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        margin: 5px 0px 0px 15px;
        .down-arrow {
            height: 10px;
            width: 10px;
            border-top: solid 2px #999;
            border-right: solid 2px #999;
            display: inline-block;
            transform: rotate(135deg);
        }
    }
    .breadcrumb-list {
        display: inline-block;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        max-width: 86%;
        max-width: calc(100% - 45px);
        padding-bottom: 20px;
    }
    .bc-link:after {
        display: none;
    }
    .bclink {
        display: inline-block;
        position: relative;
        margin: 0px 3px 0px;
        padding: 5px;
        text-transform: capitalize;
        &:first-child {
            margin-left: 0px;
            padding-left: 0px;
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            ul {
                display: none;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: -8px;
            top: 50%;
            width: 5px;
            height: 5px;
            border-right: 1px solid #777;
            border-top: 1px solid #777;
            transform: rotate(45deg) translateY(-50%);
        }
        a.txt {
            border: none;
            color: #666;
            font-size: 13px;
            line-height: 16px;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: $link-color;
            }
            &.grey-link {
                border: none;
                color: $lighter-color;
                cursor: default;
            }
        }
        ul {
            display: none;
            z-index: 999;
        }
    }
    &.bc-mobile {
        white-space: normal;
        overflow-x: hidden;
        overflow-y: hidden;
        max-height: 100%;
        width: 95%;
        .breadcrumb-list {
            padding: 0px;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
        }
        .down-wrap {
            display: none;
        }
        .bclink {
            display: block;
            position: relative;
            margin: 0px 10px 0px;
            padding: 8px 0px;
            border-bottom: solid 1px rgba(220, 220, 220, .4);
            a.txt {
                border-bottom: dashed 1px #e81c28;
                overflow: hidden;
                max-width: 90%;
                text-overflow: ellipsis;
                display: inline-block;
                white-space: nowrap;
                &.grey-link {
                    border: none;
                    color: #999;
                    cursor: default;
                }
            }
            &:before {
                display: none !important;
                content: '';
                position: absolute;
                left: -6px;
                top: 14px;
                width: 7px;
                height: 7px;
                border-right: 1px solid #777;
                border-top: 1px solid #777;
                transform: rotate(45deg) translateY(-50%);
                opacity: .5;
            }
            &:first-child {
                &:hover {
                    padding: 8px 0px;
                    border-bottom: solid 1px rgba(220, 220, 220, 0.4);
                }
                &:after {
                    display: none;
                }
            }
            &:after {
                display: block;
                content: '';
                opacity: 1;
                z-index: 1000;
                position: absolute;
                left: initial;
                right: 12px;
                top: 8px;
                width: 7px;
                height: 7px;
                border-right: 1px solid #444;
                border-top: 1px solid #444;
                border-bottom: none;
                transform: rotate(135deg);
            }
            ul {
                max-height: 0px;
                overflow: hidden;
                position: relative;
                left: 0;
                top: 0;
                border: none;
                background: none;
                box-shadow: none;
                padding: 5px 10px;
                li {
                    white-space: normal;
                    padding: 5px 5px;
                    margin: 0px 10px;
                }
            }
            &.no-child {
                &:after {
                    display: none !important;
                }
                &:hover {
                    ul {
                        display: none;
                    }
                }
                ;
            }
            &:hover {
                ul {
                    display: block;
                    max-height: 1000px;
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}