@import "../variables";
.breadcrumb-seo {
    padding-left: 10px;
    line-height: 1;
    .bcSnippet {
        display: inline-block;
        height: 16px;
        padding: 0 5px;
        border: 1px solid #CCC;
        border-radius: 5px;
        font-size: 12px;
        line-height: 16px;
        background: #EEE;
        overflow: hidden;
    }
    .bclink {
        position: relative;
        display: inline-block;
        margin: 0px 6px 0px;
        padding: 5px;
        text-transform: capitalize;

        &:first-child {
            margin-left: 0px;
            padding-left: 0px;

            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            &:hover {
                padding: 5px 5px 5px 0px;
                border: none;
                background-color: transparent;
                box-shadow: none;
                & + .bclink {
                    &:before {
                        display: block;
                    }
                }
                ul {
                    display: none;
                }
            }
            ul {
                display: none;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: -12px;
            top: 13px;
            width: 5px;
            height: 5px;
            border-right: 1px solid #777;
            border-top: 1px solid #777;
            transform: rotate(45deg) translateY(-50%);
        }
        &:after {
            display: none;
            content: '';
            position: absolute;
            opacity: 0;
            z-index: 1000;
            left: 0;
            bottom: -1px;
            width: 100%;
            border-bottom: solid 1px #fff;
        }
        &:last-child {
            margin-right: 0;
        }
        a.txt {
            border: none;
            color: #7c7c7c;
            font-size: 12px;
            line-height: 16px;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: $link-color;
            }
            &.grey-link {
                border: none;
                color: #ccc;
                cursor: default;
                &:hover {
                    border: none;
                    color: #ccc;
                    cursor: default;
                }
            }
        }
        ul {
            display: none;
            position: absolute;
            z-index: 999;
            left: -1px;
            top: 100%;
            border: solid 1px #eee;
            border-radius: 2px;
            border-top-left-radius: 0px;
            padding: 5px 10px;
            background-color: #fff;
            li {
                padding: 3px 5px !important;
                white-space: nowrap;
                border: none !important;
            }
        }
        &.sub-menu {
            &:hover {
                border: solid 1px #eee;
                background-color: #fff;
                & + .bclink {
                    &:before {
                        //display: none;
                    }
                }
                &:before {
                    //display: none;
                }
                ul {
                    display: inline-block;
                    a.txt {
                        max-width: 200px;
                    }
                }
                &:after {
                    opacity: 1;
                    display: block;
                }
            }
        }
    }
    a.txt {
        max-width: 200px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 17px;
    }
}