//this css is desktop version for buyer dashboard
@import "../variables";
@media screen and (min-width: 767px) {
    $backgroundColor: #fbfbfb;
    .addEventWrap {
        position: relative;
        top: 0;
        .popup-content {
            max-height: 525px;
            padding-bottom: 70px;
            overflow-y: auto;
        }
    }
    .ad-n-event-popup-box {
        min-width: 570px;
        min-height: 515px;
        border-radius: 3px;
        overflow: hidden;
        .congratulation-txt {
            margin: 25px auto;
            padding-right: 30px;
            .thankyou-icon {
                margin-bottom: 10px;
            }
        }
        .popup-head {
            .clse-btn {
                font-size: 19px;
                top: 15px;
            }
        }
        .popup-content {
            padding-right: 0;
            overflow-y: hidden;
            ul.agent-list {
                min-height: 250px;
                width: 100%;
                padding-right: 10px;
                margin-bottom: 75px;
                position: relative;
                li {
                    width: 96%;
                    &:last-child {
                        margin-bottom: 46px;
                    }
                }
            }
            .propCardWrap {
                height: 250px;
            }
        }
        .review-agent {
            padding-right: 25px;
        }
    }
    .d-redeem-wrap {
        max-width: 767px;
        margin: 0 auto;
    }
    .d-dashboard-wrap {
        background-color: $backgroundColor;
        position: relative;
        padding: 10px 0;
        width: 100%;
        min-height: 500px;
        .heading {
            h2 {
                font-size: 24px;
            }
        }
        .sub-heading {
            margin-top: 10px;
            margin-bottom: 30px;
            .icon {
                color: $link-color;
                margin-right: 5px;
            }
        }
        .bot-heading {
            margin-bottom: 50px;
            font-size: 20px;
        }
        .article-txt-info {
            .heading {
                margin-bottom: 10px;
            }
        }
        .buyer-db-wrap {
            text-align: center;
            .propCard {
                .clse {
                    position: absolute;
                    top: 10px;
                    right: 14px;
                    z-index: 999;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;
                    &:hover {
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
                .prop-info-wrap {
                    text-align: left;
                }
            }
        }
        .sub-tab {
            text-align: center;
            ul {
                li {
                    margin-right: 6%;
                    &.selected {
                        // .content:before, .content:after{
                        //     left: 23%;
                        // }
                    }
                }
            }
        }
        .no-content {
            padding-top: 16%;
            .no-found-wrap {
                font-size: 30px;
                line-height: 1.3;
            }
        }
        .serppropcard {
            ul {
                li {
                    .propCard {
                        .clse {
                            position: absolute;
                            top: 10px;
                            right: 14px;
                            z-index: 999;
                            font-size: 20px;
                            cursor: pointer;
                            transition: all 300ms ease-in-out;
                            i {
                                font-weight: bold;
                                color: #ffffff;
                                text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
                            }
                            &:hover {
                                font-size: 22px;
                                font-weight: bold;
                            }
                        }
                        .propInfo {
                            text-align: left;
                        }
                    }
                }
            }
        }
        section.shortlist {
            background-color: $backgroundColor;
            text-align: center;
            width: 90%;
            display: block;
            max-width: 1140px;
            margin: 0 auto;
            .bot-wrap {
                .article-txt-info.login-msg {
                    margin-top: 2%;
                    text-align: center;
                    display: inline-block;
                }
            }
            .serppropcard {
                ul {
                    li {
                        margin-right: 25px;
                        display: inline-block;
                        width: 100%;
                        .propInfo {
                            .project-address {
                                .type {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: inline-block;
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .new-d-timeline {
            max-width: 1140px;
            width: 90%;
            margin: 0 auto;
            display: block;
            margin-bottom: 25px;
            margin-top: 5px;
            position: relative;
            
            ul {
                position: relative;
                padding-bottom: 10px;
                margin: 0 auto;
                text-align: center;
                display: table;
                li {
                    width: 180px;
                    display: table-cell;
                    vertical-align: middle;
                    border-bottom: 1px solid #969696;
                    text-align: left;
                    position: relative;
                    padding-bottom: 15px;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;
                    a {
                        color: #454545;
                        width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                        white-space: nowrap;
                        &:focus,
                        &:active,
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    svg,
                    img,
                    .img-wrap {
                        font-size: 32px;
                        width: 26px;
                        /*font-size: 24px;*/
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 4px;
                        position: relative;
                        left: -12px;
                    }
                    .txt {
                        font-size: 16px;
                        width: 74%;
                        display: inline-block;
                        vertical-align: middle;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        position: relative;
                        left: -15px;
                    }
                    .dot {
                        width: 10px;
                        height: 10px;
                        background-color: #d0d0d0;
                        border-radius: 100%;
                        overflow: hidden;
                        position: absolute;
                        bottom: -5px;
                        left: -5px;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    &.active {
                        border-color: $link-color;
                        cursor: not-allowed;
                        a {
                            cursor: not-allowed;
                        }
                        .dot {
                            background-color: $link-color;
                        }
                        svg,
                        img {
                            font-size: 40px;
                        }
                        .txt {
                            font-weight: bold;
                            font-size: 17px;
                        }
                    }
                    &.completed {
                        border-color: #deb776;
                        .dot {
                            background-color: #deb776;
                        }
                    }
                }
            }
        }
        .add-more-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            padding: 30px 0;
            .save-more-text {
                margin-left: 20%;
                color: #454545;
                max-width: 500px;
                display: inline-block;
                vertical-align: middle;
                .big-f {
                    font-size: 26px;
                }
                .small-f {
                    font-size: 16px;
                }
            }
            .btnn {
                float: right;
                padding: 10px 30px;
                margin-right: 50px;
                margin-top: 5px;
                font-size: 16px;
            }
        }
    }
    .saved-search {
        margin: 0 auto;
        max-width: 1140px;
        margin-bottom: 100px;
        .buyer-db-wrap {
            background-color: $backgroundColor;
            padding-top: 0;
            .propCard {
                max-width: 320px;
                display: inline-block;
                vertical-align: top;
                margin-right: 20px;
                width: 100%;
                .save-search-ellip {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    line-height: 1.5;
                    letter-spacing: .7px;
                }
                a {
                    text-decoration: none;
                }
                .bot-wrap {
                    max-height: 86px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    .article-txt-info {
                        text-overflow: ellipsis;
                        color: #454545;
                        font-size: 16px;
                        line-height: 1.1;
                        min-height: 36px;
                        transition: all 300ms ease-in-out;
                        &:hover {
                            text-decoration: none;
                            a {
                                text-decoration: none;
                                color: $link-color;
                            }
                            .prop-info-wrap {
                                color: #454545;
                            }
                        }
                        .prop-info-wrap {
                            cursor: initial;
                            font-size: 15px;
                            &:hover {
                                color: #454545;
                            }
                        }
                    }
                }
            }
        }
        .serppropcard {
            ul {
                li {
                    display: inline-block;
                    width: 100%;
                    max-width: 300px;
                    margin-right: 5%;
                    .other-details {
                        margin: 0 auto;
                        text-align: center;
                        background: #ffffff;
                        padding: 10px 10px;
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        z-index: 99;
                    }
                }
            }
        }
        section.sitevisit {
            .visitecard-wrap {
                text-align: center;
                ul {
                    li {
                        display: inline-block;
                        margin-right: 20px;
                        .sitevisitcard {
                            background-position: center;
                            background-size: cover;
                            position: relative;
                            .propInfo {
                                // text-align: left;
                                // .close{
                                //     right: 10px;
                                //     top: 10px;
                                //     position: absolute;
                                // }
                                .project-address {
                                    position: absolute;
                                    top: 36px;
                                    width: 100%;
                                    text-align: center;
                                    .type,
                                    .locWrap {
                                        font-size: 18px;
                                        line-height: 1;
                                    }
                                    .type {
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: inline-block;
                                        width: 90%;
                                    }
                                    .img-details {
                                        width: 100%;
                                    }
                                    .seller-img {
                                        background-position: center;
                                        background-size: cover;
                                        width: 60px;
                                        height: 60px;
                                        border-radius: 100%;
                                        overflow: hidden;
                                        margin: 20px auto 5px;
                                        &.avatar {
                                            img {
                                                margin-top: -7px;
                                            }
                                        }
                                    }
                                }
                            }
                            .other-details {
                                background-color: #ffffff;
                                width: 100%;
                                color: #454545;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                i {
                                    display: inline-block;
                                    margin-right: 5px;
                                    font-size: 16px;
                                    vertical-align: middle;
                                }
                                .rating {
                                    position: relative;
                                    margin: 0 auto;
                                    display: inline-block;
                                }
                                .data-time-wrap {
                                    border-bottom: 1px solid #eeeeee;
                                    padding: 15px 0;
                                }
                                .date,
                                .time {
                                    width: 49%;
                                    display: inline-block;
                                    text-align: center;
                                }
                                .direction-call-wrap {
                                    .direction,
                                    .call {
                                        display: inline-block;
                                        width: 49%;
                                        text-align: center;
                                        padding: 15px 0;
                                    }
                                    .direction {
                                        border-right: 1px solid #eeeeee;
                                    }
                                    .direction.disabled,
                                    .call.disabled {
                                        color: #eeeeee;
                                        cursor: not-allowed;
                                        i {
                                            color: #eeeeee;
                                            span {
                                                color: #eeeeee;
                                                &:before {
                                                    color: #eeeeee;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .shortlisted {
        margin-left: 260px;
        max-width: 760px;
        margin-bottom: 100px;
        .serppropcard ul li {
            display: inline-block;
            margin-right: 30px;
            width: 45%;
        }
    }
}
