@import "../variables";
@import "../mixins/ellipsis";
@import "rating-bar";
@import "sellerReviews";


.mid-area-wrap .sidebar-col .sbcol-card.dm-side-widget {
    padding: 0;
    z-index: 9;
}

.dm-side-widget {

    .seller-head {
        position: relative;
        margin-top: 6px;
        padding: 40px 0 0;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 238px;
            left: 0;
            top: 0;
            z-index: 0;
            background: url(/images/rating-review/expert-m-bg.png) no-repeat top left;
            background-size: cover;
        }

        &:after {
            position: absolute;
            top: -6px;
            content: '';
            height: 6px;
            width: 100%;
            background-color: transparent;
        }

        &.dm:before {
            filter: grayscale(100%);
        }
        &.dm:after {
            background-color: #ccc; 
        }

        &.edm:after {
           background-color: #ffc72c; 
        }
    }

    // position relative added due to invisible bacground image of seller-head:before
    .dmsw-top-bg, .seller-name, .dm-badge, .rating-wrap, .agent-attributes {
        position: relative;
        z-index: 1;
    }

    .dmsw-top-bg {
        .dm-avtar {
            width: 60px;
            height: 60px;
            margin: 0px auto;
            background: #fff;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
        }
    }

    .seller-name {
        padding: 15px 0 5px;
        color: $dark-color;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        text-transform: capitalize;
    }

    .dm-badge {
        text-align: center;
        margin-bottom: 15px;

        .agentbadge {
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            margin-right: 3px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            &.dealmaker-badge {
                background-image: url(/images/dealmaker-badge.png);
            }
            &.dealmaker-expert-badge {
                background-image: url(/images/dealmaker-expert-badge.png);
            }
        }

        .designation-type-wrap {
            text-transform: uppercase;

            .designation {
                &.dm {
                    color: $light-color;
                }
                &.edm {
                    color: #e4a804;
                }
            }

            .type {
                color: $lighter-color;
            }

            .designation ~ .type {
                margin-left: 3px;

                &:before {
                    content: '·';
                    padding-right: 3px;
                }
            }
        }
    }

    .rating-wrap {
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding: 0 0 20px;
        text-align: center;

        .mp-tooltip { // a lot of overwrites
            width: 270px;
            padding: 15px;
            line-height: 1.25;

            &.bot {
                top: 85%;
                right: auto;
                left: 49%;
                transform: translateX(-50%);
                z-index: 2;

                &:before {
                    right: 47%;
                    box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
                }

                &:after {
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 15px;
                    background: #fff;
                    top: 0;
                    left: 45%;
                }
            }
        }

        &:hover {
            .mp-tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .agent-attributes {
        display: flex;
        justify-content: space-around;
        padding-bottom: 32px;

        .a-attribute {
            position: relative;
            margin-right: 10px;
            color: #666;
            cursor: pointer;

            .mp-tooltip { // a lot of overwrites
                width: 240px;
                padding: 15px;
                line-height: 1.25;

                .rating-bar-wrap {
                    padding-top: 10px;
                }

                .read-review-link-wrap {
                    padding-top: 10px;
                }

                &.bot {
                    top: 120%;
                    left: 45%;
                    transform: translateX(-50%);

                    &:before {
                        right: 47%;
                        box-shadow: 1px 1px 7px 0px rgba(135,135,135,0.6);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 10px;
                        background: #fff;
                        top: 0;
                        left: 112px;
                    }
                }
            }

            &:hover {
                .mp-tooltip {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .le-title {
        margin: 0 auto;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .cbtn-wrap {
        margin: 25px auto 25px;
        text-align: center;
        padding-bottom: 15px;
    }
}
