@import "../variables";
@import "../mixins/ellipsis";

$screenLeft-to-centerStart: calc((100% - 1366px) / 2);
$cardareaWidth: calc(100% - #{$sidebarwidth});

$x: calc(#{$screenLeft-to-centerStart} + 420px);

// filters for the desktop start
.f-container-d {
    position: relative;
    width: 100%;
    height: $filterbarheight;
    padding: 0 5px 0;
    background-color: #fbfbfb;
    //box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.15);
    border: solid 1px #e0e0e0;
    border-top-width: 0px;
    z-index: 2;

    &.posfix {
        position: fixed;
        top: $hdrheight;
        //left: 0;
        width: $cardareaWidth;
        z-index: 2;
    }

    .filter-hdng {
        position: relative;
        cursor: pointer;

        .icon-chevron-down {
            display: inline-block;
            vertical-align: middle;
            color: $lighter-color;
            font-size: 14px;
            /*margin-left: 5px;*/
        }
    }

    .flbl {
        color: #1c1c1c;
        font-size: 11px;
        line-height: 1.2;
        text-transform: uppercase;
        text-decoration: none;

        sup {
            font-size: 10px;
            font-weight: 500;
            color: $link-color;
            text-transform: uppercase;
        }
    }

    .back-content {
        display: table-cell;
        height: 64px;
        vertical-align: middle;
        padding-left: 15px;
        font-size: 16px;

        a {
            color: $body-color;
            text-decoration: none;
            cursor: pointer;
        }

        .first-span {
            color: $link-color;
        }
    }

    .tfcol {
        position: relative;
        display: flex;
        align-items: center;
        height: calc(#{$filterbarheight} - 1px);
        padding: 0 5px;
        border-right: solid 1px #ececec;

        .ddbudget,
        .ddbed,
        .ddproptype,
        .ddparea,
        .ddprojstatus {
            top: calc(#{$filterbarheight} - 1px);
            overflow-y: auto;
            overflow-x: hidden;
        }

        &:hover {

            .filter-hdng {
                .flbl, .more-filter-lbl, .sortby-lbl {
                    color: $link-color;
                }
            }

            .ddbudget,
            .ddparea,
            .ddbed,
            .ddproptype,
            .ddprojstatus {
                height: auto;
                border-top: solid 1px #ccc;
                box-shadow: 0 2px 20px 0px rgba(0,0,0,0.125);
            }
        }
    }

    .findicator {
        border-right: none;
        padding-right: 25px;

        .filter-hdng {
            cursor: default;
        }

        .icon-equalizer {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;

            .path1, .path2, .path3, .path4 {
                &:before {
                    color: #9c9c9c;
                }
            }
        }

        .flbl {
            display: inline-block;
            vertical-align: middle;
            color: #505050;
            font-weight: bold;
        }

        &:hover {
            .filter-hdng {
                .flbl {
                    color: $title-text;
                }
            }
        }

        &:after {
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;
            content: '\ebae';
            speak: none;
            color: #ececec;
            font-size: 48px;
            font-family: 'icomoon';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            transform: rotate(-90deg);
            margin-right: -10px;
            margin-top: -2px;
            z-index: 1;
        }
    }

    .ddbudget {
        width: 250px;

        .option-wrap {
            .optionbox.active {
                overflow-y: auto;
                overflow-x: hidden;
                height: 215px;
                margin-right: -9px;
            }
            .optionitem.active {
                color: $link-color;
            }
        }
    }

    .ddparea {
        width: 250px;

        .option-wrap {
            .optionbox.active {
                overflow-y: auto;
                overflow-x: hidden;
                height: 215px;
                margin-right: -9px;
            }
            .optionitem.active {
                color: $link-color;
            }
        }
    }

    .ddbed {
        width: 355px;

        .fc-wrap {
            display: flex;
            justify-content: space-around;
            margin: 10px;
        }

        label.multiselectlbl {
            margin: 0 3px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .ddprojstatus,
    .ddproptype {
        width: 220px;

        .fc-wrap {
            margin: 10px 10px 20px;
        }

        label.checkboxlbl {
            display: block;
            margin: 0 10px 10px;
        }
    }

    .ddfurnish {
        width: 167px;
    }


    .budget-wrap {

        .dual-c-wrap .option-wrap .optionbox {
            text-transform: initial;
        }
    }

    .area-wrap {

        .dual-c-wrap .option-wrap .optionbox {
            text-transform: initial;
        }
    }

    .ptype-wrap,
    .listedby-wrap {
        .filter-hdng {
            .flbl {
                @include putellipsis;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .ptype-wrap {
        .filter-hdng {
            .flbl {
                max-width: 90px;
            }
        }
    }
    .listedby-wrap {
        .filter-hdng {
            .flbl {
                max-width: 100px;
            }
        }
    }

    .more-filter-wrap {
        text-align: center;
        z-index: 1;

        i.icon-equalizer {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
        }

        $ddheight: 470px;
        $ddwidth: 700px;

        .more-filter-lbl{
            text-transform: uppercase;
            font-size: 11px;
        }

        .more-filter-dd {
            display: none;
            position: absolute;
            top: calc(#{$filterbarheight} - 1px);
            left: -175px;
            width: $ddwidth;
            height: $ddheight;
            overflow-y: auto;
            background-color: #fff;
            border-top: solid 1px #ccc;
            border-radius: 3px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
            text-align: left;
            transition: all 0.15s ease-in;
            z-index: 2;

            &.inheritscroll {
                overflow-y: inherit;
            }

            .hcol {
                float: left;
                width: 65%;
                padding-left: 20px;
                //border-right: solid 1px #ccc;
            }

            .vcol {
                float: right;
                width: 35%;
                /*padding-left: 20px;*/
            }

            .filter-row {
                padding: 0px 10px 20px 15px;

                .fcol {
                    display: block;
                    float: left;
                    width: 50%;
                }
            }

            .f-lbl {
                position: relative;
                margin-top: 15px;
                padding-bottom: 8px;
                color: #1c1c1c;
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;

                &.m0 {
                    margin-bottom: 0;
                }
            }

            .fwrap {
                width: 100%;
            }

            label.multiselectlbl {
                margin: 0 2px;

                .boxoption {
                    font-size: 15px;
                }
            }

            .parea-lbl {
                position: relative;
                width: 160px;
                padding-top: 12px;
                border-bottom: solid 1px #eee;
                color: #666;

                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    content: '';
                    -webkit-transition: width 1s ease-in-out;
                    transition: width 1s ease-in-out;
                }

                .txt {
                    display: block;
                    padding-right: 20px;
                }

                i {
                    position: absolute;
                    top: 14px;
                    right: 0;
                    font-size: 10px;
                }

                .ddparea {
                    display: none;
                    width: 200px;
                    height: auto;
                    top: 35px;
                    border: solid 1px #f9f9f9;
                    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
                }

                &.active {
                    &:after {
                        width: 100%;
                        background-color: $link-color;
                    }
                    .ddparea {
                        display: block;
                    }
                }
            }

            .fprop-type {
                label.checkboxlbl {
                    display: block;
                    margin-bottom: 10px;
                }
            }

            .listedby-wrap {

                .fpost-by,
                .ffurn {
                    label.checkboxlbl {
                        display: block;
                        margin-bottom: 10px;
                    }
                }
            }
            .bwrap {
                padding: 25px 10px 0;
                .f-lbl {
                    float: left;
                    width: 80px;
                }
            }
            // top builder list opstions
            .blist {
                float: left;
                width: calc(100% - 80px);
                font-size: 13px;
                .b-option {
                    display: inline-block;
                    padding: 0 0 0 5px;
                    margin: 0 0 10px 5px;
                    border: solid 1px transparent;
                    border-radius: 3px;
                    color: $link-color;
                    cursor: pointer;
                    &.active {
                        border: solid 1px #ececec;
                        &:after {
                            width: 20px;
                            content: 'x';
                            padding: 2px 8px;
                            margin-left: 5px;
                            background-color: #ececec;
                            color: $link-color;
                        }
                    }
                }
            }
            .mawrap,
            .dbwrap {
                margin-bottom: 10px;
                .fc-wrap {
                    width: 25px;
                    margin: 0;
                }
                label.checkboxlbl {
                    top: -15px;
                }
                .maBadge {
                    border: none;
                    display: inline-block;
                    vertical-align: middle;
                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
            .ffurn {
                .fc-wrap.multiselectbox.open .select-dropdown {
                    width: 319px;
                    top: inherit;
                    bottom: 65px;
                    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
                    ul {
                        > li {
                            display: inline-block;
                            width: 157px;
                        }
                    }
                }
            }
            .fres {
                .fc-wrap.multiselectbox.open .select-dropdown {
                    top: inherit;
                    bottom: 65px;
                    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
                }
            }
        }
        &:hover,
        &.active {
            .more-filter-dd {
                display: block;
            }
        }
    }

    // for project serp filter case only.
    .proj-filter .more-filter-wrap {
        .more-filter-dd {
            height: 290px;
        }
    }

    .reset-wrap {
        text-align: right;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 11px;

        &:hover {
            .flbl {
                color: $link-color;    
            }
            /*.icon-reset {
                transform: rotate(180deg);
            }*/
        }

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;

            .icon-reset {
                transform: none;
            }
        }

        /*.icon-reset {
            display: inline-block;
            color: $link-color;
            vertical-align: middle;
            transition: transform 0.25s ease-in-out;
        }*/
    }

    // for project serp filter case only.
    .proj-filter .reset-wrap {
        border-right: solid 1px #fff;
        text-align: center;

        &:hover {
            border-right: solid 1px #ccc;
        }
    }


    $togglewrapwidth: 160px;

    // sortby filter component on the filter bar
    .sortby-wrap {
        border-right: none;

        .filter-hdng {
            position: relative;
            text-align: center;

            .icon-wrap {
                position: relative;
                top: -8px;
                vertical-align: middle;
                color: $light-color;
                font-size: 20px;
                padding-right: 3px;
            }

            .lbl-wrap {
                display: inline-block;
                text-align: left;
            }

            .sortby-val {
                @include putellipsis;
                font-size: 11px;
                color: $dark-color;
                max-width: 80px;
            }
        }

        .ddsortby {
            top: calc(#{$filterbarheight} - 1px);
            left: inherit;
            right: -5px;
            width: 170px;

            label.independent-single-select {
                .icon-tick {
                    top: 15px;
                }
            }
        }

        .show-ddsortby {
            height: auto;
            border-top: solid 1px #ccc;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        }
    }


    // for project serp filter case only.
    .proj-filter .sortby-wrap {
        float: right;
    }


    // list and map toggle btns on filter bar
    .lm-toggle-wrap {
        display: block;
        float: right;
        height: calc(#{$filterbarheight} - 1px);
        vertical-align: middle;

        .togbtn {
            display: block;
            float: left;
            width: 45px;
            height: calc(#{$filterbarheight} - 1px);
            padding: 6px 0;
            border-left: solid 1px #ccc;
            color: $light-color;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: all 0.15s ease-in;


            i {
                display: block;
                font-size: 18px;
            }

            &:hover {
                background-color: #f5f5f5;
                color: $dark-color;
            }

            &.active {
                display: none;
            }
        }

        .togbtn.map {
            i {
                line-height: 1.5;
            }
        }
    }

    // for project serp filter case only.
    .proj-filter .lm-toggle-wrap {
        display: none;
    }

    // filters for the desktop ends
    &.rent-filters .more-filter-wrap .more-filter-dd {
        height: 380px;
    }
}

//** overwrite for .seolinks wrapper so that filters hide behind them,.. **/
.seolinks {
    position: relative;
    z-index: 2;
}

#inl-uniq-iden{
    display: none;
}

@media (max-width: 1070px) {
    .f-container-d .more-filter-wrap .more-filter-dd {
        left: -195px;
    }
}

@media (max-width: 1024px) {
    .f-container-d.posfix {
        top: $hdrheightMobile;
    }
}

@media (max-width: 1139px) {
    .f-container-d.posfix {
        width: 100%;
    }
}

@media (max-width: 1366px) {

}

@media (min-width: 1367px) {
    $cardareaWidth: calc(1366px - #{$sidebarwidth});

    #content.body-content:after {
        right: $x;
    }

    .f-container-d.posfix {
        width: $cardareaWidth;
    }
}