@import "../variables";
@import "../mixins/ellipsis";

// hack to make filters for mobile sticky
.formobilefilters {
    position: sticky;
    top: 45px;
    z-index: 2;
}

// filters for the Mobile start
.f-container-mob {
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px #ccc;

    &.posfix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        overflow: hidden;
        height: 100vh;
        background-color: #fff;
    }

    .filter-typeahead {
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;

        .search-wrap{
            position: relative;

            .srchicon {
                font-size: 14px;
                position: absolute;
                left: 0;
                bottom: 7px;
            }
        }

        &.multiloclity-search-wrap{
            .tag-wrap{
                .thinput{
                    padding-left: 20px;
                }
                .srched-tag{
                    &.more-tag ~ .thinput{
                        max-width: 100%;
                        width: 100%;
                    }
                }

            }
        }
    }

    // in page view of mobile filters start here
    .first-fold {

        .l-col {
        }

        .back-content {
            display: table-cell;
            height: calc(#{$filterbarheight} - 1px);
            vertical-align: middle;
            padding-top: 20px;
            padding-left: 15px;
            font-size: 16px;

            a {
                color: $body-color;
                text-decoration: none;
                cursor: pointer;
            }

            .first-span {
                color: $link-color;
            }
        }

        .f-more-wrap, .sortby-wrap, .buy-rent-wrap {
            position: relative;
            display: inline-block;
            height: calc(#{$filterbarheight} - 1px);
            vertical-align: middle;
            border-left: solid 1px #ccc;
            cursor: pointer;

            .filter-hdng {
                position: relative;
                width: 100%;
                padding: 1px 0 0 2px;
                text-align: center;

                .icon-wrap {
                    position: relative;
                    top: -11px;
                    color: $light-color;
                }

                .lbl-wrap {
                    padding-top: 2px;
                    display: inline-block;
                    text-align: left;
                    width: calc(100% - 28px);
                }

                .cont-lbl {
                    @include putellipsis;
                    font-size: 14px;
                    color: $link-color;
                }

                .cont-val {
                    @include putellipsis;
                    font-size: 11px;
                    color: $lighter-color;
                }
            }
        }

        .buy-rent-wrap, .sortby-wrap {
            .ddsortby {
                top: $filterbarheight;
                left: auto;
                right: 0;
                width: 170px;

                .independent-single-select {
                    padding: 5px 25px 5px 10px;
                    font-size: 14px;
                }
            }

            .show-ddsortby{
                height: auto;
                box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
            }
        }

        .buy-rent-wrap {
            width: 43%;

            .filter-hdng {
                .lbl-wrap {
                    padding-top: 8px;
                    padding-right: 10px;
                    width: auto;
                }

                .icon-wrap {
                    top: -4px;
                }
            }
            .ddsortby {
                left: 0px;

                .resiHeading, .comHeading {
                    padding-top: 10px;
                    padding-left: 10px;
                    font-weight: bold;
                }

                .comHeading {
                    border-top: 1px solid #d0d1d1;
                }

                .independent-single-select {
                    left: 20px;
                    max-width: 80%;
                    .icon-tick {
                        top: 15px;
                    }
                }
            }
        }

        .f-more-wrap {
            width: 29%;
        }

        .sortby-wrap {
            width: 25%;
        }

        // for project serp filter case only.
        &.proj-filter {
            .l-col.back-content {
                display: none;
            }
            .l-col {
                width: 100%;
            }
            .r-col {
                display: none;
            }

            .buy-rent-wrap {
                display: none;
            }

            .f-more-wrap {
                width: 49%;
            }
            .sortby-wrap {
                width: 49%;
            }
        }
    }

    // Expanded view of mobile filters start here
    .f-expanded {
        background-color: #fff;
        border-top: solid 1px #dfdfdf;

        .filter-hdr {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 6px 10px;
            background: #ececec;
            border-bottom: solid 1px #ccc;
            font-size: 20px;
            text-align: center;

            .close-filter {
                position: absolute;
                padding: 10px;
                right: 0;
                top: 0;
                padding: 14px;
                font-size: 12px;
            }

            .btnreset {
                position: absolute;
                top: 10px;
                right: 10px;
                display: block;
                color: $link-color;
                font-size: 13px;
                text-decoration: none;
                cursor: pointer;

                .icon-retry {
                    display: inline-block;
                    color: $link-color;
                    transition: transform 0.25s ease-in-out;
                }

                &:hover {
                    .icon-retry {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .f-row {
            /*border-bottom: solid 1px #dfdfdf;*/
            margin: 10px 10px 20px;
            padding: 0 10px;
            // background-color: #fff;
            border-bottom: solid 1px #f6f6f6;
            transform: translateZ(0);
            transition: transform 0.6s ease-in-out;
            backface-visibility: hidden;
            scroll-behavior: smooth;

            .buy-rent-wrap {
                .resiComWrap {
                    height: 28px;
                    width: 100%;
                    margin-bottom: 5px;
                    border: 1px solid #d2d2d2;

                    .fResiHeading, .fComHeading {
                        width: 50%;
                        float: left;
                        text-align: center;
                        height: 100%;

                        span {
                            line-height: 24px;
                        }
                    }

                    .fResiHeading {
                        border-right: 1px solid #d2d2d2;
                    }

                    .selectedHeading {                       
                        background: #e81c28;color: white;
                    }
                }

                .switch-toggle {
                    margin: 0 0 15px 0;
                }
            }
        }

        #flocation {
            position: relative;
            z-index: 1;
        }

        .f-lbl {
            position: relative;
            margin-top: 20px;
            padding-bottom: 10px;
            color: #1c1c1c;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;

            sup {
                color: $link-color;
            }
        }

        .fwrap {
            padding: 0 0 10px;

            .fc-wrap {
                width: 100%;

                &.selectbox {
                    min-width: 130px;

                    .select-dropdown {
                        min-width: 130px;
                    }
                }
            }

            .multiselectlbl {
                margin: 0 2px 10px 0;

                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }

                .boxoption {
                    font-size: 13px;
                }

                &:hover .boxoption {
                    color: #999;
                    border: 1px solid #999;
                }

                input[type=checkbox]:checked+.boxoption, &.active .boxoption {
                    color: #fff;
                    border: solid 1px #e81c28;
                }
            }

            .checkboxlbl {
                display: block;
                margin-bottom: 15px;
                margin-right: 25px;
                padding-left: 18px;
            }

            .range-slider {
                .range {
                    text-align: center;;
                    padding-top: 10px;
                }
            }

            &.fprop-type {
                padding: 0 0 5px;
            }

            &.fbudget-min, &.fbudget-max {
                display: block;
                float: left;
                width: 46.6%;
                margin-right: 10px;
            }
            &.fpost-by, &.fresale {
                .radiolbl {
                    display: block;
                    margin-bottom: 10px;
                    padding-left: 28px;
                    line-height: 20px;
                }
            }

            &.fpossn, &.fage {
                .radiolbl {
                    width: 140px;
                }
            }
        }

        .fbudget, .farea {
            padding: 10px 0 15px 0;

            .range-slider {
                margin-right: 10px;
            }

            .inputdropdown {
                margin-left: 10px;
                width: 48%;
                display: block;
                float: left;
                min-width: inherit;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .fbudget {
            .range {
                text-transform: initial;
            }
        }
    }

    .btn-wrap-close {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        padding: 10px 18px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 -1px 10px 0px rgba(0,0,0,0.15);
        //-webkit-transform: translateZ(-1px);
        -webkit-backface-visibility: hidden;
        z-index: 2;

        a.viewbtn {
            margin-left: 10px;
            .countval {
                font-size: 13px;
            }
        }

    }
}
.f-container-mob .first-fold .buy-rent-wrap{}
.f-container-mob .first-fold .f-more-wrap{}
.f-container-mob .first-fold .sortby-wrap{}

#inl-uniq-iden{
    display: none;
}

@media (min-width: 768px) and (max-width: 1139px) {
    .f-container-mob {
        &.posfix {
            right: 0;
        }
        .btn-wrap-close {
            width: 100%;
        }
    }
}

/**** A/B Testing for city specific tasks ****/

//  Testing for showing bottom filters in first viewport without changing the sequence
.formobilefilters.m3177 {
    .f-container-mob.posfix {

        .f-expanded {

            .fe-container {
                display: flex;
                justify-content: space-between;
                height: calc(100vh - 41px - 56px); //41px for header and 56px for footer area
                margin-top: 41px;

                .lhs {
                    display: block;
                    width: 90px;
                    height: 100%;
                    overflow-y: auto;
                    background-color: #f7f7f7;

                    .navitem {
                        .triangle {
                            display: block;
                            padding: 10px;
                            border-left: solid 3px #f7f7f7;
                            border-bottom: solid 1px #ececec;
                            color: #1c1c1c;
                            font-size: 11px;
                            line-height: 1.2;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-decoration: none;
                        }

                        &.active .triangle {
                            background-color: #fff;
                            border-left: solid 3px #e81c28;
                            border-right-color: #fff;
                        }

                        &[data-goto="frating"] .triangle {
                            position: relative;

                            &:after {
                                position: absolute;
                                bottom: 15px;
                                right: 10px;
                                content: 'NEW';
                                color: $link-color;;
                                font-size: 8px;
                            }
                        }
                    }
                }

                .rhs {
                    width: calc(100% - 90px);
                    height: 100%;
                    padding-top: 5px;
                    padding-bottom: 480px;
                    overflow-y: auto;
                }
            }
        }
    }
}
