@import "../variables";

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .column.about-makaan {
        width: 40%;
    }
    .makaan-type.column {
        width: 27%;
        margin-right: 10px;
    }
    .resources.column {
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .lastcol {
        margin-right: 10px;
    }

}


@media screen and (max-width: 767px) {
    .footer-warp {
        background-color: #292929;
        padding: 0px;
        padding-top: 20px;
        z-index: 5;

        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        .pseudo {
            &:before {
                display: none;
            }
        }
        h2.footer-heading {
            padding: 5px 16px;
            position: relative;
            margin-bottom: 0;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;

            &[data-type="expand"]:after {
                content: "\ebae";
                font-family: icomoon;
                position: absolute;
                top: 5px;
                right: 30px;
            }
        }

        .open h2.footer-heading[data-type="expand"]:after {
            content: "\ebaf";
        }

        .app-footer {
          div ul{
            display: flex;
          }
        }
        .column {
            margin-right: 0px;
            margin-bottom: 10px;

            .no-hide {
                display: block;
            }

            ul {
                display: none;
                padding: 10px 16px;

                li {
                    margin-bottom: 0px;
                    color: $lighter-color;

                    a {
                        font-size: 14px;
                        color: $lighter-color;
                        margin-bottom: 0;
                        cursor: pointer;
                        transition: all 250ms ease-in-out;


                        &:hover {
                            color: $lighter-color;
                            text-decoration: none;
                        }
                    }
                }

                &.collapsed{
                    li {
                        display: inline-block;
                        text-transform: none;

                        a {
                            font-size: 12px;
                            border-right: 1px solid $light-color;
                            padding-right: 5px;
                            margin-right: 5px;
                        }

                        &:last-child {
                            a {
                                border-left: 0;
                            }
                        }
                    }
                }
            }

            &.open ul {
                display: block;
            }

            &.about-makaan {
                width: 100%;
            }
            &.quick-links {
                ul {
                    li {
                        color: $lighter-color;
                    }
                }
            }

            .app-sec {
                h2.footer-heading {
                    padding: 15px 0px;
                }

                ul {
                    display: flex;
                    padding: 0px;

                    li {
                        margin-right: 20px;

                        a {
                            display: flex;
                            padding: 8px 3px;
                            width: 120px;
                            height: 36px;
                            border-radius: 24px;
                            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
                            background-color: white;

                            img {
                                width: 35px;
                                padding: 0 5px 0 10px;

                            }

                            div {
                                span {
                                    color: $black-color;
                                }
                                span:first-child {
                                    display: block;
                                    font-size: 7px;
                                    line-height: 5px;
                                }
                                span:last-child {
                                    font-size: 12px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
        }

        .column.lastcol {
            margin-bottom: 0;

            .lastcol-head {
                padding: 5px 16px 0;
                font-size: 10px;
                margin-bottom: 0;
                text-transform: uppercase;

                &.yellow {
                    color: $light-color;
                }
            }

            ul {
                padding: 5px 16px;

                li a {
                    padding: 0;
                }
            }

            .social {
                height: 36px;
                background: #0f0f0f;
                padding: 10px 10px 80px 10px;

                .copyright {
                    img{
                        height: 14px;
                        padding-right: 5px;
                    }
                    span {
                        color: #666;
                        font-size: 10px;
                        font-style: italic;
                    }
                }
                ul {
                    display: inline;
                    float: right;
                    padding: 0px 0;

                    li {
                        display: inline-block;
                        width: auto;
                        padding-left: 10px;

                        a {
                            i {
                                font-size: 18px;
                                padding: 2px;
                            }
                        }
                    }
                }
            }
        }

        .call-wrap {
            padding: 0;
        }
    }
    .icon-facebook .path1:before, .icon-google-plus .path1:before, .icon-twitter .path1:before, .icon-linkedin .path1:before{
        color: $light-color !important;
    }

}