@import "../variables";

.footer-warp {
    background-color: #444444;
    padding: 65px 20px 5px;
    position: relative;
    z-index: 2000;

    h2.footer-heading {
        margin-bottom: 10px;
        color: #fff;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 22%;
        height: 18px;
        background-color: #e81c28;
    }

    &:after {
        content: "";
        position: absolute;
        top: -18px;
        left: 22%;
        width: 22%;
        height: 18px;
        background-color: #fba510;
    }

    .pseudo {
        &:before {
            content: "";
            position: absolute;
            top: 0px;
            left: 44%;
            width: 22%;
            height: 18px;
            background-color: #e7248a;
        }
    }

    .column {
        margin-right: 4.16%;
        margin-bottom: 20px;

        ul {
            li {
                margin-bottom: 5px;
                text-transform: capitalize;

                &.text{
                    text-transform: none;
                }

                .category-label {
                    margin: 10px 0 5px;
                    color: #fff;
                    font-size: 14px;
                }

                a {
                    color: #ffffff;
                    margin-bottom: 0;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: $link-color;
                        text-decoration: none;
                    }
                }
            }
        }
        .no-hide {
            display: block;
        }

        &.quick-links{
            ul{
                li{
                    color: #ffffff;
                    transition: all 300ms ease-in-out;
                    cursor: pointer;
                    &:hover{
                        color: $link-color;
                    }
                }
            }
        }

        &.about-makaan {
            color: #cacaca;
            text-align: justify;
            width: 50%;

            >ul >li {
                line-height: 1.6;
                text-transform: unset;
            }

            a {
                color: #fff;
                border-bottom: dashed 1px #999;

                &:hover {
                    border-bottom-color: $link-color;
                }
            }
        }

        &.app-footer {
            ul {
              display: flex;
              justify-content: space-around;
            }
            h2 {
              font-size: 18px;
              text-align: center;
            }
            .app-icon {
              display: inline-block;
              width: 19px;
              height: 19px;
              background-size: contain;
              background-repeat: no-repeat;
            }

            .borderfix {
              border-right : 1px solid #ffffff;
            }

        }

        &.lastcol {
            margin-right: 0;
            
            .lastcol-head {
                font-size: 18px;
                color: #fefefe;
                margin-bottom: 10px;
                margin-top: 0px;
                text-transform: capitalizes;

                &.yellow {
                    color: #fba511;
                }
            }

            .social {
                padding: 20px 0 0;

                .social-head {
                    color: #ffffff;
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                ul {
                    li {
                        display: inline-block;
                        width: 40px;

                        a {
                            text-decoration: none;
                            cursor: pointer;
                        }

                        i {
                            color: #bfbfbf;
                            font-size: 24px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        &.copyright {
            margin-top: 15px;
            font-size: 14px;
            text-align: center;
            color: #bfbfbf;
            text-transform: capitalize;
        }
    }
}
