@keyframes fadeinn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shine {
    100% {
        background-position: 320px 0;
    }
}


@media screen and ( max-width: 768px ) {
    .image_gallery_container-grid {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #222;

        .lead-box {
            position: fixed;
            background: none;
            z-index: 9999;
            bottom: 14px;
            width: 100%;

            .btn-wrap {
                text-align: center;
            }
        }

        .gallery-header {
            height: 44px;
            width: 100%;
            font-size: 16px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            align-items: center;
            position: relative;
            z-index: 9999;
            background-color: #222;
            .header-txt {
                display: flex;
                align-items: center;
                width: calc(100% - 32px);

                .project-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-right: 5px;
                    max-width: calc(100% - 95px);
                }
                .seperator {
                    color: #9b9b9b;
                }
                .price {
                    font-weight: bold;
                    padding-left: 8px;
                    max-width: 90px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .closebtn {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        .gallery-image-container {
            height: calc(100% - 44px);
            position: relative;
            overflow: hidden;
            .category {
                height: 100%;
                margin-left: 20px;
                margin-right: 20px;
                padding-top: 20px;
                
                .outer-ul {
                    height: 100%;
                    width: 100%;
                    list-style: none;
                    overflow: auto;
                    .outer-li {
                        margin-bottom: 30px;
                        position: relative;
                        .category-header {
                            display: flex;
                            justify-content: space-between;
                            background-color: #222;
                            color: #fff;
                            text-transform: capitalize;
                            padding: 0 12px 8px 5px;
                            font-weight: bold;
                            font-size: 14px;
                            align-items: center;
                            position: -webkit-sticky;
                            position: sticky;
                            top: -1px;
                            z-index: 1;

                        }

                        .show-all {
                            position: absolute;
                            bottom: -30px;
                            width: 100%;
                            text-align: center;
                            padding: 6px 0;
                            color: #979797;
                            font-size: 12px;

                            &:before, &:after {
                                content: "";
                                width: calc(50% - 40px);
                                border-bottom: 1px solid #979797;
                                position: absolute;
                                top: 14px;
                                left: 5px;
                            }
                            &:after {
                                width: calc(50% - 45px);
                                right: 10px;
                                left: auto;
                            }
                        }
                    }
                    .outer-li:last-child {
                        margin-bottom: 90px;
                    }
                }
                .inner-ul {
                    //margin: -4px !important;
                    font-size: 0;

                    .inner-li {
                        $thumbwidth: calc((100vw - 40px - 8px) / 2);
                        width: $thumbwidth;
                        height: calc(#{$thumbwidth} * 3 / 4);
                        display: inline-block;
                        padding: 4px;
                        transition: all 0.4s ease-out;

                        &.active {
                            border: 2px solid #ff8a91;
                        }

                        .thumb-container {
                            width:100%;
                            height:100%;
                            position: relative;
                        }

                        .thumb {
                            position: absolute !important;
                            top: 0px !important;
                            bottom: 0px !important;
                            left: 0px !important;
                            right: 0px !important;
                        }

                        a {
                            width: 100%;
                            height: 100%;
                            display: block;
                            -webkit-appearance: none;
                            position: relative;
                            background: transparent;
                            overflow: hidden;
                            text-decoration: none;
                        }
                        .img-placeholder,
                        .img-wrap {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        .img-wrap {
                            animation-name: fadeinn;
                            animation-duration: 300ms;
                            animation-timing-function: ease-out;
                            background-size: cover;
                            background-position: 50% 50%;
                        }
                        .img-placeholder {
                            background-repeat: no-repeat;
                            background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
                            background-size: 20px auto;
                            background-position: 0 0;
                            animation: shine 2s infinite;
                            background-color: #e7e7e7;
                        }
                    }
                }
            }
        }

        .bottom-shadow {
            height: 71px;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-image: linear-gradient(to bottom, rgba(34,34,34,0) 0%, rgba(34,34,34,0.7) 45%, rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%);background-image: linear-gradient(to bottom, rgba(34,34,34,0) 0%, rgba(34,34,34,0.7) 45%, rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%);background-image: linear-gradient(to bottom, rgba(34,34,34,0) 0%, rgba(34,34,34,0.7) 45%, rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%);
        }
        
    }
    html.grid-fullsize-on {
        overflow: hidden;
    }
    html.grid-fullsize-on header{
      display: none;
    }
}

