@import '../variables';
@import "../mixins/ellipsis";
@import 'date-time-picker';
@import 'hl-screen/summary';
@import 'hl-screen/otp';
@import 'hl-screen/thankyou';

.hl-dash-popup {
    background-color: #fff;
    overflow: hidden;
    min-height: 50%;
    max-height: 98%;
    max-width: 520px;
    width: 100%;
    font-family: $roboto;
    text-transform: initial;

    .cbtn {
        width: 200px;
        font-size: 16px;
    }

    label.radiolbl {
        margin-bottom: 15px;
    }
}

.hl-screen-container {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 0px 10px 30px;

    .copm-loan{
        text-align: center;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;

        .tick{
            width: 60px;
            height: 60px;
            background: $green-color;
            border-radius: 50%;
            text-align: center;
            line-height: 65px;
            display: inline-block;
            font-size: 30px;
            font-weight: bold;

            .icon-tick:before{
                color: #fff;
            }
        }

        .top-icon-wraper{
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .msg-content{
            .msg-text{
                margin: 0 0 30px 0;

                span{
                    display: block;
                    font-weight: normal;
                    font-size: 15px;
                    color: $light-color;

                    &.id-text{
                        font-weight: bold;
                        color: $light-color;
                        margin-top: 30px;
                        margin-bottom: 0;
                        font-size: 13px;
                    }
                }

                label{
                    font-weight: normal;
                    color: $link-color;
                    margin: 0;
                }

            }
        }

        .top-icon{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .loader-text{
            font-size: 12px;
            color: $lighter-color;
            margin: 0;
        }

        .table-wrap{
            margin-top: 20px;
            margin-bottom: 30px;
            table{
                width: 100%;
                text-align: left;

                thead{
                    border-top: 1px solid lighten($light-color, 50%);
                    border-bottom: 1px solid lighten($light-color, 50%);

                    td{
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }

                td{
                    padding-top: 8px;
                    padding-bottom: 8px;
                    font-size: 14px;
                    color: $light-color;

                    &:last-child{
                        font-size: 16px;
                        color: $title-color;
                    }

                    &.red-color{
                        color: $link-color;
                    }

                    &:first-child{
                        padding-left: 10px;
                    }
                }
            }
        }

        .screen-action{
            text-align: right;

            .cbtn{
                width: auto;
            }
            .txtbtn{
                font-size: 16px;
                color: $title-color;
            }
        }
    }

    .screen-title {
        display: inline-block;
        width: 90%;
        padding-bottom: 9px;
        border-bottom: solid 1px #fff;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
    }

    .input-box.active label {
        font-size: 12px;
    }

    .nri-wrap {
        display:inline-block; 
        width:70px; 
        margin-left:30px
    }

    .overhead-tool {
        height: 14px;
        font-size: 12px;
        color: #999;
    }

    .typeAhead-hl {
        position: relative;
        top: 0;
        margin: 0 auto;
        transition: all 300ms ease-in-out;

        .thdd {
            max-height: 90px;
            ul {
                li {
                    padding: 0;
                    .result-row {
                        padding: 10px 0px 5px;
                    }
                }
            }
        }
        &.active {
            .thdd {
                display: block;
                padding: 10px;
            }
        }
        .thoverlay {
            // transition: all 500ms ease-in-out;
            // background-color: transparent;
        }
        .hl-close {
            display: none;
            top: 30px;
            right: -40px;
            z-index: 2;
        }
        .srchicon {
            position: absolute;
            top: 18px;
            right: 8px;
        }
        .thcontainer {
            padding-bottom: 3px;
            border-bottom: solid 1px #eee;
        }
        .thinput {
            z-index: 0;
            font-family: $roboto;
            font-size: 16px;
            color: #666;
            padding: 2px 0;
            width: 100%;
            border-radius: 3px;
            border-color: #eee;
        }
    }

    //nav
    .screen-nav {
        margin: 15px 0px;
        position: relative;
        text-align: center;

        .hl-arrow-wrap {
            left: 0;
        }
    }

    .hl-arrow-wrap {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 5px 0px 5px 10px;
    }

    .hl-arrow {
        position: relative;
        height: 16px;
        width: 16px;
        cursor: pointer;

        &:before {
            position: absolute;
            content: '';
            right: 0;
            height: 10px;
            width: 2px;
            background-color: #e81c28;
            transform: rotate(-45deg);
        }

        &:after {
            position: absolute;
            content: '';
            top: 6px;
            right: 0;
            height: 10px;
            width: 2px;
            background-color: #e81c28;
            transform: rotate(45deg);
        }

        &.back {
            transform: rotate(180deg);
        }
    }

    .hl-close {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 9px;
        transform: translateY(-50%);
        padding: 5px;
        cursor: pointer;
    }

    label.multiselectlbl {
        margin: 0 5px 10px 0px;
    }
    //screen main logo
    .screen-logo {
        margin: 20px 0px 20px;
    }

    .logo-img {
        //margin: 0px 0px 20px;
    }

    .main-img {
        width: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
    }
    
    .logo-text {
        margin: 0px 0px 10px;
        text-align: center;
        .main-txt {
            font-size: 24px;
        }
        .sub-txtCheck {
            font-size: 18px;
            text-align: left;
        }
        .sub-txt {
            font-size: 18px;
        }
        .sub-txtThankyou{             
            color:#e81c28;
            margin-top:25px;
        }
    }

    .screen-content {
        margin-top: 30px;
        height: 100%;

        .scroll-content {
            max-height: 515px;
            overflow: auto;
            padding-bottom: 55px;
        }
        h3{
            font-size: 20px;
            color: $title-color;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        h4{
            font-size: 18px;
            color: $light-color;
            margin-bottom: 10px;
        }
        h5{
            font-size: 12px;
            color: $lighter-color;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            color: $light-color;
            line-height: 20px;
            span{
                display: block;
                color: $title-color;
                font-weight: bold;
                margin-bottom: 8px;
            }
        }
        .form-row { 
            margin: 0 auto 20px;
            max-width: 85%;

            > .fc-wrap {
                display: block;
                margin: 0;
                padding: 10px 0;
                &.selectbox.active .txt {
                    font-size: 14px;
                }
            }
        }
        .rcol {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: left;
            vertical-align: top;
            .thoverlay {
                left: 0;
                width: 100%;
                top: 55px;
                height: 100%;
                border-radius: 8px;
                overflow: hidden;
            }
        }
    }
    .screen-action {
        position: relative;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 15px 0px 15px 0px;
        border: none;
        background-color: transparent;
        box-shadow: none;
        text-align: center;
        z-index: 9999;

        .hl-steps {
            position: absolute;
            bottom: 0;
            left: 35px;
            width: 80%;
            height: 4px;
            background-color: #d8d8d8;

            .step-to-go {
                position: static;
            }
        }
        .stg {
            margin: 15px 0px 5px;
            font-size: 12px;
        }
    }
    .screen-actionBank {
        position: relative;
        margin: 30px 0px 0px 0px;
        padding: 15px 0px;
        bottom: 0px;
        left: 0;
        width: 100%;
        z-index: 9999;
        text-align: center;
    }
    
    .btm-error {
        .error-msg {
            bottom: -20px;
        }    
    }
    .error-msg {
        font-size: 12px;
        color: #e81c28;
        bottom: -10px;
    }

    &.thankyou-screen {
        .screen-content {
            padding-top: 50px;
        }
        .lcol,
        .rcol {
            vertical-align: middle;
            text-align: center;
        }
        .thank-wrap {
            margin-top: 0px;
            margin-bottom: 60px;
            font-size: 20px;
        }
    }
    &.otp-screen {
        .screen-content {
            padding-bottom: 50px;
            margin-top: 0;
        }
        .contact {
            text-align: center;
            font-size: 20px;
        }
        .screen-action {
            text-align: center;
        }
    }
}

@media screen and (max-width: 767px){
    .hl-dash-popup {
        max-height: 100%;

        .hl-screen-container {
            max-height: 100vh;
            height: 100vh;

            .hl-close {
                right: 0;
                top: 5px;
            }
            .nri-wrap {
                margin-left:15px
            }
            .form-row {
                max-width: 100%;
            }
            &.summary-screen .country-code-contact {
                width: 46%;
            }

            .screen-action {
                background-color: #fff;
            }

            .screen-content {
                height: calc(100% - 100px);

                .scroll-content {
                    max-height: 100%;
                }
            }
        }
    }
}