@import '../variables';
@import "../mixins/ellipsis";
@import "homeLoanLead";

$calcwidth: 525px;
$calcheight: 400px;

.home-loan-wrap {
    padding: 0px;
    overflow: hidden;
    width: 100%;

    //FIRST VIEW STARTS
    i {
        display: inline-block;
        vertical-align: middle;
        padding: 0px 5px;
        transition: all 300ms ease-in-out;
    }
    .input-range-error {
        border: 2px solid red !important;
    }
    .txtbtn {
        &.mobile-view {
            padding: 20px;
            font-size: 14px;
        }
    }
    .loan-card-heading {
        padding: 10px 35px;
        background-color: #fbfbfb;
        font-size: 18px;
    }
    .property-detail-loan {
        border-bottom: solid 2px rgba(204, 204, 204, .2);
        font-size: 16px;
    }
    .lbll {
        color: $lighter-color;
    }
    .price {

        .rupee {
            color: $dark-color;
            font-size: 28px;
        }

        .val {
            padding-right: 3px;
            color: $dark-color;
            font-size: 28px;
            font-weight: 500;
            text-transform: capitalize;
        }
        .unit {
            color: $light-color;
            font-size: 14px;
            font-weight: 500;
            text-transform: capitalize;
        }
    }
    .emicalculator-wrap {
        float: left;
        width: $calcwidth;
        min-height: $calcheight;
        background-color: #fff; //#fff9f9
        border: solid 1px #f4f4f4;
        .prop-price {
            padding: 0 0 30px 0;
            text-align: center;
            color: $dark-color;
            font-size: 16px;
            font-weight: 500;
        }

        .bar-slider {
            width: 100%;
            padding: 20px 5px;
        }

    }
    .emical-mod {

        .loan-amount{

            .slider-input{

                input{
                    padding-right: 5px;
                    padding-left: 40px;
                }

                span{
                    left: 0;
                    right: auto;

                    &:after{
                        left: auto;
                        right: 0;
                    }
                }
            }
        }

        .lbl {
            display: inline-block;
            padding-bottom: 10px;
            font-size: 14px;
            color: $light-color;
            text-transform: uppercase;
        }

        .slider-input {
            position: relative;

            input {
                padding-left: 10px;
                padding-right: 40px;
                position: relative;
                border: 1px solid $light-border;
                border-radius: 4px;
                width: 100%;
                height: 38px;
                line-height: 38px;
                color: $heading-color;
                font-size: 16px;
            }

            span {
                position: absolute;
                right: 0;
                top: 0;
                padding: 0 12px;
                line-height: 38px;
                font-size: 16px;
                text-align: center;
                color: $light-color;

                &:after{
                    content: '';
                    position: absolute;
                    width: 1px;
                    background: $light-border;
                    height: 70%;
                    left: 0;
                    top: 15%;
                }
            }
        }
    }
    .loan-graph {
        padding: 15px 0 0 0;
    }
    .graph {
        width: 250px;
        height: 250px;
        float: left;
        text {
            text-shadow: none !important;
            font-size: 15px !important;
        }
        .highcharts-background {
            background-color: #fff9f9 !important;
        }
    }
    .loan-details {
        float: left;
        width: calc(100% - 250px);
        padding: 25px 0 0 20px;

        .btn-wrap {
            padding: 15px 0 0;
            .ttl {
                color: $dark-color;
                font-size: 15px;
                font-weight: 500;
            }
            .ottxt {
                color: $lighter-color;
                font-size: 13px;
            }
            .cbtn.cbtn-p {
                width: 150px;
                margin-top: 10px;
                text-align: center;
                font-size: 16px;
            }
        }
    }
    .other-info {
        display: flex;
        flex-flow: row wrap;
        margin: 10px 0 20px;
        .amount-wrap {
            margin-right: 15px;
        }
    }
    .monthly-install {
        padding-top: 40px;

        .lbll-emi {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            font-size: 28px;
            letter-spacing: 1px;
        }

        .price {
            display: inline-block;
            vertical-align: middle;

            .unit {
                font-size: 16px;
            }
        }
    }
    .btn-wrap-loan {
        padding: 0 7px 5px 0;
    }
    //FIRST VIEW ENDS


    //STEP2 ICON SPRITE STYLE
    .hl-disbursement,
    .hl-closure,
    .hl-happy-customer {
        display: inline-block;
        background: url(/images/hl-icons.png) no-repeat;
        overflow: hidden;
        text-indent: -9999px;
        text-align: left;
        background-size: 70px;
    }
    .hl-disbursement {
        background-position: -5px -0px;
        width: 81px;
        height: 71px;
        background-position: -4px 5px;
    }
    .hl-closure {
        background-position: -5px -76px;
        width: 62px;
        height: 73px;
        background-position: 0px -55px;
    }
    .hl-happy-customer {
        background-position: -5px -154px;
        width: 60px;
        height: 74px;
        background-position: 0px -115px;
    }
    //STEP2 ICON SPRITE STYLE

    //SECOND VIEW STARTS
    .step2 {
        .overview-wrap {
            margin: 20px 0px 0px;
            padding: 0;
            font-size: 18px;
        }
        .user-name {
            margin-bottom: 10px;
            font-size: 20px;
        }
        .expert-call {
            display: inline-block;
        }
        .call-number {
            float: right;
            display: inline-block;
            color: $link-color;
        }
        .point-wrap {
            margin: 20px 0px;
            padding: 10px 0;
            background-color: #fcfcfc;
            font-size: 16px;
            .title {
                margin-bottom: 10px;
            }
            .point {
                display: inline-block;
                margin: 10px 10px 10px 0;
                width: 179px;
                .icon {
                    display: inline-block;
                    height: 60px;
                    width: 60px;
                    // background-color: $light-bg;
                }
                .point-text {
                    float: right;
                    padding: 5px 10px;
                    width: calc( 100% - 60px);
                    .point-header {
                        text-transform: capitalize;
                    }
                    .point-detail {
                        font-size: 13px;
                        opacity: .7;
                    }
                }
            }
        }
        .makaaniq-articles-wrap {
            .sub-title {
                border-left: solid 2px $link-color;
                padding-left: 10px;
            }
            .article-title {
                a {
                    color: $body-color;
                    text-decoration: none;
                    &:hover {
                        color: $link-color;
                        text-decoration: none;
                    }
                }
            }
            .article-time {
                opacity: .5;
            }
            .point-wrap {
                margin: 10px 0px 0px;
                padding: 10px 0px;
                background-color: transparent;
                .point {
                    margin: 10px 0px;
                    width: 100%;
                    .icon {
                        border-radius: 10px;
                        height: 65px;
                        width: 85px;
                        img {
                            border-radius: 10px;
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .point-text {
                        padding-left: 25px;
                        width: calc( 100% - 85px);
                    }
                    .point-header {
                        margin-bottom: 10px;
                    }
                    .point-detail {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    //SECOND VIEW ENDS
}

// compare banks section
.compare-banks {
    position: relative;
    float: left;
    width: calc(100% - #{$calcwidth});
    height: calc(#{$calcheight} + 2px);
    background-color: #f4f4f4;
    text-align: center;
    transition: all 300ms ease-in-out;
    h4 {
        padding: 15px 0;
        font-size: 16px;
    }
    //CSS FOR BANK TABLE TEMPLATE
    .bank-tbl-wrap {
        .col1 {
            max-width: 360px;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
        }
        .tbl-row {
            display: block; //UC fallback
            display: flex;
            flex-flow: row no-wrap;
            justify-content: space-between;
        }
        .tbl-hdng {
            padding: 0 0 4px 0;
            border-bottom: solid 1px #dcdcdc;
            color: $lighter-color;
            font-size: 11px;
        }
        .tbl-body {
            max-height: calc(#{$calcheight} - 142px);
            margin-bottom: 39px;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .col1,
        .col2,
        .col3 {
            display: inline-block;
            vertical-align: middle;
            padding: 5px;
        }
        $col2w: 100px;
        $col3w: 100px;
        $col1w: calc(100% - #{$col2w} - #{$col3w});
        .col1 {
            width: 100px;
            width: $col1w;
            text-align: left;
            padding-left: 15px;
        }
        .col2 {
            width: $col2w;
            text-align: right;
        }
        .col3 {
            width: $col3w;
            text-align: right;
            padding-right: 15px;
            .checkboxlbl {
                display: inline;
            }
        }
    }
    //CSS FOR BANK TABLE TEMPLATE ENDS
    .bank-footer-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .bank-footer {
        display: flex;
        //background-color: #e9e9e9;
        justify-content: space-between;
        max-width: 360px;
        margin: 0 auto;
        border-top: solid 1px #e0e0e0;
        .select-count {
            padding: 6px 10px 10px 5px;
            color: $dark-color;
            font-size: 13px;
        }
    }
}

.compare-banksPopup {
    float: none;
    width: 100%;
    height: 300px;
    .bank-tbl-wrap {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .tbl-body {
            max-height: calc(300px - 78px);
        }
    }
    .bank-footer {
        display: none;
        border: none;
    }
}

// CUSTOM CSS FOR EMI CALC AND CHARTS ENDS -- MOBILE
@media (max-width: 767px) {

    .home-loan-wrap {
        padding: 0 10px;

        .loan-card-heading {
            padding: 10px 15px;
            font-size: 16px;
        }

        .pad20 {
            padding: 0px 20px;
        }

        .overview-wrap {
            margin: 10px 10px 20px;
            padding: 0 10px;
            font-size: 18px;
        }

        .emicalculator-wrap {
            width: 100%;
            margin: 0 auto;

            .bar-slider{
                padding: 15px 0 0 0;
                background: none;
            }
        }

        .emical-mod {

            .m-padding{
                padding: 0 10px;
            }

            .lbl{
                font-size: 12px;
                padding-bottom: 8px;
            }

            .slider-input {
                width: 100%;
                margin: 0 0 15px 0;
                text-align: left;
            }
        }

        .loan-graph {
           position: relative;
           padding: 35px 0 0 0;
        }

        // CUSTOM CSS FOR EMI CALC AND CHARTS STARTS
        .sliderType {
            display: none;
        }
        // .noUi-horizontal {
        //     .noUi-handle {
        //         top: -5px;
        //     }
        // }
        .left-label {
            left: -33px;
        }
        .right-label {}
        // CUSTOM CSS FOR EMI CALC AND CHARTS ENDS
        .property-detail-loan {
            padding-bottom: 5px;
            font-size: 14px;
        }
        .rupee {
            font-size: 21px;
        }
        .title-emi {
            border-left: solid 2px red;
            padding-left: 10px;
        }
        .unit {
            padding: 0px 5px 0px 2px;
            font-size: 12px;
        }
        .graph {
            float: none;
            margin: 0 auto;
        }
        .loan-details {
            float: none;
            width: 100%;
            padding: 0;
            text-align: inherit;

            .monthly-install {
                text-align: center;
                position: absolute;
                width: 100%;
                top: 0;
                padding-top: 5px;
            }

            .btn-wrap {
                text-align: center;
                padding: 0 0 25px 0;
            }
        }

        .other-info {
            justify-content: center;
        }

        .project-spec {
            padding-left: 10px;
            min-width: 130px;
            ul {
                font-size: 12px;
            }
        }
        .btn-wrap-loan {
            .compare-link {
                font-size: 14px;
                margin-top: 5px;
            }
        }
        .compare-banks {
            display: block;
            float: none;
            width: 100%;
            height: auto;
            max-height: 0;
            overflow: hidden;
            &.show {
                margin: 0px;
                max-height: 400px;
            }
            &.show ~ .btn-wrap-loan {
                .txtbtn {
                    &:hover {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
            &.show + .txtbtn {
                i {
                    transform: rotate(180deg);
                }
            }
        }
        .step2 {
            .overview-wrap {
                margin: 20px 0px 0px;
                padding: 10px 0px;
            }
            .user-name {
                margin-bottom: 0px;
                font-size: 18px;
            }
            .call-number {
                float: none;
                margin-top: 10px;
                font-size: 16px;
            }
            .point-wrap {
                margin: 5px 0px 0px 0px;
                padding: 15px 20px 0px;
                .point {
                    margin: 10px 0px;
                }
            }
            .makaaniq-articles-wrap {
                .point-wrap {
                    padding: 0px 20px;
                }
                .point-detail {
                    float: right;
                }
                .article {
                    border-bottom: solid 1px #eee;
                }
            }
        }
    }
}
