.fixed-top-banner {
    position: relative;
    height: 120px;
    cursor: pointer;
    &.mobile-ad-banner{
        width:95%;
        margin:10px;
        padding:10px;
        color:#ffffff;
        border-bottom: 2px solid #e81c28;
    }
    &.amp-deficit{
        width:90%;
        text-align: left;
    }
    &.amp-leadDeficit{
        background:linear-gradient(to right, #000000, rgba(0, 0, 0, 0.4) 52%, rgba(0, 0, 0, 0.1) 62%, rgba(0, 0, 0, 0)),url('/images/dummyProject.jpg') no-repeat;
        background-size:cover;
        background-position: center;
    }
    .project-image{
        width: 292px;
        height: 120px;
    }
    .fixed-ad-caption{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 5px;
        font-size: 10px;
        line-height: 20px;
        text-transform: uppercase;
        background-color: #000;
        color:#ffffff;
    }
    .fixed-ad-cta{
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-weight: 500;
        .icon-arrow-right:before{
            color:#ffffff;
        }
    }
    .cbtn{
        font-size: 12px;
    }
    .main-line{
        .project-name{
            font-size: 16px;
            font-weight: 500;
        }
        .builder-name{
            font-size: 12px;
            font-style: italic;
        }
    }
    .sub-line{
        padding-top:5px;
        font-size:12px;
    }
    .bottom-line{
        position: absolute;
        bottom: 10px;
        font-weight: 500;
        width:100%;
        font-size:14px;
    }
}


