@import "../variables";
@import "../mixins/ellipsis";
@import "review-card";
@import "highlighter-badge";

.all-review-wraper{

    .top-header{
        display: flex;
        padding: 20px 30px;
        height: 106px;
        margin-bottom: 15px;
        position: relative;
        border-top: 6px solid #ffc72b;

        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 106px;
            left: 0;
            top: 0;
            z-index: -1;
            background: url(/images/rating-review/expert-m-bg.png) no-repeat top left;
            background-size: cover;
        }

        &.deal-maker{
            border-top-color: #becdd4;
            &:before{
                filter: grayscale(100%);
            }
        }


        .seller-img{
            width: 55px;
            height: 55px;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
            background: #fff;
            position: relative;
            text-align: center;
            line-height: 55px;
            font-size: 30px;
            text-transform: uppercase;
            background-size: cover;
            background-position: center;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .sd-box{
            width: calc(100% - 80px);
            padding-left: 15px;
            padding-top: 5px;
            .seller-name{
                font-size: 20px;
                color: $heading-color;
                line-height: 18px;
                font-weight: 500;
                display: block;
            }
            .seller-type{
                font-size: 13px;
                font-weight: bold;
                color: $light-color;
                padding-top: 10px;
                span{
                    font-weight: normal;
                    color: $light-text;
                    text-transform: uppercase;
                }
            }
        }
    }

    .total-review{
        font-size: 13px;
        color: $light-color;
        font-weight: 500;
        margin-bottom: 6px;
    }    

    > p{
        font-size: 13px;
        color: $light-text;
        line-height: 16px;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .review-parm{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        width: calc(100% + 40px);
        position: relative;
        left: -20px;
        padding-left: 20px;
        li{
            text-align: center;
            margin-right: 25px;
            flex: 0 80px;

            &:last-child{
                margin-right: 0;
            }
        }

        .img-lbl-wrap{
            position: relative;
            .quality-img{
                width: 72px;
                height: 72px;
                border-radius: 100%;
                overflow: hidden;
                text-align: center;
                display: inline-flex;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .quality-label{
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translate(-50%, 0);
                min-width: 74px;
                max-width: 88px;
                height: 16px;
                font-size: 11px;
                font-weight: bold;
                color: #861010;
                line-height: 1;
                text-align: center;
                background: #fff;
                border: solid 2px #f9f9f9;
                border-radius: 25px;
                text-transform: uppercase;
            }
        }

        .quality-text{
            font-size: 12px;
            line-height: 15px;
            color: $light-color;
            margin-top: 5px;
            font-weight: 500;
        }

    }

}

// seperator line css
.seperator-line {
    height: 1px;
    margin-left: -30px;
    margin-right: -30px;
    background: #f5f5f5;
}

.brw-container {

    .see-all {
        padding-left: 5px;
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
    }

    .more-reviews {
        color: $light-color;
        font-size: 13px;

        &.onlyone {
            .see-all {
                padding-left: 0;
            }
        }
    }
}

.slider-wrap {
    .sudowrap {
        font-size: 0px;
    }
    .review-box {
        display: inline-block;
        width: 340px;
        margin-right: 20px;
    }
}

.review-content-wraper{
    > p{
        margin-top: 6px;
        font-size: 13px;
        color: $light-color;
    }
}


// desktop popup
.seller-review-popup {
    width: calc(100% - 20px);
    max-width: 560px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 4px;

    .all-review-wraper{
        .review-content-wraper{
            padding: 0 30px;
        }
    }

    .brw-container {
        padding: 0 30px;
    }

    .close-popup {
        position: absolute;
        top: 8px;
        right: 0;
        width: 30px;
        height: 30px;
        padding: 7px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        z-index: 2;
    }
}

@media screen and ( max-width: 767px ) {
    .seller-review-popup {
        width: 100%;
        max-height: 100vh;
        padding: 10px;

        .all-review-wraper{
            .top-header{
                padding: 10px 5px;
                height: 85px;
            }
            .review-content-wraper{
                padding: 0;
            }
        }

        .brw-container {
            padding: 0;
        }

        // seperator line css
        .seperator-line {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}
