@import "../variables";

.ylw-txt{
    color: $offerBtn;
}
.lghter-txt{
    color: $lighter-color;
}

.themecolor{
    color: $link-color;
    font-size: 16px;
}

.error-msg{
    color: $link-color;
}

.detailforms1-wrap{
    background-color: #f9f9f9;
    padding: 20px;
    padding-bottom: 60px;
    max-width: 375px;
    width: 100%;
    font-size: 16px;
    .heading{
        font-size: 22px;
        color: rgba(68,68,68,.8);
    }
    .view-summary{
        margin-bottom: 30px;
    }
    .submit{
        text-align: center;
        margin-top: 40px;
        .btnv2{
            padding: 6px 42px;
        }
    }
    .input-box{
        margin: 20px 0 0 0;
        input{
            padding: 16px 20px 2px 0;
        }
        label{
            top: 16px;
        }
        .country-code{
            position: absolute;
            top: 16px;
            left: 0;
            max-width: 36px;
        }
        &.country-code-contact{
            label{
                left: 36px;
            }
            input{
                text-indent: 36px;
                font-size: 15px;
            }
        }
        &.active, &.active{
            label{
                top: 0;
                left: 0;
            }
        }
    }
}

.detailforms2-wrap{
    background-color: #fbfbfb;
    padding: 30px 40px;
    max-width: 375px;
    width: 100%;
    .heading{
        margin-bottom: 25px;
        h2{
            font-size: 18px;
        }
    }
    .ylw-txt{
        font-size: 14px;
        margin-bottom: 5px;
        color: rgba(68,68,68,.8);
    }
    .detailcategory-wrap{
        margin-bottom: 25px;
        ul.selected-service{
            li{
                padding: 10px 0;
                border-bottom: 1px solid #e3e3e3;
                position: relative;
                font-size: 16px;
                padding-top: 0;
                .alliance-count{
                    color: $lighter-color;
                    font-size: 12px;
                }
                i{
                    position: absolute;
                    top: 33%;
                    right: 5px;
                    cursor: pointer;
                }
            }
        }
        .selected-category{
            li{
                font-size: 16px;
            }
        }
    }
}

.detailforms3-wrap{
    padding: 15px 20px 40px;
    background-color: #f9f9f9;
    text-align: center;
    max-width: 375px;
    .otp-icon{
        margin: 0 auto;
        .icon{
            font-size: 40px;
            display: inline-block;
        }
    }
    .number-detail{
        font-size: 16px;
        .darker-txt{
            color: $notdark-color;
            margin-top: 5px;
        }
    }
    .otp-detail{
        p{
            margin-top: 30px auto 20px;
        }
    }
    .verification-code-value{
        position: relative;
        input{
            position: relative;
            z-index: 999;
            height: 36px;
            line-height: 36px;
            text-align: left;
            display: inline-block;
            width: 116%;
            text-indent: 35px;
            letter-spacing: 68px;
            font-size: 30px;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            &:focus{
                outline: none;
            }
        }
        &:after{
            content: "_________ \00a0 \00a0 \00a0 _________ \00a0 \00a0 \00a0 _________ \00a0 \00a0 \00a0 _________";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
        .error-msg{
            position: absolute;
            width: 100%;
            bottom: -18px;
            left: 0;
        }
    }
    .resend-otp-wrap{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 30px 0 10px;
        .icon, .resend-otp{
            color: $link-color;
            font-size: 18px;
        }
        &.blck-txt{
            color: #444444;
        }
    }
}

.thankyou-wrap{
    font-size: 18px;
    .circle-tick{
        margin: 30px auto;
        i{
            font-size: 75px;
            color: $link-color;
        }
    }
    .txt{
        p{
            margin: 6px auto 0;
            line-height: 1;
        }
    }
    .srvce-txt{
        margin: 50px auto 40px;
    }
    .explore{
        text-align: center;
        a{
            font-size: 16px;
            color: $link-color;
            display: block;
            max-width: 225px;
            margin: 20px auto;
        }
        button{
            display: block;
            font-size: 16px;
            padding: 8px 30px;
            margin: 0 auto;
        }
    }
}


.coupon-wrap{
    margin: 50px 0;
    ul{
        li{
            margin-bottom: 10px;
        }
    }
}

.couponcodes{
    padding: 10px;
    background-color: #f9f9f9;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    .img-wrap{
        width: 35px;
        height: 35px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        img{
            width: 100%;
            height: auto;
        }
    }
    .content-wrap{
        width: 60%;
        display: inline-block;
        vertical-align: middle;
        padding: 5px;
        font-size: 14px;
    }
    .code-wrap{
        border: 1px dashed #979797;
        padding: 8px 10px;
        width: 124px;
        text-align: center;
        font-size: 14px;
        display: inline-block;
        vertical-align: top;
    }    
}

@media screen and (min-width: 768px) {
    .d-combine-step12{
        max-width: 768px;
        margin: 50px auto;
        .detailforms2-wrap, .detailforms1-wrap{
            display: inline-block;
            vertical-align: top;
            background-color: #fbfbfb;
        }
        .detailforms2-wrap{
            padding: 25px 40px;
        }
    }
    .detailforms3-wrap{
        margin: 20px auto;
        background-color: #fbfbfb;
        .otp-icon{
            width: 60px;
            height: 60px;
            .icon{
                font-size: 60px;
            }
        }
        .number-detail{
            margin-top: 10px;
        }
        .otp-detail{
            margin-top: 30px;
        }
        .verification-code-value{
          input {
            height: 45px;
            line-height: 40px;
          }  
        } 
    }
}

@media screen and (max-width: 767px){
    .couponcodes{
        .content-wrap{
            width: 43%;
        }
        .code-wrap{
            vertical-align: middle;
        }
    }
}


