<div data-type="closePopup" class="close-out">
    <i class="icon-close"></i>
    <i class="icon-back-arrow">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
    </i>
</div>

<div class="popup-content" data-social-content>
    <div class="top-area">
        <figure class="thumbimg">
            <img alt="" src="{{=it.image}}" />
        </figure>
        <div class="page-details">
            <div class="header-text">
                {{=it.title}}</span>
            </div>
            <div class="address">{{=it.description}}</div>
        </div>
    </div>
    <div class="share-widget-area">
        <div class="copyurlbox">
            {{? it.allowCopyToClipboard}}
                <div class="cbtn cbtn-p copybtn" data-type="copyUrl">Copy url</div>
            {{?}}
            <div class="urlbox">
                <i class="icon-link"></i>
                <span class="urllink" data-type="urlLink">{{=it.location}}</span>
            </div>
        </div>
        <ul class="sharebtn-wrap">
            <li>share: </li>
            <li>
                <span class="sharebtn fb-btn" data-type="Facebook-Feed" title="share on facebook">
                    <i class="icon-facebook">
                        <span class="path1"></span><span class="path2"></span>
                    </i>
                </span>
            </li>
            <li>
                <span class="sharebtn fb-btn-m" data-type="Facebook-Send" title="message on facebook">
                    <svg enable-background="new 0 0 128 128" id="fb-m-icon" version="1.1" viewBox="0 0 128 128" xml:space="preserve"><g id="_x34__stroke"><g id="Facebook_Messenger_1_"><rect clip-rule="evenodd" fill="none" fill-rule="evenodd" height="128" width="128"/><path clip-rule="evenodd" d="M70.36,79.802L54.062,62.42    L22.261,79.802l34.981-37.136l16.696,17.383l31.404-17.383L70.36,79.802z M64,0C28.654,0,0,26.531,0,59.259    c0,18.649,9.307,35.283,23.851,46.146V128l21.791-11.96c5.816,1.609,11.977,2.478,18.358,2.478c35.346,0,64-26.531,64-59.259    S99.346,0,64,0z" fill="#007FFF" fill-rule="evenodd" id="Facebook_Messenger"/></g></g></svg>
                </span>
            </li>
            <li>
                <span class="sharebtn twitter-btn" data-type="Twitter" title="Tweet now!">
                    <i class="icon-twitter">
                        <span class="path1"></span><span class="path2"></span>
                    </i>
                </span>
            </li>
            <li>
                <span class="sharebtn gplus-btn" data-type="Gplus" title="share on google+">
                    <i class="icon-google-plus">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                    </i>
                </span>
            </li>
            <li>
                <span class="sharebtn linkedin-btn" data-type="Linkedin" title="share on linkedin">
                    <i class="icon-linkedin">
                        <span class="path1"></span><span class="path2"></span>
                    </i>
                </span>
            </li>
            <li>
                <span class="sharebtn email-btn" data-type="Gmail" title="send an email">
                    <i class="icon-mail">
                        <span class="path1"></span><span class="path2"></span>
                    </i>
                </span>
            </li>
            {{? it.isMobileRequest}}
            <li>
                <span class="sharebtn whatsapp-btn" data-type="Whatsapp" title="share on whatsapp">
                    <i class="icon-whatsapp">
                        <span class="path1"></span><span class="path2"></span>
                    </i>
                </span>
            </li>
            {{?}}
        </ul>
    </div>
</div>
