{{##def.icons:
    {{? value.name =='restaurant'}}
        <span class="icon-rastaurants">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
        </span>
    {{?? value.name =='school'}}
        <span class="icon-school">
            <span class="path1"></span><span class="path2"></span>
        </span>
    {{?? value.name =='shopping_mall'}}
        <span class="icon-malls">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span>
        </span>
    {{?? value.name =='cinema'}}
        <span class="icon-cinema">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
        </span>
    {{?? value.name =='nightlife'}}
        <span class="icon-night-club">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
        </span>
    {{?? value.name =='pharmacies'}}
        <span class="icon-hospitals">
            <span class="path1"></span><span class="path2"></span>
        </span>
    {{?? value.name =='hospital'}}
        <span class="icon-hospitals">
            <span class="path1"></span><span class="path2"></span>
        </span>
    {{?? value.name =='atm'}}
        <span class="icon-atm">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
        </span>
    {{?}}
#}}


<div class="m-commute">
    <div class="hdng-wrap">
        <ul class="amenity-tablist">
            {{~it.amenities :value:index}}
                {{?value.count}}
                    <li data-type="amenity-type" data-name="{{=value.name}}" data-display-name="{{= value.displayName || ''}}" {{? it.selectedIndex == index }} class="active" {{?}} >
                        <span class="icon-wrap">{{#def.icons}}</span>
                        {{=value.displayName}}
                    </li>
                {{?}}
            {{~}}
        </ul>
    </div>
    <ul class="neighbour-commute clearfix">
        {{~it.selectedData :data:index}}
        <li class="clearfix">
            <div class="col-xs-9 no-padding">
                <span class="place-name">{{=data.name}}</span>
            </div>
            <div class="col-xs-3 ta-r dist">{{=data.distance}}</div>
        </li>
        {{~}}
    </ul>
</div>
