 <div class="col-xs-12 col-sm-4 graph-details clearfix">
        <div class="heading text-center">
            <h2>Top localities in {{=it.cityName}}</h2>
        </div>
        <ul class="level1 clearfix">
            {{~it.topLocalities :locality }}
            <li class="clearfix">
                <div class="col-sm-10 col-xs-10 no-padding clearfix">
                    <h3 class="clearfix"><a class="link" data-link-name="{{=locality.name}}" data-link-type="locality overview" href="{{=locality.url}}" data-type="cityTopLocality" data-track-action="Click_CityTopLocalities_{{=locality.name}}" data-track-label="CityOverview_{{=it.cityName}}" >{{=locality.name}}</a></h3>
                    {{? locality.avgPricePerUnitArea }}
                        <div class="col-sm-12 small-font no-padding">Avg. Price {{=locality.avgPricePerUnitArea}} / sq ft</div>
                    {{?}}
                    {{? locality.avgPriceRisePercentage}}
                        {{? locality.avgPriceRisePercentage >= 0}}
                            <div class="green col-sm-12 no-padding">{{=locality.avgPriceRisePercentage}}%</div>
                        {{?? true}}
                             <div class="red col-sm-12 no-padding">{{=locality.avgPriceRisePercentage}}%</div>
                        {{?}}
                    {{?}}

                </div>
                {{? locality.livabilityScore}}
                <div class="col-sm-2 col-xs-2 no-padding clearfix" data-type="score-ring-popup" data-track-action="Click_LocalityScore_TopLocalities" data-track-label="CityOverview_{{=it.cityName}}" data-openid="localityScorePopup">
                    {{? locality.livabilityScore>=1}}
                    <div class="livibility-wrap pull-right">
                                                <div class="ring-wrap">
                            <span class="ring base initial"></span>
                            <div class="score">{{=locality.livabilityScore || ''}}</div>
                            <!-- Apply class 'less' to container if 'x'% is less than 50% -->
                            <span class="ring bor-none {{= locality.livabilityScore<=5 ? 'less' : '' }}">
                                <!-- For x% (less than 50%), rotateZ value will be [(x * 3.6) - 135] deg -->
                                <!-- For x% (>= 50%), rotateZ value will always be set to 45 deg -->
                                <span class="ring cir initial first" 
                                style="transform: rotateZ(
                                {{= locality.livabilityScore<=5 ? ((locality.livabilityScore * 10 * 3.6) - 135) + 'deg' : '45deg'}})"></span>
                                <!-- For x% (50% onwards), rotateZ value will be [(x - 50) * 3.6 + 45] deg -->
                                <span class="ring cir final {{= locality.livabilityScore<=5 ? 'hide' : ''}}" 
                                style="transform: rotateZ({{= ((locality.livabilityScore * 10 - 50) * 3.6 + 45) + 'deg' }})"></span>
                            </span>
                        </div>
                    </div>
                    {{?}}
                </div>
                {{?}}
            </li>
            {{~}}
        </ul>
    </div>