<div class="report-error-container js-report-error-container">
    <div class="re-heading">
        <div data-type="REPORT_ERROR_CLOSE" class="close-popup">
            <i class="icon-close"></i>
        </div>
        <div data-type="REPORT_ERROR_BACK" class="js-step2 js-backbutton backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
    </div>
    <div class="upper-pane">
        <div class="re-title js-step1 js-error_category">Report error</div>
        <div class="re-title js-step2 js-property_sold_out hidden">Reporting property sold/rented out</div>
        <div class="re-title js-step2 js-incorrect_details  hidden">Reporting incorrect details</div>
        <div class="re-title js-step2 js-report_spam hidden">Reporting spam</div>
        <div class="re-title js-step2 js-report_other hidden">Reporting others</div>
        <img class="report-img" alt="" src="/images/report-icon.png" />
    </div>
    <div class="second-pane">
        <div class="reason-pane">
            <!-- for the first step where user has to select the reason category start -->
            <div class="js-step1 js-error_category">
                <div class="desc-title">Help us with more details</div>

                <div class="reason-list">
                    {{for(var prop in it.primary_reason){}}
                    {{ var _temp =  it.primary_reason;}}
                    <input type="radio" id="reason_{{=prop}}" name="reason" value= "{{=_temp[prop].value}}"  data-type="{{=_temp[prop].data_type}}" {{?_temp[prop].dataId}} dataId={{=_temp[prop].dataId}} {{?}}/>
                    <label class="reason" for="reason_{{=prop}}" >{{=_temp[prop].value}}</label>
                    {{}}}
                </div>
            </div>
            <!-- for the first step where user has to select the reason category end -->

            <!-- for the second step reason 1 details start -->
            <div class="reason-incorrect js-step2 js-incorrect_details hidden">
                <div>Please select one or more</div>
                <div class="reason-list">
                    {{for(var prop in it.secondary_reason.incorrect){}}
                    {{ var _temp =  it.secondary_reason.incorrect;}}
                    <input type="checkbox" id="reason_1_{{=prop}}" name="incorrect_details" value="{{=_temp[prop].value}}" data-type="{{=_temp[prop].data_type}}" dataId={{=_temp[prop].dataId}}>
                    <label class="reason" for="reason_1_{{=prop}}" >{{=_temp[prop].value}}</label>
                    {{}}}
                </div>
            </div>
            <!-- for the second step reason 1 details end -->

            <!-- for the second step reason 2 details start -->
            <div class="reason-soldout js-step2 js-property_sold_out hidden">
            </div>
            <!-- for the second step reason 2 details end -->

            <!-- for the second step reason 3 details start -->
            <div class="reason-spam js-step2 js-report_spam hidden">
                <div>Please select one or more</div>
                <div class="reason-list">
                    {{for(var prop in it.secondary_reason.spam){}}
                    {{ var _temp =  it.secondary_reason.spam;}}
                    <input type="checkbox" id="reason_3_{{=prop}}" name="spam" value="{{=_temp[prop].value}}" data-type="{{=_temp[prop].data_type}}"  dataId={{=_temp[prop].dataId}}>
                    <label class="reason" for="reason_3_{{=prop}}" >{{=_temp[prop].value}}</label>
                    {{}}}
                </div>
            </div>
            <!-- for the second step reason 3 details end -->

            <!-- for the second step reason 4 details start -->
            <div class="reason-other js-step2 js-report_other hidden">
                <textarea maxlength="3000" class="txtarea" id="other_textarea" placeholder="please enter the error details"></textarea>
            </div>
            <!-- for the second step reason 4 details end -->

            <div class="err-msg em1" data-message="REPORT_ERROR"></div>
        </div>
        <div class="js-submit-area js-step2 hidden">
            <div class="form-row">
                <input type="hidden" data-country="MAIN_COUNTRY" value="" label=""/>
                <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd js-countries">
                    <script type="text/x-config">
                        {"templateFromPromise": true }
                    </script>
                </div>
                <div class="fc-wrap inputbox country-code-contact clearfix">
                    <span class="countryCode" data-country-code="MAIN_COUNTRY_CODE">--</span>
                    <div data-module="InputBox" >
                        <script type="text/x-config">
                            {"label": "Mobile", "inputName":"client-phone-num","textIndent":"42px","type":"number","maxlength":14}
                        </script>
                        <div class="js-input-placeholder" data-type="MAIN_PHONE"></div>
                    </div>
                    <div class="error-msg" data-message="PHONE"></div>
                </div>
            </div>
            <div class="btn-wrap">
                <a class="cbtn cbtn-p" data-type="REPORT_ERROR_SUBMIT"><span data-normal>Submit</span><span data-processing class="js-step2 hidden">Processing...</span></a>
                <span data-message="GLOBAL"class="show-error"></span>
            </div>
        </div>
        <div class="welcome-note js-step3 hidden">
            <h3 class="">We are highly grateful to you. our goal is to ensure, you see high quality properties only. Your help is what makes this possible</h3>
        </div>
    </div>
</div>
