<div class="fallback-container">

    {{?it.hidePyrCard}}
    <!-- map card starts -->
    <!-- <div class="sidebarcard move inn" data-type="showon-map">
        <div class="sbc-l-col">
            <h3 class="sbc-hdng">
                Property on Map
            </h3>
            <div class="sbc-txt">
                Check out properties on map to know their exact location.
            </div>
            <div class="sbc-link" >
                <span  class="pink link">Switch to map view</span>
            </div>
        </div>
        <div class="sbc-r-col">
            <div class="icon-wrap">
                <img alt="property-on-map" title="property-on-map" data-src="/images/property-on-map.png" src="/images/dummyPX.png" />
            </div>
        </div>
        <div class="clear"></div>
    </div> -->
    <!-- map card ends -->
    {{??}}
    <!-- pyr card starts -->
    <div class="sidebarcard move inn" data-type="open-pyr">
        <div class="sbc-l-col">
            <h3 class="sbc-hdng">
                Contact Top Sellers
            </h3>
            <div class="sbc-txt">
                Get connected with top sellers for your needs.
            </div>
            <div class="sbc-link" >
                <span  class="pink link">Share your requirements</span>
            </div>
        </div>
        <div class="sbc-r-col">
            <div class="icon-wrap">
                <img alt="pyr" title="pyr" data-src="/images/pyr.png" src="/images/dummyPX.png" />
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- pyr card ends -->
    {{?}}


    {{?!it.hideAppCard}}
    <!-- download app card starts -->
    <div class="sidebarcard move in0" itemscope itemtype="http://schema.org/Organization">
        <a href="/download-mobileapp" data-type="download-app" target="_blank" class="no-ajaxy cardlink" itemprop="sameAs" rel="nofollow">
            <div class="sbc-l-col">
                <h3 class="sbc-hdng" itemprop="name">
                    Makaan on the go
                </h3>
                <div class="sbc-txt" itemprop="description">
                    Your home search continues wherever you go, with makaan app.
                </div>
                <div class="sbc-link">
                    <span class="link">Download app</span>
                </div>
            </div>
            <div class="sbc-r-col">
                <div class="icon-wrap">
                    <img alt="download-app" title="download-app" data-src="/images/download-app.png" src="/images/dummyPX.png" />
                </div>
        </div>
        </a>
        <div class="clear"></div>
    </div>
    <!-- download app card ends -->

    {{?}}

</div>
