<div class="dealmaker">
    <div class="punch-lines-wrap clearfix">
        {{? !(it.config && it.config.hideHeading) }}
            {{? it.labels.label}}
                <h3 class="title"><strong>{{=it.labels.label.title.main}}</strong> {{=it.labels.label.title.label}}</h3>
                <div class="subtitle">{{=it.labels.label.subTitle}}</div>
            {{??}}
                <h3 class="title">{{=it.labels.defaults.title}}</h3>
                <div class="subtitle">{{=it.labels.defaults.subTitle}}</p>
            {{?}}
        {{?}}

        {{? it.isBuyAvailable && it.isRentAvailable}}
            <div class="buy-rent-wrap">
                <fieldset>
                    <div class="switch-toggle large">
                        <input id="buyid" name="buy-rent-switch" data-type="switch" data-category="buy" type="radio" {{?it.currentCategory=="buy"}} checked{{?}}>
                        <label for="buyid" onclick="">Buy</label>
                        <input id="rentid" name="buy-rent-switch" data-type="switch" data-category="rent" type="radio" {{?it.currentCategory=="rent"}} checked{{?}}>
                        <label for="rentid" onclick="">Rent</label>
                        <a></a>
                    </div>
                </fieldset>
            </div>
        {{?}}
    </div>
    {{?it.topSellers.length > 2 || it.isMobileRequest}}
        <div class="top-sellers hp-top-sellers slider-wrap {{?it.extraClasses}}{{=it.extraClasses}}{{?}}" data-module="slider"  data-window="topseller-slider">
            <div class="sudowrap" id="topseller-slider">
                <ul class="dealmaker-list clearfix js-top-seller-list" data-type="list-container">
    {{??}}
        <div class="top-sellers hp-top-sellers slider-wrap {{?it.extraClasses}}{{=it.extraClasses}}{{?}}" data-window="topseller-slider">
            <div class="sudowrap" id="topseller-slider">
                <ul class="dealmaker-list clearfix js-top-seller-list" data-type="list-container">
    {{?}}
                {{~it.topSellers :value:index}}
                    <li class="big-seller-card" data-type="list-element" data-userId="{{=value.id}}" data-seller-type="{{=value.sellerType}}">
                        <div class="scwrapper">
                            {{?it.cityExpertCount}}
                                <div class="dmLabel" data-background-image="/images/dealmaker-expert-badge.png"></div>
                            {{?}}
                            {{?it.cityExpertCount}}
                                <div class="sllr-img-name-row" data-isclickable="true" data-show-main-profile="true" data-seller-type="{{=value.sellerType}}" data-category="city" data-link-name="{{=value.name}}" data-link-type="Broker" data-seller-id={{=value.id}} data-seller-user-id={{=value.userId}} data-type="seller-listings">
                            {{??}}
                                <div class="sllr-img-name-row" data-isclickable="true" data-show-main-profile="true" data-seller-type="{{=value.sellerType}}" data-category="locality" data-link-name="{{=value.name}}" data-link-type="Broker" data-seller-id={{=value.id}} data-seller-user-id={{=value.userId}} data-type="seller-listings">
                            {{?}}
                                {{?value.image}}
                                    <div class="seller-img-box" data-background-image={{=value.image}} style="background-color: {{=value.backgroudColor}}">   
                                    <span class="highlighter-badge">
                                        {{? value.isExpertDealMaker || value.isCityExpert || value.isLocalityExpert }}
                                        <img data-src="images/rating-review/expert-badge.png" alt="Expert Deal Maker" src="/images/dummyPX.png">
                                        {{?? value.isDealMaker}}
                                        <img data-src="images/rating-review/dealmaker-badge.png" alt="Deal Maker" src="/images/dummyPX.png">
                                        {{?}}
                                    </span>
                                    </div>
                                {{??}}
                                    <div class="seller-img-box s-bg" style="background-color:transparent;">
                                        <span class="highlighter-badge">
                                        {{? value.isExpertDealMaker || value.isCityExpert || value.isLocalityExpert }}
                                        <img data-src="images/rating-review/expert-badge.png" alt="Expert Deal Maker" src="/images/dummyPX.png">
                                        {{?? value.isDealMaker}}
                                        <img data-src="images/rating-review/dealmaker-badge.png" alt="Deal Maker" src="/images/dummyPX.png">
                                        {{?}}
                                        </span>
                                    </div>
                                {{?}}
                                <div class="slr-dtls-name">
                                    <div class="legalname" title="{{=value.name}}">{{=value.name}}</div>
                                    <div class="designation">
                                        {{? value.designation}}
                                            <span class="seller-type {{=value.designation.class}}">{{=value.designation.label}}</span>
                                        {{?}}
                                    </div>
                                </div>
                            </div>
                            {{?it.cityExpertCount}}
                                <div class="sllr-highlights-row" data-isclickable="true" data-show-main-profile="true" data-seller-type="{{=value.sellerType}}" data-category="city" data-link-name="{{=value.name}}" data-link-type="Broker" data-seller-id={{=value.id}} data-seller-user-id={{=value.userId}} data-type="seller-listings">
                            {{??}}
                                <div class="sllr-highlights-row" data-isclickable="true" data-show-main-profile="true" data-seller-type="{{=value.sellerType}}" data-category="locality" data-link-name="{{=value.name}}" data-link-type="Broker" data-seller-id={{=value.id}} data-seller-user-id={{=value.userId}} data-type="seller-listings">
                            {{?}}
                                <div class="rating-container">
                                    <span class="rating" data-sellerRating="{{=value.rating}}">
                                        <div class="rating-badge {{=value.ratingInfo.ratingClass}}" data-type="seller-rating">{{? value.ratingInfo.rating }} {{=value.ratingInfo.rating }} {{??}} - {{?}}</div>
                                    </span>
                                </div>
                                <div class="option-wrap">
                                    {{?value.paidLeadCount}}
                                        <div class="option"><span>{{=value.paidLeadCount}}</span> {{?value.paidLeadCount > 1}}deals{{??}}deal{{?}} closed</div>
                                    {{?}}
                                    {{? value.properties == 1}}
                                        <div class="option"><span>{{=value.properties}}</span> matching property</div>
                                    {{??}}
                                        <div class="option"><span>{{=value.properties}}</span> matching properties</div>
                                    {{?}}
                                </div>
                            </div>
                            {{?it.cityExpertCount}}
                                <div class="sllr-deals-in-row" data-isclickable="true" data-show-main-profile="true" data-seller-type="{{=value.sellerType}}" data-category="city" data-link-name="{{=value.name}}" data-link-type="Broker" data-seller-id={{=value.id}} data-seller-user-id={{=value.userId}} data-type="seller-listings">
                            {{??}}
                                <div class="sllr-deals-in-row" data-isclickable="true" data-show-main-profile="true" data-seller-type="{{=value.sellerType}}" data-category="locality" data-link-name="{{=value.name}}" data-link-type="Broker" data-seller-id={{=value.id}} data-seller-user-id={{=value.userId}} data-type="seller-listings">
                            {{?}}
                                <div class="deals-in-list">
                                    {{~value.localities :locality:localityIndex}}
                                        <span class="txt" data-id="{{=locality.localityId}}">{{=locality.label}}{{?localityIndex != value.localities.length-1}},{{?}} </span>
                                    {{~}}
                                </div>
                                {{? value.moreLocalities}}
                                    <span class="linktxt">{{=value.moreLocalities}} more</span>
                                {{?}}
                            </div>
                        </div>
                    </li>
                {{~}}
            </ul>
        </div>
        <div class="btn-prev hide1024nbelow js-prev disable" data-type="back-btn"><i class="icon-chevron-left"></i></div>
        <div class="btn-next hide1024nbelow js-next disable" data-type="next-btn"><i class="icon-chevron-right"></i></div>
    </div>
</div>
