{{ function getDealMakerWithBadge(badgeClass, badgeImage, title, subtitle) { }}
    {{?!(it.config && it.config.hideHeading) }}
        <div class="top-sellers-head move inn clearfix">
                <span class="h2">{{=title}}</span>
                <p>{{=subtitle}}</p>
        </div>
    {{?}}
{{ } }}
{{ var minimumDummyIconIndex = 4; }}
<div class='top-sellers {{?it.extraClasses}}{{=it.extraClasses}}{{?}}'>


    <div class="sellerbox-wraper {{?it.isSpecificExpert}}cityexpert{{?}}">
        {{?it.isSpecificExpert && !(it.config && it.config.hideHeading)}}
            <div class="top-sellers-head move inn clearfix">
                {{? it.labels.label}}
                    {{? it.labels.label.title && it.labels.label.title.main}}
                        <span class="h2">{{=it.labels.label.title.main}}<span class="loc"> {{=it.labels.label.title.label}}</span></span>
                    {{??}}
                        <span class="h2">{{=it.labels.label.title}}</span>
                    {{?}}
                        <p>{{=it.labels.label.subTitle}}</p>
                {{??}}
                    <span class="h2">{{=it.labels.defaults.title}}</span>
                    <p>{{=it.labels.defaults.title.subTitle}}</p>
                {{?}}
            </div>
        {{?}}
        {{~it.topSellers :value:index}}
            {{? (it.expertDealMakerCount > 0 && index == 0 && !it.isSpecificExpert) }}
                {{ getDealMakerWithBadge("expert-deal-maker-badge", "expert-dealmaker-badge.png", it.title.expertDealMakerTitle, it.subTitle.expertDealMakerSubTitle); }}
            {{?}}

            {{? (it.dealMakerCount>0 && index == it.expertDealMakerCount) }}
                {{? it.expertDealMakerCount }}
                    <div class="top-sellers-badge-head"></div>
                {{?}}
                {{ getDealMakerWithBadge("deal-maker-badge", "badge-dealmaker.png", it.title.dealMakerTitle, it.subTitle.dealMakerSubTitle); }}
            {{?}}

            {{? (index == (it.expertDealMakerCount+it.dealMakerCount)) && !it.isSpecificExpert}}
                {{? (it.expertDealMakerCount || it.dealMakerCount)}}
                    <div class = "top-sellers-badge-head"></div>
                {{?}}
                {{ getDealMakerWithBadge('', '', it.labels.defaults.title, it.labels.defaults.subTitle); }}
            {{?}}
            {{?it.cityExpertCount && !it.localityExpertStarted && value.isLocalityExpert}}
                {{it.localityExpertStarted = true;}}
                <br>
            {{?}}

            <div class="seller-card {{?value.active}} active {{?}} move in{{=(index%minimumDummyIconIndex)}} cityexpert" data-type="seller-card" data-index="{{=index}}">
                <!-- <div class="dm-badge">
                    {{?value.dealMaker}}
                        <img src="images/badge-dealmaker.png">
                    {{??value.expertDealMaker}}
                        <img src="images/expert-dealmaker-badge.png">
                    {{?}}
                </div> -->

                <div class="review-rating-wrap">
                    <div class="rating" data-module="sellerRating" data-sellerRating="{{=value.rating}}" itemprop="ratingValue"></div>
                    {{?value.sellerCallRatingCount}}<div class="rating-review"><span>{{=value.sellerCallRatingCount}}</span> {{?value.sellerCallRatingCount>1}}Ratings{{??}}Rating{{?}}</div>{{?}}
                    {{?value.sellerFeedbackCount}}<div class="rating-review"><span>{{=value.sellerFeedbackCount}}</span> Reviews</div>{{?}}
                </div>

                <div class="sibox-wrap">
                    {{?value.image}}
                        <div class="seller-img-box" data-background-image={{=value.image}}>
                            <span class="highlighter-badge">
                                {{? value.isExpertDealMaker || value.isCityExpert || value.isLocalityExpert }}
                                <img data-src="images/rating-review/expert-badge.png" alt="Expert Deal Maker" src="/images/dummyPX.png">
                                {{?? value.isDealMaker}}
                                <img data-src="images/rating-review/dealmaker-badge.png" alt="Deal Maker" src="/images/dummyPX.png">
                                {{?}}
                            </span>
                        </div>
                    {{??}}
                        <div class="seller-img-box s-bg" style="background-color:transparent;">
                            <span class="highlighter-badge">
                                {{? value.isExpertDealMaker || value.isCityExpert || value.isLocalityExpert }}
                                <img data-src="images/rating-review/expert-badge.png" alt="&nbsp;" src="/images/dummyPX.png">
                                {{?? value.isDealMaker}}
                                <img data-src="images/rating-review/dealmaker-badge.png" alt="&nbsp;" src="/images/dummyPX.png">
                                {{?}}
                            </span>
                        </div>
                    {{?}}
                </div>

                <div class="seller-dtl">
                    <a href="{{=value.sellerUrl}}" target="_blank" class='leagalname' title="{{=value.name}}" data-isclickable="true" data-type="seller-profile" data-index="{{=index}}" data-userId={{=value.id}} data-phoneNo={{=value.contact}} data-seller-type="{{=value.sellerType}}" data-link-name="{{=value.name}}" data-link-type="{{=value.type}}" data-seller-id={{=value.id}} data-category="serp">{{=value.name}} </a>
                    <div class="midline">
                        {{? value.designation}}
                            <span class="seller-type {{=value.designation.class}}">{{=value.designation.label}}</span>
                        {{??}}
                            {{? value.properties == 1}}
                                <span class="match-count">{{=value.properties}} matching property</span>
                            {{??}}
                                <span class="match-count">{{=value.properties}} matching properties</span>
                            {{?}}
                        {{?}}
                    </div>
                    {{?value.paidLeadCount}}
                        <div class="info">
                            <span class="option"><strong>{{=value.paidLeadCount}}</strong> {{?value.paidLeadCount > 1}}deals{{??}}deal{{?}} closed</span>
                        </div>
                    {{?}}
                </div>
            </div>
        {{~}}

    </div>
</div>
