{{ var minimumDummyIconIndex = 4; }}
<div class="top-sellers {{?it.isSpecificExpert}}cityexpert{{?}} {{?it.extraClasses}}{{=it.extraClasses}}{{?}}">
    {{? !(it.config && it.config.hideHeading) }}
    <div class="top-sellers-badge-head">
        {{? it.labels.label}}
            {{? it.labels.label.title && it.labels.label.title.main}}
                <span class="h2">{{=it.labels.label.title.main}} {{=it.labels.label.title.label}}</span>
            {{??}}
                <span class="h2">{{=it.labels.label.title}}</span>
            {{?}}
        {{??}}
            <span class="h2">{{=it.labels.defaults.title}}</span>
        {{?}}
    </div>
    {{?}}
    <div class="sellerbox-wraper">
        <div class="seller-list js-list js-mobscroll js-top-seller-list">
            {{~it.topSellers :value:index}}
            <div class="seller-card js-moblist-item" data-type="seller-card" data-userId={{=value.userId}} data-phoneNo={{=value.contact}}>

                <div class="review-rating-wrap" data-userId="{{=value.id}}" data-category="serp"  data-step="CALL_NOW" data-seller-type="{{=value.sellerType}}" data-type="connect-seller">
                    <div class="rating" data-module="sellerRating" data-sellerRating="{{=value.rating}}" itemprop="ratingValue"></div>
                    {{?value.sellerCallRatingCount}}<div class="rating-review"><span>{{=value.sellerCallRatingCount}}</span> {{?value.sellerCallRatingCount>1}}Ratings{{??}}Rating{{?}}</div>{{?}}
                    {{?value.sellerFeedbackCount}}<div class="rating-review"><span>{{=value.sellerFeedbackCount}}</span> Reviews</div>{{?}}
                </div>

                <div class="sibox-wrap" data-isclickable="true" data-link-name="{{=value.name}}" data-link-type="{{=value.type}}" data-seller-user-id={{=value.userId}} data-seller-id={{=value.id}} data-type="seller-profile">
                    {{?value.image}}
                        <div class="seller-img-box" data-background-image={{=value.image}} style="background-color: {{=value.backgroudColor}}">
                            <span class="highlighter-badge">
                            {{? value.isExpertDealMaker || value.isCityExpert || value.isLocalityExpert }}
                            <img data-src="images/rating-review/expert-badge.png" alt="Expert Deal Maker" src="/images/dummyPX.png">
                            {{?? value.isDealMaker}}
                            <img data-src="images/rating-review/dealmaker-badge.png" alt="Deal Maker" src="/images/dummyPX.png">
                            {{?}}
                            </span>
                        </div>
                    {{??}}
                        <div class="seller-img-box s-bg" style="background-color:transparent;">
                            <span class="highlighter-badge">
                            {{? value.isExpertDealMaker || value.isCityExpert || value.isLocalityExpert }}
                            <img data-src="images/rating-review/expert-badge.png" alt="Expert Deal Maker" src="/images/dummyPX.png">
                            {{?? value.isDealMaker}}
                            <img data-src="images/rating-review/dealmaker-badge.png" alt="Deal Maker" src="/images/dummyPX.png">
                            {{?}}
                            </span>
                        </div>
                    {{?}}
                </div>
                <div class="seller-dtl" data-userId="{{=value.id}}" data-category="serp" data-step="CALL_NOW" data-seller-type="{{=value.sellerType}}" data-type="connect-seller">
                    <div class="">
                        <span class='leagalname' title="{{=value.name}}">{{=value.name}} </span>
                    </div>
                    <div class="midline">
                        {{? value.designation}}
                            <span class="seller-type {{=value.designation.class}}">{{=value.designation.label}}</span>
                        {{??}}
                            {{? value.properties == 1}}
                                <span class="match-count">{{=value.properties}} matching property</span>
                            {{??}}
                                <span class="match-count">{{=value.properties}} matching properties</span>
                            {{?}}
                        {{?}}
                    </div>
                    {{?value.paidLeadCount}}
                        <div class="info">
                            <span class="option"><strong>{{=value.paidLeadCount}}</strong> {{?value.paidLeadCount > 1}}deals{{??}}deal{{?}} closed</span>
                        </div>
                    {{?}}
                </div>
            </div>
            {{~}}
        </div>
    </div>
</div>
