{{? (it.festiveOffer || it.expertDealMakerCount || it.dealMakerCount)}}
    <div class="dm-banner-section {{?it.extraClasses}}{{=it.extraClasses}}{{?}}">
        {{? !it.festiveOffer && !(it.config && it.config.hideHeading) }}
        <div class="top-sellers-head">
            <h2><span>{{=it.labels.defaults.title}}</span></h2>
            <p>{{=it.labels.defaults.subTitle}}</p>
        </div>
        {{?}}
        {{? (it.festiveOffer) }}
        <div class="top-sellers-head">
            <h2><span>Find your dream home this festival!</span></h2>
            <p>Connect with top sellers for a hassle-free and guided experience</p>
        </div>
        {{?}}
        <div class="slider-wrap clearfix" data-module="slider"  data-window="dealmaker-slider" id="">
            <div class="sudowrap" id="dealmaker-slider">
                <ul class="dealmaker-list" data-type="list-container">
                    {{~it.topSellers :value:index}} {{?(it.festiveOffer || value.isDealMaker || value.isExpertDealMaker)}}

                        <li class="seller-card" data-type="list-element">
                            {{? !(it.festiveOffer) }}
                                <div class="review-rating-wrap">
                                    <div class="rating" data-module="sellerRating" data-sellerRating="{{=value.rating}}" itemprop="ratingValue"></div>
                                    {{?value.sellerCallRatingCount}}<div class="rating-review"><span>{{=value.sellerCallRatingCount}}</span> {{?value.sellerCallRatingCount>1}}Ratings{{??}}Rating{{?}}</div>{{?}}
                                    {{?value.sellerFeedbackCount}}<div class="rating-review"><span>{{=value.sellerFeedbackCount}}</span> Reviews</div>{{?}}
                                </div>
                            {{?}}

                            <div class="sibox-wrap" data-isclickable="true" data-link-name="{{=value.name}}" data-seller-type="{{=value.sellerType}}" data-category="{{=it.pageLevel}}"  data-link-type="{{=value.type}}" data-seller-id={{=value.id}} data-seller-user-id={{=value.userId}} data-type="seller-listings">
                                {{?value.image}}
                                    <div class="seller-img-box" data-background-image={{=value.image}}>
                                        <span class="highlighter-badge">
                                        {{? value.isExpertDealMaker || value.isCityExpert || value.isLocalityExpert }}
                                        <img data-src="images/rating-review/expert-badge.png" alt="Expert Deal Maker" src="/images/dummyPX.png">
                                        {{?? value.isDealMaker}}
                                        <img data-src="images/rating-review/dealmaker-badge.png" alt="Deal Maker" src="/images/dummyPX.png">
                                        {{?}}
                                        </span>
                                    </div>
                                {{??}}
                                    <div class="seller-img-box s-bg" style="background-color:transparent;">
                                        <span class="highlighter-badge">
                                        {{? value.isExpertDealMaker || value.isCityExpert || value.isLocalityExpert }}
                                        <img data-src="images/rating-review/expert-badge.png" alt="Expert Deal Maker;" src="/images/dummyPX.png">
                                        {{?? value.isDealMaker}}
                                        <img data-src="images/rating-review/dealmaker-badge.png" alt="Deal Maker" src="/images/dummyPX.png">
                                        {{?}}
                                        </span>
                                    </div>
                                {{?}}
                            </div>

                            <div class="seller-dtl" data-userId="{{=value.id}}" data-type="connect-seller" {{?it.isMobileRequest}} data-step="CALL_NOW" {{?}}>
                                <div class="">
                                    <span class='leagalname' title="{{=value.name}}">{{=value.name}} </span>
                                    <!-- <span class="rating" if="value.properties" data-module="sellerRating"  data-sellerRating="{{=value.rating}}"></span> -->
                                </div>
                                {{? it.festiveOffer}}
                                    <div class="midline">
                                       {{? value.designation}}
                                            <span class="seller-type {{=value.designation.class}}">{{=value.designation.label}}</span>
                                        {{?}}
                                        {{?value.festiveSellerType}}
                                            <span class="option">{{=value.festiveSellerType}}</span>
                                        {{?}}
                                    </div>
                                {{??}}
                                    <div class="midline">
                                       {{? value.designation}}
                                            <span class="seller-type {{=value.designation.class}}">{{=value.designation.label}}</span>
                                        {{??}}
                                            {{? value.properties == 1}}
                                                <span class="match-count">{{=value.properties}} matching property</span>
                                            {{??}}
                                                <span class="match-count">{{=value.properties}} matching properties</span>
                                            {{?}}
                                        {{?}}
                                    </div>
                                {{?}}
                                {{?value.paidLeadCount && !it.festiveOffer}}
                                    <div class="info">
                                        <span class="option"><strong>{{=value.paidLeadCount}}</strong> {{?value.paidLeadCount > 1}}deals{{??}}deal{{?}} closed</span>
                                    </div>
                                {{?}}
                                
                            </div>
                        </li>

                    {{?}}{{~}}
                </ul>
            </div>
            <div class="btn-prev hide1024nbelow js-prev disable" data-type="back-btn"><i class="icon-chevron-left"></i></div>
            <div class="btn-next hide1024nbelow js-next disable" data-type="next-btn"><i class="icon-chevron-right"></i></div>
        </div>
    </div>
{{?}}
