<div>
    {{~it.response :value:index}}
    <label class="checkboxlbl"> 
        <input type="checkbox" data-type='project-list' id="{{=value.projectId}}" data-track-label="{{=it.type || ''}}" data-buildername="{{=value.builderName}}" data-label="{{=(value.builderName||'')}} {{=value.projectName}}" data-projectid="{{=value.projectId}}" />
        <div class="txt">{{=(value.builderName||'')}} {{=value.projectName}}</div>
    </label>
    {{~}}
    {{? !it.response.length }}
    <div class="fallabck">No projects to compare</div>
    {{?}}
</div>
