{{?it.listings.length>0}}
<div class="snapshot-list">
    {{~it.listings :listing:index}}
    <div class="snapcard">
        <a data-href='{{=listing.url}}' data-type="snapshot-card">
            <div class="imgbox">
                <img data-src="{{=listing.imageUrl}}" alt="{{=listing.locality}}" src="/images/dummyPX.png"/>
            </div>
            <div class="content-info">
                <div class="title">{{=listing.title}}</div>
                <div class="info-line">{{=listing.locality}}</div>
                {{?(listing.price.val&&listing.price.unit)}}
                <div class="price currency"> {{=listing.price.val}}{{=listing.price.unit}}</div>
                {{?? listing.price.val}}
                <div class="price currency"> {{=listing.price.val}}</div>
                {{?? listing.price}}
                <div class="price currency"> {{=listing.price}}</div>
                {{?? true}}
                {{?}}
            </div>
        </a>
    </div>
    {{~}}
</div>
{{?? true}}
<div>
    {{=it.errorMessage}}
</div>
{{?}}