{{?it.multiselect}}
<div data-module="multiSelectDropdown" id="{{=it.id}}" data-type="{{=it.type}}">
	{{?it.config}}
	<script type="text/x-config">{{=JSON.stringify(it.config)}}</script>
	{{?}}
</div>
{{??}}
<div data-module="singleSelectDropdown"  id="{{=it.id}}" data-type="{{=it.type}}">
	{{?it.config}}
	<script type="text/x-config">{{=JSON.stringify(it.config)}}</script>
	{{?}}
</div>
{{?}}
