/////////////////////////////////
/**** common use css starts ****/
/////////////////////////////////
body {
    background-color: #f9f7f7;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, sans-serif;
    font-size: 14px;
    color: #3c3c3c;

    .currency {
        &:before {
            content:'₹';
        }
    } 
    
    .ae {
        &.currency:before {
            content: 'AED';
        }
    }
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
a {
    color: #e81c28;
    text-decoration: none;
    cursor: pointer;
}
a[class^="icon-"]{
    display: inline-block;
    padding: 3px;
    font-size: 20px;
    font-weight: 200;
    color: #AAA;
    font-family: sans-serif;
}
span[class^="icon-"]{
    font-size:20px;
    font-weight: 200;
    color:#AAA;
    font-family: sans-serif;
}
.ta-c {
    text-align: center;
}
.hide{
    display: none;
}
.flexit {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.clearfix {
    &:before{
        content: '';
        height: 1px;
        clear: both;
    }
}
.ampstart-card {
    text-decoration: none;
}
.otp-verify{
    padding: 20px;
    text-align: center;
}
.center-align{
    padding-top:25px;
    text-align: center;
}


/**menuDrawer-Start**/
amp-sidebar amp-selector {

    //display|slide logic
    >span {
        display: none;
        &[selected]+ul {
            border: none;
            outline: none;
            display: block;
        }
    }

    >ul.md-h >li{
        a, span {
            color: #1c1c1c;
            font-size: 16px;
            &:after {
                content: '';
                display: none;
            }
        }
    }

    >ul{
        display: none;

        >li {
            border: 0;
            outline: 0;
            padding: 12px 12px 12px 20px;
            font-weight: 400;
            font-size: 13px;
            color: #666;
            text-transform: capitalize;
            text-decoration: none;
            overflow: hidden;

            >* {
                display: inline-block;
                width: 217px;
            }

            >a {
                color: #666;
            }
            >span{
                position: relative;
                &:after {
                    content:'>';
                    position: absolute;
                    width: 10px;
                    float: right;
                    font-size: 12px;
                    text-align: right;
                    color: red;
                    overflow: hidden;
                    right: -10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &:hover{
                background-color: #e81c28;
                cursor: pointer;
                a, span {
                    color: #fff;
                    &:after {
                        color: #fff;
                    }
                }
            }

            &.md-ih {
                >a, >span {
                    color: #1c1c1c;
                    font-size: 16px;
                }
            }
            &.md-b{
                background-color: #fafafa;
                color: #3c3c3c;
            }
            //override to prevent emphasis of internal headings
            &.md-ih, &.md-b {
                >a:after, >span:after {
                    content: '';
                    display: none;
                }
                &:hover {
                    background-color: unset;
                    >a{
                        color: #e81c28;
                    }
                    >span {
                        color: unset;
                    }
                }
            }
        }
    }
}
/**menuDrawer-End**/

/**seoFooter-Start**/
#seoFooterAmp {
    margin: 20px;
    h3 {
        padding-bottom: 10px;
        color: #1c1c1c;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    ul.seoFooter-card {
        list-style: none;
        vertical-align: top;
        >li {
            width: 228px;
            font-size: 16px;
            ul {
                list-style: none;
            }
            a {
                padding: 5px 0;
                font-size: 12px;
                color: #444;
                text-decoration: none;
                cursor: pointer;
            }
            div {
                margin: 15px 0 10px;
                font-size: 14px;
                color: #1c1c1c;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            div, a {
                display: block;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
/**seoFooter-End**/

/**buttons**/
.cbtn {
    display: inline-block;
    padding: 5px 20px;
    border: solid 1px #e81c28;
    border-radius: 20px;
    color: #e81c28;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
        color: #e81c28;
        text-decoration: none;
    }

    &.cbtn-p {
        background-color: #e81c28;
        border-color: #e81c28;
        color: #fff;
        margin-left:5px;

        &:hover {
            color: #fff;
        }
    }

    &.disabled {
        pointer-events: none;
        color: #aaa;
        border-color: #dcdcdc;
    }
}
.abtn {
    display: inline-block;
    color: #e81c28;
    text-decoration: none;
    cursor: pointer;
    border:0px;
    margin:0px;
    font-size:12px;

    &:hover {
        color: #e81c28;
        text-decoration: underline;
    }
}
// Expandable Description
.desc-exp{
    line-height: 1.3em;
    .more {
        height: auto;
        overflow: none;
        text-overflow: none;
    }
    .morebtn {
        color: red;
        .morebtn-txt {
            &:before{
                content:'...';
                color: #666;
                padding-right:10px;
            }
            &:after{
                content:'View More';
            }
        }
        .lessbtn-txt {
            &:after{
                content:'View Less';
            }
        }
    }
    .less {
        height: 5.2em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
::-webkit-input-placeholder { /* Chrome */
  color: #AAA;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #AAA;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #AAA;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #AAA;
  opacity: 1;
}

.connect-top-sellers{
    width: 100%;
    text-align: center;

    .callbtn{
        text-align: center;
        color: #fff;
        background: #e81c28;
        border-radius: 20px;
        padding: 10px 20px;
        width: 65%;
        display: block;
        margin: 0px auto;
    }
}

/* general elements */
hr{   
    display: block;    
    height: 1px;
    color:#dcdcdc;
    padding:0px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0px;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.noteText{
    display:inline-block;
    color: #6c6c6c;
    font-size: 12px;
    line-height: 1.15;
    margin-bottom: 10px;
}
.inputLabel{
    margin: 0;
    color: #999;
    font-size: 10px;
    line-height: normal;
    font-weight: 400;
}
.checkText{
    display:inline-block;
    font-size: 11px;
    color: #999;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    vertical-align: middle;
}
/*tooltip*/
.amp-lead-tooltip {
    position: relative;
    display: inline-block;
}
.amp-lead-tooltip-base{
    font-family: monospace;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    text-align: center;
    color: #999;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: text-bottom;
    margin-left: 8px;
}
.amp-lead-tooltip .amp-lead-tooltip-text {
    position: absolute;
    bottom: 100%;
    right: -5px;
    z-index: 1;
    visibility: hidden;
    min-width: 240px;
    line-height: 1.3;
    background-color: white;
    color: #2c2c2c;
    font-size:12px;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 7px 0 rgba(135,135,135,.6);
}
.amp-lead-tooltip:hover .amp-lead-tooltip-base{
    color: red;
}
.amp-lead-tooltip:hover .amp-lead-tooltip-text {
    visibility: visible;
}


///////////////////////////
//AMP LEAD FORM CSS
///////////////////////////
amp-img{
    background: transparent;
}
.amp-lead-sellerRating{
    display: inline-block;
    height: 22px;
    width: 22px;
    padding: 0;
    margin-left: 2px;
    border-radius: 4px 4px 0;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    color: white;

    &.none{
        display: none;
        margin: 0px;
        padding: 0px;
    }

    &.low{
        background: #9b9b9b;
    }

    &.medium{
        background: #F19C09;
    }

    &.high{
        background: #21A657;
    }

    &.avg{
        background: #f8942f;
    }

    &.good{
        background: #7ec62f;
    }

    &.excellent{
        background: #20a255;
    }
}

/* Stage 1 specific CSS */
.amp-lead-seller-virtualPhone{
    width:auto;
    display:inline-block;
    border: 1px dashed red;
    border-radius:10px;
    padding: 5px 20px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}
.amp-lead-seller-virtualPhone a{
    color: #1c1c1c;
}
.amp-lead-sellerDetails{
    text-align:center;
    margin-bottom:25px;
}
.amp-lead-sellerDetails-imgBox{
    position: relative;
    background: #ede4dd;
    display:block;
    margin:auto;
    margin-bottom:10px;
    height:55px;
    width:55px;
    border-radius:50%;
    border:1px solid #cdcdcd;;
    overflow: hidden;
}
.amp-lead-sellerDetails-imgFailSafe{
    position: absolute;
    display: block;
    height:55px;
    width:55px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background: transparent;
    color: #FFF;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 35px;
    line-height: 55px;
}
.amp-lead-sellerDetails-img{
    border-radius:50%;
}
.amp-lead-sellerDetails-imgPlaceholder{
    display: block;
    border-radius:50%;
}
.amp-lead-sellerDetails-imgFallback{
    background: #ede4dd;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 35px;
    line-height: 55px;
    border-radius: 50%;
    color: #FFF;
}
.amp-lead-sellerDetails-legalName{
    color: #1c1c1c;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding:3px;
}
.amp-lead-sellerDetails-sellerType{
    display: block;
    text-align: center;
    color: #999;
    padding:2px;
}
.amp-lead-stage1-leTitle{
    display: block;
    padding:5px;
    margin-bottom:15px;
    color: #2c2c2c;
    font-size: 16px;
    line-height: 1.15;
}
/*Stage 2 [otp] specific CSS*/
/* resend buttons on stage-2, set as absolute to display beneath otp input box*/
.amp-lead-notif{
    color: red;
    font-size: 12px;
}
.amp-lead-stage2-otp-imgPlaceholder{
    display: block;
    background-image: url('/images/lead-otp.png');
    background-repeat: no-repeat;
    height: 70px;
    width: 64px;
}
a.amp-lead-otpLink{
    background: transparent;
    font-size: 14px;
    color: red;
}
.amp-lead-otp-leTitle{
    display: inline-block;
    font-size: 18px;
}
.amp-lead-otpHelper-wrapper{
    position: relative;
    display: block;
    width:100%;
    height:0px;
}
.amp-lead-otpHelper{
    position: absolute;
    top: 160px;
    display: block;
    text-align: center;
    z-index: 50;
}
.amp-lead-otpHelper-form{
    background: transparent;
    display: inline-block;
    vertical-align: top;
}
.amp-lead-otpHelper-member{
    background:transparent;
    display:block;
    margin:1px 5px;
    font-size:14px;
    vertical-align: top;
}
.amp-lead-otpHelper-member-wait{
    color:#dcdcdc;
}
.amp-lead-otpHelper-member-pass{
    font-size:12px;
    color: green;
}
.amp-lead-otpHelper-member-fail{
    font-size:12px;
    color:red;
}

/* Stage 3 [last step] seller's phone */
.amp-lead-seller-phone{
    width:auto;
    display:inline-block;
    border: 1px dashed red;
    border-radius:10px;
    padding: 5px 20px;
    margin:15px 5px 45px 5px;
    text-align: center;
    font-size: 16px;
}
.amp-lead-seller-phone a{
    color: #1c1c1c;
}
.amp-lead-stage3-thanks-imgFill{
    background: transparent;
    position:relative;
    display:block;
    width:100%;
    height:120px;
    overflow: hidden;
    margin: auto;

    &:after{
        content: '';
        display: inline-block;
        background-image: url('/images/lead-house.png');
        background-repeat: no-repeat;
        background-position: center;
        height:120px;
        width:100%;
        position: relative;
        z-index: 1;
    }
}
.amp-lead-stage3-thanks-imgBg{
    display:block;
    width:100%;
    background: transparent;
    position: absolute;
    top:80px;
    border-top:1px solid #dcdcdc;
}
.amp-lead-stage3-thanks-imgWarp{
    background: transparent;
    position: absolute;
    height:200px;
    width:170px;
    left:50%;
    margin-left:-85px;
}

/* amp-lightbox container*/
.amp-leadForm-container{
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

/* complete amp-lead container|wrapper */
.amp-lead-enquiry-wrapper{
    width: 100%;
    height: 100%;
    display: block;
    padding: 0px;
    margin: 0px auto;
    background: #FFF;
    overflow: auto;
}
.amp-lead-enquiry-wrapper select{
    font-size: 12px;
    line-height: 14px;
    color: #444;
    background: #fff;
    -webkit-appearance: menulist-button;
    -webkit-border-radius:0; 
    border-radius:0;
}
.amp-lead-enquiry-wrapper input{
    font-size: 14px;
    color: #444;
    background: #fff;
    -webkit-border-radius:0; 
    border-radius:0;
}
.amp-lead-enquiry-wrapper input[type="checkbox"]{
    font-size: 30px;
    background: white;
    margin: 10px 5px;
    border: 1px solid black;
}
.amp-lead-enquiry-wrapper button {
    line-height: 25px;
    font-size: 14px;
}
.amp-lead-stage-wrapper{
    display: block;
    width: 95%;
    height: 95%;
    margin: 0px auto;
    padding:0px;
}
.amp-coupon-stage-wrapper{
    display: block;
    height: 95%;
    margin: 0px auto;
    padding:0px;
}
.amp-coupon-lead-head{
    display: block;
    padding:10px 10px 0 10px;
    background-color: #f9f7f7;
}
.amp-lead-head{
    display: block;
    padding:10px;
}
.amp-lead-content{
    display: block;
    text-align: center;
    position: relative;
    min-height: 90%;
}
.amp-lead-btn{
    position: absolute;
    text-align: right;
    bottom: 5px;
    right: 5px;
}

/* whole form is in a fixed-layout table */
table.form-header{
    width: 95%;
    table-layout: fixed;
    margin:auto;
}
table.form-header td{
    vertical-align:top;
    min-height: 14px;
}
.form-center{
    text-align:center;
}
.form-left{
    text-align: left;
}
.form-right{
    text-align: right;
}
.form-top{
    vertical-align: top;
}
.form-middle{
    vertical-align: middle;
}
.form-bottom{
    vertical-align: bottom;
}
form.amp-form-submit-error [submit-error] {
    color: red;
}
.form-field-right {
    width: 200px;
}
.form-field-left {
    width: 200px;
}
.otp-wrap {
    position: relative;
    margin: 0px auto 15px auto;
    height: 30px;
    width: 185px;

    &:before {
        content: "___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___ \00a0 \00a0 \00a0 ___";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 185px;
        height: 10px;
        z-index: 10;
        color: #000;
        overflow: hidden;
        line-height: 0.1;
    } 

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 40px;
        background: #fff;
        z-index: 30;
    }

    &:focus {
        outline: none;
    }

    input.lead-input-otp{
        border:none;
        position: absolute;
        left: 26px;
        z-index: 20;
        letter-spacing: 19px;
        text-align: left;
        padding-left: 7px;
        width: 160px;
        font-family: monospace;
        font-size: 26px;
        background: transparent;

        &:focus {
            outline: none;
        }
    }
}
select.lead-input-select{
    width: 100%;
    height: 25px;
    margin-bottom: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #444;
    outline: 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    background: #FFF;

    &:focus {
        outline: none;
    }

}
input.lead-input-text{
    width:100%;
    border: 0px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 25px;
    font-size:14px;
    line-height: 1.6;
}
input.lead-input-phone{
    width:100%;
    border: 0px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 2px;
    font-size:14px;
    line-height: 22px;
    vertical-align: middle;

    &:focus {
        outline: none;
    }

}
/*Need these for proper functioning of Lead-Form for AMP Pages*/
.showScreen{
  display:block;
}
.hideScreen{
  display:none;
}
.amp-lead-noResultScreen{
  display:none;
}
.amp-lead-stage3-case3{
  display:inline-block;
}

.amp-lead-nameEmail-icon{
    background-image:url('/images/profile-details-icon.png'); 
}
/* End */

///////////////////////////
//Breadcrumb List CSS
///////////////////////////
.breadcrumb-seo {
    display: flex;
    margin-bottom: 0px;
    max-height: 45px;
    max-width: 100%;
    padding-left: 10px;
    line-height: 1;
    overflow: hidden;

    .down-wrap {
        display: none;
    }

    .breadcrumb-list {
        display: inline-block;
        flex-flow: row wrap;
        white-space: nowrap;
        overflow: hidden;
        max-width: 97%;
        padding-bottom: 20px;
        text-overflow:ellipsis;
        margin-top:5px;
    }
    .bc-link:after {
        display: none;
    }
    .bclink {
        display: inline;
        position: relative;
        margin: 0px 3px 0px;
        padding: 5px;

        &:first-child {
            margin-left: 0px;
            padding-left: 0px;
            
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            ul {
                display: none;
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: -8px;
            top: 50%;
            width: 5px;
            height: 5px;
            border-right: 1px solid #777;
            border-top: 1px solid #777;
            transform: rotate(45deg) translateY(-50%);
        }
        a.txt {
            border: none;
            color: #666;
            font-size: 13px;
            line-height: 16px;
            text-decoration: none;
            cursor: pointer;
            &:hover {
                color: #e81c28;
            }
            &.grey-link {
                border: none;
                color: #666;
                cursor: default;
            }
        }
        ul {
            display: none;
            z-index: 999;
        }
    }
}



////////////////////////////////
// FOR MAKAAN AMP PAGE STARTS //
////////////////////////////////
.price-wrap {
    padding: 5px 0 2px;
    margin-top:10px;

    sup.rupee {
        top: -0.25em;
    }

    .val {
        padding-right: 3px;
        font-size: 18px;
        color: #1c1c1c;
        text-transform: capitalize;
    }
    .unit {
        font-size: 14px;
        text-transform: capitalize;
        color: #666;
    }
}
.a-page-wrapper {
    background: #fff;
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding-top: 46px;
    max-width: 960px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 1px -1px rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.a-page-header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 45px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}
.a-disclaimer {
    padding: 60px 20px 20px;
    color: #AAA;
    font-size: 11px;
}
.makaan-logo {
    padding: 10px 0 0 5px;
    display: inline-block;
    vertical-align: top;
}
.serpSearch{
    display: inline-block;
    padding: 10px;
    height: 25px;
    
    *{
        vertical-align: middle;
    }
    .searchText{
        padding-left: 10px;
        font-size: 13px;
        color: #999;
        text-transform: capitalize;
    }
}
.sample-menu {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 35px;
    border: none;
    background: none;
}
.amp-carousel-slide.a-carousel-img img {
    object-fit: cover;
}
.a-carousel-slide {
    padding:0;
    margin:0;
}
.a-gallery-lightbox{
    .a-lightbox-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        font-size: 40px;
        color: #666;
        padding: 0 10px;
    }
}
.a-gallery-caption {
    display: none;
}
.a-page-sidebar {
    width: 260px;
    background-color: #fff;
}
.a-page-footer {
    padding: 1rem;
    background-color: #444;
    color: #fff;
    position: relative;
    z-index: 1;

    h3 {
        padding-bottom: 10px;
    }

    h3.callus {
        color: #fba511;
    }

    ul {
        padding-bottom: 10px;

        > li {
            padding-bottom: 6px;
            list-style: none;
            font-size: 12px;
        }
    }

    a {
        color: #fff;
    }

    .follow {
        padding: 20px 0;

        .flexit {
            justify-content: flex-start;
        }

        a {
            display: inline-block;
            margin-right: 5px;
            padding: 5px;
            font-weight: bold;
            font-size: 16px;
        }
    }

    .fb {color: #81a4e3}
    .gplus {color: #e65f58}
    .twit {color: #73c9c9}
    .li {color: #81a4e3}

    .copyright {
        text-align: center;
        font-size: 11px;
    }
}

.proppage-address {
    margin-top:5px; 
    max-width: 97%;
    padding-bottom: 10px;
    font-size: 15px;

    a {
        color: #e81c28;;
    }

    .padb5 {
        padding-bottom: 5px;
    }
}

.related, #p-details .related {
    position: relative;
    display: block;
    margin-bottom: 1px;

    &:before, &:after {
        display: table;
        content: '';
        clear: both;
    }

    .p-img {
        float: left;
        margin: 5px;
        margin-right: 10px;
        line-height: 24px;
        font-weight: 400;
        font-size: 24px;
        vertical-align: middle;
    }

    .other-name, .other-address, .price-wrap, .sllr-name {
        display: block;
        margin: 0 0 0 95px;
        padding: 5px 0 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 99%;
        color: #666;
        font-size: 13px;
        line-height: 1;
    }

    .other-name {
        color: #1c1c1c;
    }

    .other-address {
        color: #999;
    }

    .price-wrap {
        padding-top: 10px;
    }

    .sllr-name {
        padding-bottom: 5px;
        color: #999;
    }

    .p-call {
        position: absolute;
        top: 24px;
        right: 5px;
    }

    &:active {
        background-color: #fcfcfc;
    }
}
.view-all-link {
    display: block;
    padding: 10px;
    text-align: right;
    color: #e81c28;
}

#p-gallery {
    margin: 0;
}
#p-details p {
    padding: 16px 0px 16px;
    margin: 0;
}

#p-details h4 {
    font-size: 16px;
    background-color: #FFF;
    border: 0;
    padding: 10px 0;
}
#p-details h5 {
    color: #2c2c2c;
    font-size: 16px;
    padding-bottom: 10px;
}
.social-share {
    display: flex;
    width: 200px;
    margin: 10px auto 30px;
    line-height: 36px;
}
//////////////////////////////
// FOR MAKAAN AMP PAGE ENDS //
//////////////////////////////


///////////////////////////////
/**** common use css ends ****/
