.f-container-mob {
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px #ccc;


    .buy-rent-wrap{

        amp-selector:not([disabled]) [option][selected]:not([disabled]) {
            outline: 0;
            background: #e81c28;
            color: #FFF;
        }

        .buy-rent-switch{
            display: block;
            background: #f9f9f9;
            width: 100px;
            height: 28px;
            margin: 8px auto 0;
            border-radius: 20px
        }
        .switch-toggle{
            display: inline-block;
            padding: 6px 10px;
            font-size: 14px;
            background: transparent;
            color: #000;
            border-radius: 20px;

            &.on{
                background: #e81c28;
                color: #FFF;
            }
        }
    }

    // in page view of mobile filters start here
    .first-fold {
        .buy-rent-wrap,
        .f-more-wrap,
        .sortby-wrap {
            width: 27%;
            position: relative;
            display: inline-block;
            height: calc(#{$filterbarheight} - 1px);
            vertical-align: middle;
            cursor: pointer;
            .filter-hdng {
                position: relative;
                width: 100%;
                box-sizing: border-box;
                padding: 4px 0 0 10px;
                text-align: center;
                .lbl-wrap {
                    padding-top: 2px;
                    display: inline-block;
                    text-align: left;
                    width: calc(100% - 25px);
                }
                .cont-lbl {
                    @include putellipsis;
                    font-size: 16px;
                    color: $link-color;
                }
                .cont-val {
                    @include putellipsis;
                    font-size: 11px;
                    color: $lighter-color;
                }
            }
        }
        .f-more-wrap {
            border-left: solid 1px #ccc;
        }

        .buy-rent-wrap {
            width: 42%;

            .filter-hdng {
                height: 100%;
                .lbl-wrap {
                    line-height: 30px;
                    text-align: center;
                }
            }

            &:hover{
                .buyRent-drop{
                    display: block;
                    left: 0px;
                    padding-left: 5px;
                }
            }

            .buyRent-drop {
                position: absolute;
                display: none;
                z-index: 99;
                right: -12px;
                padding: 0 5px;
                min-width: 132px;
                background: #FFF;
                border: 1px solid #ccc;
                .resHdg, .comHdg {
                    padding-top: 5px;
                    font-weight: bold;
                }
                .comHdg {
                    border-top: 1px solid #a3a3a3;
                }
                .opt, .optSelected {
                    display: block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 25px;
                    color: #e81c28;
                }
                .opt {
                    color: #3c3c3c;
                }
            }
        }

        .sortby-wrap {
            border-left: solid 1px #ccc;
            &:hover{
                .sortby-drop{
                    display: block;
                    left: 0px;
                }
            }

            .sortby-drop {
                position: absolute;
                display: none;
                z-index: 99;
                right: -12px;
                margin-top: 4px;
                padding: 0 5px;
                min-width: 170px;
                background: #FFF;
                border: 1px solid #ccc;

                amp-selector:not([disabled]) [option][selected]:not([disabled]) {
                    outline: 0;
                    &:after{
                        content:'✓';
                        float: right;
                        color: red;
                    }
                }

                .opt {
                    display: block;
                    padding: 12px 5px;
                }
            }
        }
    }

    //Filter screen
    .second-fold{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height:100%;
        background: #FFF;
        padding: 0 0 70px 0;
        font-size: 13px;

        .hdr {
            padding: 10px 0;
            width: 100%;
            text-align: center;
            background: #ececec;
            border-bottom: 1px solid #ccc;
            font-size: 20px;

            .f-close {
                position: absolute;
                top: 0;
                right: 0;
                color: #aaa;
                padding: 10px;
            }
        }

        .f-row {
            clear: both;
            margin-top: 10px;
            padding: 0 10px;
            color: #444;

            amp-selector:not([disabled]) [option][selected]:not([disabled]) {
                outline: 0;
                .f-btn{
                    border: 1px solid #e81c28;
                    background: #e81c28;
                    color: #fff;
                }
            }

            .f-lbl {
                margin: 20px 0px 5px 0px;
                color: #000;
            }

            .f-preview {
                margin: 0 10px;
                font-size: 11px;
                font-weight: bold;
                color: #444;
            }

            .f-table {
                border-spacing: 5px;
                td{
                    padding-right: 30px;
                }
            }

            .f-item {
                display: inline-block;
                margin: 3px;
            }

            .f-btn {
                display: inline-block;
                background: #FFF;
                min-width: 40px;
                margin: 3px;
                border: 1px solid #ccc;
                border-radius: 20px;
                padding: 8px 10px;
                text-align: center;
                vertical-align: middle;
            }

            .f-input {
                width:100%;
                border: 0px;
                border-bottom: 1px solid #dcdcdc;
                font-size:14px;
                line-height: 1.6;
            }

            .f-check {
                .f-item{
                    margin: 3px 12px 3px 0px;
                }
                .f-btn {
                    min-width: 20px;
                    min-height: 20px;
                    border-radius: 6px;
                    padding: 0;
                    color: #FFF;
                    overflow: hidden;
                }
            }

            .f-radio {
                .f-item{
                    margin: 3px 15px 3px 0px;
                }
                .f-btn {
                    min-width: 20px;
                    min-height: 20px;
                    border-radius: 10px;
                    padding: 0;
                    color: #FFF;
                    overflow: hidden;
                }
            }
        }

        .filter-selector{
            position: fixed;
            background: #FFF;
            padding: 15px 0px;
            bottom: 0;
            left: 0;
            cursor: pointer;

            .small {
                width: auto;
                display: inline-block;
                margin-right: 5px;
                font-size: 14px;
            }

            .inactive {
                color: #ccc;
                border-color: #aaa;
                background: #aaa;
            }
        }
    }
}