.cir-score-wrap {
	width: 40px;
	height: 40px;
	border: 3px solid #7ed321;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	color: #999;
	overflow: hidden;
	float: right;
}

.lc-overview {
	background: #f7f7f7;

	ul {
		list-style: none;
	}

	>section {
		padding: 40px 10px;

		h2 {
			margin-bottom: 15px;
			font-size: 24px;
			text-align: center;
		}
	}

	.city-info {
		padding: 20px 10px;
	}
	.wh {
		background-color: #fff;
	}
	.gr {
		background-color: #f7f7f7;
	}
	.hidden {
		display: none;
	}

	.cover {
		position: relative;
		.cover-bg {
			min-height: 200px;
			background-color: #000;
			img {
				object-fit: cover;
			}
		}
		.cover-lb {
			position: absolute;
			top: 40%;
			left:50%;
			transform: translate(-50%, -50%);
			color: #fff;
			font-weight: bolder;
		    text-shadow: 2px 1px 3px rgba(0,0,0,0.8);
		    h2 {
				font-size: 36px;
		    }
		}
	}

	.city-info {
		text-align: center;
		font-size: 20px;

		>div{
			padding: 20px 0;
			&:not(:last-child) {
				 border-bottom: 1px solid #d7d7d7;
			}
			span {
				color: #999;
				font-size: 15px;
			}
		}

		.icon-d {
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			color: #fff;
			line-height: 20px;
			font-size: 15px;
			vertical-align: top;
			&.green {
				background-color: green;
				&:before{
					content:'↑';
				}
			}
			&.red {
				background-color: red;
				&:before{
					content:'↓';
				}
			}
		}
	}

	.city-overview {
		padding: 10px;
		text-align: center;

		h1, .extend-h1 {
			display: inline-block;
			font-size: 24px;
		}

		>div {
		    margin-top: 20px;
		    line-height: 1.5;
		    font-size: 16px;
		    font-weight: normal;
		    text-align: left;
			&.less { 
				height: 48px;
				overflow: hidden;
			}
			&.more {
				overflow: unset;
				height: unset;
			}
		}
		.desc-btn {
			display: block;
			color: red;
			text-align: right;
		}
	}

	.link-card {
		margin: 20px 0px;
		vertical-align: top;
		text-align: left;
		line-height: 1.5;

		h3, a {
		    width: 200px;
		    display: inline-block;
		    overflow: hidden;
			color: #444;
		    text-overflow: ellipsis;
		}

		h3{
		    font-size: 18px;
		    font-weight: bold;
		}
	}

	.pc-list-wrap {
		padding: 10px;
		text-align: left;
		.pc-card {
			width: 220px;
			height: 265px;
			margin: 10px;
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			vertical-align: top;
			white-space: normal;

			ul.proj-list {
				list-style: disc;
				list-style-position: inside;
				padding: 20px 10px;
				>li {
					padding: 0px 0 10px 10px;
				}
			}
			.top-area {
				padding: 10px;
				>* {
					display: inline-block;
					vertical-align: middle;
				}
				h3 {
					font-size: 15px;
				}
				.count {
					padding: 0 5px;
					font-weight: bold;
				}
			}
			.more {
				text-align: center;
			}
			.info {
				color: #999;
				font-size: 12px;
			}
			.pc-pad {
				padding: 10px;
				>*:not(:last-child){
					margin-bottom: 5px;
				}
			}
			.single-line {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.bgc1 .top-area {
		    background-color: #ffefc8;
		}
		.bgc2 .top-area {
			background-color: #ffcfcf;
		}
		.bgc3 .top-area {
			background-color: #ffe5f4;
		}
	}

	.tb-wrap{
		margin: 20px 10px;
		text-align: center;
		vertical-align: top;
		.tb-info>* {
			margin: 10px 5px;
			font-size: 16px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&.experience {
				font-size: 14px;
			}
		}
		amp-img {
			background-color: #f7f7f7;
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			img {
				object-fit: contain;
			}
		}
	}

	.prop-loc {
		.link-card h3,a {
			color: white;
		}
		.loc-card {
			&:not(:last-child) {
				margin-right: 10px;
			}

			.type-properties {
				height: 200px;
				margin: 20px;
				padding: 30px;
				border: 1px solid white;
				text-align: center;
			}
		}
		.taxonomy-image-0 {
		    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/taxonomy1.jpg");
		    background-position:  center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.taxonomy-image-1 {
		    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/taxonomy2.jpg");
		    background-position:  center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.taxonomy-image-2 {
		    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/taxonomy3.jpg");
		    background-position:  center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.taxonomy-image-3 {
		    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/taxonomy4.jpg");
		    background-position:  center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
		.taxonomy-image-4 {
		    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/images/taxonomy5.jpg");
		    background-position:  center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
	}
}