//@import "save-badge";

/* scss for mobile starts here */

.w100 {
    width: 100%;
}
//some variables
.cardWrapM {
    padding: 0.1px; // to avoid collapsing margins HACKKKK  :{
}
// Breadcrumb position HACKKKKKK for serp mobile
.breadcrumb-seo {
    padding-left: 20px;
    font-size: 11px;

    .breadcrumb-list {
        padding-bottom: 0;
    }
}
li.cardholder{
    border-bottom: solid 8px #efefef;
}
.cardMobile {
    position: relative;
    margin: 10px 20px 0px;
    padding-bottom: 18px;
    text-transform: none;
    $siw: 32px;
    /** Bottom Button Row **/
    .btn-wrap {
        border-top: solid 1px #efefef;
        padding-top: 10px;
        text-align: left;

        .btn-icons{
            display: inline-block;
            width: 50%;
        }

        .callwrap{
            width: 25%;
            display: inline-block;
            height: 34px;
            vertical-align: text-bottom;
            .callbtn {
                width: auto;
                padding: 10px 10px;
            }
        }
    }

    /** Seller wrap starts here **/
    .seller-wrap {   
        position: relative;
        width: 74%;
        display: inline-block;
        .dm-wrap {
            order: 2;   // has been written first in html BUT while render comes second [ flexitem property]
            width: 80px; /** **/
            text-align: right;

            img {
                // width: 80px;
            }
        }

        .seller-dtls {
            order: 1;   // has been written after deal-maker badge in html BUT comes first on render [ flexitem property]
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .dm-wrap ~ .seller-dtls {
            width: calc(100% - 85px);  // depends on width of deal-maker badge
        }

        .seller-img-box {
            width: $siw;
            height: $siw;
            margin: 0 auto;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #ccc;

            .initial {
                font-size: 16px;
                line-height: $siw;
                text-transform: uppercase;
                //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
            }

            &.dummy-agent-bground {
                background-position: -170px 0px;
                background-size: 245px 32px;
            }
        }

        .seller-info {
            padding-left: 10px;
            display: inline-block;
            width: 77%;
            .seller-name {
                display: inline-block;
                font-size: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                line-height: 18px;
                max-width: 100%;
                text-align: left;
                color: #444;
                text-transform: capitalize;
                font-weight: bold;
                @include putellipsis;
                a {
                    font-weight: bold;
                    font-size: 14px;
                    color: #3c3c3c;
                    text-transform: capitalize;
                    white-space: nowrap;
                    max-width: 75%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                    font-weight: 500;
                }
                span{
                    vertical-align: top;
                }
            }

            .seller-typeLabel{
                font-size: 12px;
                text-transform: uppercase;
                color: #666;
                font-weight: bold;
                letter-spacing: -0.5px;

                &:after{
                    content: '‧';
                    padding: 0px 5px;
                    font-weight: bold;
                    color: $lighter-color;
                };
            }

            .seller-type {
                color: $lighter-color;
                font-size: 11px;
                text-transform: uppercase;
            }

            .rating-badge-wrap{
                float: right;
                text-align: right;

                .rating-review {
                    color: #666;
                    font-size: 10px;
                    line-height: 11px;

                    span {
                        font-size: 11px;
                        font-weight: 500;
                    }
                }
            }

            .star {
                margin-left: 10px;
                color: orange;
            }

            .post-time {
                padding-left: 10px;
                color: $lighter-color;
                font-size: 12px;
                text-align: right;
            }
        }
    }
    /** Seller wrap ends here **/

    /** higher success rate **/
    .sibox-wrap {
        position: relative;
        width: 34px;
        border: 1px solid #eaeaea;
        overflow: hidden;
        display: inline-block;
    }

    /** Image wrapper starts **/
    .imgWrap {
        position: relative;
        width: 100%;
        margin: 0px 0 10px;

        figure {
            width: 100%;
            height: 180px;
            margin: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #ccc;
            overflow: hidden;
            color: #ccc;
            font-size: 24px;
            line-height: 1.25;
            text-align: center;
            z-index: 0;
        }

        amp-img {
            width: 100%;
            height: 100%;
            margin:auto;
            img{
                object-fit: cover;
            }
        }
       
        .badge-wrap {
            position: absolute;
            top: 4px;
            left: 0px;
            z-index: 2;

            .newBadge {
                position: relative;
                height: 20px;
                min-width: 40px;
                padding: 3px 5px;
                background-color: #fba512;
                color: #fff;
                font-size: 14px;
                line-height: 1;
                letter-spacing: 1.2px;
                text-align: center;
            }
        }

    
    }
    /** Image wrapper ends **/

    /** main info wrapper starts **/
    .main-info-wrap {
        .recency-wrap {
            font-size: 11px;
            position: absolute;
            right: 0;
            font-size: 12px;
            color: #9b9b9b;
        }
    }
    .price-wrap {
        position: relative;
        float: right;
        padding: 0px 0 2px;
        margin-top: 0px;
    }
    .price {
        padding-bottom: 10px;
        line-height: 1;
        text-transform: capitalize;

        sup.currency {
            top: -0.25em;
            margin-right: 2px;
            font-size: 16px;
        }

        .val {
            color: $dark-color;
            font-size: 18px;
            font-weight: 500;
        }
        .unit {
            //padding-left: 2px;
            font-size: 16px;
        }
    }
    .type-size-wrap {
        padding-bottom: 8px;
        @include putellipsis;
        width: auto;
        float: left;
        max-width: 70%;
        white-space: pre-line;
        strong {
            display: inline-block;
            font-weight: 500;
        }
    }
    .typelink {
        color: $dark-color;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
    }
    .type {
        padding-right: 5px;
    }
    .size {
        position: relative;
    }
    .loc-wrap {
        @include putellipsis;
        width: 99%;
        font-size: 13px;
        line-height: 1.17;
        margin-top: 8px;
        .proj-name, .loc-name, .suburb-name, .city-name {
            display: inline;
        }

        .pipe {
            &:after {
                display: inline-block;
                content: '|';
                padding-left: 5px;
                padding-right: 10px;
                color: #bcbcbc;
            }
        }

        .proj-name, .loclink {
            color: $body-color;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            strong {
                font-weight: normal;
            }
        }
    }

    .distance-wrap {
        color: #999;
        font-size: 14px;
    }

    .desc-wrap {
        margin: 6px 0px;

        h3 {
            display: inline;
            font-size: 13px;
            color: #666;
        }

        .desc {
            @include putellipsis;
            display: inline-block;
            width: 85%;
            vertical-align: top;
            
            .seo-hdng {
              display: inline;
              margin-right: 5px;
            }
        }

        .d-more {
            color: #999;
            font-weight: bold;
        }
    }
    /** main info wrapper ends **/

}

@media (max-width: 320px) {
    .cardMobile {
        .imgWrap {
            img {
                height: 180px;
            }
        }
        .price {
            padding-bottom: 5px;
            .val {
                font-size: 20px;
            }
        }
        .seller-name{
            span{
                max-width: 130px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }
        }
        .btn-wrap .callwrap .callbtn {
            padding:10px 10px 10px 8px;
        }
    }
}

// landscape view fix
@media (min-width: 640px) {
    .zero-results-similar-wrap {
        margin-top:5px;
        > ul {
            display: flex;
            flex-flow: row wrap;
            list-style: none;
        }
    }
    .taxonomycardholder{
        width:99%;
    }
    .cardholder {
        width: 48%;
    }
    .cardMobile {
        .imgWrap {
            img {
                height: 180px;
            }
        }
        .price {
            padding-bottom: 5px;
            .val {
                font-size: 20px;
            }
        }
    }
}
