/* AMP SELECTOR TAB CSS */
amp-selector [option][selected] {
    cursor: auto;
    outline:0;
}
.ampHeadContainer {
    max-width: 280px;
    margin: 10px auto;
    padding: 0;
    display: table;
    border-radius: 5px;
    border: 1px solid #e81c28;
}
.headButton[selected]{
    color: #fff;
    background-color: #e81c28;
    &:before{
        position: absolute;
        height: 0;
        width: 0;
        border: solid transparent;
        border-top-color: #fff;
        border-width: 4px;
        top: -1px;
        left: 50%;
        content: '';
        margin-left: -2px;
        pointer-events: none;
        box-sizing: border-box;
    }
}
.headButton{
    display: table-cell;
    color: #e81c28;
    line-height: 23px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    padding: 6px 40px;
}
.ampTabContainer {
    display: flex;
    flex-wrap: wrap;
}
.tabButton[selected] {
    color: #1c1c1c;
    border-bottom: solid 1px #e81c28;
}
.tabButton {
    font-size: 14px;
    color: #acacac;
    text-align: center;
    order: 1;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}
.tabContent {
    display: none;
    width: 100%;
    order: 2; /* must be greater than the order of the tab buttons to flex to the next line */
}
.tabButton[selected]+.tabContent {
    display: block;
}
/* END */