.clearFloat {
    clear: both;
}

.tax-card {
    padding: 10px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
    .tax-icons {
        padding: 0;
    }
    img {
        max-height: 32px;
        width: auto;
    }
    .tax-icon {
        float: left;
        position: relative;
        margin: 4px 0px;
        padding: 12px 0px;
        border: none;
        display: inline-block;
        width: 25%;
        text-align: center;
        vertical-align: middle;
        white-space: normal;
        &.w_1 {
            width: 100%;
        }
        &.w_2 {
            width: 50%;
        }
        &.w_3 {
            width: 33%;
        }
        &.w_4 {
            width: 50%;
        }
        &:last-child {
            border: none;
        }
        .txt-title {
            font-size: 16px;
            margin-top: 10px;
            line-height: 22px;
            color: #444;
        }
        .txt {
            color: #909090;
            font-size: 14px;
            line-height: 16px;
        }
        a {
            display: block;
            transition: all .15s ease;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            a {
                transform: scale(1.05);
            }
        }
        ;
    }
    .icon-wrap {
        font-size: 32px;
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .tax-pad {
        padding: 0px;
    }
    .tax-wrap {
        margin: 0px 10px;
        overflow-x: auto;
    }
    .tax-card {
        margin: 20px 0px;
    }
    .tax-icon {
        width: 180px;
    }
    .side-bar-tax {
        .tax-icon {
            width: auto;
        }
    }
}
