 <div class="input-field-box active" data-otp data-parent data-wrapper="true" data-type="input-field">
    {{?it.label}}
        <label>{{=it.label}}</label>
    {{??}}
        <label>OTP</label>
    {{?}}
    <div class="fill-otp" data-otp {{=it.valueAttribute}}>
        <input type="text" class="js-input" maxlength="4">
    </div>
    {{?it.validationMessage}}
        <span class="validation-msg">{{=it.validationMessage}}</span>
    {{??}}
        <span class="validation-msg">Please enter valid otp</span>
    {{?}}
</div>
<div class="otp-cta-wrap">
    <span data-type="otp-on-call">Resend OTP on Call</span>
    <span> | </span>
    <span data-type="resend-otp">Resend</span>
</div>