<div class="input-field-box {{?it.isAlwaysActive}}active{{?}} clearfix" data-parent data-wrapper="true" data-type="input-field">
    {{?it.label}}
        <label>{{=it.label}}</label>
    {{??}}
        <label>Phone</label>
    {{?}}
    <div data-module="singleSelectDropdown"  data-type="countries" class="js-countries c-code">
         <script type="text/x-config">
            {"templateFromPromise": true, "defaultValue": 1, "hideLabel": true }
        </script>
    </div>
    <div class="m-no">
        <span data-country-code>+91</span>
        <input type="text" class="js-input" {{=it.valueAttribute}} maxlength="14" {{?it.defaultValue}} value="{{=it.defaultValue}}" {{?}}>
    </div>
    {{?it.validationMessage}}
        <span class="validation-msg">{{=it.validationMessage}}</span>
    {{??}}
        <span class="validation-msg">Please enter valid mobile</span>
    {{?}}
</div>