<div class="input-field-box {{?it.isAlwaysActive}}active{{?}}" data-wrapper="true" data-type="input-field" data-parent>
    <label>{{=it.label}}</label>
    <input type="{{=it.type}}" class="js-input" {{?it.maxLength}}maxlength="{{=it.maxLength}}"{{?}} {{=it.valueAttribute}} {{?it.defaultValue}} value="{{=it.defaultValue}}" {{?}}>
    {{?it.validationMessage}}
    <span class="validation-msg">{{=it.validationMessage}}</span>
    {{?}}
</div>