@import "../variables";
@import "../mixins/ellipsis";
@import "../components/pagination";
@import "../components/tables";
@import "../components/tabs";
@import "partials/ampCommon";

.clear {
    clear: both;
}

.seo-page {
    padding: 0 0 10px 0;

    .no-data {
        padding: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}

.toph {
    padding: 10px;
    font-size: 21px;
}

.tbl {
    border-collapse: collapse;
}

// selector tab
.view-select{
    float: right;
    margin: 15px 30px 15px 0px;
    li{
        padding: 5px 10px;
    }
    .grid{
        font-size: 30px;
    }
    .list{
        font-size: 30px;
    }
}

// city list
.builder-list {
    margin: 20px 0;
    min-height: 300px;
    list-style: none;
    
    li {
        width: 46%;
        float: left;
        display: block;
        margin: 5px 15px;
        outline: none;
        background-color: #fff;
        box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
        cursor: pointer;

        &:hover {
            box-shadow: 0px 1px 6px #acacac;
        }
    }
}

// top segments
.top-builder-list {

    > li {
        display: inline-block;
        margin: 0 0 10px 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .sb-card {
        width: 167px;
        padding: 5px;
        background-color: #fff;
        border: solid 1px #ececec;
        border-radius: 5px;

        .img-wrap {
            width: 80px;
            height: 50px;
            overflow: hidden;
            margin: auto;
        }

        .txt-wrap {

            a {
                text-decoration: none;
                cursor: pointer;
                color: $link-color;
            }

            .sb-name {
                @include putellipsis;
                font-size: 15px;
                font-weight: bold;
                line-height: 1.2;
            }
        }

        .sb-dtls {
            padding: 10px 0 0;

            .lbl {
                display: block;
                float: left;
                width: 60%;
                color: #9c9c9c;
                font-size: 12px;
                text-transform: uppercase;
                text-align: left;
            }

            .val {
                display: block;
                float: right;
                width: 38%;
                color: #333;
                font-size: 13px;
                text-align: right;

                a {
                    display: block;
                }
            }
        }
    }
}

// city card
.b-card {
    padding: 10px;

    .row {
        width: 95%;
        margin: auto;
        display: table;
        table-layout: fixed;

        a {
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
        }

        h2 {
            color: $link-color;
        }

        .name {
            font-size: 14px;
            font-weight: bold;
            line-height: 1.345;
        }

        .img-wrap {
            width: 100px;
            overflow: hidden;
            display: table-cell;

            &:hover {
                cursor: pointer;
            }
        }

        .txt-wrap {
            display: table-cell;
            vertical-align: top;
            padding-left: 10px;
        }        
    }
    
    .b-dtls {
        width: 95%;
        padding: 10px 0 0 0;
        margin: auto;

        [class*="col-"] {
            padding: 0 5px 5px;
            font-size: 13px;

            .lbl {
                display: block;
                float: left;
                width: 60%;
                color: #9c9c9c;
                text-align: left;
            }

            .val {
                display: block;
                float: left;
                width: 38%;
                color: #333;
                text-align: right;

                a {
                    display: block;
                }
            }
        }
    }

}
.tblistwrap {
    h2 {
        padding: 10px;
    }
}

.minifoot {
    padding: 0 0 50px;
}

@media (max-width: 785px) {
    .builder-list {
        li {
            width: calc(100% - 31px);
            clear: both;
        }
    }
    .top-builder-list {
        li{
            width: calc(100% - 31px);
            clear: both;
        }
        .sb-card{
            width: 100%;
        }
    }
    .b-card {
        min-height: inherit;
        .b-dtls {
            [class*="col-"] {
                .lbl {
                    display: inline-block;
                    width: 60%;
                }
                .val {
                    display: inline-block;
                    width: 38%;
                    color: #333;
                    text-align: right;
                }
            }
        }
    }
    .tblistwrap {
        .mscroll{
            overflow:scroll;
        }
    }
}