@import "../variables";
@import "../mixins/ellipsis";
@import "../components/pagination";
@import "../components/tables";
@import "partials/ampCommon";

ul {
    list-style: none;
}

// overwriting the bg color for top agents page
[data-controller='agentPage'] {
    background-color: #fff;
}


// broker card css starts
.broker-card {
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    .type-indicator {
        height: 4px;
        background-color: white;
    }

    $siw: 42px;

    .seller-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        .simg-box {
            width: $siw;
            height: $siw;
            background-color: #ccc;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            text-align: center;
            font-size: 24px;
            line-height: 42px;
            color: $title-text;
        }

        .sllr-info {
            width: calc(100% - #{$siw});
            padding: 0 0 0 10px;
        }

        .sllrname {
            @include putellipsis;
            color: $dark-color;
            font-size: 16px;
            text-transform: capitalize;
        }

        .sllr-type-wrap {
            padding: 8px 0 0 0;
            color: $lighter-color;
            font-size: 13px;
            text-transform: uppercase;
        }

        .sllr-type {
            padding-left: 0px;
        }

        .dmbadge {
            .dm-img {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 16px;
                margin-right: 3px;
                background-size: contain;
                background-image: url(/images/dealmaker-badge.png);
            }
        }

        .dmbadge ~ .sllr-type {
            padding-left: 5px;

            &:before {
                content: '•';
                padding-right: 4px;

            }
        }
    }

    .seller-rrwrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 15px 20px;

        .rating {
            margin-right: 10px;
            .rating-badge {
                width: 22px;
                height: 22px;
                line-height: 22px;
                font-size: 11px;
            }
        }

        .rating-review {
            margin: 0px 10px;
            color: $light-color;
            font-size: 13px;
        }
    }

    .seller-prop-count-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px;
        border-top: solid 1px #ececec;

        .txt {
            color: $lighter-color;
            font-size: 13px;
            cursor: pointer;

            .val {
                color: $dark-color;
                font-size: 15px;
            }
        }
    }

    .seller-locality-wrap {
        display: none;
    }

    &.dm {
        .type-indicator {
            background-image: linear-gradient(#f1f1f1, #cbcbcb);

            &:before {
                background-image: url(/images/homepage/new/cityexperts-pattern.png);
                filter: grayscale(1);
            }
        }
    }

    &.edm {
        .type-indicator {
            background-image: linear-gradient(#ffd357, #ffd357);

            &:before {
                background-image: url(/images/homepage/new/cityexperts-pattern.png);
            }
        }
        .dmbadge {
            color: #f5a623;

            .dm-img {
                background-image: url(/images/dealmaker-expert-badge.png);
            }
        }
    }

    &:hover {
        transform: translate(0, -4px);
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
    }
}

.broker-table{
    .details-wrap {
        padding: 0px 0 20px;
        max-width: 400px;
        margin: auto;
        .morelink {
            display: inline-block;
            padding-top: 2px;
            color: $link-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.all-broker-list {
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 180px;
    grid-auto-flow: row;
    margin-top: 20px;
}

// overwrites for table
.tblistwrap{
	padding: 25px 0px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;

	.tbl {
	    border-collapse: collapse;
	    border-spacing: 0;
	}
}

.btn-wrap {
    text-align: right;

    .mainbtn {
		float: unset;
    	font-size: 14px;
    	padding: 10px 20px;
    	margin-right: 10px;
    }
}

.clear {
    clear: both;
}

.seo-page {
    padding-bottom: 25px;

    .no-data{
        padding: 20px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}

.toph {
    padding: 10px;
    font-size: 21px;
}

.breadcrumb-wrap {
	padding: 10px;
}