@import "../variables";
@import "../mixins/ellipsis";
@import "../components/tabs";
@import "partials/selectorTabs";
@import "partials/ampCommon";
@import "partials/overviewCommon";

section.graph-details {
	font-size: 15px;
	ul.loc-elem >li{
		padding: 10px 0;
		>div {
			display: inline-block;
		}
		&:not(:last-child) {
			 border-bottom: 1px solid #d7d7d7;
		}
	}
	.loc-d {
		width: calc(100% - 70px);
		.avg-p {
			padding: 5px 0;
			font-size: 12px;
			color: #444;
		}
	}
	.red {
		color: red;
	}
	.green {
		color: green;
	}
}