@import "../variables";
@import "../mixins/ellipsis";
@import "../components/tabs";
@import "partials/selectorTabs";
@import "partials/ampCommon";
@import "partials/overviewCommon";

#locality-overview {
	background-color: #fff;
	.desc>* {
		display: block;
		margin: 10px;
		text-align: center;
	}
}

#overview-cover {
	margin: 20px 0;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	color: #444;

	>div {
		display: inline-block;
		margin: 0 5px;
		text-transform: capitalize;
		vertical-align: middle;
	}

	.cir-score-wrap {
		font-size: 20px;
		float: none;
	}

	.subtxt-wrap {
		position: relative;
		margin: 0;
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 8px;
			width: 100%;
			height: 1px;
			border-top: solid 1px #dcdcdc;
			z-index: 0;
		}

		.subtxt {
			position: relative;
			display: inline;
			background-color: #fff;
			font-size: 16px;
			z-index: 1;
		}
	}
}

#overview-tab-ld {
	margin: 20px 0;
	padding: 10px 15px;
	justify-content: center;

	&:before {
		content: '';
		position: absolute;
		top: 53px;
		left: 0;
		width: 100%;
		border-bottom: 1px solid #d7d7d7;
	}
	
	&>* {
		color: #444;
		&[selected]{
			color: #e71c28;
		}
	}

	.tabButton {
		font-size: 20px;
		z-index: 1;
	}
}

#overview-lifestyle{
	margin: 10px 0;
	text-align: center;
	.ldesc>* {
		display: block;
		margin: 10px 0;
	}


	.laccordion {
		margin: 10px 0;

		h3 {
			padding-bottom: 10px;
			font-size: 16px;
			line-height: 1;
			text-transform: capitalize;
		}

		section {
			text-align: center;

			>* {
				border: 0px;
				border-bottom: solid 1px #f0f0f0;
			}
			&>:first-child {
				padding: 10px;
				background: #fff;
				color: #6c6c6c;
				text-align: left;
				h3 {
					color: #e81c28;
				}
				&>:nth-child(2) {
					margin-left: 42px;
				}
			}
			&[expanded]>:first-child{
				background-color: #f8f8f8;
				border-left: solid 2px #e81c28;
			}
			&>:nth-child(2) {
				padding: 10px 0px;
			}

			figure {
				amp-img {
					img {
						object-fit: contain;
					}
				}
				figcaption {
					height: 50px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

		}

		.icon-wrap {
			padding-right: 10px;
			float: left;

			.imgicon {
				display: inline-block;
				width: 32px;
				height: 45px;
				background-repeat: no-repeat;
				background-image: url(/images/locality/lifestyle-sprite.png);
				background-position: left top;
				background-color: transparent;

				&.neighbor {
					background-position: left top;
				}
				&.like {
					background-position: -33px top;
				}
				&.living {
					background-position: -67px top;
				}
				&.not-find {
					background-position: -100px top;
				}
				&.locality {
					background-position: -131px top;
				}
				&.joy {
					background-position: -164px top;
				}
			}
		}
	}
}

#overview-desc {
	margin: 10px;
	text-align: center;
	>div {
		margin-top: 20px;
		line-height: 1.5;
		font-size: 14px;
		font-weight: normal;
		text-align: left;
		&.less{
			height: 42px;
			overflow: hidden;
		}
		&.more {
			overflow: unset;
			height: unset;
		}
	}
	.desc-btn {
		display: block;
		color: red;
		text-align: right;
	}
}

#overview-section {

	h1 {
		padding-bottom: 20px;
		font-size: 21px;
		line-height: 1;
		text-align: center;
	}

	.ampTabContainer {
		justify-content: center;

		.tabButton {
			border-radius: 10px;
			padding: 10px;
			color: #444;
			&[selected] {
				background-color: red;
				color: white;
			}
			&:not([selected]) {
				border: 1px solid #ccc;
			}
			&>:first-child {
				font-weight: bolder;
			}
			&>:last-child {
				font-size: 12px;
			}
		}

		.tabContent {
			margin: 10px;

			>amp-accordion section{

				>header {
					padding: 10px;
					background-color: #f8f8f8;
					color: red;
					text-align: center;
					&:after {
						content: '▼';
						float: right;
					}
				} 
				&[expanded] header:after {
					content: '▲';
				}

				>ul {
					margin: -1px 10px 10px 10px;
					border: 1px solid #d7d7d7;

					>li {
						position: relative;
						padding: 10px;
						&:not(:last-child) {
							 border-bottom: 1px solid #d7d7d7;
						}

						h3 {
							margin-bottom: 5px;
							font-size: 13px;
							color: #444;
						}
						p {
							margin: 0;
							font-size: 12px;
							color: #7c7c7c;
						}
						div {
							position: absolute;
							top: 50%;
							right: 5px;
							font-size: 15px;
							color: red;
							transform: translateY(-50%);
							&:after {
								content: '>';
								margin-left: 5px;
							}
						}
					}
				}

			}
		}
		
	}
}

#price-trends {
	margin-top: 40px;
	padding: 40px 10px;
	text-align: center;

	#ptBuy, #ptRent {
		>div{
			position: relative;
			margin: 40px;
			border: 1px solid #ececec;
			padding: 10px;
			background-color: #fff;
			font-size: 32px;

			>:not(:first-child) {
				margin: 10px 0 0 0;
			}

			>div {
				position: absolute;
				top: 0;
				left: 50%;
				padding: 5px 10px;
				border-radius: 10px;
				background-color: #ececec;
				font-size: 14px;
				font-weight: normal;
				text-transform: capitalize;
				transform: translate(-50%,-50%);
			}
			>:last-child {
				font-size: 14px;
				color: #9c9c9c;
			}

			span {
				font-size: 12px;
				font-weight: normal;
			}
		}
	}
}

#nearby-localities {
	text-align: center;
	amp-carousel {
		margin: 20px 10px 0 10px;
		ul {
			position: relative;
			display: inline-block;
			width: 220px;
			height: 190px;
			margin: 5px 10px 20px 10px;
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
			overflow: hidden;

			>li {
				display: block;
				height: calc(50% - 20px);
				padding: 10px;
				text-align: left;

				&:first-child {
					background-color: #fff;
				}
				&:last-child {
					background-color: #f7f7f7;
					a {
						display: inline-block;
						margin-right: 10px;
						border-bottom: 1px dashed red;
						color: #444;
						font-weight: bold;
					}
				}
				&.cir-score-wrap {
					position: absolute;
					top: 50%;
					right: 10px;
					height: 20px;
					width: 20px;
					line-height: 20px;
					text-align: center;
					transform: translateY(-50%);
				}
				>* {
					padding: 10px 0 0 10px;
				}
				h3 {
					font-size: 18px;
				}
			}			
		}
	}
}