@import "partials/ampCommon";
@import "partials/selectorTabs";
@import "../variables";
@import "../components/makaan-select-coupon-amp";
@import "../components/makaan-select-promotion-amp";
@import "../components/lead-deficit-top-slot";

/** page specific css begins **/
.proj-hdr{
    padding: 0 20px;
    .sections {
        border-top: 1px solid #ececec;
        margin: 0;
        padding: 20px 0;
        position: relative;
    }
    .proj-name {
        padding: 0;
        margin: 0;
        color: #1c1c1c;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.25;

        .pipe{
            color: #999;
        }
    }
    .proj-address {
        padding: 5px 0;
        line-height: 1.5;
        font-weight: normal;
    }
    .proj-link {
        border-bottom: solid 1px #ccc;
        color: #666;
    }
    .price-wrap {
        margin: 15px 0;
        font-size: 12px;
        .proj-price {
            .rupee {
                top: -0.45em;
                font-size: 13px;
            }
            .val {
                font-size: 22px;
            }
            .unit {
                font-size: 14px;
            }
        }
        .proj-rate {
            padding-left: 10px;
            color: #999;
        }
        .emi-wrap {
            display: block;
            padding-top: 5px;
            color: #fba510;
        }
        .verification-date {
            color: #666;
            padding-top: 4px;
            display: block;
        }
    }
}

.call-wrap {
    text-align: right;
    float:right;

    .txt-callbtn {
        display: inline-block;
        background-image: url(/images/taxonomy-icon/call.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
    }
}

.available-prop-wrap{
    .call-wrap{
        .txt-callbtn {
            width: 70px;
            height: 70px;
        }
    }
}


.map-area {
    margin: 20px 0;
    .map-area-hdr {
        background-image: url(/images/viewonmap.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #ccc;
        color: #333;
        font-size: 14px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
    }
}

.mapView-wrapper{
    background: #FFF;
    width: 100%;
    height: 100%;
    position: absolute;

    .map-hdr {
        height: 25px;
        font-size: 21px;
        color: #444;;
        text-align: center;
        padding: 10px;

        .back {
            color: #e81c28;
            display: block;
            float: left;
        }
    }

    .mapview {
        height: calc(100% - 45px);
        width: 100%;
        position: relative;
    }
}

.info-col {
    width: 49%;
    padding-bottom: 15px;
}
.info-col .val {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 16px;
}
.info-col .lbl {
    color: #999;
    font-size: 13px;
}
.contact-txt {
    color: #666;
    font-size: 14px;
    text-align: center;
}
#top-slr-list {
    padding: 0;
    list-style: none;
}
.contact-section {
    padding: 5px;

    li {
        padding-bottom: 10px;
    }

    .call-wrap {
        .txt-callbtn {
            height: 35px;
            width: 35px;
        }
    }

    .sib-wrap {
        display: inline-block;
        text-align: center;
    }

    .seller-info {
        width: 60%;
        padding: 10px 10px 0 0;
        color: #999;
        font-size: 12px;
        line-height: 1.5;
    }
    .seller-connect {
        position: absolute;
        right: 4px;
        bottom: 24px;
    }

    .seller-img-box {
        width: 42px;
        height: 42px;
        margin: 0 auto;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        border: 1px solid #fff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eadbe5;
    }

    .initial {
        color: #fff;
        font-size: 21px;
        line-height: 42px;
        text-transform: uppercase;
    }

    .seller-dtls {
        padding-left: 5px;
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    .seller-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 1.1;
        width: 100%;
        margin-bottom: 4px;
    }

    .seller-type {
        color: #999;
        font-size: 12px;
        line-height: 2;
    }

    .rating-wrap {
        font-weight: bold;
        font-size: 11px;
        margin-bottom: 5px;
    }

    .rating-right {
        float: right;
        vertical-align: top;
        color: #aaa;
        font-size: 11px;
        text-align: right;
    }

    .star {
        color: orange;
    }

    .bhk-area-wrap {
        display: inline-block;
        width: 50px;
        padding-right: 5px;
        color: #666;
        font-size: 12px;
        line-height: 1.4;
        vertical-align: top;
    }
}

.floor-plan {

    .upl-dtls {
        position: absolute;
        bottom: 0px;
        background: rgba(255,255,255,0.8);
        padding-left: 5px;
        text-align: left;
        width: 100%;
    }

    .size {
        color: #1c1c1c;
    }

    .main-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        max-width: 100%;
        font-size: 12px;
        color: #666;
    }
}


.key-details {
    padding: 1rem 1rem 0rem;
}

.description{
    padding: 0 5px;
    color:#666;
}

.sections{
    margin-top: 20px;
    padding: 0 10px;

    h2{
        font-size: 16px;
        padding: 10px 5px;
    }
    .tabButton {
        font-size: 13px;
        padding: 5px;
        margin-right: 10px;
    }

    .thirdfoldTabHead {
        color: #1c1c1c;
        border-bottom: solid 1px #e81c28;
    }

    .thirdfoldTab {
        display: block;
    }

    .tab-section {
        border-top: solid 1px #ccc;
        padding: 10px 0;
    }
}

.ad-sec {
    height: 300px;
    width: 85%;
    margin: auto;
    position: relative;
}

.kd-wrap .listitem {
    width: 50%;
    padding-bottom: 10px;
    padding-right: 20px;
    box-sizing: border-box;

    .val {
        font-size: 13px;
    }

    .lbl {
        color: #999;
        font-size: 12px;
    }
}
.amenity-wrap {
    padding: 1rem 1rem 0rem;

    .listitem {
        display: inline-block;
        width: 32%;
        padding: 0 0 20px;
        text-align: center;
        font-size: 12px;

        &.disabled {
            opacity: 0.35;
        }
    }
}
.spec-type-list {
    padding: 1rem 1rem 0rem;

    .listitem {
        padding-bottom: 20px;

        * {
            box-sizing: border-box;
        }
    }

    .spec-list {
        list-style: none;

        > li {
            width: 100%;
            padding: 2px 0 0;

            &:after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }

    .lbl {
        display: block;
        float: left;
        width: 125px;
        padding-right: 10px;
        color: #999;
        font-size: 12px;
    }

    .val {
        display: block;
        float: left;
        width: calc(100% - 140px);
        font-size: 12px;
        line-height: 1.25;
    }
}
.locality-sec {
    padding: 0rem 1rem 0rem;
    .p-img {
        float: left;
        margin: 16px 10px 10px 10px;
    }
}

.floating {
    .connect-top-sellers {
        position: fixed;
        bottom: 15px;
        left: 0;
        z-index: 1;
   }
}
/** page specific css ends **/
