@import './project.scss';
// property new design experiment css
.card-heading{
    font-size: 18px;
    font-weight: bold;
    color: #292929;
    margin-bottom: 15px; 
}
.proj-hdr{
    padding:10px 20px;
}
.breadcrumb-seo .breadcrumb-list {
    padding-bottom: 10px;
}
body[amp-x-prop_page="new"]{
    .new-breadcrum{
        .breadcrumb-seo{
            margin: 5px 2px;
            padding: 0px;
        }
        display: block;
        .breadcrumb-list{
            padding-bottom: 0px; 
            .bclink{
                padding:2px 5px;
                a.txt{
                    font-size:11px;
                    color:#9b9b9b;
                }
            }
        }     
    }
    .hdr{
        padding: 20px 12px 10px 12px;
        border-bottom: solid 5px #f4f4f4;
    }
    .proj-hdr{
        padding: 0px;
        .proj-address{
            font-size: 14px;
        }
        .miscinfo-area{
            .lbl{
                color: #9b9b9b;
            }
            .val{
                font-size: 14px;
                font-weight: 500;
                color: #292929
            }
        }
        .price-wrap{
            margin: 5px 0px;
            .proj-price {
                .unit{
                    font-size: 22px;
                    color: #000;
                }
                .currency{
                    top:0px;
                    font-size: 22px;
                    color: #000;
                }
                .proj-rate{
                    color: #9b9b9b;
                }
            }
        }
        .key-details{
            padding: 20px 12px;
            border-bottom: solid 5px #f4f4f4;
            .listitem {
                .lbl{
                    color: #9b9b9b;
                }
                .val{
                    font-size: 14px;
                    font-weight: 500;
                    color: #292929
                }
            }
        }
        .contact-section{
            padding: 20px 12px;
            border-bottom: solid 5px #f4f4f4;
            .rating-right{
                display: none;
            }
            .seller-name{
                font-size: 14px;
                font-weight: 500;
                color: #292929;
            }
            .cta-link{
                color: #fff;
                width: 75px;
                background: #e81c28;
                border-radius: 20px;
                line-height: 23px;
                display: inline-block;
                height: 28px;
                padding: 5px 10px 0;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .desc-wrap{
        padding: 0px 0px 20px 10px;
        border-bottom: solid 5px #f4f4f4;
        .card-heading{
            font-size: 18px;
            color: #292929;
            font-weight: bold;
        }
        .desc-exp{
         color: #9b9b9b;
         font-size: 13px;
        }
        .less {
            height: 5.1em;
        }
    }
    .sections{
        border-bottom: solid 5px #f4f4f4;
    }
}
.amenity-wrap{
    padding: 20px 10px;
    border-bottom: solid 5px #f4f4f4;
    .listitem-wrap{
        max-height: 30px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        .listitem{
            display: inline-block;
            width: auto;
            padding: 2px 8px 3px 0px;
            text-align: center;
            font-size: 14px;
            margin: 5px;
            color: #292929;
            border-right: solid 2px #ccc;
        }
    }
}
.loaclity-wrap{
    padding: 10px 15px;
    border-bottom: solid 5px #f4f4f4;
}