@import "../variables";
@import "../mixins/ellipsis";
@import "partials/ampCommon";
@import "partials/propcard-mobile";
@import "partials/filterSerp";
@import "../components/pagination";
@import "../components/serp-bbcard-mobile";
@import "../components/serp-agent-mobile";
@import "../components/rera-tag";
@import "../components/tooltip";
@import "../components/review-card";
@import "../components/makaan-select-coupon-amp";
@import "../components/makaan-select-promotion-amp";
@import "../components/lead-deficit-top-slot";
@import "components/quick-filters";

.deficit-heading{
    padding: 20px 0 5px;
    margin: -12px 20px 0px;
    font-size: 16px;
    font-weight: 600;
}

.bbcard-mobile{
    margin:0px auto;
}

.clear{
    clear: both;
}
// The h1 tags and link to locality/city SET ALERT CSS
.f-count-wrap {
    padding: 5px 10px 2px 20px;
    color: $light-color;
    font-size: 14px;
    line-height: 1.25;
    h1, h2 {
        display: inline;
        font-size: 14px;
        font-family: $roboto;
        //margin-left: 5px;
    }
}

.updated-date {
    padding: 0px 20px 20px;
    font-size: 12px;
    color: #acacac;
    text-align: right;
}

//Broker Description Popup
.agent-desc-popup{
    padding: 30px;
    background-color: #fff;
    .desc-head {
        padding: 0 0 20px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        .desc-close{
            float: right;
            cursor: pointer;
        }
    }
}

//Search results wrapper
.search-result-wrap {
    position: relative;
    z-index: 0;
    .no-results {
        padding: 20px 10px 20px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 15px;
        .hdng {
            font-size: 21px;
            line-height: 1.2;
        }
        .txt {
            padding: 5px 0 0;
        }
    }
    .prev-nxt-wrap {
        display: none;
    }
}

.ad-sec {
    height: 180px;
    width: 85%;
    margin: auto;
    position: relative;
}

.hdng-zero-simi {
    padding: 10px 10px 10px 15px;
    font-size: 18px;
}
.amp-lead-sellerRating {
    width: 25px;
    height: 18px;
    line-height: 18px;
    border-radius: 2px 2px 0;
    font-size: 10px;
}
.list-mainarea .agent-profile-card-moblie{

    width: auto;

    
    .rera-tag {
        .approve{
            height: 16px;
        }
        .icon-tick:after {
            content: '✓';
        }
    }
    .score-info-txt {
        padding-left: 8px;
        font-size: 12px;
        color: #9b9b9b;
        line-height: 30px;
        position: relative;
    }
    .agent-rr-info {
        border-bottom: 1px solid rgb(243, 243, 243);
        padding-top: 20px;
        line-height: 24px;
        >* {
            padding-right: 10px;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    .brw-container {
        overflow: scroll;
        .review-box .buyer-img-wrap {
            background-image: none;
        }
    }
    .more-reviews {
        color: #666;
        font-size: 13px;
    }
}