@import "../variables";
@import "../mixins/ellipsis";
@import "../components/tables";
@import "../components/pagination";
@import "partials/ampCommon";
@import "partials/selectorTabs";

body{
    background-color: #f7f7f7;
    color: #444;
    width: 100%;
    padding-top: 1px;
    margin-top: -1px;
    font-size: 14px;
    font-weight: 400;
}

i[class^="icon-"]{
    font-size:16px;

    &[class$="-right"]:before{
        content:'▶';
    }

    &[class$="-left"]:before{
        content:'◀';
    }
}

.locality-trends {
    padding: 15px 10px 0;
}

.page-hdng {
    padding: 25px 0;
    font-size: 21px;
    text-align: center;
}
.sub-hdng {
    font-size: 18px;
    padding: 18px 0
}

.trend-tabs ul {
    max-width: 280px;
    margin: 20px auto;
    > li {
        padding: 6px 10px;
        &.selected:before {
            border-top-color: #f1f1f1;
        }
    }
}

.type-tabs {
    padding: 10px 0;
    &.sleek-tabs ul>li:hover .triangle:after,
    &.sleek-tabs ul>li.selected .triangle:after {
        border-top-color: #f1f1f1;
    }
}

.desc-wrapper {
    margin: 0;
    .desc {
        text-align: justify;
        padding: 0 10px;
        transition: max-height 300ms ease-in-out;
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 18px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        a {
            border-bottom: dashed 1px #e81c28;
            color: #444;
            &:hover {
                color: #e81c28;
                text-decoration: none;
                border-color: #e81c28;
            }
            &:active {
                text-decoration: none;
            }
            &:visited {
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
                outline: none;
            }
        }
        ul {
            list-style: none;
            margin: 20px 0px;
            font-size: 15px;
            li {
                margin: 5px 0px;
                position: relative;
                padding-left: 20px;
                &:before {
                    position: absolute;
                    content: '';
                    left: 0px;
                    top: 8px;
                    height: 6px;
                    width: 6px;
                    border-radius: 50%;
                    border: solid 1px #e81c28;
                }
            }
        }
    }
    .morelink {
        padding: 10px;
        color: $link-color;
        text-align: center;
        span {
            cursor: pointer;
        }
        .less {
            display: none;
        }
    }
    .active {
        .desc {
            max-height: 10000px;
        }
        .morelink {
            .more {
                display: none;
            }
            .less {
                display: block;
            }
        }
    }
}

.locality-trends {

}

.disclaimer-txt {
    padding: 15px 10px;
    color: $lighter-color;
    font-size: 12px;
}

.breadcrumb-section {
    padding: 20px 0 0;
}

// overwrites for table
.tbl {

    border-collapse: collapse;
    border-spacing: 0;

    .search-th-wrap {
        width: 252px;
        padding: 6px 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0px #ccc;
        font-size: 12px;
        .thcontainer {
            display: inline-block;
            width: calc(100% - 20px);
            padding-left: 5px;
        }
        .thdd {
            top: 26px;
            left: auto;
            right: -13px;
            width: 240px;
            ul {
                li {
                    padding: 0 10px;
                    .result-row {
                        padding: 10px 0;
                        line-height: 1.25;
                    }
                }
            }
        }
    }
    .growth {
        .val {
            min-width: 60px;
            display: inline-block;
            text-align: right;
        }
        i {
            display: inline-block;
            transform: rotate(90deg);
            margin-left: 2px;
        }
        &.rise i {
            color: green
        }
        &.fall i {
            transform: rotate(-90deg);
            color: $link-color;
        }
    }
    .link-td-txt {
        position: relative;
        padding: 0 10px;
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
    }
    .removeit {
        position: absolute;
        top: 0;
        left: -30px;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
    }
    h3 {
        font-family: $roboto;
        font-size: 15px;
    }
    .link-block {
        display: block;
        padding: 10px 0;
        color: $link-color;
        text-decoration: none;
        cursor: pointer;
    }
}

// popup for price trend chart container 
@media screen and (min-width: 767px) {
    .price-trend-chart-wrap {
        width: 650px;
        height: 440px;
        padding: 30px 10px 10px;
        background-color: #fff;
        border-radius: 25px;
    }
}

@media screen and (max-width: 767px) {
    .price-trend-chart-wrap {
        height: 100%;
        background-color: #fff;
    }
}