<div class="input-box fc-wrap">
	<!-- palce holder text -->
	<label>{{=it.label}}
		{{? it.required}}
			<span class="required-field">*</span>
		{{?}}
	</label>
	<!-- input field -->
	<input {{?  it.type === 'number'}} type= "tel" {{??}} type="text" {{?}}  data-type="input-box" name={{=it.inputName}} value="{{=it.value || ''}}" {{= it.required?'required' :''}} {{= it.editable?'':'readonly'}} {{?it.maxlength}}maxlength="{{=it.maxlength}}"{{?}} style=text-indent:{{=it.textIndent}} class="{{=it.className}}"
	>
</div>
