<div class="alert-head">{{=it.heading}}</div>
<div class="cancel-options">
    <button type="button" class="cbtn" data-type="closePopup">{{=it.cancelText}}</button>
    <button type="button" class="cbtn" data-type="submit">{{=it.confirmText}}</button>
</div>