<div data-headerHolder class="header-content-wrap">
	<div class="seller-img" style="background-image: url({{=it.postedBy.image}}); background-color:{{=it.postedBy.backgroundColor}}">
		{{? !it.postedBy.image }}
			<span class="initial" style="color:{{=it.postedBy.textColor}};">{{=it.postedBy.nameText}}</span>
		{{?}}
		<span class="highlighter-badge">
			{{? it.sellerTransactionStatus.isExpertDealMaker }}
				<img src="images/rating-review/expert-badge.png" alt="Expert Deal Maker">
			{{?? it.sellerTransactionStatus.isDealMaker }}
				<img src="images/rating-review/dealmaker-badge.png" alt="Deal Maker">
			{{?}}
		</span>
	</div>
	<div class="seller-name">{{=it.companyName}}</div>
		{{? it.sellerTransactionStatus.typeLabel }}
			<span class="seller-type">{{=it.sellerTransactionStatus.typeLabel}} . </span>
		{{?}}
		<span class="seller-type"><span>{{=it.companyType}}</span></span>
</div>