<div class="seller-details-wrap" data-miniprofile-container>
	<span class="icon-close" data-type="profileClose"></span>
	<span class="icon-back-arrow" data-type='review-back'>
		<span class="path1"></span><span class="path2"></span><span class="path3"></span> 
	</span>
	<span class="back"></span>
	
	<div class="sd-main-content-wrap" data-miniprofile-data-container>
		<!-- profile Info section -->
		<div class="sd-header" data-header-container>
		</div>

		<!-- seller details content wrap -->
		<div class="sd-content-wrap">

			<!-- seller score section -->
			<div class="sd-score-wrap" data-module="sellerScore" data-score-container id="miniProfile-sellerScore">
				<script type="text/x-config">
	                {
	                    "loaderSelector": "[data-score-loader]",
	                    "placeHolderSelector": "[data-score-placeholder]"
	                }
	            </script>
	            <div data-score-placeholder></div>
			</div>

			<!-- seller Review Section -->
			<div class="sd-review-wrap" data-review-container>
				<div class="common-top-line">
					<span class="total-count js-review-count"></span>
					<span class="see-all" data-type = "see-all-reviews">See All <i class="icon-chevron-right"></i></span>
				</div>
				<!-- review -->
				<div data-module="sellerReviews" id="miniProfile-sellerReviews">
	                <script type="text/x-config">
	                    {
	                        "showDetailedReviews": false,
	                        "showHeadingWrap": false,
	                        "maxReviews": 1,
	                        "source": "miniProfile-card",
	                        "placeHolder": "[data-review-list]"
	                    }
	                </script>
	                <div data-review-list></div>
	            </div>
			</div>

			<!-- Seller Rating section -->
			<div class="sd-rating-wrap" data-rating-container>
				<div class="common-top-line">
					<span class="total-count js-rating-count"></span>
					<span class="see-all" data-type="showHideRatingsDetails"><span data-hide-show>show Details</span> <i class="icon-chevron-right"></i></span>
				</div>
				<p>Seller ratings are received from prospective buyers on makaan</p>
				<div data-module="ratingBars" class="rating-bar-parent" id="miniProfile-ratingBars"></div>
			</div>

			<!-- Matching Property Section -->
			<div class="sd-matching-prop-wrap hide" data-module="similarProperties" data-similar-properties-container id="miniProfile-similarProperties">
			</div>

		</div>

	</div>

	<!-- All review wraper -->
	<div class='all-review-wrap' data-detailed-review></div> 

	<!-- Action buttons section -->
	<div class="sd-btn-wrap">
		<span class="cbtn cbtn-s" data-type="view-profile">View Full Profile</span>
		<span class="cbtn cbtn-p" data-type="connect-seller">Connect Now</span>
	</div>
</div>