<div class="range-slider">
    <div class="js-range-slider"></div>
    <div class="range">
        <input type="hidden" name="js-range-value-1" />
        <input type="hidden" name="js-range-value-2" />
	        <span class="js-range-value-1 range-value1"></span>&nbsp;&nbsp;{{? it.doubleHandle}}-{{?}}&nbsp;&nbsp;
	        <span class="js-range-value-2 range-value2"></span>
        {{? it.label}}
        	<span class="left-label">{{=it.labelValue.leftLabel}}</span>
	        <span class="right-label">{{=it.labelValue.rightLabel}}</span>
        {{?}}

        {{? it.sliderName}}
            <span class="sliderType">{{=it.sliderName}}</span>
        {{?}}

    </div>
</div>
{{?it.applyrequired}}
    <div data-type="apply-filters" class="cbtn cbtn-p">Apply</div>
{{?}}
