<div class="mod-content popup-content" class="popupheight">
    <div data-type="closePopup" class="close-out">
        <i class="icon-close"></i>
        <i class="icon-back-arrow">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
        </i>
    </div>
    <div class="vom-wrap">
        <h2>Property Location</h2>
        <div class="prop-detail">
            <div>
                {{? it.mapData && it.mapData.price }}
                    <span class="price"><span class="currency">{{= it.mapData.price}}{{= it.mapData.unit}}</span></span>
                {{?}}
                {{? it.mapData && it.mapData.pricePerUnit }}
                    <span class="rate"><span class="currency">{{= it.mapData.pricePerUnit}}/ sq ft</span></span>
                {{?}}    
            </div>
            <div>
                {{? it.mapData && it.mapData.title }}
                    <span class="prop-name">{{= it.mapData.title}}</span>
                {{?}}
                {{? it.mapData && it.mapData.size }}    
                    <span class="size"> . {{= it.mapData.size}}</span>
                {{?}}
            </div>
        </div>
        <div class="map-area" style="">
            <div data-module="mapsModule">
                <script type="text/x-config">
                    {
                        "latitude": "{{= it.mapData.latitude}}",
                        "longitude": "{{= it.mapData.longitude}}",
                        "pageType": "{{= it.mapData.pageType}}",
                        "title": "{{= it.mapData.title}}",
                        "zoom": "{{= it.mapData.zoom}}"
                    }
                </script>
            </div>
        </div>
    </div>
    {{? it.mapData && it.mapData.sellerName}}       
        <div class="bottom-bar">
            <div class="left">
                {{? it.mapData && it.mapData.sellerPic}}
                    <div class="seller-pic" data-background-image="{{=it.mapData.sellerPic}}"></div>
                    {{?? it.mapData && !it.mapData.sellerPic}}
                        <div class="seller-pic" style="background-color: {{=it.mapData.avatarBGColor}}; color: {{=it.mapData.avatarTextColor}}">
                            <span class="initial">{{= it.mapData.avatarText}}</span>
                        </div>
                    {{??}}    
                {{?}}
            </div>
            <div class="seller-info center">
                {{? it.mapData && it.mapData.sellerName}}       
                    <div class="name">{{= it.mapData.sellerName}}</div>
                {{?}}    
                {{? it.mapData && it.mapData.sellertype}}
                    <div class="type">{{= it.mapData.sellertype}}</div>
                {{?}}    
            </div>
            <div class="right">
                <div class="cbtn" data-call-now data-step="CALL_NOW" data-source="map" data-type="map-connect-now">Contact</div>
            </div>
        </div>
    {{?}}
</div>
