<div class="fc-wrap">
    {{~it.options :option:index}}
    <label for="{{=it.name}}{{=index}}" class="multiselectlbl" >
        <input id="{{=it.name}}{{=index}}" type="checkbox" name="{{=it.name}}" value="{{=option.value}}" data-type="single-select-option" data-value="{{=option.value}}" data-name="{{=it.name}}" data-label="{{=option.label}}" {{?it.selectedValue && option.value.length && it.selectedValue.indexOf(option.value) > -1}}checked{{?}}>
        <span class="boxoption">
            <span class="val">{{=option.label}} {{=option.text || ''}}</span>
            <span class="optional-txt"></span>
            <span class="checked">
                <i class="icon-tick"></i>
            </span>
        </span>
    </label>
    {{~}}
</div>
