<div class="fc-wrap">
    {{~it.options :option:index}}
    <label for="{{=it.name}}{{=index}}" class="radiolbl">
        <input id="{{=it.name}}{{=index}}" type="radio" data-type="single-select-option" data-value="{{=option.value}}" data-name="{{=it.name}}" name="{{=it.name}}" value="{{=option.value}}" data-label="{{=option.label}}" {{?it.selectedValue && (it.selectedValue.indexOf(option.value) > -1 || it.selectedValue.indexOf(option.alternateValue) > -1)}}checked{{?}}>
        <span class="outer"><span class="inner"></span></span>
        <span class="txt">{{=option.label}}</span>
    </label>
    {{~}}
</div>
