{{~it.options :option:index}}
<label for="{{=it.name}}{{=index}}" class="independent-single-select">
    <input id="{{=it.name}}{{=index}}" type="radio" name="{{=it.name}}" value="{{=option.value}}" data-type="single-select-option" data-value="{{=option.value}}" data-name="{{=it.name}}" data-label="{{=option.label}}" {{?it.selectedValue && it.selectedValue.indexOf(option.value) > -1}}checked{{?}}>{{=option.label}}
    <i class="icon-tick"></i>
</label>
{{~}}