 {{ var environment = it.environment; }}
<ul class="f-lv active">
    <li>
    	<a href="{{= environment}}my-dashboard" data-type="md-opt" data-track-event="dashboard">Dashboard</a>
    </li>
    <li>
    	<a href="{{= environment}}enquiries" data-type="md-opt" data-track-event="enquiries">Enquiries</a>
    </li>
    <li>
    	<a class="mdfavlink" href="{{= environment}}listings" data-type="md-opt" data-track-event="properties">Properties</a>
    </li>
    <li>
    	<a class="mdfavlink" href="{{= environment}}profile" data-type="md-opt" data-track-event="my profile">My profile</a>
	</li>
    <li>
    	<a class="dalink" target="new" data-type="md-opt" href="{{= environment}}postProperty">Sell/Rent Property<sup> Free</sup></a>
    </li>
    <li id='loginchecker' data-type="logout-menu">
    	<a class="mdfavlink">Logout</a>
    </li>
</ul>
