{{? !it.onlyNextPrev }}
<div class="pagination">
    <ul>
        {{ if(it.currentPage && it.totalPages){ }}
            {{ var currentPage = it.currentPage, totalPages = it.totalPages, minPages = it.minPages;}}
            {{ function checkDisable(current, end, direction, icon) { }}
                {{ if(current===end) { }}
                    <li class="disabled">
                        <span><i class="{{= icon}}"></i></span>
                    </li>
                {{ }else{ }}
                    <li data-type="page-number" data-page="{{= current+direction}}">
                        <span><i class="{{= icon}}"></i></span>
                    </li>
                {{ } }}
            {{  }  }}

            {{ function checkCurrent(begin, end) { }}
                {{ for(var index=begin; index<=end; index++) { }}
                    {{? index===currentPage }}
                        <li><span class="active">{{=index}}</span></li>
                    {{??}}
                        <li data-type="page-number" data-page="{{=index}}"><span>{{=index}}</span></li>
                    {{?}}
                {{ } }}
            {{ } }}

            {{ checkDisable(currentPage, 1, -1, 'icon-chevron-left'); }}

            {{ if(totalPages<=minPages) { }}
                {{ checkCurrent(1, totalPages); }}
            {{ } else { }}
                {{  if(currentPage <= (minPages+1)/2 ) { }}
                    {{ checkCurrent(1, minPages-1); }}
                    <li class="dots"><span>...</span></li>
                    <li data-type="page-number" data-page="{{= totalPages }}"><span>{{= totalPages }}</span></li>
                {{ } else if(totalPages-currentPage<=minPages/2) { }}
                    <li data-type="page-number" data-page="1" ><span>1</span></li>
                    <li class="dots"><span>...</span></li>
                    {{ checkCurrent(totalPages-minPages+2, totalPages); }}
                {{ } else { }}
                    <li data-type="page-number" data-page="1"><span>1</span></li>
                    <li class="dots"><span>...</span></li>
                    {{ checkCurrent(currentPage-Math.floor(minPages/2-1), currentPage+Math.floor(minPages/2-1) ); }}
                    <li class="dots"><span>...</span></li>
                    <li data-type="page-number" data-page="{{= totalPages }}"><span>{{= totalPages }}</span></li>
                {{ } }}
            {{ } }}

            {{ checkDisable(currentPage, totalPages, 1, 'icon-chevron-right'); }}
        {{ } }}
    </ul>
</div>
{{?? it.onlyNextPrev }}
<div class="pagination">
    {{? it.currentPage === 1}}
    <div class="pbtn disabled">Prev</div>
    {{??}}
    <div  data-type="prev-page" class="pbtn">Prev</div>
    {{?}}

    {{? it.currentPage === it.totalPages}}
    <div class="nbtn disabled">Next</div>
    {{??}}
    <div data-type="next-page" class="nbtn">Next</div>
    {{?}}
    <div class="clear"></div>
</div>
{{?}}
