<div class="container">
	<label>Filter By 
		<strong>{{=it.quickFilterLabel || it.label}}</strong>
	</label>
	<ul class="quick-filter-options">
		{{~ it.options :filterOption}}
		<li data-type="filter-link" data-name="{{=it.name}}" data-value="{{=filterOption.value}}">{{=filterOption.label}} {{=filterOption.text||""}}</li>
		{{~}}
	</ul>
	<div class="filter-icon" data-type="open-filters">
		<span class="icon-wrap"> <span class="icon-equalizer"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span> </span> Filter
	</div>
</div>