<div class="rsc-wrapper max400">
    {{~it.deals :deal :index}}
    <div class="rsc-box {{=deal.displayClass}}"><!-- rsc box = recent-seller-card BOX-->
        <div class="rsc">
            <div class="img-wrap">
                 {{? deal.profilePic}}
                <img data-src="{{=deal.profilePic}}" alt="{{=deal.sellerName}}" src="/images/dummyPX.png"/>
                {{?}}
            </div>
            <div class="txt-wrap">
                <div class="txt"><strong>{{=deal.sellerName}}</strong> just closed the deal {{?deal.buyerName}}with <strong>{{=deal.buyerName}}</strong>{{?}} in {{=deal.locality}}</div>
                <div class="subtxt hide">{{=deal.date}}</div>
            </div>
            <div class="score-wrap">
                <div class="rating">
                    <div class="rating-badge high">{{=deal.rating}}</div>
                </div>
            </div>
        </div>
    </div>
    {{~}}
</div>