<tr data-id="{{=it.response.localityId}}">
    <td class="lname" data-type="nav-link" data-locality-id="{{=it.responselocalityId}}" data-name="{{=it.response.label}}"><span class="removeit" data-id="{{=it.response.localityId}}" data-type="remove"><i class="icon-close"></i></span><h3><a class="link" href="{{=it.response.overviewUrl}}"> {{=it.response.label}}</a></h3></td>
    {{? it.config.category=='buy'}}
    <td class="avgprice">{{?it.response.minPriceUnitArea_Buy}}<span class="rupee currency"></span> {{=it.response.minPriceUnitArea_Buy}}{{?it.response.minPriceUnitArea_Buy!==it.response.maxPriceUnitArea_Buy}} - {{=it.response.maxPriceUnitArea_Buy}}{{?}}{{??}}-{{?}}</td>
    {{??}}
    <td class="avgprice"><span class="rupee currency"></span> {{=it.response.minPrice_Rent}}{{? it.response.minPrice_Rent !== it.response.maxPrice_Rent}} - {{=it.response.maxPrice_Rent}}{{?}}</td>
    {{?}}
    
    <td class="growth {{?it.response.avgPriceRisePercentage>0}}up{{??}}down{{?}}">{{? it.response.avgPriceRisePercentage}}<span class="val">{{=it.response.avgPriceRisePercentage}}</span> <i class="icon-back-arrow"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>{{??}}<span class="val">-</span>{{?}}</td>
    <td class="locserplink" data-type="nav-link" data-locality-id="{{=it.response.localityId}}" data-name="view {{? it.config.category=='buy'}}{{=it.response.listingCount_Buy}}{{??}}{{=it.response.listingCount_Rent}}{{?}} properties"><a class="link" href="{{? it.config.category=='buy'}}{{=it.response.buyUrl}}{{??}}{{=it.response.rentUrl}}{{?}}">view {{? it.config.category=='buy'}}{{=it.response.listingCount_Buy}}{{??}}{{=it.response.listingCount_Rent}}{{?}} properties</a></td>
</tr>

