<tr data-id="{{=it.response.localityId}}">
    {{ var displayAttrs = (it.response.parsedAggrigations && it.response.parsedAggrigations.buy && it.response.parsedAggrigations.buy[it.config.unitType] && it.response.parsedAggrigations.buy[it.config.unitType].displayAttrs) || {}; }}
    <td class="ta-l link-td-txt" data-search-element>
        <span class="removeit" data-id="{{=it.response.localityId}}" data-type="remove">
            <i class="icon-close"></i>
        </span>
        <h3>
            <a class="link-block" href="{{= it.response.buyTrendUrl || it.response.overviewUrl}}">{{=it.response.label}}</a>
        </h3>
    </td>

    <td class="ta-r">
        {{ if(displayAttrs.minPricePerUnitArea && displayAttrs.minPricePerUnitArea !== displayAttrs.maxPricePerUnitArea){ }}
        <span class="currency"></span> {{=it.formatPrice(displayAttrs.minPricePerUnitArea)}} - {{=it.formatPrice(displayAttrs.maxPricePerUnitArea)}} / sqft
        {{ } else if(displayAttrs.minPricePerUnitArea && displayAttrs.minPricePerUnitArea == displayAttrs.maxPricePerUnitArea){ }}
        <span class="currency"></span> {{=it.formatPrice(displayAttrs.minPricePerUnitArea)}} / sqft
        {{ }else{ }}
            -
        {{ } }}
    </td>

    <td class="ta-r">
        
        {{  var avg;
            if(displayAttrs.count && displayAttrs.weigthedAvgPricePerUnitArea) {
                avg = it.formatPrice(displayAttrs.weigthedAvgPricePerUnitArea/displayAttrs.count) +' / sqft';
            }
        }}
        {{ if(avg){ }}
            <span class="currency"></span> {{=avg}} 
        {{ }else{ }}
            -
        {{ } }}
    </td>
    <td class="growth {{ if(it.response['avgPriceRisePercentage'+it.config.unitType] > 0) { }} rise {{ }else{ }} fall {{ } }} ta-c">
	    	{{ if(it.response['avgPriceRisePercentage'+it.config.unitType]) { }}
                <span class="val">
    	    		{{=it.response['avgPriceRisePercentage'+it.config.unitType]}} %
                </span>
	    		<i class="icon-back-arrow"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
	    	{{ }else{ }}
	    		-
	    	{{ } }}
    </td>

    <td class="link-td ta-c" data-id="{{=it.response.localityId}}" data-unitType="{{=it.config.unitType}}" data-type="open_locality_trend" data-graph-data>see trend</td>

    <td class="link-td ta-c {{ if(!displayAttrs.count){ }} disabled {{ } }}" data-type="navigate_serp" data-url="{{ if(displayAttrs.count){ }}{{=displayAttrs.redirectUri}}{{ } }}">
        {{ if(displayAttrs.count){ }}
        View {{=displayAttrs.count}} properties
        {{ }else{ }}
            View properties

        {{ } }}
    </td>
</tr>