<tr data-id="{{=it.response.localityId}}">
    {{ var rent = (it.response.parsedAggrigations && it.response.parsedAggrigations.rent && it.response.parsedAggrigations.rent) || {}; }}
    <td class="ta-l link-td-txt" data-search-element>
        <span class="removeit" data-id="{{=it.response.localityId}}" data-type="remove">
            <i class="icon-close"></i>
        </span>
        <h3>
            <a class="link-block" href="{{= it.response.rentTrendUrl || it.response.overviewUrl}}">{{=it.response.label}}</a>
        </h3>
    </td>
    {{ for(var i=1; i<4; i++) { }}
        <td class="caps ta-c link-td-txt" data-type="navigate_serp" data-url="{{ if(rent[i] && rent[i].redirectUri){ }}{{=rent[i].redirectUri}}{{ } }}">
            {{ if(rent[i]) { }}
                {{ if(rent[i].minPrice !== rent[i].maxPrice){ }}
                    <span class="currency"></span> {{=rent[i].minPrice}} - {{=rent[i].maxPrice}}
                {{ } else{ }}
                    <span class="currency"></span> {{=rent[i].maxPrice}}
                {{ } }}
            {{ } else{ }}
                -
            {{ } }}
        </td>
        <td class="caps ta-c">
            <span class="currency"></span> 
            {{  var avg = '-';
                if(rent[i].count && rent[i].weigthedAvgPrice) {
                    avg = it.formatPrice(rent[i].weigthedAvgPrice/rent[i].count);
                }
            }}
            {{=avg}}
        </td>
    {{ } }}
</tr>
