<tr data-id="{{=it.response.projectId}}">
    {{ var minPrice = (it.response && it.response.priceRange && it.response.priceRange.minPricePerUnitArea) || {},
        maxPrice = (it.response && it.response.priceRange && it.response.priceRange.maxPricePerUnitArea) || {},
        avgPrice = (it.response && it.response.medianPrice) || {};
    }}
    <td class="ta-l link-td-txt" data-search-element>
        <span class="removeit" data-id="{{=it.response.projectId}}" data-type="remove">
            <i class="icon-close"></i>
        </span>
        <h3>
            <a class="link-block" href="{{=it.response.overviewUrl}}">{{=it.response.name}}</a>
        </h3>
    </td>

    <td class="ta-r">
        <span class="currency"></span>
        {{ if(minPrice.val && maxPrice.val && minPrice.val !== minPrice.val){ }}
            {{=minPrice.val}}{{=minPrice.unit}} - {{=minPrice.val}}{{=minPrice.unit}} / sqft
        {{ } else if(minPrice.val && minPrice.val == minPrice.val){ }}
            {{=minPrice.val}}{{=minPrice.unit}} / sqft
        {{ } else{ }}
            -
        {{ } }}
    </td>

    <td class="ta-r caps">
        <span class="currency"></span> 
        {{=avgPrice}}
    </td>
    <td class="growth {{ if(it.response.avgPriceRisePercentage>0) { }} rise {{ } else { }} fall {{ } }} ta-c">
            {{ if(it.response.avgPriceRisePercentage) { }}
                <span class="val">
                     {{=it.response.avgPriceRisePercentage}} %
                </span>
                <i class="icon-back-arrow"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
            {{ }else{ }}
                -
            {{ } }}
    </td>

    <td class="link-td ta-c" data-id="{{=it.response.projectId}}" data-type="open_project_trend" data-graph-data>See trend</td>

    <td class="link-td ta-c {{ if(!it.response.propertyForSale){ }} disabled {{ } }}" data-type="navigate_serp" data-url="{{=it.response.buyUrl}}">
        {{ if(it.response.propertyForSale){ }}
            View {{=it.response.propertyForSale}} properties
        {{ }else{ }}
            View properties
        {{ } }}
    </td>
</tr>