{{?["CONNECT_NOW", "CALL_NOW", "VIEW_PHONE_MORPHED"].indexOf(it.stepName) > -1}}
	<div class="lf-content-box">
		<div data-module="form-elements"  data-name data-auto-focus>
		    <script type="text/x-config">
		        {
		            "type": "text",
		            "label": "Name",
		            "validationMessage": "Please enter valid name",
		            "valueSelector": "[data-value-selector]",
		            "valueAttribute": "data-value-selector",
		            "placeholder": "[data-placeholder]",
		            "defaultValue": "{{?it.default.name}}{{=it.default.name}}{{?}}"
		        }
		    </script>
		    <div data-placeholder></div>
		</div>

		<div data-module="form-elements"  data-phone>
		    <script type="text/x-config">
		        {
		            "type": "phone",
		            "label": "Mobile",
		            "valueSelector": "[data-value-selector]",
		            "validationMessage": "Please enter valid mobile",
		            "valueAttribute": "data-value-selector",
		            "placeholder": "[data-placeholder]",
		            "validationStategy": "phone",
		            "isAlwaysActive": true,
		            "validationStrategy": "numbers-only",
		            "defaultValue": "{{?it.default.phone}}{{=it.default.phone}}{{?}}"
		        }
		    </script>
		    <div data-placeholder></div>
		</div>

		<div data-module="form-elements"  data-email>
		    <script type="text/x-config">
		        {
		            "type": "email",
		            "label": "Email",
		            "validationMessage": "Please enter valid email",
		            "valueSelector": "[data-value-selector]",
		            "valueAttribute": "data-value-selector",
		            "placeholder": "[data-placeholder]",
		            "validationStrategy": "email",
		            "defaultValue": "{{?it.default.email}}{{=it.default.email}}{{?}}"
		        }
		    </script>
		    <div data-placeholder></div>
		</div>

		<div class="chkbox">
	        <input type="checkbox" name="checkbox" id="allowOther" data-type="optIn" data-opt-in {{?it.optInStatus}} checked {{?}}>
	        <label for="allowOther">
	            <span class="chk-radio-box"></span>
	            <span class="label-text">Allow other matching sellers to contact me.</span>
	        </label>
	        <span class="tooltip-wrap">
	            <a class="infoo" title="">?</a>
	            <span class="mp-tooltip top">
	                Makaan as a platform is focused on ensuring buyers are able to connect with the right sellers assisting them on their way to their dream home.<br><br>By selection this option, we will connect you with the right sellers basis your requirements using our real time tracking engine
	            </span>
	        </span>
	    </div>
    </div>
{{?? it.stepName == "VERIFY_OTP"}}
	<div class="lf-content-box">
		<div data-module="form-elements"  data-auto-focus>
	        <script type="text/x-config">
	            {
	                "type": "otp",
	                "label": "Enter OTP",
	                "valueSelector": "[data-value-selector]",
	                "valueAttribute": "data-value-selector",
	                "placeholder": "[data-placeholder]",
	                "isAlwaysActive": true,
	                "validationStrategy": "numbers-only"
	            }
	        </script>
	        <div data-placeholder></div>
	    </div>
	</div>
{{?? it.stepName == "SIMILAR_PROPERTIES"}}
	<div class="lf-content-box similar-pro">
		<ul class="similar-prop-list">
		    {{~it.stepData :value:index}}
		    <li class="clearfix">
		        <div class="img-wrap">
		            <img class="" alt="" src="{{=value.imageUrl}}" />
		        </div>
		        <div class="propdtls" data-similar-container>
		            <div class="price-wrap">
		                <i class="icon-rupee currency"></i>
		                <span class="val">{{=value.price && value.price.val}}</span>
		                <span class="unit">{{=value.price && value.price.unit}}</span>
		            </div>
		            <div class="prop-type">{{=value.unitName}} Apartment</div>
		            <div class="select-wrap">
		                <label for="select_{{=value.listingId}}" class="checkboxlbl">
		                    <input id="select_{{=value.listingId}}" type="checkbox" data-collection="{{=value.processed}}" name="" data-type="SIMILAR_CHECKBOX" checked>
		                    <span class="txt">&nbsp;</span>
		                </label>
		            </div>
		        </div>
		    </li>
		    {{~}}
		</ul>
	</div>
{{?? it.stepName == "CALL_STATUS"}}
	<div class="lf-content-box">
		<div class="call-status">
			<img src="images/calling-animation.gif" data-call-connected alt="Connecting...">
			<img class="hide" src="images/call-not-connected.jpg" data-call-disconnected alt="Not Connected">
		</div>
	</div>
{{?? it.stepName == "SIMILAR_SELLERS"}}
	<div class="lf-content-box">
		<ul class="other-agent-list">
		    {{~it.stepData :value:index}}
		    <li class="slr-info-card" data-similar-container>
		    	<div class="slr-sibox-wrap">
		    		{{? value.companyImage }}
		    			<div class="slr-img-box" style="background-image: url('{{=value.companyImage}}')"></div>
		    		{{?}} {{? !value.companyImage && value.companyAvatar }}
		    			<div class="slr-img-box" style="background-color: {{=value.companyAvatar.backgroundColor}}">
		    		    	<span class="initial" style="color:{{=value.companyAvatar.textColor}}">{{=value.companyAvatar.text}}</span>
		    			</div>
		    		{{?}}
		    	</div>
		    	<div class="slr-info">
		    		<div class="top-line">
		    			{{=value.companyName}} 
		    			{{? value.companyRating && value.companyType && value.companyType.toLowerCase() !== 'builder' && value.companyType.toLowerCase() !== 'owner' }}
		    				<div class="rating" data-module="sellerRating"  data-sellerrating="{{=value.companyRating || ''}}">
		    				</div>
		    			{{?}}
		    		</div>
		    		{{?value.sellerType}}<div class="mid-line"><span class="seller-type expert">{{=value.sellerType}}</span></div>{{?}}
		    	</div>
		    	<label for="select_{{=value.listingId}}" class="checkboxlbl">
		            <input id="select_{{=value.listingId}}" type="checkbox"  data-collection="{{=value.processed}}" name="" data-type="SIMILAR_SELLERS_CHECKBOX" checked>
		            <span class="txt"></span>
		        </label>
		    </li>
		    {{~}}
		</ul>
	</div>
{{?? it.stepName == "SITE_VISIT"}}
	{{~ it.stepData :value:index}}
		<div class="lf-content-box">
			<div class="select-box" data-site-visit>
			    <input type="radio" name="radio" data-id="{{=value.id}}" value="{{=value.masterCallRatingParamterType.id}}" id="site-visit-{{=value.id}}">
			    <label for="site-visit-{{=value.id}}">{{=value.label}}</label>
			</div>
		</div>
	{{~}}
{{?? it.stepName == "FEEDBACK"}}
	<div class="lf-content-box height-two">
		<ul class="rate-experience" data-feedback>
		    <li data-type="feedback-rating" data-rating="1">
		        <span class="number one">1</span>
		        <span class="label">Poor</span>
		    </li>
		    <li data-type="feedback-rating" data-rating="2">
		        <span class="number two">2</span>
		        <span class="label">Bad</span>
		    </li>
		    <li data-type="feedback-rating" data-rating="3">
		        <span class="number three">3</span>
		        <span class="label">Alright</span>
		    </li>
		    <li data-type="feedback-rating" data-rating="4">
		        <span class="number four">4</span>
		        <span class="label">Good</span>
		    </li>
		    <li data-type="feedback-rating" data-rating="5">
		        <span class="number five">5</span>
		        <span class="label">Excellent</span>
		    </li>
		</ul>
		<div class="hide" data-feedback-reasons>
			<h3 class="small-heading">What went wrong?</h3>
			<ul class="lf-feedback-reasons">
			{{~ it.stepData :value:index}}
				<li>
					<div class="chkbox">
					    <input type="radio" name="radio" value="{{=value.id}}" data-parameter-type="{{=value.masterCallRatingParamterType.id}}" id="feedback-{{=value.id}}">
					    <label for="feedback-{{=value.id}}"><span class="chk-radio-box"></span> <span class="label-text">{{=value.label}}</span></label>
					</div>
				</li>
			{{~}}
			</ul>
		</div>
	</div>
{{?}}
