{{? it.stepName == "FEEDBACK"}}
	<h4>You just spoke to</h4>
	<h3>{{=it.companyName}} <span>{{=it.cityName}}</span></h3>
{{??}}
	<div class="slr-info-card">
		<div class="slr-sibox-wrap">
			{{? it.companyImage }}
				<div class="slr-img-box" style="background-image: url('{{=it.companyImage}}')"></div>
			{{?}} {{? !it.companyImage && it.companyAvatar }}
				<div class="slr-img-box" style="background-color: {{=it.companyAvatar.backgroundColor}}">
			    	<span class="initial" style="color:{{=it.companyAvatar.textColor}}">{{=it.companyAvatar.text}}</span>
				</div>
			{{?}}
		</div>
		<div class="slr-info">
			<div class="top-line">
				<span>{{=it.companyName}}</span>
				{{? it.companyRating && it.companyType && it.companyType.toLowerCase() !== 'builder' && it.companyType.toLowerCase() !== 'owner' }}
					<div class="rating" data-module="sellerRating"  data-sellerrating="{{=it.companyRating || ''}}">
					</div>
				{{?}}
			</div>
			{{?it.sellerTypeLabel}}<div class="mid-line"><span class="seller-type expert">{{=it.sellerTypeLabel}}</span></div>{{?}}
			<div class="info-line">
				{{?it.obfuscatePhone}}
					{{?["VIEW_PHONE_MORPHED", "CALL_NOW"].indexOf(it.step) > -1 && it.stepName == "VERIFY_OTP"}}
						<div class="full-ph-no">
							<span>+91 {{=it.maskedPhone}}</span>
						</div>
					{{??}}
						+91 {{=it.maskedPhone}}
					{{?}}
				{{??}}
					<div class="full-ph-no">
						<span>+91 {{=it.companyPhone}}</span>
						<a class="hidden-lg hidden-md" href="tel:{{=it.companyPhone}}">Call</a>
					</div>
				{{?}}
			</div>
		</div>
	</div>
{{?}}