{{?it.stepName == "CONNECT_NOW"}}
	<span class="txtbtn" data-type="switch-step" data-step="VIEW_PHONE_MORPHED">View Phone</span>
	<span class="cbtn cbtn-p" data-lead-submit data-type="submit">Connect Now</span>
{{?? it.stepName == "VIEW_PHONE_MORPHED"}}
	<span class="txtbtn" data-type="switch-step" data-step="CONNECT_NOW">Connect Now</span>
	<span class="cbtn cbtn-p" data-lead-submit data-type="submit">View Phone</span>
{{?? it.stepName == "CALL_NOW"}}
		<span class="cbtn cbtn-p" data-lead-submit data-type="submit">Connect Now</span>
{{?? it.stepName == "VERIFY_OTP"}}
	<span class="txtbtn" data-type="back" data-back-button>Back</span>
	<span class="cbtn cbtn-p" data-type="submit">Verify</span>
{{?? it.stepName == "SIMILAR_PROPERTIES"}}
	{{? it.stepData && it.stepData.length}}
		<span class="txtbtn" data-type="submit" data-skip-step-promise="true">Skip</span>
		<span class="cbtn cbtn-p" data-type="submit">Share my number</span>
	{{??}}
		<span class="cbtn cbtn-p" data-skip-step-promise="true" data-type="submit">Continue</span>
	{{?}}
{{?? it.stepName == "CALL_STATUS"}}
	<span class="txtbtn hide" data-calling data-step="2" data-type="closePopup">Dismiss</span>
	<span class="cbtn cbtn-p hide" data-calling data-step="2" data-type="retry-call">Retry</span>
	<span class="cbtn cbtn-p" data-calling data-step="1" data-type="closePopup">Dismiss</span>
{{?? it.stepName == "SIMILAR_SELLERS"}}
	<span class="txtbtn" data-type="submit" data-skip-step-promise="true">No</span>
	<span class="cbtn cbtn-p" data-type="submit">Yes</span>
{{?? it.stepName == "SITE_VISIT"}}
	<span class="txtbtn" data-type="submit" data-skip-step-promise="true">No</span>
	<span class="cbtn cbtn-p" data-type="submit">Submit</span>
{{?? it.stepName == "FEEDBACK"}}
	<span class="cbtn cbtn-p" data-type="submit">Submit</span>
{{?? it.stepName == "THANK_YOU"}}
	<div class="text-center"><span class="cbtn cbtn-p" data-type="closePopup">Continue on makaan</span></div>
{{?}}