<div class="lf-thanks-box">
	<div class="lf-thanks-top-box"></div>
	<div class="lf-thanks-btm-box">
		<div class="thanks-img"><img src="images/un-versioned/lead-house.png" alt="Thanks You"></div>
		<div class="thanks-title-text">Thank You <span>for your getting in touch</span></div>
	</div>
</div>