<h4 class="h-main-text">
	{{?it.bhk}} {{=it.bhk}} BHK {{?}} {{=it.propertyTypeLabel}}
	{{?it.price}}
		<span>|</span>
		<label class="h-label"><span class="icon-rupee currency"></span>{{=it.price.val}} <span class="rs-unit">{{=it.price.unit}}</span></label>
	{{?}}
</h4>
<div class="h-sub-text">{{?it.fullName}}{{=it.fullName}}, {{?}}{{=it.cityName}}</div>
