<div class="lead-form">

    <span data-type="closePopup" class="lf-close-btn icon-close"></span>

    <!-- lead form head area -->
    <section class="lf-head" data-header-box>
        
    </section>

    <!-- any details area -->
    <section class="lf-detail-box" data-detail-box>
        
    </section>

    <!-- this is information line -->
    <section class="lf-info-line" data-info-line-box></section>

    <!-- main content area -->
    <section data-content-box>
    	
    </section>

     <!-- full container -->
    <section class="lf-full-box" data-full-box>
        
    </section>

    <span class="form-global-error hide" data-error-box></span>

    <!-- lead form footer/CTA container -->
    <section class="lf-footer" data-footer-box>
        
    </section>
    
</div>