
{{function getReviewBox(feedback){}}
<div class="review-box" data-type="list-element">
    <div class="reviewer-details">
        {{? feedback.profilePic}}
            <div class="buyer-img-wrap" style="background-image: url({{=feedback.profilePic}})"></div>
        {{??}}
            <div class="buyer-img-wrap"></div>
        {{?}}
        <div class="buyer-title">
            <span class="buyer-name">{{=feedback.buyerName}}</span>
            {{? feedback.city}}
               <span class="buyer-place">{{=feedback.city}}</span>
            {{?}}
            <span class="review-quality">{{?feedback.ratingCategory}}{{=feedback.ratingCategory}}{{?}}</span>
        </div>
    </div>
    <div class="review-text-wrap">
        <span class="review-txt">
            {{=feedback.comments}}{{?feedback.isTruncatedText}}...
            {{?}}
        </span>
    </div>
    <div class="like-wrap">
        <i class="icon-like-fill"></i> Helpful
    </div>
</div>
{{}}}


<!-- BUYER REVIEW EXPLANATION WRAPPER STARTS -->
{{?it.showHeadingWrap}}
    <div class="all-review-wraper">
        {{?!it.hideSellerHeader}}
            <div class="top-header {{?it.isDealMaker}} deal-maker {{?}}">
                <div class="seller-img" style="background-image: url({{=it.companyImage}}); background-color: {{=it.avatar.backgroundColor}};">
                    {{? !it.companyImage }}
                        <span class="initial" style="color:{{=it.avatar.textColor}};">{{=it.avatar.text}}</span>
                    {{?}}
                    <span class="highlighter-badge">
                        {{? it.isExpertDealMaker }}
                            <img src="images/rating-review/expert-badge.png" alt="Expert Deal Maker">
                        {{?? it.isDealMaker }}
                            <img src="images/rating-review/dealmaker-badge.png" alt="Deal Maker">
                        {{?}}
                    </span>
                </div>
                <div class="sd-box">
                    <div class="seller-name">{{=it.sellerName}}</div>
                    <div class="seller-type">
                       {{?it.isExpertDealMaker}} EXPERT DEAL MAKER . 
                       {{??it.isDealMaker}} DEAL MAKER .{{?}}
                        <span>{{=it.companyType}}</span>
                    </div>
                </div>
            </div>
        {{?}}
        <div class="review-content-wraper">
            <div class="total-review">{{=it.allReviewsCount}} REVIEW{{?it.allReviewsCount > 1}}S {{?}}</div>
            <p>{{?it.allReviewsCount > 1}}Reviews{{??}}Review{{?}} from buyers who have closed deals with the seller</p>
            <ul class="review-parm">
                {{?it.averageRatings.behavior}}
                    <li>
                        <div class="img-lbl-wrap">
                            <div class="quality-img"><img src="images/rating-review/behavior.png" alt=""></div>
                            <div class="quality-label">{{=it.averageRatings.behavior}}</div>
                        </div>
                        <div class="quality-text">Behavior</div>
                    </li>
                {{?}}
                {{?it.averageRatings.propertyOptions}}
                    <li>
                        <div class="img-lbl-wrap">
                            <div class="quality-img"><img src="images/rating-review/property-options.png" alt=""></div>
                            <div class="quality-label">{{=it.averageRatings.propertyOptions}}</div>
                        </div>
                        <div class="quality-text">Property Options</div>
                    </li>
                {{?}}
                {{?it.averageRatings.siteVisits}}
                    <li>
                        <div class="img-lbl-wrap">
                            <div class="quality-img"><img src="images/rating-review/site-visits.png" alt=""></div>
                            <div class="quality-label">{{=it.averageRatings.siteVisits}}</div>
                        </div>
                        <div class="quality-text">Site Visits &amp; Meetings</div>
                    </li>
                {{?}}
                {{?it.averageRatings.fieldKnowledge}}
                    <li>
                        <div class="img-lbl-wrap">
                            <div class="quality-img"><img src="images/rating-review/field-knowledge.png" alt=""></div>
                            <div class="quality-label">{{=it.averageRatings.fieldKnowledge}}</div>
                        </div>
                        <div class="quality-text">Field Knowledge</div>
                    </li>
                {{?}}
                {{?it.averageRatings.negotiationSkills}}
                    <li>
                        <div class="img-lbl-wrap">
                            <div class="quality-img"><img src="images/rating-review/negotiation-skills.png" alt=""></div>
                            <div class="quality-label">{{=it.averageRatings.negotiationSkills}}</div>
                        </div>
                        <div class="quality-text">Negotiation Skills</div>
                    </li>
                {{?}}
                {{?it.averageRatings.afterServices}}
                    <li>
                        <div class="img-lbl-wrap">
                            <div class="quality-img"><img src="images/rating-review/sales-service.png" alt=""></div>
                            <div class="quality-label">{{=it.averageRatings.afterServices}}</div>
                        </div>
                        <div class="quality-text">After Sales Services</div>
                    </li>
                {{?}}
            </ul>
        </div>
    </div>
{{?}}

{{?it.source && it.source=='miniProfile-card'}}
    {{~it.feedbacks :feedback:index}}
            {{ getReviewBox(feedback);}}
    {{~}}
{{??!it.showDetailedReviews}}
<div class="brw-container">
    <div class="slider-wrap" data-module="slider" data-window="slider-review-wrap">
            <script type="text/x-config">
                {"autoplay":{{=it.autoplay}}}
            </script>
        <div class="sudowrap" id="slider-review-wrap">
            <div class="breview-wrap" data-type="list-container">
                {{~it.feedbacks :feedback:index}}
                    {{ getReviewBox(feedback);}}
                {{~}}
            </div>
        </div>
        <div class="btn-prev js-prev disable" data-type="back-btn" style="opacity: 0;visibility: hidden;">
            <i class="icon-chevron-left"></i>
        </div>
        <div class="btn-next js-next" data-type="next-btn" style="opacity: 0;visibility: hidden;">
            <i class="icon-chevron-right"></i>
        </div>
        <div data-type="more">
            {{?it.allReviewsCount>1}}
                <span class="more-reviews">
                    {{=it.allReviewsCount-1}} more {{?it.allReviewsCount-1>1}}reviews{{??}}review{{?}}
                    <span class='see-all'>See All</span>
                </span>
            {{??!feedback.isTruncatedText}}
                <span class="more-reviews onlyone">
                    <span class='see-all'>Read More</span>
                </span>
            {{?}}
        </div>
    </div>
</div>
{{??}}
    <div class="brw-container">
        <div class="breview-wrap">
            {{~it.feedbacks :feedback:index}}
                {{ getReviewBox(feedback);}}
            {{~}}
        </div>
    </div>
{{?}}
<!-- BUYER REVIEW WRAPPER ENDS -->
