<div class="dual-c-wrap">
    <div class="dual-box">
        <div class="inputwrap">
            {{?it.isCurrency}}<span class="currency"></span>{{?}}
            <input type="text" placeholder="{{=it.min.label}}" value="{{?it.selectedValue}}{{=it.selectedValue.min.label}}{{?}}" data-value="{{?it.selectedValue}}{{=it.selectedValue.min.value}}{{?}}" data-name="{{=it.name}}" data-type="range-input-min"/>
        </div>
        <div class="linex"></div>
        <div class="inputwrap max">
            {{?it.isCurrency}}<span class="currency"></span>{{?}}
            <input type="text" placeholder="{{=it.max.label}}" value="{{?it.selectedValue}}{{=it.selectedValue.max.label}}{{?}}" data-value="{{?it.selectedValue}}{{=it.selectedValue.max.value}}{{?}}" data-name="{{=it.name}}" data-type="range-input-max" data-currency="{{=it.isCurrency}}" data-suffix="{{=it.optionSuffix || ''}}"/>
        </div>
    </div>
    <div class="option-wrap">
        <div class="optionbox min active" data-target="range-dropdown-options-wrapper-min">
            {{~it.min.options :option:index}}
            <div class="optionitem {{?it.selectedValue && it.selectedValue.min.value == option.value}}active{{?}}" data-type="range-dropdown-option-min" data-value="{{=option.value}}"  data-name="{{=it.name}}">{{?it.isCurrency}}<span class="currency"></span>{{?}} {{=option.label}} {{=it.optionSuffix || ''}}
            </div>
            {{~}}
        </div>
        <div class="optionbox max" data-target="range-dropdown-options-wrapper-max">
            {{~it.max.options :option:index}}
            <div class="optionitem {{?it.selectedValue && it.selectedValue.max.value == option.value}}active{{?}}" data-type="range-dropdown-option-max" data-value="{{=option.value}}" data-name="{{=it.name}}">{{?it.isCurrency}}<span class="currency"></span>{{?}} {{=option.label}} {{=it.optionSuffix || ''}}
            </div>
            {{~}}
        </div>
    </div>
</div>
