{{ var builders =  it.featuredEntity; }}
{{? builders && builders.length }}
    {{ var suffix =  builders.length == 1 ? "" : "s"; }}

    <div class="featured-developer-container h-section">
        <h2 class="title"><label>{{=it.title}} Developer{{=suffix}}</label> <span>in {{=it.label}} <span class="gif featured"></span></span></h2>
         {{? builders.length >= it.lengthForSlider && it.hasSlider}}
            <div class="slider-wrap clearfix"  data-module="slider"  data-window="f-developers-slider">
                <script type="text/x-config">{
                    "widthDivisionFactor":{{=it.widthDivisionFactor||1}}
                }
                </script>
                <div class="sudowrap" id="f-developers-slider">
                     <div class="developer-list" data-type="list-container">
        {{??}}
        <div class="slider-wrap clearfix"  data-window="f-developers-slider">
            <div class="sudowrap" id="f-projects-slider">
                 <div class="developer-list" data-type="list-container">
        {{?}}
            <!-- developer card starts here -->
                    {{~ builders :value:index}}
                    <div class="developer-card {{=it.className.cardClass}}" data-type="list-element"data-id="{{=value.id}}">
                        <a href="{{=value.builderPageUrl}}" target="_blank">
                            <div class="developer-summary-card">
                                {{? value.logo}}
                                    <div class="dsc-logo-wrap">
                                        <div class="dsc-logo" data-background-image={{=value.logo}}></div>
                                    </div>
                                {{?}}
                                <div class="dsc-content-wrap">
                                    <h4>{{=value.name}}</h4>
                                    {{? value.age}}
                                        <div class="developer-detais-card">
                                            <label>{{=value.age}}</label>
                                            <span>Experience</span>
                                        </div>
                                    {{?}}
                                    {{? value.projectsCount}}
                                        <div class="developer-detais-card">
                                            <label>{{=value.projectsCount}}</label>
                                            <span>Projects</span>
                                        </div>
                                    {{?}}
                                </div>
                                    <p>{{?value.description.smallDescription !='.'}}
                                        {{=value.description.smallDescription}} <span class="more-link">more</span>
                                    {{?}}</p>
                            </div>
                        </a>
                        <div id="builder-projectContainer-{{=value.id}}">
                            {{? value.projectTitles && value.projectTitles.length}}
                                <div class="sleek-tabs">
                                    <ul data-module ="tabs">
                                        {{~ value.projectTitles :projectTitle:projectNameindex}}
                                            <li data-type="tab" data-target-id ="project-{{=projectTitle.projectId}}" data-target-tab="#builder-projectContainer-{{=value.id}}" data-id ="{{=projectTitle.projectId}}" class="{{?projectNameindex==0}} selected {{?}}"><span class="triangle">{{=projectTitle.projectName}}</span></li>
                                        {{~}}
                                    </ul>
                                </div>
                            {{?}}
                            {{? value.projects && value.projects.length}}
                                {{~ value.projects :builderProject:projectIndex}}
                                    <div class="developer-project-card js-tabs-pane {{?projectIndex!=0}} hidden {{?}}" id="project-{{=builderProject.projectId}}" data-parent="#builder-projectContainer-{{=value.id}}" data-type="builder-project" data-id="{{=builderProject.projectId}}">
                                        <a href="{{=builderProject.overviewUrl}}" target="_blank" >
                                            <div class="tob-card">
                                                <img data-src="{{=builderProject.backgroundImage}}" alt="{{=builderProject.altText}}" src="/images/dummyPX.png">
                                                <div class="tob-text-content">
                                                    <div class="tob-title">{{=builderProject.projectFullName}}</div>
                                                    <div class="tob-subtitle">{{=builderProject.localityName}}, {{=builderProject.cityName}}</div>
                                                    {{? builderProject.price && builderProject.price.min && builderProject.price.max }}
                                                        <div class="tob-btm-lbl">₹ {{=builderProject.price.min}} - {{=builderProject.price.max}}</div>
                                                        {{?}}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {{~}}
                            {{?}}
                        </div>
                    </div>
                    {{~}}
                    <!-- developer card ends here -->
                    {{? builders.length < it.lengthForFallBack && !it.isMobile }}
                    <!-- developer card fallback starts here -->
                    <div class="developer-card fallback-card {{=it.className.cardClass}}" data-type="list-element">
                        <a href="{{=it.exploreMoreUrl}}" target="_blank">
                            <div class="fallback-img-wrap"></div>
                            <div class="fallback-content">
                                <h4>More Projects</h4> <p>You can explore an extensive collection of popular projects{{?it.label}} in {{=it.label}}{{?}}.</p> 
                                <span class="txtbtn">Explore Now</span>
                            </div>
                        </a>
                    </div>
                    {{?}}
                    <!-- developer card fallback ends here -->
                </div>
            </div>
            {{? builders.length >= it.lengthForSlider && it.hasSlider}}
                <div class="btn-prev hide1024nbelow js-prev disable" data-type="back-btn"><i class="icon-chevron-left"></i></div>
                <div class="btn-next hide1024nbelow js-next disable" data-type="next-btn"><i class="icon-chevron-right"></i></div>
            {{?}}
        </div>
    </div>
{{?}}