{{ var projects =  it.featuredEntity; }}
{{? projects && projects.length }}
    {{ var projNoun =  projects.length == 1 ? "Project" : "Projects"; }}

    <div class="pp-card-wrap max1140 clearfix" >
        <h3 class="title"><label> {{=it.title}} {{=projNoun}}</label> <span class="txt">in {{=it.label}} <span class="gif featured"></span></span></h3>
        {{? projects.length >3}}
            <div class ='left-block-container'>
                <ul class="pp-list clearfix" data-type="list-container">
                    {{~ projects :value:index}}
                    {{? index==0}}
                        <li class="pp-card large-card {{=it.className.cardClass}}" data-type="list-element" data-id="{{=value.projectId}}">
                            <a href="{{=value.overviewUrl}}" target="_blank">
                                <div class="pp-img-wrap">
                                    <img data-src="{{=value.backgroundImage}}" alt="{{=value.altText}}" src="/images/dummyPX.png">
                                    {{?value.builderLogo}}
                                    <div class="sp-logo" data-background-image={{=value.builderLogo}}></div>
                                    {{?}}
                                    <div class="view-pp-layer">
                                        <span class="cbtn cbtn-p">View Project</span>
                                    </div>
                                </div>
                                <div class="pp-content-wrap">
                                    <div class="pp-na-wrap">
                                        <div class="pp-name">{{=value.projectFullName}}</div>
                                        <div class="pp-address">{{=value.localityName}}</div>
                                    </div>
                                    <div class="pp-tp-wrap">
                                        <div class="pp-type">
                                            {{?value.bedrooms}}{{=value.bedrooms}}{{?}} {{?value.propertyTypes}}{{=value.propertyTypes}}{{?}}
                                        </div>
                                        {{? value.price && value.price.min && value.price.max }}
                                            <div class="pp-price">₹ {{=value.price.min}} - {{=value.price.max}}</div>
                                        {{?}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {{?}}
                    {{~}}
                </ul>
            </div>
            <div class ='right-block-container'>
                <ul class="pp-list clearfix" data-type="list-container">
                    {{~ projects :value:index}}
                    {{? index > 0 && index < 5}}
                        <li class="pp-card small-card {{=it.className.cardClass}}" data-type="list-element" data-id="{{=value.projectId}}">
                            <a href="{{=value.overviewUrl}}" target="_blank">
                                <div class="pp-img-wrap">
                                    <img data-src="{{=value.backgroundImage}}" alt="{{=value.altText}}" src="/images/dummyPX.png">
                                    {{?value.builderLogo}}
                                    <div class="sp-logo" data-background-image={{=value.builderLogo}}></div>
                                    {{?}}
                                    <div class="view-pp-layer">
                                        <span class="cbtn cbtn-p">View Project</span>
                                    </div>
                                </div>
                                <div class="pp-content-wrap">
                                    <div class="pp-na-wrap">
                                        <div class="pp-name">{{=value.projectFullName}}</div>
                                        <div class="pp-address">{{=value.localityName}}</div>
                                    </div>
                                    <div class="pp-tp-wrap">
                                        <div class="pp-type">
                                            {{?value.bedrooms}}{{=value.bedrooms}}{{?}} {{?value.propertyTypes}}{{=value.propertyTypes}}{{?}}
                                        </div>
                                        {{? value.price && value.price.min && value.price.max }}
                                            <div class="pp-price">₹ {{=value.price.min}} - {{=value.price.max}}</div>
                                        {{?}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {{?}}
                    {{~}}
                    {{? projects.length < 5 && !it.isMobile && it.exploreMoreUrl}}
                        <li class="pp-card info-placeholder small-card" data-type="list-element">
                            <a href="{{=it.exploreMoreUrl}}" target="_blank">
                                <div class="ip-img-wrap"></div>
                                <div class="info-content">
                                    <h4>More Projects</h4>
                                    <p>You can explore an extensive collection of popular projects  {{?it.label}} in {{=it.label}}{{?}}.</p>
                                    <span class="txtbtn">Explore Now</span>
                                </div>
                            </a>
                        </li>
                    {{?}}
                </ul>
            </div>
        {{??}}
            <ul class="pp-list clearfix" data-type="list-container">
                {{~ projects :value:index}}
                    <li class="pp-card {{=it.className.cardClass}}" data-type="list-element" data-id="{{=value.projectId}}">
                        <a href="{{=value.overviewUrl}}" target="_blank">
                            <div class="pp-img-wrap">
                                <img data-src="{{=value.backgroundImage}}" alt="{{=value.altText}}" src="/images/dummyPX.png">
                                {{?value.builderLogo}}
                                <div class="sp-logo" data-background-image={{=value.builderLogo}}></div>
                                {{?}}
                                <div class="view-pp-layer">
                                    <span class="cbtn cbtn-p">View Project</span>
                                </div>
                            </div>
                            <div class="pp-content-wrap">
                                <div class="pp-na-wrap">
                                    <div class="pp-name">{{=value.projectFullName}}</div>
                                    <div class="pp-address">{{=value.localityName}}</div>
                                </div>
                                <div class="pp-tp-wrap">
                                    <div class="pp-type">
                                        {{?value.bedrooms}}{{=value.bedrooms}}{{?}} {{?value.propertyTypes}}{{=value.propertyTypes}}{{?}}
                                    </div>
                                    {{? value.price && value.price.min && value.price.max }}
                                        <div class="pp-price">₹ {{=value.price.min}} - {{=value.price.max}}</div>
                                    {{?}}
                                </div>
                            </div>
                        </a>
                    </li>
                {{~}}
                {{? projects.length < 3 && !it.isMobile && it.exploreMoreUrl}}
                    <li class="pp-card info-placeholder" data-type="list-element">
                        <a href="{{=it.exploreMoreUrl}}" target="_blank">
                            <div class="ip-img-wrap"></div>
                            <div class="info-content">
                                <h4>More Projects</h4>
                                <p>You can explore an extensive collection of popular projects  {{?it.label}} in {{=it.label}}{{?}}.</p>
                                <span class="txtbtn">Explore Now</span>
                            </div>
                        </a>
                    </li>
                {{?}}
            </ul>
        {{?}}
    </div>
{{?}}
