{{ var projects =  it.featuredEntity; }}
{{? projects && projects.length }}
    {{ var projNoun =  projects.length == 1 ? "Project" : "Projects"; }}

    <div class="pp-card-wrap {{=it.className.parentClass}} max1140 clearfix" >
        <h3 class="title"><label> {{=it.title}} {{=projNoun}}</label>{{?it.label}} <span class="txt">in {{=it.label}} <span class="gif featured"></span></span>{{?}}</h3>

        {{? projects.length >= it.lengthForSlider && it.hasSlider}}
        <div class="slider-wrap clearfix"  data-module="slider"  data-window="f-projects-slider">
            <script type="text/x-config">{
                "widthDivisionFactor":{{=it.widthDivisionFactor||1}}
            }
            </script>
            <div class="sudowrap" id="f-projects-slider">
                <ul class="pp-list" data-type="list-container">
        {{??}}
        <div class="slider-wrap clearfix"  data-window="f-projects-slider">
            <div class="sudowrap" id="f-projects-slider">
                <ul class="pp-list clearfix" data-type="list-container">
        {{?}}
                {{~ projects :value:index}}
                    <li class="pp-card {{=it.className.cardClass}}" data-type="list-element" data-id="{{=value.projectId}}">
                        <a href="{{=value.overviewUrl}}" target="_blank">
                            {{?it.applyFeaturedTag}}
                            <span class = 'featured-tag'> Featured </span>
                            {{?}}
                            <div class="pp-img-wrap">
                                <img data-src="{{=value.backgroundImage}}" alt="{{=value.altText}}" src="/images/dummyPX.png">
                                {{?value.builderLogo}}
                                <div class="sp-logo" data-background-image={{=value.builderLogo}}></div>
                                {{?}}
                                <div class="view-pp-layer">
                                    <span class="cbtn cbtn-p">View Project</span>
                                </div>
                            </div>
                            <div class="pp-content-wrap">
                                <div class="pp-na-wrap">
                                    <div class="pp-name">{{=value.projectFullName}}</div>
                                    <div class="pp-address">{{=value.localityName}}</div>
                                </div>
                                <div class="pp-tp-wrap">
                                    <div class="pp-type">
                                        {{?value.bedrooms}}{{=value.bedrooms}}{{?}} {{?value.propertyTypes}}{{=value.propertyTypes}}{{?}}
                                    </div>
                                    {{? value.price && value.price.min && value.price.max }}
                                        <div class="pp-price">₹ {{=value.price.min}} - {{=value.price.max}}</div>
                                    {{?}}
                                </div>
                            </div>
                        </a>
                    </li>
                {{~}}
                    {{? projects.length < it.lengthForFallBack && !it.isMobile && it.exploreMoreUrl || ((it.productType=='trendingProjects' || it.productType=='miniBillboardProjects') && (projects.length)%2!=0)}}
                    <li class="pp-card info-placeholder {{=it.className.cardClass}}" data-type="list-element">
                        <a href="{{=it.exploreMoreUrl}}" target="_blank">
                            <div class="ip-img-wrap"></div>
                            <div class="info-content">
                                <h4>More Projects</h4>
                                <p>You can explore an extensive collection of popular projects  {{?it.label}} in {{=it.label}}{{?}}.</p>
                                <span class="txtbtn">Explore Now</span>
                            </div>
                        </a>
                    </li>
                    {{?}}
                </ul>
            </div>
            {{? projects.length >= it.lengthForSlider && it.hasSlider}}
            <div class="btn-prev hide1024nbelow js-prev disable" data-type="back-btn"><i class="icon-chevron-left"></i></div>
            <div class="btn-next hide1024nbelow js-next disable" data-type="next-btn"><i class="icon-chevron-right"></i></div>
            {{?}}
        </div>
    </div>
{{?}}