{{ var builders =  it.featuredEntity; }}
{{? builders && builders.length }}
    {{~ builders :value:index}}
    <div class="nas-wrapper">
        <a href="{{=value.builderPageUrl}}" target="_blank">
            <div class="top-developer-ad-banner {{=it.className.cardClass}}" data-type="list-element" data-id="{{=value.id}}">
                <div class="tdab-content-wrap">
                    <span class="td-badge">Top Developer</span>

                    <div class="developer-summary-card">
                        {{? value.logo}}
                            <div class="dsc-logo-wrap">
                                <div class="dsc-logo" data-background-image={{=value.logo}}></div>
                            </div>
                        {{?}}
                        <div class="dsc-content-wrap">
                            <h4>{{=value.name}}</h4>
                            {{? value.yearEstablished}}
                                <div class="developer-detais-card">
                                    <label>{{=value.yearEstablished}}</label>
                                    <span>Year estd.</span>
                                </div>
                            {{?}}
                            {{? value.projectsCount}}
                                <div class="developer-detais-card">
                                    <label>{{=value.projectsCount}}</label>
                                    <span>Projects</span>
                                </div>
                            {{?}}
                        </div>
                        <p>{{=value.description.smallDescription}}</p>
                    </div>
                    <span class="cbtn">View All Properties</span>
                </div>
                {{?value.projects[0].backgroundImage}}
                    <div class="tdab-img-wrap">
                        <img data-src="{{=value.projects[0].backgroundImage}}" alt="{{=value.projects[0].altText}}" src="/images/dummyPX.png"/>
                    </div>
                {{?}}
            </div>
        </a>
    </div>
    {{~}}
{{?}}