<div class="mod-content popup-content">
    <div class="basic-hdr">Stay informed about latest properties</div>
    <div class="basic-desc">
        <div class="maindesc">
            <div>
                <img alt="" src="/images/svg/property-type.svg" width="65px" />
            </div>
            <p>Get new properties matching your requirements directly in your inbox</p>
        </div>
       <div class="field-wrap">
            <span data-message="message" class="errmsg"></span>
        </div>  
    </div>
</div>
