<div class="mod-content popup-content">
    <div class="basic-hdr">Stay informed about latest properties</div>
    <div class="basic-desc">
        <div class="maindesc">
            <div>
                <img alt="" src="/images/svg/property-type.svg" width="65px" />
            </div>
            <p>Get new properties matching your requirements directly in your inbox</p>
        </div>
        <div class="field-wrap">
            <div data-module="InputBox"  id="savesearch_name">
                <script type="text/x-config">
                    {"label":"name your search", "inputName":"name", "required":true, "value":"{{= it.name}}"}
                </script>
                <div class="js-input-placeholder"></div>
            </div>
            <span data-message-name="message" class="errmsg"></span>
            <div data-module="InputBox"  id="savesearch_email">
                <script type="text/x-config">
                    {"label":"email", "inputName":"name", "required":true, "value":"{{= it.userEmail}}"}
                </script>
                <div class="js-input-placeholder"></div>
            </div>
            <span data-message-email="message" class="errmsg"></span>
            <span data-message="message" class="errmsg"></span>
        </div>
        <div data-module="InputBox"  id="savesearch_email">
            <script type="text/x-config">
                {"label":"email", "inputName":"name", "required":true, "value":"{{= it.name}}"}
            </script>
            <div class="js-input-placeholder"></div>
        </div>
        <span data-message-email="message" class="errmsg"></span>
        <span data-message="message" class="errmsg"></span>
    </div>
    <div class="basic-btn-wrap">
        <a class="alink cbtn cbtn-p" data-type="{{=it.setAlertButton}}">Save</a>
    </div>
</div>
