<ul>
    {{~it.data :value:index}}
    <li>
        <a class="card-link no-ajaxy" href="{{=value.overviewUrl}}">
            <img class="card-image" src="{{=value.imgUrl}}" title="{{=value.imgTitle}}" />
            <div class="card-detail">
                <div class="card-name text-ellipse">
                    {{=value.name}}
                </div>
                <div class="card-sub">
                    Starting from
                    <span class="rupee-icon"><span class="currency"></span></span>
                    <span class="price">{{=value.startingPrice}} </span>
                </div>
                <div class="card-text text-ellipse">
                    {{=value.address}}
                </div>
                <div class="card-btn">
                    View project
                </div>
            </div>
        </a>
    </li>
    {{~}}
</ul>
<div class="js-error hide">
    Error in fetching project details.
</div>
