// THIS FILE IS IN DEVELOPMENT PHASE . PLEASE DO READ IT BEFORE USE THROUGHLY. BASICALLY USING THIS FILE TO USE GRADIENT .
// AUTHOR : AKASH
.gradient{
    background: rgba(28,28,28,0.75);/* Old Browsers */
    background: -moz-linear-gradient(top, rgba(28,28,28,0.75) 0%, 
                    rgba(89,89,89,0.75) 0%, 
                    rgba(93,93,93,0.75) 8%, 
                    rgba(94,94,94,0.76) 9%, 
                    rgba(100,100,100,0.95) 19%, 
                    rgba(102,102,102,0.94) 22%, 
                    rgba(94,94,94,0.91) 35%, 
                    rgba(83,83,83,0.87) 51%, 
                    rgba(71,71,71,0.84) 69%, 
                    rgba(43,43,43,0.82) 76%, 
                    rgba(25,25,25,0.81) 83%, 
                    rgba(0,0,0,0.81) 93%, 
                    rgba(76,76,76,0.81) 95%, 
                    rgba(215,215,215,0.81) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,28,28,0.75)), 
                    color-stop(0%, rgba(89,89,89,0.75)), 
                    color-stop(8%, rgba(93,93,93,0.75)), 
                    color-stop(9%, rgba(94,94,94,0.76)), 
                    color-stop(19%, rgba(100,100,100,0.95)), 
                    color-stop(22%, rgba(102,102,102,0.94)), 
                    color-stop(35%, rgba(94,94,94,0.91)), 
                    color-stop(51%, rgba(83,83,83,0.87)), 
                    color-stop(69%, rgba(71,71,71,0.84)), 
                    color-stop(76%, rgba(43,43,43,0.82)), 
                    color-stop(83%, rgba(25,25,25,0.81)), 
                    color-stop(93%, rgba(0,0,0,0.81)), 
                    color-stop(95%, rgba(76,76,76,0.81)), 
                    color-stop(100%, rgba(215,215,215,0.81)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, rgba(28,28,28,0.75) 0%, 
                    rgba(89,89,89,0.75) 0%, 
                    rgba(93,93,93,0.75) 8%, 
                    rgba(94,94,94,0.76) 9%, 
                    rgba(100,100,100,0.95) 19%, 
                    rgba(102,102,102,0.94) 22%, 
                    rgba(94,94,94,0.91) 35%, 
                    rgba(83,83,83,0.87) 51%, 
                    rgba(71,71,71,0.84) 69%, 
                    rgba(43,43,43,0.82) 76%, 
                    rgba(25,25,25,0.81) 83%, 
                    rgba(0,0,0,0.81) 93%, 
                    rgba(76,76,76,0.81) 95%, 
                    rgba(215,215,215,0.81) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(28,28,28,0.75) 0%, 
                    rgba(89,89,89,0.75) 0%, 
                    rgba(93,93,93,0.75) 8%, 
                    rgba(94,94,94,0.76) 9%, 
                    rgba(100,100,100,0.95) 19%, 
                    rgba(102,102,102,0.94) 22%, 
                    rgba(94,94,94,0.91) 35%, 
                    rgba(83,83,83,0.87) 51%, 
                    rgba(71,71,71,0.84) 69%, 
                    rgba(43,43,43,0.82) 76%, 
                    rgba(25,25,25,0.81) 83%, 
                    rgba(0,0,0,0.81) 93%, 
                    rgba(76,76,76,0.81) 95%, 
                    rgba(215,215,215,0.81) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(28,28,28,0.75) 0%, 
                    rgba(89,89,89,0.75) 0%, rgba(93,93,93,0.75) 8%, 
                    rgba(94,94,94,0.76) 9%, rgba(100,100,100,0.95) 19%, 
                    rgba(102,102,102,0.94) 22%, rgba(94,94,94,0.91) 35%, 
                    rgba(83,83,83,0.87) 51%, rgba(71,71,71,0.84) 69%, 
                    rgba(43,43,43,0.82) 76%, rgba(25,25,25,0.81) 83%, 
                    rgba(0,0,0,0.81) 93%, rgba(76,76,76,0.81) 95%, 
                    rgba(215,215,215,0.81) 100%); /* IE 10+ */
    background: linear-gradient(to bottom, rgba(28,28,28,0.75) 0%, 
                    rgba(89,89,89,0.75) 0%, rgba(93,93,93,0.75) 8%, 
                    rgba(94,94,94,0.76) 9%, rgba(100,100,100,0.95) 19%, 
                    rgba(102,102,102,0.94) 22%, rgba(94,94,94,0.91) 35%, 
                    rgba(83,83,83,0.87) 51%, rgba(71,71,71,0.84) 69%, 
                    rgba(43,43,43,0.82) 76%, rgba(25,25,25,0.81) 83%, 
                    rgba(0,0,0,0.81) 93%, rgba(76,76,76,0.81) 95%, 
                    rgba(215,215,215,0.81) 100%);/* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#d7d7d7', GradientType=0 );/* IE6-9 */
}




.gradient-other{
       // // needs latest Compass, add '@import "compass"' to your scss
       //              background-color: rgba(28,28,28,0.75);/* Old Browsers */
       //              background: @include filter-gradient(#1c1c1c, #191919, vertical);// IE6-9 fallback on horizontal gradient
       //              // IE9 SVG, needs conditional override of 'filter' to 'none'
       //              $experimental-support-for-svg: true;
       //              background: @include background-image(linear-gradient(top, rgba(28,28,28,0.75) 0%, 
       //                  rgba(89,89,89,0.75) 0%, 
       //                  rgba(93,93,93,0.75) 8%, 
       //                  rgba(94,94,94,0.76) 9%, 
       //                  rgba(100,100,100,0.95) 19%, 
       //                  rgba(102,102,102,0.94) 22%, 
       //                  rgba(94,94,94,0.91) 35%, 
       //                  rgba(83,83,83,0.87) 51%, 
       //                  rgba(71,71,71,0.84) 69%, 
       //                  rgba(43,43,43,0.82) 76%, 
       //                  rgba(25,25,25,0.81) 83%, 
       //                  rgba(0,0,0,0.81) 93%, 
       //                  rgba(76,76,76,0.81) 95%, 
       //                  rgba(215,215,215,0.81) 100%));
}
