{{?it.title}}<h3>{{=it.title}}</h3>{{?}}
<ul data-type="list-container">
	{{~ it.indexes :value}}
		<li data-type="list-element">
			{{? it.groupType == "deal-maker"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/mobile-dm-samples/mobile-dm-sample1.jpg">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/mobile-dm-samples/mobile-dm-sample2.jpg">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/mobile-dm-samples/mobile-dm-sample3.jpg">
				{{?}}
			{{?? it.groupType == "expert-deal-maker"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/mobile-edm-samples/mobile-edm-sample1.jpg">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/mobile-edm-samples/mobile-edm-sample2.jpg">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/mobile-edm-samples/mobile-edm-sample3.jpg">
				{{?? value == "4"}}
					<img src="/images/seller-benefits/mobile-edm-samples/mobile-edm-sample4.jpg">
				{{?? value == "5"}}
					<img src="/images/seller-benefits/mobile-edm-samples/mobile-edm-sample5.jpg">
				{{?? value == "6"}}
					<img src="/images/seller-benefits/mobile-edm-samples/mobile-edm-sample6.jpg">
				{{?}}
			{{?? it.groupType == "city-expert"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/mobile-ce-samples/mobile-ce-sample1.jpg">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/mobile-ce-samples/mobile-ce-sample2.jpg">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/mobile-ce-samples/mobile-ce-sample3.jpg">
				{{?? value == "4"}}
					<img src="/images/seller-benefits/mobile-ce-samples/mobile-ce-sample4.jpg">
				{{?? value == "5"}}
					<img src="/images/seller-benefits/mobile-ce-samples/mobile-ce-sample5.jpg">
				{{?? value == "6"}}
					<img src="/images/seller-benefits/mobile-ce-samples/mobile-ce-sample6.jpg">
				{{?}}
			{{?? it.groupType == "locality-expert"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/mobile-le-samples/mobile-le-sample1.jpg">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/mobile-le-samples/mobile-le-sample2.jpg">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/mobile-le-samples/mobile-le-sample3.jpg">
				{{?}}
			{{?? it.groupType == "featured-projects"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/mobile-fp-samples/mobile-fp-sample1.jpg">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/mobile-fp-samples/mobile-fp-sample2.jpg">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/mobile-fp-samples/mobile-fp-sample3.jpg">
				{{?? value == "4"}}
					<img src="/images/seller-benefits/mobile-fp-samples/mobile-fp-sample4.jpg">
				{{?}}
			{{?}}
		</li>
	{{~}}
</ul>