{{?it.title}}<h3>{{=it.title}}</h3>{{?}}
{{?it.indexes.length > 1}}
<div data-module="slider"  data-window="popup-slider" class="slider-wraper">
	<div id="popup-slider" class="sudowrap">
{{?}}
<ul data-type="list-container">
	{{~ it.indexes :value}}
		<li data-type="list-element">
			{{? it.groupType == "deal-maker"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/dm-samples/dm-sample1.png">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/dm-samples/dm-sample2.png">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/dm-samples/dm-sample3.png">
				{{?}}
			{{?? it.groupType == "expert-deal-maker"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/edm-samples/edm-sample1.png">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/edm-samples/edm-sample2.png">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/edm-samples/edm-sample3.png">
				{{?? value == "4"}}
					<img src="/images/seller-benefits/edm-samples/edm-sample4.png">
				{{?? value == "5"}}
					<img src="/images/seller-benefits/edm-samples/edm-sample5.png">
				{{?? value == "6"}}
					<img src="/images/seller-benefits/edm-samples/edm-sample6.png">
				{{?}}
			{{?? it.groupType == "city-expert"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/ce-samples/ce-sample1.png">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/ce-samples/ce-sample2.png">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/ce-samples/ce-sample3.png">
				{{?? value == "4"}}
					<img src="/images/seller-benefits/ce-samples/ce-sample4.png">
				{{?? value == "5"}}
					<img src="/images/seller-benefits/ce-samples/ce-sample5.png">
				{{?? value == "6"}}
					<img src="/images/seller-benefits/ce-samples/ce-sample6.png">
				{{?}}
			{{?? it.groupType == "locality-expert"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/le-samples/le-sample1.png">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/le-samples/le-sample2.png">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/le-samples/le-sample3.png">
				{{?}}
			{{?? it.groupType == "featured-projects"}}
				{{? value == "1"}}
					<img src="/images/seller-benefits/fp-samples/fp-sample1.png">
				{{?? value == "2"}}
					<img src="/images/seller-benefits/fp-samples/fp-sample2.png">
				{{?? value == "3"}}
					<img src="/images/seller-benefits/fp-samples/fp-sample3.png">
				{{?? value == "4"}}
					<img src="/images/seller-benefits/fp-samples/fp-sample4.png">
				{{?}}
			{{?}}
		</li>
	{{~}}
</ul>
{{?it.indexes.length > 1}}
	</div>
	<div class="btn-prev hide1024nbelow js-prev" data-type="back-btn">
        <i class="icon-chevron-left"></i>
    </div>
    <div class="btn-next hide1024nbelow js-next" data-type="next-btn">
        <i class="icon-chevron-right"></i>
    </div>
</div>
{{?}}