<div class="seller-scores-wrap">
    <div class="score-data">
        <div class="rating" data-type='sellerScoreCountMainProfile'>
            <div class="rating-badge {{=it.scoreClass}} score-count">{{? it.companyRating }}{{=it.companyRating}}{{??}} - {{?}}</div>
        </div>
        {{? it.companyRating }}
            <div class="score-info-txt" data-type='sellerScoreMainProfile'>Seller Score out of 5
                {{?!it.isSellerProfile}}
                    <span data-type="show-score-tip">i</span>
                {{?}}
                {{?it.isSellerProfile}}
                    <div class="mp-tooltip bot center">
                        <p>Seller Score is performance based score given to each seller on makaan based on following Criteria</p>
                    </div>
                {{?}}
            </div>
        {{??}}
          <div class="score-info-txt">Seller not rated yet</div>
        {{?}}
    </div>
    {{?!it.isSellerProfile}}
    <p class="hide js-score-tooltip">Seller Score is performance based score given to each seller on makaan based on following criteria</p>
    {{?}}
</div>
<!-- dummy loader loader -->
<div data-score-loader class="score-indicator-wrap loader-box">
    <div class="si-row">
        <div class="score-label fade-out">Deals Closed</div>
        <div class="scores">
            <span class="no-score">--</span>
        </div>
    </div>
    <div class="si-row">
        <div class="score-label fade-out">Customer's Feedback</div>
        <div class="scores">
            <span class="no-score">--</span>
        </div>
    </div>
    <div class="si-row">
        <div class="score-label fade-out">Response</div>
        <div class="scores">
            <span class="no-score">--</span>
        </div>
    </div>
    <div class="si-row">
        <div class="score-label fade-out">Property Options</div>
        <div class="scores">
            <span class="no-score">--</span>
        </div>
    </div>
</div>
<div data-breakup-container></div>
