<div class="score-indicator-wrap {{?it.isSellerProfile}} agent-score {{?}}">
    {{~ it.scoreDetails :value:index}}
        <div class="si-row">
            <div class="score-label {{? value.value < 1}}fade-out{{?}}">{{=value.typeLabel}}</div>
            <div class="scores">
                {{? value.value != -1}}
                <div class="sb-wraper s-{{=value.value}}">
                    <span class="score-box"></span>
                    <span class="score-box"></span>
                    <span class="score-box"></span>
                    <span class="score-box"></span>
                    <span class="score-box"></span>
                </div>
                {{??}}
                    <span class="no-score">--</span>
                {{?}}
            </div>
        </div>
    {{~}}
</div>
