{{~it.data :option:index}}
<div data-goto="{{=option.id}}" data-type="{{=it.scrollType}}" data-track-label="{{=option.text}}" class="navitem {{? option.hide}}hidden{{?}}">
    <span class="triangle">{{=option.text}}<span>
</div>
{{~}}