{{##def.icons:
    {{? option.id =='price-trends'}}
        <span class="fixscrollsprite pricetrend">
        </span>
    {{?? option.id =='overview-section'}}
        <span class="fixscrollsprite overview">
        </span>
    {{?? option.id =='projects'}}
        <span class="fixscrollsprite project">
        </span>
	{{?? option.id =='sellers'}}
	    <span class="fixscrollsprite seller">
        </span>
	{{?? option.id =='lifestyle-section'}}
	    <span class="fixscrollsprite lifestyle">
        </span>
	{{?? option.id =='map-section'}}
	    <span class="fixscrollsprite map">
        </span>
    {{?? option.id =='locality-comparison'}}
        <span class="fixscrollsprite compare">
        </span>
    {{?}}
#}}

{{~it.data :option:index}}
    <li class="{{? option.hide}}hidden{{?}}" tooltip="{{=option.text}}" data-goto="{{=option.id}}" data-type="navigate">
        {{#def.icons}}
        <div class="ttip"><span class="txt">{{=option.text}}</span></div>
    </li>
{{~}}
