<div class="pnbtn prvbtn" data-type="prev-project">
    {{? it.prevProject}}
    <a href="{{=it.prevProject.url}}" title="{{=it.prevProject.projectName}}" class="pnlink">
        <span class="arrow-col">
            <i class="icon-chevron-left"></i>
        </span>
        <span class="icol">
            {{? it.prevProject.image}}
            <img alt="" data-src="{{=it.prevProject.image}}" />
            {{??}}
            <img alt="" data-src="https://content.makaan.com/16/7518647/274/8154802.jpeg?width=70&height=50" />
            {{?}}
        </span>
        <span class="tcol">
                <span class="ttl">PREVIOUS PROJECT</span>
                {{? it.prevProject}}
                <span class="pname">{{=it.prevProject.projectName}}</span>
                {{?}}
        </span>
    </a>
    {{?}}
</div>
<div class="pnbtn nxtbtn" data-type="next-project">
    {{? it.nextProject}}
    <a href="{{=it.nextProject.url}}" title="{{=it.nextProject.projectName}}" class="pnlink">
        <span class="arrow-col">
            <i class="icon-chevron-right"></i>
        </span>
        <span class="icol">
            {{? it.nextProject.image}}
            <img alt="" data-src="{{=it.nextProject.image}}" />
            {{??}}
            <img alt="" data-src="https://content.makaan.com/16/7518647/274/8154802.jpeg?width=70&height=50" />
            {{?}}
        </span>
        <span class="tcol">
            <span class="ttl">NEXT PROJECT</span>
            <span class="pname">{{=it.nextProject.name}}</span>
        </span>
    </a>
    {{?}}
</div>
<div class="lead-generation-wrap">
    <div class="clearfix">
        <div class="desc-wrap">
            <div class="ttl">Connect with top sellers</div>
            <span class="pname">{{=it.projectName}}</span>
        </div>
        <div class="sllr-pic-wrap">
            {{? it.topAgents[0] && it.topAgents[0].isFeaturedSeller}}
                {{~it.topAgents :value:index}}
                {{? index < 5}}
                    <div class="sibox-wrap">
                        {{?value.companyImage}}
                            <div class="seller-img-box" data-background-image="{{=value.companyImage}}">hello</div>
                        {{??}}
                            <div class="seller-img-box"></div>
                        {{?}}
                    </div>
                {{?}}
                {{~}}
            {{?}}
        </div>
        <div class="btn-wrap">
            <a class="cbtn cbtn-p" data-type="connect-now">Connect Now</a>
        </div>
    </div>
</div>