{{ 
    var defaultImage = "https://im.proptiger-ws.com/1/644687/6/jaypee-greens-naturvue-apartments-elevation-405429.jpeg",
    res = it.response;
}}
<div class="buyer-db-wrap articles">
    {{ if(!it.articlesLength){ }}
        <div class="propCard">
            <div class="bot-wrap">
                <div class="article-txt-info no-found-wrap">
                    Oops!!!
                    <br> No article found...
                </div>
            </div>
        </div>
    {{ } else { }}
        <div class="heading {{=res.heading ? '': 'hidden'}}">
            <h2>{{=res.heading && res.heading.bold ? res.heading.bold : ''}}</h2>
        </div>
        <div class="sub-heading {{=res.heading ? '': 'hidden'}}">
            {{=res.heading && res.heading.small ? res.heading.small : ''}}
        </div>
        <div class="bot-heading">
            <span>{{=res.subHeading || ''}}</span>
        </div>
        {{ for(var i = 0, j = 0, k = 0, len = it.articlesLength + it.serviceCardLength, articles = res.articles; i<len; i++){ }}
            {{ if(([2,4].indexOf(i%5) > -1) && (j<it.serviceCardLength)){ }}
                <div class="propCard">
                    {{= it.serviceCard({getServiceIcon: it.getServiceIcon, service: res.serviceCards[j]}) }}
                </div>
            {{ j++; } else if(k<it.articlesLength){ }}
                <div class="propCard">
                    <a href={{=articles[k].url}} data-type="track-article" data-track-label="{{=articles[k].url}}" target="_blank">
                        <div class="imgwrap">
                            <img data-src={{=articles[k].image ? articles[k].image : defaultImage }}>
                        </div>
                        <div class="bot-wrap">
                            <div class="article-txt-info">
                                {{= articles[k].postTitle }}
                            </div>
                        </div>
                    </a>
                </div>
            {{ k++; } }}
        {{ } }}
    {{ } }}
</div>
