{{
    var urlParam = it.query,
        currentStage = it.currentStage ? it.currentStage : 0,
        res = it.response,
        defaultImage = "../../../images/img-dumy-2.jpg",
        baseUrl = "/my-journey";
}}

{{ function withoutSellerCards(dataArray){ }}
    {{ for(var i=0, j=0, k=0, len=dataArray.length + it.serviceCardLength; i<len; i++){ }}
        {{ if((j<it.serviceCardLength) && (i%2)){ }}
            <li>
                {{= it.serviceCard({getServiceIcon: it.getServiceIcon, service: it.response.serviceCards[j]}) }}
            </li>
        {{ j++; } else if(k<dataArray.length) { if(!dataArray[k]) { k++; continue; } }}
            <li data-project="{{= dataArray[k].projectId}}" data-listing="{{=dataArray[k].listingId || ''}}">
                <div class="propCard">
                    {{ if(urlParam === "favourites"){ }}
                        <span class="clse" data-type="delete-favourite-confirm" data-track-label="{{= (dataArray[k].listingId ? 'Listing_' + dataArray[k].listingId : 'Project_' + dataArray[k].projectId) + '_Delete'}}" data-card-type="{{=dataArray[k].type}}" data-listing="{{=dataArray[k].listingId || ''}}" data-project="{{=dataArray[k].projectId || ''}}"><i class="icon-close"></i></span>
                    {{ } }}
                    <a href="{{=dataArray[k].url}}" data-type="shortlist-anchor" data-track-action="{{='Click_Shortlist_' + urlParam + '_Card'}}" data-track-label="{{= dataArray[k].type + '_' + (dataArray[k].type === 'listing' ? dataArray[k].listingId : dataArray[k].projectId) + '_Detail Page'}}">
                    <div class="imgwrap">
                        {{ if(dataArray[k].mainImageUrl){ }}
                            <img data-src={{=dataArray[k].mainImageUrl}}>
                        {{ }else{ }}
                            <img data-src={{=dataArray[k].imageUrl ? dataArray[k].imageUrl : defaultImage}}>
                        {{ } }}
                        <div class="propInfo">
                            <div class="price" if="similar.price">
                                {{ if(parseInt(dataArray[k].listingPrice)){ }}
                                    <i class="icon-rupee"></i><span class="val">{{= dataArray[k].listingPrice}}</span>
                                {{ } else if(parseInt(dataArray[k].minPrice) && parseInt(dataArray[k].maxPrice)){ }}
                                    <i class="icon-rupee"></i><span class="val">{{= dataArray[k].minPrice}} - {{= dataArray[k].maxPrice}}</span>
                                {{ } }}
                            </div>
                            <div class="typeWrap">
                                    {{ if(dataArray[k].projectStatus!=='dummy' && dataArray[k].builder && dataArray[k].name){ }}
                                        <span class="type">{{= dataArray[k].builder}} {{= dataArray[k].name}}</span>
                                    {{ } else if(dataArray[k].bedrooms && dataArray[k].unitType){ }}
                                        <span class="type">{{= dataArray[k].bedrooms}}BHK {{= dataArray[k].unitType}}</span>
                                    {{ } }}
                            </div>
                            <div class="locWrap">
                                <span class="projName">{{= dataArray[k].locality ? dataArray[k].locality+"," : "" }} </span>
                                <span class="locName">{{= dataArray[k].city ? dataArray[k].city : "" }}</span>
                            </div>
                        </div>
                    </div>
                    </a>
                    <div class="other-details"
                        data-type="openLeadForm"
                        data-track-action="{{= 'CLICK_Shortlist_' + (urlParam==='favourites' ? 'Favourites':'Recent') + '_Card'}}"
                        data-track-label="{{= (dataArray[k].listingId ? 'Listing_' + dataArray[k].listingId : 'Project_' + dataArray[k].projectId) + '_Get Call Back'}}"
                        data-user-id="{{=dataArray[k].userId || ''}}"
                        data-suburb-id='{{=dataArray[k].suburbId || ""}}'
                        data-unit-type='{{=dataArray[k].unitType || ""}}'
                        data-city-id="{{=dataArray[k].cityId || ''}}"
                        data-project-name="{{=dataArray[k].projectName || ''}}"
                        data-project-status="{{=dataArray[k].projectStatus || ''}}"
                        data-listing-id="{{=dataArray[k].listingId || ''}}"
                        data-project-id="{{=dataArray[k].projectId || ''}}"
                        data-budget='{{=dataArray[k].budget || ""}}'
                        data-bhk='{{=dataArray[k].bedrooms || ""}}'
                        data-builder-id='{{=dataArray[k].builderId || ""}}'
                        data-locality-id='{{=dataArray[k].localityId || ""}}'
                        data-seller-id="{{=dataArray[k].sellerId || ''}}"
                        data-seller-name="{{=dataArray[k].sellerName || ''}}"
                        data-seller-image="{{=dataArray[k].sellerImage || ''}}"
                        data-seller-type="{{=dataArray[k].sellerType || ''}}"
                        data-seller-phone="{{=dataArray[k].sellerContactNumber || ''}}"
                        data-seller-rating="{{=dataArray[k].sellerRating || ''}}"
                        data-image-url='{{=dataArray[k].imageUrl || ""}}'
                        data-unit-type-id='{{=dataArray[k].unitTypeId || ""}}'
                        data-min-price='{{=dataArray[k].minPriceRaw || ""}}'
                        data-max-price='{{=dataArray[k].maxPriceRaw || ""}}'
                    >
                        <div class="txtbtn">Get callback</div>
                    </div>
                </div>
            </li>
        {{ k++; } }}
    {{ } }}
{{ } }}

<div class="d-dashboard-wrap">
    <div class="saved-search">
        <section class="shortlist">
            <div class="sub-tab clearfix">
                <ul class="clearfix">
                    <li class="{{= urlParam==='enquired'?'selected':''}} hidden">
                        <span data-type="enquired" data-track-label="Enquired">
                            <div class="content">
                                <span class="num">{{= res.enquired ? res.enquired : 0}}</span>
                                <span class="triangle">Enquired</span>
                            </div>
                        </span>
                    </li>
                    <li class={{= urlParam==="favourites"?"selected":"" }}>
                        <span data-type="favourites" data-track-label="Favourites">
                            <div class="content">
                                <span class="num" id="favouriteCount">{{= res.favourites ? res.favourites : 0}}</span>
                                <span class="triangle">Favourites</span>
                            </div>
                        </span>
                    </li>
                    <li class={{= urlParam==="recentlyviewed"?"selected":"" }}>
                        <span data-type="recent" data-track-label="Recent">
                            <div class="content">
                                <span class="num">{{= res.recent ? res.recent : 0 }}</span>
                                <span class="triangle">Recent</span>
                            </div>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="serppropcard">
                <ul class="clearfix">
                    {{ if(res.cards && res.cards.length){ }}
                        {{ withoutSellerCards(res.cards); }}
                    {{ } else { }}
                        <div class="propCard">
                            <div class="bot-wrap">
                                <div class="article-txt-info no-found-wrap">
                                    {{ if(urlParam === 'favourites'){ }}
                                        <div class="heading"><h2>Find properties marked favourite here</h2></div>
                                        <div class="sub-heading">Click on the <span class="icon icon-makaan"></span> to shortlist</div>
                                    {{ }else{ }}
                                         <div class="heading"><h2>Find properties recently viewed here</h2></div>
                                        <div class="sub-heading">Recently viewed properties will show here</div>
                                    {{ } }}
                                </div>
                            </div>
                        </div>
                    {{ } }}
                </ul>
            </div>
        </section>
    </div>
</div>


