{{
    var baseUrl = "/my-journey",
        currentStage = it.currentStage ? it.currentStage : 0,
        urlParam = it.query,
        cards = it.response,
        localityMap = it.localityMap,
        defaultImage = "https://im.proptiger-ws.com/1/644687/6/jaypee-greens-naturvue-apartments-elevation-405429.jpeg",
        length = cards.length;
}}

{{fillCards = function(dataArray) { }}
    {{ for(var i=0, j=0, k=0, len=dataArray.length + it.serviceCardLength; i<len; i++){ }}
        {{ if((j<it.serviceCardLength) && (i%2)){ }}
            <div class="propCard">
                {{= it.serviceCard({getServiceIcon: it.getServiceIcon, service: it.serviceCardsData[j]}) }}
            </div>
        {{ j++; } else if(k<dataArray.length) { }}
            <div class="propCard" data-search-card="{{= dataArray[k].id}}">
                <div class="imgwrap">
                    <!-- <a href="#"> -->
                    {{
                        var id = dataArray[k].urlObject.localityId;
                        if(id && localityMap[id] && localityMap[id].image){
                    }}
                        <img data-src={{= localityMap[id].image}}>
                    {{ }else{ }}
                        <img data-src={{= defaultImage}}>
                    {{ } }}
                    <!-- </a> -->
                    <!-- <span class="city">delhi</span> -->
                    <span class="clse" data-search-id="{{=dataArray[k].id}}" data-search-name="{{= dataArray[k].name}}" data-card-type="search" data-type="delete-search-confirm" data-url="{{=dataArray[k].url}}"><i class="icon-close"></i></span>
                </div>
                <div class="bot-wrap">
                    <div class="article-txt-info">
                        <div class="prop-info-wrap">
                            <div class="save-search-ellip">{{= dataArray[k].name}}</div>
                            <div class="bhk-info save-search-ellip">
                                {{
                                    var obj = dataArray[k].urlObject;
                                    if(obj.beds){
                                }}
                                    {{= obj.beds}} BHK
                                {{ } }}
                                {{ if(obj.beds && obj.budget){ }} | {{ } }}
                                {{
                                    if(obj.budget){
                                        var minPrice = obj.budgetMin.val ? obj.budgetMin.val + '<span style="text-transform: capitalize; display: inline;">'+obj.budgetMin.unit+'</span>' : '',
                                            maxPrice = obj.budgetMax.val ? obj.budgetMax.val + '<span style="text-transform: capitalize; display: inline;">'+obj.budgetMax.unit+'</span>' : '';
                                }}
                                    {{ if(minPrice && maxPrice){ }}
                                        {{=minPrice}} - {{=maxPrice}}
                                    {{ }else if(minPrice){ }}
                                        {{=minPrice}}  &amp; above
                                    {{ }else if(maxPrice){ }}
                                        upto {{=maxPrice}}
                                    {{ } }}
                                {{ } }}

                            </div>
                            {{ if(obj.localityId && obj.cityId){
                                var locality = localityMap[obj.localityId];
                            }}
                                <div class="city-info save-search-ellip">{{= locality.locality}}, {{= locality.city}}</div>
                            {{ } }}
                            <a href={{= dataArray[k].url }} data-type="trackSavedSearch" class="link">{{= dataArray[k].newMatches || '0'}} new <i class="icon-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {{ k++; } }}
    {{ } }}
{{ }; }}

<div class="d-dashboard-wrap">
    <div class="saved-search">
        <!-- if image given then show it else show default image -->
        <div class="buyer-db-wrap">
            <div class="sub-tab clearfix">
                <ul class="clearfix">
                    <li class="selected">
                        <div class="content">
                            <span class="num" id="totalCount">{{=length}}</span>
                            <span class="triangle">Saved searches</span>
                        </div>
                    </li>         
                </ul>
            </div>
            {{ fillCards(cards); }}
        </div>
    </div>
</div>



