{{ 
    var urlParam = it.query,
        currentStage = it.currentStage ? it.currentStage : 0,
        baseUrl = "/my-journey";
}}

<div class="new-d-timeline">
    <div class="switch-tabs-services {{=it.alliances === 'show' ? '' : 'hidden'}}">
        <ul>
            <li class="active"><span><a href="/my-journey/dashboard">My journey</a></span></li>
            <li><span><a href="/services/all">Partner services</a></span></li>
        </ul>
    </div>
    <ul>
        <li class={{= (urlParam === "savedsearches"?"active":"")+" "+(currentStage >= 0 ?"completed":"")}}>
            <a href={{=baseUrl+ "/savedsearches"}} data-type="anchor" data-track-action="CLICK_Savedsearches" title="saved searches">
                <span class="img-wrap">
                    <i class="icon-saved-search"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                </span>
                <span class="txt">Search</span>
                <span class="dot"></span>
            </a>
        </li>
        <li class={{= (urlParam === "favourites" || urlParam === "enquired" || urlParam === "recentlyviewed"?"active":"")+" "+(currentStage >= 1 ?"completed":"")}}>
            <a href={{=baseUrl+"/favourites"}} data-type="anchor" data-track-action="CLICK_Shortlist" title="shortlisted properties">
                <span class="img-wrap">
                    <i class="icon-shortlist"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                </span>
                <span class="txt">Shortlist</span>
                <span class="dot"></span>
            </a>
        </li>
        <li class={{= (urlParam === "sitevisits"?"active":"")+" "+(currentStage >= 2 ?"completed":"")}}>
            <a href={{=baseUrl+"/sitevisits"}} data-type="anchor" data-track-action="CLICK_SiteVisits" title="site visit">
                <span class="img-wrap">
                    <i class="icon-site-visit"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                </span>
                <span class="txt">Site visit</span>
                <span class="dot"></span>
            </a>
        </li>
        <li class={{= (urlParam === "homeloan"?"active":"")+" "+(currentStage >= 3 ?"completed":"")}}>
            <a href={{=baseUrl+"/homeloan"}} data-type="anchor" data-track-action="CLICK_Homeloan" title="homeloan">
                <span class="img-wrap">
                    <i class="icon-home-loan"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                </span>
                <span class="txt">Home loan</span>
                <span class="dot"></span>
            </a>
        </li>
        <li class={{= (urlParam === "unitbook"?"active":"")+" "+(currentStage >= 3 ?"completed":"")}}>
            <a href={{=baseUrl+"/unitbook"}} data-type="anchor" data-track-action="CLICK_Unitbook" title="unit booking">   
                <span class="img-wrap">
                    <i class="icon-unit-booking"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></i>
                </span>
                <span class="txt">Booking</span>
                <span class="dot"></span>
            </a>
        </li>
        <li class={{= (urlParam === "possession"?"active":"")+" "+(currentStage >= 4 ?"completed":"")}}>
            <a href={{=baseUrl+"/possession"}} data-type="anchor" data-track-action="CLICK_Possession" title="possesion">
                <span class="img-wrap">
                    <i class="icon-possession"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></i>
                </span>
                <span class="txt">Possession</span>
                <span class="dot"></span>
            </a>
        </li>
        <li class={{= (urlParam === "registration"?"active":"")+" "+(currentStage >= 5 ?"completed":"")}}>
            <a href={{=baseUrl+"/registration"}} data-type="anchor" data-track-action="CLICK_Registration" title="registration">
                <span class="img-wrap">
                    <i class="icon-registration"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                </span>
                <span class="txt">Registration</span>
                <span class="dot"></span>
            </a>
        </li>
    </ul>
</div>