{{ 
    var urlParam = it.query,
        currentStage = it.currentStage ? it.currentStage : 0,
        res = it.response,
        loggedIn = it.loggedIn,
        baseUrl = "/my-journey";
}}

{{function sellerCards(dataArray){ }}
    {{ for(var i=0, len=dataArray.length; i<len; i++){ }}
            <li>
                <div class="sitevisitcard" style='{{=dataArray[i].imageUrl ? "background:url("+dataArray[i].imageUrl+") center no-repeat; background-size: cover;" : ""}}'>
                    {{ if(dataArray[i].anchorCheck){ }}
                        <a href="{{=dataArray[i].url}}">
                    {{ } }}
                    <div class="propInfo">
                        <!-- <div class="close"><i class="icon-close"></i></div> -->
                        <div class="project-address">
                            {{ if(dataArray[i].listingName){ }}
                                <span class="type">{{= dataArray[i].listingName}}{{= dataArray[i].projectName ? ', ' + dataArray[i].projectName : ''}}</span>
                            {{ } else if(dataArray[i].projectName){ }}
                                <span class="type">{{= dataArray[i].projectName}}</span>
                            {{ } else if(dataArray[i].cityName){ }}
                                <span class="type">{{= dataArray[i].cityName}}</span>
                            {{ } }}
                            <div class="locWrap">
                                <span class="projName">{{= dataArray[i].locality ? dataArray[i].locality+"," : "" }} </span>
                                <span class="locName">{{= dataArray[i].city ? dataArray[i].city : "" }}</span>
                            </div>
                            <div class="img-details">
                                <div class="seller-img avatar" style="background-color:{{=dataArray[i].avatar.backgroundColor || ''}}; color:{{=dataArray[i].avatar.textColor || ''}};">
                                    {{ if(dataArray[i].sellerImage){ }}
                                        <img data-src={{=dataArray[i].sellerImage}} >
                                    {{ }else{ }}
                                        {{=dataArray[i].avatar.text}}
                                    {{ } }}
                                </div>
                                <div class="company-name">{{= dataArray[i].sellerName ? dataArray[i].sellerName : "" }}</div>
                            </div>
                        </div>
                    </div>
                    {{ if(dataArray[i].anchorCheck){ }}
                        </a>
                    {{ } }}
                    <div class="other-details"> 
                        <div data-module="dateTimePicker" data-track-action="CLICK_Shortlist_Enquired_Card" data-track-label="{{= (dataArray[i].listingId ? 'Listing_' + dataArray[i].listingId : 'Project_' + dataArray[i].projectId) + '_Site Visit'}}" class="txtbtn" data-type="request-site-visit" data-lead-id="{{=dataArray[i].leadId}}" data-seller-id="{{=dataArray[i].sellerId}}" data-seller-name="{{=dataArray[i].sellerName}}" data-seller-rating="{{=dataArray[i].sellerRating}}" data-listing-id="{{=dataArray[i].listingId}}" data-project-id="{{=dataArray[i].projectId}}" data-city-id="{{=dataArray[i].cityId}}">Request site visit</div> 
                    </div>
                    <div class="error-msg-enquiry hidden"> Your site visit is already booked </div>
                </div>
            </li>
    {{ } }}
{{ } }}

<div class="d-dashboard-wrap">
    <section class="shortlist">
        <div class="sub-tab clearfix">
            <ul class="clearfix">
                <li class={{= urlParam==="enquired"?"selected":"" }}>
                    <span>
                        <div class="content">
                            <span class="num">{{= res.enquired ? res.enquired : 0}}</span>
                            <span class="triangle">Enquired</span>
                        </div>
                    </span>
                </li>
                <li class={{= urlParam==="favourites"?"selected":"" }}>
                    <span data-type='favourites'>
                        <div class="content">
                            <span class="num">{{= res.favourites ? res.favourites : 0}}</span>
                            <span class="triangle">Favourites</span>
                        </div>
                    </span>
                </li>
                <li class={{= urlParam==="recentlyviewed"?"selected":"" }}>
                    <span data-type='recent'>
                        <div class="content">
                            <span class="num">{{= res.recent ? res.recent : 0 }}</span>
                            <span class="triangle">Recents</span>
                        </div>
                    </span>
                </li>
            </ul>
        </div>

        <div class="serppropcard">
            <ul class="clearfix">
                {{ if(res.cards && res.cards.length){ }}
                    {{ sellerCards(res.cards); }}
                {{ } else { }}
                    <div class="propCard">
                        <div class="bot-wrap">
                            <div class="article-txt-info no-found-wrap login-msg">
                            {{ if(loggedIn){ }}
                                Find properties enquired about here<br>
                                Contact sellers to enquire
                            {{ }else{ }}
                                <span class="login-txt">Login to see properties you've enquired about</span>
                                <div data-type="login-logout" class="cbtn cbtn-p login-button">{{=it.loggedIn ? "logout" : "login"}}</div>
                            {{ } }}
                            </div>
                        </div>
                    </div>
                {{ } }}
            </ul>
        </div>

    </section>
</div>

