{{
    var ud = it.userInfo,
        userImage = ud && ud.profileImage ? ud.profileImage : "",
        res = it.response,
        isLoggedIn = it.loggedIn,
        currentStage = res.currentStage ? res.currentStage : 0,
        baseUrl = "/my-journey";
}}

<div class="buyerdashboard-wrap">
    <div class="switch-tabs {{=it.alliances === 'show' ? '' : 'hidden'}}">
        <ul>
            <li class="active"><span>My journey</span></li>
            <li><a href="/services/all">Partner services</a></li>
        </ul>
    </div>
    <section class="dashboard-cover">
        <div class="clearfix">
            <div class="background-blur"></div>
            <div class="user-details clearfix">
                <div class="userimg">
                    {{ if(userImage){ }}
                        <img  alt="userImage" data-src={{= userImage }}>
                    {{ } }}
                </div>
                {{ if(!isLoggedIn){ }}
                    <div class="user-name">
                        <div class="heading"><h2>Personalized assistance</h2></div>
                        <div class="sub-heading">From start to finish</div>                    
                        <div data-type="login-logout" class="cbtn cbtn-p">login</div>
                    </div>
                {{ }else{ }}
                    <div class="user-name">{{= ud && ud.firstName?ud.firstName : '' }} {{= ud && ud.lastName ? ud.lastName : ''}}
                        <div data-type="login-logout" class="cbtn cbtn-p">Logout</div>
                    </div>
                {{ } }}
            </div>
        </div>
    </section>
    <section class="buyer-journey">
        <div class="clearfix journey-wrap">
            <div class="effective clearfix"> <span class="icon-makaanfill"></span>Let's go step by step</div>
            <ul class="clearfix journey-calender">
                <li>
                    <div class="dashed {{=currentStage === 0 ? '' : 'hidden'}}"></div>
                    <span class="arrow"><span class="icon-chevron-right hidden"></span> <span class="icon-tick {{=currentStage > 0? '' : 'hidden'}}"></span></span>
                    <div class="icon-wrap clearfix">
                        <i class="icon-saved-search"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                    </div> 
                    <a href={{=baseUrl+"/savedsearches"}} data-type="anchor" data-track-action="CLICK_Savedsearches" title="saved searches" >
                        <div><b>search</b></div>
                        <div class="support-text">
                            {{ if(res && res.savedSearches){ }} 
                                {{= res.savedSearches}} saved searches | {{=res.newMatches || '0'}} New matches
                            {{ }else{ }}
                                Find your saved searches here
                                <!-- fast &amp; easy search for 1 million+ options -->
                            {{ } }}
                        </div>
                    </a>
                </li>
                <li>
                    <div class="dashed {{=currentStage === 1 ? '' : 'hidden'}}"></div>
                    <span class="arrow"><span class="icon-chevron-right {{=currentStage < 1? '' : 'hidden'}}"></span><span class="icon-tick {{=currentStage > 1? '' : 'hidden'}}"></span></span>
                    <div class="icon-wrap clearfix">
                        <i class="icon-shortlist"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                    </div>
                    <a href={{=baseUrl+"/favourites"}} data-type="anchor" data-track-action="CLICK_Shortlist" title="shortlisted properties">
                        <div><b>Shortlist</b></div>
                        <div class="support-text">
                            {{ if(res && res.wishList){ }}
                                visit {{= res.wishList}} Shortlisted properties
                            {{ }else{ }}
                                View homes that have interested you
                                <!-- meet best sellers for your shortlist -->
                           {{ } }}
                        </div>                
                    </a>
                </li>
                <li>
                    <div class="dashed {{=currentStage === 2 ? '' : 'hidden'}}"></div>
                    <span class="arrow"><span class="icon-chevron-right {{=currentStage < 2? '' : 'hidden'}}"></span><span class="icon-tick {{=currentStage > 2? '' : 'hidden'}}"></span></span>
                    <div class="icon-wrap clearfix">
                        <i class="icon-site-visit"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                    </div>
                    <a href={{=baseUrl+"/sitevisits"}} data-type="anchor" data-track-action="CLICK_Sitevisits" title="site visit">
                        <div><b>Property visit</b></div>
                        <div class="support-text">
                            {{ if(res && res.siteVisits){ }} 
                                {{= res.siteVisits}} Upcoming site visits
                            {{ }else{ }}
                                Track upcoming visits here
                                <!-- easily validate seller claims -->
                            {{ } }}
                         </div>
                    </a>
                </li>
                <li>
                    <div class="dashed hidden"></div>
                    <span class="arrow"><span class="icon-chevron-right {{=currentStage < 3? '' : 'hidden'}}"></span><span class="icon-tick {{=currentStage >= 3? '' : 'hidden'}}"></span></span>
                    <div class="icon-wrap clearfix">
                        <i class="icon-home-loan"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                    </div>
                    <a href={{=baseUrl+"/homeloan"}} data-type="anchor" data-track-action="CLICK_Homeloan" title="homeloan">
                        <div><b>Home loan</b></div>
                        <div class="support-text"> Assess your personal finances</div>
                    </a>
                </li>
                <li>
                    <div class="dashed {{=currentStage === 3 ? '' : 'hidden'}}"></div>
                    <span class="arrow"><span class="icon-chevron-right  {{=currentStage < 3? '' : 'hidden'}}"></span><span class="icon-tick  {{=currentStage > 3? '' : 'hidden'}}"></span></span>
                    <div class="icon-wrap">
                        <i class="icon-unit-booking"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></i>
                    </div>
                    <a href={{=baseUrl+"/unitbook"}} data-type="anchor" data-track-action="CLICK_Unitbook" title="unit booking">
                        <div><b>Booking</b></div>
                        <div class="support-text">Close the deal with ease</div>
                    </a>
                </li>        
                <li>
                    <div class="dashed {{=currentStage === 4 ? '' : 'hidden'}}"></div>
                    <span class="arrow"><span class="icon-chevron-right  {{=currentStage < 4? '' : 'hidden'}}"></span><span class="icon-tick  {{=currentStage > 4? '' : 'hidden'}}"></span></span>
                    <div class="icon-wrap clearfix">
                        <i class="icon-possession"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></i>
                    </div>
                    <a href={{=baseUrl+"/possession"}} data-type="anchor" data-track-action="CLICK_Possession" title="possesion">
                        <div><b>Moving in</b></div>
                        <div class="support-text"> Prepare to enter your home</div>
                    </a>
                </li>
                <li>
                    <div class="dashed {{=currentStage === 5 ? '' : 'hidden'}}"></div>
                    <span class="arrow"><span class="icon-chevron-right  {{=currentStage < 5? '' : 'hidden'}}"></span><span class="icon-tick  {{=currentStage > 5? '' : 'hidden'}}"></span></span>
                    <div class="icon-wrap clearfix">
                        <i class="icon-registration"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                    </div>
                    <a href={{=baseUrl+"/registration"}} data-type="anchor" data-track-action="CLICK_Registration" title="registration">
                        <div><b>Registration</b></div>
                        <div class="support-text"> Make the home all yours</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>