<div class="card-wrap">
    <div class="flip-container js-flip-container">
        <div class="flipper">
            <div class="front">
                <div class="upper-wrap">
                    <h2 class="service-heading">{{=it.service.serviceTitle || ''}}</h2>
                    <div class="img-wrap">
                        {{=it.getServiceIcon(it.service.serviceId) || ''}}
                    </div>
                    <div class="inner-content">
                        <span>{{=it.service.serviceBestOffer || ''}}</span>
                    </div>
                </div>
                <div class="lower-wrap">
                    <span data-type="bookNow" data-link="/services/all?serviceId={{=it.service.serviceId}}" class="booknow">Book now</span>
                </div>
            </div>
        </div>
    </div>
</div>
