{{
    var cards = it.response;
}}

{{function fillCard(dataArray){ }}
    {{ for(var i=0, j=0, k=0, len=dataArray.length + it.serviceCardLength; i<len; i++){ }}
        {{ if((j<it.serviceCardLength) && (i%2)){ }}
            <li>
                {{= it.serviceCard({getServiceIcon: it.getServiceIcon, service: it.serviceCardsData[j]}) }}
            </li>
        {{ j++; } else if(k<dataArray.length) { }}
            <li>
                <div class="sitevisitcard" style='{{=dataArray[k].imageUrl ? "background:url("+dataArray[k].imageUrl+") center no-repeat; background-size: cover;" : ""}}'>
                    <div class="propInfo">
                        <!-- <div class="close"><i class="icon-close"></i></div> -->
                        <div class="project-address">
                            {{ if( dataArray[k].projectStatus && dataArray[k].projectStatus.toLowerCase() !== "dummy" && dataArray[k].builder && dataArray[k].name){ }}
                                <span class="type">{{= dataArray[k].builder}} {{= dataArray[k].name}}</span>
                            {{ } else if(dataArray[k].bedrooms && dataArray[k].unitType){ }}
                                <span class="type">{{= dataArray[k].bedrooms}}BHK {{= dataArray[k].unitType}}</span>
                            {{ } }}
                            <div class="locWrap">
                                <span class="projName">{{=dataArray[k].locality ? dataArray[k].locality+',' : ''}} </span>
                                <span class="locName">{{=dataArray[k].city || ''}}</span>
                            </div>
                            <div class="img-details">
                                <div class="seller-img avatar" style="background-color:{{=dataArray[k].avatar.backgroundColor || ''}}; color:{{=dataArray[k].avatar.textColor || ''}};">
                                    {{ if(dataArray[k].sellerImage){ }}
                                        <img data-src={{=dataArray[k].sellerImage}} >
                                    {{ }else{ }}
                                        {{=dataArray[k].avatar.text}}
                                    {{ } }}
                                </div>
                                <div class="company-name">{{= dataArray[k].sellerName ? dataArray[k].sellerName : defaultName }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="other-details"> 
                        <div class="data-time-wrap">
                            <div class="date"><i class="icon-calendar"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></i>{{=dataArray[k].performTime.date}}</div>
                            <div class="time"><i class="icon-alarm"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></i>{{=dataArray[k].performTime.time}}</div>
                        </div> 
                        <div class="direction-call-wrap">
                            {{ if(dataArray[k].mapUrl){ }}
                                <div class="direction"><a href={{= dataArray[k].mapUrl}} target="_blank" data-type="direction" data-track-action="CLICK_Site Visit_Direction" data-track-label="{{= (dataArray[k].listingId ? 'Listing_' + dataArray[k].listingId : 'Project_' + dataArray[k].projectId) + '_Direction'}}"><i class="icon-direction"></i> direction</a></div>
                            {{ } else { }}
                                <div class="direction disabled"><i class="icon-direction"></i> Direction</div>
                            {{ } }}
                            {{ if(parseInt(dataArray[k].sellerContactNumber)){ }}
                                <div class="call">
                                    <a href="tel:{{=parseInt(dataArray[k].sellerContactNumber)}}" data-type="call" data-track-action="CLICK_Site Visit_Call" data-track-label="{{= (dataArray[k].listingId ? 'Listing_' + dataArray[k].listingId : 'Project_' + dataArray[k].projectId) + '_Call'}}"><i class="icon-call"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i> Call</a></div>
                            {{ } else { }}
                                <div class="call disabled">
                                    <i class="icon-call"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i> Call</div>
                            {{ } }}
                        </div>
                    </div>
                </div>
            </li>
        {{ k++; } }}
        
    {{ } }}
{{ } }}

<section class="sitevisit">
    <!-- if image given then show it else show default image -->
    <div class="sub-tab clearfix">
        <ul class="clearfix">
            <li class="selected">
                <div class="content">
                    <span class="num">{{= cards && cards.length ? cards.length : 0}}</span>
                    <span class="triangle">Site Visits</span>
                </div>
            </li>          
        </ul>
    </div>

    <div class="visitecard-wrap">
        <ul class="clearfix">
            {{ if(cards && cards.length){ }}
                {{ fillCard(cards); }}
            {{ } else { }}
                <div class="propCard">
                    <div class="bot-wrap">
                        <div class="article-txt-info no-found-wrap">
                            Oops!!!<br>
                            No article found...
                        </div>
                    </div>
                </div>
            {{ } }}
        </ul>
    </div>

</section>