<div class="push-notification out-of-view hide" data-prompt data-serp-prompt>
<div class="logo search"></div>
	{{?it.project}}
		<div class="notif-text">
			<span>Hey! Welcome to Makaan.</span> Seems like you are looking for a home in <strong>{{=it.project}}, {{=it.locality}}, {{=it.city}}</strong>. Apply more filters for better results.
		</div>
		<div class="ta-c button-wrap btn-wrap-notification ">
	        <button type="button" class="cbtn cbtn-p" data-label="apply filter_new" data-type="submit">Apply filter</button>
	        <span class="link-text" data-label="dismiss_new" data-type="close">Dismiss</span>
	    </div>
	{{?? it.filters}}
		<div class="notif-text">
			<span>Hey!</span> Seems like you are looking to <strong>{{=it.listingType}} {{?it.filters.propertyType}}{{=it.filters.propertyType}}{{?}}</strong> in <strong>{{=it.city}} {{?it.filters.budget}}{{=it.filters.budget}}{{?}}</strong>. Would you like to continue or change your search?
		</div>
		<div class="ta-c button-wrap btn-wrap-notification ">
	        <button type="button" class="cbtn cbtn-p" data-label="refine_search_new" data-type="submit">Refine Search</button>
	        <span class="link-text" data-label="continue_search_new" data-type="close">Continue Search</span>
	    </div>
	{{??}}
		<div class="notif-text">
			<span>Hey, Welcome to Makaan.</span>
			You can now apply filters to get better search results.
		</div>
		<div class="ta-c button-wrap btn-wrap-notification ">
	        <button type="button" class="cbtn cbtn-p" data-label="apply filter_new" data-type="submit">Apply filter</button>
	        <span class="link-text" data-label="dismiss_new" data-type="close">Dismiss</span>
	    </div>
	{{?}}
</div>
