<div id="{{=it.id}}" class="sponsored-ads {{? it.isRHS && !it.isNonSeller}} sidebar-ad {{?}}" >
    <h3>{{=it.title||'Sponsored'}}</h3>
    {{~it.sponsoredAds :value:index}}
        <div class="sd-card-wrap banner-sd-card-wrap {{? it.isRHS }} sidebar-ad js-sponsored-ads-rhs {{??}} js-sponsored-ads {{?}}" data-project="{{=value.id}}">
            <a href="{{=value.redirectUrl}}" target="_blank" rel="nofollow" data-type="{{? it.isRHS }}rhs_sponsored_ad_clicked{{??}}sponsored_ad_clicked{{?}}" data-id= '{{=value.id}}'>
                <div class="sd-card onloadimage">
                    <div class="img-wrap banner-img-wrap">
                        <img src="{{=value.image}}" alt="{{=value.alt}}">
                    </div>
                </div>
            </a>
        </div>
    {{~}}
</div>
