<div id="{{=it.id}}" class="sponsored-ads {{? it.isRHS && !it.isNonSeller}} sidebar-ad {{?}}" >
    <h3>{{=it.title||'Sponsored'}}</h3>
    {{~it.sponsoredAds :value:index}}
        <div class="sd-card-wrap {{? it.isRHS }} sidebar-ad js-sponsored-ads-rhs {{??}} js-sponsored-ads {{?}}" data-project="{{=value.id}}">
            <a href="{{=value.redirectUrl}}" target="_blank" rel="nofollow" data-type="{{? it.isRHS }}rhs_sponsored_ad_clicked{{??}}sponsored_ad_clicked{{?}}" data-id= '{{=value.id}}'>
                <div class="sd-card onloadimage">
                    <div class="img-wrap">
                        <img src="{{=value.image}}" alt="{{=value.alt}}">
                    </div>
                    <div class="logo">
                        <img src="{{=value.logo}}" alt="{{=value.alt}}">
                    </div>
                    <div class="content-details">
                        {{? it.isRHS }}
                            <h3>{{=value.content.rhs.title}}</h3>
                            <p>{{=value.content.rhs.info}}</p>
                        {{??}}
                            <h3>{{=value.content.default.title}}</h3>
                            <p>{{=value.content.default.info}}</p>
                        {{?}}
                        <span class="cta-style">{{=value.cta}}</span>
                    </div>
                </div>
            </a>
        </div>
    {{~}}
</div>
