@import "../variables";
@import "../mixins/ellipsis";
@import "../components/form-elements";
@import "../components/typeahead";
@import "../components/buttons";
@import "../components/tooltip";
@import "../components/tabs";
@import "../components/rating";
@import "../components/favorite";
@import "../components/notifications";
@import "../components/homeLoan";
@import "../widgets/widget-buy-rent";
@import "components/header";
@import "components/pyr";
@import "components/makaanIqBlog";
@import "components/typeAhead";
@import "components/graph";
@import "components/card";
@import "components/cities";
@import "components/share";
@import "components/popularSearch";
//######################################
html {
    //height: 100%;
}

body {
    background-color: $body-bg-color;
    color: $body-color;
    width: $body-width;
    //height: 100%;
    padding-top: 1px;
    margin-top: -1px;
    font-family: $roboto;
    font-size: $body-font-size;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.openmenu {
        height: calc(100% - 4px);
    }
}
.overflowx-hidden{
    overflow-x: hidden;
}
.body-container {
    //height: 100%;
}

.body-content {
    margin-top: $hdrheight;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
    list-style: none;
}

// H tags basics
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}

// basic animations

/* SPIN ANIMATION CLASS STARTSS */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverse-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

// for clockwise rotation
.ispinner {
    display: inline-block;
    animation: spin 1000ms infinite linear;
}

// for anticlockwise rotation
.rispinner {
    display: inline-block;
    transform-origin: 50% 45% 0;
    animation: reverse-spin 1000ms infinite linear;
}


/* SPIN ANIMATION CLASS ENDSSS */


/* scale ANIMATION CLASS STARTSS */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulsate {
    animation: pulse 1s 1 linear;
}


/* SPIN ANIMATION CLASS ENDSSS */


/** Common Classes **/

.max980 {
    max-width: 980px;
    margin: 0 auto;
}

.max1140 {
    max-width: 1140px;
    margin: 0px auto;
}

.max1280 {
    max-width: 1280px;
    margin: 0px auto;
}

.ta-c,
.text-center {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

#content {
    position: relative;
    right: 0;
    width: 100%;
    margin-left: 0px;
    padding: 0px;
    -webkit-overflow-scrolling: touch;
    transition: all 0.15s ease-in-out;
    z-index: 2000;
    [data-role="page"] {
        position: relative;
        z-index: 0;
    }
}

.text-ellipse {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.no-padding {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.sent-case {
    text-transform: capitalize;
}

.sudotxt {
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.img-box {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
}

.img-box-circular {
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
}

.link-disabled {
    cursor: default !important;
    text-decoration: none !important;
    color: #ccc !important;
}

// breadcrumb css in the bottom of the page
.breadcrumb-wrap {
    //width: 100%;
    padding: 0px 20px 60px;
    line-height: 1;
    h4 {
        padding-bottom: 10px;
    }
    .bclink {
        display: inline-block;
        margin: 0 10px 10px 0;
        &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 0;
            margin: 6px 5px 0 0px;
            vertical-align: top;
            border-left: 4px solid #777;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
        }
        a.txt {
            border-bottom: dashed 1px $link-color;
            color: $body-color;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            cursor: pointer;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        a.grey-link {
            border: none;
            color: $lighter-color;
            cursor: default;
        }
    }
}

.download-app-ios {
    font-size: 20px;
    padding: 10px 5px;
    margin: 25% auto;
    text-align: center;
}

//updated date section
.updated-date {
    float: right;
    padding: 0px 20px 20px;
    font-size: 12px;
    color: #acacac;
    text-align: right;
}

.offline-toaster-popup {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: black;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 9999;
}

body.gallery-open {
    .body-container {
        position: relative;
        overflow: hidden;
        header {
            display: none;
        }
    }
}

config {
    display: none;
}

.alert-head {
    font-size: 16px;
    text-align: center;
    margin-top: 0;
}

.cancel-options {
    text-align: center;
    margin: 20px auto 0px;
}

@media screen and (max-width: 767px) {
    .body-content {
        margin-top: $hdrheightMobile;
    }
}

@media screen and (max-width: 768px) {
    .download-app-ios {
        font-size: 24px;
        padding: 10px;
        margin: 25% auto;
    }
    .breadcrumb-wrap {
        .bclink {
            display: inline;
            &:before {
                margin-top: 4px;
            }
        }
    }
    .breadcrumb-list {
        @include putellipsis;
        max-width: 90%;
    }
}

@media screen and (min-width: 1367px) {
    // large screen fix
    .lsfix {
        max-width: 1366px;
        margin: 0px auto;
    }
}

.visible1024nbelow {
    display: none !important;
}

@media (max-width: 1024px) {
    .hide1024nbelow {
        display: none !important;
    }
    .visible1024nbelow {
        display: block !important;
    }
}

@media (min-width: 1025px) {}

//######################################
a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        text-decoration: none;
        outline: 0;
        color: inherit;
    }
}

section {
    margin-bottom: 70px;
}

.max1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.body-container {
    position: relative;
    max-width: 1240px;
    margin: 0px auto;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    padding: 0px 20px;
    background-color: #fff;
}

.body-content {
    margin: 0px;
    background-color: #fff;
}

.buyer-homepage {
    margin-top: 0px;
}

//content divided into two sections lhs and rhs
.lhs {
    display: inline-block;
    width: calc(100% - 380px);
    .btn-wrap-loan,
    .submit {
        .btnv2 {
            border-bottom-right-radius: 6px;
        }
    }
}

.rhs {
    display: inline-block;
    margin-left: 20px;
    width: 360px;
    vertical-align: top;
    .fixed-el{
        width: 360px;
    }
}

.magic-search-wrap {
    position: relative;
    width: 100%;
    max-width: 910px;
    // margin: 30% auto 0;
    // padding-left: 20px;
    z-index: 99;

    .searchbox {
        position: relative;
        width: 100%;
        background-color: rgba(247,247,247,0.9);
        box-shadow: 0px 1px 7px 1px rgba(135,135,135,0.5);
        border-radius: 15px;

        .search-col {
            position: relative;
            width: 100%;
            background: rgba(245,245,245,.3);
            border-radius: 15px;

            .search-wrap {
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;

                .homesearch {
                    .thinput {
                        padding: 32px 0;
                        line-height: 45px;
                        font-size: 24px;
                    }

                    .thinput.no-left-padding{
                        padding-left: 5px;
                    }

                    .thdd {
                        //top: 109px;
                        left: 15px;
                        width: calc(100% - 30px); // 25px border radius on both sides is subtracted
                        background-color: rgba(247,247,247,0.9);
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        box-shadow: 0px 1px 5px rgba(135,135,135,.6);
                        z-index: 999;

                        ul {
                            padding-bottom: 10px;

                            li {
                               font-size: 14px;
                            }
                        }
                    }
                }

                i.icon-search.srchbtn {
                    position: absolute;
                    left: 1%;
                    /* top: 26%;*/
                    font-size: 30px;
                    padding: 13px 12px 12px 14px;
                    border-radius: 6px;
                    transition: all 500ms ease-in-out;
                    z-index: 9999;
                }

                &.active {
                    i.icon-search.srchbtn {
                        left: 92%;
                        background-color: $link-color;
                        color: #ffffff;
                        cursor: pointer;

                        [class*="path"]:before {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

//title used on start of each section tag
.title {
    margin: 10px 0px;
    [class^="icon-"],
    [class*=" icon-"] {
        display: inline-block;
        padding: 0px;
        vertical-align: middle;
        font-size: 30px;
    }
    h2 {
        display: inline-block;
        vertical-align: middle;
    }
}

//homeloanw wrap fix to hide its own heading
.home-loan-wrap {
    >h2 {
        display: none;
    }
}

.section-logo {
    margin-right: 10px;
}

@media screen and (max-width: 1024px) {
    .body-container {}
    .lhs {
        display: inline-block;
        width: 100%;
    }
    .rhs {
        display: none;
        float: none;
        width: 100%;
    }
    section {
        margin-bottom: 30px;
    }
    .title {
        [class^="icon-"],
        [class*=" icon-"] {
            font-size: 25px;
        }
        h2 {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .body-container {
        padding-top: 60px;
        .ot-menu-toggle,
        .ot-menu-list {
            display: block;
        }
        &.open-bw-menu {
            left: 70%;
            .ot-menu-list {
                left: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .body-container {
        padding: 60px 5px 0px;
    }
     .magic-search-wrap {
        // padding-left: 15px;
        // margin-top: 55%;

        .searchbox {
            .search-col {
                .search-wrap {
                    line-height: 40px;
                    // padding: 0px 0 0px 34px;
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;
                    .homesearch {
                        .thinput {
                            width: 95%;
                            padding-left: 0px;
                            line-height: 30px;
                            font-size: 16px;
                            padding: 20px 0;
                        }
                        input.thinput::-webkit-input-placeholder, input.thinput::-moz-placeholder, input.thinput:-ms-input-placeholder{
                            font-size: 13px;
                        }
                        .thdd {
                            //top: 70px;
                            left: -15px;
                            width: 100%;

                            strong{
                                padding: 10px 10px 0;
                                line-height: 1.6;
                            }
                            ul {
                                li {
                                    padding: 0px 10px;
                                    font-size: 12px;
                                    line-height: 1.1;

                                    .result-row {
                                        padding: 10px 0;
                                    }

                                    [class*="icon-"] {
                                        width: 25px;
                                        font-size: 18px;
                                    }

                                    .result {
                                        vertical-align: top;
                                    }

                                    .type {
                                        vertical-align: top;
                                   }
                                }
                            }
                        }
                    }

                    i.icon-search.srchbtn {
                        left: 0%;
                        font-size: 20px;
                        padding: 6px 6px 6px 7px;
                    }

                    &.active{
                        i.icon-search.srchbtn {
                            left: 85%;
                        }
                    }
                }
            }
        }
    }
}
