<div class="eli-wrap clearfix">
    <div class="form-row">
        <div data-module="singleSelectDropdown"  data-type="profession" class="full-width-drop">
            <script type="text/x-config">
                {{=JSON.stringify(it.profession)}}
            </script>
        </div>
        <div class="fc-wrap inputbox full-width clearfix">
            <div data-module="InputBox" >
                <script type="text/x-config">
                    {{=JSON.stringify(it.grossEarning)}}
                </script>
                <div class="js-input-placeholder"></div>
                <div class="error-msg"></div>
            </div>
        </div>
        <div class="fc-wrap inputbox full-width clearfix">
                <div data-module="InputBox" >
                    <script type="text/x-config">
                        { "label": "Existing EMI", "inputName":"emiel_existing_emi", "value": "", "type":"number", "maxlength":50,"className": "js-emi" }
                    </script>
                    <div class="js-input-placeholder"></div>
                    <div class="error-msg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
