//##########CARD STARTS#######//
.card-list {
    ul {
        margin: 35px 0px 35px 25px;
        //width: calc(100% - 70px);
        font-size: 0px;
        li {
            position: relative;
            display: inline-block;
            margin: 0px 30px 50px 0px;
            height: 285px;
            width: 225px;
            vertical-align: top;
            white-space: normal;
            .card-detail {
                margin-top: 10px;
            }
            .card-link {
                display: inline-block;
                height: 100%;
                width: 100%;
                text-decoration: none;
                color: #494949;
            }
            .card-image {
                width: 225px;
                height: 130px;
            }
            .card-name {
                padding: 0px 0px 5px;
                font-size: 18px;
                line-height: 1.2;
            }
            .card-sub {
                padding: 0px 0px 5px;
                font-size: 15px;
                .price {
                    font-size: 18px;
                }
            }
            .card-text {
                font-size: 14px;
                color: #9b9b9b;
            }
            .card-btn {
                position: absolute;
                bottom: 0px;
                border: solid 1px #e81c28;
                border-radius: 5px;
                padding-top: 8px;
                width: 140px;
                height: 40px;
                text-align: center;
                font-size: 16px;
                color: #e81c28;
            }
            &:hover {
                .card-btn {
                    background-color: #e81c28;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .card-list {
        ul {
            margin: 35px 0px;
            white-space: nowrap;
            overflow-x: auto;
        }
    }
}

//##########CARD ENDS#######//
