// ##########POPULAR CITIES SUB SECTION STARTS############# //    
.city-list {
    padding: 5px 10px;
    .popular-cities {
        display: inline-block;
        padding: 10px 0px;
        .sub-title {
            padding-right: 15px;
            color: #777;
        }
        .city-name {
            font-size: 15px;
            padding: 0px 10px;
            border-right: solid 1px #ccc;
            color: #999;
            cursor: pointer;
            &:hover {
                color: #e81c28;
            }
            &.selected {
                color: #e81c28;
            }
            &:last-child {
                border: none;
            }
        }
    }
    .city-select-drop {
        float: right;
        .select-dropdown {
            ul {
                height: 150px;
            }
        }
    }
}

// @media screen and (max-width: 1040px) {
//     .city-list {
//         .city-select-drop {
//             float: none;
//         }
//     }
// }
@media screen and (max-width: 767px) {
    .city-list {
        .popular-cities {
            display: none;
        }
        .city-select-drop {
            float: none;
        }
    }
}

// ##########POPULAR CITIES SUB SECTION ENDS############# //
