@import "../../components/circular-progress";
.tabs {
    li {
        padding: 7px 10px;
        width: 50%;
    }
    li.selected {
        &:before {
            border-width: 6px;
        }
    }
}

.sub-tab {
    text-align: center;
    ul {
        border-bottom: 1px solid #d7d7d7;
        li {
            display: inline-block;
            position: relative;
            margin-right: 25px;
            padding-bottom: 10px;
            cursor: pointer;
        }
        li.selected {
            color: #e71c28;
            &:after {
                position: absolute;
                bottom: -1px;
                left: 0;
                content: "";
                height: 1px;
                width: 100%;
                background-color: #e71c28;
            }
            .pink:before,
            .months:before,
            .arrow:before {
                position: absolute;
                bottom: -4px;
                left: 45%;
                content: "";
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                border-top: 5px solid #ffffff;
                z-index: 99;
            }
            .pink:after,
            .months:after,
            .arrow:after {
                position: absolute;
                bottom: -5px;
                left: 45%;
                content: "";
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                border-top: 5px solid #e71c28;
                z-index: 98;
            }
        }
    }
}

// .multiselectbox{
//     text-align: left;
//     .select-dropdown.multiselect{
//         ul{
//             li{
//                 label.checkboxlbl{
//                     padding: 12px 10px 5px 15px;
//                     .txt:after{
//                         top: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }
section.city-market-analysis {
    .tabs.not-visible {
        margin: 0;
        margin-top: 20px;
    }
    .tabs {
        // margin-bottom: 90px;
        margin-bottom: 20px;
        // when tabs are visible margin-bottom should be 90 px else it should be 20px
    }
    .graph-placeholder {
        .sub-tab {
            z-index: 998;
            border-bottom: 1px solid #ebebeb;
            ul {
                width: 60%;
                margin: 0 auto;
                border-bottom: none;
                li {
                    width: 15%;
                    color: #999999;
                    padding-bottom: 2px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    .duration {
                        font-size: 28px;
                        line-height: 1;
                    }
                    .months {
                        font-size: 14px;
                    }
                }
                li.selected {
                    .duration {
                        color: #333333;
                    }
                    .months {
                        color: #e71c28;
                    }
                }
            }
        }
    }
    .graph-details {
        .heading {
            margin-bottom: 0;
        }
        .level1 {
            padding-top: 25px;
            list-style: none;
            li {
                font-size: 16px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin-bottom: 25px;
                position: relative;
                padding-left: 10px;
                &:before {
                    position: absolute;
                    content: "\ebd0";
                    font-family: "icomoon";
                    left: -20px;
                    color: $link-color;
                }
                a.link {
                    color: $link-color;
                }
                >ul.level2 {
                    margin-top: 10px;
                    list-style: none;
                    padding-left: 30px;
                    >li {
                        margin-bottom: 10px;
                        &:before {
                            position: absolute;
                            content: "\ebd0";
                            font-family: "icomoon";
                            left: -20px;
                            color: $link-color;
                        }
                        a {
                            color: #444444;
                            border-bottom: 1px dashed $link-color;
                            transition: 500ms ease-in-out;
                            &:hover {
                                text-decoration: none;
                                color: $link-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .visit-listing {
        margin-bottom: 20px;
        padding-left: 10%;
    }
}

section.city-market-analysis {
    .graph-placeholder {
        .sub-tab {
            width: 170%;
        }
    }
    .graph-details {
        .heading {
            h2 {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
        ul.level1 {
            list-style: none;
            li {
                border-bottom: 1px solid #ebebeb;
                padding-bottom: 10px;
                margin-bottom: 10px;
                font-size: 15px;
                list-style: none;
                &:before {
                    content: "";
                }
                .small-font {
                    font-size: 12px;
                }
            }
            .green {
                color: $green;
            }
            .red {
                color: $link-color;
            }
        }
    }
}

@media screen and (max-width: 766px) {
    .sub-tab {
        text-align: center;
        margin-top: 30px;
        ul {
            border-bottom: 1px solid #d7d7d7;
            li {
                display: inline-block;
                position: relative;
                margin-right: 25px;
                padding-bottom: 10px;
                cursor: pointer;
            }
            li.selected {
                color: #e71c28;
                &:after {
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    content: "";
                    height: 2px;
                    width: 100%;
                    background-color: #e71c28;
                }
                .pink:before,
                .months:before,
                .arrow:before {
                    position: absolute;
                    bottom: -3px;
                    left: 42%;
                    content: "";
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid #ffffff;
                    z-index: 99;
                }
                .pink:after,
                .months:after,
                .arrow:after {
                    position: absolute;
                    bottom: -6px;
                    left: 42%;
                    content: "";
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid #e71c28;
                    z-index: 98;
                }
            }
        }
    }
    .m-sub-tab {
        position: relative;
        i.m-drop-arrow {
            position: absolute;
            top: 0;
            right: 10px;
            padding: 8px 12px;
            border-radius: 5px;
            border: 1px solid #cbcbcb;
            z-index: 1000;
            transition: transform 500ms ease-in-out;
        }
        input.m-sub-tab-input {
            width: 100%;
            height: 35px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1001;
            opacity: 0;
        }
        input[type=checkbox]:checked {
            z-index: 998;
        }
        input[type=checkbox]:checked ~ ul li {
            display: block;
            transition: 500ms ease-in-out;
            z-index: 998;
        }
        input[type=checkbox]:checked ~ i.m-drop-arrow {
            transform: rotate(180deg);
        }
        input[type=checkbox]:checked ~ ul {
            box-shadow: 0px 3px 3px rgba(0, 0, 0, .4);
        }
        ul {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            background-color: $white;
            z-index: 9;
            border-bottom: none;
            li {
                width: 100%!important;
                border-bottom: 1px solid #cbcbcb;
                padding: 10px;
                text-align: center;
                display: none;
                position: relative;
                z-index: 99;
                transition: 500ms ease-in-out;
            }
            li.selected {
                color: #e71c28;
                //text-align: left;
                display: block;
                z-index: 98;
                width: 100%!important;
                transition: 500ms ease-in-out;
                &:after {
                    position: absolute;
                    content: "";
                    height: 0px;
                    width: 100%;
                    background-color: transparent;
                }
                .pink:before,
                .months:before,
                .arrow:before {
                    position: absolute;
                    bottom: -4px;
                    left: 45%;
                    content: "";
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid transparent;
                    z-index: 99;
                }
                .pink:after,
                .months:after,
                .arrow:after {
                    position: absolute;
                    bottom: -5px;
                    left: 45%;
                    content: "";
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    border-top: 5px solid transparent;
                    z-index: 98;
                }
            }
        }
        input[type=checkbox]:checked ~ ul {
            z-index: 999;
        }
    }
    section.city-market-analysis {
        .heading {
            margin-bottom: 60px;
        }
        .graph-placeholder {
            .sub-tab {
                width: 92%;
                left: 4%;
                top: -60px;
                ul {
                    width: 100%;
                    margin-left: 12px;
                }
            }
        }
        .graph-details {
            padding: 0 40px;
            ul.level1 {
                padding-top: 0;
            }
        }
    }
    section.city-market-analysis {
        .graph-placeholder {
            .sub-tab {
                width: 92%;
                margin-top: 0;
            }
        }
        .graph-details {
            margin-left: 0%;
            padding: 0;
            ul.level1 {
                list-style: none;
                &:before {
                    content: "";
                }
                li {
                    border-bottom: 1px solid #ebebeb;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-bottom: 10px;
                    font-size: 15px;
                    .small-font {
                        font-size: 12px;
                    }
                }
                .green {
                    color: $green;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    section.city-market-analysis {
        .heading {
            margin-bottom: 60px;
        }
        .divider {
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        .tabs {
            ul {
                max-width: 36%;
                margin: 0 auto;
            }
        }
        .graph-details {
            margin-top: 30px;
            margin-left: 4%;
            padding: 0;
            .heading {
                margin-bottom: 0;
            }
            ul.level1 {
                padding-top: 0;
            }
            .visit-listing {
                text-align: left;
            }
        }
    }
}
