@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic);
@media all and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'FontAwesome';
        src: url('../fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg'), url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype');
        font-weight: normal;
        font-style: normal
    }
}

.menu-toggle-close {
    margin-top: -5px;
    float: right;
    font-weight: 600;
}

.view-date {
    float: left;
    font-size: 16px;
    color: rgb(53, 53, 53);
    text-transform: capitalize;
    font-weight: 600;
}

.makaan-ad {
    display: block;
    width: 220px;
    float: right;
    .powered-by {
        vertical-align: bottom;
        font-size: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .makaan-ad {
        width: 100%;
        text-align: center;
    }
}

.boxed:not(.active) {
    background: #fff!important;
    min-height: 100%
}

.wrapper {
    margin: 0 auto;
}

.active.boxed {
    width: 1240px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    padding: 0;
    min-height: 100%;
    position: relative;
    z-index: 2;
    overflow: visible
}

.left {
    float: left
}

.right {
    float: right
}

i.fa {
    line-height: inherit;
    font-weight: normal
}

.header {
    display: block
}

.header-2-content {
    display: table;
    padding: 25px 0;
    width: 100%
}

.header-1-content .header-weather,
.header-1-content .header-search,
.header-2-content .header-advert {
    display: none!important
}

.header-2-content .header-weather {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    text-align: left;
    color: #bbb
}

.header-2-content .header-logo {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
    text-align: center
}

.header-2-content .header-search {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    text-align: right
}

.header-2-content .header-search input.search-box {
    width: 115px;
    border: 2px solid transparent;
    color: #757575;
    background: transparent;
    z-index: 2;
    position: relative;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s
}

.rtl .header-2-content .header-search {
    text-align: left
}

.header-2-content .header-search input.search-box:focus {
    border: 2px solid #ccc;
    background: #fff;
    width: 80%
}

.header-2-content .header-search .fa {
    display: block;
    float: right;
    font-size: 20px;
    position: absolute;
    color: #e2e2e2;
    right: 0;
    margin-top: 8px;
    z-index: 0
}

.rtl .header-2-content .header-search .fa {
    right: auto;
    left: 0
}

.header-2-content .header-weather .weather-icon {
    display: block;
    float: left;
    margin-right: 20px
}

.header-2-content .header-weather .small-title {
    display: block;
    margin-left: 84px;
    font-weight: bold;
    font-size: 11px;
    margin-top: 4px;
    margin-bottom: 3px
}

.header-2-content .header-weather strong {
    display: block;
    margin-left: 84px;
    font-weight: bold;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: 5px;
    font-family: 'Titillium Web', sans-serif
}

.header-2-content .header-weather .default-title {
    display: block;
    margin-left: 84px;
    font-weight: bold;
    font-size: 13px
}

.header-1-content {
    display: table;
    padding: 25px 0;
    width: 100%
}

.header-1-content .header-logo {
    display: table-cell;
    vertical-align: middle
}

.header-1-content .header-advert {
    display: table-cell;
    vertical-align: middle;
    width: 728px
}

.header-topmenu {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5
}

.boxed.active .header .header-topmenu {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 1002
}

.header-topmenu:after {
    display: block;
    content: '';
    clear: both
}

.header-topmenu ul {
    display: block
}

.header-topmenu ul li {
    display: block;
    float: left
}

.header-topmenu ul.right li {
    margin-left: 15px
}

.header-topmenu ul.left li {
    margin-right: 15px
}

.header-topmenu ul li a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    color: #aaa
}

.header-topmenu ul li:hover>a {
    color: #7b7b7b
}

.topmenu-link .fa {
    color: #fff;
    background: #d1d1d1;
    display: inline-block;
    font-size: 10px;
    padding: 5px 0;
    font-weight: normal;
    margin-top: -4px;
    margin-bottom: -2px;
    border-radius: 1px;
    -moz-border-radius: 1px;
    position: relative;
    width: 21px;
    text-align: center
}

.topmenu-link .fa:after {
    display: block;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: inherit;
    top: 7px;
    right: -2px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.topmenu-link .counter {
    display: inline-block;
    padding-left: 8px;
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;
    margin-top: -2px;
    margin-bottom: -1px;
    color: #d1d1d1
}

.rtl .topmenu-link .counter {
    float: right
}

.topmenu-link {
    position: relative
}

.topmenu-link:after {
    display: block;
    position: absolute;
    color: #fff;
    content: '\f0da';
    font-family: 'FontAwesome';
    top: -4px;
    left: 17px;
    font-size: 3px;
    line-height: 100%;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.topmenu-link.topmenu-facebook:hover .fa {
    background: #4c66a4
}

.topmenu-link.topmenu-facebook:hover .counter {
    color: #4c66a4
}

.topmenu-link.topmenu-twitter:hover .fa {
    background: #4cb6e2
}

.topmenu-link.topmenu-twitter:hover .counter {
    color: #4cb6e2
}

.topmenu-link.topmenu-google:hover .fa {
    background: #dd4b39
}

.topmenu-link.topmenu-google:hover .counter {
    color: #dd4b39
}

.topmenu-link.topmenu-linkedin:hover .fa {
    background: #0073b2
}

.topmenu-link.topmenu-linkedin:hover .counter {
    color: #0073b2
}

.header-topmenu .wrapper>ul li {
    position: relative;
    z-index: 1002
}

.header-topmenu .wrapper>ul li:hover {
    z-index: 1003
}

.header-topmenu .wrapper>ul>li a:not(.topmenu-link) span {
    display: block;
    position: relative;
    padding-right: 10px
}

.header-topmenu .wrapper>ul>li a:not(.topmenu-link) span:after {
    display: block;
    position: absolute;
    content: '\f0d7';
    font-family: 'FontAwesome';
    top: 0;
    right: 0;
    font-size: 8px;
    line-height: 16px
}

.header-topmenu .wrapper>ul>li ul a:not(.topmenu-link) span:after {
    content: '\f0da';
    line-height: 14px
}

.header-topmenu .wrapper>ul>li ul {
    display: none;
    position: absolute;
    background: #fff;
    width: 150px;
    margin-left: -85px;
    left: 50%;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 15px;
    margin-top: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07);
    z-index: 100
}

.header-topmenu .wrapper>ul>li ul:before {
    display: block;
    content: '';
    background: transparent;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 10px
}

.header-topmenu .wrapper>ul>li ul:after {
    display: block;
    background: inherit;
    width: 8px;
    height: 8px;
    top: -5px;
    left: 47%;
    position: absolute;
    content: '';
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8
}

.header-topmenu .wrapper>ul li:hover>ul {
    display: block
}

.header-topmenu .wrapper>ul>li:hover>ul li {
    display: block;
    float: none;
    margin-left: 0
}

.header-topmenu .wrapper>ul>li>ul li {
    display: block;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #ccc;
    position: relative
}

.header-topmenu .wrapper>ul>li>ul li a {
    display: block
}

.header-topmenu .wrapper>ul>li>ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0
}

.header-topmenu .wrapper>ul>li>ul>li ul {
    position: absolute;
    left: 180px;
    top: 0;
    margin-left: 0;
    margin-top: -16px
}

.header-topmenu .wrapper>ul>li>ul>li ul:before {
    height: 100%;
    top: 0;
    left: -31px;
    width: 31px
}

.header-topmenu .wrapper>ul>li>ul>li ul:after {
    left: -5px;
    top: 15px;
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg)
}

.soc-pages {
    display: block;
    margin-bottom: 10px
}

.soc-pages a {
    display: inline-block;
    margin-left: 3px;
    width: 21px;
    background: #aaa;
    color: #fff;
    line-height: 21px;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%
}

.soc-pages a:hover {
    background: #232323;
    color: #fff
}

.header #main-menu {
    display: block;
    background: #292929;
    margin-bottom: 20px;
    z-index: 1001;
    position: relative
}

.header-logo h1 {
    font-size: 60px;
    color: #232323;
    line-height: 110px
}

.header #main-menu .wrapper {
    background: inherit
}

.header #main-menu .wrapper>ul {
    display: block;
    border-top: 4px solid rgba(255, 255, 255, 0.09);
    background: inherit
}

.header #main-menu .wrapper>ul:after {
    display: block;
    clear: both;
    content: ''
}

.header #main-menu .wrapper>ul>li {
    display: block;
    float: left;
    border-top: 4px solid rgba(255, 255, 255, 0.09);
    margin-top: -4px;
    background: inherit;
    position: relative
}

.boxed.active .header #main-menu {
    margin-right: 20px;
    margin-left: 20px
}

.header #main-menu .wrapper>ul>li>a:after {
    display: block;
    content: '';
    background: rgba(255, 255, 255, 0.06);
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2
}

.header #main-menu .wrapper>ul>li:hover:after {
    display: none
}

.header #main-menu .wrapper>ul>li>a {
    display: block;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    padding: 14px 30px;
    background: inherit
}

.header #main-menu .wrapper>ul>li:hover>a {
    box-shadow: inset 0 -70px rgba(255, 255, 255, 0.05)
}

.header #main-menu .wrapper>ul>li>a span {
    display: block;
    padding-right: 15px;
    position: relative
}

.header #main-menu .wrapper>ul>li>a span:after {
    display: block;
    content: '\f0d7';
    font-family: 'FontAwesome';
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 16px;
    font-size: 10px
}

.header #main-menu .wrapper>ul>li a i.fa {
    padding-right: 8px
}

.header #main-menu .wrapper>ul>li>a i:not(.fa) {
    display: block;
    font-style: normal;
    font-size: 10px;
    font-weight: 400;
    padding-top: 3px;
    opacity: .6;
    filter: alpha(opacity=60)
}

.header #main-menu .wrapper>ul>li>a i:not(.fa):empty {
    display: none!important
}

.header #main-menu .wrapper ul.menu>li.menu-single>a {
    line-height: 28px
}

.header #main-menu .wrapper ul>li.big-drop>ul,
.header #main-menu .wrapper ul:not(.sub-menu)>li:not(.big-drop)>ul ul,
.header #main-menu .wrapper ul:not(.sub-menu)>li:not(.big-drop)>ul {
    display: none;
    position: absolute;
    border: 1px solid #292929;
    border-top: 0;
    z-index: 3;
    background: #fff;
    border-radius: 0 0 3px 3px
}

.header #main-menu .wrapper ul>li>ul>li:first-child a:not(.switch-cat) {
    border-radius: 3px 3px 0 0
}

.header #main-menu .wrapper ul>li>ul>li:last-child a {
    border-radius: 0 0 3px 3px
}

.header #main-menu .wrapper ul>li>ul>li:last-child a:after {
    display: none!important
}

.header #top-sub-menu {
    display: block;
    margin-top: -20px;
    background: #efefef;
    margin-bottom: 20px;
    min-height: 1px
}

.header #top-sub-menu .wrapper {
    background: inherit
}

.boxed.active .header #top-sub-menu {
    margin-right: 20px;
    margin-left: 20px
}

.header #top-sub-menu ul {
    overflow: hidden;
    display: block;
    background: inherit
}

.header #top-sub-menu ul:after {
    display: block;
    content: '';
    clear: both
}

.header #top-sub-menu ul li {
    display: block;
    float: left;
    position: relative;
    background: inherit
}

.header #top-sub-menu ul li a {
    display: block;
    padding: 15px 25px 15px 20px;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    position: relative;
    background: inherit;
    color: #797979
}

.header #top-sub-menu ul li:hover a {
    background: #e6e6e6;
    color: #232323
}

.header #top-sub-menu ul li:first-child a:before {
    display: none
}

.header #top-sub-menu ul li a:before {
    display: block;
    content: '';
    position: absolute;
    background: inherit;
    width: 20px;
    height: 100%;
    top: 0%;
    left: 0px;
    border-left: 1px solid #e0e0e0;
}

.header #top-sub-menu ul li a:after {
    display: block;
    content: '';
    position: absolute;
    background: inherit;
    width: 20px;
    height: 100%;
    top: 0%;
    left: 0px;
    border-left: 1px solid #e0e0e0;
}

.header #top-sub-menu ul li:last-child:before {
    display: block;
    content: '';
    position: absolute;
    background: inherit;
    width: 20px;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 1px solid #e0e0e0;
}

.header #top-sub-menu ul li:last-child:after {
    display: block;
    content: '';
    position: absolute;
    background: inherit;
    width: 20px;
    height: 100%;
    top: 0%;
    right: 0;
    border-left: 1px solid #e0e0e0;
}

.menu-overlay {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000
}

.strict-block {
    display: block;
    margin-bottom: 20px
}

.block-title {
    margin-bottom: 20px
}

.strict-block .block-title {
    display: block;
    margin-bottom: 0;
    background: #2c3e50;
    color: #fff;
    padding: 12px 15px
}

.strict-block .block-title h2 {
    display: block;
    font-size: 18px;
    font-weight: 600
}

.strict-block .block-content {
    padding: 15px;
    background: #f5f5f5
}

.footer {
    display: block;
    margin-top: 50px
}

.footer .widget {
    width: 32%;
    margin-bottom: 20px;
    margin-right: 2%;
    float: left
}

.footer .widget:nth-child(3n) {
    margin-right: 0
}

.footer .widget>h3 {
    display: block;
    border-bottom: 3px solid #2c3e50;
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
    color: #353535;
    font-family: 'Gudea', sans-serif;
    font-weight: 400;
    margin-bottom: 15px
}

.footer .widget .widget-top-b {
    display: block;
    position: absolute;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Gudea', sans-serif
}

.footer .widget>h3:before {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -2px;
    background: #fff;
    position: absolute;
    z-index: 2
}

.boxed.active .footer .footer-blocks {
    margin-right: 20px;
    margin-left: 20px
}

.footer .footer-blocks {
    display: block;
    margin-top: 20px;
    position: relative;
    border-top: 3px solid #696969;
    border-bottom: 3px solid #696969;
    padding: 20px 0 5px 0;
    margin-bottom: 20px
}

.footer-much {
    display: block;
    font-size: 12px;
    line-height: 150%;
    padding-bottom: 20px
}

.footer-much p {
    font-size: 13px
}

.footer-much ul {
    display: block;
    line-height: 30px
}

.footer-much ul li {
    display: inline-block;
    position: relative;
    margin-left: 25px
}

.footer-much ul li:nth-child(1n+2):before {
    display: block;
    position: absolute;
    content: '/';
    left: -17px;
    top: 0;
    opacity: .4
}

.footer-much ul li a {
    display: block;
    font-size: 13px;
    font-weight: bold
}

h1.page-title {
    display: block;
    padding: 10px 15px;
    color: #fff;
    background: #2c3e50;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px
}

hr {
    display: block;
    height: 0;
    border: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    margin-bottom: 15px
}

.footer .widget .footer-map-link {
    color: rgba(255, 255, 255, 0.7)
}

.footer .widget .footer-map-link:hover {
    color: #fff
}

#main-menu.thisisfixed {}

#main-menu.floatingmainmenu .subset {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    z-index: 20000;
    background: inherit;
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.09)
}

#main-menu {
    min-height: 8px
}

.aspect-px {
    background-size: cover;
    background-position: center;
    width: 100%!important
}

.rtl .header #main-menu .wrapper>ul>li {
    float: right
}

.rtl .header #main-menu .wrapper>ul>li a i.fa {
    padding-left: 8px;
    padding-right: 0
}

.rtl .left {
    float: right
}

.rtl .right {
    float: left
}

.rtl .block-rating .rate-line:not(.total-rating) .ot-star-rating {
    margin-top: -16px
}

.rtl .about-author .item-foot a i.fa,
.rtl .meta-tools .fa,
.rtl .trans-button i.fa {
    padding-right: 0;
    padding-left: 8px
}

.rtl .widget .w-news-list .item .item-foot a .fa {
    padding-right: 0;
    padding-left: 7px
}

.rtl .article-double-side .item-content .item-links i.fa,
.rtl .blog-style .item-icons i.fa,
.rtl .article-split-block .item-content .item-icons i.fa,
.rtl .article-double-main .item-content .item-icons i.fa {
    padding-left: 6px;
    padding-right: 0
}

.rtl .social-article .socialize-icon strong,
.rtl .social-article .socialize-icon i.fa {
    float: left
}

.rtl .accordion>div>a:after {
    right: auto;
    left: 13px
}

.rtl .accordion>div>a:before {
    right: auto;
    left: 17px
}

body.rtl #main-menu li.big-drop-2>ul.sub-menu>li>ul>li.active>a:before {
    right: auto;
    left: 15px
}

.rtl .header #main-menu .wrapper>ul>li.normal-drop.ot-dropdown li>a span:after {
    right: auto;
    left: 20px;
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg)
}

.rtl .gallery-preview .preview-options a i.fa {
    padding-right: auto;
    padding-left: 4px
}

.rtl .main-article .article-header .article-meta .meta-date {
    position: relative
}

.rtl .meta-date .date {
    position: absolute;
    left: 100%;
    margin-left: 15px
}

.rtl .f-size {
    display: inline-block
}

.rtl .contact-info .fa-stack {
    text-align: left;
    left: 30px
}

.rtl #writecomment .error-msg .fa {
    left: 30px
}

.rtl .header #main-menu .wrapper>ul>li.normal-drop.ot-dropdown>ul ul {
    left: auto;
    right: 290px
}

.rtl .header #main-menu .wrapper>ul>li.normal-drop.ot-dropdown>ul ul:after {
    left: auto;
    right: -5px;
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg)
}

.rtl .header #main-menu .wrapper>ul>li.normal-drop.ot-dropdown>ul ul:before {
    left: auto;
    right: -11px
}

@media screen and (min-width: 1000px) {
    .width1000 .article-double-side .item-links a:last-child {
        display: none;
    }
    .boxed.active.width1000 {
        width: 1000px;
    }
    .boxed.active.width1000 .wrapper {
        width: 960px;
    }
    .boxed.active.width1000 .header #main-menu .wrapper > ul > li > a {
        font-size: 13px;
        padding: 14px 11px;
    }
    .boxed.active.width1000 .header #top-sub-menu ul li a {
        font-size: 12px;
    }
    .boxed.active.width1000 .header #main-menu .wrapper > ul > li a i {
        font-size: 8px;
    }
    /*.boxed.active.width1000 .content-main.with-sidebar-both {
        width: 640px;
    }*/
    .boxed.active.width1000 .content-main.with-sidebar {
        width: 770px;
    }
    .boxed.active.width1000 .content-main.with-sidebar-both {
        width: 580px;
    }
    .boxed.active.width1000 #main-menu.thisisfixed {
        height: 56px;
    }
    .boxed.active.width1000 .footer .widget > h3 {
        font-size: 22px;
    }
    .width1000 .header-advert {
        width: 50%;
    }
    .width1000 .header-advert img {
        max-width: 100%;
    }
    .boxed.active.width1000 .wrapper {
        width: 960px!important;
    }
}

@media only screen and (max-width: 1255px) {
    .active.boxed {
        max-width: 100%;
    }
    .wrapper {
        width: 99%;
    }
    .header #main-menu .wrapper > ul > li > a {
        font-size: 13px;
        padding: 14px 11px;
    }
    .header #top-sub-menu ul li a {
        font-size: 12px;
    }
    .header #main-menu .wrapper > ul > li a i {
        font-size: 8px;
    }
    #top-sub-menu > .wrapper,
    #main-menu .subset > .wrapper,
    #main-menu > .wrapper,
    .header > .wrapper,
    .content .wrapper {
        width: 976px;
        max-width: 99%;
    }
    .boxed.active .header #top-sub-menu,
    .boxed.active .header #main-menu {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .header-topmenu {
        display: none;
    }
    .wrapper {
        max-width: 1200px!important;
        width: 97%!important;
    }
    .boxed.active .header #top-sub-menu,
    .boxed.active .header #main-menu {
        margin-left: 0px;
        margin-right: 0px;
    }
    .menu-dropy {
        display: block;
        color: #fff!important;
        font-family: 'Titillium Web', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        padding: 18px 19px;
        text-align: center;
    }
    .header-topmenu ul {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }
    .header-topmenu ul li {
        margin-left: 0px!important;
        margin-right: 10px;
        margin-top: 6px;
    }
    .header-topmenu ul:after {
        display: block;
        clear: both;
        content: '';
    }
    .footer .widget {
        display: block;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .footer-much {
        text-align: center;
    }
    .footer-much ul {
        text-align: center;
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .footer-much ul li:first-child {
        margin-left: 0px;
    }
    .header #top-sub-menu ul li {}
    .header #top-sub-menu ul li a {
        padding: 11px 5px;
    }
    .header-topmenu ul.right li {
        margin-top: 10px;
    }
    #main-menu.floatingmainmenu .subset {
        display: block!important;
        position: relative;
        top: auto;
        left: auto
    }
    .demo-settings,
    .ot-jumplist,
    .header #main-menu .wrapper > ul > li:after,
    .header #top-sub-menu ul li:last-child:after,
    .header #top-sub-menu ul li:last-child:before,
    .header #top-sub-menu ul li a:before,
    .header #top-sub-menu ul li a:after {
        display: none!important;
    }
    .header #main-menu .wrapper ul li {
        display: block;
        width: 100%;
    }
    .header #main-menu .wrapper ul li {
        border-top: 1px solid rgba(255, 255, 255, 0.1)!important;
    }
    .header-1-content .header-advert {
        display: block;
        text-align: center;
        margin-top: 15px;
        float: none;
        width: 100%;
    }
    .header-1-content .header-advert img {
        max-width: 90%;
    }
    .header #main-menu {
        height: auto;
    }
    .header #main-menu .subset > .wrapper > ul,
    .header #main-menu > .wrapper > ul {
        display: none;
    }
    .header-2-content {
        display: block;
    }
    .header-2-content .header-weather {
        display: block;
        width: 200px;
        margin: 0px auto 20px auto
    }
    .header-2-content .header-search {
        display: block;
        text-align: center;
        width: 100%;
    }
    .header-1-content .header-logo,
    .header-2-content .header-logo {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .header-1-content .header-logo img,
    .header-2-content .header-logo img {
        max-width: 90%;
        height: auto;
    }
    .header-2-content .header-search .fa {
        display: none;
    }
    .header-2-content .header-search input.search-box {
        text-align: center;
    }
    .content .wrapper {
        width: 98%;
    }
    .header-2-content,
    .header-1-content {
        padding: 20px 0;
    }
    .header-1-content .header-logo,
    .header-2-content .header-logo,
    .header-2-content .header-weather {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .boxed {
        overflow: hidden;
    }
    .demo-settings {
        display: none!important;
    }
    .footer .widget,
    .split-stuff.blocks-4 > div,
    .split-stuff.blocks-3 > div {
        display: block;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .block-title .panel-title-right,
    #sidebar .widget .widget-top-b,
    .footer .widget .widget-top-b {
        display: none;
    }
    .header #main-menu .wrapper > ul > li:hover > ul {
        margin-top: -3px;
    }
    .wrapper {
        width: 90%!important;
    }
    .boxed,
    .active.boxed {
        margin: 0px;
        padding: 0px;
        width: 100%;
        border: 0px;
        box-shadow: none;
    }
    .header-topmenu > .wrapper,
    .footer-blocks > .wrapper {
        width: 100%!important;
    }
    .footer-much p {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-much ul li:nth-child(1n+2):before {
        content: ',';
        left: -6px;
    }
    .footer-much ul {
        line-height: 20px;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 16px;
    }
    .footer-much ul li {
        margin-left: 5px;
    }
    .header-2-content .header-search {
        display: none;
    }
}


/* Desktop view */

.ot-menu-list {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    background: #1D1D1D;
    color: #f0f0f0;
    width: 70%;
    left: -70%;
    margin-left: -3px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.ot-menu-toggle {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1000;
    background: #1D1D1D;
    text-align: center;
    color: #f0f0f0!important;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 19px 0;
    width: 100%;
}

body.ot-menu-active .ot-menu-toggle:after {
    content: '\f00d';
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 18px;
}

.ot-menu-toggle i.fa {
    padding-right: 10px;
}

body.ot-menu-active {
    overflow: hidden;
    margin-left: 70%;
    -moz-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
}

body.ot-menu-active .ot-menu-list {
    left: 0px;
    margin-left: 0px;
}

body.ot-menu-active .ot-menu-toggle {
    left: 70%;
}

.ot-menu-toggle:hover {
    background: #232323;
}

.ot-menu-list h3 {
    padding: 15px;
    font-size: 18px;
    color: #ccc;
}

.ot-menu-list li {
    border: 0px!important;
    border-top: 1px solid rgba(255, 255, 255, 0.07)!important;
}

.ot-menu-list li li a {
    padding-left: 30px;
}

.ot-menu-list li a {
    color: #ccc;
    background: #232323;
    box-shadow: inset -20px 0 10px -10px rgba(0, 0, 0, 0.2);
}

.ot-menu-list li a:hover {
    background: #1D1D1D;
}

.ot-menu-list a {
    padding: 12px 15px;
    display: block;
    font-size: 12px;
}

.ot-menu-list a i {
    display: none;
}

.ot-menu-list .big-drop > ul {
    display: none;
}

body.ot-menu-active {
    margin-left: 0px;
}

body.ot-menu-active .ot-menu-list {
    width: 70px;
}

body.ot-menu-active .ot-menu-toggle {
    left: -70px;
}


/* iPad view */

@media only screen and (max-width: 1000px) and (min-width: 601px) {
    body.ot-menu-ipad-enable.admin-bar .ot-menu-toggle {
        margin-top: 32px;
    }
    body.ot-menu-ipad-enable {
        position: inherit;
        -moz-transition: margin-left 0.2s;
        -webkit-transition: margin-left 0.2s;
        -o-transition: margin-left 0.2s;
        width: 100%;
        margin-top: 52px;
    }
    .ot-menu-toggle,
    .ot-menu-list {
        display: block!important;
    }
    body.ot-menu-ipad-enable .ot-menu-add {
        display: none!important;
    }
    body.ot-menu-active {
        margin-left: 40%;
    }
    body.ot-menu-active .ot-menu-list {
        width: 40%;
    }
    body.ot-menu-active .ot-menu-toggle {
        left: 40%;
    }
}


/* iPhone view */

@media only screen and (max-width: 600px) {
    body.ot-menu-ipad-enable.admin-bar .ot-menu-toggle {
        margin-top: 46px;
    }
    body.ot-menu-iphone-enable {
        position: inherit;
        -moz-transition: margin-left 0.2s;
        -webkit-transition: margin-left 0.2s;
        -o-transition: margin-left 0.2s;
        width: 100%;
        margin-top: 52px;
    }
    body.ot-menu-ipad-enable:not(.ot-menu-iphone-enable) {
        margin-top: 0px;
    }
    body.ot-menu-iphone-enable .ot-menu-toggle,
    body.ot-menu-iphone-enable .ot-menu-list {
        display: block!important;
    }
    body.ot-menu-ipad-enable:not(.ot-menu-iphone-enable) .ot-menu-toggle,
    body.ot-menu-ipad-enable:not(.ot-menu-iphone-enable) .ot-menu-list {
        display: none!important;
    }
    body.ot-menu-iphone-enable .ot-menu-add {
        display: none!important;
    }
    body.ot-menu-ipad-enable:not(.ot-menu-iphone-enable) .ot-menu-add {
        display: none!important;
    }
    body.ot-menu-active {
        margin-left: 70%;
    }
    body.ot-menu-active .ot-menu-list {
        width: 70%;
    }
    body.ot-menu-active .ot-menu-toggle {
        left: 70%;
    }
}
