//######## CSS FOR FULL ARTICLE STYLE STARTS ##########//
.full-article {
    max-width: 100%;
    .article-title {
        font-size: 28px;
    }
    .article-content {
        margin-top: 30px;
    }
    .article-img {
        float: left;
        margin: 0px 30px 30px 0px;
        height: 215px;
        width: 215px;
        background-color: #000;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .article-text {
        max-width: 100%;
        font-size: 16px;
        line-height: 1.5;
        img{
            max-width: 100%;
        }
    }
    @media screen and (max-width: 768px) {
        .article-title {
            font-size: 18px;
        }
        .article-content {
            margin-top: 15px;
        }
        .article-img {
            margin: 0px 15px 15px 0px;
            height: 150px;
            width: 150px;
        }
        .article-text {
            font-size: 14px;
            text-align: justify;
        }
    }
}

//######## CSS FOR FULL ARTICLE STYLE ENDS ##########//
//######## CSS FOR CARD STYLE ARTICLES  STARTS ##########//
.recent-list {
    li {
        position: relative;
        display: inline-block;
        margin-right: 30px;
        height: 250px;
        width: 225px;
        vertical-align: top;
        white-space: normal;
        cursor: pointer;
        color: #444;
        .blog-img {
            height: 100%;
            width: 100%;
        }
        .img-link {
            width: 100%;
            height: 130px;
        }
        .img-col {
            vertical-align: top;
        }
        .desc-col {
            vertical-align: top;
        }
        .article-hdng {
            margin: 5px 0px 0px;
            padding-bottom: 10px;
            color: #444;
        }
        .read-time {
            position: absolute;
            bottom: 5px;
        }
        .read-more {
            position: absolute;
            bottom: 6px;
            right: 10px;
            font-size: 14px;
            color: #e81c28;
        }
    }
}

//######## CSS FOR RHS LIST STYLE ARTICLES  STARTS ##########//
.rhs-articles {
    .blog-feed-wrap {
        .recent-list {
            li {

                margin: 0px 0px 25px;
                height: 100px;
                width: 360px;
                float: right;
                .img-col {
                    display: inline-block;
                }
                .img-link {
                    height: 95px;
                    width: 95px;
                }
                .desc-col {
                    display: inline-block;
                    margin-left: 10px;
                    width: calc(100% - 110px);
                }
                .article-hdng {}
                .desc {}
                .extras {}
                .read-time {}
            }
        }
    }
}

//######## CSS FOR RHS LIST STYLE ARTICLES  ENDS ##########//
@media screen and (max-width: 768px) {
    .blog-feed-wrap {
        margin-bottom: 30px;
    }
    .recent-list {
        white-space: nowrap;
        overflow: auto;
        li {
            float: none !important;
            height: 250px;
            width: 225px;
            .img-col {}
            .img-link {}
            .desc-col {}
            .article-hdng {
                margin: 10px 0px 0px;
            }
            .desc {}
            .extras {}
            .read-time {}
        }
    }
}

//######## CSS FOR CARD STYLE ARTICLES  ENDS ##########//
//######## CSS FOR FIRST FOLD ARTICLES STARTS overrides the recent-list but also needs it ##########//
.first-fold-article {
    .blog-feed-wrap {
        margin: 25px 0px 0px;
    }
    .recent-articles-wrap {}
    .recent-list {
        li {
            .read-more {
                position: static;
            }
        }
    }
    @media screen and (min-width: 769px) {
        .recent-list {
            li {
                margin: 0px;
                &:first-child {
                    margin-right: 10px;
                }
                &:nth-child(-n+2) {
                    height: 340px;
                    width: calc( ((100% - 380px) / 2) - 5px);
                    float: left;
                    .img-col {}
                    .img-link {
                        height: 225px;
                    }
                    .desc-col {
                        margin-top: 10px;
                    }
                    .article-hdng {
                        font-size: 18px;
                    }
                    .desc {}
                    .extras {}
                    .read-time {}
                }
                &:nth-child(n+3) {
                    margin-bottom: 25px;
                    height: 100px;
                    width: 360px;
                    float: right;
                    .img-col {
                        display: inline-block;
                    }
                    .img-link {
                        height: 95px;
                        width: 95px;
                    }
                    .desc-col {
                        display: inline-block;
                        margin-left: 10px;
                        width: calc(100% - 110px);
                    }
                    .article-hdng {}
                    .desc {}
                    .extras {}
                    .read-time {}
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .recent-list {
            white-space: nowrap;
            overflow: auto;
            li {
                margin-right: 10px;
                float: none !important;
                width: 90%;
                max-width: 330px;
                min-height: 250px;
                .img-col {}
                .img-link {
                    height: 150px;
                }
                .desc-col {
                    padding-left: 15px;
                }
                .article-hdng {
                    margin: 10px 0px 0px;
                }
                .desc {}
                .extras {}
                .read-time {}
            }
        }
    }
}

//######## CSS FOR FIRST FOLD ARTICLES  ENDS ##########//
