.popular-searches {
    margin: 20px 0px 0px;
    .popular-title {
        color: #676767;
    }
    .popular-links {
        color: #9f9f9f;
        padding-right: 12px;
        margin-left: 15px;
        border-right: solid 1px #d5d5d5;
        &:last-child {
            border: none;
        }
        &:hover {
            color: $link-color;
        }
    }
}

@media screen and (max-width: 767px) {
    .popular-searches {
        white-space: nowrap;
        overflow: auto;
        padding-bottom: 20px;
        .popular-title {
            //display: none;
        }
    }
}
