.bw-pyr {
    .pyr-wrap {
        display: inline-block;
        width: 60%;
        vertical-align: middle;
        background-color: #fafafa;
    }
    .pyr-heading {
        display: none;
    }
    .pyr-house-image{
        vertical-align: middle;
        display: inline-block;
        width: 40%;
        img {
            width: 80%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .bw-pyr {
        .pyr-wrap.active {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .bw-pyr {
        .pyr-house-image{
            display: none;
        }
        .pyr-wrap {
            width: 100%;
        }
    }
}
