.sharebtn-wrap {
        padding-top: 60px;
        text-align: left;

        > li {
            display: inline-block;
            margin-right: 2px;
        }

        .sharebtn {
            display: inline-block;
            width: 34px;
            height: 34px;
            background-color: #f0f0f0;
            border: solid 1px #f0f0f0;
            border-radius: 50%;
            padding-top: 4px;
            text-align: center;
            font-size: 21px;
            line-height: 1;
            text-decoration: none;
            cursor: pointer;

            &.fb-btn {
                &:hover {
                    background-color: rgba(59, 89, 152, 1);
                }
            }

            &.fb-btn-m {
                padding: 4px 6px 0px;

                &:hover {
                    background-color: rgba(0, 127, 255, 1);

                    #fb-m-icon path {
                        fill: rgb(255,255,255);
                    }
                }
            }

            &.twitter-btn {
                &:hover {
                    background-color: rgba(64, 153, 255, 1);
                }
            }

            &.gplus-btn {
                &:hover {
                    background-color: rgba(211, 72, 54, 1);
                }
            }

            &.linkedin-btn {
                &:hover {
                    background-color: rgba(0, 123, 182, 1);
                }
            }

            &.email-btn {
                color: $link-color;

                &:hover {
                    background-color: rgba(232, 28, 40, 1);
                }
            }

            &.whatsapp-btn {
                color: #01d300;

                &:hover {
                    background-color: rgba(1, 211, 0, 1);
                }
            }

            &:hover {
                color: #fff;

                 [class*="path"]:before {
                    color: #fff;
                 }
            }

        }
    }