// @import "../../components/homepageSearch";
.magic-search-bw {
    .magic-search-wrap {
        z-index: 999;
        .searchbox {
            box-shadow: none;
        }
        .search-wrap {
            border: solid 1px #d3d3d3;
            border-radius: 5px;
            background-color: #fbfbfb;
            position: relative;
        }
        .thinput {
            height: 55px;
            width: 100%;
            text-indent: 55px;
        }
        .srchbtn {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
        .typeahead-wrap {
            position: relative;
        }
        .buy-rent-tab {
            display: none;
        }
        .thdd {
            top: calc(100% + 1px);
            left: 0 !important;
            border-radius: 0px !important;
            background-color: #fff !important;
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 1024px) {
    .magic-search-bw {
        .magic-search-wrap {
            margin: 20px auto;
        }
    }
}
