<h4>Select Bank(s)</h4>

<div class="bank-tbl-wrap">
    <div class="tbl-hdng">
        <div class="tbl-row">
            <div class="col1">Partner bank</div>
            <div class="col2">Rate of interest</div>
            <!--<div class="col2 hidden-xs">Min EMI per lac (20 years)</div>-->
            <div class="col3">Select to contact</div>
        </div>
    </div>
    <div class="tbl-body">
        {{~it.data :value:index}}
        <div class="tbl-row">
            <div class="col1" title="{{=value.name}}"><span class="bank-name">{{=value.showName}}</span></div>
            <div class="col2">{{=value.rateOfInterest}}</div>
            <!--<div class="col2 hidden-xs"><span class="currency"></span> <span class="val">{{=value.emiPerLac}}</span></div>-->
            <div class="col3">
                <label class="checkboxlbl">
                    <input type="checkbox" data-name='{{=value.name}}' data-id="{{=value.id}}" data-type="bank" >
                    <span class="txt"></span>
                </label>
            </div>
        </div>
        {{~}}
    </div>
</div>
<div class="bank-footer-wrap">
    <div class="bank-footer">
        <div class="select-count"><span class="js-selectedBankCount">0</span> Banks selected</div>
        <a class="txtbtn" data-type="getCall">Get rates</a>
    </div>
</div>
<div class="js-error hide">Some Error Occured in fetch bank details</div>


<!-- old code
<table>
    <thead>
        <tr>
            <th class="logo-wrap">Partner bank</th>
            <th>Rate of interest</th>
            <th>Select to contact</th>
        </tr>
    </thead>
    <tbody>
        {{~it.data :value:index}}
        <tr>
            <td><span class="bank-name">{{=value.showName}}</span></td>
            <td>{{=value.rateOfInterest}}</td>
            <td>
            <label class="checkboxlbl">
                <input type="checkbox" data-name='{{=value.name}}' data-id="{{=value.id}}" data-type="bank" >
                <span class="txt"></span>
            </label></td>
        </tr>
        {{~}}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="ta-l"><span class="js-selectedBankCount">0</span> Banks selected</td>
            <td><a class="txtbtn" data-type="getCall">Get a call</a></td>
        </tr>
    </tfoot>
</table>
<div class="js-error hide">Some Error Occured in fetch bank details</div>
-->