
{{~it.localityList :option:index}}
    <div class="srched-tag" title="{{=option.displayText}}">
        <span class="val js-tag" data-type="nearby" data-optiontype="{{=option.type}}" data-val="{{=option.displayText}}" data-tagid="{{=option.id}}" data-link="{{=option.redirectUrl}}" data-tagtype="{{=option.type}}" data-latitude="{{=option.latitude}}" data-longitude="{{=option.longitude}}" data-city="{{=option.city}}" {{?option.cityId }}  data-cityid="{{=option.cityId}}" {{?}} data-entityid="{{=option.entityId || option.googlePlaceId}}" {{?option.localityId }} data-localityid="{{=option.localityId}}" {{?}} data-entityname="{{=option.entityName}}" data-index={{=index}}>+ {{=option.displayText}}</span>
    </div>
{{~}}