<div class="locality-list">
	{{~it.popularLocalities :locality:index}}
    <a class="locality-info" data-type="locality-link" data-href="{{=locality.localitySERPUrl}}" data-index="{{=index}}">
        <span class="loc-name">{{=locality.localityName}}</span>
        <span class="info">{{=locality.uniqueSellerCount}} top rated sellers</span>
        <span class="info">{{=locality.listingCount}} active listings</span>
    </a>
    {{~}}
</div>