<span class="icon-close close-popup" data-type="closePopup"></span>
<div class="msr-head"></div>
<div class="msr-content text-center">
    <h3 class="msr-title-text small high-gap">We could not find any <span class="select-highlighter"> Select</span> Voucher associated with this phone ******{{= it.screenData && it.screenData.otpContact ||"****"}}</h3>
	<p class="msr-info-text small light">You can try again with a different phone number <span class="link" data-type='CHANGE_CONTACT_SUBMIT'>here</span></p>
	<span class="cbtn cbtn-p" data-type='search-rental' data-normal>Search Rental Properties</span>
	<span class="cbtn cbtn-p hide" data-processing >Processing...</span>
    <p class="msr-info-text small light">For any queries, contact us on <a href="mailto:customer.service@makaan.com" class="contact-link">customer.service@makaan.com</a> or <a href="tel:+918899939993" class="contact-link">+91 8899939993</a></p>
</div>