<div data-type="contactSupportBack" class="backbutton text-left">
    <span class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </span>
</div>
<div class="msr-head"></div>
<div class="msr-content text-center">
	<h3 class="msr-title-text large">Oops!</h3>
    <h3 class="msr-title-text small"><span class="select-highlighter"> Select</span> Voucher could not be unlocked! <br> Seller chosen by you is not a<span class="select-highlighter"> Select</span> Agent</h3>
    <span class="cbtn cbtn-p" data-type = 'closeCouponPopUp'>Got It</span>
    <p class="msr-info-text small light">For any queries, contact us on <a href="mailto:customer.service@makaan.com" class="contact-link">customer.service@makaan.com</a> or <a href="tel:+918899939993" class="contact-link">+91 8899939993</a></p>
</div>