<span class="no-header icon-close close-popup" data-type="closePopup"></span>
<div class="msr-content text-center">
    <h3 class="msr-title-text">Your voucher code has already been unlocked and shared with <span class="select-highlighter"> Select</span> Agent </h3>
    <div class="ms-coupon-card active-card">
      <span class="coupon-price">
        &#8377;<strong>{{=it.underProcessCoupon && it.underProcessCoupon.amount||''}}</strong>
        <span>off</span>
      </span>
      <span class="coupon-code">{{=it.underProcessCoupon && it.underProcessCoupon.code||''}}</span>
    </div>
    <div class = 'sharepopup coupon-share'>
      <ul class="sharebtn-wrap">
          <li>Share with Seller: </li>
          <li>
              <span class="sharebtn email-btn" data-type="share-coupon-gmail" title="send an email">
                  <i class="icon-mail">
                      <span class="path1"></span><span class="path2"></span>
                  </i>
              </span>
          </li>
          {{? it.isMobileRequest}}
            <li>
                <span class="sharebtn whatsapp-btn" data-type="share-coupon-whatsapp" title="share on whatsapp">
                    <i class="icon-whatsapp">
                        <span class="path1"></span><span class="path2"></span>
                    </i>
                </span>
            </li>
            {{?it.screenData.isIphone}}
              <li>
                 <span class="sharebtn sms-btn" data-type="share-coupon-sms" title="share on sms">
                    <img data-src="/images/sms.svg" alt="sms" width="21px" height="21px" />
                  </span>
              </li>
            {{?}}
          {{?}}
      </ul>
    </div>
    <p class="msr-info-text small light">For any queries, contact us on <a href="mailto:customer.service@makaan.com" class="contact-link">customer.service@makaan.com</a> or <a href="tel:+918899939993" class="contact-link">+91 8899939993</a></p>
</div>