<span class="icon-close close-popup" data-type="closePopup"></span>
<div class="msr-head"></div>
<div class="msr-content">
  <h3 class="msr-title-text">Have you finalized or moved into your new home ?</h3>
  <div class="msr-question-wrap">
    <div class="main-loading  box-loading js-main-loading hide">
      <div class="loading-wrap">
         <img src="images/loadingIcon.gif" alt="loading..." />
         <p><span>fetching Sellers...</span></p>
     </div>
    </div>
    <label for="multiSelectOptions-2" class="multiselectlbl">
      <input id="multiSelectOptions-2" type="radio" name = 'homeFinalized' data-type="homeNo" >   
      <span class="boxoption"> 
          <span class="val">No</span> 
      </span>  
    </label>
    <label for="multiSelectOptions-1" class="multiselectlbl"> 
      <input id="multiSelectOptions-1" checked="true" type="radio" name = 'homeFinalized' data-type="homeYes">   
      <span class="boxoption"> 
          <span class="val">Yes</span> 
      </span>  
    </label>
    <div class = "global-msg-wrap text-center">
        <div class="error-msg js-homeFinalized-errorMsg" data-message="PHONE"></div>
    </div>

  </div>
</div>