<span class="icon-close close-popup" data-type="closePopup"></span>
<div data-type="HomeNotFinalizedBack" class="backbutton text-left">
    <span class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </span>
</div>
<div class="msr-head"></div>
<div class="msr-content text-center">
    <h3 class="msr-title-text small high-gap">You can only unlock once you have finalized or moved into your home with a <span class="select-highlighter">Select</span> Agent</h3>
    <span class="cbtn cbtn-p" data-type = 'closeCouponPopUp'>Got It</span>
    <p class="msr-info-text small light">For any queries, contact us on <a href="mailto:customer.service@makaan.com" class="contact-link">customer.service@makaan.com</a> or <a href="tel:+918899939993" class="contact-link">+91 8899939993</a></p>
</div>