<span class="icon-close close-popup" data-type="closePopup"></span>
<div data-type='nonSelectSellerBack' class="backbutton text-left">
    <span class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </span>
</div>
<div class="msr-head"></div>
<div class="msr-content">
    <h3 class="msr-title-text"> Choose the seller of your finalized home</h3>
    <div class="msr-question-wrap">
      <ul class="seller-list" data-type="NON_SELECT_SELLER_LIST">
            {{~it.nonSelectSellers :nonSelectItem: nonSelectIndex}}
            <li>
                <label>
                    <div class="seller-wrap">
                        <div class="sllrimg">
                            {{? nonSelectItem.logo }}
                                <div class="seller-logo" style="background-image: url('{{=nonSelectItem.logo}}')"></div>
                            {{?? nonSelectItem.companyAvatar }}
                                    <span class="initial"  style="background-color: {{=nonSelectItem.companyAvatar.backgroundColor}};color:{{=nonSelectItem.companyAvatar.textColor}};">{{=nonSelectItem.companyAvatar.text}}</span>
                            {{?}}
                        </div>
                        <div class="seller-details">
                            <div class="seller-name">{{=nonSelectItem.companyName}}</div>
                            {{?nonSelectItem.companyName == nonSelectItem.sellerName}}
                                <div class="connect-time">{{=nonSelectItem.contact}}</div>
                            {{??}}
                                <div class="connect-time">{{=nonSelectItem.sellerName}} | {{=nonSelectItem.contact}}</div>
                            {{?}}
                        </div>
                    </div>
                    <input class="radioinput" type="radio" name="seller" data-type="choose-nonSelectSeller"  data-company-id="{{=nonSelectItem.companyId}}" data-company-name="{{=nonSelectItem.companyName}}" data-seller-id="{{=nonSelectItem.sellerUserId}}" >
                    <span class="radiobtn-wrap"><span class="radiobtn"></span></span>
                </label>
            </li>
            {{~}}
        </ul>
        <div class = "global-msg-wrap text-center">
            <div class="error-msg js-nonSelectSeller-errorMsg" data-message="PHONE"></div>
        </div>
    </div>
    <p class="msr-info-text text-center small">Still not found the right seller, contact us on <a href="mailto:customer.service@makaan.com" class="contact-link">customer.service@makaan.com</a>  or <a href="tel:+918899939993" class="contact-link">+91 8899939993</a></p>
  	<div class="btn-wrap text-center">
    	<span class="cbtn cbtn-p" data-type = "NON_SELECT_SELLER_SUBMIT" >Proceed</span>
    </div>
 </div>