<span class="icon-close close-popup" data-type="closePopup"></span>
<div class="msr-head"></div>
<div class="msr-content text-center">
    <h3 class="msr-title-text small high-gap">We could not find any <span class="select-highlighter"> Select</span> Voucher associated with this phone ******{{= it.screenData && it.screenData.otpContact ||"****"}}</h3>
	<span class="cbtn cbtn-p" data-type='NO_SELECT_COUPON_SUBMIT'>Try other number</span>
    <p class="msr-info-text small light">For any queries, contact us on <a href="mailto:customer.service@makaan.com" class="contact-link">customer.service@makaan.com</a> or <a href="tel:+918899939993" class="contact-link">+91 8899939993</a></p>
</div>