<span class="icon-close close-popup" data-type="closePopup"></span>
<div class="msr-head"></div>
<div class="msr-content text-center">
    <h3 class="msr-title-text">
      <span>We have sent a code on</span>
      ******{{= it.screenData && it.screenData.otpContact || "****"}}
    </h3>
    <div class="msr-question-wrap">
        <div class="verification-wrap">
            <div class="verfication-code" data-type="OTP_FIELD">
                <div class="fc-wrap verification-code-value clearfix">
                    <input maxlength="4" type="tel" name="otp_shareCoupon"/>
                    <div class="error-msg otp-error js-otp-errorMsg"></div>
                </div>
            </div>
            <div class="clearfix hide"><i class="icon-tick"></i> </div>
        </div>
        <div class="resetbtn-wrap">
            <a class="txtlink" data-type="OTP_ONCALL">Receive OTP on call</a>
            <a class="txtlink resendtxt" data-type="OTP_RESEND">Resend?</a>
        </div>
    </div>
    <span class="cbtn cbtn-p" data-type = "OTP_SUBMIT" data-normal>Verify</span>
    <span class="cbtn cbtn-p hide" data-processing >Processing...</span>
</div>
