<span class="icon-close close-popup" data-type="closePopup"></span>
<div class="msr-head"></div>
<div class="msr-content">
    <h3 class="msr-title-text">Choose your <span class="select-highlighter"> Select </span> Agent to UNLOCK your voucher code </h3>
    <div class="msr-question-wrap">
      <ul class="seller-list" data-type="SELECT_SELLER_LIST">
            {{~it.selectSellers :item: index}}
            <li>
                <label>
                    <div class="seller-wrap">
                        <div class="sllrimg">
                            {{? item.logo }}
                                <div class="seller-logo" style="background-image: url('{{=item.logo}}')"></div>
                            {{?? item.companyAvatar }}
                                    <span class="initial"  style="background-color: {{=item.companyAvatar.backgroundColor}};color:{{=item.companyAvatar.textColor}};">{{=item.companyAvatar.text}}</span>
                            {{?}}
                        </div>
                        <div class="seller-details">
                            <div class="seller-name">{{=item.companyName}}</div>
                            {{?item.companyName == item.sellerName}}
                                <div class="connect-time">{{=item.contact}}</div>
                            {{??}}
                                <div class="connect-time">{{=item.sellerName}} | {{=item.contact}}</div>
                            {{?}}
                        </div>
                    </div>
                    <input class="radioinput" type="radio" name="seller" data-type="choose-selectSeller"  data-company-id="{{=item.companyId}}" data-seller-name="{{=item.sellerName}}" data-seller-id="{{=item.sellerUserId}}" data-seller-contact="{{=item.contact}}" data-seller-email="{{=it.sellerEmail}}"  >
                    <span class="radiobtn-wrap"><span class="radiobtn"></span></span>
                </label>
            </li>
            {{~}}
        </ul>
        <div class = "global-msg-wrap text-center">
            <div class="error-msg js-selectSeller-errorMsg" data-message="PHONE"></div>
        </div>
    </div>
    {{? it.showSellerNotFound}}
        <p class="msr-info-text text-center small">Not able to find Select Agent, <span class="link" data-type='selectNoSeller'>Click here</span></p>
    {{?}}

    <div class="btn-wrap text-center">
    	<span class="cbtn cbtn-p" data-type = "SELECT_SELLER_SUBMIT" data-normal >Proceed</span>
        <span class="cbtn cbtn-p hide" data-processing >Processing...</span>
    </div>

 </div>