<span class="icon-close close-popup" data-type="closePopup"></span>
<div class="msr-head"></div>
<div class="msr-content text-center">
    <h3 class="msr-title-text">
      <span>Please verify your number to</span>
      Unlock your <span class="select-highlighter"> Select</span> Voucher to get discount
    </h3>
    <div class="msr-question-wrap share-contact">
        <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
        <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd disabled js-countries">
            <script type="text/x-config">
                {"templateFromPromise": true, "defaultValue":"1"}
            </script>
        </div>
        <div class="country-code-contact clearfix fc-wrap">
            <span class="countryCode" id="COUNTRY_CODE">--</span>
            <div data-module="InputBox" id="share-coupon-phone">
                <script type="text/x-config">
                    {"label": "Mobile", "inputName":"share-coupon-phone","value":"","textIndent":"42px","type":"number","maxlength":14, "className" : "js-mobile"}
                </script>
                <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                <div class="error-msg js-mobile-errorMsg" data-message="PHONE"></div>
            </div>
        </div>
    </div>
    <div class = "global-msg-wrap">
        <div class="error-msg js-mobileProceed-errorMsg" data-message="PHONE"></div>
    </div>
    <span class="cbtn cbtn-p" data-type = "SHARE_CONTACT_SUBMIT" data-normal >Proceed</span>
    <span class="cbtn cbtn-p hide" data-processing >Processing...</span>
</div>