<span class="icon-close close-popup" data-type="closePopup"></span>
<div data-type='shareAddressBack' class="backbutton text-left">
    <span class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </span>
</div>
<div class="msr-head"></div>
<div class="msr-content">
    <h3 class="msr-title-text">Which locality/ society have you moved into?</h3>
    <div class="msr-question-wrap">
      <div data-module="typeAhead" id="user_city" class="typeAhead-hl fc-wrap">
          <script type="text/x-config">
              { "city": "", "inputName":"user_city_name", "typeAheadType": "project,locality,suburb", "placeholder": "Enter locality/society ","includeGoogplePlace":true, "includeSuggestion":true, "templatePath":"doT!modules/typeAhead/views/project","keepSelection":true }
          </script>
          <div class="error-msg js-address-errorMsg"></div>
      </div>
    </div>
    <div class="btn-wrap text-center">
      <span class="cbtn cbtn-p" data-type='SHARE_ADDRESS_SUBMIT' data-normal>Proceed</span>
      <span class="cbtn cbtn-p hide" data-processing >Processing...</span>
    </div>
</div>
