<span class="icon-close close-popup" data-type="closePopup"></span>
<div class="msr-head"></div>
<div class="msr-content text-center">
    <h3 class="msr-title-text small high-gap">You can only unlock your voucher code once you have finalized your new home with<span class ='select-highlighter'> Select </span>agent</h3>
	<span class="cbtn cbtn-p" data-type='redirect-makaan' data-normal>Got it</span>
	<span class="cbtn cbtn-p hide" data-processing >Processing...</span>
    <p class="msr-info-text small light">For any queries, contact us on <a href="mailto:customer.service@makaan.com" class="link">customer.service@makaan.com</a>  or <a href="tel:+918899939993" class="contact-link">+91 8899939993</a></p>
</div>