<link rel="stylesheet" type="text/css" href="../../../styles/css/components/filters-desktop.css?__inline=true" />
<div class="filter-btns">
    <div class="fwrap fbed" data-module="multiSelectOptions" data-type="plot" data-mCards="true" data-morefilter="true"></div>
    <div class="btn-divider"></div>
    <div class="fwrap fbed" data-module="multiSelectOptions" data-type="beds" data-mCards="true" data-morefilter="true"></div>
</div>
<div class="filter-budget">
    <div class="title">
        Budget
    </div>
    <div class="budget-slider">
        <div class="clearfix fwrap fbudget" data-module="rangeSlider"  data-type="budget" data-morefilter="true">
         <script type="text/x-config">
                {
                    "connect":true
                }
            </script>
        </div>
    </div>
    <div class="view-prop">
            <a data-type="apply-filters" data-force-update="true" class="no-ajaxy cbtn cbtn-p" data-collapsedivclass="expanded-filters-div" data-expanddivclass="more-filters-btn-div">
                View Properties
                <span class="countval"></span>
            </a>
    </div>
</div>
