<link rel="stylesheet" type="text/css" href="../../../styles/css/components/filters-desktop.css?__inline=true" />
<div class="f-container-d" data-filters>
    <div class="clearfix {{ if(it.isProjectSerp){ }}  proj-filter {{ } }}">
        <div class="pull-left">
            <div class="flexrow {{=it.showFilterClass}}">

                <div class="tfcol findicator">
                    <div class="filter-hdng">
                        <span class="flbl">Filters</span>
                    </div>
                </div>

                <div class="tfcol ptype-wrap">
                    <div class="filter-hdng">
                        <span class="flbl" data-target="prop-type-placeholder" data-default="property type">Property Type</span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dd ddproptype" data-module="multiSelectOptions" data-type="propertyType" data-view="checkbox"></div>
                </div>

                <div class="tfcol budget-wrap">
                    <div class="filter-hdng">
                        <span class="flbl" data-target="budget-placeholder" data-default="Price">Price</span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dd ddbudget" data-module="rangeInputDropdown" data-type="budget">
                        <script type="text/x-config">
                            {
                                "dropdownOptionsCount": 10
                            }
                        </script>
                    </div>
                </div>

                <div class="tfcol area-wrap">
                    <div class="filter-hdng">
                        <span class="flbl" data-target="area-placeholder" data-default="Area">Area</span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dd ddparea" data-module="rangeInputDropdown" data-type="area">
                        <script type="text/x-config">
                            {
                                "dropdownOptionsCount": 10
                            }
                        </script>
                    </div>
                </div>

                {{ if(it.isProjectSerp){ }}
                <div class="tfcol projstatus-wrap">
                    <div class="filter-hdng">
                        <span class="flbl" data-target="status-placeholder"  data-default="Project Status">Project Status</span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dd ddprojstatus" data-view="checkbox" data-module="multiSelectOptions" data-type="projectStatus"></div>
                </div>
                {{ } }}

                <div class="tfcol more-filter-wrap">
                    <div class="filter-hdng">
                        <span class="flbl more-filter-lbl">More
                            <span data-target="more-filter-count-placeholder"></span>
                        </span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="more-filter-dd">
                        <div class="hcol">
                            <div class="filter-row">
                                {{ if(!it.isProjectSerp){ }}
                                <div class="fcol">
                                    <div class="f-lbl m0">Transaction Type</div>
                                    <div class="fwrap fresale" data-module="singleSelectDropdown"  data-type="newOrResale" data-morefilter="true"></div>
                                </div>
                                {{ } }}
                                <div class="fcol">
                                    <div class="f-lbl">Pre Leased</div>
                                    <div class="fwrap fposs" data-module="singleSelectOptions" data-type="currentlyLeasedOut" data-morefilter="true"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="filter-row">
                                <div class="f-lbl">Furnishing Status</div>
                                <div class="fwrap ffurn" data-module="multiSelectOptions" data-type="furnished" data-morefilter="true"></div>
                            </div>
                            <div class="filter-row">
                                <div class="f-lbl">Under Construction (Possession In)</div>
                                <div class="fwrap fposs" data-module="singleSelectOptions" data-type="possession" data-morefilter="true"></div>
                            </div>
                            {{ if(!it.isProjectSerp){ }}
                            <div class="filter-row">
                                <div class="f-lbl">Ready to Move (Age of property)</div>
                                <div class="fwrap fage" data-module="singleSelectOptions" data-type="ageOfProperty" data-morefilter="true"></div>
                            </div>
                            {{ } }}
                        </div>
                        <div class="vcol">
                            {{ if(!it.isProjectSerp){ }}
                            <div class="listedby-wrap">
                                <div class="f-lbl">Posted By</div>
                                <div class="fwrap fpost-by" data-module="multiSelectOptions" data-type="postedBy" data-view="checkbox" data-morefilter="true" data-isCityDependent="true"></div>
                            </div>
                            {{ } }}
                        </div>
                        <div class="vcol">
                            <div class="fcol">
                                <div class="f-lbl m0">Floor</div>
                                <div class="parea-lbl" data-type="property-floor-dropdown">
                                    <span class="txt" data-target="floor-placeholder" data-default="Select Floor" data-morefilter="true">Select Floor</span>
                                    <i class="icon-chevron-down"></i>
                                    <div class="dd ddparea">
                                        <div class="fwrap farea" data-module="rangeInputDropdown" data-type="floor" data-morefilter="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="tfcol reset-wrap" data-type="reset-filters">
                    <span class="resetbtn">
                        <span class="flbl">Reset</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="flexrow">
                <div class="tfcol sortby-wrap js-sortby-wrap {{=it.showFilterClass}}">
                    <div class="filter-hdng">
                        <span class="icon-wrap">
                            <i class="icon-sort">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                            </i>
                        </span>
                        <span class="lbl-wrap">
                            <div class="sortby-lbl flbl">Sort by</div>
                            <div class="sortby-val" data-target="sort-placeholder" data-default="Relevance">Relevance</div>
                        </span>

                    </div>
                    {{ if(!it.isProjectSerp){ }}
                        <div class="dd ddsortby js-ddsortby" data-module="singleSelectOptions" data-type="sortBy" data-view="list"></div>
                    {{ }else{ }}
                        <div class="dd ddsortby js-ddsortby" data-module="singleSelectOptions" data-type="projectSortBy" data-view="list"></div>
                    {{ } }}
                </div>
            </div>
        </div>
    </div>
</div>