<!-- Filters for Homepage MOBILE starts -->
<link rel="stylesheet" type="text/css" href="../../../styles/css/components/filters-mobile.css?__inline=true" />
<div class="home-m-filter-wrap">

    <div class="filter-wrap">
        <div class="f-row">
            <div class="f-lbl">BHK</div>
            <div class="fwrap fbed" data-module="multiSelectOptions" data-type="beds" data-morefilter="true"></div>
        </div>
        <div class="f-row budgetrow">
            <div class="f-lbl">Budget</div>
            <div class="clearfix fwrap fbudget" data-module="rangeSlider" data-budget-slider data-type="budget" data-morefilter="true"></div>
        </div>
        <div class="f-row">
            <div class="f-lbl">Property Type</div>
            <div class="fwrap fprop-type" data-module="multiSelectOptions" data-view="checkbox" data-type="propertyType" data-morefilter="true"></div>
        </div>
    </div>
</div>
<!-- Filters for Homepage MOBILE ends -->
