<!-- Filters for Homepage desktop starts -->
<link rel="stylesheet" type="text/css" href="../../../styles/css/components/filters-desktop.css?__inline=true" />
<div class="home-d-filter-wrap">
    <div class="filter-wrap">
        <div class="flexrow">
            <div class="hsf-col bhk"><!-- hsf = home search filter -->
                <div class="filter-hdng">
                    <span class="flbl" data-target="bedroom-placeholder" data-default="BHK">BHK</span>
                    <i class="icon-chevron-down"></i>
                </div>
                <div class="dd ddbed" data-module="multiSelectOptions" data-type="beds"></div>
            </div>
            <div class="hsf-col budget">
                <div class="filter-hdng">
                    <span class="flbl" data-target="budget-placeholder" data-default="Budget">Budget</span>
                    <i class="icon-chevron-down"></i>
                </div>
                <div class="dd ddbudget" data-module="rangeInputDropdown" data-type="budget">
                    <script type="text/x-config">
                        {
                            "dropdownOptionsCount": 10
                        }
                    </script>
                </div>
            </div>
            <div class="hsf-col prop-type">
                <div class="filter-hdng">
                    <span class="flbl" data-target="prop-type-placeholder" data-default="Property Type">Property Type</span>
                    <i class="icon-chevron-down"></i>
                </div>
                <div class="dd ddproptype" data-module="multiSelectOptions" data-type="propertyType" data-view="checkbox" data-morefilter="true"></div>
            </div>
        </div>
    </div>
</div>
<!-- Filters for Homepage desktop ends -->
