<!-- mobile container for filters -->
<link rel="stylesheet" type="text/css" href="../../../styles/css/components/filters-mobile.css?__inline=true" />
<div id="f-container-mob" class="f-container-mob">
    <div class="first-fold more-filters-btn-div clearfix {{ if(it.isProjectSerp){ }} proj-filter {{ } }} {{?(it.overrideParams && it.overrideParams.showExpanded)}} hide {{?}}">

        <div class="l-col back-content {{= it.showBackToDivClass}}">
            <a data-type="goto-back-history" class="no-ajaxy">
                <span class="first-span"><i class="icon-arrow-left"></i> Back </span>
            </a>
            <span class="prev-val">to {{= it.backButtonText }}</span>
        </div>

        <div class="l-col  {{=it.showFilterClass}}">

            <div class="buy-rent-wrap js-buy-rent-wrap">
                <div class="filter-hdng">
                    <span class="lbl-wrap">
                        <div class="cont-lbl js-buyRentPlaceholder">Commercial Buy</div>
                    </span>
                    <span class="icon-wrap">
                        <i class="icon-chevron-down"></i>
                    </span>
                </div>
                <div class="dd ddsortby js-ddbuyrentwrap">
                    <!--<div class="resiHeading"><span>Residential</span></div>-->
                    <label for="buyid" class="independent-single-select">
                        <input id="buyid" type="radio" name="buy-rent-switch" value="buy">Buy <i class="icon-tick"></i></label>

                    <label for="rentid" class="independent-single-select">
                        <input id="rentid" type="radio" name="buy-rent-switch" value="rent">Rent <i class="icon-tick"></i></label>

                    <!--<div class="comHeading"><span>Commercial</span></div>
                    <label for="commercialBuyid" class="independent-single-select">
                        <input id="commercialBuyid" type="radio" name="buy-rent-switch" value="commercialBuy" checked>Buy <i class="icon-tick"></i></label>

                    <label for="commercialLeaseid" class="independent-single-select">
                        <input id="commercialLeaseid" type="radio" name="buy-rent-switch" value="commercialLease">Lease <i class="icon-tick"></i></label>-->
                </div>
            </div>
            <div class="f-more-wrap" data-type="more-filters" data-expanddivclass="expanded-filters-div" data-collapsedivclass="more-filters-btn-div">
                <div class="filter-hdng">
                    <span class="icon-wrap">
                        <span class="icon-equalizer"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
                    </span>
                    <span class="lbl-wrap">
                        <div class="cont-lbl">Filter</div>
                        <div class="cont-val"><span data-target="more-filter-count-placeholder" data-default="None">None</span> Applied</div>
                    </span>
                </div>
            </div>
            <div class="sortby-wrap js-sortby-wrap">
                <div class="filter-hdng">
                    <span class="icon-wrap">
                        <i class="icon-sort">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                        </i>
                    </span>
                    <span class="lbl-wrap">
                        <div class="cont-lbl">Sort by</div>
                        <div class="cont-val" data-target="sort-placeholder" data-default="Relevance">Relevance</div>
                    </span>
                </div>

                {{ if(!it.isProjectSerp){ }}
                <div class="dd ddsortby js-ddsortby" data-module="singleSelectOptions" data-type="sortBy" data-view="list"></div>
                {{ }else{ }}
                <div class="dd ddsortby js-ddsortby" data-module="singleSelectOptions" data-type="projectSortBy" data-view="list"></div>
                {{ } }}
            </div>
            <div class="clear"></div>

        </div>

    </div>
    <div class="f-expanded expanded-filters-div {{?!(it.overrideParams && it.overrideParams.showExpanded)}} hide {{?}}" data-type="navigation-container">
        <div class="filter-hdr">
            <i class="icon-equalizer">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
            </i> Refine your search
            <span  data-type="cancel-more-filters" data-collapsedivclass="expanded-filters-div" data-expanddivclass="more-filters-btn-div" class="no-ajaxy icon-close close-filter"></span>
        </div>

        <div class="fe-container" data-module="navigation" data-type="navigation">

                    <script type="text/x-config">{ "data":[{"text":"Location","id":"flocation", "hide":true},{ "text":"Bedroom", "id":"fbedroom", "hide":true },{ "text":"Budget", "id":"fbudget", "hide":true },{ "text":"Floor", "id":"ffloor", "hide":true },{ "text":"Seller Ratings", "id":"frating", "hide":true },{ "text":"Property Type", "id":"fproptype", "hide":true },{ "text":"Listed By", "id":"flistedby", "hide":true},{ "text":"Project Status", "id":"fprojstatus", "hide":true},{ "text":"Bathroom", "id":"fbath", "hide":true},{ "text":"Furnishing", "id":"ffurnish", "hide":true},{ "text":"Area", "id":"farea", "hide":true},{ "text":"Pre Leased", "id":"fprel", "hide":true},{ "text":"Property Age", "id":"fpropage", "hide":true},{"text":"Possession","id":"fpossn", "hide":true },{ "text":"New / Resale", "id":"fnewresale", "hide":true}],"offset": 55,"fixedWidth":false,"scrollSpy":true}
                    </script>

                    <div data-placeholder="navigation" class="lhs"></div>

                    <div data-placeholder="navigation-area" class="rhs">

                        <div class="f-row">
                            <div class="f-lbl">I’m Looking to</div>
                            <div class="buy-rent-wrap">
                                <fieldset>
                                    <!--<div class="resiComWrap">
                                        <div class="fResiHeading">
                                            <span>Residential</span>
                                        </div>
                                        <div class="fComHeading selectedHeading">
                                            <span>Commercial</span>
                                        </div>
                                    </div>-->
                                    <div class="switch-toggle">
                                        <input id="toBuy" name="buy-rent-switch2" type="radio" value="buy" data-type="listing-category-switch">
                                        <label for="toBuy" onclick="">Buy</label>

                                        <input id="toRent" name="buy-rent-switch2" type="radio" value="rent" data-type="listing-category-switch">
                                        <label for="toRent" onclick="">Rent</label>

                                        <!--<input id="toCommercialBuy" name="buy-rent-switch2" checked type="radio" value="commercialBuy" data-type="listing-category-switch">
                                        <label for="toCommercialBuy" onclick="">Buy</label>

                                        <input id="toCommercialLease" name="buy-rent-switch2" type="radio" value="commercialLease" data-type="listing-category-switch">
                                        <label for="toCommercialLease" onclick="">Lease</label>-->
                                        <a></a>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div id="flocation" class="f-row">
                            <div class="f-lbl">Location</div>
                            <div class="filter-typeahead multiloclity-search-wrap">
                                <div data-module='search' id="mobileFilter">
                                    <div data-module="typeAhead" id="filter-typeahead" class="search-wrap">
                                        <script type="text/x-config">
                                            { 
                                                "name": "searchTypeAhead",
                                                "multiselect":["LOCALITY", "SUBURB"],
                                                "rows": 5,
                                                "templatePath":"doT!modules/typeAhead/views/mobileSearch",
                                                "typeaheadResultsDataSource": {
                                                    "filePath": "services/searchService",
                                                    "serviceName": "SearchService",
                                                    "functionName": "getTypeaheadResults"
                                                },
                                                "loaderElementClass": "search-loader",
                                                "minLength": 2,
                                                "layoutPreloaded":true
                                            }
                                        </script>
                                        <span class="srchicon">
                                        <span class="icon-search"><span class="path1"></span><span class="path2"></span></span>
                                        </span>
                                        <div class="thcontainer">
                                            <div data-type="overlay-sec" class="thoverlay hidden"></div>
                                            <div class="tag-wrap" data-type="tags">
                                                <div class="srched-tag js-default-suggestion js-suggestion-tag-dummy no-close-tag hide"><span class="val js-tag"></span><span class="close"></span></div>
                                                <div class="srched-tag js-capsuleCounter js-suggestion-tag-dummy more-tag hide" data-type="tag-minicount"></div>
                                                <input type="text" disabled='disabled' class="js-input thinput" data-type='query-text' placeholder="loading...">
                                            </div>
                                            <div class="thdd" data-type='search-list'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="fbudget" class="f-row">
                            <div class="f-lbl">Budget</div>
                            <div class="clearfix fwrap fbudget" data-module="rangeSlider"  data-budget-slider data-type="budget" data-morefilter="true"></div>
                        </div>

                        <div id="ffloor" class="f-row">
                            <div class="f-lbl">Floor</div>
                            <div class="clearfix fwrap ffloor" data-module="rangeSlider"  data-floor-slider data-type="floor" data-morefilter="true"></div>
                        </div>

                        <div id="fproptype" class="f-row">
                            <div class="f-lbl">Property Type</div>
                            <div class="fwrap fprop-type" data-module="multiSelectOptions" data-view="checkbox" data-type="propertyType" data-morefilter="true"></div>
                        </div>

                        {{ if(!it.isProjectSerp){ }}
                        <div id="flistedby" class="f-row">
                            <div class="f-lbl">Listed By</div>
                            <div class="fwrap fpost-by" data-module="multiSelectOptions" data-view="checkbox" data-type="postedBy" data-morefilter="true"></div>
                        </div>
                        {{ } }}

                        {{ if(it.isProjectSerp){ }}
                        <div id="fprojstatus" class="f-row">
                            <div class="tfcol projstatus-wrap">
                                <div class="f-lbl">Project Status</div>
                                <div class="fwrap fprop-type" data-view="checkbox" data-morefilter="true" data-module="multiSelectOptions" data-type="projectStatus"></div>
                            </div>
                        </div>
                        {{ } }}

                        {{ if(!it.isProjectSerp){ }}
                        <div id="ffurnish" class="f-row">
                            <div class="f-lbl">Furnished</div>
                            <div class="fwrap ffurn" data-module="multiSelectOptions" data-view="checkbox" data-type="furnished" data-morefilter="true"></div>
                        </div>
                        {{ } }}

                        <div id="farea" class="f-row">
                            <div class="f-lbl">Area</div>
                            <div class="clearfix fwrap farea" data-module="rangeSlider"  data-type="area" data-morefilter="true"></div>
                        </div>

                        <div id="fprel" class="f-row">
                            <div class="f-lbl">Pre Leased</div>
                            <div class="fwrap fpossn" data-module="singleSelectOptions" data-type="currentlyLeasedOut" data-morefilter="true"></div>
                        </div>

                        {{ if(!it.isProjectSerp){ }}
                        <div id="fpropage" class="f-row">
                            <div class="f-lbl">Ready to Move in (Age of Property)</div>
                            <div class="fwrap fage" data-module="singleSelectOptions" data-type="ageOfProperty" data-morefilter="true"></div>
                        </div>
                        {{ } }}

                        <div id="fpossn" class="f-row">
                            <div class="f-lbl">Under Construction (Possession In)</div>
                            <div class="fwrap fpossn" data-module="singleSelectOptions" data-type="possession" data-morefilter="true"></div>
                        </div>

                        {{ if(!it.isProjectSerp){ }}
                        <div id="fnewresale" class="f-row">
                            <div class="f-lbl">New / Resale</div>
                            <div class="fwrap fresale" data-module="singleSelectOptions" data-type="newOrResale" data-view="radio" data-morefilter="true"></div>
                        </div>
                        {{ } }}

                        <div class="clear"></div>

                    </div>

        </div>

        <div class="btn-wrap-close">
            <a class="btnreset no-ajaxy cbtn" data-type="reset-filters">Reset</a>
            <a  data-type="apply-filters" class="no-ajaxy cbtn cbtn-p viewbtn" data-collapsedivclass="expanded-filters-div" data-expanddivclass="more-filters-btn-div">
                <span class="btnloader js-btnloader hide">loading... </span>
                <span class="js-count-properties">View Properties</span>
            </a>
        </div>

    </div>
</div>
