<link rel="stylesheet" type="text/css" href="../../../styles/css/components/filters-desktop.css?__inline=true" />
<div class="f-container-d rent-filters" data-filters>
    <div class="clearfix">
        <div class="pull-left">

            <div class="back-content {{= it.showBackToDivClass}}">
                <a data-type="goto-back-history" class="no-ajaxy">
                    <span class="first-span"><i class="icon-arrow-left"></i> Back </span>
                </a>
                <span class="prev-val">to {{= it.backButtonText }}</span>
            </div>

            <div class="flexrow {{=it.showFilterClass}}">

                <div class="tfcol findicator">
                    <div class="filter-hdng">
                        <span class="flbl">Filters</span>
                    </div>
                </div>

                <div class="tfcol ptype-wrap">
                    <div class="filter-hdng">
                        <span class="flbl" data-target="prop-type-placeholder" data-default="property type">Property Type</span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dd ddproptype" data-module="multiSelectOptions" data-type="propertyType" data-view="checkbox"></div>
                </div>

                <div class="tfcol budget-wrap">
                    <div class="filter-hdng">
                        <span class="flbl" data-target="budget-placeholder" data-default="Price">Price</span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dd ddbudget" data-module="rangeInputDropdown" data-type="budget">
                        <script type="text/x-config">
                            {
                                "dropdownOptionsCount": 10
                            }
                        </script>
                    </div>
                </div>

                <div class="tfcol listedby-wrap">
                    <div class="filter-hdng">
                        <span class="flbl" data-target="age-of-property-placeholder" data-default="age of property">Age of property</span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dd ddproptype " data-module="multiSelectOptions" data-type="ageOfProperty" data-view="checkbox"></div>
                </div>

                <div class="tfcol listedby-wrap">
                    <div class="filter-hdng">
                        <span class="flbl" data-target="furnish-type-placeholder" data-default="furnishing type">furnishing type</span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="dd ddproptype" data-module="multiSelectOptions" data-type="furnished" data-view="checkbox"  data-isCityDependent="true"></div>
                </div>

                <div class="tfcol more-filter-wrap">
                    <div class="filter-hdng">
                        <span class="more-filter-lbl">More
                            <span data-target="more-filter-count-placeholder"></span>
                        </span>
                        <i class="icon-chevron-down"></i>
                    </div>
                    <div class="more-filter-dd js-more-filter-dd">
                        <div class="hcol">
                            <div class="filter-row">
                                <div class="f-lbl">Bathroom</div>
                                <div class="fwrap fbath" data-module="singleSelectOptions" data-type="baths" data-morefilter="true"></div>
                            </div>
                            <div class="filter-row">
                                <div class="fcol">
                                    <div class="f-lbl m0">Area</div>
                                    <div class="parea-lbl" data-type="property-area-dropdown">
                                        <span class="txt" data-target="area-placeholder" data-default="Select Size (sq ft)" data-morefilter="true">Select Size (sq ft) </span>
                                        <i class="icon-chevron-down"></i>
                                        <div class="dd ddparea">
                                            <div class="fwrap farea" data-module="rangeInputDropdown" data-type="area" data-morefilter="true"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fcol">
	                                <div class="f-lbl m0">Floor</div>
	                                <div class="parea-lbl" data-type="property-floor-dropdown">
	                                    <span class="txt" data-target="floor-placeholder" data-default="Select Floor" data-morefilter="true">Select Floor</span>
	                                    <i class="icon-chevron-down"></i>
	                                    <div class="dd ddparea">
	                                        <div class="fwrap farea" data-module="rangeInputDropdown" data-type="floor" data-morefilter="true"></div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="clear"></div>
                            </div>
                            <div class="filter-row">
                                <div class="f-lbl">Availability</div>
                                <div class="fwrap favail" data-module="singleSelectOptions" data-type="availability" data-morefilter="true"></div>
                            </div>
                        </div>
                        <div class="vcol">
                            {{ if(!it.isProjectSerp){ }}
                            <div class="listedby-wrap">
                                <div class="f-lbl">Listed By</div>
                                <div class="fwrap fpost-by" data-module="multiSelectOptions" data-type="postedBy" data-view="checkbox" data-morefilter="true"></div>
                            </div>
                            {{ } }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="tfcol reset-wrap" data-type="reset-filters">
                    <span class="resetbtn" >
                        Reset
                    </span>
                </div>
            </div>
        </div>

        <div class="pull-right">
            <div class="flexrow">
                <div class="tfcol sortby-wrap js-sortby-wrap  {{=it.showFilterClass}}">
                    <div class="filter-hdng">
                        <span class="icon-wrap">
                            <i class="icon-sort">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                            </i>
                        </span>
                        <span class="lbl-wrap">
                            <div class="sortby-lbl">Sort by</div>
                            <div class="sortby-val" data-target="sort-placeholder" data-default="Relevance">Relevance</div>
                        </span>
                    </div>
                    <div class="dd ddsortby js-ddsortby" data-module="singleSelectOptions" data-type="sortBy" data-view="list"></div>
                </div>
            </div>
        </div>
    </div>
</div>
