{{?(it.minPrice && it.minPrice.val)}}
<span class="price">
    <i class="icon-rupee currency"></i>
    <span class="val">
        <span class ="js-price-min-val">{{=it.minPrice.val}}</span>
    </span>
    <span class="unit capitalize js-price-min-unit">{{=it.minPrice.unit}}</span>
</span>
{{?}}
{{?(it.maxPrice && it.maxPrice.val)}}
<span class="price js-max-price">
    <span> - </span>
    <i class="icon-rupee currency"></i>
    <span class="val">
        <span class="js-price-max-val">{{=it.maxPrice.val}}</span>
    </span>
    <span class="unit capitalize js-price-max-unit">{{=it.maxPrice.unit}}</span>
</span>
{{?}}
