{{? it.homeloan}}
    <div class='js-homeloanHeading'>
        <div class="hdng">Become Home Loan Agent</div>
        <div class="slogan">Powered By</div>
        <div><img src="/images/sellerHomePage/pnb.png" height="32" alt="PNBHFL"></div>
        <div class="shdng">Let's get you setup</div>
    </div>
{{??}}
    <div class="hdng">Share your Details</div>
    <div class="slogan">Share your details with us and our representatives will get in touch with you.</div>
{{?}}

<div class="row-wrap clearfix js-homeloanFields">
    <div class="form-row">
        <div data-module="InputBox" class="fc-wrap">
            <script type="text/x-config">
                {"label": "Name", "inputName":"client-name", "maxlength":50}
            </script>
            <div class="js-input-placeholder" data-type="NAME_FIELD"></div>
            <div class="error-msg" data-message="NAME"></div>
        </div>
    </div>
    <div class="form-row">
        <div data-module="InputBox" class="fc-wrap">
            <script type="text/x-config">
                {"label": "Email", "inputName":"client-email", "maxlength":50}
            </script>
            <div class="js-input-placeholder" data-type="EMAIL_FIELD"></div>
            <div class="error-msg" data-message="EMAIL"></div>
        </div>
    </div>
    <div class="form-row clearfix ">
        <input type="hidden" data-country="COUNTRY_ID_FIELD" value=""/>
        <div data-module="singleSelectDropdown" data-type="countries" class="country-dd js-countries {{? it.homeloan}} disabled-item {{?}}">
            <script type="text/x-config">
                {"templateFromPromise": true, "defaultValue":1, "error":"" }
            </script>
        </div>
        <div class="country-contact withouticon clearfix">
            <div data-module="InputBox" class="fc-wrap">
                <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD"></span>
                <script type="text/x-config">
                    {"label": "Mobile", "inputName":"client-phone-num","textIndent":"42px","type":"number","maxlength":14}
                </script>
                <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                <div class="error-msg" data-message="PHONE"></div>
            </div>
        </div>
    </div>
    {{? it.homeloan}}
        <div class="form-row fc-wrap">
            <input type="hidden" data-city="CITY_ID_FIELD" value="" />
            <div data-module="singleSelectDropdown" data-type="cities" class="js-cityList mrtop35 ">
                <script type="text/x-config">
                    {"templateFromPromise": true,"error":"" }
                </script>
            </div>
            <div class="error-msg" data-message="CITY"></div>
        </div>
        <div class="form-row fc-wrap">
            <input type="hidden" data-branch="BRANCH_ID_FIELD" value="" />
            <div data-module="singleSelectDropdown" data-type="branch" class="js-branchList mrtop35 ">
                <script type="text/x-config">
                    {"templateFromPromise": true,"error":"", "name":"branch"}
                </script>
            </div>
            <div class="error-msg" data-message="BRANCH"></div>
        </div>

    {{?}}
    {{? !(it.hideComment)}}
        <div class="form-row">
            <span class="textarea-title">Comment</span>
            <textarea class="form-control intp js-mail-message" rows="5" data-type="COMMENTS">{{=it.placeholder}}</textarea>
        </div>
    {{?}}
    <div class="global-msg-wrap">
        <div class="error-msg" data-message="GLOBAL"></div>
        <div class="success-msg" data-message="SUCCESS"></div>
    </div>
    <div class="btn-wrap" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone" data-navigation-step="MAIN">
        <span class="cbtn cbtn-p">Submit</span>
    </div>
</div>
<div class="row-wrap clearfix js-homeloanThankyou hide">
    <div class="form-row">
        <div><img src="/images/sellerHomePage/home-loan-thankyou.jpg" width="300" alt="PNBHFL"></div>
    <div>
        <div class="btn-wrap" data-type="HOMELOAN_OKAY" data-validation-strategies="phone" data-navigation-step="MAIN">
        <span class="cbtn cbtn-p">Continue on makaan</span>
    </div>
