{{? it.response.match.length }}
    <ul>
    {{~it.response.match :value:index}}
        <li>
            <span data-val="{{=value.label}}" data-projectid="{{=value.localityId}}" data-lat="{{=value.latitude}}" data-lng="{{=value.longitude}}" data-tagid="{{=value.localityId}}" data-type="search-element">{{=value.label}}</span>
        </li>
    {{~}}
    </ul>
{{?}}

{{? it.response.nearBy.length }}
    <div class="hdng"> Nearby </div>
    <ul>
    {{~it.response.nearBy :value:index}}
        <li>
            <span data-val="{{=value.label}}" data-projectid="{{=value.localityId}}" data-lat="{{=value.latitude}}" data-lng="{{=value.longitude}}" data-tagid="{{=value.localityId}}" data-type="search-element">{{=value.label}}</span>
        </li>
    {{~}}
    </ul>
{{?}}

{{? it.response.suggestion.length }}
    <div class="hdng">Suggestion </div>
    <ul>
    {{~it.response.suggestion :value:index}}
        <li>
            <span data-val="{{=value.label}}" data-projectid="{{=value.localityId}}" data-lat="{{=value.latitude}}" data-lng="{{=value.longitude}}" data-tagid="{{=value.localityId}}" data-type="search-element">{{=value.label}}</span>
        </li>
    {{~}}
    </ul>
{{?}}
