<div class="thcontainer">
    <div data-type="overlay-sec" class="thoverlay hidden"></div>
    {{? !it.hideTags && it.multiselect }}
    <div class="tag-wrap" data-type="tags">
        <span class="initCapsule srched-tag js-default-suggestion js-suggestion-tag-dummy no-close-tag hide"><span class="val js-tag"></span><span class="close"></span></span>
        <span class="srched-tag js-capsuleCounter js-suggestion-tag-dummy hide" data-type="tag-minicount"></span>
        <input type="text" class="thinput" data-type='query-text' placeholder="{{=it.placeholder}}" name="{{=it.inputName}}">
    </div>
    {{??}}
        <input type="text" class="thinput" data-type='query-text' placeholder="{{=it.placeholder}}" name="{{=it.inputName}}">
    {{?}}
    <div class="thdd" data-type='search-list'></div>
</div>
