<ul>
    {{? it.response && it.response.match.length }}
        {{~it.response.match :value:index}}
            <li data-val="{{=value.displayText}}" data-projectid="{{=value.entityId}}" data-type="search-element" data-buildername="{{=value.builderName}}">
                <div class="clearfix result-row">
                    <span class="result">{{=value.displayText}}</span>
                </div>
            </li>
        {{~}}
    {{?}}
    {{? !it.initial && (!it.response || !it.response.match.length) }}
    <li>Sorry, No Matching results found</li>
    {{?}}
</ul>
