{{##def.searchicons:
    {{? option.type =='CITY'}}
        <span class="icon-locality">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
        </span>
    {{?? option.type =='LOCALITY'}}
        <span class="icon-locality">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
        </span>
    {{?? option.type =='SUBURB'}}
        <span class="icon-locality">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
        </span>
    {{?? option.type =='BUILDER' || option.type == 'BUILDERCITY'}}
        <span class="icon-builder">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span>
        </span>
    {{?? option.type =='PROJECT'}}
        <span class="icon-project">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span>
        </span>
    {{?? option.type =='GP'}}
        <span class="icon-landmark">
            <span class="path1"></span><span class="path2"></span>
        </span>
    {{?}}
#}}

<div class="search-loader playopacity">
    <i class="icon-reset rispinner">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
    </i>
</div>


{{ var i = 0; }}
{{~it.response :cat:outerIndex}}
    {{? cat.type && cat.type.length }}
    <strong>{{=cat.type}}</strong>
    {{?}}

    <ul>
        {{~cat.values :option:index}}
            {{ i = i+1; }}
            <li class="clearfix {{? (outerIndex==0&&index==0) }}hover{{?}}" data-type="search-element" data-track-check="search" data-optiontype="{{=option.type}}" data-val="{{=option.displayText}}" data-tagid="{{=option.id}}" data-link="{{=option.redirectUrl}}" data-tagtype="{{=option.type}}" data-latitude="{{=option.latitude}}" data-longitude="{{=option.longitude}}" data-city="{{=option.city}}" {{?option.cityId }}  data-cityid="{{=option.cityId}}" {{?}} data-entityid="{{=option.entityId || option.googlePlaceId}}" {{?option.localityId }} data-localityid="{{=option.localityId}}" {{?}} data-entityname="{{=option.entityName}}" data-index={{=i}} data-suggestionType="{{=cat.type}}">
                <div class="result-row">
                    {{#def.searchicons}}
                    <div class="result-type">
                        <div class="result">{{=option.displayText}}</div>
                        {{? option.showType }}
                        <div class="type">{{=option.showType}}</div>
                        {{?}}
                    </div>
                </div>
            </li>
        {{~}}
    </ul>
{{~}}
{{? (it.inputValue && it.inputValue.length) && !(it.response && it.response.length ) }}
<ul><li>Sorry, No matching results found</li></ul>
{{?}}
