{{? it.latest}}
<div class="srched-tag js-srched-tag" title="{{=it.tags.val}}">
    <span class="val js-tag">{{=it.tags.val}}</span>
    <span class="close" data-type="{{=it.datatype}}" data-tagId="{{=it.tags.tagid}}"></span>
</div>
{{??}}
    {{~it.tags :value:index}}
        <div class="srched-tag js-srched-tag" title="{{=value.val}}">
            <span class="val js-tag">{{=value.val}}</span>
            <span class="close" data-type="{{=it.datatype}}" data-tagId="{{=value.tagid}}"></span>
        </div>
    {{~}}
{{?}}