<div class="leadform-wrap no-padding sem-lead">
    <div data-type="closePopup" data-source="close-icon" class="close-popup"> <i class="icon-close"></i> </div>
    <div class="agent">
        <div class="agent-logo">
            {{? it.companyImage }}
            <img class="agent-logo-img" src="{{=it.companyImage}}"> {{?}} {{? !it.companyImage && it.companyAvatar }}
            <div class="seller-img-box" style="background-color: {{=it.companyAvatar.backgroundColor}}">
                <span class="initial" style="color:{{=it.companyAvatar.textColor}}">{{=it.companyAvatar.text}}</span>
            </div>
            {{?}}
        </div>
        <div class="agent-name">{{=it.companyName}}</div>
        {{? it.companyRating && it.companyType && it.companyType.toLowerCase() !== 'builder' && it.companyType.toLowerCase() !== 'owner' }}
        <div class="agent-rating">
            <div class="rating" data-module="sellerRating"  data-sellerrating="{{=it.companyRating || ''}}"></div>
        </div>
        {{?}}
    </div>
    <div class="fc-wrap clearfix lead-submit-form">
        <div data-module="InputBox"  class="input-email fc-wrap inputbox clearfix">
            <script type="text/x-config">
                {"label": "Email", "inputName":"client-email", "value":"{{=it.email || '' }}","maxlength":50}
            </script>
            <div class="js-input-placeholder" data-type="EMAIL"></div>
            <div class="error-msg" data-message="EMAIL"></div>
        </div>
        <input type="hidden" data-country="MAIN_COUNTRY" value="" />
        <div data-module="singleSelectDropdown"  data-type="countries" data-countryPopulate class="country-dd js-countries">
            <script type="text/x-config">
                {"templateFromPromise": true, "defaultValue": 1 }
            </script>
        </div>
        <div class="fc-wrap inputbox country-code-contact clearfix">
            <span class="countryCode" data-country-code="MAIN_COUNTRY_CODE">--</span>
            <div data-module="InputBox" >
                <script type="text/x-config">
                    {"label": "Mobile", "inputName":"client-phone-num","textIndent":"42px","value":"{{=it.phone || '' }}","type":"number","maxlength":14}
                </script>
                <div class="js-input-placeholder" data-type="MAIN_PHONE"></div>
                <div class="error-msg" data-message="PHONE"></div>
            </div>
        </div>
    </div>
    <div class="cbtn cbtn-p clearfix" data-type="CALL_ME_NOW">Call me now</div>
    <div class="imp-points-container">
        <ul class="imp-points">
            <li>
                <span class="imp-point one">
	                           <!--<img src="/images/icons.png"> -->
	                       </span>
                <span class="imp-points-text">Verified listings</span>
            </li>
            <li>
                <span class="imp-point two">

	                       </span>
                <span class="imp-points-text">Expert consultation</span>
            </li>
            <li>
                <span class="imp-point three">

	                       </span>
                <span class="imp-points-text">Free<br>site visit</span>
            </li>
            <li>
                <span class="imp-point four">

	                       </span>
                <span class="imp-points-text">Best <br>price</span>
            </li>
        </ul>
    </div>
    <div class="privacy-text">Our professionals will help you find the right property from an immense variety of options across all price ranges.</div>
</div>
