<div data-type="closePopup" data-source="close-icon" class="close-popup"> <i class="icon-close"></i> </div>
<div class="thank-you">
    <div class="green-tick-wrap">
        <div class="green-tick"></div>
    </div>
    <div class="clearfix"></div>
    <div class="thank-you-content">
        <h2 class="heading">Thank you</h2>
        <div class="text">Our agents will get in touch with you shortly</div>
    </div>
    <div class="clearfix"></div>
    <!--add button-->
    {{?it.sellerUrl}}
    <div class="cbtn cbtn-p clearfix"><a style="color: white;text-decoration: none;" data-type="EXPLORE_OTHER" href="{{=it.sellerUrl}}">Explore other projects</a></div>{{?}}
</div>
