{{? it.projects && it.projects.length }}
    {{ var suffix =  it.projects.length == 1 ? "" : "s"; }}

    <div class="pp-card-wrap max1140 clearfix {{?it.isSponsored && it.isRHS}} sponsored-project {{?}}" >
        <h3 class="title"><label>{{? it.title }} {{=it.title}} {{??}} Featured {{?}} Project{{=suffix}} {{?it.label&&!it.isSponsored}}</label> <span class="txt">in {{=it.label}} <span class="gif featured"></span>{{?}}</span></h3>
        {{?!it.isSponsored}}
            <div class="subtitle">Featured project{{=suffix}} {{?suffix}}are{{??}}is{{?}} handpicked by our trusted seller{{=suffix}} for you!</div>
        {{?}}

        {{? it.projects.length >= it.lengthForSlider && (!it.isSponsored || (it.isSponsored && !it.isRHS))}}
        <div class="slider-wrap clearfix"  data-module="slider"  data-window="f-projects-slider">
            <div class="sudowrap" id="f-projects-slider">
                <ul class="pp-list" data-type="list-container">
        {{??}}
        <div class="slider-wrap clearfix"  data-window="f-projects-slider">
            <div class="sudowrap" id="f-projects-slider">
                <ul class="pp-list clearfix" data-type="list-container">
        {{?}}
                    {{~it.projects :value:index}}
                	<li class="pp-card {{?it.isSponsored}} js-sponsoredProject {{?}}" data-type="list-element" data-id="{{=value.projectId}}">
                        <a href="{{=value.overviewUrl}}">
                    		<div class="pp-img-wrap">
                    			<img data-src="{{=value.backgroundImage}}" alt="{{=value.altText}}" src="/images/dummyPX.png">
                                {{?it.isSponsored && it.isRHS}}<!-- builderLogo -->
                                    <div class="sp-logo" data-background-image={{=value.builderLogo}}>
                                    </div>
                                {{?}}
                    			<div class="view-pp-layer">
                    				<span class="cbtn cbtn-p">View Project</span>
                    			</div>
                    		</div>
                            <div class="pp-content-wrap">
                                <div class="pp-na-wrap">
                                    <div class="pp-name">{{=value.projectFullName}}</div>
                                    <div class="pp-address">{{=value.localityName}}</div>
                                </div>
                                <div class="pp-tp-wrap">
                                    <div class="pp-type">
                                        {{?value.bedrooms}}{{=value.bedrooms}}{{?}} {{?value.propertyTypes}}{{=value.propertyTypes}}{{?}}
                                    </div>
                                    {{? value.price && value.price.min && value.price.max }}
                                        <div class="pp-price">₹ {{=value.price.min}} - {{=value.price.max}}</div>
                                    {{?}}
                                </div>
                            </div>
                        </a>
                	</li>
                    {{~}}
                    {{? it.projects.length < 3 && !it.isMobile && it.exploreMoreUrl && (!it.isSponsored || (it.isSponsored && !it.isRHS)) }}
                	<li class="pp-card info-placeholder" data-type="list-element">
                		<div class="ip-img-wrap"></div>
                        <div class="info-content">
                            <h4>More Projects</h4>
                            <p>You can explore an extensive collection of popular projects  {{?it.label}} in {{=it.label}}{{?}}.</p>
                            <a href="{{=it.exploreMoreUrl}}" class="txtbtn">Explore Now</a>
                        </div>
                	</li>
                    {{?}}
                </ul>
            </div>
            {{? it.projects.length >= it.lengthForSlider}}
            <div class="btn-prev hide1024nbelow js-prev disable" data-type="back-btn"><i class="icon-chevron-left"></i></div>
            <div class="btn-next hide1024nbelow js-next disable" data-type="next-btn"><i class="icon-chevron-right"></i></div>
            {{?}}
        </div>
    </div>
{{?}}
