{{? it.projects && it.projects.length }}
    {{ var value =  it.projects[0];}}
    <div class="sp-mobile js-spcard" >
            <span class="icon-close" data-type = 'close-spcard' data-id="{{=value.projectId}}"></span>
             <a href="{{=value.overviewUrl}}">
            	<div class="sp-card" data-type="list-element" data-id="{{=value.projectId}}">
            		<div class="sp-img-wrap">
            			<img src="{{=value.backgroundImage}}" alt="{{=value.altText}}">
            		</div>
                    <div class="sp-detail-wrap">
                        <div class="sp-name">{{=value.projectFullName}}</div>
                        <div class="sp-address">{{=value.localityName}}</div>
                        <div class="sp-type">
                            {{?value.bedrooms}}{{=value.bedrooms}}{{?}} {{?value.propertyTypes}}{{=value.propertyTypes}}{{?}}
                        </div>
                        {{? value.price && value.price.min && value.price.max }}
                            <div class="sp-price"><span class="currency"></span> {{=value.price.min}} - {{=value.price.max}}</div>
                        {{?}}
                    </div>
            	</div>
            </a>
    </div>
{{?}}
