/*@import "material.min.css";*/


/*@import "../main.scss";*/

.accordion-toggle:after {
    /* symbol for "opening" panels */
    content: "\ebaf";
    font-family: icomoon;
    color: #f00;
    font-size: 28px;
    position: absolute;
    right: 15px;
    top: 8px;
}

a.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "\ebae";
}

body {
    background: #ffffff;
    font-family: Roboto, -apple-system, BlinkMacSystemFont,
      Helvetica Neue, Segoe UI, sans-serif;
}
.map-image{
    max-height: 100%;
    max-width: 100%;
}

.selectbox {
    width: 100%;
    min-height: 64px;
}

.selectbox .fc {
    min-height: 64px;
}

.input-box input {
    height: 36px;
}

.fc-wrap label {
    top: 11px;
}

.fc-wrap.selectbox {
    margin-top: 8px;
}

.fc-wrap.selectbox .fc {
    border-color: #cccccc;
}

.fc-wrap.selectbox label {
    top: 36px;
}

.fc-wrap.selectbox:focus label,
.fc-wrap.selectbox.focus label,
.fc-wrap.selectbox.active label {
    top: 20px;
}

.fc-wrap.selectbox.active .txt {
    font-size: 16px;
    position: absolute;
    top: 36px;
}

.fc-wrap.selectbox.open .select-dropdown{
    max-height: 350px;
}

.mn-ctn .select-dropdown {
    top: 64px;
}

.fc-wrap i.arrowdown {
    top: 36px;
}

.footer-heading h2{
    font-size: 18px;
    margin-top: 0px;
}

form {
    max-width: 850px;
    margin: 0 auto;
}

.sn-brd {
    border-top: solid 1px #ccc;
}

.mdl-textfield__label {
    top: 10px !important;
}

#accordion {
    padding-bottom: 50px;
}

.panel-title {
    width: 90%;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.padding-top {
    padding: 10px 0 0;
}

.no-margin {
    margin: 0px !important;
}

.makaan-share-btn {
    position: relative;
    float: right;
    top: -4px;
}

i.indicator {
    color: rgb(255, 64, 129);
    font-size: 25px;
}

.makaan-contact .mdl-textfield,
.makaan-contact button {
    width: 100%;
}

h2.title-text {
    text-align: center;
    font-size: 28px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.office-address {
    padding: 100px 50px 50px;
    text-align: center;
    vertical-align: middle;
}

.office-address h3 {
    font-size: 16px;
}

.social-link h3 {
    color: #575757;
    margin-top: 50px;
    font-size: 43px;
}

.social-link h3 .first-word {
    color: #F15748;
}

ul.privacy {
    padding-left: 15px;
    font-size: 16px;
}

p.privacy-line {
    font-size: 20px;
    color: #454545;
}

ul.privacy > li {
    list-style-image: url("/images/contactUs/bullet.png");
    margin-bottom: 30px;
}

.privacy > li > ul li {
    list-style-type: circle !important;
    list-style-image: none;
}

.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-submenu {
    margin-left: 20px;
}

.panel-title i {
    padding-top: 10px;
}

.panel-heading {
    position: relative;
}

.panel-heading a {
    color: rgb(4, 4, 4);
}
.panel-heading a:hover, .panel-heading a:active, .panel-heading a:focus{
    text-decoration: none;
    color: #e81c28;
    outline: none;
}

.panel-heading a:focus {
    outline: none;
}

.social-icons img,
.social-icons {
    float: left;
    position: relative;
}

.social-icons img.facebook {
    width: 130px;
    float: left;
}

.social-icons img.google {
    width: 60px;
    float: left;
    top: 69px;
}

.social-icons img.twiter {
    width: 70px;
    position: absolute;
    margin-left: -10px;
}

.social-icons img.pintrest {
    width: 60px
}

.social-icons img.linkedin {
    width: 80px;
    position: relative;
    margin-left: -62px;
    margin-top: 60px;
}

.social-icons img.youtube {
    width: 60px;
    /* position: absolute; */
    margin-left: -19px;
    margin-top: 25px;
    z-index: -1;
}

.submit-wrap{
    position: relative;
}
.submit-wrap .success-msg, .submit-wrap .error-msg-submit{
    font-size: 16px;
    position: absolute;
    bottom: 38%;
    left: 22%;
}

.submit-wrap .error-msg-submit {
    color: #e81c28;
}

@media screen and (max-width: 640px) {
    h2.header-title {
        font-size: 24px;
    }
    .office-address {
        padding: 10px 20px 20px;
        text-align: center;
    }
    .social-link h3 {
        margin-top: 0px;
        font-size: 30px;
        text-align: center;
    }
    .social-icons img,
    .social-icons {
        float: none;
        margin: 0px auto;
        text-align: center;
    }
    .social-icons img.facebook {
        width: 50px;
        float: none;
    }
    .social-icons img.google {
        width: 50px;
        float: none;
        top: auto;
    }
    .social-icons img.twiter {
        width: 50px;
        margin: 0;
    }
    .social-icons img.pintrest {
        width: 50px;
    }
    .social-icons img.linkedin {
        width: 50px;
        margin: 0;
    }
    .social-icons img.youtube {
        width: 50px;
        margin: 0;
    }
}


/* find us*/

.fnd {
    background-color: #fbb416;
    padding: 50px 15px;
    padding-bottom: 60px;
}

.fnd h3 {
    margin-top: 0px;
    font-size: 43px;
    color: #ce3132;
    margin-bottom: 20px;
}

.fnd p {
    margin-top: 90px;
    color: #fff;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.fnd p span.bghd {
    font-size: 20px;
}


/*18 march contact us new */

div.nv {
    display: block;
    overflow: hidden;
}

div.nv ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

div.nv ul li {
    display: inline-block;
}

div.nv ul li a {
    padding: 15px 22px;
    color: #333;
    text-decoration: none;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    font-size: 16px;
    display: block;
}

div.nv ul li a:hover,
div.nv ul li.active a {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    background-color: #f7f8f8;
    font-weight: 400;
}

.rse {
    margin: 0px;
    min-height: 85px;
    background-image: url("/images/contactUs/header-title.png");
    text-align: center;
    color: #fff;
    font-size: 32px;
    padding-top: 20px;
}

h3.strt {
    margin: 40px auto 30px auto;
    font-size: 28px;
}

input.intp,
select.intp {
    border: none;
    box-shadow: none;
    border-radius: 0px;
}

.mn-ctn {
    margin: 0 0px 20px 0;
    padding: 0 35px;
    max-width: 450px;
}

.mn-ctn.country-code-contact .country-code {
    position: absolute;
    left: 0;
    top: 9px;
}

.mn-ctn.country-code-contact .input-box input {
    text-indent: 36px;
}

.mn-ctn.country-code-contact label {
    left: 36px;
}

.mn-ctn.country-code-contact .input-box.active label {
    left: 0;
}

.mn-ctn.subject {
    width: 100%;
    max-width: 100%;
    margin-top: 13px;
    padding: 0 50px;
}

.mn-ctn.subject .input-box {
    margin-top: 0;
}

.mn-ctn.message {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    padding: 0 50px;
}

textarea.intp {
    height: auto;
    border: none;
    box-shadow: none;
    border-bottom: solid 1px #ccc;
    border-radius: 0px;
    padding: 0;
}

.btn-san, .btn {
    width: 100%;
    background-color: #e81c28;
    color: #fff;
    font-size: 20px;
    padding: 10px 0px 6px;
    border-radius: 8px;
    margin: 30px 0px;
    border-bottom: 4px solid #e81c28;
}

.btn-san:hover, .btn:hover, .btn:focus, .btn.focus{
    padding-bottom: 6px;
    border-color: #e4101d #e4101d #8f0f16;
    color: #ffffff;
    outline: none;
}


.btn-san+p {
    font-size: 18px;
}

.lst0 {
    background-color: #fbb416;
    padding: 30px 50px;
    margin-top: 40px;
}

#googleMap {
    min-height: 450px;
}

.form-control:focus {
    box-shadow: none;
}

p.ttu {
    color: #fff;
    margin-top: 30%;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 1px;
    text-transform: lowercase;
}

p.ttu span {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.lst0 h3 {
    font-size: 45px;
    display: block;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 20px;
    color: #ce3132;
}

@media screen and (max-width: 719px) {
    div.nv ul li a {
        padding: 12px 7px;
        font-size: 14px;
        margin: 0px;
    }
    .rse {
        min-height: 65px;
        font-size: 22px;
    }
    h3.strt {
        margin: 20px auto 0px auto;
        font-size: 20px;
    }
    .m-map {
        padding: 30px 16px;
    }
    #googleMap {
        min-height: 300px;
        overflow: hidden;
    }
    .lst0 h3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .mn-ctn{
        max-width: 100%;
    }
    .mn-ctn.subject{
        margin-top: 20px;
    }
    .submit-wrap {
        position: relative;
        max-width: 500px;
        width: 75%;
        margin: auto auto;
        float: none;
    }
    .submit-wrap .success-msg{
        bottom: 32%;
        left: 4%;
    }
}
/* tnc-edited*/

.panel-heading a {
    display: block;
    overflow: hidden;
}

#accordion .panel-heading{
    padding: 0;
}

#accordion .panel-heading a{
    padding: 15px;
}


h3.strt2 {
    margin-bottom: 10px;
    font-size: 24px;
}

h4.tnn {
    font-size: 24px;
    line-height: 32px;
    margin: 24px 0 16px;
}


/* privacy policy */

.rjas {
    padding-top: 15px;
    padding-bottom: 50px;
}


p {
    margin: 14px 0px;
}