{{? it.response && it.response.match.length }}
    <ul>
        {{~it.response.match :value:index}}
            <li data-map='graph-project' data-val="{{=value.entityName}}" data-entityid="{{=value.entityId}}" data-entitytype="{{=value.type}}" data-lat="{{=value.latitude}}" data-lon="{{=value.longitude}}" data-type="search-element" data-tagtype="{{=value.type}}">
                <div class="clearfix result-row">
                    <span class="result">{{=value.entityName}}</span>
                </div>
            </li>
        {{~}}
    </ul>
{{?}}

{{? (it.inputValue && it.inputValue.length) && !(it.response && it.response.match && it.response.match.length ) }}
    <ul>
        <li>Sorry, No matching results found</li>
    </ul>
{{?}}
