<div class="card-content">
    <div class="clearfix card-title">
        <div data-type="BACK" class="mcard-back-btn-wrap" data-type='filter-back'>
            <div class="mcard-back-btn"></div>
        </div>
        <div>Verify your number</div>
    </div>
    <div class="step3">
        <!-- OTP form  starts -->
        <div class=" clearfix">
            <div class="clearfix otp-wrap">
                <div class="otp-image clearfix">
                    <i class="icon-otp">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span>
                    </i>
                </div>
                <div class="contact clearfix">
                    OTP sent on {{=it.phone }}
                </div>
                <div class="verification-wrap clearfix">
                    <div class="verfication-code clearfix" data-type="OTP_FIELD">
                        <div class="fc-wrap verification-code-value clearfix">
                            <input maxlength="4" type="tel" data-type="otp" name="otp" />
                        </div>
                    </div>
                    <div class="clearfix text-center"><i class="icon-tick"></i> </div>
                </div>
                <div class="resend clearfix">
                    <a data-type="OTP_ONCALL" class="linktxt">Receive OTP on call</a>
                    <a data-type="OTP_RESEND" class="linktxt resendtxt">Resend?</a>
                </div>
            </div>
            <div class="w40 form-group leadform no-padding clearfix ">
                <div data-module="InputBox"  id="pyr-name">
                    <script type="text/x-config">
                        {"label": "name", "inputName":"client-name","value":"{{=it.name || '' }}","maxlength":50}
                    </script>
                    <div class="js-input-placeholder" data-type="EMAIL_FIELD"></div>
                     <div class="error-msg" data-message="EMAIL"></div>
                </div>
                <div data-module="InputBox"  id="pyr-email">
                    <script type="text/x-config">
                        {"label": "email", "inputName":"client-email","value":"{{=it.email || '' }}","maxlength":50}
                    </script>
                    <div class="js-input-placeholder" data-type="NAME_FIELD"></div>
                    <div class="error-msg" data-message="NAME"></div>
                </div>
            </div>
        </div>
        <!-- OTP form ends -->
    </div>
</div>
