{{? it.isPopup === true }}
    <div data-type="closePopup" data-source="close-icon" class="close-popup">
        <i class="icon-close"></i>
    </div>
{{?}}
<div class="card-content">
    <div class="clearfix card-title">
        <div data-type="BACK" class="mcard-back-btn-wrap js-step2Back" data-type='filter-back'>
            <div class="mcard-back-btn"></div>
        </div>
        <div>Enter your details</div>
    </div>
    <div class="step2">
        <div class="w40 form-group leadform no-padding clearfix js-right-step1-container">
            <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
            <div data-module="singleSelectDropdown"  data-type="countries" class="js-countries country-dd" style="margin: 35px 0 0 0">
                <script type="text/x-config">
                    {"templateFromPromise": true}
                </script>
            </div>

            <div class="country-code-contact">
                <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD">--</span>
                <div data-module="InputBox"  id="pyr-phone">
                    <script type="text/x-config">
                        {"label": "Mobile", "inputName":"client-phone-num","value":"{{=it.phone || '' }}","textIndent":"36px","type":"number","maxlength":14}
                    </script>
                    <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                    <div class="error-msg" data-message="PHONE"></div>
                </div>
            </div>
        </div>

        <div class="chkbox-wrap">
            <label for="othr-sllr-check" class="checkboxlbl">
                <input id="othr-sllr-check" type="checkbox" value="other-seller-check" data-type="BUYER_OPT_IN" {{? it.optInCheckedStatus}} checked="" {{?}} />
                <span class="txt">
                    Allow matching sellers to reach out
                </span>
            </label>
            <span class="tooltip-wrap">
                <a class="infoo" title="">?</a>
                <span class="mp-tooltip top">
                    Makaan as a platform is focused on ensuring buyers are able to connect with the right sellers assisting them on their way to their dream home.<br><br>By selection this option, we will connect you with the right sellers basis your requirements using our real time tracking engine
                </span>
            </span>
        </div>
        
        <div class="submit clearfix text-center">
            <div class="error-msg js-noSellers hide" >
                Sorry, no matching sellers found!<br>You should try broadening your requirements<br><br>
            </div>
            <input type="Submit" value="Modify Requirements" data-type="GO_BACK_REFINE" class="cbtn cbtn-p js-goBack hide" />

            <input type="Submit" value="next" data-type="CONTINUE_NEXT" class="cbtn cbtn-p js-submit" />

            <input type="button" value="processing..."  class="hide js-submitting cbtn cbtn-p" />
            
        </div>
    </div>
</div>
