{{? it.isPopup === true }}
    <div data-type="closePopup" data-source="close-icon" class="close-popup">
        <i class="icon-close"></i>
    </div>
{{?}}
<div class="card-content">
    <div class="cube-flip step4">
        <div class="thank-you-wrap">
            <div class="thanks-head"></div>
            <div class="thanks-image">
                <i class="icon-logo">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </i>
                <div class="thanks-big-text">Thank you</div>
                <div class="thank-text">
                    You'll shortly receive a call from Makaan
                    <br>Let the joy begin!
                </div>
                <div class="journey-img-wrap {{=it.isBuyLead === true ? 'homeloan' : ''}}"></div>
            </div>
        </div>
        {{? it.isBuyLead === true}}
            <div class="btn-wrap">
                <a class="txtbtn" data-type="pyr_close_lead"><span data-normal>Continue Search</span></a>
                <a class="cbtn cbtn-p" data-type="pyr_homeloan_apply"><span data-normal>Apply homeloan</span></a>
            </div>
        {{??}}
            <div class="btn-wrap">
                <a class="cbtn cbtn-p" data-type="pyr_close_lead"><span data-normal>Continue Search</span></a>
            </div>
        {{?}}
    </div>
</div>
