{{? it.isPopup === true }}
    <div data-type="closePopup" data-source="close-icon" class="close-popup">
        <i class="icon-close"></i>
    </div>
{{?}}
<div class="card-content">
    <div class="clearfix card-title">
        <div>Refine your requirements</div>
    </div>
    <div class="step1">
        <!-- PYR form starts -->
        <div class="req-box">
            <div class="box-title">Location</div>
            <div class="locality-select" data-type="location-placeholder">
                <div class="floating-count {{? (!it.localityIds || !it.localityIds.length ) }}hide{{?}}">{{? (it.localityIds && it.localityIds.length ) }}{{=(it.localityIds.length)}}{{?}}</div>
                <div class="circle-tick js-tick hide inactive">
                    <span class="applytxt">Apply</span>
                </div>
                <div class="fc-wrap inputbox clearfix">
                    <span class="placeholdertxt js-locality-no-select {{? (it.localityIds && it.localityIds.length ) }}hide{{?}}">Search locality </span>
                    <ul class="shown-list js-localities-selected-text">
                        {{? it.localityIds && it.localityIds.length }} {{~it.localityIds :value:index}} {{? index
                        <=1 }} <li>{{=value.name}}</li>
                            {{?}} {{~}} {{?}} {{? it.localityIds && it.localityIds.length > 2 }}
                            <li>+{{=(it.localityIds.length - 2)}}</li>{{?}}
                    </ul>
                </div>
                <div class="suggestion-box hide clearfix js-suggestion-box">
                    <div data-module="typeAhead" id="pyrTypeAhead">
                        <script type="text/x-config">
                            { "city": {{? it.cityName}} "{{=it.cityName}}" {{??}} "" {{?}}, "typeAheadType": "locality,suburb", "placeholder": "search locality {{? it.cityName}}in {{=it.cityName}} {{?}}", "rows": 5, "includeGoogplePlace":false, "includeSuggestion":false, "templatePath":"doT!modules/pyr/views/localityTypeAhead", "hideTypeAheadTags": true, "multiselect": ["LOCALITY", "SUBURB"] }
                        </script>
                        <span class="srchicon">
                        <span class="icon-search"><span class="path1"></span><span class="path2"></span></span>
                        </span>
                    </div>
                </div>
                <!--ul class="col-xs-12 col-sm-12 suggestion-list no-padding" data-type='search-list'> </ul-->
                <div class="clearfix no-padding text-left js-localities-selected-list hide location-selected-list">
                    <div class="js-localities-selected-list-error locality-max-error"></div>
                    <strong class="head-label {{? !it.localityIds || it.localityIds.length === 0 }}hide{{?}}">Selected Localities</strong>
                    <ul>
                        {{? it.localityIds && it.localityIds.length }} {{~it.localityIds :value:index}}
                        <li> <span class="selected-location-value">{{=value.name}}</span> <span class="close" data-type="remove-locality" data-index="{{=value.id}}"><i class="icon-close"></i></span> </li>
                        {{~}} {{?}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="req-box">
            <div class="bhk-select clearfix">
                {{~it.beds :bedType:index}}
                <label for="bhk-{{=bedType.value}}">
                    <input type="checkbox" id="bhk-{{=bedType.value}}" value="{{=bedType.value}}" {{? it.bhk && it.bhk.indexOf( '{{=bedType.value}}') !==- 1 }}checked{{?}} data-type="bhk-type" />
                    <span class="bhk-btn" data-type="">
                        <span class="val">{{=bedType.label}}
                        <span class="optional-txt">BHK</span>
                        </span>
                        <span class="bot-text">BHK</span>
                    </span>
                </label>
                {{~}}
                <div class="btn-divider"></div>
                <label for="plot">
                    <input type="checkbox" id="plot" value="3" data-type="property-type" />
                        <span class="bhk-btn" data-type="">
                        <span class="val">Plot</span>
                        <span class="bot-text">Land</span>
                    </span>
                </label>
            </div>
        </div>
        <div class="req-box">
            <div class="budget-select">
                <div class="box-title">Budget</div>
                <div data-module="rangeSlider" >
                    <script type="text/x-config">
                        {{=JSON.stringify(it.budgetFilterOptions)}}
                    </script>
                </div>
            </div>
        </div>
        <div class="submit clearfix text-center">
            <input type="Submit" value="submit" data-type="SUBMIT" class="cbtn cbtn-p" />
        </div>
        <!-- PYR form ends -->
    </div>
</div>
