<div class="rating-bar-wrap">
    {{? !it.ratingCount }}
        <h3>No buyer ratings for this seller</h3>
    {{??}}
    <div class="rb-row clearfix">
        <div class="star-number">5</div>
        <div class="star-icon"></div>
        <div class="bar-holder">
            <div class="bar-bg">
                <div class="fill-bar five width" style="width:{{=it.ratings.rating5.percentage}}%;"></div>
            </div>
        </div>
        <div class="buyer-num-holder"><span>{{=it.ratings.rating5.percentage.toFixed(1)}}</span> %</div>
    </div>

    <div class="rb-row clearfix">
        <div class="star-number">4</div>
        <div class="star-icon"></div>
        <div class="bar-holder">
            <div class="bar-bg">
                <div class="fill-bar four" style="width:{{=it.ratings.rating4.percentage}}%;"></div>
            </div>
        </div>
        <div class="buyer-num-holder"><span>{{=it.ratings.rating4.percentage.toFixed(1)}}</span> %</div>
    </div>

    <div class="rb-row clearfix">
        <div class="star-number">3</div>
        <div class="star-icon"></div>
        <div class="bar-holder">
            <div class="bar-bg">
                <div class="fill-bar three" style="width:{{=it.ratings.rating3.percentage}}%;"></div>
            </div>
        </div>
        <div class="buyer-num-holder"><span>{{=it.ratings.rating3.percentage.toFixed(1)}}</span> %</div>
    </div>

    <div class="rb-row clearfix">
        <div class="star-number">2</div>
        <div class="star-icon"></div>
        <div class="bar-holder">
            <div class="bar-bg">
                <div class="fill-bar" style="width:{{=it.ratings.rating2.percentage}}%;"></div>
            </div>
        </div>
        <div class="buyer-num-holder"><span>{{=it.ratings.rating2.percentage.toFixed(1)}}</span> %</div>
    </div>

    <div class="rb-row clearfix">
        <div class="star-number">1</div>
        <div class="star-icon"></div>
        <div class="bar-holder">
            <div class="bar-bg">
                <div class="fill-bar" style="width:{{=it.ratings.rating1.percentage}}%;"></div>
            </div>
        </div>
        <div class="buyer-num-holder"><span>{{=it.ratings.rating1.percentage.toFixed(1)}}</span> %</div>
    </div>
    {{?}}
</div>
