<div class="leadenquiry-container back-color call-screen-lead clearfix">
    <div class="project-img" style="background-image:url('/images/un-versioned/defaultLeadImg.png')">
    </div>
    <div class="call-screen-content" style="">
        {{? it.moduleParameters.isPopup }}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
        {{?}}
        {{? ['NewCall','Dial','Disconnect','Hangup','SellerUnavailable'].indexOf(it.displayData.callStep) >=0  }}
            <div class="current-call-details">
                {{? it.displayData.callStep === 'NewCall' }}
                    <div class="call-screen connected">
                {{?? it.displayData.callStep === 'Dial' }}
                    <div class="call-screen connecting">
                {{?? it.displayData.callStep === 'Hangup' || it.displayData.callStep === 'Disconnect' || it.displayData.callStep === 'SellerUnavailable' }}
                    <div class="call-screen not-connect">
                {{?}}

                    <div class="current-caller">
                    {{? it.displayData.companyImage }}
                        <div class="agent-logo-img avatar-fixed" style="background-image: url('{{=it.displayData.companyImage}}')"></div>
                    {{?? it.displayData.companyAvatar }}
                        <div class="agent-logo-img avatar-fixed" style="background-color: {{=it.displayData.companyAvatar.backgroundColor}}">
                            <span class="initial"  style="color:{{=it.displayData.companyAvatar.textColor}}">{{=it.displayData.companyAvatar.text}}</span>
                        </div>
                    {{?}}
                        <span class="text-ellipse width100">{{=it.displayData.companyName}}</span>
                    </div>
                    <div class="current-you">
                        <div class="user-img avatar-fixed img-box-circular" data-user-image>
                            <span data-initial class="initial"></span>
                                <span class="avatar {{? !it.moduleParameters.profileImageUrl}}default{{?}}">
                                    {{? it.moduleParameters.profileImageUrl}}
                                        <img src="{{=it.moduleParameters.profileImageUrl}}"/>
                                    {{?}}
                                </span>
                        </div>
                        <span style="overflow: hidden;display: inline-block; ">You</span>
                    </div>
                </div>
            </div>
        {{?}}
        <div class="text">
            <div class="line"></div>
            {{? it.postData.bhk  }}
                <span class="left text-ellipse">{{=it.postData.bhk }} bhk, {{?it.displayData.propertyTypeLabel}} {{=it.displayData.propertyTypeLabel}}{{?}}</span>
            {{?? it.displayData.projectName }}
                <span class="left text-ellipse">{{=it.displayData.projectName }}</span>
            {{?}}
            {{? it.displayData.price && it.displayData.price.val && !it.displayData.priceRanges }}
            <span class="right text-ellipse">
                 <i class="icon-rupee currency">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </i>
                <span class="val">{{=it.displayData.price.val}}</span> <span class="unit sent-case">{{=it.displayData.price.unit}}</span>
            </span>
            {{?}}
            {{? it.displayData.priceRanges && it.displayData.priceRanges.minPrice && it.displayData.priceRanges.maxPrice }}
                <span class="right text-ellipse">
                    <i class="icon-rupee currency">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                    </i>
                    <span class="val">{{=it.displayData.priceRanges.minPrice.val}}</span> <span class="unit sent-case">{{=it.displayData.priceRanges.minPrice.unit}}</span> -
                    <i class="icon-rupee currency">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                    </i>
                    <span class="val">{{=it.displayData.priceRanges.maxPrice.val}}</span> <span class="unit sent-case">{{=it.displayData.priceRanges.maxPrice.unit}}</span>
                </span>
            {{?}}
        </div>
    </div>
    <div class="call-body">
        {{? it.displayData.callStep === 'NewCall' }}
            <div class="text">we are connecting you to &nbsp;<br><span class="agent-name text-ellipse">{{=it.displayData.companyName}}</span></div>
            <div></div>
            <div class="agent-number">{{=it.displayData.callingNumber }}</div>

        {{?? it.displayData.callStep === 'Dial' }}
            <div class="text">you are getting a call from &nbsp;<br><span class="agent-name text-ellipse">{{=it.displayData.companyName}}</span></div>
             <div></div>
            <div class="agent-number">{{=it.displayData.callingNumber }}</div>

        {{?? it.displayData.callStep === 'Hangup' }}
            <div class="text">we were unable to <br> connect with you&nbsp;</div>

        {{?? it.displayData.callStep === 'Disconnect' }}
            <div class="text">we could not connect you with&nbsp;<br><span class="agent-name text-ellipse">{{=it.displayData.companyName}}</span></div>
            <div></div>
            <div class="agent-number">{{=it.displayData.callingNumber }}</div>

        {{?? it.displayData.callStep === 'SellerUnavailable'}}
            <div class="text"><span class="agent-name text-ellipse">{{=it.displayData.companyName}}</span>
            <span class="call-time">unavailable between {{=it.displayData.sellerTime.endTimeStr}} - {{=it.displayData.sellerTime.startTimeStr}} IST</span></div>
        {{?}}
        {{? it.showSelectBanner}}
        <div class="ms-promotion tipbox">
            <div class="bg-selectlogo"><i class="icon-select-logo"></i></div>
            <div class="tip-icon"><i class="icon-bulb"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></i></div>
            <div class="msp-txt">
                Don't forget to mention about discount voucher, <span class="linkk" data-type="tipCallingMSKnowMore">know more</span>
            </div>
            <div class="msbadge">
                <i class="icon-select-logo"></i> <i class="icon-select-txt"></i>
            </div>
        </div>
        {{?}}
    </div>
    <div class="btn-wrap">
        <a class="txtlink hide" data-type="FEEDBACK_BACK">Back</a>
        {{? it.displayData.callStep === 'Hangup' || it.displayData.callStep === 'Disconnect' }}
            <a class="txtlink" data-type="DISMISS_LEAD">continue</a>
            <a class="cbtn cbtn-p btn-excess-padding" data-type="CALL_STATUS_RETRY"><span data-normal>retry</span><span data-processing class="hide">processing...</span></a>
        {{??}}
            <a class="cbtn cbtn-p btn-excess-padding" data-type="DISMISS_LEAD"><span data-normal>continue</span><span data-processing class="hide">processing...</span></a>
        {{?}}
        <span class="show-error" data-message="GLOBAL"></span>
    </div>
</div>





