<div class="leadenquiry-container step-thanks clearfix">
    <div class="le-content">
        <div class="thank-pane">
            <div class="le-title">Thank you <span class="username">{{=it.postData && it.postData.name || ''}}</span></div>
            <div class="">For getting in touch</div>
            {{? it.displayData && it.displayData.isAccountLocked && it.displayData.lockedSellerText }}
                <div class="txt text-center locked-warn">{{= it.displayData.lockedSellerText }}</div>
            {{?}}
        </div>

        {{? it.isBuyLead === true}}
            <div class="second-pane">
                <div class="ttl">Also looking for a <b>Home Loan!</b></div>
                <div class="journey-img-wrap homeloan"></div>
                <div>Apply for Home Loan with ROI as low as 8.35%</b></div>
            </div>
        {{??}}
            <div class="second-pane">
                <div class="journey-img-wrap"></div>
            </div>
        {{?}}
            
        {{? it.isBuyLead === true}}
            <div class="btn-wrap">
                {{? it.moduleParameters && it.moduleParameters.isPopup!=false}}
                <a class="txtbtn" data-type="CONTINUE_SEARCH"><span data-normal>Continue Search</span></a>
                {{?}}
                <a class="cbtn cbtn-p" data-type="homeloan_apply"><span data-normal>Apply homeloan</span></a>
            </div>
        {{??}}
            <div class="btn-wrap">
                {{?it.showSelectBanner}}
                    <a class="cbtn cbtn-p" data-type = "searchSelectProperties"><span data-normal  data-source="${data.source}">Show Select Properties</span></a>
                {{??}}
                    <a class="cbtn cbtn-p" data-type="CONTINUE_SEARCH"><span data-normal>Continue Search</span></a>
                {{?}}
            </div>
        {{?}}
    </div>
</div>
