{{ function getTopSellers(company) { }}
    {{? !(it.displayData && it.displayData.hideSellersImages) }}
    <div class="slr-info-card">
        <div class="slr-sibox-wrap">
            {{? company.companyImage }}
            <div class="slr-img-box" style="background-image: url('{{=company.companyImage}}')"></div>
            {{?}} {{? !company.companyImage && company.companyAvatar }}
            <div class="slr-img-box" style="background-color: {{=company.companyAvatar.backgroundColor}}">
                <span class="initial" style="color:{{=company.companyAvatar.textColor}}">{{=company.companyAvatar.text}}</span>
            </div>
            {{?}}
        </div>
        <div class="slr-info">
            <div class="top-line" title="{{=it.displayData.companyName}}">
                {{=company.companyName}}
            </div>
            <div class="mid-line">
                <span class="seller-type expert">{{=company.sellerType || ''}} {{?company.sellerType && company.companyType }} . {{?}} {{=company.companyType || ''}}</span>
            </div>
        </div>
    </div>
    {{?}}
{{ } }}
<!-- new lead form -->
<div class="leadenquiry-container clearfix tsl-step">
    <div class="lead-heading clearfix">
        {{? it.moduleParameters.isPopup}} {{? it.stackLength>1}}
        <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
        {{?}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
        {{?}}
    </div>
    <div class="step-1">
        {{? it.displayData.configurationText}}
        <div class="rp">
            {{? it.displayData.configurationText.type == 'favourite'}}
            <div class="fv-title-icon">
                <img data-src="/images/lock_icon.png">
            </div>
            {{??}}
            <div class="rp-title-icon">
                <img data-src="/images/request price_icon.png">
            </div>
            {{?}}
            <div class="title rp-title">
                <div>{{=it.displayData.configurationText.text || ''}}</div>
            </div>
            <div class="{{?it.displayData.configurationText.type == 'favourite'}}fv-content{{??}}
                pr-content{{?}}">
                <div class="le-title">{{=it.displayData.configurationText.heading || ''}}</div>
            </div>
        </div>
        {{??}}
        <div class="title">
            {{? it.displayData.mainHeading }}
                <div>{{=it.displayData.mainHeading}}</div>
            {{??}}
                <div>Top sellers dealing in</div>
            {{?}}
            <span class="highlight">{{=it.displayData.projectName}}</span>
        </div>

        {{? !(it.displayData && it.displayData.hideSellersImages) }}
        <div class="slider-wraper-box">
            <div id="{{?it.moduleParameters.isPopup}}owl-demo1{{??}}owl-demo{{?}}" class="owl-carousel owl-theme sliding-list-wrap">
                {{ getTopSellers(it.displayData); }}
                {{? it.displayData.otherCompany}} {{~it.displayData.otherCompany :company:index}}
                   {{ getTopSellers(company); }}
                {{~}}{{?}}
            </div>
        </div>
        {{?}}
        

        {{?}}
        <div class="second-pane">
            <div class="form-row">
                <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
                <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd js-countries">
                    <script type="text/x-config">
                        {"templateFromPromise": true, "defaultValue": {{=it.postData.countryId}} }
                    </script>
                </div>
                <div class="fc-wrap inputbox country-code-contact clearfix">
                    <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD">--</span>
                    <div data-module="InputBox"  {{?it.moduleParameters.phoneElemSelector}}id="{{=it.moduleParameters.phoneElemSelector}}" {{?}}>
                        <script type="text/x-config">
                            {"label": "Mobile", "inputName":"client-phone-num","value":"{{=it.postData.phone || '' }}","textIndent":"42px","type":"number","maxlength":14}
                        </script>
                        <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                        <div class="error-msg" data-message="PHONE"></div>
                    </div>
                </div>
            </div>
            {{?it.displayData.showOptInBox}}
            <div class="note-txt top-seller-txt"></div>
            <div class="chkbox-wrap">
                <label for="othr-sllr-check-{{=it.moduleParameters.id}}" class="checkboxlbl">
                    <input id="othr-sllr-check-{{=it.moduleParameters.id}}" data-type="BUYER_OPT_IN" type="checkbox" data-value="other-seller-check" value="other-seller-check" {{? it.displayData.optInCheckedStatus}} checked="" {{?}} />
                    <span class="txt">
                        Allow matching sellers to reach out
                    </span>
                </label>
                <span class="tooltip-wrap">
                    <a class="infoo" title="">?</a>
                    <span class="mp-tooltip top">
                        Makaan as a platform is focused on ensuring buyers are able to connect with the right sellers assisting them on their way to their dream home.<br><br>By selection this option, we will connect you with the right sellers basis your requirements using our real time tracking engine
                    </span>
                </span>
            </div>
            {{?}}
        </div>
    </div>
    <div class="btn-wrap" data-type="first_submit">
          <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone" data-navigation-step="MAIN_TOP_SELLER">
            <span data-normal>
            {{? it.displayData.configurationText && it.displayData.configurationText.footer}}
                {{=it.displayData.configurationText.footer}}
            {{??}}
                Connect now
            {{?}}
            </span>
            <span data-processing class="hide">Processing...</span>
        </a>
        <span class="show-error" data-message="GLOBAL"></span>
    </div>
</div>
