<div class="leadenquiry-container step2 clearfix">
    <div class="second-pane">
        <div class="lead-heading clearfix">
            {{? it.moduleParameters.isPopup}}
            <div data-type="CLOSE_USER_DETAILS" class="close-popup">
                <i class="icon-close"></i>
            </div>
            {{?}}
        </div>
        <div class="le-content">
            <div class="name-email-pane">
                <div class="ne-img-wrap"><img src="/images/un-versioned/profile-details-icon.png" width="60" height="60" alt="Name_Email" /></div>
                {{?it.prevStep=="VIEW_PHONE_MORPHED"}}
                    <div class="le-title"><span>Help us serve you better</span><strong>Share your Name &amp; Email</strong></div>
                {{??}}
                    <div class="le-title"><strong>Share your Name &amp; Email before we connect you to the agent</strong></div>
                {{?}}
                <div class="fields">
                    <div data-module="InputBox" >
                        <script type="text/x-config">
                            {"label": "Name", "inputName":"client-name","value":"{{=it.postData.name || '' }}", "maxlength":50}
                        </script>
                        <div class="js-input-placeholder" data-type="NAME_FIELD"></div>
                        <div class="error-msg" data-message="NAME"></div>
                    </div>
                    <div data-module="InputBox" >
                        <script type="text/x-config">
                            {"label": "Email", "inputName":"client-email","value":"{{=it.postData.email || '' }}", "maxlength":50}
                        </script>
                        <div class="js-input-placeholder" data-type="EMAIL_FIELD"></div>
                        <div class="error-msg" data-message="EMAIL"></div>
                    </div>
                    <!-- <input type="text" data-type="OTP_EMAIL" placeholder="EMAIl"/> -->
    	        </div>
    	    </div>
    	    <div class="btn-wrap">
    	        <a class="txtlink" data-normal data-type="skipUserDetails">Skip</a>
    	        <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="name,email" data-navigation-step="USER_DETAILS"><span data-normal>SUBMIT</span>
                <span data-processing class="hide">Processing...</span></a>
    	        <span class="show-error" data-message="GLOBAL"></span>
    	    </div>
    	</div>
    </div>
</div>