<div class="leadenquiry-container step2 clearfix">
    <div class="lead-heading clearfix">
        {{? it.moduleParameters.isPopup}} {{? it.stackLength>1}}
        <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
        {{?}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
        {{?}}
    </div>
    <div class="le-content">
        <div class="otp-pane">
            <div class="otp-image clearfix">
                <img class="img-otp {{?it.showSelectBanner}} hide {{?}}" alt="icon for OTP" src="/images/un-versioned/lead-otp.png" />
                <div class="txt"><span class="uppercase">OTP</span> sent on <strong> +91 {{=it.postData.phone || '' }}</strong></div>
            </div>
            <div class="verification-wrap">
                <div class="verfication-code" data-type="OTP_FIELD">
                    <div class="fc-wrap verification-code-value clearfix">
                        <input maxlength="4" type="tel" name="otp_lead" />
                        <div class="error-msg otp-error" data-message="OTP"></div>
                    </div>
                </div>
                <div class="clearfix hide"><i class="icon-tick"></i> </div>
            </div>
            <div class="resetbtn-wrap">
                <a class="txtlink" data-type="OTP_ONCALL">Receive OTP on call</a>
                <a class="txtlink resendtxt" data-type="OTP_RESEND">Resend?</a>
            </div>
        </div>
    </div>
    <div class="{{? it.showSelectBanner}} pre-lead-btn {{?}} btn-wrap">
        {{? !it.moduleParameters.isPopup}}
        <a class="txtlink" data-type="BACK">Back</a> {{?}}
        <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="otp" data-navigation-step="OTP"><span data-normal>Verify</span><span data-processing class="hide">Processing...</span></a>
        <span class="show-error" data-message="GLOBAL"></span>
    </div>
    {{? it.showSelectBanner}}
        <div class ="step-ms-prelead">
            <div class="ms-coupon-wrap">
                <div class="img-wrap dealimg"></div>
                <h2>You've chosen a <i class='pre-lead icon-select-logo'></i><strong class="select-highlighter">Select</strong> Agent who is giving <strong>&#8377;2000 discount</strong> on brokerage</h2>
            </div>
        </div>
    {{?}}
</div>
