<div class="leadenquiry-container step-coupon clearfix">
    <div class="le-content">
        <div class="ms-coupon-wrap forcoupon-voucher">
            <div class="top-panel {{?it.isNew}} congo {{?}}">
                {{?it.isNew}}
                    <h2><span class="select-highlighter">Select </span> Voucher of &#8377;{{=it.couponAmount || ''}} for you</h2>
                    <div class="subtxt">Unlock code before paying brokerage</div>
                {{??}}
                    <h2>Unlock code before paying brokerage</h2>
                    <div class="subtxt">And get discount of &#8377;{{=it.couponAmount || ''}}</div>
                {{?}}
                <div class="ms-coupon-card ">
                    <div class="coupon-price">&#8377;{{=it.couponAmount || ''}}<sup>*</sup><span>off</span></div>
                    <div class="coupon-code">{{= it.displayCode || ''}}</div>
                </div>
                <p class="small-size"><sup>*</sup>&#8377;{{=it.couponAmount || ''}} off on rental brokerage</p>
                <div class="img-icon-wrap"><div class="lockicon"><i class="icon-lock"></i></div></div>
            </div>

            <div class="ms-coupon-footer">
                <img alt="check your sms" data-src="/images/makaan-select/mob-sms.svg" />
                <strong>UNLOCK</strong> voucher from the <b>SMS</b> sent on your mobile
            </div>
        </div>
    </div>
    <div class="btn-wrap">
        <a class="cbtn cbtn-p" data-type="showCoupon_proceed"><span data-normal>Proceed To Connect</span>
        <span data-processing class="hide">Processing...</span></a></a>
    </div>
</div>