<div class="leadenquiry-container step3 back-color call-screen-lead clearfix" style="overflow: hidden; ">
<div class="lead-heading clearfix">
    {{? it.moduleParameters.isPopup}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>  
    {{?}}  
</div>
<!--     <div js-call-status-header>
        <div class="project-img" style="background-image:url({{=it.displayData.imageUrl || ''}})"></div>
        <div class="call-screen-content" style="">  
            <div class="current-call-details">
                <div class="caller-unavailable">
                    <span style="font-weight: 600; "> 
                        {{=it.displayData.companyName}}
                    </span> seems to be
                    <br> unavailable right now
                </div>
            </div>
            <div class="text">
                <div class="line"></div>
                {{? it.postData.bhk  }}
                    <span class="left text-ellipse">{{=it.postData.bhk }} bhk, {{=it.displayData.propertyTypeLabel}}</span>
                {{?}}
                {{? it.displayData.projectName && !it.postData.bhk }}
                    <span class="left text-ellipse">{{=it.displayData.projectName }}</span>
                {{?}}
                {{? it.displayData.price && it.displayData.price.val && !it.displayData.priceRanges }}
                    <span class="right text-ellipse">
                     <i class="icon-rupee">
                        <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                    </i>
                    <span class="val">{{=it.displayData.price.val}}</span> <span class="unit sent-case">{{=it.displayData.price.unit}}</span>
                </span>
                {{?}}
                {{? it.displayData.priceRanges }}
                    <span class="right text-ellipse">
                        <i class="icon-rupee">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                        </i>
                        <span class="val">{{=it.displayData.priceRanges.minPrice.val}}</span> <span class="unit sent-case">{{=it.displayData.priceRanges.minPrice.unit}}</span> - 
                        <i class="icon-rupee">
                            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                        </i>
                        <span class="val">{{=it.displayData.priceRanges.maxPrice.val}}</span> <span class="unit sent-case">{{=it.displayData.priceRanges.maxPrice.unit}}</span>
                    </span>
                {{?}}
            </div>
        </div>
    </div> -->

    <div data-similar-container>
        <div class="loaderr">
            <i class="icon-reset rispinner">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </i>
        </div>
    </div>
</div>
