{{? (it.stepsSkipped && it.stepsSkipped.indexOf("VIEW_PHONE_MORPHED") >=0) ||
     (it.stepsStack && it.stepsStack.indexOf("VIEW_PHONE_MORPHED") >=0 ) ||
     (it.postData.countryId && it.postData.countryId != 1) ||
     (it.stepsStack && it.stepsStack.indexOf("CALL_NOW") >=0 )
 }}
 <div class="leadenquiry-container step3 clearfix">
    <div class="lead-heading clearfix">
        {{? it.moduleParameters.isPopup}}
        {{? it.stackLength>1}}
        <!-- <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div> -->
        {{?}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
        {{?}}
    </div>

    <div class="le-content">
        <div class="tring-pane">
            {{? (it.stepsSkipped && it.stepsSkipped.indexOf("VIEW_PHONE_MORPHED") >=0) ||
                 (it.stepsStack && it.stepsStack.indexOf("VIEW_PHONE_MORPHED") >=0 ) ||
                 (it.stepsStack && it.stepsStack.indexOf("CALL_NOW") >=0 )
             }}
                <div class="seller-dtls">
                    <div class="leagalname">{{=it.displayData.companyName}}</div>
                    <div class="seller-type">{{=it.displayData.companyType || ''}}</div>
                </div>
                <!-- <div class="le-title">Tring tring</div> -->
                <div class="see-phoneno">
                    {{? it.stepsStack && it.stepsStack.indexOf("CALL_NOW") >=0 }}
                        <i class="icon-call"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                        <a href="tel:{{=it.displayData.companyPhone }}">{{=it.displayData.companyPhone }}</a>
                    {{??}}
                        {{=it.displayData.companyPhone }}
                    {{?}}
                </div>
                {{? !it.displayData.allowCallInNight && it.displayData.sellerTime}}
                    <div class="txt call-text">(You can contact between <strong>{{=it.displayData.sellerTime.startTimeStr}}</strong> - <strong>{{=it.displayData.sellerTime.endTimeStr}}</strong> IST)
                    </div>
                {{?}}
            {{??}}
            <div class="le-title">Tring tring</div>
            <div class="txt">You will {{ if(it.postData.countryId == 1){ }}now{{ }else{ }}soon{{ } }} get a call from</div>
            <div class="see-phoneno">
                {{ if(it.postData.countryId == 1){ }}
                    {{=it.displayData.callingNumber }}
                {{ }else{ }}
                    {{=it.displayData.companyName}}
                {{ } }}
            </div>
            {{?}}
            {{? it.showSelectBanner}}
                <div class="ms-promotion tipbox">
                  <div class="bg-selectlogo"><i class="icon-select-logo"></i></div>
                  <div class="tip-icon"><i class="icon-bulb"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span></i></div>
                  <div class="msp-txt">
                    Don't forget to mention about discount voucher, <span class="linkk" data-type="tipSimilarMSKnowMore">know more</span>
                  </div>
                  <div class="msbadge">
                      <i class="icon-select-logo"></i> <i class="icon-select-txt"></i>
                  </div>
                </div>
            {{?}}
            <div class="checbox-wrap clearfix hide" data-select-all-container>
                {{? it.displayData.isAccountLocked}}
                    {{? it.displayData.lockedSellerText }}
                        <span class="txt text-center locked-warn">{{= it.displayData.lockedSellerText || '' }}</span>
                    {{?}}
                    <label for="morePropCheckbox" class="checkboxlbl">
                        <input id="morePropCheckbox" data-select-all type="checkbox" name="moreProp" value="yes" data-type="SIMILAR_SELECT_ALL" checked><span class="txt">&nbsp;</span>
                    </label>
                    <span class="txt">You can also connect with other sellers with matching properties</span>
                {{??}}
                    <label for="morePropCheckbox" class="checkboxlbl">
                        <input id="morePropCheckbox" data-select-all type="checkbox" name="moreProp" value="yes" data-type="SIMILAR_SELECT_ALL" checked><span class="txt">&nbsp;</span>
                    </label>
                    <span class="txt">People also contacted these properties</span>
                {{?}}
            </div>
        </div>
        <div data-similar-container>
            <div class="loaderr">
                <i class="icon-reset rispinner">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </i>
            </div>
        </div>
    </div>
</div>
{{??}}
<div class="leadenquiry-container step3 call-screen-lead clearfix back-color">
    {{? it.moduleParameters.isPopup}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
    {{?}}
    <div js-call-status-header {{? it.displayData.isAccountLocked }} class="locked-account" {{?}}>
        <div class="project-img" style="background-image:url('/images/un-versioned/defaultLeadImg.png')"></div>
        <div class="call-screen-content">
            <div class="text">
                <div class="line"></div>
                <span class="left"><strong>{{?it.postData.bhk }} {{=it.postData.bhk }} bhk {{?}}</strong>, {{? it.displayData.propertyTypeLabel}} {{=it.displayData.propertyTypeLabel}} {{?}}</span>

                {{? it.displayData.price && it.displayData.price.val }}
                <span class="right">
                    <i class="icon-rupee currency">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                    </i>
                    <span class="val">{{=it.displayData.price.val}}</span>
                    <span class="unit sent-case">{{=it.displayData.price.unit}}</span>
                </span>
                {{?}}
            </div>
        </div>
        <div class="tring-pane">
            {{? it.displayData.lockedSellerText }}
                <span class="txt text-center locked-warn">{{= it.displayData.lockedSellerText || '' }}</span>
            {{?}}
            <div class="checbox-wrap clearfix hide" data-select-all-container>
                {{? it.displayData.isAccountLocked}}
                    <label for="morePropCheckbox" class="checkboxlbl">
                        <input id="morePropCheckbox" data-select-all type="checkbox" name="moreProp" value="yes" data-type="SIMILAR_SELECT_ALL" checked><span class="txt">&nbsp;</span>
                    </label>
                    <span class="txt">You can also connect with other sellers with matching properties</span>
                {{??}}
                    <label for="morePropCheckbox" class="checkboxlbl">
                        <input id="morePropCheckbox" data-select-all type="checkbox" name="moreProp" value="yes" data-type="SIMILAR_SELECT_ALL" checked><span class="txt">&nbsp;</span>
                    </label>
                    <span class="txt">People also contacted these properties</span>
                {{?}}
            </div>
        </div>
    </div>
    <div data-similar-container>
        <div class="loaderr">
            <i class="icon-reset rispinner">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
            </i>
        </div>
    </div>
</div>
{{?}}
