<div class="leadenquiry-container stepsimilarlast clearfix">
    <div class="lead-heading clearfix">
        {{? it.moduleParameters.isPopup}}
        {{? it.stackLength>1}}
        <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
        {{?}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
        {{?}}
    </div>

    <div class="le-content">
        <div class="similarlast-pane">
            <div class="le-title">Smilar properties</div>
        </div>
        <div data-similar-container>
            <div class="loaderr">
                <i class="icon-reset rispinner">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                </i>
            </div>
            <ul class="similar-prop-list">
                <li class="clearfix">
                    <div class="img-wrap">
                        <img class="" alt="" src="{{=value.imageUrl}}" />
                    </div>
                    <div class="propdtls">
                        <div class="price-wrap">
                            <i class="icon-rupee"></i>
                            <span class="val">82.2</span>
                            <span class="unit">L</span>
                        </div>
                        <div class="locname">Sector 32, gurgaon, haryana</div>
                        <div class="prop-type">2 BHK apartment</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
