<div class="other-agent ">
        <div class="text">Based on your requirements,<br> we found these other sellers for you</div>
        <ul class="other-agent-list">
            {{~it :value:index}}
            <li class="other-agent-item">
                {{? value.companyImage}}
                    <img class="agent-logo-img" src="{{=value.companyImage}}" />
                {{?? value.companyAvatar}}
                    <div class="agent-logo-img" style="background-color: {{=value.companyAvatar.backgroundColor}}">
                        <span class="initial"  style="color:{{=value.companyAvatar.textColor}};">{{=value.companyAvatar.text}}</span>
                    </div>
                {{?}}
            <div class="agent-name-container">
                <div class="agent-name text-ellipse">{{=value.companyName}}</div>
                <!-- The rating block will come here -->
                <div class="rating" data-module="sellerRating"  data-sellerRating="{{=value.sellerRating}}"></div>
                <label for="select_{{=value.listingId}}" class="checkboxlbl">
                    <input id="select_{{=value.listingId}}" type="checkbox"  data-collection="{{=value.processed}}" name="" data-type="SIMILAR_SELLERS_CHECKBOX" checked>
                    <span class="txt"></span>
                </label>
            </div>
            </li>
            {{~}}
        </ul>
</div>
<div class="btn-wrap">
    <a class="txtlink" data-type="SIMILAR_SKIP"><span data-normal>Skip</span></a>
    <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="LISTINGS_CHECKBOX_CHECKED" data-navigation-step="SIMILAR_SELLERS"><span data-normal>Share my number</span><span data-processing class="hide">Processing...</span></a>
    <span class="show-error" data-message="GLOBAL"></span>
</div>
