<div class="leadenquiry-container step-thanks clearfix">
    <div class="lead-heading clearfix">
        {{? it.moduleParameters && it.moduleParameters.isPopup}}
        {{? it.stackLength>1}}
        <!-- <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div> -->
        {{?}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
        {{?}}
        
    </div>

    <div class="le-content">
        <div class="thank-pane">
            <div class="le-title">Thank you <span class="username">{{=it.postData && it.postData.name || ''}}</span></div>
            <div class="">For getting in touch</div>
        </div>
        {{? it.isBuyLead === true && it.deficitProject}}
        <div class="lead-deficit-thanks"> 
            <a href="javascript:void(0)" data-href="{{=it.deficitProject.overviewUrl}}" data-project-seller="{{=it.deficitProject.projectSeller}}" data-project-id="{{=it.deficitProject.projectId}}" data-type='deficitProjectConnect'>
                <h3 class="title"><span class="txt">Project suggested based on your interest</span></h3>
                <div class="view-pp-layer"> 
                    <span class="cbtn cbtn-p">Connect Now</span>
                </div>
                <div class="pp-list leadForm-thanks clearfix">     
                    <div class="pp-card js-featuredProject"> 
                        <div class="pp-img-wrap"> 
                            <img src="{{=it.deficitProject.originalBackgroundImage}}" alt="{{=it.deficitProject.altText}}"> 
                            {{? it.deficitProject.builderLogo}} 
                                <div class="sp-logo" style="background-image:url({{=it.deficitProject.builderLogo}});">
                                </div>  
                            {{?}}
                        </div> 
                        <div class="pp-content-wrap"> 
                            <div class="pp-na-wrap">
                                <div class="pp-name">{{=it.deficitProject.projectFullName}}</div> 
                                <div class="pp-price">{{?it.deficitProject.price && it.deficitProject.price.min}} &#8377;{{=it.deficitProject.price.min}} {{?it.deficitProject.price.max}} - {{=it.deficitProject.price.max}}{{?}}{{?}}</div> 
                            </div> 
                            <div class="pp-tp-wrap"> 
                                <div class="pp-address">{{?it.deficitProject.localityName}}{{=it.deficitProject.localityName}},{{?}} {{=it.deficitProject.cityName}}</div> 
                                <div class="pp-type">{{=it.deficitProject.bedrooms}} {{=it.deficitProject.propertyTypes}}</div>  
                            </div> 
                        </div> 
                    </div> 
                </div>
            </a>
        </div>
        <div class="second-pane deficit-project">
            <div class="homeloan-lead">
                <div class="journey-img-wrap homeloan"></div>
                <div class="homeloan-tagline">Apply for <strong>Home Loan</strong> with <strong>ROI as low as 8.35%</strong></b>
                </div>
            </div>
        </div>
        {{??it.isBuyLead === true}}
            <div class="second-pane">
                <div class="ttl">Also looking for a <b>Home Loan!</b></div>
                <div class="journey-img-wrap homeloan"></div>
                <div>Apply for Home Loan with ROI as low as 8.35%</b></div>
            </div>
        {{??}}
            <div class="second-pane">
                <div class="journey-img-wrap"></div>
            </div>
        {{?}}
        
    </div>
    
    {{? it.isBuyLead === true}}
        <div class="btn-wrap">
            {{? it.moduleParameters && it.moduleParameters.isPopup!=false}}
            <a class="txtbtn" data-type="CONTINUE_SEARCH"><span data-normal>Continue Search</span></a>
            {{?}}
            <a class="cbtn cbtn-p" data-type="homeloan_apply"><span data-normal>Apply homeloan</span></a>
        </div>
    {{??}}
        <div class="btn-wrap">
            {{?it.showSelectBanner}}
                <a class="cbtn cbtn-p" data-type = "searchSelectProperties"><span data-normal  data-source="${data.source}">Show Select Properties</span></a>
            {{??}}
                <a class="cbtn cbtn-p" data-type="CONTINUE_SEARCH"><span data-normal>Continue Search</span></a>
            {{?}}
        </div>
    {{?}}
</div>