<div class="leadenquiry-container user-profiling-popup clearfix {{? it.isLeadCard}} js-m-profile-card {{?}} ">
    <div class="lead-heading clearfix">
        <div data-type="CLOSE_LEAD" class="close-popup js-close-lead-popup">
            <i class="icon-close"></i>
        </div>
    </div>
    <div class="le-content">
		<div data-module="userProfiling" class="lead-profiling-popup">
		    <script type="text/x-config">
		        {
					"isPopup": true,
					"isLeadPopup": true,
					"isSticky":{{=it.isSticky||false}},
					"isLeadCard":{{=it.isLeadCard||false}}
		        }
		    </script>
		</div>        
    </div>
</div>
