<div class="leadenquiry-container vp-step1 clearfix">
    <div class="lead-heading clearfix">
        {{? it.moduleParameters.isPopup}} {{? it.stackLength>1}}
        <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
        {{?}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
        {{?}}
    </div>
    <div class="le-content">
        <div class="seller-dtls">
            {{? it.displayData.companyImage }}
            <div class="seller-img-box" style="background-image: url('{{=it.displayData.companyImage}}')"></div>
            {{?}} {{? !it.displayData.companyImage && it.displayData.companyAvatar }}
            <div class="seller-img-box" style="background-color: {{=it.displayData.companyAvatar.backgroundColor}}">
                <span class="initial" style="color:{{=it.displayData.companyAvatar.textColor}}">{{=it.displayData.companyAvatar.text}}</span>
            </div>
            {{?}}
            <div class="leagalname">{{=it.displayData.companyName}} <div class="rating" data-module="sellerRating"  data-sellerrating="{{=it.displayData.companyRating || ''}}"></div></div>
            <div class="seller-type">{{=it.displayData.companyType || ''}}</div>
            <div class="see-phoneno">
                <span class="txt">{{=it.displayData.cryptedPhoneNumber || 'N/A'}}</span>
            </div>

            {{? it.showSelectBanner}}
                <div class="ms-promotion">
                    <div class="bg-selectlogo"><i class="icon-select-logo"></i></div>
                    <div class="msp-txt">
                        <span class="coupon-amount">&#8377; {{=it.selectCouponPrice}} off</span> on brokerage, <span class="linkk" data-type='viewPhomeMSKnowMore'>Know more</span>
                    </div>
                    <div class="msbadge">
                        <i class="icon-select-logo"></i> <i class="icon-select-txt"></i>
                    </div>
                </div>
            {{?}}
        </div>
        <div class="second-pane">
            <div class="le-title">Connect with the seller right now</div>
            {{? it.displayData.isExperimentCity && it.displayData.propDetailsText}}
                <div class = "prop-detail-txt">
                    {{=it.displayData.propDetailsText}} {{?it.displayData.showPrice && it.displayData.showPrice.val}}| &#8377;{{=it.displayData.showPrice.val}}{{=it.displayData.showPrice.unit}}{{?}}
                </div>
            {{?}}
            <div class="form-row">
                <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
                <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd js-countries">
                    <script type="text/x-config">
                        {"templateFromPromise": true, "defaultValue": {{=it.postData.countryId}} }
                    </script>
                </div>
                <div class="fc-wrap inputbox country-code-contact clearfix">
                    <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD">--</span>
                    <div data-module="InputBox"  {{?it.moduleParameters.phoneElemSelector}}id="{{=it.moduleParameters.phoneElemSelector}}" {{?}}>
                        <script type="text/x-config">
                            {"label": "Mobile", "inputName":"client-phone-num","value":"{{=it.postData.phone || '' }}","textIndent":"42px","type":"number","maxlength":14}
                        </script>
                        <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                        <div class="error-msg" data-message="PHONE"></div>
                    </div>
                </div>
            </div>
            {{?it.displayData.showOptInBox}}
            {{?!it.displayData.isExperimentCity && !it.showHomeLoanInterest}}
                <div class="note-txt">
                    * Don't worry, your number is safe with us
                </div>
            {{?}}
            <div class="chkbox-wrap {{?it.displayData.isExperimentCity || it.showHomeLoanInterest}} padding-fifteen {{?}}">
                <label for="othr-sllr-check-{{=it.moduleParameters.id}}" class="checkboxlbl">
                    <input id="othr-sllr-check-{{=it.moduleParameters.id}}" data-type="BUYER_OPT_IN" type="checkbox" data-value="other-seller-check" value="other-seller-check" {{? it.displayData.optInCheckedStatus}} checked="" {{?}} />
                    <span class="txt">
                        Allow matching sellers to reach out
                    </span>
                </label>
                <span class="tooltip-wrap">
                    <a class="infoo" title="">?</a>
                    <span class="mp-tooltip top">
                        Makaan as a platform is focused on ensuring buyers are able to connect with the right sellers assisting them on their way to their dream home.<br><br>By selection this option, we will connect you with the right sellers basis your requirements using our real time tracking engine
                    </span>
                </span>
            </div>
            {{?}}
            {{? it.showHomeLoanInterest}}
                <div class="chkbox-wrap {{?it.displayData.isExperimentCity||!it.displayData.showOptInBox}} padding-fifteen {{?}}">
                    <label for="homeloan-{{=it.moduleParameters.id}}" class="checkboxlbl">
                        <input id="homeloan-{{=it.moduleParameters.id}}" data-type="HOMELOAN_OPT_IN" type="checkbox" data-value="homeloan-check"/>
                        <span class="txt">
                            I'm interested in Home Loans
                        </span>
                    </label>
                </div>
            {{?}}
        </div>
        <div class="btn-wrap">
            {{? it.isConnectNow}}
              {{? it.step !== 'CALL_NOW'}}
                <a class="txtlink" data-type="VIEW_PHONE_MORPHED_CONNECT">{{? it.displayData.isContactExperimentCity}}Contact {{??}} Connect now {{?}}</a>
              {{?}} 
              {{? it.step === 'CALL_NOW' }}
                <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone" data-lead-submit data-navigation-step="CALL_NOW"><span data-normal>{{? it.displayData.isContactExperimentCity}}Contact {{??}} Connect now {{?}}</span>
              {{??}}
                <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone" data-lead-submit data-navigation-step="VIEW_PHONE_MORPHED"><span data-normal>View phone</span>
              {{?}}
            {{??}}
              <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone" data-lead-submit data-navigation-step="VIEW_PHONE_MORPHED"><span data-normal>{{? it.displayData.isContactExperimentCity}}Contact {{??}} Connect now {{?}}</span>
            {{?}}
            <span data-processing class="hide">Processing...</span></a>
            <span class="show-error" data-message="GLOBAL"></span>
        </div>
    </div>
</div>
