<div class="leadenquiry-container step-view-phone-thanks clearfix">
    <div class="lead-heading clearfix">
        {{? it.stackLength>1}}
        <div data-type="BACK" class="backbutton text-left">
            <i class="icon-back-arrow"> <span class="path1"></span><span class="path2"></span><span class="path3"></span> </i>
        </div>
        {{?}}
        <div data-type="CLOSE_LEAD" class="close-popup {{=it.vwoExpClass}}">
            <i class="icon-close"></i>
        </div>
    </div>

    <div class="le-content">
        <div class="seller-dtls">
            {{? it.displayData.companyImage }}
            <div class="seller-img-box" style="background-image: url('{{=it.displayData.companyImage}}')"></div>
            {{?}}
            {{? !it.displayData.companyImage && it.displayData.companyAvatar }}
            <div class="seller-img-box" style="background-color: {{=it.displayData.companyAvatar.backgroundColor}}">
                <span class="initial"  style="color:{{=it.displayData.companyAvatar.textColor}}">{{=it.displayData.companyAvatar.text}}</span>
            </div>
            {{?}}
            <div class="leagalname">{{=it.displayData.companyName}}</div>
            <div class="seller-type">{{=it.displayData.companyType || ''}}</div>
            <div class="see-phoneno">
                <span class="txt">{{=it.displayData.companyPhone || 'N/A'}}</span>
            </div>
        </div>
        <div class="second-pane clearfix">
            <div class="img-col">
                <div class="journey-img-wrap"></div>
            </div>
        </div>
        <div class="btn-wrap">
            {{ if(!it.noSimilar) { }}
                <a class="cbtn cbtn-p" data-type="VIEW_PHONE_SUMIT">Got it</a>
            {{ }else{ }}
                <a class="txtlink" data-type="BACK">Back</a>
            {{ } }}
            <span class="show-error"></span>
        </div>
    </div>
</div>