<div class="fill-details-wrap">
    <div class="title-text">
        Share your phone number before we </br>connect you to the seller
    </div> 
    <div class="form-row">
        <input type="hidden" data-country="COUNTRY_ID_FIELD" value="" />
        <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd js-countries">
            <script type="text/x-config">
                {"templateFromPromise": true, "defaultValue": {{=it.postData.countryId}} }
            </script>
        </div>
        <div class="fc-wrap inputbox country-code-contact clearfix">
            <span class="countryCode" data-country-code="COUNTRY_CODE_FIELD">--</span>
            <div data-module="InputBox" id="promotional-lead-phone">
                <script type="text/x-config">
                    {"label": "Mobile", "inputName":"promotional-lead-phone","value":"{{=it.postData.phone || '' }}","textIndent":"42px","type":"number","maxlength":14}
                </script>
                <div class="js-input-placeholder" data-type="PHONE_FIELD"></div>
                <div class="error-msg" data-message="PHONE"></div>
            </div>
        </div>
        <div class="btn-wrap">
            <a class="cbtn cbtn-p" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="phone" data-navigation-step="MAIN"><span data-normal>Submit</span></a>
            <span class="show-error" data-message="GLOBAL"></span>
        </div>
    </div>
</div>