<div class="otp-pane">
    <div class="otp-image clearfix">
        <div class="otp-title">OTP sent on  <b>{{=it.postData.phone || '' }}</b></div>
    </div>
    <div class="verification-wrap">
        <div class="verfication-code" data-type="OTP_FIELD">
            <div class="fc-wrap verification-code-value clearfix">
                <input maxlength="4" type="tel" name="otp_lead" />
                <div class="error-msg otp-error" data-message="OTP"></div>
            </div>
        </div>
        <div class="clearfix hide"><i class="icon-tick"></i> </div>
    </div>
    <div class="resetbtn-wrap">
        <a class="txtlink" data-type="OTP_ONCALL">Receive OTP on call</a>
        <a class="txtlink resendtxt" data-type="OTP_RESEND">Resend SMS</a>
    </div>
</div>
<div class="btn-wrap">
    <a class="cbtn cbtn-p otp-submit" data-type="VALIDATE_AND_SUBMIT" data-validation-strategies="otp" data-navigation-step="OTP"><span data-normal>Verify</span><span data-processing class="hide">Processing...</span></a>
    <span class="show-error" data-message="GLOBAL"></span>
</div>