.sidebar-container {
    .sidebar-card {
        &.alliances {
            &.next {
                .footer-text {
                    transform: translateY(190px);
                }
            }
            .footer-text {
                padding-top: 130px;
            }
            .main {
                padding-left: 60px;
            }
            .sub {}
        }
    }
}
