.sidebar-container {
    .sidebar-card {
        &.favorites {
            .card-content {
                margin: 10px auto;
                ul {
                    margin-bottom: 15px;
                    padding: 0px 5px;
                    height: 345px;//
                    li {
                        position: relative;
                        border-top: solid 1px #e6e6e6;
                        padding: 15px 0px 10px;
                        overflow: hidden;
                        cursor: pointer;
                        &:hover {
                            .call-btn {
                                opacity: 1;
                            }
                        }
                        .recent-img {
                            height: 60px;
                            float: left;
                            width: 80px;
                            background-color: $light-bg;
                            border-radius: 5px;
                            overflow: hidden;
                        }
                        .recent-details {
                            width: calc(100% - 80px);
                            float: left;
                            text-align: left;
                            padding-left: 15px;
                        }
                    }
                }
                .btn-wrap {
                    // position: absolute;
                    // width: calc(100% - 60px);
                    // bottom: 25px;
                }
            }
            .card-footer {
                transform: translateY(220px);
                z-index: -1;
            }
        }
    }
}
