.sidebar-container {
    .sidebar-card {
        &.feedback {
            .card-footer {
                transform: translateY(220px);
                z-index: -1;
            }
            //########### feedback section inside card starts###########//
            .feedback-detail {
                position: relative;
                margin-bottom: 15px;
                text-align: left;
            }
            .dash-line {
                position: absolute;
                left: -28px;
                border-top: dashed 1px #ccc;
                width: 370px;
                height: 1px;
                transform: translateY(65px);
                transition: all 300ms ease-in-out;
            }
            .current-feedback {
                display: inline-block;
                width: 45%;
                height: 130px;
                vertical-align: middle;
                text-align: left;
                transition: all 300ms ease-in-out;
                overflow: hidden;
            }
            .property-details {
                position: relative;
                display: inline-block;
                background-color: #ccc;
                border-radius: 50%;
                height: 130px;
                width: 130px;
                text-align: left;
                color: #fff;
                background-size: cover;
                overflow: hidden;
                z-index: 1;
                transition: height,transform 300ms ease-in-out;
                &.scale {
                    transform: scale(.9);
                }
                .spec {
                    font-size: 16px;
                }
                .overlay-spec {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    padding: 20px;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            .other-sellers {
                position: relative;
                display: inline-block;
                width: 50%;
                height: 55px;
                font-size: 0;
                text-align: right;
                vertical-align: middle;
                transition: all 300ms ease-out;
                z-index: 2;
            }
            .seller {
                position: relative;
                left: 20px;
                display: inline-block;
                margin-left: -8px;
                background-color: #000;
                border: solid 3px #fff;
                border-radius: 50%;
                width: 55px;
                height: 55px;
                vertical-align: middle;
                transition: all 300ms ease-out;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #ccc;
                text-align: center;
                cursor: pointer;
                &.current {
                    position: absolute;
                    transform: translate(-150px, 50px);
                }
                .initial {
                    font-size: 36px;
                    text-transform: uppercase;
                    //text-shadow: 2px 0px 4px rgba(0,0,0,0.4);
                }
            }
            .seller-detail {
                text-align: left;
                .seller-name {
                    font-size: 25px;
                }
                .seller-contacted {
                    font-size: 12px;
                }
            }
            .rating-wrap {
                text-align: left;
                margin: 10px 0px;
                .rate-seller {
                    margin: 5px 0px;
                    font-size: 16px;
                    color: $link-color;
                }
            }
            .rating {
                &.clickable {
                    >label {
                        transition: font-size 300ms ease-in-out;
                        font-size: 35px;
                    }
                }
            }
            .second-pane {
                display: none;
                padding-bottom: 10px;
            }
            .ff-title {
                padding: 10px 10px 15px;
                color: #2c2c2c;
                font-size: 16px;
                line-height: 1.15;
                //font-weight: bold;
            }
            .reason-list {
                input[type="radio"] {
                    display: none;
                }
                label.reason {
                    display: inline-block;
                    @include putellipsis;
                    width: calc(50% - 8px);
                    padding: 8px 5px;
                    margin: 5px 3px;
                    background-color: #f7f7f7;
                    border: solid 1px #ececec;
                    border-radius: 5px;
                    color: #666;
                    font-size: 12px;
                    text-align: center;
                    cursor: pointer;
                    &:hover {
                        border-color: $link-color;
                    }
                }
                &:not(:checked) > label:hover {}
                input:checked + label {
                    background-color: $link-color;
                    border-color: $link-color;
                    color: #fff;
                }
            }
            .other-reason {
                display: none;
                padding-bottom: 10px;
            }
            .other-reason-title {
                text-align: left;
                padding: 5px 0px;
                font-size: 14px;
            }
            textarea {
                width: 100%;
                height: 100px;
                border: solid 1px #ccc;
                border-radius: 5px;
                resize: none;
                outline: none;
            }
            &.step-2,
            .step-2 {
                .second-pane {
                    display: block;
                }
                .dash-line {
                    transform: translateY(26px);
                }
                .current-feedback {
                    visibility: hidden;
                    opacity: 0;
                    height: 0px;
                }
                .seller {
                    visibility: hidden;
                    opacity: 0;
                    &.current {
                        transform: translate(-150px, 0px);
                        visibility: visible;
                        opacity: 1;
                    }
                }
                .rating {
                    &.clickable {
                        >label {
                            font-size: 16px;
                        }
                    }
                }
                .rating-wrap {
                    .rate-seller {
                        display: none;
                    }
                }
            }
            .step-other-reason {
                .reason-list{
                    display: none;
                }
                .other-reason {
                    display: block;
                }
            }
            //########### feedback section inside card ends###########//
        }
    }
}
