.sidebar-container {
    .sidebar-card {
        &.filter {
            .card-title {
                max-height: 220px;
                overflow: hidden;
            }
            .card-content {
                margin-top: 80px;
            }
            &.filter-step-2 {
                .mcard-back-btn-wrap {
                    display: initial;
                }
                .card-title {
                    max-height: 25px;
                }
                .card-content {
                    margin-top: 15px;
                }
                .filter-btns {
                    padding: 20px 0px 70px;
                    border-top: solid 1px $border-color;
                    border-bottom: solid 1px $border-color;
                }
                .filter-budget {
                    display: block;
                }
                .card-footer {
                    // transform: translateY(220px);
                    z-index: 1;
                }
            }
            .filter-btns {
                border-color: $border-color;
                min-height: 100px;
                overflow: hidden;
                transition: all 300ms ease-out;
                label {
                    margin: 0px;
                    font-weight: 400;
                }
            }
            .fbed {
                display: inline-block;
                vertical-align: top;
            }
            //to use filter buttons for given style use the below style START
            .filter-btn {
                position: relative;
                display: inline-block;
                vertical-align: top;
                margin: 5px;
                border-radius: 50%;
                background-color: #fdfdfd;
                border: solid 1px #e1e1e1;
                height: 45px;
                width: 45px;
                color: #969696;
                cursor: pointer;
                transition: all 300ms $transition-curve;
                .bot-text {
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 12px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 41px;
                    left: 50%;
                    height: 5px;
                    width: 5px;
                    transform: translateX(-50%) rotate(45deg);
                }
                &:hover {
                    border-color: rgba(232, 28, 40, 0.5);
                    color: #000;
                }
            }
            input[type=checkbox] {
                display: none;
            }
            input[type=checkbox]:checked ~ .filter-btn {
                border-color: $link-color;
                color: $link-color !important;
                .optional-txt {
                    display: initial;
                }
                .btn-subtext {
                    display: none;
                }
                .bot-text {
                    display: none;
                }
                &:after {
                    background-color: #fdfdfd;
                    border-right: solid 1px $link-color;
                    border-bottom: solid 1px $link-color;
                }
                .btn-image {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
            .val {
                display: inline-block;
                margin-top: 12px;
            }
            .optional-txt {
                display: none;
                margin-left: -3px;
                font-size: 12px;
            }
            .btn-subtext {
                position: absolute;
                top: 50px;
                left: 50%;
                color: #cdcdcd;
                transform: translateX(-50%);
            }
            .btn-image {
                opacity: 0;
                position: absolute;
                top: 55px;
                left: 0px;
                height: 36px;
                width: 40px;
                background-repeat: no-repeat;
                background-image: url($imgPath+'/rhs/rhs.png');
                transform: translateY(50px);
                transition: all 300ms $transition-curve;
                // &.bhk-type-1 {
                //     background-image: url($imgPath+'/rhs/1_bhk.png');
                // }
                // &.bhk-type-2 {
                //     background-image: url($imgPath+'/rhs/2_bhk.png');
                // }
                // &.bhk-type-3 {
                //     background-image: url($imgPath+'/rhs/3_bhk.png');
                // }
                // &.bhk-type-3plus {
                //     background-image: url($imgPath+'/rhs/4_bhk.png');
                // }
            }
            .btn-divider {
                display: inline-block;
                width: 1px;
                height: 50px;
                background-color: #e5e5e5;
            }
            //END
            .filter-budget {
                margin: 20px 0px 25px;
                display: none;
                // height: 100px;
                .title {
                    margin: 25px 0px;
                    font-size: 16px;
                }
            }
            .view-prop {
                margin-top: 50px;
                .more-fil-btn {
                    margin-top: 15px;
                    color: $link-color;
                }
            }
            //FIX FOR SLIDER BIG HUGEEE FIX 
            .js-range-slider {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: -1px;
                    top: -6px;
                    height: 14px;
                    width: 2px;
                    background-color: #9e9e9e;
                }
                &:after {
                    content: "";
                    position: absolute;
                    right: -1px;
                    top: -6px;
                    height: 14px;
                    width: 2px;
                    background-color: #9e9e9e;
                }
                .noUi-base {
                    top: -1px;
                }
                .noUi-connect {
                    background-color: $link-color;
                }
                .noUi-handle {
                    top: -6px;
                }
            }
            .range {
                margin-top: 10px;
            }
            //FIX END
        }
    }
}
