@import "../similar-list";
.sidebar-container {
    .sidebar-card {
        &.localities {

            .card-title {
                font-size: 19px;
            }

            .card-content{
            margin-top: 20px;
                .similar-pane {
                    padding: 0 10px;
                }
                .similar-list{
                    li { 
                    .simidtls.similoc { 
                        .locname {
                            a{
                                color: #444;
                            }
                        } 
                        &:hover{
                            a{
                                color: $link-color;
                            }
                        }   
                    }
                }
            }
}
            .card-footer {
                transform: translateY(220px);
                z-index: -1;
            }
        }
    }
}
