.sidebar-container {
    .sidebar-card {
        &.rating-mp {
            .card-content {
                margin-top: 20px;
            }
            .pane {
                border-top: solid 1px $border-color;
                margin: 0px auto;
                padding: 35px 0px;
                width: 90%;
                &.rating-pane {
                    .pane-img {
                        float: right;
                    }
                    .pane-text {
                        float: left;
                    }
                }
            }
            .pane-img {
                width: 50%;
            }
            .pane-text {
                width: 50%;
                text-align: left;
                line-height: 1.5;
                font-size: 16px;
            }
            .pane-title {
                color: #000;
            }
            .pane-sub {
                line-height: 1.3;
            }
            .card-footer {
                transform: translateY(220px);
                z-index: -1;
            }
            .btn-rhs {
                background-color: transparent;
                border-color: $link-color;
                padding: 5px 20px;
                color: $link-color;
                &:hover {
                    padding-left: 18px;
                }
            }
        }
    }
}
