.sidebar-container {
    .sidebar-card {
        &.rating {
            .footer-text {
                padding-top: 180px;
                .main {
                    padding-left: 25px;
                }
                .sub {
                    margin-top: 5px;
                    padding-left: 25px;
                    text-align: center;
                }
            }
        }
    }
}
