@import "../thank-you";
@import "../range-slider";
@import "../otp";
.pyr-container {
    padding: 10px 20px;
    background-color: #fafafa;
}

.pyr-card {
    min-width: 360px;
    min-height: 460px;
    text-align: center;
}

.requirements {
    .mcard-back-btn-wrap {
        display: block;
        position: absolute;
        top: 2px;
        left: -4px;
        height: 25px;
        width: 25px;
        padding: 5px;
        cursor: pointer;
        text-align: center;
    }
    .mcard-back-btn {
        display: inline-block;
        border-left: solid 1px;
        border-top: solid 1px;
        border-color: #a9a9a9;
        height: 12px;
        width: 12px;
        transform: rotate(-45deg);
        vertical-align: top;
    }
    .close-popup {
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px;
        color: $lighter-color;
        font-size: 14px;
        cursor: pointer;
        z-index: 2;
    }
    .error-msg {
        color: red;
        font-size: 11px !important;
    }
    .card-title {
        position: relative;
        margin: 20px 0px 25px;
        text-align: center;
        font-size: 18px;
    }
    .card-content {
        margin-top: 0px !important;
        position: relative;
        z-index: 1;
        .req-box {
            margin-bottom: 20px;
            padding-top: 20px;
            border-top: solid 1px #ddd;
        }
        .step1 {
            .box-title {
                margin-bottom: 15px;
                font-size: 12px;
            }
            //slider custom
            .noUi-base {
                top: -1px;
            }
            .noUi-connect {
                background-color: $link-color;
            }
            //budget
            .budget-select {
                .js-range-slider {
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        left: -1px;
                        top: -6px;
                        height: 14px;
                        width: 2px;
                        background-color: #9e9e9e;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        right: -1px;
                        top: -6px;
                        height: 14px;
                        width: 2px;
                        background-color: #9e9e9e;
                    }
                }
                .range {
                    margin-top: 10px;
                }
            }
            //bhk
            .bhk-select {
                label {
                    font-weight: 400;
                    vertical-align: top;
                }
                .bhk-btn {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    margin: 5px;
                    border-radius: 50%;
                    background-color: #fdfdfd;
                    border: solid 1px #e1e1e1;
                    height: 45px;
                    width: 45px;
                    color: #969696;
                    cursor: pointer;
                    transition: all 300ms $transition-curve;
                    .bot-text {
                        position: absolute;
                        top: 50px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 12px;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 41px;
                        left: 50%;
                        height: 5px;
                        width: 5px;
                        transform: translateX(-50%) rotate(45deg);
                    }
                    &:hover {
                        border-color: rgba(232, 28, 40, 0.5);
                        color: #000;
                    }
                }
                input[type=checkbox] {
                    display: none;
                }
                input[type=checkbox]:checked ~ .bhk-btn {
                    border-color: $link-color;
                    color: $link-color !important;
                    .optional-txt {
                        display: initial;
                    }
                    .btn-subtext {
                        display: none;
                    }
                    .bot-text {
                        display: none;
                    }
                    &:after {
                        background-color: #fdfdfd;
                        border-right: solid 1px $link-color;
                        border-bottom: solid 1px $link-color;
                    }
                    .btn-image {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
                .val {
                    display: inline-block;
                    margin-top: 12px;
                }
                .optional-txt {
                    display: none;
                    margin-left: -3px;
                    font-size: 11px;
                }
                .btn-subtext {
                    position: absolute;
                    top: 50px;
                    left: 50%;
                    color: #cdcdcd;
                    transform: translateX(-50%);
                }
                .btn-image {
                    opacity: 0;
                    position: absolute;
                    top: 55px;
                    left: 0px;
                    height: 36px;
                    width: 40px;
                    background-repeat: no-repeat;
                    background-image: url($imgPath+'/rhs/rhs.png');
                    transform: translateY(50px);
                    transition: all 300ms $transition-curve;
                    // &.bhk-type-1 {
                    //     background-image: url($imgPath+'/rhs/1_bhk.png');
                    // }
                    // &.bhk-type-2 {
                    //     background-image: url($imgPath+'/rhs/2_bhk.png');
                    // }
                    // &.bhk-type-3 {
                    //     background-image: url($imgPath+'/rhs/3_bhk.png');
                    // }
                    // &.bhk-type-3plus {
                    //     background-image: url($imgPath+'/rhs/4_bhk.png');
                    // }
                }
                .btn-divider {
                    display: inline-block;
                    width: 1px;
                    height: 50px;
                    background-color: #e5e5e5;
                }
            }
            //locality
            .locality-select {
                position: relative;
                z-index: 2;
                display: inline-block;
                vertical-align: top;
                width: 100%;
                background-color: #ffffff;
                border: solid 1px #eee;
                transition: all 0.25s ease-in-out;
                text-align: left;
                cursor: pointer;
                .fc-wrap {
                    padding: 10px 30px;
                    width: 100%;
                    min-height: 40px;
                }
                .floating-count {
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    width: 25px;
                    height: 25px;
                    background-color: #faa40f;
                    color: #fff;
                    font-size: 11px;
                    padding: 5px 10px;
                    border-radius: 100%;
                }
                .circle-tick {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 20px;
                    padding: 6px 10px;
                    background-color: #fff;
                    border-radius: 5px;
                    color: #e81c28;
                    font-size: 16px;
                    transition: all 0.3s ease-in-out;
                }
                .suggestion-box {
                    position: absolute;
                    z-index: 1;
                    top: 100%;
                    left: 0;
                    display: inline-block;
                    margin: 0px 15px;
                    width: calc(100% - 30px);
                    background-color: #ececec;
                    border-top: 1px solid #d6d6d6;
                    box-shadow: 0px 2px 5px rgba(135, 135, 135, 0.6);
                    .srchicon {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-size: 16px;
                        z-index: 9999;
                    }
                    .thinput {
                        border: none;
                        line-height: 1;
                        width: 100%;
                        padding: 10px 10px 10px 30px;
                        background-color: #fff;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        color: #333;
                    }
                    .thdd {
                        top: 100%;
                    }
                }
                .location-selected-list {
                    position: absolute;
                    top: calc(100% + 35px);
                    margin: 0px 15px;
                    width: calc(100% - 30px);
                    background-color: #fff;
                    box-shadow: 0px 2px 5px rgba(135, 135, 135, 0.6);
                    .head-label {
                        padding: 10px;
                        width: 100%;
                        display: inline-block;
                    }
                    .locality-max-error {
                        padding-left: 10px;
                        color: #e81c28;
                        font-size: 12px;
                    }
                    ul {
                        li {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            padding: 6px 10px;
                            cursor: pointer;
                            .selected-location-value {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                display: inline-block;
                                vertical-align: middle;
                                width: 90%;
                            }
                            .close {
                                position: absolute;
                                top: 3px;
                                right: 10px;
                                padding: 7px 10px 7px 25px;
                                color: #000;
                                font-size: 14px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .step2 {
            padding: 0px 30px;
            text-align: left;
            .form-group {
                position: relative;
                margin-top: 40px;
            }
            .country-dd {
                margin-top: 25px !important;
                width: 30%;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                float: left;
            }
            .fc-wrap {
                width: 100%;
                min-width: 70px;
                .fc {
                    border-bottom: 1px solid #cccccc;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    padding-bottom: 4px;
                    i {
                        font-size: 9px;
                        right: 2px;
                        top: 19px;
                    }
                }
                .select-dropdown {
                    max-height: 185px;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
                .error-msg {
                    width: 150%;
                }
            }
            .country-code-contact {
                width: 68%;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                position: relative;
                float: right;
                .countryCode {
                    padding-left: 5px;
                    padding-right: 5px;
                    position: absolute;
                    left: -2px;
                    bottom: 3px;
                    width: 38px;
                    color: #666;
                    font-size: 1em;
                }
                label {
                    left: 30px;
                    top: 5px;
                }
                .input-box {
                    margin-top: 35px;
                    &.active {
                        label {
                            left: 0;
                            top: -10px;
                        }
                    }
                }
            }
            .checbox-wrap {
                position: relative;
                margin-top: 10px;
                clear: both;
                text-align: left;
                label.checkboxlbl {
                    margin-right: 0;
                    font-size: 10px;
                    line-height: 1;
                    .txt {
                        color: #777;
                        font-size: 13px;
                        line-height: 14px;
                    }
                }
            }

            .chkbox-wrap {
                text-align: center;
                padding-top: 15px;

                label.checkboxlbl {
                    .txt {
                        font-size: 11px;
                    }
                    input[type=checkbox]:checked+.txt:after {
                        width: auto;
                    }
                }

                .tooltip-wrap {
                    position: relative;

                    .mp-tooltip {
                        min-width: 240px;
                        font-size: 12px;
                        line-height: 1.23;
                        text-transform: none;
                    }

                    &:hover {
                        .mp-tooltip {
                            display: block;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                .infoo {
                    display: inline-block;
                    width: 17px;
                    height: 19px;
                    border: solid 1px #bcbcbc;
                    border-radius: 50%;
                    text-align: center;
                    color: #999;
                    font-size: 11px;
                    transition: color 0.2s ease-in;
                    text-decoration: none;
                    cursor: pointer;
                    vertical-align: text-bottom;

                    &:hover {
                        color: $link-color;
                    }
                }
            }
            .submit {
                margin-top: 100px;
                .btnv2-p {
                    padding: 6px 35px;
                }
            }
        }
        .step3 {
            .otp-wrap {
                padding: 0px;
                background: none;
                border: none;
                .otp-image {
                    margin: 0px;
                }
                .contact {
                    margin: 0px;
                }
                .verification-wrap {
                    border: none;
                    padding: 0px;
                    .verification-code-value {
                        margin: 10px;
                        &:after {
                            background-color: #fafafa;
                        }
                    }
                    i.icon-tick {
                        margin: 0px;
                    }
                }
            }
        }
        .step4 {
            .thank-you-wrap {
                min-height: auto;
                background: none;
                border: none;
                border-radius: 0;
                .thanks-image {
                    margin: 0px;
                }
                .thank-text {
                    margin: 0px;
                }
            }
        }
    }
    .card-footer {
        transform: translateY(220px) !important;
    }
    .footer-text {
        padding-top: 180px;
        .main {
            padding-left: 25px;
        }
        .sub {
            margin-top: 5px;
            padding-left: 25px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 480px) {
    .pyr-card {
        min-width: 100%;
        min-height: 100%;
    }
}
