.sidebar-container {
    .sidebar-card {
        &.talk-to-m {
            &.next {
                .footer-text {
                    transform: translateY(190px);
                }
            }
            .card-image {
                margin-top: 40px;
            }
            .footer-text {
                top: 130px;
                text-align: center;
                .main {
                    display: inline-block;
                }
            }
        }
    }
    .btn-rhs {
        &:hover {
            padding-left: 12px;
        }
    }
}