<section class="image_gallery_container {{? it.leadBoxData.leadFormData.isMakaanSelectSeller}} ms-gall {{?}} {{?it.version == 'v2_mobile' || it.version == 'v3_mobile'}} gallery-revamp-mobile {{=it.version}}{{?}}">
    <div id="temp-lead-container" class="hide">
        {{? it.leadBoxData.leadConfigData}}
            <div class="lead-module lg-img-wrap gallery_lead_form hide" {{?it.leadBoxData.leadConfigData.id }} id="{{=it.leadBoxData.leadConfigData.id}}" {{?}}>
                <script type="text/x-config">
                    {{=JSON.stringify(it.leadBoxData.leadConfigData)}}
                </script>
                <div data-lead-container class="lw lg-object lg-image"></div>
            </div>
        {{??}}
            <div  class="sbcol-card clearfix lg-img-wrap">
                <div class="set-alert-wrap clearfix text-center lw lg-object lg-image" data-type="searchSimilar">
                    <div class="envelope">
                        <!-- <div class="awsnap">
                            <div class="b-font">Look for other similar properties</div>
                            <div class="s-font">No listing found</div>
                        </div> -->
                        <div class="img-box-circular">
                            <img data-src="/images/similar-porperties.png" title="set-alert" alt="similarProperty" />
                        </div>
                    </div>
                    <div class="heading">
                        <h3 class="set-alert-title">
                            <span class="darker">Look for other similar properties </span>
                        </h3>
                    </div>
                    <!-- <i class="icon-notification">
                        <span class="path1"></span><span class="path2"></span>
                    </i> -->
                    <div class="cbtn cbtn-p search">Search more properties</div>
                </div>
            </div>
        {{?}}
    </div>
    {{? it.version == 'v2_mobile' || it.version == 'v3_mobile'}}
    <div class="gallery-header">
        <div class="header-txt">
            <span class="project-name">{{=it.leadBoxData.projectTitle}}</span>
            <span class="seperator">|</span>
            <span class="price">₹ {{=it.leadBoxData.price}}</span>
        </div>
        <span class="closebtn" data-type="close"><i class="icon-close"></i></span>
    </div>
    {{?}}
    <ul class="image_gallery">
    </ul>
    {{? it.pageType }}
    <div class="lead-box clearfix">
        {{? it.version == 'v3_mobile'}}
            <div class="grid-text" data-type="openGridView"><img class="grid-icon" src="/images/grid-icon.png"></i><span>see all photos</span></div>
        {{?}}
        <div class="lhs-col">
            <div class="proj-name">
                {{=it.leadBoxData.builderDisplayName || ''}} {{=it.leadBoxData.projectTitle}}
                <div class="loc-name"> {{=it.leadBoxData.localityDetails}}</div>
            </div>
            <div class="price-type">
                {{?it.leadBoxData.price}}
                    <span class="price currency"> {{=it.leadBoxData.price}}</span>
                {{?}}
                {{? it.pageType !== 'project' }} | <span class="type">{{=it.leadBoxData.type}}</span> {{?}}
            </div>
        </div>
        {{var extraData;}}
        {{?it.leadBoxData.extraData}}
        {{extraData = it.leadBoxData.extraData;}}
        {{??}}
        {{extraData = it.leadBoxData;}}
        {{?}}
        <div class="rhs-col js-gallery-rhs">
            {{? it.pageType == 'property' }}
                 <div class="btn-wrap ">
                    <a class="cbtn cbtn-p gallery js-leadForm" data-type="connect-now" {{?it.isMobile}} data-step="CALL_NOW" data-call-now  {{?}}  data-cityId="{{=it.leadBoxData.leadFormData.city.id}}"  data-listingId="{{=it.leadBoxData.leadFormData.listingId}}" data-listingcategory="{{=it.leadBoxData.leadFormData.listingCategory}}" data-companyId="{{=it.leadBoxData.leadFormData.sellerDetails.sellerId}}" data-companyName="{{=it.leadBoxData.leadFormData.sellerDetails.name}}" data-companyPhone="{{=it.leadBoxData.leadFormData.sellerDetails.phone}}" data-companyRating="{{=it.leadBoxData.leadFormData.sellerDetails.rating}}" data-companyType="{{=it.leadBoxData.leadFormData.sellerDetails.type}}" data-companyUserId="{{=it.leadBoxData.leadFormData.sellerDetails.userId}}" data-companyImage="{{=it.leadBoxData.leadFormData.sellerDetails.image}}" data-companyAssist="{{=it.leadBoxData.leadFormData.sellerDetails.assist}}" data-ismakaanselectseller="{{=it.leadBoxData.leadFormData.sellerDetails.isMakaanSelectSeller||false}}"data-source="GALLERY" >Connect Now</a>
                </div>
            {{?}}
            
            {{? it.pageType == 'project' }}
                <div class="btn-wrap gallery ">
                    <a class="cbtn cbtn-p gallery js-leadForm" data-type="connect-now" data-source="GALLERY" >Connect Now</a>
                </div>
            {{?}}

            {{? it.pageType == 'serp' }}
                <div class="btn-wrap ">
                    <a  class="cbtn cbtn-p gallery js-leadForm" data-type="openLeadForm" data-rank="{{=it.leadBoxData.leadFormData.rank}}" {{?it.isMobile}}  data-step="CALL_NOW" data-call-now  {{?}} data-listingid="{{=it.leadBoxData.leadFormData.listingId}}" data-projectid="{{=it.leadBoxData.leadFormData.projectId}}" data-cityid="{{=it.leadBoxData.leadFormData.cityId}}" data-localityid="{{=it.leadBoxData.leadFormData.localityId}}" data-sellerid="{{=it.leadBoxData.leadFormData.companyId}}" data-sellername="{{=it.leadBoxData.leadFormData.companyName}}" data-sellerphone="{{=it.leadBoxData.leadFormData.companyPhone}}" data-sellerimage="{{=it.leadBoxData.leadFormData.companyImage || ''}}" data-sellerrating="{{=it.leadBoxData.leadFormData.companyRating}}" data-selleruserid="{{=it.leadBoxData.leadFormData.companyUserId}}" data-sellerassist="{{=it.leadBoxData.leadFormData.companyAssist}}" data-listingcategory="{{=it.leadBoxData.leadFormData.listingCategory}}" data-projectname="{{=it.leadBoxData.leadFormData.projectName}}" data-projectoverviewurl="{{=it.leadBoxData.leadFormData.projectOverviewUrl}}" data-sellertype="{{=it.leadBoxData.leadFormData.companyType}}" data-propertytype="{{=it.leadBoxData.leadFormData.propertyTypeLabel}}" data-builderid="{{=it.leadBoxData.leadFormData.builderId}}" data-bhk="{{=it.leadBoxData.leadFormData.bedrooms}}" data-budget="{{=it.leadBoxData.leadFormData.budget}}" data-projectstatus="{{=it.leadBoxData.leadFormData.projectStatus}}" data-propertytypeid="{{=it.leadBoxData.leadFormData.unitTypeId}}" data-source="GALLERY" data-ismakaanselectseller="{{=it.leadBoxData.leadFormData.isMakaanSelectSeller||false}}">Connect Now</a>
                </div>
            {{?}}

            {{? it.pageType == 'projectSerp' }}
                 <div class="btn-wrap">
                    <a class="cbtn cbtn-p gallery js-leadForm" data-type="lead-popup" {{?it.isMobile}} data-call-now data-step="CALL_NOW" {{??}} data-step="MAIN_TOP_SELLER" {{?}} data-source="GALLERY">Connect Now</a>
                </div>
            {{?}}

            <div class="icons-wrap">
                {{? it.pageType == 'property' || it.pageType == 'serp'}}
                    <span data-module="shortlist" data-type="fav-btn" data-id="{{=it.leadBoxData.listingId}}" class="favbtn" title="shortlist this property">
                        <script type="text/x-config">
                            {
                                "type":"listing",
                                "listingId":{{=it.leadBoxData.listingId}},
                                "projectId":{{=it.leadBoxData.projectId}},
                                "source": "headline",

                                "data": {
                                    "price":"{{=extraData.priceNum || ""}}",
                                    "propertyType":"{{=extraData.propertyType}}",
                                    "unitTypeId":"{{=extraData.unitTypeId || ""}}",
                                    "bedrooms":"{{=extraData.bedrooms || ""}}",
                                    "localityId":"{{=extraData.localityId || ""}}",
                                    "listingCategory":"{{=extraData.listingCategory || ""}}",
                                    "cityId":"{{=extraData.cityId || ""}}",
                                    "isRk":{{=extraData.isRk || false}},
                                    "isStudio":{{=extraData.isStudio || false}},
                                    "isPentHouse":{{=extraData.isPentHouse || false}},
                                    "size":"{{=extraData.size}}",
                                    "projectStatus":"{{=extraData.projectStatus || ""}}"
                                }
                            }
                        </script>
                        <i class="icon-makaan"></i>
                        <i class="icon-makaanfill"></i>
                    </span>
                {{?}}
                {{? it.pageType == 'project' || it.pageType == 'projectSerp' }}
                    <span data-module="shortlist" data-type="fav-btn" class="favbtn" title="shortlist this project">
                        <script type="text/x-config">
                            {
                                "type":"project",
                                "projectId": {{=it.leadBoxData.projectId}},
                                "data": {
                                    "label": "{{=it.leadBoxData.projectTitle}}",
                                    "builderName": "{{=it.leadBoxData.builderName}}",
                                    "minPrice":"{{=extraData.minPrice || ""}}",
                                    "maxPrice":"{{=extraData.maxPrice || ""}}",
                                    "unitTypeId":"{{=extraData.unitTypeId || ""}}",
                                    "bedrooms":"{{=extraData.bedrooms || ""}}",
                                    "localityId":"{{=extraData.localityId}}",
                                    "cityId":"{{=extraData.cityId}}",
                                    "projectStatus":"{{=extraData.projectStatus || ""}}"
                                },
                                "source": "headline"
                            }
                        </script>
                        <i class="icon-makaan"></i>
                        <i class="icon-makaanfill"></i>
                    </span>
                {{?}}

                <span class="shareitem" data-type="social-share" {{? it.url }} data-url="{{=it.url}}" {{?}}  ><i class="icon-share"></i></span>
                <span class="closebtn"><i class="icon-close js-galleryClose" data-type="close"></i></span>
            </div>
        </div>
    </div>
    {{?}}
    {{? it.leadBoxData.leadFormData.isMakaanSelectSeller}}
        <div class="ms-promotion">
            <div class="bg-selectlogo"><i class="icon-select-logo"></i></div>
            <div class="msp-txt">
                <span class="coupon-amount">&#8377; 2000 off </span>{{?it.isMobile}}on brokerage, {{??}}on brokerage on finalizing home with this agent, {{?}}<span class="linkk" data-type='galleryMSKnowMore'>Know More</span>
            </div>
            <div class="msbadge">
                <i class="icon-select-logo"></i> <i class="icon-select-txt"></i>
            </div>
        </div>
    {{?}}
</section>
