{{~it :value:index}}
{{ if (value.vsrc) { }}
<li data-thumb="{{=value.thumb}}" data-src="{{=value.src}}" data-sub-html="{{=value.subHtml}}" data-jwhtml="#jwPlayer" data-vsrc="{{=value.vsrc}}" data-download-url="{{=value.src}}">
{{ } else { }}
<li data-thumb="{{=value.thumb}}" data-src="{{=value.src}}" data-sub-html="{{=value.subHtml}}" data-download-url="{{=value.src}}" data-alt="{{=value.alt}}" data-title="{{=value.title}}">
{{ } }}
    <figure>
        <div class="thumb">
            <img class="ib" alt="{{=value.alt}}" itemprop="image" />
            <span class="v-align ib"></span>
            <div class="pic-title">{{=value.subHtml}}</div>
        </div>
    </figure>
</li>
{{~}}