<div class="mini-profile-tooltip" data-type="mini-tooltip">

    <div class="tooltip-arrow js-tp-arrow top"><span></span></div>

    <div class="slr-mini-profile js-mini-profile">

        {{?it.isMobileRequest}}
            <div data-type="closePopup" class="close-popup">
                <i class="icon-close"></i>
            </div>
        {{?}}
        <div data-module="sellerScore" data-score-container>
            <script type="text/x-config">
                {
                    "loaderSelector": "[data-score-loader]",
                    "placeHolderSelector": "[data-score-placeholder]"
                }
            </script>
            <div data-score-placeholder></div>
        </div>
        <div class="mini-profile-btm">
            <div class="btn-wrap">
                {{? !it.isSellerSerp && !it.isBuilderSerp }}
                    <a class="txtbtn js-view-profile" data-type="view-profile">View Profile</a>
                {{?}}
                <a class="txtbtn" data-type="connect-seller">Connect</a>
            </div>
        </div>
    </div>

</div>
