<!-- income slider -->
<div class="col-xs-12 col-sm-4 loan-amount m-padding">
    <span class="lbl">Loan amount</span>
    <div class="slider-input">
        <input id="emi_income" type="text" class="js-incomeText" data-type="emiInputs" maxlength="12" >
        <span class="rupee-icon fontc555"><span class="currency"></span>  </span>
    </div>
</div>
<div class="col-xs-6 col-sm-4 m-padding">
    <span class="lbl">Tenure</span>
    <div class="slider-input">
        <input id="emi_tenure" type="text" class="js-tenureText" data-type="emiInputs"  maxlength="2">
        <span>yr</span>
    </div>
</div>
<div class="col-xs-6 col-sm-4 m-padding">
    <span class="lbl">Rate of interest</span>
    <div class="slider-input">
        <input id="emi_interest" type="text" class="js-interestText" data-type="emiInputs">
        <span>%</span>
    </div>
</div>
