{{? it.deficitProject}}
    {{?it.isMobileDevice}}
        <div class = "fixed-top-banner mobile-ad-banner" style="background:linear-gradient(to right, #000000, rgba(0, 0, 0, 0.4) 52%, rgba(0, 0, 0, 0.1) 62%, rgba(0, 0, 0, 0)),url({{=it.deficitProject.originalBackgroundImage}}) no-repeat;background-size:cover;background-position: center;" data-type="navigateToProject" data-href="{{=it.deficitProject.overviewUrl}}" data-project-id="{{=it.deficitProject.projectId}}" data-seller-user-id="{{=it.deficitProject.projectSeller}}">
            <div class="fixed-ad-caption"> Popular On Makaan </div>
            <div class="main-line">
                    <span class="project-name">{{=it.deficitProject.projectName}}</span>
                    {{?it.deficitProject.builderDisplayName}}
                        <span class="builder-name">by {{=it.deficitProject.builderDisplayName}}</span>
                    {{?}} 
            </div>
            <div class="sub-line">{{=it.deficitProject.bedrooms}} {{?it.deficitProject.bedrooms}} | {{?}}{{=it.deficitProject.localityName}},{{=it.deficitProject.cityName}}</div>
            
            {{?it.deficitProject.price && it.deficitProject.price.min && it.deficitProject.price.max }}
                <div class="bottom-line"><span class="rupee currency"></span>{{=it.deficitProject.price.min}} - {{=it.deficitProject.price.max}}</div>
            {{?}}
            <div class="cbtn cbtn-p fixed-ad-cta"> Interested  <i class="icon-arrow-right"> </i> </div> 
        </div>
    {{?}}
{{?}}
