{{?it.projects && it.projects.length}}
<h4 class="deficit-projects">Recommended For You</h4>
{{?}}
<div>
    <ul class="clearfix deficit-seller-list">
        {{~ it.projects :value:index}}
        {{ var seller = it.sellerDataMap[value.projectSeller]; }}
        <li class="cardholder deficit-card js-deficit-card" data-seller-user-id={{=seller.companyUserId}} data-project-id={{=value.projectId}} data-overview-url={{=value.overviewUrl}} data-type="list-element">
                <div class="cardMobile clearfix" >
                    <div class="seller-wrap">
                        <div class="seller-dtls">
                            <div class="sibox-wrap">
                                <div class="seller-img-box" style="background-color: {{=seller.companyAvatar.backgroundColor}}">
                                    {{? seller.companyImage }}
                                    <img src="{{=seller.companyImage}}" style="background-color: {{=seller.companyAvatar.backgroundColor}}">
                                    {{??}}
                                    <span class="initial" style="background-color: {{=seller.companyAvatar.backgroundColor}}">{{=seller.companyAvatar.text}}</span>
                                    {{?}}
                                    <span class="highlighter-badge">
                                        {{? seller.isExpertDealMaker}}
                                        <img src="images/rating-review/expert-badge.png" alt="Expert Deal Maker">
                                        {{?? seller.isDealMaker}}
                                        <img src="images/rating-review/dealmaker-badge.png" alt="Deal Maker">
                                        {{?}}
                                    </span>
                                </div>
                            </div>
                            <div class="seller-info">
                                <span itemprop="name" class="seller-name">{{=seller.companyName}}
                                </span>
                                <div class="line2">
                                    {{? seller.sellerType}}
                                    <span>{{=seller.sellerType}}</span>
                                    {{?}}
                                    {{? seller.companyType}}
                                    <span class="seller-type">{{? seller.sellerType }}<span> . </span> {{?}} {{=seller.companyType}}</span>
                                    {{?}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="imgWrap">
                        <figure>
                            <img src="{{=value.backgroundImage}}" alt="{{=value.altText}}">
                        </figure>
                    </div>
                    <div class="main-info-wrap">
                        <div class="price-wrap">
                            <div class="price">
                                <sup class="rupee currency"></sup>
                                {{? value.price.min && value.price.max && (value.price.min != value.price.max)}}
                                <span class="val">{{=value.price.min.split(" ")[0]}}</span>
                                <span class="unit"> {{=value.price.min.split(" ")[1]}}</span>
                                 -
                                 <span class="val">{{=value.price.max.split(" ")[0]}}</span>
                                 <span class="unit"> {{=value.price.max.split(" ")[1]}}</span>
                                {{?? value.price.max }}
                                <span class="val">{{=value.price.max.split(" ")[0]}} </span>
                                <span class="unit"> {{=value.price.max.split(" ")[1]}}</span>
                                {{??}}
                                <span class="val">{{=value.price.min.split(" ")[0]}} </span>
                                <span class="unit"> {{=value.price.min.split(" ")[1]}}</span>
                                {{?}}
                                
                            </div>
                        </div>
                        <div class="type-size-wrap typelink">
                            <strong class="type"><span>{{=value.bedrooms}}&nbsp;</span>{{=value.propertyTypes}}</strong>
                        </div>
                        <div class="loc-wrap">
                            <span class="pipe">
                                {{? value.overviewUrl}}
                                <a class="proj-name" data-link-name="{{=value.overviewUrl}}" data-link-type="project overview" title="Go to {{=value.projectFullName}}"
                                    href="{{=value.overviewUrl}}">
                                    <span>
                                        <strong>{{=value.projectFullName}}&nbsp;</strong>
                                    </span>
                                </a>
                                {{?}}
                            </span>
                            <span class="loc-name">
                                <a data-link-name="{{=value.localityName}} {{=value.cityName}}" class="loclink">
                                    <span>
                                        <strong>{{=value.localityName}}</strong>
                                    </span>,&nbsp;
                                    <span class="city-name">{{=value.cityName}}</span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="btn-wrap align-right">
                        <div class="callwrap">
                            <a class="cbtn cbtn-p no-ajaxy" data-call-now="" data-type="openLeadForm"
                                data-step="CALL_NOW">Connect Now</a>
                        </div>
                    </div>
                </div>
        </li>
        {{~}}
    </ul>
    <div class="linex"></div>
</div>