<div class="hl-screen-container align-center" id="checkEligibility">
    <div class="screen-nav">
        <div class="screen-title"></div>
        <div class="hl-close">
            <i class="icon-close" data-type="closePopup"> </i>
        </div>
    </div>
    <div class="copm-loan">
        <div class="screen-content">
            <div class="hl-chk-eligible-content">
                <img class="top-icon" src="images/holdon-icon.png" alt="Hold On">
                <div class="screen-title">Hold On!</div>
                <p>
                    We are checking your Eligibility for instant Home Loan Approval.
                </p>
                <img src="images/loadingIcon.gif" alt="Loading">
                <p class="loader-text">
                   checking eligibility...
                </p>
            </div>
        </div>
    </div>
</div>