<div class="hl-screen-container" id="indiaBulls">
    <div class="screen-nav">
        <div class="screen-title"></div>
        <div class="hl-close">
            <i class="icon-close" data-type="closePopup"> </i>
        </div>
    </div>
    <div class="copm-loan">
        <div class="screen-content">
            <div class="hl-eligible-content">
                <div class="screen-title"> <strong> Congratulations {{=it.name}} </strong></div>
                <p class='align-center'>
                    You are eligible for <strong> Indiabulls </strong> instant home loan
                </p>
                <img data-src="images/indiabulls-logo.png" alt="Indiabulls">
                <div class="table-wrap">
                    <table>
                        <thead>
                            <tr>
                                <td>Eligibility Amount</td>
                                <td class="red-color"><strong>: &#8377;{{=it.loanAmount}}</strong></td> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>EMI</td>
                                <td>: &#8377;{{=it.emi}}</td> 
                            </tr>
                            <tr>
                                <td>Final Tenure</td>
                                <td>: {{=it.tenure}} Months</td> 
                            </tr>
                            <tr>
                                <td>Rate of Interest</td>
                                <td>: {{=it.interestRate}} %</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="screen-action">
            <div class="error-msg" ><span id="errorOcurred"></span></div>
            <div class="txtbtn" data-type="later" data-screen="{{=it.screenData.next}}">Maybe later</div>
            <div class="cbtn cbtn-p js-applyNow" data-type="applyNow" data-screen="{{=it.screenData.next}}">Apply Now</div>
        </div>
    </div>
</div>