<div class="hl-screen-container" id="optional">
    <div class="screen-nav">
        <div class="screen-title"></div>
        <div class="hl-close">
            <i class="icon-close" data-type="closePopup"> </i>
        </div>
    </div>
    <div class="copm-loan">
        <div class="screen-content">
            <div class="top-icon-wraper">
                {{? it.templateData.isDuplicate}}
                    <img data-src="images/oops-icon.png" width="60" height="60" alt="oops!">
                {{??}}
                    <span class="tick"><i class="icon-tick"></i></span>
                {{?}}
            </div>
            <div class="screen-title"> <strong> {{? it.templateData.isDuplicate}} Oops ! {{??}} Thank You {{=it.templateData.name}}{{?}} </strong> </div>
            <div class="msg-content">
                <p class="msg-text">
                    {{? !it.templateData.isDuplicate && it.templateData.indiaBullsApllicationId}}
                        <span>
                            You've successfully submitted your homeloan application.You will receive a confirmation mail from Indiabulls. 
                        </span>
                        <span class="id-text">Your Application Id is {{=it.templateData.indiaBullsApllicationId}}</span>

                    {{?? it.templateData.isDuplicate}}
                            <span>
                                You've already submitted your homeloan application to Indiabulls. 
                            </span>
                            {{? it.templateData.indiaBullsApllicationId}}
                                <span class="id-text">
                                    Your Application Id is {{=it.templateData.indiaBullsApllicationId}}
                                </span>
                            {{?}}
                            You've successfully submitted your homeloan application to other banks.
                            Our executives will call you shortly or you can also contact us at <label>08030196296</label>
                    {{??}}
                            <span>for showcasing your interest</span>
                        
                             <span class="id-text">Your Application Id is {{=it.templateData.applicationId}}</span>
                             Our executives will call you shortly or you can also contact us at <label>08030196296</label>
                    {{?}}
                </p>
            </div>
        </div>
        <div class="screen-action">
            <div class="error-msg" ><span id="errorOcurred"></span></div>
            <div class="cbtn cbtn-p hl-btn" data-type="next" data-screen="{{=it.screenData.next}}">Okay</div>
            <!--  visible only on conditional flow-->
        </div>
    </div>
</div>