<div class="hl-screen-container otp-screen" id="otp">
    <div class="screen-nav">
        {{?it.screenData.previous}}
        <div class="hl-arrow-wrap">
            <div class="hl-arrow back" data-type="previous" data-screen="{{=it.screenData.previous}}"></div>
        </div>
        {{?}}
        <!--  visible only on conditional flow-->
        <div class="screen-title">Verify your number</div>
        <!--  insert screen name-->
        <!--  can be configured-->
        <div class="hl-close">
            <i class="icon-close" data-type="closePopup"> </i>
        </div>
        <!--  visible only on conditional flow-->
    </div>
    <div class="screen-content">
        <div class="rcol">
            <div class="scroll-content clearfix">
                <div class="screen-logo">
                    <div class="logo-img">
                        <div class="main-img otp-img">
                        </div>
                    </div>
                    <!-- screen logo-->
                </div>
                <div class="contact clearfix">
                    OTP sent on <div class="otp-no">
                    <span id="otp_mobileNumber"></span>
                </div>
                </div>
                <div class="clearfix otp-wrap">
                    <div class="verification-wrap clearfix">
                        <div class="verfication-code clearfix">
                            <div class="fc-wrap verification-code-value clearfix">
                                <input maxlength="4" type="text" data-type="otp" id="otp_number" />
                            </div>
                        </div>
                        <div class="clearfix text-center">
                            <div id="opt-error-msg" class="error-msg"></div>
                        </div>
                    </div>
                    <div class="resend clearfix js-resendOtp">
                        <!-- <a data-type="otpOnCall" class="linktxt">receive otp on call</a> -->
                        <a data-type="resendOtp" class="linktxt resendtxt">Resend?</a>
                    </div>
                    <div class="resend skip-otp hide" data-type="skip-otp">skip</div>
                </div>
            </div>
        </div>
    </div>
    <div class="screen-action">
        <div class="cbtn cbtn-p hl-btn js-otpSubmit" data-type="submitOtp" data-screen="{{=it.screenData.next}}">Submit</div>
        <!--  visible only on conditional flow-->
    </div>
    <!--  different content for each screen-->
</div>
