<div class="hl-screen-container summary-screen" id="summary">
    <div class="screen-nav">
        <!--  visible only on conditional flow-->
        {{?it.screenData.previous}}
        <div class="hl-arrow-wrap" id="summary-previous">
            <div class="hl-arrow back" data-type="previous" data-screen="{{=it.screenData.previous}}"></div>
        </div>
        {{?}}
        <!--  visible only on conditional flow-->
        <div class="screen-title">APPLY FOR HOME LOAN</div>
        <!--  insert screen name-->
        <!--  can be configured-->
        <div class="hl-close">
            <i class="icon-close" data-type="closePopup"> </i>
        </div>
        <!--  visible only on conditional flow-->
    </div>
    <div class="screen-content">
        <div class="scroll-content">
            <div class="rcol">
                <div class="form-row">
                    <h4>Personal Details</h4>
                    <div class="fc-wrap inputbox clearfix">
                        <div data-module="InputBox"  id="summary_name">
                            <script type="text/x-config">
                                { "label": "Name", "inputName":"summary_fullName", "value": "{{=it.name}}", "type":"text", "maxlength":50,
                                "className": "js-name" }
                            </script>
                            <div class="js-input-placeholder"></div>
                            <div class="error-msg"></div>
                        </div>
                    </div>
                    <div class="fc-wrap">
                        <div data-module="singleSelectOptions" data-type="gender" data-view="radio"></div>
                    </div>
                    <div data-module="dateTimePicker" class="fc-wrap">
                        <div class="overhead-tool">I was born on</div>
                        <div class="date-input">
                            <div class="js-input-placeholder">
                                <div class="input-box">
                                    <input type="text" name="summary_dob" onfocus="blur()" placeholder="Enter DOB" data-type="input-box" name="date" value="" maxlength="50" style="text-indent:0px" class='js-dob'>
                                    <input type="hidden" class='js-dobtimeStamp'>
                                </div>
                            </div>
                            <div class="error-msg"></div>
                        </div>
                        <script type="text/x-config">
                            { "minDate":"1900/01/01"}
                        </script>
                    </div>
                    <div class="fc-wrap inputbox clearfix" style="display:inline-block; width:70%">
                        <div data-module="InputBox"  id="summary_email">
                            <script type="text/x-config">
                                { "label": "Email", "inputName":"summary_emailId", "value": "{{=it.email}}", "type":"text", "maxlength":50 ,
                                "className": "js-email"}
                            </script>
                            <div class="js-input-placeholder"></div>
                            <div class="error-msg"></div>
                        </div>
                    </div>
                    <div class="nri-wrap">
                        <label class="checkboxlbl">
                            <input type="checkbox" name="summary_nri" data-id="" data-type="nriClicked" class="js-nri">
                            <span class="txt">NRI</span>
                        </label>
                    </div>
                    <div class="clearfix fc-wrap mobile-wrap">
                        <input type="hidden" data-country="MAIN_COUNTRY" value="" />
                        <div data-module="singleSelectDropdown"  data-type="countries" class="country-dd js-countries">
                            <script type="text/x-config">
                                { "templateFromPromise": true, "defaultValue": "{{=it.countryId || ''}}" }
                            </script>
                        </div>
                        <div class="fc-wrap inputbox country-code-contact clearfix">
                            <span class="countryCode" id="COUNTRY_CODE">--</span>
                            <div data-module="InputBox"  id="summary_mobile">
                                <script type="text/x-config">
                                    { "label": "Mobile", "inputName":"summary_mobileNumber", "value": "{{=it.mobile || ''}}", "textIndent":"42px", "type":"number", "maxlength":10,
                                    "className": "js-mobile" }
                                </script>
                                <div class="js-input-placeholder" data-type="first_phone"></div>
                                <div class="error-msg" data-message="PHONE"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fc-wrap btm-error">
                        <div data-module="typeAhead" id="summary_city" class="typeAhead-hl fc-wrap">
                            <div class="overhead-tool">My residence city</div>
                            <script type="text/x-config">
                                { "city": "", "inputName":"summary_city_name", "typeAheadType": "city", "placeholder": "name of the city", "rows": 6, "includeGoogplePlace":false, "includeSuggestion":false, "templatePath":"doT!modules/pyr/views/localityTypeAhead","keepSelection":true }
                            </script>
                            <span class="srchicon">
                                <span class="icon-search">
                                    <span class="path1"></span><span class="path2"></span>
                            </span>
                            </span>
                            <div class="error-msg"></div>
                            <input type="hidden" name="summary_city_id">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <h4>Income Details</h4>
                    <div data-module="singleSelectDropdown" data-type="profession" id="income_profession" class="fc-wrap">
                        <script type="text/x-config">
                            { "templateFromPromise": true, "defaultValue": "Salaried" }
                        </script>
                    </div>
                    <div class="fc-wrap inputbox clearfix">
                        <div data-module="InputBox" id="income_gross_earning" >
                            <script type="text/x-config">
                                { "label": "Gross Earnings (annual)", "inputName":"income_gross_earning", "value": "{{=it.preFillData && it.preFillData.income_grossEarning ||0}}", "type":"number", "maxlength":50,
                                "className": "js-salary" }
                            </script>
                            <div class="js-input-placeholder"></div>
                            <div class="error-msg"></div>
                        </div>
                    </div>
                    <div class="fc-wrap">
                        <h5>Existing EMI </h5>
                        <div data-module="singleSelectOptions" data-type="existingEmi" data-view="radio" data-selected-value="{{?it.preFillData && it.preFillData.income_existingEmi}}yes{{??}}no{{?}}">
                        </div>
                    </div>
                    <div class="fc-wrap inputbox clearfix js-emiContainer hide">
                        <div data-module="InputBox" id = "income_existing_emi">
                            <script type="text/x-config">
                                { "label": "Existing EMI", "inputName":"income_existing_emi", "value": "{{=it.preFillData && it.preFillData.income_existingEmi ||0}}" , "type":"number", "maxlength":50,
                                "className": "js-emi" }
                            </script>
                            <div class="js-input-placeholder"></div>
                            <div class="error-msg"></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <h4>Loan Details</h4>
                    <div class="fc-wrap inputbox clearfix">
                        <div data-module="InputBox" id="price_loan_amount">
                            <script type="text/x-config">
                                { "label": "Loan Amount", "inputName":"price_loan_amount", "value": "", "type":"number", "maxlength":50,
                                "className": "js-loanAmount" }
                            </script>
                            <div class="js-input-placeholder"></div>
                            <div class="error-msg"></div>
                        </div>
                    </div>
                    <div class="fc-wrap">
                        <h5>Bank Preference</h5>
                        <div data-module="singleSelectOptions" data-type="bankPrefrence" data-view="radio"></div>
                    </div>
                    <div class="hide js-bankContainer">
                        <div data-module="multiSelectOptions" data-type="banks" data-view="radio">
                             <script type="text/x-config">
                                {"templateFromPromise": true}
                            </script>
                        </div>
                    </div>
                    <!-- <div class="fc-wrap">
                        <h5>Co-applicant (Add a co-applicant who is seeking to obtain the loan with a primary applicant) </h5>
                        <div data-module="singleSelectOptions" data-type="coApplicant" data-view="radio"></div>
                    </div> -->
                    <div class="fc-wrap">
                        <h4>Property Details</h4>
                        <h5>Property Identified (Choose yes if you've already selected property to buy) </h5>
                        <div data-module="singleSelectOptions" data-type="propertyIdentifies" data-view="radio"></div>
                        <div data-module="typeAhead" id="project_city" class="typeAhead-hl fc-wrap">
                            <div class="overhead-tool">I am buying a home in </div>
                                <script type="text/x-config">
                                    { "city": "Gurgaon", "inputName":"project_city_name", "typeAheadType": "city", "placeholder": "name of the city", "rows": 6, "includeGoogplePlace":false, "includeSuggestion":false, "templatePath":"doT!modules/pyr/views/localityTypeAhead","keepSelection":true }
                                </script>
                                <span class="srchicon">
                                    <span class="icon-search">
                                        <span class="path1"></span><span class="path2"></span>
                                    </span>
                                </span>
                            <div class="error-msg"></div>
                         </div>
                        <input type="hidden" name="project_city_id">
                    </div>
                </div>
            </div>
        </div>
        <div class="screen-action">
        <div class="error-msg" ><span id="errorOcurred"></span></div>
            <div class="cbtn cbtn-p hl-btn js-summarySubmit" data-type="next" data-screen="{{=it.screenData.next}}">Submit</div>
            <!--  visible only on conditional flow-->
        </div>
    <!--  different content for each screen-->
    </div>
</div>
