<div id="errorOcurred"></div>
<div id="js-profile-data" data-profileid="{{=it.profileDetail.id}}" data-entityid="{{=it.profileDetail.entityId}}" data-questionnaireid="{{=it.profileDetail.profilingQuestionnaireId}}"></div>
<div id="js-ques-data" data-type="{{=it.questionDetail.questionTypeId}}" data-questionid="{{=it.questionDetail.questionId}}" data-question="{{=it.questionDetail.question}}" data-attribute-question="{{=it.questionDetail.attributeQuestion}}" data-respid="{{=it.questionDetail.respId}}"></div>
<div class="action-area">
    {{? it.questionDetail.allowPrevious}} <span class="txtbtn pre" data-type="prev-ques"><i class="icon-chevron-left"></i>Previous</span> {{?}}
    {{? it.questionDetail.allowSkip && !it.responseDetail.length }} <span class="txtbtn" data-type="skip-ques">Skip</span> {{?}}    
    {{? it.questionDetail.allowNextBtn}} <span data-type="next-ques" class="cbtn cbtn-p">Next</span> {{?}}
    {{? it.questionDetail.questionTypeId == 2}}
        <span data-type="next-ques" class="cbtn cbtn-p">Finish</span>
    {{?}}
</div>
