<h4>{{=it.question}}</h4>
<div class="questions-list">
	<div class="{{? it.answerHasImages}} img-labels {{??}} text-labels {{?}}">
		{{~ it.answerOptions :answerOption}}
		<label for="{{=answerOption.answerId}}" class="{{?answerOption.imageUrl}} selectlbl-img {{??}} multiselectlbl {{?}}">
			<input id="{{=answerOption.answerId}}" class="checkbox" type="checkbox" {{?answerOption.checked}} checked="checked" {{?}} name="checkbox">
 			{{?answerOption.imageUrl}} 
				<span class="icon-box">
					<img src="{{=answerOption.imageUrl}}" alt="{{=answerOption.displayName}}">
				</span>
				<span class="val-box"> {{=answerOption.displayName}} </span>
			{{??}} 
				<span class="boxoption">
					<span class="val"> {{=answerOption.displayName}} </span>
				</span>
			{{?}}
		</label>
		{{~}}
	</div>
	<div class="error-msg" id="error-{{=it.questionId}}" data-message="Please select at least one option"></div>
</div>