<h4>{{=it.question}}</h4>
<div class="questions-list">
	<div class="fc-wrap">
		{{~it.dateOptions :dateOption:index }}
			<label for="month_{{=dateOption.key}}" class="radiolbl" data-type="calendar-month" data-value="{{=dateOption.key}}">
				<input id="month_{{=dateOption.key}}" type="radio" class="date-range" value="{{=dateOption.val}}" data-label="{{=dateOption.val}}" name="calendar-month" {{?dateOption.val==it.dateOptionSelected}}checked="checked"{{?}}>
				<span class="outer"><span class="inner"></span></span>
				<span class="txt">{{=dateOption.val}}</span>
			</label>
		{{~}}
	</div>
	<div class="text-labels">
		{{~ it.answerOptions :answerOption:index }}
			<label for="ans_{{=answerOption.answerId}}" class="{{?answerOption.imageUrl}} selectlbl-img {{??}}multiselectlbl{{?}} {{?index < it.currentWeekIndex && it.disableFlag}}disable-select{{?}}" data-type="next-ques" data-weekindex="{{=index}}" data-ansid="{{=answerOption.answerId}}" data-answer="{{=answerOption.displayName}}" data-quesid="{{=it.questionId}}" data-respid="{{=it.respId}}">
				<input id="ans_{{=answerOption.answerId}}" type="radio" name="radio" {{?index < it.currentWeekIndex}}disabled{{?}} {{?answerOption.answerId==it.ansOptionSelected}}checked="checked"{{?}}>
				<span class="boxoption">
					<span class="val"> {{=answerOption.displayName}}</span>
				</span>
			</label>
		{{~}}
	</div>
</div>