<div class="lp-wrap" data-target="wrapper">
	<span class="close-lp js-close-mprofile-popup" data-type="close">
		<i class="icon-close"></i>
		<i class="icon-chevron-up"></i>
		<i class="icon-chevron-down"></i>
	</span>
	<div class="lp-head-img"></div>
	<div class="lp-head-wrap" data-type="wrapper">
		<div class="lp-head-content">
			<p data-target="heading-placeholder">
				<span class="sticky-top">Complete your mProfile</span>
				<span class="sticky-btm">Let us help you in finding your perfect home!</span>
			</p>
			<span class="sub-head" data-target="subheading-placeholder">
				<span class="sticky-top">To get personalised search experience</span>
				<span class="sticky-btm">Complete your mProfile to kick start</span>
			</span>
		</div>
		<div class="lp-c-bar">
			<div class="comp-bar-wrap"><div class="comp-bar" data-target="progress-placeholder"></div></div>
			<div class="comp-text" data-target="percentage-placeholder">30%</div>
		</div>
	</div>
	<div class="main-loading  box-loading js-main-loading hide">
		<div class="loading-wrap">
			<img src="images/loadingIcon.gif" alt="loading..." />
			<p>
				<span>loading...</span>
			</p>
		</div>
	</div>
	<div class="lp-ques-wrap js-sticky-reset" data-target="question-placeholder"></div>
	<div class="action-btn-wrap js-sticky-reset" data-target="action-placeholder"></div>
</div>