<h4>{{=it.question}}</h4>
<div class="questions-list">
<div id="js-parent-question" data-quesid="{{=it.questionId}}" data-respid="{{=it.respId}}"></div>
	<div class="text-labels">
		{{=it.childQuestionHtml}}
	</div>
</div>