<h4>{{=it.question}}</h4>
<div class="questions-list">
	<div class="filter-typeahead multiloclity-search-wrap">
		<div data-module='search' id="mProfileTypeahead">
			<div data-module="typeAhead" id="mprofile-filter-typeahead" class="search-wrap">
				<script type="text/x-config">
					{ 
						"name": "searchTypeAhead",
						"inputName":"{{=it.attributeQuestion}}",
						"questionType": "{{=it.questionTypeId}}",
						"multiselect":["LOCALITY", "SUBURB"],
						"rows": 5,
						"templatePath":"doT!modules/typeAhead/views/mobileSearch",
						"typeaheadResultsDataSource": {
							"filePath": "services/searchService",
							"serviceName": "SearchService",
							"functionName": "getTypeaheadResults"
						},
						"loaderElementClass": "search-loader",
						"minLength": 2,
						"placeholder": "{{=it.placeholder}}",
						"layoutPreloaded":true,
						"preFilledData": {{=JSON.stringify(it.preFilledData)}},
						"searchLocalityOnly" : true
					}
				</script>
				<div class="thcontainer">
					<div data-type="overlay-sec" class="thoverlay hidden"></div>
					<div class="tag-wrap" data-type="tags">
						<div class="srched-tag js-default-suggestion js-suggestion-tag-dummy no-close-tag hide"><span class="val js-tag"></span><span class="close"></span></div>
						<div class="srched-tag js-capsuleCounter js-suggestion-tag-dummy more-tag hide" data-type="tag-minicount"></div>
						<input type="text" disabled='disabled' class="js-input js-multiple-typeahead thinput" data-type='query-text' placeholder="loading...">
					</div>
					<div class="thdd" data-type='search-list'></div>
				</div>
			</div>
		</div>
		<div class="js-input-placeholder js-input-textbox" data-quesid="{{=it.questionId}}" data-input-name="{{=it.attributeQuestion}}" data-respid="{{=it.respId}}" data-question-type="multipleTypeAhead"></div>
	</div>
	<div class="error-msg" id="error-{{=it.questionId}}" data-message="Please select at least one option"></div>
</div>
