<h4>{{=it.question}}</h4>
<div class="questions-list">
	<div class="{{? it.answerHasImages}} img-labels {{??}} text-labels {{?}}">
		{{~ it.answerOptions :answerOption}}
		<label for="{{=answerOption.answerId}}" class="{{?answerOption.imageUrl}} selectlbl-img {{??}} multiselectlbl {{?}}" data-answer="{{=answerOption.displayName}}" data-type="next-ques" data-ansid="{{=answerOption.answerId}}" data-quesid="{{=it.questionId}}" data-respid="{{=it.respId}}">
			<input id="{{=answerOption.answerId}}" type="radio" {{?it.respAnswerOptionId == answerOption.answerId}} checked="checked" {{?}} name="radio">
 			{{?answerOption.imageUrl}} 
				<span class="icon-box">
					<img src="{{=answerOption.imageUrl}}" alt="{{=answerOption.displayName}}">
				</span>
				<span class="val-box"> {{=answerOption.displayName}} </span>
			{{??}} 
				<span class="boxoption">
					<span class="val"> {{=answerOption.displayName}} </span>
				</span>
			{{?}}
		</label>
		{{~}}
	</div>
</div>