{{?it.isParentQuestion}}
<h4>{{=it.question}}</h4>
<div class="questions-list">
	<div class="text-labels">
{{?}}
		<div data-module="InputBox">
			<script type="text/x-config">
				{ 
					"label": "{{=it.placeholder}}", 
					"inputName":"{{=it.attributeQuestion.toLowerCase()}}",
					"value":"{{?it.respValue}} {{=it.respValue}} {{?}}"
				}
			</script>
			<div class="js-input-placeholder js-input-textbox" data-quesid="{{=it.questionId}}" data-type="ques_{{=it.questionId}}" data-respid="{{=it.respId}}"></div>
			<div class="error-msg" id="error-{{=it.questionId}}" data-message="Please enter {{=it.placeholder.toLowerCase()}}"></div>
		</div>
{{?it.isParentQuestion}}
	</div>
</div>
{{?}}