<h4>{{=it.question}}</h4>
<div class="questions-list">
	<div class="field-wrap">
		<textarea class="inputstyle js-input-textarea" rows="5" data-quesid="{{=it.questionId}}" data-type="ques_{{=it.questionId}}" autofocus placeholder="Write here" data-respid="{{=it.respId}}">{{?it.respValue}} {{=it.respValue}} {{?}}</textarea>
	</div>
</div>