<div data-module="typeAhead" id="{{=it.attributeQuestion}}" class="typeAhead-hl loc-wrap">
	<script type="text/x-config">
		{ 
			"label": "{{=it.placeholder}}",
			"city": "", 
			"inputName":"{{=it.attributeQuestion}}",
			"typeAheadType": "project,locality,suburb", 
			"placeholder": "{{=it.question}}", 
			"includeGoogplePlace":true, 
			"includeSuggestion":true, 
			"templatePath":"doT!modules/typeAhead/views/project",
			"keepSelection":true,
			"value":"{{=it.respValue}}"
		}
	</script>
	<div class="js-input-placeholder js-input-textbox" data-quesid="{{=it.questionId}}" data-input-name="{{=it.attributeQuestion}}" data-respid="{{=it.respId}}" data-question-type="typeAhead"></div>
</div>
<div class="error-msg office_error" id="error-{{=it.questionId}}" data-message="Please enter {{=it.question.toLowerCase()}}"></div>