    @charset "utf-8";

/* CSS Document */

nav,
section,
header,
footer,
article,
figure,
hgroup {
    display: block;
}

#akl,
#avl,
#agl,
#arl,
#atl {
    visibility: hidden;
}

map,
area {
    border: none;
    outline: none;
}
.map-image{
    max-height: 100%;
    max-width: 100%;
}

/*top part*/

a.navbar-brand {
    padding: 5px 15px;
}

span.ic-clr {
    color: #ea3529;
}

img.logs {
    display: inline-block;
    max-width: 75%;
    margin: 0px auto;
}

ul.navbar-right li:last-child {
    padding-right: 50px;
}

nav.navbar {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    min-height: 1px;
}

.navbar-nav > li {
    border-right: solid 1px #ccc;
}

nav ul li input.form-control {
    width: 540px;
    height: 50px;
    top: 0px;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}

span.srch {
    position: absolute;
    top: 15px;
    z-index: 99;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
    color: rgba(228, 33, 42, 0.51);
}

.navbar-nav li.dropdown {
    border-left: solid 1px #ccc !important;
}

.navbar-default .navbar-nav > li > a {
    color: #130F0F;
    font-size: 16px;
}

span.lin {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 6px;
    right: -37px;
}

.abt-page-wrap {
    background: #ffffff;
}


/*about css*/

section.abt {
    padding-top: 55px;
}

.img-responsive.abt{
    margin-top: 100px;
}

section.abt h3 {
    margin-top: 0;
    font-size: 43px;
    color: #ce3132;
    margin-bottom: 30px;
}

section.abt h5{
    margin-top: 0;
    font-size: 22px;
    color: #ce3132;
    margin-bottom: 0;
}

.values-sec ul{
    padding-left: 15px;
}

.values-sec ul li{
    margin-top: 10px;
    list-style: disc;
    font-size: 16px;
    color: #444;
}

.atb {
    padding-left: 70px;
}

.abt p {
    text-align: justify;
    font-size: 16px;
    color: #444;
}

#googleMap {
    min-height: 450px;
}


/*owl carouseal*/

.owl-item .tm-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo1 .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-buttons {
    position: absolute;
    width: 100%;
}

.owl-theme .owl-controls {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-left: 0px;
    min-height: 55%;
    width: 100%;
}

.owl-pagination {
    position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom: 0px;
}

.owl-prev {
    position: absolute;
    left: 0px;
}

.owl-next {
    position: absolute;
    right: 0px;
}

.owl-theme .owl-controls .owl-buttons div {
    color: #000;
    display: inline-block;
    zoom: 1;
    margin: 0px 10px;
    padding: 10px;
    font-size: 44px;
    background: transparent;
    opacity: .5;
}

hgroup.sld_txt1 {
    position: absolute;
    z-index: 999999;
    top: 40%;
    max-width: 420px;
    right: 5%;
}

hgroup.sld_txt1 h3 {
    color: #fff;
    font-size: 43px;
}

hgroup.sld_txt1 h4 {
    color: #444;
    font-size: 16px;
    line-height: 1.3;
    margin-top: 20px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    text-align: justify;
}

hgroup.txt2 {
    right: auto;
    left: 6%;
    top: 28%;
}

hgroup.txt2 h3 {
    color: #ce3132 !important;
}

hgroup.txt2 h4 {
    color: #444;
}

hgroup.txt3 h3 {
    color: #fff;
}


/*mantra*/

.mantra {
    padding-top: 70px;
}

section.mantra h3 {
    margin-top: 50px;
    font-size: 43px;
    color: #ce3132;
    margin-bottom: 10px;
}

.mantra p {
    font-size: 16px;
    color: #000;
}


/*proptiger*/

section.propt {
    /*  background:#f99d33;*/
    padding-top: 13%;
    position: relative;
}

.propt .owl-pagination {
    display: block;
}

hgroup.tm {
    position: absolute;
    top: 37%;
    left: 19%;
    max-width: 380px;
}

.propt h3 {
    margin: 15px 0; 
    /*font-size:43px;*/
    color: #EF3D37;
}

.propt h4 {
    color: #444444;
    line-height: 1.5;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    font-size: 16px;
    text-align: justify;
}

.prt-inr {
    padding-left: 0px;
}

.prt-inr p {
    font-size: 16px;
    color: #000;
}


/*invest*/

.invst {
    padding-top: 70px;
    padding-bottom: 70px;
}

.invst h3 {
    margin-top: 20px;
    font-size: 43px;
    color: #ef3d37;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.invst p {
    font-size: 16px;
    line-height: 2.2;
    color: #575757;
}

.invst p:last-child {
    margin-top: 40px;
}

.invst p span {
    color: #e8362f;
    margin-left: 0px;
}

.invis {
    margin-top: 100px;
}

.invi {
    min-height: 90px;
    border: solid 5px transparent;
    -webkit-transition: all .9s;
    transition: all .9s;
    -moz-transition: all .9s;
}


/* find us*/

.fnd {
    background-color: #fbb416;
    padding: 50px 15px;
    padding-bottom: 60px;
}

.fnd h3 {
    margin-top: 0px;
    font-size: 43px;
    color: #ce3132;
    margin-bottom: 20px;
}

.fnd p {
    margin-top: 90px;
    color: #fff;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 1px;
}

.fnd p span.bghd {
    font-size: 20px;
}


/*social*/

section.social {
    padding-top: 20px;
    padding-bottom: 20px;
}

.social-icons img,
.social-icons {
    float: left;
    position: relative;
}

.social-icons img.facebook {
    width: 130px;
    float: left;
}

.social-icons img.google {
    width: 60px;
    float: left;
    top: 69px;
}

.social-icons img.twiter {
    width: 70px;
    position: absolute;
    margin-left: -10px;
}

.social-icons img.pintrest {
    width: 60px
}

.social-icons img.linkedin {
    width: 80px;
    position: relative;
    margin-left: -62px;
    margin-top: 60px;
    z-index: 2
}

.social-icons img.youtube {
    width: 60px;
    /* position: absolute; */
    margin-left: -19px;
    margin-top: 25px;
    z-index: 1;
}

.social h3 {
    color: #F15748;
    font-size: 43px;
    text-align: right;
    margin-right: 15%;
    margin-top: 40px;
}


/*9th march*/

.slider .item {
    min-height: 630px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-bottom: 10%;
}

.owl-carousel .owl-wrapper-outer {
    max-height: 640px;
}

.owl-wrapper .owl-item .item h3{
    font-size: 24px;
    line-height: 30px;
}

.owl-wrapper .owl-item .item h3 span{
    display: block;
    font-size: 18px;
}

.owl-wrapper .owl-item .item h3.culture-heading{
    font-size: 40px;
}

.bn_c {
    background-color: #fc794e;
    padding-top: 0px;
}

.bn1_c {
    background-color: #b0b5f7;
    padding-top: 12%;
}

.bn2_c {
    background: #dfdcaf;
    padding-top: 0px;
}

.bn2_c img.slt {
    max-width: 42%;
    padding-top: 5%;
}

.bn3_c {
    background-color: #93d0d5;
    padding-top: 0;
}

.bn3_c img.slt {
    padding-top: 4%;
    padding-bottom: 8%;
    max-width: 45%;
}

.bn3_c hgroup.txt2 {
    top: 24% !important;
}

img.slt {
    width: auto;
    max-width: 50%;
    float: right;
    margin-right: 8%;
}

.bn_c img.slt {
    width: auto !important;
    max-width: 100%;
    float: none;
    margin-top: 15%;
}

.bn6_c {
    background-color: #fececa;
    padding-top: 0;
}

.bn5_c {
    background-color: #f2d0b7;
}

.bn4_c {
    background-color: #a9e4a4;
}

.bn6_c img.slt{
    max-width: 27%;
    margin-top: 5%;
}

.bn5_c img.slt {
    max-width: 40%;
    margin-top: 5%;
}

.bn4_c img {
    max-width: 40%;
    margin-top: 5%;
}


/*2nd plug*/

#avl .owl-carousel .owl-wrapper-outer {
    max-height: inherit;
}

#avl #owl-demo1 .item {
    padding: 5% 0px;
    overflow: hidden;
    padding-bottom: 20px !important;
    min-height: 630px;
}

.te1 {
    background-color: #edf2f0;
}

.te1 img.tms {
    margin-top: 12%;
}

#owl-demo1 .item img {
    display: inline-block;
    width: auto !important;
    height: auto;
}

hgroup.tm {
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.owl-wrapper .owl-item .item  h3.team_hd {
    font-size: 43px;
    margin: 0px 0px;
}

.te2 {
    background-color: #ffcc50;
}

.te3 {
    background-color: #e5dfda;
}

.te3 img.tms {
    margin-top: 16.5%;
}

.te4 {
    background-color: #edf2f0;
}

.te5 {
    background-color: #fbb416;
}

.te6 {
    background-color: #edf2f0;
}

.te7 {
    background-color: #e5dfda;
}

.item .col-md-6 {
    padding-right: 0px;
    padding-left: 10%;
}

.item .col-md-6:last-child {
    padding-left: 0px;
}

img.tms {
    float: none;
    margin: 0px auto;
    display: block !important;
}

.te7 img.tms {
    margin-top: 20%;
}

.te9 {
    background-color: #dbcaac;
}

/*invesrtors logo*/
.investors-wrap .investors-logo {
  margin-top: 55px;
  margin-bottom: 100px;
  display: inline-block;
  width: 100%;
  max-width: 1170px;
}
.investors-wrap .investors-logo li {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  padding: 15px;
}
.investors-wrap .investors-logo li .invesrtors {
  display: inline-block;
  background: url(/images/homepage/funderLogo.png) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.investors-wrap .investors-logo li .investor-newscorp {
  background-position: -5px 0;
  width: 138px;
  height: 40px;
}
.investors-wrap .investors-logo li .investor-rea-group {
  background-position: -5px -86px;
  width: 135px;
  height: 40px;
}
.investors-wrap .investors-logo li .investor-softbank {
  background-position: -5px -45px;
  width: 137px;
  height: 36px;
}
.investors-wrap .investors-logo li .investor-saif-partners {
  background-position: -5px -131px;
  width: 129px;
  height: 16px;
}
.investors-wrap .investors-logo li .investor-accel {
  background-position: -5px -152px;
  width: 95px;
  height: 30px;
}
.investors-wrap .investors-logo li .investor-rb-investment {
  background-position: -5px -222px;
  width: 78px;
  height: 40px;
}
.investors-wrap .investors-logo li .investor-nexus-venture {
  background-position: -5px -187px;
  width: 90px;
  height: 30px;
}

.owl-wrapper .owl-item .item h3.team_hd{
    text-transform: capitalize;
}


@media screen and (min-width: 1023px) and (max-width: 1281px) {
    section p {
        font-size: 16px !important;
    }
    hgroup.sld_txt1 h4 {
        font-size: 16px;
    }
}

@media screen and (min-width: 1380px) {
    .owl-carousel .owl-wrapper-outer {
        max-height: 745px;
    }
    .bn1_c img.slt {
        max-width: 47%;
    }
    .bn4_c img.slt {
        max-width: 44%;
    }
    .bn5_c img.slt {
        max-width: 100%;
        width: auto !important;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    .bn6_c img.slt {
        width: auto !important;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    #avl #owl-demo1 .item {
        min-height: 640px;
    }
}

@media screen and (max-width: 680px) {
    #googleMap {
        min-height: 300px;
    }
    .mbrs {
        padding: 0px;
        text-align: center;
    }
    .social-icons img,
    .social-icons {
        float: none;
    }
    .social-icons img.facebook {
        width: 50px;
        float: none;
    }
    .social-icons img.google {
        width: 50px;
        float: none;
        top: auto;
    }
    .social-icons img.twiter {
        width: 50px;
        margin: 0;
    }
    .social-icons img.pintrest {
        width: 50px;
    }
    .social-icons img.linkedin {
        width: 50px;
        margin: 0;
    }
    .social-icons img.youtube {
        width: 50px;
        margin: 0;
    }
    nav ul li input.form-control {
        width: 98%;
        height: 50px;
        top: 0px;
        position: relative;
        padding-left: 30px;
        font-size: 16px;
        border-radius: 0px;
        border: none;
        box-shadow: none;
    }
    .atb {
        padding-left: 10px;
    }
    section.abt {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    section.abt h3 {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0px;
        text-align: center;
    }
    .abt p {
        font-size: 14px;
    }
    section.mantra h3 {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0px;
        text-align: center;
    }
    .mantra {
        padding-top: 50px;
    }
    .mantra p {
        font-size: 14px;
        color: #000;
        text-align: center;
        margin-bottom: 20px;
    }
    section.propt {
        padding-top: 30px;
    }

    hgroup.tm {
        position: absolute;
        top: 21%;
        left: auto;
        max-width: 160px;
        right: 48%;
        overflow: hidden;
    }
    img {
        margin: 0px auto;
    }
    .prt-inr {
        padding-left: 0px;
        padding-right: 0px;
    }
    .propt h4 {
        color: #444;
        line-height: 1.3;
        font-size: 14px;
        text-align: center;
        max-height: 55px;
        overflow: hidden;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    section.propt {
        /*padding-left:0px !important;
    padding-right:0px !important;*/
    }
    .prt-inr p {
        font-size: 14px;
        margin-bottom: 20px;
        text-align: justify;
    }
    section.propt .col-xs-12:last-child {
        padding-left: 0px;
        padding-right: 0px;
    }
    .invst {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .invis {
        margin-top: 20px;
    }
    .invst h3 {
        margin-top: 30px;
        font-size: 30px;
        color: #EF3D37;
        margin-bottom: 10px;
        text-align: center;
    }
    .invst p {
        font-size: 14px;
        line-height: 1.5;
        color: #575757;
        text-align: justify;
    }
    .invst p span {
        margin-left: 0px;
    }
    .fnd {
        background-color: #FBB416;
        padding: 50px 15px 50px 15px;
    }
    .fnd h3 {
        margin-top: 0px;
        font-size: 30px;
        color: #CE3132;
        margin-bottom: 10px;
    }
    .fnd p {
        margin-top: 10px;
        color: #FFF;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 1px;
    }
    iframe {
        height: 300px !important;
    }
    .fnd p span.bghd {
        font-size: 24px;
    }
    section.social {
        padding-top: 0px;
    }
    .social h3 {
        color: #ce3132;
        font-size: 30px;
        text-align: center;
        margin-top: 15%;
        margin-right: 0px;
    }
    .fnd h3+div {
        padding-left: 15px !important;
    }
    hgroup.sld_txt1 {
        position: absolute;
        z-index: 999999;
        top: 40px;
        max-width: 130px;
        right: 1%;
    }
    hgroup.sld_txt1 h3 {
        color: #fff;
        text-align: center;
        font-size: 20px;
        margin: 0px;
    }
    hgroup.txt2 {
        right: auto;
        left: 1%;
        top: 40px;
    }
    .owl-buttons {
        display: none;
    }
    .propt .owl-pagination {
        display: block;
    }
    .owl-pagination {
        margin-left: -100px;
    }
    .owl-theme .owl-controls {
        min-height: 1px;
    }
    .slider .owl-pagination {
        display: block;
    }
    hgroup.sld_txt1 h4 {
        font-size: 14px;
        line-height: 1;
        margin-top: 5px;
        text-align: center;
        max-height: 70px;
        overflow: hidden;
    }
    hgroup.tm6 {
        right: 40%;
    }
    hgroup.tm2 {
        right: 46%;
        max-width: 140px;
    }
    hgroup.tm5 {
        max-width: 130px;
        top: 7%;
    }
    /*9march*/
    hgroup.sld_txt1 {
        position: relative;
        z-index: 999999;
        max-width: 100%;
        top: 10px;
        right: 0px;
        left: 0px;
        padding-bottom: 40px;
    }
    hgroup.sld_txt1 h3 {
        color: #fff;
        text-align: center;
        font-size: 30px;
        margin: 0px;
        position: relative;
    }
    hgroup.sld_txt1 h4 {
        font-size: 14px;
        line-height: 1.2;
        margin-top: 5px;
        text-align: center;
        max-height: inherit;
        overflow: hidden;
        position: relative;
    }
    .slider .item {
        max-height: 340px;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    img.slt {
        width: 100%;
        max-width: 100%;
        float: none;
    }
    .owl-carousel .owl-wrapper-outer {
        max-height: 480px;
    }
    .bn5_c img.slt,
    .bn1_c img.slt,
    .bn4_c img.slt {
        max-width: 80% !important;
    }
    .bn2_c img.slt {
        max-width: 70% !important;
        width: auto !important;
        margin: 10px auto !important;
    }
    #avl .owl-carousel .owl-wrapper-outer {
        max-height: inherit;
    }
    hgroup.tm {
        position: relative;
        top: 18px;
        left: 0px;
        max-width: 50%;
        display: inline-block;
        vertical-align: top;
        right: auto;
        margin-left: 0px;
    }
    .propt h3 {
        margin-left: 0px;
        font-size: 18px;
        color: #EF3D37;
        margin-top: 0px;
        margin-right: 0px;
        text-align: center;
    }
    .owl-wrapper .owl-item .item h3.team_hd {
        font-size: 30px;
        margin: 30px 0px 0px 0px;
        text-align: center;
    }
    .propt h4 {
        font-size: 14px;
        max-height: inherit;
        overflow-y: hidden;
        margin-bottom: 10px;
        margin-top: 10px;
        letter-spacing: 1px;
        padding-left: 20px;
        text-align: justify;
    }
    img.tms {
        float: none;
        margin: 0px auto;
        display: block !important;
        max-width: 75%;
    }
    .item .col-md-6 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .te6 img.tms {
        max-width: 50%;
    }
    .te1 img.tms {
        margin-top: 0px;
    }
    .te2 img.tms,
    .te4 img.tms {
        max-width: 60%;
    }
    .te2 img.tms {
        margin-top: 42%;
    }
    .owl-wrapper .owl-item .item  h3.team_hd+img {
        margin-top: 18px;
    }
    .te6 img.tms {
        margin-top: 20%;
    }
    .te4 img.tms {
        margin-top: 30%;
    }
    .te5 img.tms {
        max-width: 90%;
        margin-top: 20%;
    }
    .te3 img.tms {
        margin-top: 30%;
    }
    #avl #owl-demo1 .item {
        padding: 1% 0px;
        overflow: hidden;
        min-height: 837px;
    }
    .investors-wrap .investors-logo li{
        width: 100%;
        padding: 15px 0;
    }
}

@media screen and (min-width: 520px) and (max-width:700px) {
    .item .col-md-6 {
        padding-right: 15px;
        padding-left: 15px;
    }
    hgroup.tm {
        max-width: 60%;
    }
    .propt h3 {
        text-align: center;
    }
    .propt h4 {
        max-height: inherit;
    }
    #avl .owl-carousel .owl-wrapper-outer {
        max-height: inherit;
    }
    /*plug1 */
    .bn_c img.slt {
        width: auto !important;
        float: none;
        max-width: 60% !important;
        margin: 40px auto;
    }
    .bn5_c img.slt,
    .bn1_c img.slt,
    .bn4_c img.slt,
    .bn6_c img.slt {
        max-width: 55% !important;
        width: auto !important;
        margin: 0px auto;
    }
    .bn2_c img.slt {
        max-width: 40% !important;
        margin: 10px auto;
    }
    .bn3_c img.slt {
        padding-top: 0px;
        padding-bottom: 0px;
        width: auto !important;
        max-width: 80% !important;
    }
    .slider .item {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media screen and (max-width: 519px){
    hgroup.tm{
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    .img-responsive.abt{
        display: none;
    }

    .bn3_c img.slt{
        max-width: 85% !important;
    }

    .bn6_c{
        text-align: center;
    }

    .bn6_c img.slt{
        max-width: 62% !important;
        margin: 10px 0 0 0;
        display: inline-block !important;
    }
} 


