<div class="dm-notification" data-notification>
	<span class="close" data-type="dm-notification-close"><i class="icon-close"></i></span>
	<div class="dm-left-col hidden-xs">
		{{? it.sellerImage}}
			<img src="{{=it.sellerImage}}" width="38" height="38" alt="dealer">
		{{??}}
			<img src="/images/seller-img1.png" width="38" height="38" alt="dealer">
		{{?}}
	</div>
	<div class="content-col"><strong>{{=it.sellerName}}</strong> helped {{? it.singleBuyer}} a {{?}}<strong>{{?it.buyers}} {{=it.buyers}} {{?}} {{? it.buyers}}buyers{{??}}buyer{{?}}</strong> Find their dream {{? it.buyers}}homes{{??}}home{{?}} in <strong>{{=it.place}}</strong> and nearby areas recently.</div>
	<div class="dm-right-col hidden-xs" data-type="dm-notification-connect-now"><img src="images/call2.png" width="44" height="44" alt="connect now" /></div>
	<div class="waiting-bar"></div>
</div>