@charset "utf-8";
/* CSS Document */
#akl,#avl,#agl,#arl,#atl{
    visibility:hidden;
}
map,area{border: none;
    outline: none;}

/*top part*/
a.navbar-brand{
    padding: 5px 15px;
}
span.ic-clr{
        color: #ea3529;
}
img.logs {
    display: inline-block;
    max-width: 75%;
    margin: 0px auto;
}
ul.navbar-right li:last-child{
padding-right:50px;
}
nav.navbar{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
    min-height:1px;
}
.navbar-nav > li{
    border-right: solid 1px #ccc;
}
nav ul li input.form-control{
        width: 540px;
    height: 50px;
    top: 0px;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}
span.srch{
    position: absolute;
    top: 15px;
    z-index: 99;
    left: 5px;
    font-size: 20px;
    cursor: pointer;
    color: rgba(228, 33, 42, 0.51);
}
.navbar-nav li.dropdown{
     border-left: solid 1px #ccc !important;
}
.navbar-default .navbar-nav > li > a {
    color: #130F0F;
    font-size: 16px;
}

span.lin{
    overflow: hidden;
    display: inline-block;
    position: absolute;
    text-align: center;
       top: 6px;
    right: -37px;
}

/*about css*/

section.abt{
    padding-top:55px;
}

section.abt h3{
margin-top:100px;
font-size:43px;
color:#ce3132;
margin-bottom: 30px;
}
.atb{
padding-left:70px;
}
.abt p{
    text-align:justify;
    font-size:16px;
    color:#000
}

/*owl carouseal*/

   #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
#owl-demo1 .item img {
    display: block;
    width: 100%;
    height: auto;
}
    .owl-buttons{
            position: absolute;
    width: 100%;

    }
       .owl-theme .owl-controls {
          position: absolute;
    left: 0px;
    bottom: 0px;
    margin-left: 0px;
    min-height: 55%;
    width: 100%;
}
.owl-pagination{
position: absolute;
    left: 50%;
    margin-left: -65px;
    bottom: 0px;
}
.owl-prev{
        position: absolute;
    left: 0px;
}
.owl-next{
position: absolute;
    right: 0px;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #000;
    display: inline-block;
    zoom: 1;
    margin: 0px 10px;
    padding: 10px;
    font-size: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    filter: Alpha(Opacity=50);
    opacity: .5;
}

hgroup.sld_txt1{
        position: absolute;
    z-index: 999999;
    top: 40%;
    max-width: 460px;
    right: 5%;
}
hgroup.sld_txt1 h3{
    color:#fff;
    font-size:43px;
}
hgroup.sld_txt1 h4{
            color: #000;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    letter-spacing: 1px;
}

hgroup.txt2{
        right: auto;
    left: 6%;
    top: 28%;
}
 hgroup.txt2 h3{
     color:#ce3132 !important;
     }
    hgroup.txt2 h4{
    color: #000;
    }

hgroup.txt3 h3{
    color:#fff;
}

/*mantra*/

.mantra{
    padding-top:70px;
}
section.mantra h3{
margin-top:50px;
font-size:43px;
color:#ce3132;
margin-bottom: 10px;
}
.mantra p{
    font-size:16px;
    color:#000;
}

/*proptiger*/

section.propt{
/*  background:#f99d33;*/
        padding-top: 13%;
        position:relative;
}
.propt .owl-pagination {
    display:block;
}
hgroup.tm{
        position: absolute;
    top: 37%;
    left: 19%;
    max-width: 380px;
}
.propt h3{
    /*margin-left:15px;*/
    /*font-size:43px;*/
       color: #EF3D37;
}
.propt h4{
        color: black;
    line-height: 1.4;
    font-size: 16px;
    text-align:justify;
}
.prt-inr{
padding-left:0px;
}
.prt-inr p{
    font-size:16px;
    color:#000;
}

/*invest*/
.invst{
        padding-top: 70px;
    padding-bottom: 70px;
}
.invst h3{
    margin-top:20px;
font-size:43px;
color:#ef3d37;
margin-bottom: 20px;
}
.invst p{
    font-size: 16px;
    line-height: 2.2;
    color:#575757;
}
.invst p:last-child{
margin-top:40px;
}
.invst p span{
    color:#e8362f;
    margin-left:0px;
}
.invis{margin-top:100px;
}
.invi{
min-height:90px;
border:solid 5px transparent;
-webkit-transition:all .9s;
transition:all .9s;
-moz-transition:all .9s;
}


/* find us*/

.fnd{
        background-color: #fbb416;
    padding: 50px 15px;
    padding-bottom:60px;
}
.fnd h3{
    margin-top: 0px;
    font-size: 43px;
    color: #ce3132;
    margin-bottom: 20px;
}
.fnd p{
      margin-top: 90px;
    color: #fff;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 1px;

}
.fnd p span.bghd{
    font-size: 20px;
}



/*social*/
section.social{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;

}
.social-icons img, .social-icons {
        float:left;
        position:relative;
        }
.social-icons img.facebook {
        width:130px;
        float:left;
        }
    .social-icons img.google {
        width:60px;
        float:left;
        top: 69px;
        }
        .social-icons img.twiter {
        width:70px;
        position:absolute;
            margin-left: -10px;
        }
        .social-icons img.pintrest {
        width:60px
        }
        .social-icons img.linkedin {
            width: 80px;
    position: relative;
    margin-left: -62px;
    margin-top: 60px;
    z-index:2
        }
        .social-icons img.youtube {
            width: 60px;
    /* position: absolute; */
    margin-left: -19px;
    margin-top: 25px;
    z-index: 1;
        }
    

.social h3{
color: #F15748;
font-size:43px;
    text-align: right;
    margin-right: 15%;
        margin-top: 40px;
  
}



/*9th march*/

.slider .item{
min-height:630px;
overflow:hidden;
padding-bottom:20px;
    padding-bottom: 10%;

}
.owl-carousel .owl-wrapper-outer{
    max-height:640px;
}

.bn_c{
background-color:#e36f4c;
padding-top: 0px;
}
.bn1_c{
background-color:#fce3ee;
padding-top: 5%;
}
.bn2_c{
background:url(../plug/3-bg.png);
background-size:cover;
padding-top: 0px;
}
.bn2_c img.slt{
   max-width: 35% !important;
    width: auto !important;
    margin-top: 10%;
}
.bn3_c{
background-color:#edf2f0;
    padding-top: 8%;
}
.bn3_c img.slt{
    padding-top: 4%;
    padding-bottom: 8%;
    max-width: 50%;

}
.bn3_c hgroup.txt2{
top: 24% !important;
}
img.slt{
width: auto;
    max-width: 50%;
    float:right;
    margin-right:8%;
}
.bn_c img.slt{
    width: auto !important;
    max-width: 100%;
    float: none;
    margin-top: 15%;
}
.bn6_c{
    background-color:#edf2f0;
    padding-top:10%;
}
.bn5_c{
    background-color:#fbb416;
}
.bn4_c{
    background-color:#bfe5e8;
}
.bn5_c img.slt{
    max-width: 40%;
    margin-top: 5%;
}
.bn4_c img{
    width: auto;
    max-width: 40%;
    margin-top: 5%;
}

/*2nd plug*/

#avl .owl-carousel .owl-wrapper-outer{
max-height:inherit;
}
#avl #owl-demo1 .item{
    padding: 5% 0px;
        overflow: hidden;
        padding-bottom: 20px !important;
            min-height: 630px;
}
.te1{
background-color: #edf2f0;
}
.te1 img.tms{
margin-top: 12%;
}
#owl-demo1 .item img {
        display: inline-block ;
    width: auto !important;
    height: auto;
}
hgroup.tm {
      position: relative;
    top: 0px;
    left: 0px;
    max-width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
h3.team_hd{
    font-size: 43px;
    margin: 0px 0px;}

.te2{
background-color:#fbb416;
}
.te3{
background-color:#e5dfda;
}
.te3 img.tms{
margin-top: 16.5%;
}


.te4{
background-color:#edf2f0;
}
.te5{
    background-color:#fbb416;
}
.te6{
background-color:#edf2f0;

}
.te7{
    background-color:#e5dfda;
}
.item .col-md-6{
padding-right:0px;
padding-left:10%;
}
.item .col-md-6:last-child{
padding-left:0px;
}
img.tms{
    float: none;
    margin: 0px auto;
    display: block !important;
}
.te7 img.tms{
    margin-top: 20%;
}
.te8{
background-color:#fbb416;
}
.te8 img.tms{
    position: absolute;
    right: 0px;
    top: -72px;
}

@media screen and (min-width: 1023px) and (max-width: 1281px)  { 
    hgroup.sld_txt1 h4 {   
        font-size: 16px;
    }
}


@media screen and (min-width: 1380px){

.owl-carousel .owl-wrapper-outer{
    max-height:745px;
}
.bn1_c img.slt{
max-width: 47%;
}
.bn4_c img.slt{
max-width: 44%;
}
.bn5_c img.slt {
    max-width: 100%;
    width: auto !important;
    margin-bottom: 10%;
    margin-top: 10%;
}
.bn6_c img.slt{
    width: auto !important;
    margin-top: 5%;
    margin-bottom: 10%;
}
#avl #owl-demo1 .item {
        min-height: 640px;
}
}    



@media screen and (max-width: 680px){
    
    .mbrs{
        padding:0px;
        text-align:center;
    }
    .te8 img.tms{
        transform: rotate(90deg);
    top: 100px;
    right: -4px;
    }
    
    .social-icons img, .social-icons {
        float:none;
        }
.social-icons img.facebook {
        width:50px;
        float:none;
        }
    .social-icons img.google {
        width:50px;
        float:none;
        top:auto;       }
        .social-icons img.twiter {
        width:50px;
         margin:0;
        }
        .social-icons img.pintrest {
        width:50px;
        
        }
        .social-icons img.linkedin {
            width:50px;
             margin:0;
        }
        .social-icons img.youtube {
          width:50px;
    margin:0;
        }
    
    
    nav ul li input.form-control {
    width: 98%;
    height: 50px;
    top: 0px;
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 0px;
    border: none;
    box-shadow: none;
}
    .atb {
    padding-left: 10px;
}
section.abt {
   padding-top: 20px;
padding-bottom: 20px;
}
section.abt h3 {
    font-size: 30px;
        margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}
.abt p {
   
    font-size: 14px;
 }
section.mantra h3 {
    font-size: 30px;
  
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
}
.mantra {
    padding-top: 50px;
}
.mantra p {
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

section.propt {
        padding-top: 30px;
}

.propt h3 {
margin-left: 0px;
font-size: 16px;
color: #EF3D37;
margin-top: 18px;
margin-bottom: 0px;
text-align: right;
}
hgroup.tm {
  position: absolute;
top: 21%;
left: auto;
max-width: 160px;
right: 48%;
overflow: hidden;
}
img{
    margin: 0px auto;
}

.prt-inr {
    padding-left: 0px;
    padding-right: 0px;
}
.propt h4 {
 color: #666;
line-height: 1.3;
font-size: 14px;
text-align: center;
max-height: 55px;
overflow: hidden;
margin-bottom: 0px;
margin-top: 10px;
}
section.propt{
    /*padding-left:0px !important;
    padding-right:0px !important;*/

}
.prt-inr p {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: justify;
}
section.propt .col-xs-12:last-child{
padding-left:0px;
padding-right:0px;
}
.invst {
   padding-top: 20px;
padding-bottom: 20px;
}
.invis {
    margin-top: 20px;
}
.invst h3 {
    margin-top: 30px;
    font-size: 30px;
    color: #EF3D37;
    margin-bottom: 10px;
    text-align: center;
}
.invst p {
    font-size: 14px;
    line-height: 1.5;
    color: #575757;
    text-align: justify;
}
.invst p span {
       margin-left: 0px;
}
.fnd {
    background-color: #FBB416;
   padding: 50px 15px 50px 15px;
}
.fnd h3 {
    margin-top: 0px;
    font-size: 30px;
    color: #CE3132;
    margin-bottom: 10px;
}
.fnd p {
    margin-top: 10px;
    color: #FFF;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1px;
}
iframe{
height: 300px !important;
}
.fnd p span.bghd {
    font-size: 24px;
}
section.social {
  
    padding-top: 0px;
   
}
.social h3 {
    color: #ce3132;
    font-size: 30px;
    text-align: center;
    margin-top: 15%;
    margin-right: 0px;
}
.fnd h3+div{
padding-left:15px !important;
}
hgroup.sld_txt1 {
   position: absolute;
z-index: 999999;
top: 40px;
max-width: 130px;
right: 1%;
}
hgroup.sld_txt1 h3 {
    color: #fff;
    text-align:center;
    font-size: 20px;
    margin:0px;
}


hgroup.txt2 {
   right: auto;
left: 1%;
top: 40px;
}
 .owl-buttons{
display:none;
}
.propt .owl-pagination {
    display:block;
}
.owl-pagination {
  
    margin-left: -100px;
    
}
.owl-theme .owl-controls {
   min-height:1px;
   
}
.slider .owl-pagination {
    display:block;
}

hgroup.sld_txt1 h4 {
    font-size: 14px;
letter-spacing: 0px;
line-height: 1;
margin-top: 5px;
text-align: center;
max-height: 70px;
overflow: hidden;
}

hgroup.tm6{
    right: 40%;
}
hgroup.tm2{
    right: 46%;
max-width: 140px;
}
hgroup.tm5{max-width: 130px;
top: 7%;
}

/*9march*/





hgroup.sld_txt1 {
    position: relative;
    z-index: 999999;
    max-width: 100%;
    top: 10px;
    right: 0px;
    left: 0px;
    padding-bottom: 40px;
}
hgroup.sld_txt1 h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    position: relative;
}
hgroup.sld_txt1 h4 {
    font-size: 14px;
   letter-spacing: 1px;
line-height: 1.2;
    margin-top: 5px;
    text-align: center;
    max-height: inherit;
    overflow: hidden;
    position: relative;
}
.slider .item {
    max-height: 340px;
    height: auto;
    padding-left: 20px;
padding-right: 20px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}
img.slt{
width: 100%;
    max-width: 100%;
    float:none;
}
.owl-carousel .owl-wrapper-outer {
    max-height: 480px;
}
.bn5_c img.slt,.bn1_c img.slt,.bn4_c img.slt{
    max-width:80% !important;
}
.bn2_c img.slt {
    max-width: 70% !important;
    width: auto !important;
    margin: 10px auto !important;
}


#avl .owl-carousel .owl-wrapper-outer{
max-height:inherit;
}
hgroup.tm {
   position: relative;
top: 18px;
left: 0px;
max-width: 50%;
display: inline-block;
vertical-align: top;
right: auto;
margin-left: 0px;
}
.propt h3 {
    margin-left: 0px;
    font-size: 18px;
    color: #EF3D37;
    margin-top: 0px;
    margin-right: 0px;
text-align: center;
}
h3.team_hd {
    font-size: 30px;
margin: 30px 0px 0px 0px;
text-align: center;
}
.propt h4 {
   color: #666;
line-height: 1.2;
font-size: 14px;
text-align: center;
max-height: inherit;
overflow-y: hidden;
margin-bottom: 10px;
margin-top: 10px;
letter-spacing: 1px;
}
img.tms {
    float: none;
    margin: 0px auto;
    display: block !important;
    max-width: 75%;
}
.item .col-md-6{
padding-right:0px;
padding-left:0px;
}

.te6 img.tms{
max-width: 50%;
}
.te1 img.tms {
    margin-top: 0px;
}
.te2 img.tms,.te4 img.tms{
    max-width: 60%;}
.te2 img.tms{
    margin-top: 42%;

    
}
h3.team_hd+img{
margin-top:18px;
}
.te6 img.tms{
margin-top:20%;
}
.te4 img.tms {
    margin-top: 30%;
}
.te5 img.tms {
max-width: 90%;
margin-top: 20%;
}
.te3 img.tms {
    margin-top: 30%;
}
#avl #owl-demo1 .item {
   padding: 1% 0px;
overflow: hidden;
min-height: 837px;
}
}
















@media screen and (min-width: 520px) and (max-width:700px){
    .item .col-md-6 {
    padding-right: 15px;
    padding-left: 15px;
}
hgroup.tm{
    max-width:60%;
}
.propt h3{
text-align:center;
}
.propt h4{
max-height: inherit;
}
#avl .owl-carousel .owl-wrapper-outer {
    max-height: inherit;
}

/*plug1 */
.bn_c img.slt {
    width: auto !important;
    float: none;
    max-width: 60% !important;
    margin: 40px auto;
}
.bn5_c img.slt, .bn1_c img.slt, .bn4_c img.slt, .bn6_c img.slt{
    max-width: 55% !important;
    width:auto !important;
    margin: 0px auto;
}
.bn2_c img.slt{
    max-width: 40% !important;
    margin:10px auto;
}
.bn3_c img.slt {
    padding-top: 0px;
    padding-bottom: 0px;
    width: auto !important;

max-width: 80% !important;
}
.slider .item{
    padding-left:15px;
    padding-right:15px;
}
}



/* news section */

/*.nws{
background:url("../images/staticNewsPage/header-title.png");
height:90px;
width:100%;
font-size:35px;
font-weight:300;
color:#fff;
text-align:center;
padding-top:25px;
display:none;
}*/

ul.nse{
    list-style:none;
    margin:0px;
    padding:0px;
}
ul.nse li{
display:inline-block;
}
ul.nse li a{
    display:block;
    width: 100%;
    text-decoration: none;
    color: #444444;
    padding: 10px 12px;
    -webkit-transition:all .2s;
    transition:all .2s;
}
header.hdsn{
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
}

ul.nse li a:hover{
    background-color: #f7f8f8;
}

ul.nse li.active a{
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    background-color: #f7f8f8;
}
span.jat-nws {
    position: absolute;
    bottom: 0px;
    height: 70px;
    display: block;
    z-index: 9;
    width: 100%;
    background-color: rgba(255,255,255,.8);
}
.mn-nws img{
        margin: 0px auto;
   
}
span.tk img{
transform: scale(1);
-webkit-transform: scale(1);
transition:all .3s;
-webkit-transition:all .3s;
-moz-transition:all .3s;

}
span.tk img:hover{
    transform: scale(1.2);
-webkit-transform: scale(1.2);
}


.mn-nws{
padding: 50px 15px;
}
.mn-nws .ptti{
           padding: 0px 0px;
    box-shadow: rgba(0,0,0,1) 0px 0px 10px;
    width: 26%;
    margin: 20px 3%;
}
.jat-nws a{
padding: 0px;
    margin: 10px;
    font-size: 20px;
    color:#d23232;
    font-weight:400;
    margin-bottom:0px;
    display:block;
}
.jat-nws p{
margin-left:10px;
margin-top:0px;
display:block;
}
.jat-nws a:hover,a:focus,a:active{
background:transparent;
}

.pagin ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
.pagin ul li{
display:inline-block;
}
.pagin ul li a{
    display: block;
    padding: 5px 8px 3px 8px;
    color: #d23232;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition:all .3s;
    transition:all .3s;
}
.pagin{
margin-top:40px;
margin-bottom:20px;
}
.pagin ul li a:hover, .pagin ul li a:active,.pagin ul li a:focus,.pagin ul li.active a{
background: #d23232;
color: #fff;
text-decoration:none;
}

/*new-news*/
.new-nws{
    background: #fff;
    box-shadow: rgba(110,110,110,.5) 0px 0px 0px;
    -webkit-transition:all .3s;
    transition:all .3s;
    border-radius: 20px;
    overflow: hidden;
}
.new-nws:hover{
box-shadow: rgba(110,110,110,.5) 0px 0px 10px;
}
.new-nws h3{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 12px;
}

.new-nws p{
    line-height: 1.2;
    color: #777;
    margin-left: 10px;
    font-size: 16px;
    margin-bottom: 22px;
    margin-right: 10px;
    overflow: hidden;
    margin-top: 10px;
}
.new-nws a{
    color: #e81c28;
    font-size: 16px;
    float: right;
    margin-top: -25px;
    position: absolute;
    right: 32px;
}
span.gola{
    width: 50px;
    height: 50px;
    background: #ccc;
    display: block;
    border-radius: 50%;
           margin-top: 0px;
    margin-left: 3px;
}
.ttk{
    padding-top: 5px;
    border-top: solid 1px #ccc;
    padding-bottom: 5px;
}

.new-nws .row:first-child{
margin:0px;
}

.lne{

    padding-top: 5px;
    padding-left: 0px;
}
.lne p{
display: inline-block;
    font-size: 18px;
        margin-bottom: 0px;
        min-height:inherit;
}
.lne p span{
    display: block;
    font-size: 14px;
}
span.rtws{
display: none;
    float: right;
    font-size: 20px;
  margin-top: 10px;
    margin-right: 15px;
}
.std-nws{
margin-bottom:30px;
}

span.ftm{
    font-size: 14px;
    color: #777;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* video section */
    
    .md-ry{
        margin-bottom:30px;
    }
    
.ptti-v{
        min-height: 220px;
    background-color: #fab416;
    width: 100%;
    padding: 0px;
    margin: 0px;
    }
    .und-tk hgroup{
        display:inline-block;
        vertical-align:middle;
        width:auto;
        margin-left:2%;
    }
    .und-tk p{
        display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    float: right;
    margin-bottom: 20px;
    }
    span.rtgs{
        vertical-align:text-bottom;
        display:none;
    }
    span.tk{
    font-size: 20px;
    display: inline-block;
    color: #666;
    margin-left: 5px;
    cursor:pointer;
    }
    span.tk:hover{
    color: #EF3737;
    }
    .und-tk hgroup h4{
    font-size: 18px;
    font-weight: 600;
    color: #ef3737;
    margin-bottom: 0px;
    margin-top: 20px;
    }
    .und-tk hgroup h5{
            font-size: 16px;
    margin-top: 5px;
    font-weight: 600;
    color: #a8a8a8;
    }
    
    .vd-gl .und-tk hgroup h5{
            font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
    color: #777;
    }   
    .ptti-vd{

         padding: 0px;
    overflow: hidden;
    }
    .ptti-vn{
    
    padding: 0px 15px;
    overflow: hidden;
}
.vd-gl img{
    width:100%;
}

    .std-vd{
        margin-bottom: 10px;
        padding-left:2%;
        padding-right:2%;
    }
    
    
    
    /*video part-gallery */
    section.vd-gl{
    background-color:#ebe6e2;
    padding-top: 40px;
    padding-bottom: 30px;
    }
    .sadw{
    box-shadow: rgba(0,0,0,.5) 0px 2px 8px;
    }
    h3.glry{
        font-size: 40px;
    padding-left: 1.3%;
    color: #EF3737;
    margin-top: 0px;
    margin-bottom: 20px;
    
    }
    .trnp{
    background:transparent !important;
    }
    span.vd-fs{
    position: absolute;
    font-size: 100px;
    color: #fff;
    opacity: 0.7;
    background: rgba(0,0,0,0);
    padding: 17% 36%;
    width: 100%;
    height: 100%;
    -webkit-transition:all .3s;
    transition:all .3s;
    cursor:pointer;
    /*border-radius:20px;*/
    
    }
    
    span.vd-fs:hover{
    background: rgba(0,0,0,.7);
    opacity: 1;
    /*border-radius: 20px 20px 0px 0px;*/
    }
    .san-vdo{
        padding: 20px 30px;
    }
    .vds-rvl{
    position: relative;
overflow: hidden;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /*press part css */
    
    .mn-prs{
            padding: 10px 15px;
    }
    .prs{
            padding-right: 30px;
    padding-left: 30px;
    }
    
    .prs h3{
    /*color:#ec2023;*/
    }
    .prs p{
        font-size: 16px;
        font-family: Roboto, -apple-system, BlinkMacSystemFont,
      Helvetica Neue, Segoe UI, sans-serif;
  
    color: #777;
    text-align: justify;
    }
    p.tow{
        margin-top:5.4%;
    }
    p.tow a{
                  float: right;
    color: #fff;
    background: #ec2023;
    font-size: 14px;
    position: absolute;
    right: 0px;
    padding: 7px 25px;
    border-left: 3px solid #fba510;
    text-decoration:none;
    }
    .prsd{
           margin-top: 30px;
    box-shadow: rgba(110,110,110, 1) 0px 0px 0px;
    border-radius: 20px;
      overflow: hidden;
    max-height: 220px;
    -webkit-transition:all .3s;
    transition:all .3s;
    background-color:#fff;
    }
    .prsd:hover{
        box-shadow: rgba(110,110,110, .5) 0px 0px 8px;
    }
    
    body.prsnd{
        background-color:#f7f7f7;
    }
    .mn-nws a:hover{
    text-decoration:none ;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* detail page css*/
    article.mn-wht{
        display:block;
        margin-top: 20px;
        background-color:#fff;
        border-radius:20px;
        overflow:hidden;
    }
    .bnr-dt{
        
    
   
    }
    .bnr-dt img{
        width:100%;
    }
    .rd-tct-clr{
        color:#000;
    }
    .gr-tct-clr{
    color:#777;
    }
    hgroup.dtls h3{
    font-size:26px;
    font-weight:300;
    
    }
        hgroup.dtls h4{
                font-size: 14px;
    font-weight: 300;
    margin-top: 0px;
    
        }

        .rd-dtl p{
        margin:10px 0px 50px 0px;
        
        }
        .mr-dtl a{
        display: inline-block;
    margin:0px;
        }
        span.spt{
    font-size: 35px;
    color: #f7f7f7;
    background-color: #f5a623;
    padding: 10px 20px;
        }
        span.nx{
        background-color:#bfbcb5;
        }
            
@media screen and (max-width: 680px){
    ul.nse {
    
    margin: 0px -15px;
    
}
    .mn-nws .ptti {
   
   width: 100%;
margin: 20px auto;
}
ul.nse li a {
    display: block;
    padding: 10px 3px;
    font-size:15px;
    text-decoration: none;
    color: #fff;
    margin: 0px 0px;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-bottom: solid 3px transparent;
}
.prsd{
    max-height: initial !important;
    margin: 20px 0px;
}
.km_ch{

margin-bottom:20px;
}
.san-vdo {
    padding: 0px 10px;
}
.new-nws p {
    
    max-height: inherit;
    min-height: inherit;
}
article.mn-wht {
  
    margin: 20px 15px;
}
.lne p {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.lne p span {
    display: block;
    font-size: 12px;
}
span.rtws {
   
    float: right;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
    
    }
    
    @media screen and (min-width: 460px) and (max-width: 555px){
        .lne p {
  
    margin-left: 0px;
}
    }
/*  @media screen and (max-width: 343px){
    .new-nws a {
   
    margin-top: -25px;
  
}
    
    }*/
    @media screen and (min-width: 1024px) and (max-width: 1281px){
    
.new-nws p {
   
    max-height: 60px;
    min-height: 59px;
}
    
    }
    

    @media screen and (min-width: 681px) and (max-width:990px){
    
    .mn-nws .ptti {
       width: 44.5%;
margin: 20px 20px;
}
.mn-nws .ptti:last-child{
width:94% !important;
}

    
    }